
<div class="stories-container">
    <button (click)="close_dialog()" class="close" tabIndex="-1">
        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
    </button>

    <div class="swiper-container-stories">
        
        <div class="swiper-wrapper">
    
            <ng-container #targetUpload></ng-container>

            <div *ngIf="!story_loaded" class="story-skeleton">
                <div class="header">
                    <div class="img shiny"></div>
                    <div class="author-name shiny"></div>
                </div>
                <div class="loading-dots">
                    &nbsp; <span>.</span><span>.</span><span>.</span>
                </div>
            </div>
    
        </div>
    
        <div *ngIf="!for_account" class="swiper-button-prev"></div>
        <div *ngIf="!for_account" class="swiper-button-next"></div>
    </div>
</div>
