
<div class="title">
    <span>Edition des informations</span>
    <button [mat-dialog-close]="true">
        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
    </button>
</div>



<div class="scrollable-container" >
    <div class="component-container popupFormDrawing">
        


        <form [formGroup]="fd" novalidate>
            <div class="form-container">

                <div class="form-container-name">
                    <span>Titre</span>
                </div>
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Titre</mat-label>
                        <input matInput formControlName="fdTitle" maxLength="30" autocomplete="off" (input)="normalize_input(fd, 'fdTitle');">
                        <mat-error *ngIf="fd.controls['fdTitle'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                        </mat-error>
                        <div class="length-indicator">{{fd.controls['fdTitle'].value?.length || 0}}/30</div>
                    </mat-form-field>
                </div>


                <div class="form-container-name">
                    <span>Style</span>
                </div>
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Style</mat-label>
                        <mat-select [compareWith]="compareObjects" panelClass="popupFormDrawingSelectClass" disableOptionCentering formControlName="fdCategory">
                            <mat-option  *ngFor="let obj of listOfStyles" [value]="obj">
                                {{ obj }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fd.controls['fdCategory'].invalid">Veuillez sélectionner un style</mat-error>
                    </mat-form-field>
                </div>


                <div class="form-container-name">
                    <span>Genres</span>
                </div>
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-chip-list #chipList formControlName="fdTags" aria-label="Genre selection">
                          <mat-chip
                            *ngFor="let genre of genres"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(genre)">
                            {{genre}}
                            <mat-icon [ngClass]="{'invisible': !show_icon }" matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Genres (maximum : 3)"
                            #genreInput
                            [formControl]="genreCtrl"
                            [matAutocomplete]="auto"
                            matAutocompletePosition="below"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" class="custom-scroll popupFormDrawingMatautocompleteClass" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                            {{genre}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>


                <div class="form-container-name">
                    <span>Description</span>
                </div>
                <div class="form-item input-multiple-lines">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Description</mat-label>
                    
                        <textarea matInput cdkTextareaAutosize formControlName="fdDescription" maxLength="2000" autocomplete="off" (input)="normalize_input(fd, 'fdDescription');"></textarea>
                        <mat-error *ngIf="fd.controls['fdDescription'].invalid">Veuillez faire une saisie valide
                        </mat-error>
                        <div class="length-indicator">{{fd.controls['fdDescription'].value?.length || 0}}/2000</div>
                        

                        <div #emojisSpinner class="emojis-spinner" [@enterAnimation]>
                            <mat-spinner diameter="20"></mat-spinner>
                        </div>

                        <div *ngIf="load_emoji" #emojis class="emojis-main-container" [@enterAnimation]>
                            <div class="emojis-container">
                                <emoji-mart [set]="set" [isNative]="native" [hideRecent]="false"
                                    (emojiSelect)="handleClick($event)">
                                </emoji-mart>
                            </div>
                        </div>

                        <div #emoji_button (click)="open_emojis()" class="emojis-button"
                        matTooltip="Emojis"
                        matTooltipClass='linkarts-tooltip'
                        [matTooltipPosition]="'below'"
                        [matTooltipShowDelay]="100">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">sentiment_satisfied</mat-icon>
                        </div>
                    </mat-form-field>
                </div>

            </div>

            <button class="submit-button" (click)="validateForm00();">
                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!loading">done_all</mat-icon>
                <span *ngIf="!loading">Valider</span>
                <mat-spinner *ngIf="loading" diameter="25"  style="margin:auto;"></mat-spinner>
            </button>

        </form>

    </div>
</div>
