$default-color: rgb(218,220,225);

.title {
    width: 100%;
    border-bottom: 1px solid #13213d;
    box-shadow: 0px 10px 8px -8px #121b2b;
    padding: 8px;
    text-align: left;
    display: flex;
    background: #162644;
    span {
        cursor:default;
        color:white;
        font-size: 15px;
        font-weight: 600;
        padding: 6px 16px;
        margin: auto auto;
        
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-word;
        -webkit-line-clamp: 2;
    }

    button {
        display: flex;
        position: absolute;
        right: 15px;
        top: 7px;
        outline: none;
        border: none;
        background: unset;
        padding: 5px;

        mat-icon {
            height:unset;
            width:unset;

            color:white;
            font-size: 24px;
        }
    }

    @media (max-width: 430px) {
        span {
            font-size:12px;
        }
    }
}

.scrollable-container {
    
    overflow: auto;
    height: 100%;
    padding: 10px 20px 100px 20px;

    .component-container.popupFormDrawing {

        user-select:none;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        .invisible{
            visibility: hidden;
            pointer-events: none;
        }

        ::ng-deep {

            form {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                
                .submit-button {
                    color: $default-color;
                    display: flex;
                    outline: none;
                    width: 100%;
                    border: 1px solid #1b3665;
                    border-radius: 50px;
                    background: #2a4575;
                    margin-top: 2px;
                    padding: 12px;
                    text-align: center;
                    mat-icon {
                        height: 20px;
                        width: 20px;
                        font-size: 22px;
                        margin: auto 10px auto auto;
                    }
                    span {
                        font-size: 18px;
                        font-weight: 600;
                        margin: auto auto auto 0px;
                    }

                    transition:transform 200ms;
                    &:active {
                        transform: scale(0.96);
                    }
                }
            }

            .form-container {
                width: 100%;
                margin: 5px auto 20px auto;
                border-radius: 20px;
                .form-container-name {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    mat-icon {
                        height: unset !important;
                        width: unset !important;
                        font-size: 20px;
                        margin: auto 0px auto 0px;
                        cursor: default;
                        color: $default-color;
                    }
                    span {        
                        margin: auto auto auto 14px;
                        cursor: default;
                        font-size: 16px;
                        font-weight: 600;
                        color: $default-color;
                    }
                }
                .form-container-data {
                    width: 100%;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    margin: 0px auto 0px auto;
                }
                .form-container-flex {
                    display: flex;
                    width: 95%;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    margin: 20px auto 20px auto;
                    justify-content: center;
                    .flex-left-container {
                        width: 50%;
                        margin-right: 10px;
                        padding-right: 20px;
                        border-right: 1px solid rgb(232, 232, 232);
                    }
                    .flex-right-container {
                        width: 50%;
                        margin-left: 10px;
                    }
                }
            }

            .form-group > label {
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form-group p {
                font-size: 15px;
                line-height: 20px;
                margin-top: 5px;
                margin-bottom: 0px !important;
                color: rgb(97, 0, 0);
            }

            .form-item {
                position: relative;
                width: 100%;
                height: 70px;
                margin-top: 6px;
                margin-bottom: 14px;
                &.input-multiple-lines {
                    height: unset !important;
                    mat-form-field {
                        height: unset !important;
                        &.mat-form-field-wrapper {
                            padding-bottom: 27px !important;
                        }
                    }
                    
                    .emojis-main-container {
                        position: absolute;
                        top: -294px;
                        right: 0px;
                        visibility: hidden;
                        z-index: 1;
                        .emojis-container {
                            background-color: white;
                            border-radius: 10px;
                            //padding: 2px 2px 0px 2px;
                            //width: 369px;
                            display: flex;
                            justify-content: center;

                            section.emoji-mart {
                                .emoji-mart-bar {
                                    &:last-of-type {
                                        display:none !important;
                                    }
                                }
                            }
                            section.emoji-mart-scroll {
                                overflow-x: hidden;
                            }
                            @media (max-width: 400px) {
                                section.emoji-mart-scroll {
                                    overflow-x: unset;
                                }
                                section.emoji-mart {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                    div.emojis-button {
                        position: absolute;
                        cursor:pointer;
                        bottom: 8px;
                        right: 5px;
                        display: flex;
                        outline: none;
                        padding: 5px;
                        background: rgb(23,40,72);
                        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                        border-radius: 50px;
                        border: unset;
                        margin: auto 8px 0px 8px;
                        transition: transform 200ms;

                        mat-icon {
                            height: unset;
                            width: unset;
                            color: #98a9cc;
                            font-size: 24px;
                            margin: auto auto;
                        }

                        &:hover {
                            background: rgb(17, 33, 61);
                        }
                        &:active {
                            transform: scale(0.96);
                        }
                    }
                }

                .mat-form-field {
                    width: 100%;
                    line-height: 1.4;
                    height: 80px;
                    .mat-form-field-flex {
                                            
                        background: #203864;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
                        border-radius: 30px;
                        color:$default-color;

                        padding-right: 10px !important;
                        padding-left: 20px !important;
                        padding-bottom: 3px !important;
                        transition: box-shadow 200ms;
                    }
                    &.mat-focused .mat-form-field-flex {
                        box-shadow: 0px 0px 0px 2px rgb(12,30,64), 0px 0px 2px 4px rgb(10,24,51);
                    }
                    textarea {
                        max-height: 180px;
                        min-height: 100px;

                        scrollbar-width: thin;
                        scrollbar-color: #152d5a #001337;
                        &::-webkit-scrollbar {
                            width: 6px;
                            height: 6px;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 10px;
                            background-color: rgba(255, 255, 255, 0);
                        }
                        &::-webkit-scrollbar-thumb {
                            background-image: linear-gradient(0deg, #0c1e3d00, #182338, #ffffff00);
                            border-radius: 20px;
                        }
                    }
                }
                .mat-form-field-underline {
                    display: none !important;
                }
                .mat-form-field-infix {
                    border-top: 5px solid transparent !important;
                }
                .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
                    margin-top: 0px;
                    padding-right: 20px !important;
                    padding-left: 20px !important;
                }
                .length-indicator {
                    position: absolute;
                    right: 15px;
                        color:$default-color;
                    font-size: 15px;
                    top: 8px;
                }
                mat-form-field .mat-form-field-wrapper {
                    padding-bottom: 25px !important;
                }
            }
            .mat-input-element {
                font-size: 14px;
                line-height: 22px !important;
                padding-right: 80px !important;

                caret-color:$default-color !important;
            }
                
            //material : selects & tags
            .mat-select-value {
                color: $default-color !important;
            }
            .mat-button-wrapper {
                display: flex !important;
                justify-content: center !important;
            }
            .mat-standard-chip {
                margin: unset !important;
            }
            .mat-chip.mat-standard-chip {
                background-color: #182338 !important;
                box-shadow: unset !important;
                color: $default-color !important;
                margin-right: 10px !important;
                .mat-chip-remove {
                    color: $default-color !important;
                    opacity: 0.4 !important;
                }
                .mat-chip-ripple {
                    opacity: 0 !important;
                }
            }
            .mat-hint {
                color:$default-color;
                cursor: default;
                font-weight: 600;
            }
            .mat-error {
                cursor: default;
                font-weight: 600;
            }
            .mat-form-field-label {
                color:$default-color !important;
            }

            button.mat-raised-button .mat-button-focus-overlay {
                background-color: transparent !important;
            }
            button.mat-raised-button .mat-ripple {
                z-index: -1 !important;
            }
            button.mat-raised-button > span {
                margin: auto auto !important;
            }
        }
        


    }

            
    @media (max-width: 400px) {
        padding: 10px 10px 100px 10px;
    }

    scrollbar-width: thin;
    scrollbar-color: #152d5a #001337;
    &::-webkit-scrollbar-track
    {
        background-color: #001640cc;
    }
    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #0f1e39;
    }
}



::ng-deep {
    .popupFormDrawingClass {
        width: 100% !important;
        max-width:unset !important;
        height: 80% !important;
        bottom: 0px;
        border-radius: 0px !important;
        position: absolute !important;

        transition: bottom 200ms !important;

        background: #182338;
        padding: 0px !important;
        box-shadow: 0px 0px 10px 0px #131f36;

        border-radius: 24px 24px 0px 0px !important;
        overflow: hidden;

        transform: translateY(100%);
        animation: slideDown 600ms forwards 0s ease-in-out;

        .mat-dialog-container {
            padding:0px;
            overflow: hidden;
            background: #182338;
            box-shadow:unset;
            height: unset;
        }
    }
    
    .popupFormDrawingSelectClass.mat-select-panel {
        position: absolute;
        top: 37px;
        left: -5px;
        background: #203864;
        border-radius: 23px !important;
        box-shadow: 0px 0px 0px 2px rgb(12,30,64), 0px 0px 2px 4px rgb(10,24,51);
        .mat-ripple * {
            background-color: unset !important;
        }
        .mat-option.mat-active {
            background: #1a325c;
        }
        .mat-option:hover:not(.mat-option-disabled):not(.mat-active),
        .mat-option:focus:not(.mat-option-disabled):not(.mat-active) {
            background:#1a325c !important;
        }

        .mat-option {
            color: $default-color !important;
            font-weight: 600;
        }
    }

    .popupFormDrawingMatautocompleteClass.mat-autocomplete-panel {
        position: absolute;
        //overflow: hidden;
        top: 4px;
        left: 0px;
        background: #203864;
        border-radius: 23px 15px 15px 23px !important;
        box-shadow: 0px 0px 0px 2px rgb(12,30,64), 0px 0px 2px 4px rgb(10,24,51);

        .mat-option:hover:not(.mat-option-disabled),
        .mat-option:focus:not(.mat-option-disabled) {
            background:#1a325c !important;
        }
        .mat-option.mat-selected {
            background: #1a325c !important;
        }
        .mat-ripple * {
            background-color: unset !important;
        }
        
        scrollbar-color: #152d5a #001337;
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0);
        }
        &::-webkit-scrollbar-thumb {
            background-image: linear-gradient(0deg, #0c1e3d00, #182338, #ffffff00);
            border-radius: 20px;
        }

        .mat-option {
            color: $default-color !important;
            font-weight: 600;
        }
    }
}

@keyframes slideDown {
  0% {
  }
  100% {
    transform: translateY(0%);
  }
}
