<form [formGroup]="fd" novalidate>

    <div class="form-container">

        <div class="form-container-flex">
            <div class="flex-left-container">

                <div class="form-group">
                    <label for="artworkTitle">Titre</label>
                    <input type="text" formControlName="fdTitle" class="form-control" placeholder="Nom de l'œuvre (30 caractères max)" autocomplete="off" required/>
                    <p *ngIf="!fdTitle.valid  && fdDisplayErrors">Veuillez saisir un titre valide</p>
                </div>


                <div class="form-group">
                    <label for="artworkCategory">Catégorie</label>
                    <select formControlName="fdCategory" class="fdselect1" style="height: 100%;">
                        <option value="" disabled="true">Sélectionner une catégorie</option>
                        <option label="Traditionnel">Traditionnel</option>
                        <option label="Digital">Digital</option>
                    </select>
                    <p *ngIf="fdCategory.value == '' && fdDisplayErrors">Veuillez sélectionner une catégorie</p>
                </div>

                <div class="form-group">
                    <label for="artworkTags">
                        Genres
                        <ng-container *ngIf=data.firsttag>( {{data.firsttag}} </ng-container>
                        <ng-container *ngIf=data.secondtag>, {{data.secondtag}} </ng-container>
                        <ng-container *ngIf=data.thirdtag>, {{data.thirdtag}} </ng-container>)
                    </label>
                    <select formControlName="fdTags" class="multipleSelectfd" placeholder="Sélectionner des genres (max : 3)" multiple name="language">
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus1">Belarus1</option>
                        <option value="Belgium2">Belgium2</option>
                        <option value="Belarus3">Belarus3</option>
                        <option value="Belgium4">Belgium4</option>
                        <option value="Belarus5">Belarus5</option>
                        <option value="Belgium6">Belgium6</option>
                    </select>
                    <p *ngIf="!tagsValidator && fdDisplayErrors">Veuillez sélectionner au moins un genre</p>
                </div>


                <div class="form-group">
                    <label for="artworkDescription">Description</label>
                    <textarea type="text" formControlName="fdDescription" maxlength="500" style="height: 150px;resize:none;" class="form-control" placeholder="Description de l'œuvre (500 caractères max)" autocomplete="off" required>
                    </textarea>
                    <p *ngIf="!fdDescription.valid && fdDisplayErrors">Veuillez saisir une description valide</p>
                </div>


            </div>




        </div>

    </div>
    

    <button mat-raised-button class="validate-form-button style1" (click)="validate_form_drawings();">
        <span>Valider</span>
    </button>

</form>