
@import '../uploader-styles.scss';


.upload-container {
    height:calc( 100vh - 100px ) !important;
    min-height: 800px !important;
    background:#182338;
    margin-top: 30px;
    border-radius: 35px;
    overflow: hidden;
}

.height-unset {
    height:unset !important;
}

::ng-deep .element-container.writing {

    width:100% !important;
    .pdf-document {
        width:calc(100%);
        height:100%;
        justify-content: center;
    }

    .ng2-pdf-viewer-container {
        max-height: 800px;
        overflow: auto;
        padding-top: 35px;

        scrollbar-width:thin;
        scrollbar-color: #2f4d86 #091731;
        &::-webkit-scrollbar-track {
            /*background-color: #001640cc;*/
            background: #091731;
        }
        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
            /*background-color: #0f1e39;*/
            background-color: #2f4d86;
            border-radius: 20px;
        }
    }
    
    
}


