
@import '../uploader-styles.scss';


.upload-container {
    height:calc( 100vh - 100px ) !important;
    min-height: 800px !important;
    background:#182338;
    margin-top: 30px;
    border-radius: 35px;
    overflow: hidden;
}

.height-unset {
    height:unset !important;
}

::ng-deep .element-container.writing {

    .pdf-document {
        width:calc(100%);
        height:100%;
        justify-content: center;
    }

    .ng2-pdf-viewer-container {
        scrollbar-width:none;
    }
    .ng2-pdf-viewer-container::-webkit-scrollbar {
        display: none;
    }
    
    .swiper-container {
        padding:30px;
        margin:auto 0px auto auto;
        width:100%;
        //transition:width 200ms;
        height:100%;
        
        scrollbar-width:none !important;
    }
    .swiper-wrapper {
        position:relative;
    }
    .swiper-slide {
        width:100%;
        height:100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .swiper-slide .slide-container {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        //Without zoom
        overflow-y:unset;
    }
    .slide-container::-webkit-scrollbar {
        display: none !important;
    }
    .swiper-slide .slide-container .slide-container-img {
        margin:auto auto;
        object-fit:contain;
        //Without zoom
        max-width:100%;
        max-height:100%;
    }
    .swiper-button-prev, ::ng-deep .swiper-button-next  {
        outline:none !important;
        color:white !important;
    }
    .swiper-scrollbar-drag {
        background:white !important;
    }
    
}


