
<button class="close-button" (click)="close_dialog()">
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>


<div class="popup-contact">


    <div class="step-name">
        <span>Nous contacter</span>
    </div>

    
    <div class="step-form" [formGroup]="registerForm1" *ngIf="!show_done">
        
        
        <div class="form-item">
            <mat-form-field floatLabel='never'>
                <mat-label>Prénom*</mat-label>
                <input matInput formControlName="firstName" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'firstName');">
                <mat-error *ngIf="registerForm1.controls['firstName'].invalid">Veuillez saisir un prénom valide
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item">
            <mat-form-field floatLabel='never'>
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastName" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'lastName');">
                <mat-error *ngIf="registerForm1.controls['lastName'].invalid">Veuillez saisir un nom valide
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-item">
            <mat-form-field floatLabel='never'>
                <mat-label>E-mail*</mat-label>
                <input matInput formControlName="email" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'email');">
                <mat-error *ngIf="registerForm1.controls['email'].invalid">Veuillez saisir un e-mail valide
                </mat-error>
            </mat-form-field>
        </div>
        
        <div class="form-item" style="height:unset !important;">
            <mat-form-field floatLabel='never'>
                <mat-label>Message*</mat-label>
                <textarea matInput cdkTextareaAutosize formControlName="message" maxLength="1000" autocomplete="off" (input)="normalize_input(registerForm1, 'message');"></textarea>
                
                <mat-error *ngIf="registerForm1.controls['message'].invalid">Veuillez saisir un message valide
                </mat-error>
                <div class="length-indicator">{{registerForm1.controls['message'].value?.length || 0}}/1000</div>
            </mat-form-field>
        </div>

        

    </div>


    <button [disabled]="loading" class="submit-button" (click)="validate_step();" *ngIf="!show_done">
        <span *ngIf="!loading">Envoyer</span>
        <div class="loading-dots" *ngIf="loading">
            &nbsp; <span>.</span><span>.</span><span>.</span>
        </div>
    </button>

    
    <div *ngIf="show_done">
        <div class="sent-mail-icon" >
            <mat-icon [ngClass]="{'invisible': !show_icon }">mail_outline</mat-icon>
        </div>
        <div class="sent-mail-text" >
            <span>Votre message a bien été envoyée !</span>
        </div>
        <button class="finish-button" [mat-dialog-close]="true">
            <span>Continuer</span>
        </button>
    </div>

</div>
