


<ng-container *ngIf="!tutorial">

    <div class="button-container-close">
        <button mat-button class="mat-icon-button close-button" (click)="close_dialog()" tabIndex="-1">
            <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >close</mat-icon>
        </button>
    </div>

    <div class="popup-share">


        <span>INVITER UN AMI</span>


        
        <div class="group">
            <mat-icon [ngClass]="{'invisible': !show_icon }">group</mat-icon>
            <span>Faîtes grandir la communauté LinkArts en invitant des membres de votre réseau</span>
        </div>

        <div class="group">
            <mat-icon [ngClass]="{'invisible': !show_icon }">palette</mat-icon>
            <span>Inviter à découvrir votre profil et faites savoir que vous êtes sur LinkArts</span>
        </div>


        
        <div *ngIf="!mail_scent" class="mail-form-container"  [@enterFromLeftAnimation]>
            <div class="step-form" [formGroup]="registerForm1">
                <div class="form-item" *ngIf="type_of_profile!='account'">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Nom complet</mat-label>
                        <input matInput formControlName="name" maxLength="40" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'name');" tabindex="-1">
                    </mat-form-field>
                </div>
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Adresse mail</mat-label>
                        <input matInput formControlName="email" maxLength="100" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'email');" tabindex="-1">
                    </mat-form-field>
                </div>
            </div>

            <div class="share-button" (click)="validate();">
                <mat-icon [ngClass]="{'invisible': !show_icon }"  *ngIf="!loading_email" >done_all</mat-icon>
                <span *ngIf="!loading_email" >Inviter</span>
                <mat-spinner *ngIf="loading_email" diameter="20"  style="margin:auto;"></mat-spinner>
            </div>
            <mat-error *ngIf="show_mail_error" [@enterAnimation]>Veuillez saisir un e-mail valide.
            </mat-error>
            <mat-error *ngIf="show_name_error" [@enterAnimation]>Veuillez saisir un nom valide.
            </mat-error>
        </div>
        

        <div class="mail-scent" *ngIf="mail_scent" [@enterFromRightAnimation]>
            <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
            <span>
                Une invitation a été envoyée à l'adresse mail suivante :
                <br>
                {{registerForm1.value.email}}
            </span>
            <button mat-button class="mat-icon-button close-button" style="margin: 0px auto 0px auto;" (click)="back()" tabIndex="-1">
                <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >arrow_back</mat-icon>
            </button>
        </div>

    </div>

    <div class="buttons-container">

        <button mat-icon-button tabindex="-1"
            style="outline: none !important;" class="share-button2"
            shareButton="facebook"
            #fbBtn="shareButton"
            [style.color]="fbBtn?.color"
            url="https://www.linkarts.fr/">
            <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg"></fa-icon>
        </button>
        <button mat-icon-button tabindex="-1"
            style="outline: none !important;" class="share-button2"
            shareButton="twitter"
            #twtBtn="shareButton"
            [style.color]="twtBtn?.color"
            url="https://www.linkarts.fr/">
            <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg"></fa-icon>
        </button>
        <button mat-icon-button tabindex="-1"
            style="outline: none !important;" class="share-button2"
            shareButton="pinterest"
            #pinBtn="shareButton"
            [style.color]="pinBtn?.color"
            url="https://www.linkarts.fr/">
            <fa-icon *ngIf="pinBtn" [icon]="pinBtn.icon" size="lg"></fa-icon>
        </button>

        <button mat-icon-button tabindex="-1"
            style="outline: none !important;" class="share-button2"
            shareButton="whatsapp"
            #whaBtn="shareButton"
            [style.color]="whaBtn?.color"
            url="https://www.linkarts.fr/">
            <fa-icon *ngIf="whaBtn" [icon]="whaBtn.icon" size="lg"></fa-icon>
        </button>
        <button mat-icon-button tabindex="-1"
            style="outline: none !important;" class="share-button2"
            shareButton="linkedin"
            #msgBtn="shareButton"
            [style.color]="msgBtn?.color"
            url="https://www.linkarts.fr/">
            <fa-icon *ngIf="msgBtn" [icon]="msgBtn.icon" size="lg"></fa-icon>
        </button>
        <button mat-icon-button tabindex="-1"
            style="outline: none !important;" class="share-button2"
            shareButton="copy"
            #insBtn="shareButton"
            [style.color]="insBtn?.color"
            url="https://www.linkarts.fr/">
            <fa-icon *ngIf="insBtn" [icon]="insBtn.icon" size="lg"></fa-icon>
        </button>
        
    </div>


</ng-container>



<div class="popup-tuto" *ngIf="tutorial">


    <img src="../../assets/img/tuto-logos/tuto-projects.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-benevole.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-remunere.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="invisible-height" >
    <img src="../../assets/img/tuto-logos/tuto-trendings.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-favorites.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-subscribings.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-euro.svg" class="invisible-height">
    <img src="../../assets/img/tuto-logos/tuto-favorites.svg" class="invisible-height">
    
   

    <div class="button-container-close">
        <button mat-button class="mat-icon-button close-button" (click)="close_dialog()" tabIndex="-1">
            <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >close</mat-icon>
        </button>
    </div>

    
    <div class=" back" *ngIf="page>0">
       <button mat-button class="mat-icon-button close-button" (click)="set_page((page >= 6) ? (page - 2) : (3 > page || page ==4) ? (page-1) :(page - 3));" tabIndex="-1">
            <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >arrow_back_ios</mat-icon>
        </button>
    </div>

    <div class="logo-container">
        <img src="../../assets/img/svg/Logo-LA3.svg">
    </div>


    <!--page 0-->
    <div class="popup-tuto-page" *ngIf="page==0">

        <div class="header">
            <span class="section-title">Hey ! Ça vous dirait de savoir qui nous sommes ?</span>
            <span class="section-description">Lancé en 2020 par 3 passionnés de bandes dessinées et de littérature, LinkArts est aujourd'hui un outil de collaboration et de promotion pour les acteurs du monde de l’édition. Que vous voyez artiste ou éditeur, LinkArts a les solutions pour vos besoins. Découvrez donc les solutions adaptées à votre profil !</span>
        </div>

        <div class="text-elements-container">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
            <div class="text-element centered" [ngClass]="{'hovered': hovered[0] }" (mouseenter)="hovered_div(0)" (mouseleave)="unhovered_div(0)" (click)="set_page(1);">
                
                <div class="text-container centered">
                    <img *ngIf="!hovered[0]" [@enterFromLeftAnimation] src="../../assets/img/tuto-logos/tuto-palette.svg">
                    <div *ngIf="!hovered[0]">
                        <span  [@enterFromRightAnimation] class="span-title">Artiste</span>
                    </div>
                    <div *ngIf="hovered[0]">
                        <span [@enterFromRightAnimation]>Vous êtes un ou une artiste passionné de bandes dessinées ou d'écrits, et vous désirez vous lancer dans la réalisation d’un projet éditorial ? Cliquez-ici !</span>
                    </div>
                </div>
            </div>

            <div class="text-element centered" (mouseenter)="hovered_div(1)" (mouseleave)="unhovered_div(1)" (click)="set_page(3);">

                <div class="text-container centered">
                    <img  [@enterFromLeftAnimation]  *ngIf="!hovered[1]" src="../../assets/img/tuto-logos/tuto-books.svg">
                    <div *ngIf="!hovered[1]">
                        <span [@enterFromRightAnimation] class="span-title">Éditeur / Éditrice</span>
                    </div>
                    <div *ngIf="hovered[1]">
                        <span [@enterFromRightAnimation]>Vous êtes un éditeur ou une éditrice et vous souhaitez optimiser le tri de vos candidatures et dénicher des artistes talentueux avec qui collaborer efficacement ? Cliquez-ici !</span>
                    </div>
                </div>
            </div>

            <div class="text-element exit" (click)="close_dialog();"  [@enterFromRightAnimation] >
                <div class="text-container centered other little">
                    <div>
                        <span [@enterFromRightAnimation] class="span-title">Ça ira, merci !</span>
                    </div>
                </div>
            </div>


        </div>


    </div>



    <!--page 1-->
    <div class="popup-tuto-page" *ngIf="page==1">

        <div class="header" [@enterFromRightAnimation]>
            <span class="section-title">La section collaboration</span>
            <span class="section-description">Cette section est entièrement dédiée à la collaboration éditoriale, en commençant par la recherche d'un partenaire de projet, jusqu'à la collaboration éditoriale avec une maison d'édition, en passant par la prestation de services artistiques.</span>
        </div>


        <div class="text-elements-container">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
           <div class="text-element left" [ngClass]="{'hovered': hovered[2] }" (mouseenter)="hovered_div(2)" (mouseleave)="unhovered_div(2)" (click)="clicked_div(2);">
                <div class="text-container left">
                    <img src="../../assets/img/tuto-logos/tuto-projects.svg" [@enterFromLeftAnimation]>

                    <div *ngIf="!hovered[2]">
                        <span class="span-title" [@enterFromLeftAnimation]>Dépôt de projets</span>
                    </div>
                    <div  *ngIf="hovered[2]">
                        <span [@enterFromRightAnimation]>Soumettez votre projet auprès d’une multitude d’éditeurs en un seul clic ! Les éditeurs se mobilisent pour vous faire des retours constructifs, en des temps impartis, même si votre projet n'est pas retenu. </span>
                   </div>                
                </div>
            </div>

            <div class="text-element right" (mouseenter)="hovered_div(3)" (mouseleave)="unhovered_div(3)" (click)="clicked_div(3);">
                <div class="text-container right">

                    <div *ngIf="!hovered[3]">
                        <span [@enterFromRightAnimation] class="span-title">Collaborations bénévoles</span>
                    </div>
                    <div *ngIf="hovered[3]">
                        <span [@enterFromLeftAnimation]>Vous êtes scénariste, écrivain ou dessinateur et il vous manque un artiste de talent pour réaliser votre projet ? Alors vous pouvez déposer une annonce et dénicher le partenaire idéal avec qui réaliser ce projet !</span>
                    </div>                    
                    <img src="../../assets/img/tuto-logos/tuto-benevole.svg" [@enterFromRightAnimation]>
                </div>
            </div>

            <div class="text-element left" (mouseenter)="hovered_div(4)" (mouseleave)="unhovered_div(4)" (click)="clicked_div(4);">
                <div class="text-container left">

                    <img src="../../assets/img/tuto-logos/tuto-remunere.svg" [@enterFromLeftAnimation]>
                    <div *ngIf="!hovered[4]">
                        <span [@enterFromLeftAnimation] class="span-title">Collaborations rémunérées</span>
                    </div>
                    <div *ngIf="hovered[4]">
                        <span [@enterFromRightAnimation]>Si vous cherchez à faire valoir votre savoir ou votre savoir-faire, en échange d'une rémunération, ou que vous recherchez un service particulier, alors vous pouvez aussi déposer une annonce de collaboration rémunérée dans cette section !</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="button-container next" [@enterFromRightAnimation]>
            <div (click)="set_page(2);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_right</mat-icon>
            </div>
        </div>
    </div>


    <!--page 2-->
    <div class="popup-tuto-page" *ngIf="page==2">

        <div class="header" [@enterFromRightAnimation]>
            <span class="section-title">La galerie</span>
            <span class="section-description">Rien de mieux qu’une galerie pour se promouvoir en tant qu’artiste auprès des éditeurs, et découvrir d’autres artistes avec qui collaborer, ou de qui s’inspirer.</span>
        </div>


        <div class="text-elements-container" style="height:375px;">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
            <div class="text-element right" [ngClass]="{'hovered': hovered[5] }" (mouseenter)="hovered_div(5)" (mouseleave)="unhovered_div(5)" (click)="clicked_div(5);">
                <div class="text-container right">

                    <div *ngIf="!hovered[5]">
                        <span class="span-title" [@enterFromLeftAnimation]>Recommandations</span>
                    </div>
                    <div *ngIf="hovered[5]">
                        <span [@enterFromRightAnimation]>Vous trouverez dans la galerie un onglet recommandations où l’on vous propose quotidiennement des artistes et des œuvres qui correspondent à vos préférences.</span>
                    </div>          
                    <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" [@enterFromLeftAnimation]>

                </div>
            </div>

            <div class="text-element left" (mouseenter)="hovered_div(6)" (mouseleave)="unhovered_div(6)" (click)="clicked_div(6);">
                <div class="text-container left">

                    <img src="../../assets/img/tuto-logos/tuto-subscribings.svg" [@enterFromRightAnimation]>
                    <div *ngIf="!hovered[6]">
                        <span [@enterFromRightAnimation] class="span-title">Fil d'actualité</span>
                    </div>
                    <div *ngIf="hovered[6]">
                        <span [@enterFromLeftAnimation]>Une fois que vous aurez créé un compte, d’autres artistes ou amateurs pourront vous suivre en s’abonnant à votre page pour découvrir vos projets, vous soutenir et suivre vos avancements dans leur fil d’actualité.</span>
                    </div>                    
                </div>
            </div>

            <div class="text-element right" (mouseenter)="hovered_div(7)" (mouseleave)="unhovered_div(7)" (click)="clicked_div(7);">
                <div class="text-container right">

                    <div *ngIf="!hovered[7]">
                        <span [@enterFromLeftAnimation] class="span-title">Tendances</span>
                    </div>
                    <div *ngIf="hovered[7]">
                        <span [@enterFromRightAnimation]>Les œuvres les plus populaires du jour sont classées dans l'onglet Tendances. À chaque fois qu’une de vos œuvres atteint le top 15 des Tendances dans votre catégorie, vous recevrez une rémunération proportionnelle à votre nombre d’abonnés !</span>
                    </div>
                    <img src="../../assets/img/tuto-logos/tuto-trendings.svg" [@enterFromLeftAnimation]>

                    <div class="logo-euro"  *ngIf="!hovered[7]" [@animationStar]>
                        <img src="../../assets/img/tuto-logos/tuto-euro.svg">
                    </div>
                </div>
            </div>

            <div class="text-element left" (mouseenter)="hovered_div(8)" (mouseleave)="unhovered_div(8)" (click)="clicked_div(8);">
                <div class="text-container left">

                    <img src="../../assets/img/tuto-logos/tuto-favorites.svg" [@enterFromLeftAnimation]>
                    <div *ngIf="!hovered[8]">
                        <span [@enterFromLeftAnimation] class="span-title">Coups de cœur</span>
                    </div>
                    <div *ngIf="hovered[8]">
                        <span [@enterFromRightAnimation]>Les artistes les plus actifs et populaires sont classés dans l'onglet Coup de cœur. À chaque fois que vous atteignez le top 15, dans une des catégories, vous recevrez une rémunération proportionnelle à votre nombre d’abonnés !</span>
                    </div>

                    <div class="logo-euro" *ngIf="!hovered[8]" [@animationStar]>
                        <img src="../../assets/img/tuto-logos/tuto-euro.svg">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="hovered[5]" class="absolute-words" [@animationStar]>
            <span class="p1 italic dark">Romans illustrés</span>
            <span class="p2 normal">Stories</span>
            <span class="p3 light">Mangas</span>
            <span class="p4 dark">BD</span>
            <span class="p5 light">Comics</span>
            <span class="p6 light2">Artistes du moment</span>
            <span class="p7 normal">Dessin digital</span>
            <span class="p8 light2">Artbook</span>
            <span class="p9 italic dark">Scénario & Pitch</span>
            <span class="p10 normal">Romans</span>
            
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s1">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s2">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s3">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s4">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s5">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s6">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s7">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s8">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s9">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s10">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s11">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s12">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s13">

        </div>

        <div class="button-container next" [@enterFromRightAnimation]>
            <div (click)="set_page(5);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_right</mat-icon>
            </div>
        </div>
    </div>



    <!--page 3-->
    <div class="popup-tuto-page" *ngIf="page==3">

        <div class="header" [@enterFromRightAnimation]>
            <span class="section-title">La section collaboration</span>
            <span class="section-description">Cette section est entièrement dédiée à la collaboration éditoriale. C'est ici que les artistes pourront vous soumettre leurs projets, collaborer entre et réaliser des prestations de services artistiques.</span>
        </div>


        <div class="text-elements-container">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
            <div class="text-element"></div>

            <div class="text-element left" [ngClass]="{'hovered': hovered[9] }" (mouseenter)="hovered_div(9)" (mouseleave)="unhovered_div(9)" (click)="clicked_div(9);">
                <div class="text-container left">
                    <img src="../../assets/img/tuto-logos/tuto-projects.svg" [@enterFromLeftAnimation]>

                    <div *ngIf="!hovered[9]">
                        <span class="span-title" [@enterFromLeftAnimation]>Réception de projets</span>
                    </div>
                    <div  *ngIf="hovered[9]">
                        <span><b>Centralisez</b> toutes vos demandes directement sur LinkArts, avec des <b>statistiques</b> pertinentes à la clé.
                            Et parce que votre avis a de l’importance et votre temps est précieux, vous recevrez une <b>rémunération</b>, pour chaque retour que vous faites à un artiste. </span>
                   </div>    
                    <div class="logo-euro" *ngIf="!hovered[9]" [@animationStar]>
                        <img src="../../assets/img/tuto-logos/tuto-euro.svg">
                    </div>            
                </div>
            </div>
            <div class="text-element"></div>

            <div class="text-element right" (mouseenter)="hovered_div(13)" (mouseleave)="unhovered_div(13)" (click)="clicked_div(13);">
                <div class="text-container right">

                    <div *ngIf="!hovered[13]">
                        <span [@enterFromLeftAnimation] class="span-title">Collaborations rémunérées</span>
                    </div>
                    <div *ngIf="hovered[13]">
                        <span [@enterFromRightAnimation]>Si vous désirez collaborer avec un artiste pour une mission précise, que vous recherchez un éditeur pour rejoindre votre équipe ou que désirez une prestation de service artistique, alors vous pouvez déposer une annonce de collaboration rémunérée.</span>
                    </div>
                    
                    <img src="../../assets/img/tuto-logos/tuto-remunere.svg" [@enterFromLeftAnimation]>
                </div>
            </div>
            <div class="text-element"></div>
            <div class="text-element"></div>
        </div>

        



        <div class="button-container next" [@enterFromRightAnimation]>
            <div (click)="set_page(4);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_right</mat-icon>
            </div>
        </div>
    </div>

    
    <!--page 4-->
    <div class="popup-tuto-page" *ngIf="page==4">

        <div class="header" [@enterFromRightAnimation]>
            <span class="section-title">La galerie</span>
            <span class="section-description">Rien de mieux qu’une galerie pour dénicher des artistes de talent et faire sa promotion.</span>
        </div>

        <div class="text-elements-container">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
            <div class="text-element right" [ngClass]="{'hovered': hovered[10] }" (mouseenter)="hovered_div(10)" (mouseleave)="unhovered_div(10)" (click)="clicked_div(10);">
                <div class="text-container right">

                    <div *ngIf="!hovered[10]">
                        <span class="span-title" [@enterFromLeftAnimation]>Recommandations</span>
                    </div>
                    <div *ngIf="hovered[10]">
                        <span [@enterFromRightAnimation]>Vous retrouverez dans la galerie un onglet recommandation, où l’on vous propose quotidiennement des artistes et des œuvres qui correspondent à vos préférences.</span>
                    </div>          
                    <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" [@enterFromLeftAnimation]>

                </div>
            </div>

            <div class="text-element left" (mouseenter)="hovered_div(11)" (mouseleave)="unhovered_div(11)" (click)="clicked_div(11);">
                <div class="text-container left">

                    <img src="../../assets/img/tuto-logos/tuto-favorites.svg" [@enterFromLeftAnimation]>

                    <div *ngIf="!hovered[11]">
                        <span [@enterFromLeftAnimation] class="span-title">Coups de cœur</span>
                    </div>
                    <div *ngIf="hovered[11]">
                        <span [@enterFromRightAnimation]>Les 30 artistes les plus actifs et les plus populaires du site sont classés dans l'onglet Coup de cœur.</span>
                    </div>
                </div>
            </div>

            <div class="text-element right" (mouseenter)="hovered_div(12)" (mouseleave)="unhovered_div(12)" (click)="clicked_div(12);">
                <div class="text-container right">

                    <div *ngIf="!hovered[12]">
                        <span [@enterFromLeftAnimation] class="span-title">Tendances</span>
                    </div>
                    <div *ngIf="hovered[12]">
                        <span [@enterFromRightAnimation]>Vous retrouvez aussi dans cette section, un onglet Tendances, où sont classés les 15 œuvres les plus populaires du jour selon l’une de ces 3 catégories : bandes dessinées, dessins et écrits.</span>
                    </div>

                    <img src="../../assets/img/tuto-logos/tuto-trendings.svg" [@enterFromLeftAnimation]>
                </div>
            </div>
            
            <div class="text-element"></div>
        </div>

        <div *ngIf="hovered[10]" class="absolute-words editors" [@animationStar]>
            <span class="p1 italic dark">Romans illustrés</span>
            <span class="p2 normal">Stories</span>
            <span class="p3 light">Mangas</span>
            <span class="p4 dark">BD</span>
            <span class="p5 light">Comics</span>
            <span class="p6 light2">Artistes du moment</span>
            <span class="p7 normal">Dessin digital</span>
            <span class="p8 light2">Artbook</span>
            <span class="p9 italic dark">Scénario & Pitch</span>
            <span class="p10 normal">Romans</span>
            
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s1">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s2">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s3">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s4">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s5">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s6">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s7">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s8">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s9">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s10">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s11">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s12">
            <img src="../../assets/img/tuto-logos/tuto-recommendations.svg" class="s13">

        </div>

        <div class="button-container next" [@enterFromRightAnimation]>
            <div (click)="set_page(6);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_right</mat-icon>
            </div>
        </div>
    </div>



    <!--page 5-->
    <div class="popup-tuto-page" *ngIf="page==5 || page==6">

        <div class="header" [@enterFromRightAnimation]>
            <span class="section-title">La messagerie</span>
            <span class="section-description">La messagerie est l’outil de travail indispensable en tant qu’artiste ou éditeur, une fois que vous aurez trouvé votre collaborateur ! De nombreuses fonctionnalités innovantes et indispensables pour vous aider à travailler y sont disponibles.</span>
        </div>

        <div class="text-elements-container">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
            <div class="text-element right">
                <div class="text-container right " style="cursor: default;">

                    <div>
                        <span [@enterFromRightAnimation] class="span-title no-logo">Communication en temps réel avec un ou plusieurs collaborateurs</span>
                    </div>

                </div>
            </div>
            <div class="text-element left">
                <div class="text-container left" style="cursor: default;">

                    <div>
                        <span [@enterFromRightAnimation] class="span-title no-logo">Création de sous-discussions au sein d’une même discussion</span>
                    </div>

                </div>
            </div>
            <div class="text-element right">
                <div class="text-container right" style="cursor: default;">

                    <div>
                        <span [@enterFromRightAnimation] class="span-title no-logo">Création de dossiers pour archiver et trier ses fichiers partagés</span>
                    </div>

                </div>
            </div>
            <div class="text-element left">
                <div class="text-container left" style="cursor: default;">

                    <div>
                        <span [@enterFromRightAnimation] class="span-title no-logo">Édition d’images pour faciliter la communication entre collaborateurs</span>
                    </div>

                </div>
            </div>


        </div>


        <div class="button-container next" *ngIf="page==5" [@enterFromRightAnimation]>
            <div (click)="set_page(7);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_right</mat-icon>
            </div>
        </div>
        <div class="button-container next" *ngIf="page==6" [@enterFromRightAnimation]>
            <div (click)="set_page(8);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_right</mat-icon>
            </div>
        </div>

    </div>



    <!--page 7-->
    <div class="popup-tuto-page" *ngIf="page==7 || page==8" >

        <div class="header" [@enterFromRightAnimation]>
            <span class="section-title">Merci à vous !</span>
            <span class="section-description">Un grand merci à vous d’avoir pris le temps de découvrir notre projet ! Nous espérons sincèrement que notre plateforme pourra vous aider à avancer dans vos projets éditoriaux, qu'ils soient ambitieux ou juste divertissants.</span>
        </div>
        
        <div class="text-elements-container">
            <img class="background"  src="../../assets/img/tuto-logos/tuto-background-1.jpg">
            <div class="text-element left">
                <div class="text-container left">
                    <div  [@enterFromLeftAnimation] class="email-form" (click)="open_share();">
                        <div class="submit-mail">Partager le site</div>
                    </div>

                </div>
            </div>
            
            <div class="text-element left" *ngIf="show_signup">
                <div class="text-container left">
                    <div  [@enterFromLeftAnimation] class="email-form" (click)="close_dialog();signup();">
                        <div class="submit-mail">M'inscrire</div>
                    </div>
                </div>
            </div>
            <div class="text-element"></div>
            <div class="text-element left"></div>
            


        </div>


        <div class="button-container next last" [@enterFromRightAnimation]>
            <div (click)="end_tutorial();">
                <span>J'ai compris, merci !</span>
            </div>
        </div>
    </div>



    <div class="status-container">
        <div class="status step0" [ngStyle]="{'width': page==1 || page==3 ? '25%' : '0%' }"></div>
        <div class="status step1" [ngStyle]="{'width': page==2 || page==4 ? '50%' : '0%' }"></div>
        <div class="status step2" [ngStyle]="{'width': page==5 || page==6 ? '75%' : '0%' }"></div>
        <div class="status step3" [ngStyle]="{'width': page==7 || page==8 ? '100%' : '0%'}"></div>
        
    </div>


</div>