
 <div class="button-container-close">
    <button mat-button class="mat-icon-button close-button" (click)="close_dialog()" tabIndex="-1">
        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >close</mat-icon>
    </button>
</div>

<div class="popup-share">


    <span>INVITER UN AMI</span>


    
    <div class="group">
        <mat-icon [ngClass]="{'invisible': !show_icon }">group</mat-icon>
        <span>Faîtes grandir la communauté LinkArts en invitant des membres de votre réseau</span>
    </div>

    <div class="group">
        <mat-icon [ngClass]="{'invisible': !show_icon }">palette</mat-icon>
        <span>Inviter à découvrir votre profil et faites savoir que vous êtes sur LinkArts</span>
    </div>


    
    <div *ngIf="!mail_scent" class="mail-form-container"  [@enterFromLeftAnimation]>
        <div class="step-form" [formGroup]="registerForm1">
            <div class="form-item" *ngIf="type_of_profile!='account'">
                <mat-form-field floatLabel='never'>
                    <mat-label>Votre nom complet</mat-label>
                    <input matInput formControlName="name" maxLength="40" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'name');" tabindex="-1">
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Adresse mail</mat-label>
                    <input matInput formControlName="email" maxLength="100" autocomplete="off" type="search" (input)="normalize_input(registerForm1, 'email');" tabindex="-1">
                </mat-form-field>
            </div>
        </div>

        <div class="share-button" (click)="validate();">
            <mat-icon [ngClass]="{'invisible': !show_icon }"  *ngIf="!loading_email" >done_all</mat-icon>
            <span *ngIf="!loading_email" >Inviter</span>
            <mat-spinner *ngIf="loading_email" diameter="20"  style="margin:auto;"></mat-spinner>
        </div>
        <mat-error *ngIf="show_mail_error" [@enterAnimation]>Veuillez saisir un e-mail valide.
        </mat-error>
        <mat-error *ngIf="show_name_error" [@enterAnimation]>Veuillez saisir un nom valide.
        </mat-error>
    </div>
    

    <div class="mail-scent" *ngIf="mail_scent" [@enterFromRightAnimation]>
        <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
        <span>
            Une invitation a été envoyée à l'adresse mail suivante :
            <br>
            {{registerForm1.value.email}}
        </span>
        <button mat-button class="mat-icon-button close-button" style="margin: 0px auto 0px auto;" (click)="back()" tabIndex="-1">
            <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >arrow_back</mat-icon>
        </button>
    </div>

</div>

<div class="buttons-container">

    <button mat-icon-button tabindex="-1"
        style="outline: none !important;" class="share-button2"
        shareButton="facebook"
        #fbBtn="shareButton"
        [style.color]="fbBtn?.color"
        url="https://www.linkarts.fr/">
        <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg"></fa-icon>
    </button>
    <button mat-icon-button tabindex="-1"
        style="outline: none !important;" class="share-button2"
        shareButton="twitter"
        #twtBtn="shareButton"
        [style.color]="twtBtn?.color"
        url="https://www.linkarts.fr/">
        <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg"></fa-icon>
    </button>
    <button mat-icon-button tabindex="-1"
        style="outline: none !important;" class="share-button2"
        shareButton="pinterest"
        #pinBtn="shareButton"
        [style.color]="pinBtn?.color"
        url="https://www.linkarts.fr/">
        <fa-icon *ngIf="pinBtn" [icon]="pinBtn.icon" size="lg"></fa-icon>
    </button>

    <button mat-icon-button tabindex="-1"
        style="outline: none !important;" class="share-button2"
        shareButton="whatsapp"
        #whaBtn="shareButton"
        [style.color]="whaBtn?.color"
        url="https://www.linkarts.fr/">
        <fa-icon *ngIf="whaBtn" [icon]="whaBtn.icon" size="lg"></fa-icon>
    </button>
    <button mat-icon-button tabindex="-1"
        style="outline: none !important;" class="share-button2"
        shareButton="linkedin"
        #msgBtn="shareButton"
        [style.color]="msgBtn?.color"
        url="https://www.linkarts.fr/">
        <fa-icon *ngIf="msgBtn" [icon]="msgBtn.icon" size="lg"></fa-icon>
    </button>
    <button mat-icon-button tabindex="-1"
        style="outline: none !important;" class="share-button2"
        shareButton="copy"
        #insBtn="shareButton"
        [style.color]="insBtn?.color"
        url="https://www.linkarts.fr/">
        <fa-icon *ngIf="insBtn" [icon]="insBtn.icon" size="lg"></fa-icon>
    </button>
    
</div>