

<div style="display: flex;justify-content: center;" *ngIf="!list_of_contents_sorted">
    <mat-spinner diameter="30" ></mat-spinner>
</div>
<ng-container *ngIf=" list_of_contents_sorted">
    <div *ngFor="let item of list_of_contents; let i = index">
        <div *ngIf="item.drawing_id == null && item.writing_id == null">
            <div *ngIf="item.chaptersnumber > 0 ">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='comics'
                    subscribing_format='serie'
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-comics 
                    [item]=item
                    format='serie'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-comics>--> 
            </div>
            <div *ngIf="item.chaptersnumber == null">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='comics'
                    subscribing_format='one-shot'
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-comics 
                    [item]=item
                    format='one-shot'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-comics>-->
            </div>
        </div>

        <div *ngIf="item.drawing_id == null && item.bd_id == null">
            <div class="highlighted_artwork">
                <app-thumbnail-artwork 
                [item]=item
                now_in_seconds={{now_in_seconds}}
                subscribing_category='writing'
                ></app-thumbnail-artwork>
           </div>
                <!--<app-thumbnail-writing
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-writing> -->    
        </div>

        <div *ngIf="item.bd_id == null && item.writing_id == null">
            <div *ngIf="item.pagesnumber > 0 ">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='drawing'
                    subscribing_format="artbook"
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-drawing
                    [item]=item
                    format='artbook'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-drawing> -->
            </div>
            <div *ngIf="item.pagesnumber == null">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='drawing'
                    subscribing_format="one-shot"
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-drawing 
                    [item]=item
                    format='one-shot'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-drawing> -->
            </div>
        </div>

    </div>


</ng-container>


<ng-container *ngIf=" list_of_contents_sorted">
    <ng-container *ngIf=" show_more">
        <app-subscribings-see-more
            [list_of_users]=list_of_users
            [now_in_seconds]=now_in_seconds
            [last_timestamp]=last_timestamp
            ></app-subscribings-see-more>
    </ng-container>
</ng-container>
 

