<ng-container *ngIf="!list_of_contents_sorted">
    
    <div class="loading-page">
        <mat-spinner diameter="30" ></mat-spinner>
    </div>
</ng-container>

<ng-container *ngIf="list_of_contents_sorted">
    <div *ngFor="let item of list_of_contents; let i = index">
        <div *ngIf="item.drawing_id == null && item.writing_id == null">
            <div *ngIf="item.chaptersnumber > 0 ">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    page='subscribings'
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='comic'
                    subscribing_format='serie'
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-comics 
                    [item]=item
                    format='serie'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-comics>--> 
            </div>
            <div *ngIf="item.chaptersnumber == null">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    page='subscribings'
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='comic'
                    subscribing_format='one-shot'
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-comics 
                    [item]=item
                    format='one-shot'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-comics>-->
            </div>
        </div>

        <div *ngIf="item.drawing_id == null && item.bd_id == null">
            <div class="highlighted_artwork">
                <app-thumbnail-artwork 
                [item]=item
                page='subscribings'
                now_in_seconds={{now_in_seconds}}
                subscribing_category='writing'
                ></app-thumbnail-artwork>
           </div>
                <!--<app-thumbnail-writing
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-writing> -->    
        </div>

        <div *ngIf="item.bd_id == null && item.writing_id == null">
            <div *ngIf="item.pagesnumber > 0 ">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    page='subscribings'
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='drawing'
                    subscribing_format="artbook"
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-drawing
                    [item]=item
                    format='artbook'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-drawing> -->
            </div>
            <div *ngIf="item.pagesnumber == null">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    page='subscribings'
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='drawing'
                    subscribing_format="one-shot"
                    ></app-thumbnail-artwork>
               </div>
                <!--<app-thumbnail-drawing 
                    [item]=item
                    format='one-shot'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-drawing> -->
            </div>
        </div>

    </div>


</ng-container>


<ng-container *ngIf=" list_of_contents_sorted">

    <!--<button *ngIf="!show_more" >see_more_contents</button>
    <div class="see-more-container" *ngIf="!show_more" (click)="see_more()" [@enterAnimation]>
        <mat-icon>add</mat-icon>
        <div class="see-more-text">Voir plus ...</div>
    </div>-->


    <ng-container *ngIf="show_more">
        <app-subscribings-see-more
            [list_of_users]=list_of_users
            [now_in_seconds]=now_in_seconds
            [last_timestamp]=last_timestamp
            ></app-subscribings-see-more>
    </ng-container>
</ng-container>
 

