


<form [formGroup]="f00" class="form" novalidate>
    <div class="form-container">

        <div class="form-container-flex">
            <!--******************************************************-->
            <!--Titre-->
            <!--******************************************************-->
            <div class="form-group">
                <label for="artworkTitle">Titre</label>
                <input type="text" formControlName="f00Title" class="form-control" placeholder="Nom de l'œuvre (30 caractères max)" autocomplete="off" required/>
                <p *ngIf="!f00Title.valid  && f00DisplayErrors">Veuillez saisir un titre valide</p>
            </div>


            <div *ngIf="data.format == 'serie'" formArrayName="chapters">
                <div class="form-group" *ngFor="let item of data.chapterList; let i = index">
                    <label>Nom du chapitre {{i+1}}</label>
                    <input type="text" [formControlName]="i" (keyup)="update_view();" 
                    class="form-control" placeholder="Nom du chapitre {{i+1}} (30 caractères max)" autocomplete="off" required/>
                    <p *ngIf="!chapters.controls[i].valid  && f00DisplayErrors">Veuillez saisir un titre valide</p>
                </div>

            </div>


            <!--<div class="form-group" *ngIf="data.format == 'serie'" >
                <label>Titre du premier chapitre</label>
                <input type="text" formControlName="f00SerieFirstChapter" (keyup)="update_view();" class="form-control" placeholder="Titre du premier chapitre (30 caractères max)" autocomplete="off" required/>
                <p *ngIf="!f00SerieFirstChapter.valid && f00DisplayErrors">Veuillez saisir un titre valide</p>
            </div>-->


            <!--******************************************************-->
            <!--Catégorie-->
            <!--******************************************************-->
            <div class="form-group">
                <label for="artworkTitle">Style</label>
                <!--Dropdown de opened_category, puis values, puis dropdown 0, titres-->
                <select formControlName="f00Category" class="f00select0" placeholder="Sélectionner une catégorie" style="height: 100%;">
                    <option value="" hidden disabled="true">Sélectionner un style</option>
                    <option> BD </option>
                    <option> Comics </option>
                    <option> Manga </option>
                    <option> Webtoon </option>
                </select>
                <p *ngIf="f00Category.value == 'Manga'">La lecture se fera de droite à gauche</p>
                <p *ngIf="f00Category.value == '' && f00DisplayErrors">Veuillez sélectionner un style</p>
            </div>
            <!--******************************************************-->
            <!--Genres-->
            <!--******************************************************-->
            <div class="form-group">
                <label for="artworkTitle">
                    Genres 
                    <ng-container *ngIf=data.firsttag>( {{data.firsttag}} </ng-container>
                    <ng-container *ngIf=data.secondtag>, {{data.secondtag}} </ng-container>
                    <ng-container *ngIf=data.thirdtag>, {{data.thirdtag}} </ng-container>)
                </label>
                <select formControlName="f00Tags" class="multipleSelect" placeholder="Sélectionner de nouveaux genres (max : 3)" multiple name="language">
                    <option value="Action">Action</option>
                    <option value="Aventure">Aventure</option>
                    <option value="Esotérisme">Esotérisme</option>
                    <option value="Fantaisie">Fantaisie</option>
                    <option value="Fantastique">Fantastique</option>
                    <option value="Histoire">Histoire</option>
                    <option value="Horreur">Horreur</option>
                    <option value="Humour">Humour</option>
                    <option value="Kids">Kids</option>
                    <option value="Kodomo">Kodomo</option>
                    <option value="Philosophie">Philosophie</option>
                    <option value="Policier">Policier</option>
                    <option value="Religion">Religion</option>
                    <option value="Science-fiction">Science-fiction</option>
                    <option value="Seinen">Seinen</option>
                    <option value="Shojo">Shojo</option>
                    <option value="Shonen">Shonen</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
                <p *ngIf="!tagsValidator && f00DisplayErrors">Veuillez sélectionner au moins un genre</p>
            </div>
            <!--******************************************************-->
            <!--Description-->
            <!--******************************************************-->
            <div class="form-group">
                <label for="artworkDescription">Description</label>
                <textarea type="text" formControlName="f00Description" maxlength="500" style="height: 100px;resize:none;" class="form-control" placeholder="Description de l'œuvre (500 caractères max)" autocomplete="off" required>
                </textarea>
                <p *ngIf="!f00Description.valid && f00DisplayErrors">Veuillez saisir une description valide</p>
            </div>



        </div>

    </div>
    <button mat-raised-button class="validate-form-button style1" (click)="validateForm00();">Valider</button>
</form>



