

/*******************************************************************/
/************************** form comic information *****************/
/*******************************************************************/
.form {
    width:100%;
    max-height:800px !important;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right: auto;
}

.form-container {
    width:800px;
    margin:0px auto 0px auto;
    border-radius: 0px 0px 10px 10px;
}

.form-container .form-container-data {
    width:95%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin:20px auto 20px auto;
}

.form-container .form-container-flex {
    display:flex;
    flex-direction: column;
    width:95%;
    margin:0px auto 0px auto;
}


.form-group label {
    font-weight: bold;
    margin-bottom:5px;
}

.form-group p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0px !important;
    color:rgb(97, 0, 0);
}

.validate-form-button {
    display:flex;
    font-size:20px;
    height:50px;
    width:95%;
    margin:20px auto 30px auto;

}

//ng-deeps
::ng-deep .form-control {
    height:45px;
    font-size:unset;
    color:unset;
}

::ng-deep .form-container .SumoSelect {
    display:block;
    width:unset;
    height:45px;
    background:white;
    border:1px solid rgb(204,204,204);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius:4px;
}

::ng-deep .form-container .optWrapper .options .opt.disabled {
    display:none;
}

::ng-deep .bootstrap-tagsinput {
    display:flex;
    height:45px;
    line-height: unset;
}

::ng-deep .bootstrap-tagsinput .label-info {
    border-radius:5px;
    padding-left:10px;
    padding-right:10px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    background-color:rgb(114, 203, 221);
    color:rgb(50, 50, 50);
}

:host ::ng-deep {
    @import "../../assets/fastselect/fastselect.scss";
}
@import '../../material-styles.css';





