
<div class="upload-container">



    <div *ngIf="afficheruploader" class="uploader-container">

        <div class="dropzone-container">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="dropzone">
                <div class="icon-container">
                    <mat-icon>save_alt</mat-icon>
                    <span><b>Sélectionnez un fichier</b> ou glissez le ici</span>
                </div>
                
                <div class="button-container">
                    <label>
                        <div class="select-button">
                            Sélectionner un fichier
                        </div>
                        <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                    </label>
                </div>

            </div>
        </div>

    </div>

    <ng-container  *ngIf="afficherpreview">


        <div class="element-container">
            <div class="img-container">
                <img [src]="displayContent(uploader.queue[0])" alt="{{ uploader.queue[0]?.file?.name }}">
            </div>
            <div class="name-container">
                <span>{{ uploader.queue[0]?.file?.name }}</span>
            </div>
        </div>


        <div class="buttons-container">
            <ng-container *ngIf="!uploader.queue[0].isSuccess">
                <button  type="button" class="btn btn-danger btn-xs"
                        (click)="remove_beforeupload(uploader.queue[0]);" >
                    <span class="glyphicon glyphicon-trash">Supprimer</span> 
                </button>
            </ng-container>
            <ng-container *ngIf="uploader.queue[0].isSuccess">
                <button type="button" class="btn btn-danger btn-xs"
                        (click)="remove_afterupload(uploader.queue[0]);" >
                    <span class="glyphicon glyphicon-trash">Supprimer</span> 
                </button>
            </ng-container>
        </div>          
            
    </ng-container>


</div>


