
<div class="popup-login">
    
    <div class="centered">

        <div class="logo">
            <img src="../../assets/img/svg/Logo-LA3-18-01.svg">
        </div>
    
        <div class="step-form" [formGroup]="loginForm">
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Identifiant</mat-label>
                    <input matInput formControlName="mail" autocomplete="off" type="search">
                </mat-form-field>
            </div>
    
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
    
                    <div class="remove-red-eye" (click)="change_password_type()"
                    [matTooltip]="hide ? 'Voir le mot de passe' : 'Cacher le mot de passe'"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="100">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="hide" [@enterAnimation]>visibility</mat-icon>
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!hide" [@enterAnimation]>visibility_off</mat-icon>
                    </div>
    
                </mat-form-field>
            </div>
        </div>
    
        <button [disabled]="loading" class="submit-button" (click)="login();">
            <span *ngIf="!loading">Se connecter</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>
        
        <div class="error">
            <span *ngIf="display_wrong_data" [@enterAnimation]>Le mot de passe ou l'identifiant sont incorrects</span>
        </div>
    </div>

</div>

