.home-linkarts {
  .categories-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;

    .category {
      user-select:none;
      cursor: pointer;
      width: 200px;
      border-radius: 50px;
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-left: 10px;
      margin-right: 10px;

      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      background-color: rgb(255, 255, 255);

      span {
        color: rgb(83, 98, 125);
      }
      &:hover {
        .icon {
          background-color: rgb(32, 56, 100);
        }
        span {
          color: rgb(32, 56, 100);
        }
      }

      &.opened {
        animation: opened-button 300ms ease-out forwards;

        span {
          color: white;
        }
        .icon {
          background-color: white;
          animation: flip 1000ms cubic-bezier(0.55, 0.23, 0.29, 0.87) forwards;
        }
      }

      .icon-container {
        display: flex;
        width: 17px;
        height: 17px;
        margin: auto 10px auto auto;
      }
      span {
        margin: auto auto auto 0px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  @keyframes opened-button {
    from {
      background-color: white;
      box-shadow: 0px 0px 0px white;
    }
    to {
      background-color: rgb(32, 56, 100);
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
  }
  @keyframes flip {
    from {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg);
    }
  }

  .icon {
    width: 100%;
    height: 100%;
  }
  .icon-recommendation {
    background-color: #53627d;
    -webkit-mask: url("../../assets/img/svg/star.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/star.svg") no-repeat 50% 50%;
  }

  .icon-trendings {
    background-color: #53627d;
    -webkit-mask: url("../../assets/img/svg/trendings.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/trendings.svg") no-repeat 50% 50%;
  }

  .icon-newsfeed {
    background-color: #53627d;
    -webkit-mask: url("../../assets/img/svg/friends1.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/friends1.svg") no-repeat 50% 50%;
  }

  .icon-love {
    background-color: #53627d;
    -webkit-mask: url("../../assets/img/svg/love.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/love.svg") no-repeat 50% 50%;
  }

  //responsivity
  @media (max-width: 1000px) {
    .categories-container {
      .category {
        width: 170px;
        span {
          font-size: 13px;
        }
      }
    }
  }

  @media (max-width: 800px) {
    .categories-container {
      .category {
        width: 145px;
        span {
          font-size: 11px;
        }
      }
    }
  }

  @media (max-width: 700px) {
    .categories-container {
      .category {
        width: 125px;
        margin-left: 3px;
        margin-right: 3px;
        span {
          font-size: 10px;
        }
        .icon-container {
          display: flex;
          width: 13px;
          height: 13px;
          margin: auto 7px auto auto;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .categories-container {
      .category {
        span {
          display:none;
        }
        .icon-container {
          width: 22px;
          height: 22px;
          margin: auto;
        }
      }
    }
  }

  @media (min-width: 1700px) {
    .home-linkarts {
      width: 1670px;
      margin: auto auto;
    }
  }

}
