<div class="home-linkarts" *ngIf="type_of_profile_retrieved">

    <div class="categories-container">
        <div class="category"  (click)="open_category(0)"  [ngClass]="{'opened': category_index==0 }">
            <div class="icon-container">
                <div class="icon icon-recommendation">
                </div>
            </div>
            <span>Recommandations</span>
        </div>
        <div class="category"  (click)="open_category(1)"  [ngClass]="{'opened': category_index==1 }">
            <div class="icon-container">
                <div class="icon icon-trendings">
                </div>
            </div>
            <span>Tendances</span>
        </div>
        <div class="category" (click)="open_category(2)"  *ngIf="type_of_profile=='account'" [ngClass]="{'opened': category_index==2 }">
            <div class="icon-container">
                <div class="icon icon-newsfeed">
                </div>
            </div>
            <span>Abonnements</span>
        </div>
        <div class="category"  (click)="open_category(3)" [ngClass]="{'opened': category_index==3 }">
            <div class="icon-container">
                <div class="icon icon-love">
                </div>
            </div>
            <span>Coups de coeur</span>
        </div>
        <!--<div class="content-action text-center" (click)="open_category(3)">
            <span>Mode découverte</span> 
            <div class="bottom-border">
            </div>
        </div>-->
    </div>

   

    
</div>

<ng-container *ngIf="type_of_profile_retrieved">

    <div *ngIf="categories_to_load[0]" [ngClass]="{'really-invisible':category_index!=0}">
        <app-recommendations
        [status]="status[0]"></app-recommendations>
    </div>
    <div *ngIf="categories_to_load[1]" [ngClass]="{'really-invisible':category_index!=1}" >
        <app-trendings
        [status]="status[1]"></app-trendings>
    </div>
    <div  *ngIf="type_of_profile=='account' && categories_to_load[2]"  [ngClass]="{'really-invisible':category_index!=2}">
        <app-subscribings
        ></app-subscribings>
    </div>
    <div  *ngIf="categories_to_load[3]"   [ngClass]="{'really-invisible':category_index!=3}">
        <app-favorites></app-favorites>
    </div>
</ng-container>


<!--<div *ngIf="category_index==0" >
    <app-recommendations></app-recommendations>
</div>
<div *ngIf="category_index==1" >
    <app-trendings></app-trendings>
</div>
<div *ngIf="category_index==2" >
    <app-subscribings></app-subscribings>
</div>
<div *ngIf="category_index==3" >
    <app-favorites></app-favorites>
</div>-->

