<img src="../../assets/img/svg/Logo-LA3-18-01.svg" class="invisible invisible-height">

<div class="home-linkarts" *ngIf="type_of_profile_retrieved && category_index>=0 && 4>category_index">

    <div class="categories-container" [ngClass]="{'visitor': type_of_profile!='account' }">

        <div class="select-container">
            <mat-form-field floatLabel='never' [ngClass]="{'opened': homeLinkartsSelect && homeLinkartsSelect.panelOpen }">

                <mat-select #homeLinkartsSelect panelClass="homeLinkartsSelect" ng-animate-disabled
                [(value)]="category_index" disableOptionCentering
                (selectionChange)="open_category($event.value)">
                    
                    <mat-select-trigger>
                        <ng-container *ngIf="category_index==0">
                            <div class="icon-container">
                                <div class="icon icon-recommendation">
                                </div>
                            </div>
                            <span>Recommandations</span>
                        </ng-container>
                        <ng-container *ngIf="category_index==1">
                            <div class="icon-container">
                                <div class="icon icon-trendings">
                                </div>
                            </div>
                            <span>Tendances</span>
                        </ng-container>
                        <ng-container *ngIf="category_index==2">
                            <div class="icon-container">
                                <div class="icon icon-newsfeed">
                                </div>
                            </div>
                            <span>Fil d'actualité</span>
                        </ng-container>
                        <ng-container *ngIf="category_index==3">
                            <div class="icon-container">
                                <div class="icon icon-love">
                                </div>
                            </div>
                            <span>Coups de cœur</span>
                        </ng-container>
                        
                        <div class="arrow-container" [ngClass]="{'opened': homeLinkartsSelect && homeLinkartsSelect.panelOpen }">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios_new</mat-icon>
                        </div>
                    </mat-select-trigger>

                    


                    <mat-option [value]="0">
                        <div class="icon-container">
                            <div class="icon icon-recommendation">
                            </div>
                        </div>
                        <span>Recommandations</span>
                    </mat-option>
                    <mat-option [value]="1">
                        <div class="icon-container">
                            <div class="icon icon-trendings">
                            </div>
                        </div>
                        <span>Tendances</span>
                    </mat-option>
                    <mat-option [value]="2" *ngIf="type_of_profile=='account'">
                        <div class="icon-container">
                            <div class="icon icon-newsfeed">
                            </div>
                        </div>
                        <span>Fil d'actualité</span>
                    </mat-option>
                    <mat-option [value]="3">
                        <div class="icon-container">
                            <div class="icon icon-love">
                            </div>
                        </div>
                        <span>Coups de cœur</span>
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>

        <div class="swiper-container">
            <div  #swiperCategories  class="swiper-item" >
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <a class="category" (click)="swipe_to(0);open_category(0)" [ngClass]="{'opened': category_index==0 }">
                            <div class="icon-container">
                                <div class="icon icon-recommendation">
                                </div>
                            </div>
                            <span>Recommandations</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="category" (click)="swipe_to(1);open_category(1)" [ngClass]="{'opened': category_index==1 }">
                            <div class="icon-container">
                                <div class="icon icon-trendings">
                                </div>
                            </div>
                            <span>Tendances</span>
                        </a>
                    </div>
                    <div class="swiper-slide" *ngIf="type_of_profile=='account'">
                        <a class="category"  (click)="swipe_to(2);open_category(2)" [ngClass]="{'opened': category_index==2 }">
                            <div class="icon-container">
                                <div class="icon icon-newsfeed">
                                </div>
                            </div>
                            <span>Fil d'actualité</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a class="category" (click)="swipe_to(3);open_category(3)" [ngClass]="{'opened': category_index==3 }">
                            <div class="icon-container">
                                <div class="icon icon-love">
                                </div>
                            </div>
                            <span>Coups de cœur</span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="button-prev-shadow" *ngIf="swiper" [ngClass]="{'invisible': swiper.isBeginning }"></div>
            <div class="button-next-shadow" *ngIf="swiper" [ngClass]="{'invisible': swiper.isEnd }"></div>
            <div class="swiper-button-prev" [ngClass]="{'invisible': swiper && swiper.isBeginning && swiper.isEnd }"></div>
            <div class="swiper-button-next" [ngClass]="{'invisible': swiper && swiper.isBeginning && swiper.isEnd }"></div>
        </div>

    </div>

   

    
</div>

<div class="page" *ngIf="type_of_profile_retrieved">

    <div *ngIf="categories_to_load[0]" class="component-container" [ngClass]="{'really-invisible':category_index!=0}">
        <app-recommendations
        [status]="status[0]"></app-recommendations>
    </div>
    <div *ngIf="type_of_profile=='account' && categories_to_load[2] && allow_sub" class="title-container"  >
        <span>Fil d'actualité</span>
    </div>
    <div *ngIf="categories_to_load[1]" class="component-container"  style="padding-top: unset;" [ngClass]="{'really-invisible':category_index!=1}" >
        <app-trendings
        [current_user]=current_user
        [status]="status[1]"></app-trendings>
    </div>
    <div *ngIf="type_of_profile=='account' && categories_to_load[2]" class="component-container"  [ngClass]="{'really-invisible':category_index!=2 && !allow_sub}">
        <app-subscribings
        [current_user]=current_user
        [allow_sub]=allow_sub
        ></app-subscribings>
    </div>
    <div  *ngIf="categories_to_load[3]"  class="component-container" style="padding-top: unset;" [ngClass]="{'really-invisible':category_index!=3}">
        <app-favorites></app-favorites>
    </div>
</div>




<div class="footer" *ngIf="(type_of_profile_retrieved || category_index!=-1) && category_index>=0 && 4>category_index">
    <img src="../../assets/img/svg/Logo-LA3-18-01.svg">

    <div class="links-container">

        <div class="links">
            <a class="link" href="/services/1">
                <mat-icon [ngClass]="{'invisible': !show_icon }">lock</mat-icon>
                <span>Mentions légales</span>
            </a>
            <a class="link" href="/services/4">
                <mat-icon [ngClass]="{'invisible': !show_icon }">security</mat-icon>
                <span>Confidentialité et sécurité</span>
            </a>
        </div>
        <div class="links">
            <a class="link" href="/services/0">
                <mat-icon [ngClass]="{'invisible': !show_icon }">help</mat-icon>
                <span>Qui sommes-nous ?</span>
            </a>
            <a class="link" href="/services/2">
                <mat-icon [ngClass]="{'invisible': !show_icon }">menu_book</mat-icon>
                <span>Conditions d'utilisation</span>
            </a>
        </div>
        <div class="links">
            <a class="link" (click)="open_popup_contact();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">email</mat-icon>
                <span>Nous contacter</span>
            </a>
            <a class="link" href="/donation"> 
                <mat-icon [ngClass]="{'invisible': !show_icon }" >groups</mat-icon>
                <span>Nous soutenir</span>
            </a>
        </div>
        

    </div>

    <div class="horizontal-bar"></div>

    <div class="logos-container homeLinkarts">

        <div>Nos réseaux sociaux</div>
        <span>|</span>
        <a href="http://www.instagram.com/linkarts.fr" target="_blank" class="instagram">
            <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
        </a>
        <a href="http://www.linkedin.com/company/linkarts" target="_blank" class="linkedin">
            <fa-icon [icon]="faLinkedin" size="lg"></fa-icon>
        </a>
        <!--ajouter instagram-->
        <a href="http://www.facebook.com/linkarts.fr" target="_blank" class="facebook">
            <fa-icon [icon]="faFacebookSquare" size="lg"></fa-icon>
        </a>

        
    </div>

    <span>LinkArts est un site dédié à la collaboration éditoriale et à la promotion des artistes et des éditeurs.</span>
    <span>LinkArts © 2021</span>
</div>

