
<div class="form" [ngClass]="{ 'form0' : CURRENT_step == 0 }">
        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <!--***************f00 : CATEGORY 0 : CARTOON STRIP - STEP 0*********************-->
        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <div *ngIf="REAL_step>=0 || CURRENT_step==0" [hidden]="CURRENT_step!=0">


            <button class="step-back-button" (click)="back_home();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                <span>Retour</span>
            </button>

            

            <!--Forms : adding cartoon strip-->
            <div class="steps">
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step == 0 }">
                    <div class="step">
                        <span>1</span>
                    </div>
                    <span>Présentation du projet</span>
                </div>
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step == 1 }">
                    <div class="step">
                        <span>2</span>
                    </div>
                    <span>Téléchargement</span>
                </div>
            </div>
            
            
            <form [formGroup]="f00" novalidate [ngClass]="{'invisible':!user_retrieved}">
                <div class="form-container">
                    <div class="form-container-name">
                        <span>Description du projet</span>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Titre</mat-label>
                            <input matInput formControlName="f00Title" maxLength="30" autocomplete="off" (input)="normalize_input(f00, 'f00Title');">
                            <mat-error *ngIf="f00.controls['f00Title'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                            </mat-error>
                            <div class="length-indicator">{{f00.controls['f00Title'].value?.length || 0}}/30</div>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Format</mat-label>
                            <mat-select [compareWith]="compareObjects" panelClass="addArtworkSelectClass" disableOptionCentering formControlName="f00Format" (openedChange)="format_change_alert();" (selectionChange)="onFormatChange($event)">
                                <mat-option  *ngFor="let obj of listOfFormats" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f00.controls['f00Format'].invalid">Veuillez sélectionner un format</mat-error>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item" *ngIf="f00Format.value == 'Série'">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Titre du premier chapitre</mat-label>
                            <input matInput formControlName="f00SerieFirstChapter" maxLength="30" (keyup)="update_view();" autocomplete="off" (input)="normalize_input(f00, 'f00SerieFirstChapter');">
                            <mat-error *ngIf="f00.controls['f00SerieFirstChapter'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                            </mat-error>
                            <div class="length-indicator">{{f00.controls['f00SerieFirstChapter'].value?.length || 0}}/30</div>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Style</mat-label>
                            <mat-select [compareWith]="compareObjects" panelClass="addArtworkSelectClass" disableOptionCentering formControlName="f00Category">
                                <mat-option  *ngFor="let obj of listOfStyles" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="f00.controls['f00Category'].invalid">Veuillez sélectionner un style</mat-error>
                            <mat-hint *ngIf="f00Category.value == 'Manga'">La lecture se fera de droite à gauche</mat-hint>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-chip-list #chipList formControlName="f00Tags" aria-label="Genre selection">
                              <mat-chip
                                *ngFor="let genre of genres"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(genre)">
                                {{genre}}
                                <mat-icon [ngClass]="{'invisible': !show_icon }" matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input
                                placeholder="Genres (maximum : 3)"
                                #genreInput
                                [formControl]="genreCtrl"
                                [matAutocomplete]="auto"
                                matAutocompletePosition="below"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" class="custom-scroll addArtworkMatautocompleteClass" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                                {{genre}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

            
                    <!--******************************************************-->
                    <!--Description-->
                    <!--******************************************************-->

                                    
                    <div class="form-item input-multiple-lines">
                        <mat-form-field floatLabel='never'
                        matTooltip="Seuls les 300 premiers caractères seront visibles dans votre miniature. Le rendu est visible ci-dessous." 
                        matTooltipClass='tooltip-add-artwork' 
                        [matTooltipPosition]="'below'"
                        [matTooltipShowDelay]="100">
                            <mat-label>Description</mat-label>
                        
                            <textarea matInput cdkTextareaAutosize formControlName="f00Description" maxLength="2000" autocomplete="off" (input)="normalize_input(f00, 'f00Description');"></textarea>
                            <mat-error *ngIf="f00.controls['f00Description'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                            </mat-error>
                            <div class="length-indicator">{{f00.controls['f00Description'].value?.length || 0}}/2000</div>
                        </mat-form-field>
                    </div>

                    


                    <div class="form-item height-unset" *ngIf="type_of_account=='Artistes' || type_of_account=='Artistes professionnels'
                    || type_of_account=='Artiste professionnelle' || type_of_account=='Artiste professionnel' || type_of_account=='Artiste'">
                        <div class="monetisation-container">
                            <mat-slide-toggle [checked]="monetised" (change)="setMonetisation( $event )" style="font-weight:bold;">
                                Monétiser mon œuvre et autoriser l'apparition en tendances
                            </mat-slide-toggle>
                            <span (click)="read_conditions();" class="read_conditions">(lire les conditions)</span>
                        </div>

                        <div *ngIf="monetised" class="monetised-text">
                            Attention ! Nous vous rappelons que la monétisation d'œuvres plagiées, de fanarts et d'œuvres aux contenus inapproriés sont interdits et susceptibles de se retourner contre vous. 
                        </div>
                    </div>

                </div>
                

                <div class="form-container">
                    <div class="form-container-name">
                        <span>Edition de la miniature</span>
                    </div>
                    <div class="form-container-data">


                        <!--******************************************************-->
                        <!--Miniature-->
                        <!--******************************************************-->

                        <div class="form-group">

                            <app-uploader-bd-cover

                                author_name={{author_name}}
                                pseudo={{pseudo}}
                                primary_description={{primary_description}}
                                [profile_picture]=profile_picture
                                [bd_id]=bd_id
                                firsttag={{f00.value.f00Tags[0]}}
                                secondtag={{f00.value.f00Tags[1]}}
                                thirdtag={{f00.value.f00Tags[2]}}

                                name={{f00.value.f00Title}} 
                                description={{f00.value.f00Description}}
                                category={{f00.value.f00Category}}
                                format={{f00.value.f00Format}}
                            ></app-uploader-bd-cover>

                        </div>


                    </div>
                </div>


                
                <button #nextButton class="submit-button style1" (click)="validateForm00();">
                    <span>Suivant</span>
                </button>

            </form>

            
        </div>

        


        <!--*****************************************************************************-->
        <!--***********f01 : CATEGORY 0 : CARTOON STRIP - STEP 1 - One-shot**************-->
        <!--*****************************************************************************-->
        <div *ngIf=" ( REAL_step==1 || CURRENT_step==1 ) && f00.value.f00Format=='One-shot' " [hidden]="CURRENT_step==0 && f00.value.f00Format=='One-shot'">
            
            <button class="step-back-button" (click)="step_back();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                <span>Retour</span>
            </button>

            
            <!--Forms : adding cartoon strip-->
            <div class="steps">
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==0 }">
                    <div class="step">
                        <span>1</span>
                    </div>
                    <span>Présentation du projet</span>
                </div>
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==1 }">
                    <div class="step">
                        <span>2</span>
                    </div>
                    <span>Téléchargement</span>
                </div>
            </div>

            <app-swiper-upload-oneshot 
            [bdtitle]="f00.value.f00Title" 
            [bd_id]=bd_id 
            [type]="f00.value.f00Format"></app-swiper-upload-oneshot>


        </div>


        <!--*****************************************************************************-->
        <!--***********f01 : CATEGORY 0 : CARTOON STRIP - STEP 1 - Série**************-->
        <!--*****************************************************************************-->
        <div *ngIf=" ( REAL_step==1 || CURRENT_step==1 ) && f00.value.f00Format=='Série' " [hidden]="CURRENT_step==0 && f00.value.f00Format=='Série'">
            
            <button class="step-back-button" (click)="step_back();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                <span>Retour</span>
            </button>
            
            
            <!--Forms : adding cartoon strip-->
            <div class="steps">
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==0 }">
                    <div class="step">
                        <span>1</span>
                    </div>
                    <span>Présentation du projet</span>
                </div>
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==1 }">
                    <div class="step">
                        <span>2</span>
                    </div>
                    <span>Téléchargement</span>
                </div>
            </div>
            
            <app-form-serie 
            form_number=0
            [bd_id]=bd_id
            [bdtitle]="f00.value.f00Title"
            [chapter]=f00.value.f00SerieFirstChapter></app-form-serie>


        </div>



</div>