



/******************************************************************************-->
<!--*****************************************************************************-->
<!--******************************* f00 form ************************************-->
<!--*****************************************************************************-->
<!--******************************************************************************/


.invisible{
    visibility:hidden;
}

.swiper-container2 {
    height:200px;
}


/******************************************************************************-->
<!--*****************************************************************************-->
<!--******************************* f01 form ************************************-->
<!--*****************************************************************************-->
<!--******************************************************************************/



//ng-deeps
/*
::ng-deep .form-control {
    height:45px;
    font-size:unset;
    color:unset;
}*/

/*
::ng-deep .form-container .optWrapper .options .opt.disabled {
    display:none;
}

::ng-deep .form-container .SumoSelect {
    display:block;
    width:unset;
    height:45px;
    background:white;
    border:1px solid rgb(204,204,204);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius:4px;
}*/




