
<div class="component-container">

    <div class="title" *ngIf="!is_for_emojis">
        <span>
            Membres du groupes
        </span>
    </div>

    <div class="subscribers-container">
        <div *ngFor="let item of list_of_ids; let i=index" class="subscriber-card">


            <!--********************-->
            <!--Author container-->
            <!--********************-->
            <div class="author-container">
                <div class="left-container">
                    <img [src]="list_of_pictures[i]" (load)="load_pp(i)" [ngClass]="{'invisible':!list_of_pp_laoded[i]}">
                </div>
                <a href="/account/{{list_of_pseudos[i]}}/{{item}}">
                    <div class="right-container">
                        <span class="author-name">{{list_of_names[i]}} </span>
                        <span class="author-description">@{{list_of_pseudos[i]}}</span>
                    </div>
                </a>

                <div *ngIf="is_for_emojis" style=" margin: auto 20px auto 20px;">
                    <div class="emoji-reaction-content-center">
                        <ngx-emoji 
                        useButton="true"
                        set="apple"
                        emoji="{{list_of_emojis[item]}}"
                        size="30"
                        ></ngx-emoji>
                    </div>
                </div>

            </div>

        </div>
    </div>



</div>