
 <div class="trendings-container large-screen" [@enterAnimation]>
    <img class="background-image " src="https://www.linkarts.fr/assets/img/logo_long_1.png" (load)="cover_loaded()" [ngClass]="{'invisible': !cover_is_loaded }" >
    <span>
        Bienvenue dans la section Tendances !
        <br>
        <br>
        Vous trouverez ici la liste des meilleures œuvres du jour pour chaque catégorie. Seules les œuvres monétisées sont affichées.
        <br>
        <br>
        Une rémunération est attribuée à chaque artiste pour chacune de ses œuvres classées dans le top 15 des tendances, en fonction de son nombre d'abonnés.
    </span>
</div>


<div class="trendings-container small-screen">
    
    <div class="see-more-button" *ngIf="!see_more" [@enterFromTopAnimation]>
        <span>En savoir plus</span>
    </div>

    <div class="opened-text" *ngIf="see_more" [@enterFromTopAnimation]>
        
        <div class="header">
            <div class="horizontal--bar left"></div>
            <div class="trendings-logo"></div>
            <div class="horizontal--bar right"></div>
        </div>

        <span>Vous trouverez ici la liste des meilleures œuvres du jour pour chaque catégorie. Seules les œuvres monétisées sont affichées.</span>
        <div class="horizontal--bar"></div>
        <span>Une rémunération est attribuée à chaque artiste pour chacune de ses œuvres classées dans le top 15 des tendances, en fonction de son nombre d'abonnés.</span>

        <img src="../../assets/img/svg/Logo-LA3-18-01.svg">

    </div>

    <div class="see-less-button" (click)="see_more_button();">
        <mat-icon [ngClass]="{'invisible': !show_icon,'rotate': !see_more }">keyboard_arrow_down</mat-icon>
    </div>
</div>



<div class="panel-background">
    <div class="logos-container" *ngIf="status" [@enterFromTopAnimation]>
        <button class="logo" [ngClass]="{'opened': subcategory == 0 }" (click)="open_subcategory(0);">
            <div class="image1"></div>
            <span class="long-title">Bandes dessinées</span>
            <span class="short-title">BD</span>
        </button>
        <button class="logo" [ngClass]="{'opened': subcategory == 1 }" (click)="open_subcategory(1);">
            <div class="image2"></div>
            <span>Dessins</span>
        </button>
        <button class="logo" [ngClass]="{'opened': subcategory == 2 }" (click)="open_subcategory(2);">
            <div class="image3"></div>
            <span>Écrits</span>
        </button>
    </div>
</div>

<div class="horizontal-bar" *ngIf="status" [@enterFromTop]></div>

<div class="trendings-global-container">
        

   

    <ng-container *ngIf=" (!comics_trendings_sorted_confirmation && subcategory==0) || (!drawings_trendings_sorted_confirmation && subcategory==1) || ( !writings_trendings_sorted_confirmation && subcategory==2)">
        <div class="ranked-thumbnail-container" *ngFor="let item of skeleton_array; let i = index">
            <app-thumbnail-artwork 
            [skeleton]="skeleton"
            page='trendings'
            ></app-thumbnail-artwork>
        </div>
    </ng-container>


    <ng-container *ngIf=" comics_trendings_sorted_confirmation && subcategory==0">
        <ng-container *ngFor="let item of comics_trendings_sorted; let i = index">
            <div *ngIf="comics_trendings_length > i" class="ranked-thumbnail-container" [@enterAnimation]>


                <div *ngIf="item.chaptersnumber > 0 " [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='comic'
                        subscribing_format='serie'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>
                <div *ngIf="item.chaptersnumber == null" [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='comic'
                        subscribing_format='one-shot'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>

            </div>
        </ng-container>
    </ng-container>



    <ng-container *ngIf=" drawings_trendings_sorted_confirmation && subcategory==1">
        <div *ngFor="let item of drawings_trendings_sorted; let i = index">
            <div *ngIf="drawings_trendings_length > i" class="ranked-thumbnail-container" [@enterAnimation]>


                <div *ngIf="item.pagesnumber > 0 " [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='drawing'
                        subscribing_format='artbook'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>
                <div *ngIf="item.pagesnumber == null" [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='drawing'
                        subscribing_format='one-shot'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>
            </div>
        </div>
    </ng-container>


    <ng-container *ngIf=" writings_trendings_sorted_confirmation && subcategory==2">
        <div *ngFor="let item of writings_trendings_sorted; let i = index" class="ranked-thumbnail-container" [@enterAnimation]>


            <div *ngIf="writings_trendings_length > i" [@enterAnimation]>
                <app-thumbnail-artwork 
                    [item]=item
                    page='trendings'
                    [rank]=i+1
                    subscribing_category='writing'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-artwork>  
            </div>
        </div>
    </ng-container>

</div>



