
<!--<div class="loading-page" *ngIf="!comics_trendings_sorted_confirmation && !drawings_trendings_sorted_confirmation && !writings_trendings_sorted_confirmation">
    <mat-spinner diameter="50" ></mat-spinner>
</div>-->



<div class="panel-background">
    <div class="logos-container" [@enterFromTopAnimation]>
        <button class="logo" [ngClass]="{'opened': subcategory == 0 }" (click)="open_subcategory(0);">
            <div class="image1"></div>
            <span>Bandes dessinées</span>
        </button>
        <button class="logo" [ngClass]="{'opened': subcategory == 1 }" (click)="open_subcategory(1);">
            <div class="image2"></div>
            <span>Dessins</span>
        </button>
        <button class="logo" [ngClass]="{'opened': subcategory == 2 }" (click)="open_subcategory(2);">
            <div class="image3"></div>
            <span>Écrits</span>
        </button>
    </div>
</div>

<div class="trendings-global-container">
        


    <ng-container *ngIf=" (!comics_trendings_sorted_confirmation && subcategory==0) || (!drawings_trendings_sorted_confirmation && subcategory==1) || ( !writings_trendings_sorted_confirmation && subcategory==2)">
        <div class="ranked-thumbnail-container" *ngFor="let item of skeleton_array; let i = index">
            <app-thumbnail-artwork 
            [skeleton]="skeleton"
            page='trendings'
            ></app-thumbnail-artwork>
        </div>
    </ng-container>


    <ng-container *ngIf=" comics_trendings_sorted_confirmation && subcategory==0">
        <ng-container *ngFor="let item of comics_trendings_sorted; let i = index">
            <div *ngIf="comics_trendings_length > i" class="ranked-thumbnail-container" [@enterAnimation]>


                <div *ngIf="item.chaptersnumber > 0 " [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='comic'
                        subscribing_format='serie'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>
                <div *ngIf="item.chaptersnumber == null" [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='comic'
                        subscribing_format='one-shot'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>

            </div>
        </ng-container>
    </ng-container>



    <ng-container *ngIf=" drawings_trendings_sorted_confirmation && subcategory==1">
        <div *ngFor="let item of drawings_trendings_sorted; let i = index">
            <div *ngIf="drawings_trendings_length > i" class="ranked-thumbnail-container" [@enterAnimation]>


                <div *ngIf="item.pagesnumber > 0 " [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='drawing'
                        subscribing_format='artbook'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>
                <div *ngIf="item.pagesnumber == null" [@enterAnimation]>
                    <app-thumbnail-artwork 
                        [item]=item
                        page='trendings'
                        [rank]=i+1
                        subscribing_category='drawing'
                        subscribing_format='one-shot'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-artwork> 
                </div>
            </div>
        </div>
    </ng-container>


    <ng-container *ngIf=" writings_trendings_sorted_confirmation && subcategory==2">
        <div *ngFor="let item of writings_trendings_sorted; let i = index" class="ranked-thumbnail-container" [@enterAnimation]>


            <div *ngIf="writings_trendings_length > i" [@enterAnimation]>
                <app-thumbnail-artwork 
                    [item]=item
                    page='trendings'
                    [rank]=i+1
                    subscribing_category='writing'
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-artwork>  
            </div>
        </div>
    </ng-container>

</div>



