
  /*
   * Content
   */

   $number: 1000; 
  

   

    a {
      color:#333;
      cursor:pointer;
    }
    
    a:hover {
      text-decoration: none;
    }
 
   hr {
     margin-right:45%;
     margin-left:45%;
     margin-top:0px;
     border: 0;
     border-top: 1px solid rgb(190, 173, 96);
   }
 


.horizontal-bar {
  width: 9%;
  height: 2px;
  box-shadow: 0px 3px 2px 0px #c1c1c1;
  margin: 18px auto 36px auto;
}


.main-title{
  display: flex;
  position: relative;
  justify-content: center;
  width: calc(100% - 80px);
  margin: auto;
  .title{
    font-size: 20px;
    font-weight: 600;
    color: #203864;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  .see-more-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    right: -30px;
    top: 11px;
    position: absolute;

    border-radius: 50px;
    font-weight: bold;
    color: white;
    background: rgba(2, 18, 54, 0.9);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 2px 0px rgb(0 0 0 / 12%);
    outline: none !important;
    border: unset;
    display: -webkit-box;
    justify-content: center;
    display: flex;

    .information{
      width: 0px;
      display: block;
      position: absolute;
      background: linear-gradient(  0.5turn, rgba(2, 18, 54), rgba(19, 51, 100));
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      z-index: 99;
      padding: 10px;
      width: 310px;
      top: 45px;
      border-radius: 10px;
      right: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 400ms;
      span{
        color: white !important;
        font-size: 12px !important;
        font-weight: 600 !important;
        text-align: justify;
      }

      .first-text{
        display: flex;
        justify-content: left;

        img{
          height: 34px;
          float:left;
          margin-right: 5px;
        }
      }

      .second-text{
        display: flex;
        justify-content: left;
        margin-top: 10px;
        img{
          height: 34px;
          float:right;
          margin-left: 5px;
        }
      }
    }

    

    .information::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        right: 22px; 
        border: .75rem solid transparent;
        border-top: none;
        border-left: 22px solid transparent;
        border-right: 0px solid transparent;
        border-bottom-color: rgba(2, 18, 54);
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
      }
   
  }

  .see-more-button:hover .information{
   
    opacity: 1;
    width: 310px;
    visibility: visible;
  }
}

.panel-background {
  padding: 15px 10px;
  overflow: hidden;
  
  .logos-container {
    display: flex;
    justify-content: center;
    width: 100%;
    .logo {
      user-select: none;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 10px 15px 10px 15px;
      width: 145px;;
      height: 145px;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 150px;
      transition: all 200ms;
      background:linear-gradient(0.5turn, rgba(255, 255, 255, 0.9), #e6ebf1);
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);


      span {
        display: flex;
        font-size: 14px;
        width: 100%;
        height: 28px;
        font-weight: 600;
        color: #53627d;
        margin: 0px auto auto auto;
        text-align: center;
        align-items: center;
        justify-content: center;

        transition: all 300ms;

        &.short-title {
          display:none;
        }
        
        @media (max-width: 500px) {
          &.short-title {
            display:flex;
          }
          &.long-title {
            display:none;
          }
        }
      }

      .image1 {
        height: calc(100% - 80px);
        width: 100%;
        margin-left:3px  !important;
        margin: auto auto 5px auto;
      background:#53627d;
        transition: all 300ms;
        mask: url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
      }
      .image2 {
        height: calc(100% - 80px);
        width: 100%;
        margin: auto auto 5px auto;
      background:#53627d;
        transition: all 300ms;
        mask: url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
      }
      .image3 {
        margin-left:1px  !important;
        height: calc(100% - 80px);
        width: 100%;
        margin: auto auto 5px auto;
      background:#53627d;
        transition: all 300ms;
        mask: url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
      }

      &:hover {
        box-shadow: 0px 0px 1px -2px #000000ab, 0px 2px 2px 0px #85869e73, 0px 0px 2px 0px #90909057;
        .image1,
        .image2,
        .image3 {
          background:rgb(32,56,100);
        }
        span {
          font-weight: 600;
          color: rgb(32,56,100) !important;
        }
      }
      &:active {
        transform: scale(0.98);
      }
      &.opened {
        box-shadow: 0px 0px 1px -2px #000000ab, 0px 2px 2px 0px #85869e73, 0px 0px 2px 0px #90909057;
        background-image: linear-gradient(0.0turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
       
        .image1,
        .image2,
        .image3 {
          background: #f9f9f9;
        }
        span {
          font-weight: 600;
          color: #f9f9f9 !important;
        }
      }
    }
  }
}

.comic-bubble-icon {
  background-image:none !important;
  background-color: rgb(255, 255, 255);
  width:30px;
  height:30px;
  margin:auto 10px auto auto;
  -webkit-mask:  url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
}
.pencil-icon {
  background-image:none !important;
  background-color: rgb(255, 255, 255);
  width:25px;
  height:25px;
  margin:auto 10px auto auto;
  -webkit-mask:  url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
}
.writing2-icon {
  background-image:none !important;
  background-color: rgb(255, 255, 255);
  width:28px;
  height:28px;
  margin:auto 10px auto auto;
  -webkit-mask:  url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
}






.panel-controller .right-container {
  display:flex;
  float:right;
  height:100%;
  margin-right:50px;
}

.panel-controller .right-container .dropdowns-container {
  display:flex;
}

.panel-controller .right-container select{
  display:flex;
  float:right;
  height:100%;
}


.panel-controller .right-container select{
  display:flex;
  float:right;
  height:100%;
}



mat-spinner {
  margin: auto;
  ::ng-deep circle {
      stroke: rgb(32,56,100);
  }
}
.loading-page{
  position:relative;
  margin-top:calc(50vh - 180px);
}

.ranking {
  box-shadow: 0px 2px 1px -2px rgba(0, 0, 0, 0.2), 0px 3px 1px 0px rgba(0, 0, 0, 0.14), 0px 5px 14px 0px rgba(0, 0, 0, 0.12);
}

.ranking .shining-box {
  padding-top: 10px;
  padding-bottom: 7px;
  display:flex;
  background-image: linear-gradient(
      to right,
      transparent 33%,
      rgba(255,255,255,0.3) 50%,
      transparent 66%
  );
  background-size:300% 100%;
  animation: shine 2s infinite;
}

.ranking.gold {
  background-image: linear-gradient(-280deg,#eee142,#ffbb23);
}
.ranking.silver {
  background-image: linear-gradient(-280deg, #e2e2e2, #bdbdbd);
}
.ranking.bronze {
  background-image: linear-gradient(-280deg, #ffb48a, #f27025);
}
.ranking.other {
  background-image: linear-gradient(-280deg, #d7ebff,#9ecbf2);
}

.ranking .ranking-number {
  margin: auto auto 5px 10px;
  font-size: 17px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid rgb(32,56,100);
  border-radius: 100px;
  cursor:default;
}

.ranked-thumbnail-container {
  //max-width: 900px;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom: 15px;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

.skeleton {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  height: 269px;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: gainsboro;
  background-image: linear-gradient(to right, transparent 33%, rgb(255 255 255 / 70%) 50%, transparent 66%);
  background-size: 300% 100%;
  animation: shine 1500ms infinite;
}




@keyframes shine {
  0% {
      background-position: right;    
  }
  /*100% {
      background-position: left; it's the default value, no need to define it
  }*/
}


.trendings-global-container {
  margin-right:auto;
  padding-bottom: 45px;
}


@media (max-width: 600px) {
  .skeleton {
    height: 500px !important;
  }
}



@media (max-width: 1120px) {
  .trendings-global-container {
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
}


/*responsivité*/
@media (max-width: 700px) {
  .panel-background {
    .logos-container {
      .logo {
        width: 130px;
        height: 130px;

        .image1,.image2,.image3 {
          height: calc(100% - 70px);
        }
        span {
          font-size:12px;
          height:22px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .panel-background {
    .logos-container {
      .logo {
        width: 100px;
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;

        .image1,.image2,.image3 {
          height: calc(100% - 45px);
          margin: auto auto 0px auto;
        }
        span {
          font-size:9px;
          height:22px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .panel-background {
    .logos-container {
      .logo {
        height:90px;
        width:90px;
      }
    }
  }
}

