
.popup-container {
    display:flex;
    flex-direction: column;
    margin: 20px 50px 0px 50px;

    @media (max-width:600px) {
        margin: 20px 20px 0px 20px;
        > span {
            font-size: 12px;
        }
    }

    color:rgb(32,56,100);

    .alert-icon {
        width:100%;
        display:flex;
        mat-icon {    
            cursor:default;
            width: unset;
            height: unset;
            font-size: 40px;
            margin: 10px auto 5px auto;
        }
    }

    > span {
        cursor:default;
        max-width:520px;
        text-align:center;
        font-weight: 500;
    }
}

.cropper-animations {
    justify-content: center;
    display:flex;
    flex-direction:column;
    margin-bottom: 30px;
    
    mat-icon {
        font-weight: 600;

        &.green {
            color:green;
        }
        &.red {
            color:red;
        }
    }
    .arrow-top {
        margin:auto auto 0px auto;
        &.green {
            animation: uparrow 0.6s infinite alternate ease-in-out;
        }
    }
    .arrow-bottom {
        margin:0px auto auto auto;
        &.green {
            animation: downarrow 0.6s infinite alternate ease-in-out;
        }
    }
    .arrow-left {
        margin:auto 0px auto auto;
        &.green {
            animation: leftarrow 0.6s infinite alternate ease-in-out;
        }
    }
    .arrow-right {
        margin:auto auto auto 0px;
        &.green {
            animation: rightarrow 0.6s infinite alternate ease-in-out;
        }
    }
    > div {
        display:flex;
    }
    &.higher-crop .crop {
        width: 200px;
        height: 70px;
        border: 1px solid #679ed4;
        border-radius: 5px;
        background: #f9fbfd;
    }
    &.larger-crop .crop {
        width: 90px;
        height: 200px;
        border: 1px solid #679ed4;
        border-radius: 5px;
        background: #f9fbfd;
    }

}


@keyframes uparrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}
@keyframes leftarrow {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(-0.4em); opacity: 0.9 }
}
@keyframes rightarrow {
    0% { -webkit-transform: translateX(0); opacity: 0.4 }
    100% { -webkit-transform: translateX(0.4em); opacity: 0.9 }
}

  

.buttons-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.buttons-container button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 35px;
    background-color: unset;
    outline: none;
    border: 1px solid #203864;
    background: white;
    display: flex;
    padding: 8px 22px;
    font-size: 14px;

    span {
        margin: auto auto;
        color: #203864;
        font-weight: bold;
    }
    
}

.buttons-container button:hover {
    background:#eeeff3 !important;
    box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
}

.buttons-container button:active {
    background: #e2e5eb !important;
    box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
}

::ng-deep .popupConfirmationClass {
    max-width: 900px !important;

    .mat-dialog-container {    
        max-height: 90vh;
        max-width: 90vw;
        overflow: auto;
        
        @media (max-width:500px) {
            max-height: 95vh;
            max-width: 94vw;
        }

        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 15px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 15px;
            background-color: transparent;
        }
        &:hover {
            scrollbar-color: #dadada transparent;
            &::-webkit-scrollbar-thumb {
                background-color: #dadada;
            }
        }
    }
    /*
    @media (min-width:701px) {
        max-width:80vw;
        width:unset !important;
    }*/
}