
<div class="popup-container">

    <div class="alert-icon">
        <mat-icon [ngClass]="{'invisible': !show_icon }">error_outline</mat-icon>
    </div>

    <span>
        {{data.text}}
    </span>


    <div *ngIf="data.showChoice" class="buttons-container">
        <button (click)="cancel();">
            <span>Annuler</span>
        </button>
        <button [mat-dialog-close]=true>
            <span>Continuer</span>
        </button>
    </div>

    <div *ngIf="!data.showChoice" class="buttons-container">
        <button (click)="cancel();">
            <span>Continuer</span>
        </button>
    </div>

</div>