@import "../../artwork-styles.scss";
@import "../../unsecured-ng-deeps.scss";



.artwork {
    .artwork-container {
        height:unset !important;
        .content-container {
            height:unset !important;

            .slide-container {
                justify-content: center !important;
            }
        }
    }
}


/*&.isFirefox {
    ::ng-deep {
        .ng2-pdf-viewer-container {
            .pdfViewer {
                padding-right:8px;
            }
        }
    }
}*/

.swiper-slide-writing {

    width:fit-content;
    overflow:auto;
    margin: auto auto;
    height: 100%;
    overflow-y: scroll;

    scrollbar-width:thin;
    scrollbar-color: #152646 #091731;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color:#091731;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #152646;
    }

    ::ng-deep {
        .ng2-pdf-viewer-container {
            scrollbar-width:thin;
            scrollbar-color: #455573 #091731;
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background-color:#091731;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #455573;
            }
        }
    }

    
}

.swiper-wrapper {
    justify-content: center;
}
.swiper-artwork-writing{
    min-height: 500px;
}