<div class="artwork white-background" *ngIf="page_not_found" #artwork>
    <app-page-not-found></app-page-not-found>
</div>


<button (click)="add_time_of_view();close_popup()" class="close-popup" *ngIf="writing_id_input" #close>
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>

<div class="artwork writing" *ngIf="!page_not_found" #artwork>
    

    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!!!! ARTWORK CONTAINER !!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div  #artwork_container  class="artwork-container" [@enterFromLeftAnimation] >

        <ng-container *ngIf="!item_retrieved ">
            <div class="top-container">

                <div class="dark-shiny loading10b ">
    
                </div>
    
            </div>
    
            <div class="content-container swiper-artwork-writing" style="padding: 10px;">
                <div class="loading-pic2 dark-shiny swiper-artwork-writing">
    
                </div>
            </div>
        </ng-container>


        <div class="top-container" [ngClass]="{'really-invisible': !item_retrieved }">
            
            <div class="buttons-container">

                <div class="left-options" [ngClass]="{'closed': optionOpened!=0}" (click)="openOption(0);">

                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="smallScreen" *ngIf="optionOpened!=0">
                        video_settings
                    </mat-icon>

                    <div class="button" *ngIf="!fullscreen_mode && writing_retrieved" [@enterAnimation] (click)="fullscreen_button();"
                    matTooltip="Mode plein écran"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">fullscreen</mat-icon>
                    </div>
                    <div class="button" *ngIf="fullscreen_mode && writing_retrieved" [@enterAnimation] (click)="fullscreen_button();"
                    matTooltip="Quitter le mode plein écran"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">fullscreen_exit</mat-icon>
                    </div>
                    
    
                    <div class="pages-controller-container title-option" >
                        <span class="title-option-artwork" >{{title}}</span>
                    </div>

                    <div class="pages-controller-container"  [ngClass]="{'invisible': !writing_retrieved }">
                        <span>Page :</span>
                        <input #input  (keyup)="change_page($event)" type="text" aria-label="" role="navigation" size="5">
                        <div class="total-pages" >
                            <span>/ {{total_pages}}</span>
                        </div>
                    </div>
                    
                    <div class="button close rotate" *ngIf="optionOpened==0" (click)="openOption(-1);stop($event);">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">double_arrow</mat-icon>
                    </div>
                </div>

            </div>
        </div>

        <div #leftContainer class="content-container swiper-artwork-writing" [ngClass]="{'really-invisible': !item_retrieved}" >
          
            <div #swiperContainer class="swiper-container swiper-artwork-writing">
                <div #swiperWrapper class="swiper-wrapper swiper-artwork-writing">

                    <div class="loading-page">
                        <mat-spinner diameter="50" *ngIf="!item_retrieved" ></mat-spinner>
                    </div>

                    <div #slide class="swiper-slide swiper-slide-writing" [ngClass]="{'invisible': !writing_retrieved }">
                        <pdf-viewer
                        class="pdf-document" 
                        [src]="pdfSrc"
                        [render-text]="true" 

                        [autoresize]="true" 
                        [show-all]="true"
                        [original-size]='true' 

                        [fit-to-page]='true' 
                        (page-rendered)="pageRendered($event)"
                        (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>
                    </div>

                  
                </div>
            </div>
        </div>



        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!--!!!!!!!! RECOMMENDATIONS CONTAINER !!!!!!!!!!!-->
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class="recommendations-container" *ngIf="list_of_author_recommendations_retrieved">
            
            <div class="categories">
                <button [ngClass]="{'opened': left_container_category_index==0 }"
                    (click)="open_left_container_category(0);">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">account_circle</mat-icon>
                    <span>Du même auteur</span>
                </button>
                <button [ngClass]="{'opened': left_container_category_index==1 }"
                    (click)="open_left_container_category(1);">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">burst_mode</mat-icon>
                    <span>Similaires</span>
                </button>
            </div>

            <!--********************-->
            <!--********************-->
            <!--SAME AUTHOR ARTWORKS-->
            <!--********************-->
            <!--********************-->
            <ng-container *ngIf="left_container_category_index==0">

                <div class="recommendation-group" *ngIf=" list_of_author_recommendations_writings.length>0 && list_of_author_recommendations_writings_retrieved">
                    <div class="title">Écrits</div>
                    <div class="thumbnail-container" *ngFor="let item of list_of_author_recommendations_writings; let i=index">

                        <app-thumbnail-artwork  in_artwork=true [artwork_container]=artwork_container (click)="stop($event);add_time_of_view();close_popup()"   [item]=item[0] page='subscribings'
                            now_in_seconds={{now_in_seconds}} subscribing_category='writing'>
                        </app-thumbnail-artwork>
                    </div>
                </div>

               
                
                <div class="recommendation-group" *ngIf=" !list_of_author_recommendations_writings.length">
                    <div class="no-recommendation">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                        <span>Aucune recommendation disponible</span>
                    </div>
                </div>

            </ng-container>

            <!--******************-->
            <!--******************-->
            <!--SAME TYPE ARTWORKS-->
            <!--******************-->
            <!--******************-->
            <ng-container *ngIf="left_container_category_index==1 && list_of_recommendations_by_tag_retrieved ">

                <div class="recommendation-group" *ngIf="list_of_recommendations_by_tag.length>0">
                    <div class="thumbnail-container" *ngFor="let item of list_of_recommendations_by_tag; let i=index">
                        <app-thumbnail-artwork  in_artwork=true [artwork_container]=artwork_container (click)="stop($event);add_time_of_view();close_popup()"   [item]=item page='subscribings'
                            now_in_seconds={{now_in_seconds}} subscribing_category='writing'>
                        </app-thumbnail-artwork>
        
                    </div>
                </div>
                <div class="recommendation-group" *ngIf="list_of_recommendations_by_tag.length==0">
                    <div class="no-recommendation">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                        <span>Aucune recommendation disponible</span>
                    </div>
                </div>

            </ng-container>
        </div>
    </div>

    
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!! INFORMATIONS CONTAINER !!!!!!!!!!!!!-->
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div #myScrollContainer class="artwork-about-container"  [@enterFromRightAnimation] (scroll)="onScrollComments()">
        

        <ng-container *ngIf=" !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved">
            
            
            <div class="artwork-title" >
            
                <div class="artwork-serie">
                    <div class="loading11 dark-shiny"></div>
                </div>

            </div>

            <div class="data-container">
                <div class="likes-and-loves-buttons">
                    <div class="loading13 dark-shiny">
                    </div>
                    <div class="loading13 dark-shiny">
                    </div>
                </div>
                
    
                <div class="view-and-date-numbers">
                    <span class="loading14 dark-shiny">
                    </span>
                </div>
                
            </div>

            <div class="author-container">
                <div class="left-container">

                    <div  class="dark-shiny"></div>
                </div>
                <div class="right-container">
                    <span class="author-name dark-shiny loading5">
        
                    </span>
                    <span class="author-description loading6 dark-shiny"></span>
                   
                   
                </div>
        
            </div>
    
    
            <div class="comment-container" >
                <div class=" loading5 dark-shiny"></div>
                
                <div class="first-comment-container loading9 dark-shiny">
                </div>
            </div>
            
    
            <div class="adad-container">
                <div class="dark-shiny loading-pic">
                </div>
            </div>
            
            
        
    
        </ng-container>


        <div class="artwork-title"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            
            <div class="artwork-serie" >
                <div class="first-line">{{title}}</div> 
           
            </div>
            
        </div>


        
        <div class="data-container"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            <div class="likes-and-loves-buttons" >
                <button [disabled]="like_in_progress" class="like-background"
                    [ngClass]="{'liked': liked }" (click)="click_like();">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">thumb_up</mat-icon>
                    <span>J'aime</span>
                </button>
                <button [disabled]="love_in_progress" class="love-background"
                    [ngClass]="{'loved': loved }" (click)="click_love();">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">favorite</mat-icon>
                    <span>J'adore</span>
                </button>
            </div>
            
            <div class="likes-and-loves-numbers">
                <div class="d2-likes" (click)="show_likes()">
                    <span [ngClass]="{'invisible': !list_of_users_ids_likes_retrieved }" >{{likesnumber}}</span>
                </div>
                <div class="d2-loves" (click)="show_loves()">
                    <span [ngClass]="{'invisible': !list_of_users_ids_loves_retrieved }" >{{lovesnumber}}</span>
                </div>
            </div>


            <div class="view-and-date-numbers">
                <span>
                    <ng-container *ngIf="viewsnumber == 0">Aucune vue</ng-container>
                    <ng-container *ngIf="viewsnumber == 1">1 vue</ng-container>
                    <ng-container *ngIf="viewsnumber > 1">{{viewsnumber}} vues</ng-container>
                     • {{date_upload_to_show}}
                </span>
            </div>

            <div class="view-and-date-numbers">
                <div >
                    <button mat-icon-button (click)="add_share_history('facebook')"
                        style="outline: none !important;"
                    shareButton="facebook"
                    #fbBtn="shareButton"
                    [style.color]="fbBtn?.color"
                    [url]=url>
                    <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-icon-button (click)="add_share_history('twitter')"
                        style="outline: none !important;"
                            shareButton="twitter"
                            #twtBtn="shareButton"
                            [style.color]="twtBtn?.color"
                            [url]=url>
                    <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-icon-button (click)="add_share_history('pinterest')"
                        style="outline: none !important;"
                            shareButton="pinterest"
                            #pinBtn="shareButton"
                            [style.color]="pinBtn?.color"
                            [url]=url>
                    <fa-icon *ngIf="pinBtn" [icon]="pinBtn.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-icon-button (click)="add_share_history('whatsapp')"
                        style="outline: none !important;"
                            shareButton="whatsapp"
                            #whaBtn="shareButton"
                            [style.color]="whaBtn?.color"
                            [url]=url>
                    <fa-icon *ngIf="whaBtn" [icon]="whaBtn.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-icon-button (click)="add_share_history('linkedin')"
                        style="outline: none !important;"
                            shareButton="linkedin"
                            #msgBtn="shareButton"
                            [style.color]="msgBtn?.color"
                            [url]=url>
                    <fa-icon *ngIf="msgBtn" [icon]="msgBtn.icon" size="lg"></fa-icon>
                    </button>
                    <button mat-icon-button (click)="add_share_history('copy')"
                        style="outline: none !important;"
                            shareButton="copy"
                            #insBtn="shareButton"
                            [style.color]="insBtn?.color"
                            [url]=url>
                        <fa-icon *ngIf="insBtn" [icon]="insBtn.icon" size="lg"></fa-icon>
                    </button>
                </div>

                <div class="right-part" *ngIf="type_of_account=='account'">
                    <div class="options-buttons options-buttons-artwork">

                        <div *ngIf="archive_loading" class="archive-loading"> 
                            <mat-spinner diameter="18"  ></mat-spinner>
                        </div>
        
                        <button *ngIf="!archive_loading && mode_visiteur_added && (!mode_visiteur || visitor_id==1)  && archive_retrieved " tabIndex="-1" [matMenuTriggerFor]="artworkOptions01">
                            <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                        </button>
                        <mat-menu #artworkOptions01="matMenu" class="artwork-mat-menu">
                            <button class="artwork-button-menu-item" mat-menu-item (click)="edit_information();">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                                <span>Modifier les informations</span>
                            </button>
                            <button *ngIf="!content_emphasized && status=='public'" class="artwork-button-menu-item" mat-menu-item (click)="emphasize()">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">trending_up</mat-icon>
                                <span>Mettre l'oeuvre en avant</span>
                            </button>
                            <button *ngIf="content_emphasized && status=='public'" class="artwork-button-menu-item" mat-menu-item (click)="remove_emphasizing()">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">trending_down</mat-icon>
                                <span>Annuler la mise en avant</span>
                            </button>
                            <button class="artwork-button-menu-item" mat-menu-item (click)="edit_thumbnail();">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">view_carousel</mat-icon>
                                <span>Modifier la miniature</span>
                            </button>
                            <button *ngIf="status=='public'" class="artwork-button-menu-item" mat-menu-item (click)="set_private();">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">bookmark</mat-icon>
                                <span>Archiver</span>
                            </button>
                            <button *ngIf="status=='private'" class="artwork-button-menu-item" mat-menu-item (click)="set_public();">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">unarchive</mat-icon>
                                <span>Désarchiver</span>
                            </button>
                            <button class="artwork-button-menu-item" mat-menu-item (click)="remove_artwork();">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">clear</mat-icon>
                                <span>Supprimer</span>
                            </button>
                            <button class="artwork-button-menu-item" mat-menu-item *ngIf="monetization=='true'" disabled>
                                <mat-icon [ngClass]="{'invisible': !show_icon }">euro_symbol</mat-icon>
                                <span>Œuvre monétisée</span>
                            </button>
                        </mat-menu>
                
                        <!--options pour un visiteur -->
                        <button *ngIf="!archive_loading && mode_visiteur_added && mode_visiteur && visitor_id!=1 && archive_retrieved && type_of_account=='account'" class="optionsMenu" [matMenuTriggerFor]="artworkOptions02">
                            <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                        </button>
                        <mat-menu #artworkOptions02="matMenu" class="artwork-mat-menu">
                            <button *ngIf="mode_visiteur && !(list_of_reporters && list_of_reporters.indexOf(visitor_id)>=0)"
                                class="artwork-button-menu-item" tabIndex="-1" mat-menu-item (click)="report()">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                                <span>Signaler</span>
                            </button>
                            <button *ngIf="mode_visiteur && (list_of_reporters && list_of_reporters.indexOf(visitor_id)>=0)"
                                class="artwork-button-menu-item" tabIndex="-1" mat-menu-item (click)="cancel_report()">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                                <span>Annuler le signalement</span>
                            </button>
                            <button (click)="archive()" class="artwork-button-menu-item" mat-menu-item *ngIf="!content_archived">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">bookmark</mat-icon>
                                <span>Archiver</span>
                            </button>
                            <button (click)="unarchive()" class="artwork-button-menu-item" mat-menu-item *ngIf="content_archived">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">unarchive</mat-icon>
                                <span>Désarchiver</span>
                            </button>
                            <button class="artwork-button-menu-item" mat-menu-item (click)="open_chat_link()">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">create</mat-icon>
                                <span>Écrire</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
                
                
            </div>
            
        </div>

          <!--********************-->
        <!--Author container-->
        <!--********************-->
        <div class="author-container"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            <a [routerLink]=open_account() (click)="stop($event);add_time_of_view();close_popup()" class="left-container"
            matTooltip="Voir le profil"
            matTooltipClass='linkarts-tooltip' 
            [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="200">
                <img [src]="profile_picture" (load)="profile_picture_loaded()" [ngClass]="{'really-invisible':!pp_loaded}">
                <div *ngIf="!pp_loaded" class="dark-shiny"></div>
            </a>
            <div class="right-container">
                <span class="author-name" *ngIf="user_name!=''">
                    <a [routerLink]=open_account() (click)="stop($event);add_time_of_view();close_popup()"
                    matTooltip="Voir le profil"
                    matTooltipClass='linkarts-tooltip' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">
                        {{user_name}}
                    </a>

                    <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="certified_account"
                    matTooltip="Compte certifié" 
                    matTooltipClass='linkarts-tooltip' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">verified</mat-icon>

                    <span *ngIf="type_of_account_checked" class="pro-logo"
                    matTooltip="Compte professionnel" 
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">PRO</span>

                </span>
                <span class="author-description" *ngIf="pseudo!=''">@{{pseudo}}</span>
            </div>

            <div  *ngIf="mode_visiteur_added && mode_visiteur" class="subscribing-container">
                <button (click)="subscribtion()" [disabled]="loading_subscribtion" *ngIf="already_subscribed" [@enterAnimation] class="opened"
                tabIndex="-1">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">notifications_active </mat-icon>
                    <span>Abonné(e)</span>
                </button>
                <button (click)="subscribtion()" [disabled]="loading_subscribtion" *ngIf="!already_subscribed" [@enterAnimation]
                tabIndex="-1">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">person_add</mat-icon>
                    <span>S'abonner</span>
                </button>
            </div>
        </div>

        
        <div class="category-container"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            
            <div class="verso-type">
                <!--******************************************************-->
                <!--************************COMICS************************-->
                <!--******************************************************-->
                <a class="type-container" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='linkarts-tooltip'
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event);add_time_of_view();close_popup()">
                    <span *ngIf="style=='Poetry'">Poésie</span>
                    <span *ngIf="style=='Illustrated novel'">Roman illustré</span>
                    <span *ngIf="style=='Scenario'">Scénario</span>
                    <span *ngIf="style!='Poetry' && style!='Illustrated novel' && style!='Scenario'">{{style}}</span>
                </a>
                
                <a class="type-container open-description" (click)="see_description();">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">add</mat-icon>
                    <span>Voir plus</span>
                </a>
            </div>

        </div>

      


        <div class="comment-container" (click)="see_comments();"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            <div class="number-of-comments" *ngIf="commentariesnumber">
                <span>Commentaires</span>
                <span class="second-span">&nbsp; ({{commentariesnumber}})</span>
            </div>
            <div class="number-of-comments" *ngIf="!commentariesnumber ">
                <span>Soyez le premier à ajouter un commentaire !</span>
            </div>
           
            
            <div class="first-comment-container" *ngIf="commentariesnumber && first_comment_retrieved">
                <div class="profile-picture " [ngClass]="{'dark-shiny': !first_comment_pp_loaded }">
                    <img [src]="pp_first_comment"  (load)="load_first_comment_pp()"  [ngClass]="{'invisible': !first_comment_pp_loaded }">
                </div>
                <div class="comment" >
                    {{first_comment}}
                </div>
            </div>
            <div class="first-comment-container loading9 dark-shiny" *ngIf="commentariesnumber && !first_comment_retrieved">
            </div>
        </div>
        

        <a  href="/donation" class="adad-container"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            <div class="adad-link2">
                <span>Votre site a besoin de vous !</span>
            </div>
            <div class="adad">
            </div>
            <div class="adad-link">
                <span>Soutenez le site en faisant un don </span>
                <div class="adad-icon">
                </div>
            </div>
        </a>


        <div class="description-and-comments no-border-style"  [ngClass]="{'really-invisible': !archive_retrieved || !mode_visiteur_added || !subscribtion_retrieved}">
            <div class="categories">
                <button [ngClass]="{'opened': category_index==0 }"
                    (click)="open_category(0);">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">description</mat-icon>
                    <span>Description</span>
                </button>
                <button [ngClass]="{'opened': category_index==1 }"
                    (click)="open_category(1);">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">comment</mat-icon>
                    <span>Commentaires</span>
                </button>
            </div>

            <ng-container *ngIf="category_index==0">
                <div class="verso-type">
                    <a class="type-container" [routerLink]=get_link()
                    matTooltip="Voir du contenu de ce style"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200"
                        (click)="stop($event);add_time_of_view();close_popup()">
                        <span *ngIf="style=='Poetry'">Poésie</span>
                        <span *ngIf="style=='Illustrated novel'">Roman illustré</span>
                        <span *ngIf="style=='Scenario'">Scénario</span>
                        <span *ngIf="style!='Poetry' && style!='Illustrated novel' && style!='Scenario'">{{style}}</span>
                    </a>
                </div>
                <div class="verso-type">
                    <a class="type-container style" [routerLink]=get_style_link(0)
                    matTooltip="Voir du contenu de ce genre"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200"
                    *ngIf="firsttag"
                    (click)="stop($event);add_time_of_view();close_popup()"><span>{{firsttag}}</span></a>
                    <a class="type-container style" [routerLink]=get_style_link(1)
                    matTooltip="Voir du contenu de ce genre"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200"
                    *ngIf="secondtag"
                    (click)="stop($event);add_time_of_view();close_popup()"><span>{{secondtag}}</span></a>
                    <a class="type-container style" [routerLink]=get_style_link(2)
                    matTooltip="Voir du contenu de ce genre"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200"
                    *ngIf="thirdtag"
                    (click)="stop($event);add_time_of_view();close_popup()"><span>{{thirdtag}}</span></a>
                </div>
                <div class="highlight">
                    <span>{{highlight}}</span>
                </div>
            </ng-container>

            
            <div [ngClass]="{'really-invisible': category_index!=1 }" *ngIf="item_retrieved && mode_visiteur_added">
                <app-comments [type_of_account]=type_of_account 
                [title]="title" 
                [visitor_id]="visitor_id"
                [visitor_name]="visitor_name"
                [visitor_mode]="mode_visiteur"
                category='writing' 
                format='unknown'
                [style]=style 
                [publication_id]=writing_id 
                chapter_number=0 
                [authorid]=authorid
                [number_of_comments_to_show]=number_of_comments_to_show 
                [commentariesnumber]=commentariesnumber 
                (first_comment)="first_comment_received($event)"
                (new_comment)="new_comment();"
                (removed_comment)="removed_comment();"
                (click_on_user)="after_click_comment($event);"></app-comments>
            </div>
        </div>
        
        
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!--!!!!!!!! RECOMMENDATIONS CONTAINER !!!!!!!!!!!-->
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class="recommendations-container no-border-style" *ngIf="(!list_of_author_recommendations_retrieved || !list_of_recommendations_by_tag_retrieved) ">
            <div class="categories">
                <button [ngClass]="{'opened': left_container_category_index==0 }"
                    >
                    <mat-icon [ngClass]="{'invisible': !show_icon }">account_circle</mat-icon>
                    <span>Du même auteur</span>
                </button>
                <button [ngClass]="{'opened': left_container_category_index==1 }"
                  >
                    <mat-icon [ngClass]="{'invisible': !show_icon }">burst_mode</mat-icon>
                    <span>Similaires</span>
                </button>
            </div>
            <div class="recommendation-group" >
                <div class="no-recommendation">
                    <mat-spinner diameter="25"  style="margin:auto;"></mat-spinner>
                </div>
            </div>
            
        </div>
        <ng-container *ngIf="list_of_author_recommendations_retrieved && list_of_recommendations_by_tag_retrieved">
            <div class="recommendations-container" >
            
                <div class="categories">
                    <button [ngClass]="{'opened': left_container_category_index==0 }"
                        (click)="open_left_container_category(0);">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">account_circle</mat-icon>
                        <span>Du même auteur</span>
                    </button>
                    <button [ngClass]="{'opened': left_container_category_index==1 }"
                        (click)="open_left_container_category(1);">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">burst_mode</mat-icon>
                        <span>Similaires</span>
                    </button>
                </div>
    
                <!--********************-->
                <!--********************-->
                <!--SAME AUTHOR ARTWORKS-->
                <!--********************-->
                <!--********************-->
                <ng-container *ngIf="left_container_category_index==0">
    
                    <div class="recommendation-group" *ngIf=" list_of_author_recommendations_writings.length>0 ">
                        <div class="title">Écrits</div>
                        <div class="thumbnail-container" *ngFor="let item of list_of_author_recommendations_writings; let i=index">
    
                            <app-thumbnail-artwork in_artwork=true [artwork_container]=artwork_container (click)="stop($event);add_time_of_view();close_popup()"    [item]=item[0] page='subscribings'
                                now_in_seconds={{now_in_seconds}} subscribing_category='writing'>
                            </app-thumbnail-artwork>
                        </div>
                    </div>
                    <div class="recommendation-group" *ngIf=" !list_of_author_recommendations_writings.length">
                        <div class="no-recommendation">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                            <span>Aucune recommendation disponible</span>
                        </div>
                    </div>
    
                </ng-container>
    
                <!--******************-->
                <!--******************-->
                <!--SAME TYPE ARTWORKS-->
                <!--******************-->
                <!--******************-->
                <ng-container *ngIf="left_container_category_index==1 ">
    
                    <div class="recommendation-group">
                        <div class="thumbnail-container" *ngFor="let item of list_of_recommendations_by_tag; let i=index">
                            <app-thumbnail-artwork  in_artwork=true [artwork_container]=artwork_container (click)="stop($event);add_time_of_view();close_popup()"   [item]=item page='subscribings'
                                now_in_seconds={{now_in_seconds}} subscribing_category='writing'>
                            </app-thumbnail-artwork>
            
                        </div>
                    </div>
                    
                </ng-container>
            </div>
       
        </ng-container>
        


    </div>
</div>

