@import "../../artwork-styles.scss";
@import "../../unsecured-ng-deeps.scss";


.artwork {
    .artwork-container {
        height:unset !important;
        .content-container {
            height:unset !important;

            .slide-container {
                justify-content: center !important;
            }
        }
    }
}


.swiper-artwork-writing{
    min-height: 500px;
}