<div class="title">
    <span>{{title}}</span>
    <button [mat-dialog-close]="true">
        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
    </button>
</div>



<div class="scrollable-container" #myScrollContainer  (scroll)="onScroll()">
    <div class="component-container">
        

        <div class="title-no-data" *ngIf="list_of_users_information.length==0  && subscribtion_info_added">
            <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
            <span *ngIf="data.title=='likes'">Aucune mention j'aime</span>
            <span *ngIf="data.title=='loves'">Aucune mention j'adore</span>
        </div>

        <div class="subscribers-container" *ngIf="list_of_users_ids.length>0 && !first_check">
            <ng-container *ngFor="let item of list_of_users_ids.slice(0,number_of_likes_to_show); let i=index">
                <div *ngIf="10>i" class="subscriber-card-skeleton dark-shiny"></div>
            </ng-container>
        </div>

        <div class="subscribers-container" *ngIf="first_check" [@enterAnimation]>
            <a [routerLink]=get_user_link(i) (click)="close_dialog()" *ngFor="let item of list_of_users_ids.slice(0,number_of_likes_to_show); let i=index" class="subscriber-card" (click)="close_dialog();">
                
         
                <div class="subscriber" *ngIf="list_of_all_retrieved[i] && list_of_users_information[i]">
                    <div class="user-container">

                            <div class="left-container"  [ngClass]="{'shiny':!pp_is_loaded[i]}">
                                <img [src]="list_of_profile_pictures[i]" (load)="load_pp(i)"  [ngClass]="{ 'invisible':!pp_is_loaded[i]}">
                            </div>

                            <div class="right-container">
                                <span class="author-name">{{list_of_users_information[i].firstname}} {{list_of_users_information[i].lastname}}
                                    <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="list_of_users_information[i].certified_account"
                                    matTooltip="Compte certifié" 
                                    matTooltipClass='linkarts-tooltip' 
                                    [matTooltipPosition]="'below'"
                                    [matTooltipShowDelay]="200">verified</mat-icon>
                                    
                                </span>
                                <span class="user-description">@{{list_of_users_information[i].nickname}}</span>
                            </div>

                    </div>
                </div>
    
                <ng-container *ngIf="type_of_account=='account' && list_of_users_ids[i]!=visitor_id">
                    <button *ngIf="!list_of_check_subscribtion[i]"  [disabled]="loading_subscribtion" class="subscribe-button" (click)="stop($event);subscribtion(i);" [@enterAnimation]>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">person_add</mat-icon>
                        <span>S'abonner</span>
                    </button>
                    <button *ngIf="list_of_check_subscribtion[i]"  [disabled]="loading_subscribtion" class="unsubscribe-button" (click)="stop($event);subscribtion(i);" [@enterAnimation]>
                        
                        <mat-icon [ngClass]="{'invisible': !show_icon }">notifications_active</mat-icon>
                        <span>Abonné(e)</span>
                    </button>
                </ng-container>
    
            </a>
            <div class="for-spinner" *ngIf="loading_more">
                <mat-spinner  diameter="25"  style="margin:auto;"></mat-spinner>
            </div>
            
        </div>



    </div>
</div>



