.content-action {
    cursor:pointer;    
    outline:none !important;
    box-shadow: none !important;
    font-weight: bold;
    background: rgb(234, 234, 234);
    color: rgb(124, 124, 124);
    padding: 9px 45px;
    font-size: 19px;
    border-radius: 50px;
    padding: 10px 45px;
    margin: auto 10px auto 10px;
    transition:all 200ms;
 }
 
  .content-action:hover {
   color:rgb(50,50,50);
 }

 .content-action.opened {
  color:rgb(50,50,50);
  background: rgb(209, 224, 251);
  }


  .albums-filter {    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    padding-bottom:10px;
    overflow-x:auto;
    display:flex;justify-content: center;
    //height:100%;
    position:relative;
    display:-webkit-box;
    -webkit-box-pack: center;
    border-radius:10px 10px 0px 0px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius: 0px !important;
  }
  
  .invisible{
    visibility:hidden;
  }
  
  .really-invisible{
    visibility:hidden !important;
  }