
<div class="upload-container">


    <div *ngIf="afficheruploader" class="uploader-container">

        <div class="dropzone-container">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="dropzone">
                <div class="icon-container">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">save_alt</mat-icon>
                    <span><b>Sélectionnez un fichier</b> ou glissez-le ici</span>
                </div>
                
                <div class="button-container">
                    <label>
                        <div class="select-button">
                            Sélectionner un fichier
                        </div>
                        <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                    </label>
                </div>

            </div>
        </div>


        <div class="absolute-cancel" *ngIf="edition_mode">

            <button mat-raised-button class="cancel" (click)="cancel_edition();" >
                <mat-icon [ngClass]="{'invisible': !show_icon }" >cancel</mat-icon>
                <span >Annuler</span>
            </button>

        </div>

    </div>



    <ng-container  *ngIf="afficherpreview">


        <div class="element-container">
            <div class="img-container">
                <img [src]="SafeURL" alt="{{ uploader.queue[0]?.file?.name }}">
            </div>
            <div class="name-container">
                <span>{{ uploader.queue[0]?.file?.name }}</span>
            </div>
        </div>


        <div class="buttons-container">

            <ng-container *ngIf="old_artbook && !can_upload_new_image">
                <button mat-raised-button class="edit" (click)="edit_new_image()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                    <span>Éditer</span>
                </button>

            </ng-container>
          
        
            <ng-container *ngIf="uploader.queue[0] && !uploader.queue[0].isSuccess">
                
                <button mat-raised-button class="cancel" (click)="remove_beforeupload(uploader.queue[0]);" >
                    <mat-icon [ngClass]="{'invisible': !show_icon }" >cancel</mat-icon>
                    <span >Annuler</span>
                </button>

            </ng-container>


            <!--<ng-container *ngIf="(uploader.queue[0] && uploader.queue[0].isSuccess && !old_artbook)">

                <button mat-raised-button class="cancel" (click)="remove_afterupload(uploader.queue[0]);" >
                    <mat-icon [ngClass]="{'invisible': !show_icon }" >delete</mat-icon>
                    <span >Supprimer</span>
                </button>

            </ng-container>-->

            <ng-container *ngIf="old_artbook && can_upload_new_image">

                <button mat-raised-button class="validate" (click)="validate_new_image()" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                    <mat-icon [ngClass]="{'invisible': !show_icon }"  *ngIf="!uploader.queue[0].isUploading">done</mat-icon>
                    <span  *ngIf="!uploader.queue[0].isUploading">Valider</span>
                    <mat-spinner diameter="25" style="margin:auto;" *ngIf="uploader.queue[0].isUploading"></mat-spinner>
                </button>

            </ng-container>


        </div>          
            
    </ng-container>
    


</div>


