

<button class="close-button" (click)="close_dialog()">
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>

<div class="logo-container" >
    <img src="../../assets/img/svg/Logo-LA3.svg">
</div>

<div class="popup-apply-response">

    

    <div class="step-form" [formGroup]="registerForm">

        <div class="step-name">
            <span >Réponse finale de l'Éditeur</span>
       </div>

        <div class="form-title-b">
            <span><b>Titre du projet</b> : {{data.project.title}}</span>
        </div>
        <div class="form-title-b" >
            <span><b>Auteur</b> : {{data.project.user_name}}</span>
        </div>
        <div class="form-title-b">
            <span><b>Éditeur</b> : {{data.project.editor_name}}</span>
        </div>
        
        <div class="form-title">
            <span><b>Avis final</b></span>
        </div>
        <div class="form-item" *ngIf="!data.read_response">
            <mat-form-field floatLabel='never' >
                <mat-label>Avis final</mat-label>
                <mat-select disableOptionCentering formControlName="feedback" panelClass="popupApplyResponseSelectClass">
                    <mat-option  *ngFor="let obj of list_of_categories" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.controls['feedback'].invalid ">Veuillez sélectionner un avis</mat-error>
            
            </mat-form-field>
        </div>

        <div class="form-item" *ngIf="data.read_response">
            <mat-form-field floatLabel='never'>
                <mat-label>{{data.response.jugement}}</mat-label>
                <input matInput readonly formControlName="feedback">
            </mat-form-field>
        </div>



        <div class="form-title flex" style="align-items: center;">
            <span><b>Note sur la qualité du dossier : </b></span>
            <span class="note">{{registerForm.controls['note'].value}} / 20</span>
        </div>
        <div class="form-item" *ngIf="!data.read_response">
            <mat-slider
            class="popupApplyResponseSlider"
            max="20"
            min="0"
            step="1"
            thumbLabel=true
            formControlName="note"></mat-slider>
        </div>

        
        <div class="form-title" *ngIf="!data.read_response">
            <span><b>Compte-rendu</b></span>

            <div class="see-more-button">
                ?
                <div class="information" >
                    <div class="first-text">
                        <span> <img  src='../../assets/img/tuto-logos/light.svg'>Les artistes attendent votre retour avec impatience. Nous vous prions donc de leur fournir un retour aussi constructif que possible, même si le projet n'est pas retenu.
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-title" *ngIf="data.read_response" style="margin-top:20px;">
            <span><b>Compte-rendu</b></span>
        </div>

        
        <div class="form-item" style="height:unset !important; margin-bottom: 15px;" *ngIf="!data.read_response">
            <mat-form-field floatLabel='never'>
                <mat-label>Votre compte-rendu</mat-label>
                <textarea matInput cdkTextareaAutosize formControlName="comment" maxLength="1500" autocomplete="off" (input)="normalize_input(registerForm, 'comment');"></textarea>
                <mat-error *ngIf="registerForm.controls['comment'].invalid">Saisie invalide : les espaces en début de saisie ainsi que certains caractères spéciaux ne sont pas autorisés
                </mat-error>
                <div class="length-indicator">{{registerForm.controls['comment'].value?.length || 0}}/1500</div>
            </mat-form-field>
        </div>

        <div class="form-item" style="height:unset !important; margin-bottom: 15px;" *ngIf="data.read_response">
            <mat-form-field floatLabel='never'>
                <textarea matInput cdkTextareaAutosize readonly formControlName="comment" autocomplete="off"></textarea>
            </mat-form-field>
        </div>


        <button class="submit-button" type="submit" (click)="onSubmit();" *ngIf="!data.read_response">
            <mat-spinner *ngIf="loading_response" diameter="25"  style="margin:auto;"></mat-spinner>
            <span *ngIf="!loading_response">Envoyer</span>
        </button>
    </div>
</div>