

@import '../../thumbnail-writing-styles.css';


.writing-container {
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
  }
  
  // CODE POUR CONTENU BD
  
  .col-writing {
    border-radius: 4px;
    position: relative;
    width: 200px;
    margin:30px auto 30px auto;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  /*
  .col-book:empty {
    height: 0;
    width:250px
  }*/
  
  .col-writing .empty {
    width:200px !important;
    height:1px !important;
  }
  
  
  .swiper-slide {
    //backface-visibility: visible;
  }
  .swiper-wrapper {
    height:267px !important;
  }

  