

@import '../../thumbnail-writing-styles.scss';

.shiny{
  background-color: rgb(220, 220, 220);
  background-image: linear-gradient(
    to right,
    transparent 33%,
    rgba(255,255,255,0.3) 50%,
    transparent 66%
  );
  background-size:300% 100%;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
}


.writing-container {
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    transform: translate3d(0,0,0);
  }
  
  // CODE POUR CONTENU BD
  
  .col-writing {
    border-radius: 4px;
    position: relative;
    width: 200px;
    margin:30px auto 30px auto;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  /*
  .col-book:empty {
    height: 0;
    width:250px
  }*/
  
  .col-writing .empty {
    width:200px !important;
    height:1px !important;
  }
  
  
  .swiper-slide {
    //backface-visibility: visible;
  }
  .swiper-wrapper {
    height:267px !important;
  }

  