
  
    <div class="form-container">

            

        <!--******************************************************-->
        <!--Miniature-->
        <!--******************************************************-->

        <div class="form-group" style="text-align:center;">

            <app-uploader-cover-writing
                [author_name]=data.author_name
                [primary_description]=data.primary_description
                [profile_picture]=data.profile_picture
                [name]=data.title
                [description]=data.primary_description
                [category]=data.style
            ></app-uploader-cover-writing>

        </div>

</div>
<button mat-raised-button class="validate-form-button style1" (click)="validateForm00();">Valider</button>





