<div class="add-album-comic-container" [@enterAnimation]>

    <div class="form-container">
        <form [formGroup]="albumForm" novalidate>
            <div class="form-container-name">
                <span>Nom de la section</span>
            </div>
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="formName" maxLength="15" autocomplete="off" (input)="normalize_input(albumForm, 'formName');">
                    <mat-error *ngIf="albumForm.controls['formName'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer par un espace)
                    </mat-error>
                    <div class="length-indicator">{{albumForm.controls['formName'].value?.length || 0}}/15</div>
                </mat-form-field>
            </div>
        </form>
        
        <div class="form-container-name" #scrollHere>
            <span>Sélection des œuvres</span>
        </div>
        <div class="form-item" style="margin-bottom:0px;" (click)="scroll(scrollHere);">
            <mat-form-field floatLabel='never'>
                <mat-label>Rechercher par nom</mat-label>
                <input matInput placeholder="Nom de l'oeuvre" autocomplete="off" [(ngModel)]="searchText">
            </mat-form-field>
        </div>
    </div>

    <div class="artwork-selector">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <app-thumbnail-album-comic #thumbnailAlbum class="swiper-slide"
                    *ngFor="let item of list_bd_oneshot | filterAlbum : searchText; let i = index"
                    [primary_description]=primary_description [author_name]=author_name [pseudo]=pseudo
                    [bd_element]=item format='one-shot' [now_in_seconds]=now_in_seconds state="swiper"
                    (elementSelected)="add_to_album($event);" (elementRemoved)="remove_from_album($event);">
                </app-thumbnail-album-comic>
                <app-thumbnail-album-comic #thumbnailAlbum class="swiper-slide"
                    *ngFor="let item of list_bd_series | filterAlbum : searchText; let i = index"
                    [primary_description]=primary_description [author_name]=author_name [pseudo]=pseudo
                    [bd_element]=item format='serie' [now_in_seconds]=now_in_seconds state="swiper"
                    (elementSelected)="add_to_album($event);" (elementRemoved)="remove_from_album($event);">
                </app-thumbnail-album-comic>
                <div #noResult class="no-result">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                    <span>Aucun résultat</span>
                </div>
            </div>
            <!-- Swiper -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>

    <div class="album-preview">
        <div class="album-name">{{albumForm.value.formName}}</div>
        <div class="album-tip" *ngIf="albumForm.value.formName && album_list.length!=0" [@enterAnimation]>
            <span>(Vous pouvez glisser-déposer pour changer l'ordre des œuvres)</span>
        </div>
        <div *ngIf="album_list.length == 0" class="no-artwork" [@enterAnimation]>
            <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
            <span>Aucune œuvre sélectionnée</span>
        </div>
        <div class="container-comics d-flex flex-wrap grid">
            <ng-template #target>
            </ng-template>
        </div>
    </div>

    <button class="submit-button style1" (click)="get_solution();" [disabled]="loading">
        <mat-icon [ngClass]="{'invisible': !show_icon }"  *ngIf="!loading">done_all</mat-icon>
        <span *ngIf="!loading">Valider</span>
        <mat-spinner *ngIf="loading" diameter="25"  style="margin:auto;"></mat-spinner>
    </button>

    


</div>