<div class="title-popup">
    <button (click)="close_dialog()" class="close-button" tabIndex="-1">
        <mat-icon [ngClass]="{'invisible': !show_icon }"  >close</mat-icon>
    </button>
    

    <div class="navbar-component ">
        <div class="connected-user">

            <div class="navbar-l1-icons-container notifications-block" >
                <span class="main-menu">Menu principal</span>
            </div>

        </div>
    </div>
   

</div>

<div class="scrollable-container-popup">

    <div class="scrollable-container-options">

            <div class="option-element option-element2" >
                <div class="icon-home"></div>
                <a class="page" routerLink="/" (click)="close_dialog()">Galerie</a>
            </div>
            <div class="option-element option-element2" >
                <div class="icon-collaboration " ></div>
                <a class="page" routerLink="/linkcollab" (click)="close_dialog()">Collaboration</a>
            </div>


            <div class="option-element" >
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">exit_to_app</mat-icon>
              <span (click)="login();">Se connecter</span>
            </div >
            <div class="option-element" >
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">edit</mat-icon>
              <span (click)="signup();">S'inscrire</span>
            </div>
           
            <div class="option-element" >
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">help</mat-icon>
              <span (click)="open_tuto()">Qui sommes-nous ?</span>
            </div>
            <div class="option-element" >
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">share</mat-icon>
              <span (click)="open_share()">Partager le site</span>
            </div>
            
            <div class="option-element">
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">mail</mat-icon>
              <span  (click)="open_contact()">Nous contacter</span>
            </div>

            <div class="option-element">
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">groups</mat-icon>
              <a href="/donation" class="page" (click)="close_dialog();">Nous soutenir</a>
            </div>
            <div class="option-element">
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">lock</mat-icon>
              <a href="/services/1" class="page" (click)="close_dialog();">Mentions légales</a>
              </div>
            <div class="option-element">
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">menu_book</mat-icon>
              <a href="/services/2" class="page" (click)="close_dialog();">Conditions d'utilisation</a>
            </div>
            <div class="option-element">
              <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">security</mat-icon>
              <a href="/services/4" class="page" (click)="close_dialog();">Confidentialité et sécurité</a>
            </div>

            
            

    </div>
   
    
</div>
