
<div *ngIf="page_not_found">
    <app-page-not-found></app-page-not-found>
</div>

<div class="container-fluid add-artwork" *ngIf="data_retrieved">

    <div class="fake-navbar">
        <div class="navbar-container category1 step0">
            <a href="/" class="logo-container"  >
                <img class="logo" (load)="load_logo()" src='../../assets/img/svg/Logo-LA3.svg' [ngClass]="{'invisible':!logo_is_loaded}">
            </a>
            <span *ngIf="drawing">Édition d'un artbook</span>
            <span *ngIf="comic">Édition d'une bande dessinée</span>
            <a class="profile-picture-container" href="/account/{{pseudo}}"  >
                <img class="profile-picture" (load)="load_pp()" [src]="profile_picture"  [ngClass]="{'invisible':!pp_is_loaded}">
            </a>
        </div>
    </div>
    

    <div class="form" >

        
        <div class="form-container">
            <div class="form-container-name" >
                <span *ngIf="drawing">{{drawing.title}}</span>
                <span *ngIf="comic">{{comic.title}}</span>
            </div>
        </div>


        <app-swiper-upload-artbook *ngIf="drawing"
        [drawing]="drawing" 
        [user]="user">

        </app-swiper-upload-artbook>

        <app-swiper-upload-oneshot  *ngIf="comic"
            [comic]="comic" 
            [user]="user" 
        ></app-swiper-upload-oneshot>

    </div>

</div>