


<div class="comic-container">


    <div #thumbnail class="col-book text-center" style="display:flex;">
        
        <!--Slide recto-->
        <div class="swiper-slide thumbnail">
            <div class="element-book border-recto">

                <div class="miniature">
                    
                    <div *ngIf="afficheruploader" class="uploader-container">
                        <div class="dropzone">
                            <div class="icon-container">
                                <label>
                                    <mat-icon>save_alt</mat-icon>
                                    <div class="select-button">
                                        Sélectionner un fichier
                                    </div>
                                    <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <ng-container  *ngIf="afficherpreview">
                        <img [src]="displayContent(uploader.queue[0])" alt="{{ uploader.queue[0]?.file?.name }}">
                    </ng-container>

                </div>


                <div #thumbnailRecto class="absolute-thumbnail-data">
                    <!--********************-->
                    <!--Title container-->
                    <!--********************-->
                    <div class="title-container">
                        <span *ngIf="name==''" class="title">
                            Nom de l'oeuvre
                        </span>
                        <span *ngIf="name!=''" class="title">
                            {{name}}
                        </span>
                    </div>
                    <!--********************-->
                    <!--Author container-->
                    <!--********************-->
                    <div class="author-container">
                        <div class="left-container">
                            <img [src]="profile_picture">
                        </div>
                        <div class="right-container">
                            <span class="author-name">{{author_name}}</span>
                            <span class="author-description" *ngIf="pseudo!=null">@{{pseudo}}</span>
                        </div>
                    </div>
                    <!--********************-->
                    <!--Data container-->
                    <!--********************-->
                    <div class="stats-container">
                        <div class="figure-container views">
                            <div>
                                <mat-icon>visibility</mat-icon>
                                <span>&nbsp;</span>
                                <!--<div class="view-logo"></div>-->
                            </div>
                        </div>
                        <div class="figure-container likes">
                            <div>
                                <mat-icon>thumb_up</mat-icon>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                        <div class="figure-container loves">
                            <div>
                                <mat-icon>favorite</mat-icon>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>


        <!--Slide verso-->
        <div class="swiper-slide thumbnail">
        
            <div #thumbnailVerso class="element-book border-verso">
            
                
                <!--********************-->
                <!--Title container-->
                <!--********************-->
                <div class="verso-resume">
                    <span class="resume" *ngIf="!category">Catégorie</span>
                    <span class="resume">{{category}}</span>
                </div>
                <div class="horizontal-line">
                </div>
                <!--********************-->
                <!--Description container-->
                <!--********************-->
                <div class="verso-description">
                    <span *ngIf="!description">
                        Description
                    </span>
                    <span *ngIf="description">
                        {{description}}
                    </span>
                </div>
                <!--********************-->
                <!--Type container-->
                <!--********************-->
                <div class="verso-type">
                    <!--&bull;-->
                    <div *ngIf="format=='One-shot'" class="d-flex">
                        <div class="tag-container"><span>One shot</span></div>
                    </div>
                    <div *ngIf="format=='Série'" class="d-flex">
                        <div class="tag-container"><span>Série</span></div>
                    </div>


                    <!--<div class="d-flex flex-wrap">
                        <div *ngIf="firsttag" class="tag-container type" ><span  class="categories" >{{firsttag}}</span></div>
                        <div  *ngIf="secondtag" class="tag-container type"><span  class="categories" >{{secondtag}}</span></div>
                        <div  *ngIf="thirdtag" class="tag-container type"><span  class="categories" >{{thirdtag}}</span></div>
                    </div>-->


                    <div class="d-flex" *ngIf="thirdtag==''">
                        <div class="tag-container type" *ngIf="firsttag!=''"><span  class="categories" >{{firsttag}}</span></div>
                        <div *ngIf="secondtag!=''" class="tag-container type"><span  class="categories" >{{secondtag}}</span></div>
                    </div>
                    <div class="d-flex" *ngIf="thirdtag!=''">
                        <div #swiperCategories class="swiper-categories">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="tag-container type" style="width: fit-content; margin: auto;" ><span  class="categories" >{{firsttag}}</span></div>
                                </div>
                                <div class="swiper-slide">
                                    <div  *ngIf="secondtag!=null" class="tag-container type" style="width: fit-content; margin: auto;"><span  class="categories" >{{secondtag}}</span></div>
                                </div>
                                <div class="swiper-slide">
                                    <div  *ngIf="thirdtag!=null" class="tag-container type" style="width: fit-content; margin: auto;"><span  class="categories" >{{thirdtag}}</span></div>
                                </div>
                            </div>
                            <div class="swiper-button-prev" (click)="stop($event)"></div>
                            <div class="swiper-button-next" (click)="stop($event)"></div>
                        </div>
                    </div>
                   
                    
                </div>
                <!--********************-->
                <!--Categories container-->
                <!--********************
                <div class="categories-container">
                    <div *ngIf="firsttag" class="tag-container"><span  class="categories" >{{firsttag}}</span></div>
                    <div  *ngIf="secondtag" class="tag-container"><span  class="categories" >{{secondtag}}</span></div>
                    <div  *ngIf="thirdtag" class="tag-container"><span  class="categories" >{{thirdtag}}</span></div>
                </div>
                <div class="categories-container" *ngIf="!firsttag">  
                    <div class="tag-container"><span class="categories">Genres</span></div>
                </div>-->
                <!--********************-->
                <!--Type container-->
                <!--********************
                <div class="verso-type" *ngIf="format">
                    <ng-container *ngIf="format=='One-shot'">
                        <div class="tag-container"><span>One shot</span></div>
                    </ng-container>

                    <ng-container *ngIf="format!='One-shot'">
                        <div class="tag-container"><span>Série</span></div>
                    </ng-container>
                </div>
                <div class="verso-type" *ngIf="!format">
                    <div class="tag-container"><span>Format</span></div>
                </div>-->
                <!--********************-->
                <!--Date container-->
                <!--********************-->
                <div class="date-container">
                    <span>Date de publication</span>
                </div>

            
            </div>
            
        </div>


    </div>
    
</div>



<div class="buttons-container" *ngIf="afficherpreview" [@enterAnimation]>
    <ng-container *ngIf="!uploader.queue[0].isSuccess">
        <button class="button style0"
                (click)="remove_beforeupload(uploader.queue[0]);"
                [disabled]="cover_loading">
            <mat-icon>refresh</mat-icon>
            <span class="">Recommencer</span> 
        </button>
        <button class="button style1"  [ngClass]="{'loading_thumbnail':cover_loading}" 
                (click)="validate()" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess || cover_loading">
            <mat-icon *ngIf="!cover_loading">done</mat-icon>
            <span *ngIf="!cover_loading">Valider</span> 
            <mat-spinner *ngIf="cover_loading" diameter="25"  style="margin:auto;"></mat-spinner>
        </button>
    </ng-container>
    <ng-container *ngIf="uploader.queue[0].isSuccess">
        <button class="button style0"
                (click)="remove_afterupload(uploader.queue[0]);"
                [disabled]="cover_loading">
            <mat-icon>refresh</mat-icon>
            <span class="">Recommencer</span> 
        </button>
    </ng-container>
</div>















