.swiper-container-story {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height:100%;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    overflow: hidden;
    background: #202020;

    /***********************************************/
    /*PARTIE 1*/
    /***********************************************/
    .header {
        position: relative;
        width: 100%;
        height: 60px;
        display:flex;

        a {
            margin: auto 10px auto 16px;
            width: 36px;
            height: 36px;
            min-width: 36px;
            min-height: 36px;
            border-radius: 50px;
            overflow: hidden;
            outline:none;
            border:unset;
        }
        img {
            width:100%;
            height:100%;
            object-fit: cover;
        }
        .image-skeleton {
            width:100%;
            height:100%;
        }

        span.author-name {
            margin: auto auto auto 0px;
            color: white;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }

        button {
            outline: none;
            border: none;
            padding: unset;
            display: flex;
            background: unset;
            outline: unset;
            border-radius: 50px;
            box-shadow: unset;
            height: 35px;
            width: 35px;
            opacity: 0.8;
            margin: auto 10px auto 5px;
            background: #030a162e;
            mat-icon {
                margin: auto;
                height: unset;
                width: unset;
                font-size: 20px;
                color: white;
            }
            &:hover {
                opacity: 1;
                background: #030a162e;
            }
            &:active {
                background: #030a1654;
            }

            &.close-button {
                display:none;
                @media (max-width: 1000px) {
                    display:flex;
                }
            }

            &.views-button {
                height: unset;
                width: unset;
                padding: 6px 10px;
                span {
                    margin: auto 8px auto auto;
                    color: white;
                    font-weight: 600;
                    font-size: 12px;
                }
                mat-icon {
                    margin: auto auto auto 0px;
                }
            }
        }
    }
    
    /***********************************************/
    /*PARTIE 2*/
    /***********************************************/
    .story-counter {
        height:15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .story-bar {
            position: relative;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            height: 3px;
            margin-top: auto;
            margin-bottom: auto;
            position: relative;
            margin-right: 2px;
            background: rgb(90, 90, 90);

            &.opened {
                background: rgb(255, 255, 255);
            }
        }

        .story-bar-fill {
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            background: rgb(255, 255, 255);
        }
    }

    /***********************************************/
    /*PARTIE 3*/
    /***********************************************/
    .swiper-wrapper {
        width:100%;
        height:calc(100% - 60px - 35px - 15px);
        .swiper-slide {
            position:relative;
            padding-top: 5px;
            padding-bottom: 5px;
            display:flex;
            flex-direction: column;
            background: #0e0e0e;
           
            .left-absolute-container{
                position:absolute;
                top: 0px;
                bottom:0;
                left:0;
                width:50%;
            }
            .right-absolute-container{
                position:absolute;
                top: 0px;
                bottom:0;
                right:0;
                width:50%;
            }

            > img {
                /*margin:auto auto;
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;*/

                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: block;
                object-fit: contain;
            }
            
            .no-viewers {
                margin:auto auto;
                text-align:center;
                span {
                    font-size:14px;
                    color:white;
                }
            }

            button.close-list-of-views {
                outline: none;
                border: none;
                padding: unset;
                display: flex;
                background: unset;
                outline: unset;
                border-radius: 50px;
                box-shadow: unset;
                opacity: 0.8;
                position: absolute;
                top: 20px;
                right: 36px;
                padding: 4px 8px 5px 8px;
                background: #424242;
                mat-icon {
                    margin: auto;
                    height: unset;
                    width: unset;
                    font-size: 20px;
                    color: white;
                }

                span {
                    color: white;
                    margin: auto 5px auto 5px;
                    font-size: 14px;
                    font-weight: 600;
                }
                transition: transform 100ms;
                &:active {
                    transform: scale(0.98);
                }
            }

                

            .subscribers-container {
                width: 100%;
                padding: 40px 20px 40px 20px;
                overflow: auto;
                overflow-x: hidden;
                scrollbar-width:thin;
                scrollbar-color: #353535cc #424242;
                &::-webkit-scrollbar-track {
                    background-color: #353535cc;
                }
                &::-webkit-scrollbar {
                    width: 5px;
                    background-color: #000000;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #424242;
                }
        
                .subscriber-card {
                    margin-top: 25px;
                    margin-bottom: 10px;
                    padding: 10px 15px;
                    width: 100%;
    
                    background: #202020;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);

                    border-radius: 15px;
                    display: flex;
            
                    .subscriber {
            
                        display: flex;
                        margin: auto 0px auto 0px;
                        width: stretch;
            
                        .user-container {
                            margin:auto auto auto 0px;
                            display: flex;
                            
                            .left-container {
                                margin: auto 10px auto 0px;
                                width:36px;
                                height:36px;
                                min-width:36px;
                                min-height:36px;
                                border-radius: 50px;
                                img {
                                    height: 100%;
                                    width:100%;
                                    border-radius: 50px;
                                    object-fit: cover;
                                }

                                
                            }
            
                            color:white;

                            .right-container {
                                padding-right: 10px;
                                font-size: 14px;
                                font-weight: 600;
                                display: flex;
                                flex-direction: column;
                                
                                span.author-name {
                                    display: flex;
                                    align-items: center;
                                    font-size: 13px;
                                    font-weight: bold;
                                    white-space: nowrap;
                                    overflow: hidden !important;
                                    text-overflow: ellipsis;
                        
                                    mat-icon {
                                        vertical-align: middle;
                                        display: inline-block;
                                        margin: 3px 0px 1px 3px;
                                        color: #4bc7ff;
                                        height: 15px;
                                        overflow: hidden;
                                        width: unset;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
            
                    div.button {
                        cursor:pointer;
                        margin: auto 0px auto 0px;
                        border-radius: 50px;
                        background-color: unset;
                        outline: none !important;
                        border: unset;
                        display: flex;
                        padding: 6px 10px;
                        min-width: fit-content;
            
                        mat-icon {
                            margin: auto 2px auto auto;
                            width: unset;
                            height: unset;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        span {
                            margin:auto auto auto 5px;
                            font-size: 13px;
                            line-height: 14px;
                            font-weight: 600;
                        }
            
                        &.unsubscribe-button {
                            box-shadow: 0px 0px 0px 1.5px #203864;
                            color:rgb(32,56,100);
                            background:white;
                            &:hover {
                                background:#eeeff3 !important;
                            }
                            &:active {
                                background: #e2e5eb !important;
                            }
                            span {
                                margin: auto auto auto 0px;
                            }
                        }
                        &.subscribe-button {
                            color:white;
                            background-image:linear-gradient(0.02turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
                            &:hover {
                                background-image:linear-gradient(0.02turn, rgba(2, 18, 54, 0.95), rgba(19, 51, 100, 0.95), rgba(44, 114, 164, 0.95));
                            }
                            &:active {
                                transform: scale(.96);
                            }
                            span {
                                margin: auto auto auto 0px;
                            }
                        }
                    }
                }
                @media (max-width: 600px) {
                    .subscriber-card {
                        flex-direction: column;
                        .subscriber {
                            margin: 5px 0px 15px 0px;
                        }
                    }
                }
            }

            .for-spinner{
                position: relative;
                width: 100%;
            }
            
        }
    }

    /***********************************************/
    /*PARTIE 4*/
    /***********************************************/
    .swiper-pause {
        cursor:pointer;
        width:100%;
        height:35px;
        display:flex;
        border-top:1px solid #525252;
    
        > div {
            margin:5px auto auto auto;
            font-size:13px;
            color:white;
            font-weight: bold;
        }
    }
}

.invisible{
    visibility: hidden;
}
.really-invisible{
    display: none !important;
}



::ng-deep {
    .story-mat-menu {
        margin-top: 3px !important;
        border-radius: 12px 10px 12px 12px !important;
        min-height: unset !important;
        min-width: unset !important;
        .mat-menu-content {
            padding-top: unset !important;
            padding-bottom: unset !important;
        }
        .story-button-menu-item {
            display: flex !important;
            font-size: 12px !important;
            line-height: 38px !important;
            height: 38px !important;
            font-weight: bold !important;
            padding: 0px 15px 0 10px !important;
            color: rgb(32, 56, 100) !important;
            transition: all 200ms !important;
            outline: none !important;

            transition: background-color 200ms;

            mat-icon {
                margin: auto 10px auto 0px !important;
                width: unset !important;
                height: unset !important;
                font-size: 18px !important;
                color: rgb(32, 56, 100) !important;
            }
            span {
                color: rgb(32, 56, 100) !important;
            }

            img {
                height: 24px;
                width: 24px;
                border-radius: 65px;
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                object-fit: cover;
                margin: auto 8px auto -4px !important;
            }
            .mat-ripple {
                background: unset !important;
                * {
                    background: unset !important;
                }
            }
            &:hover {
                background: #c9d4e2;
            }
            &:active {
                background: #aabed4;
            }
        }
    }
}

.loading-dots {
    line-height: 6px;
    text-align: center;
    margin: auto auto;
    span {
        font-size: 65px;
        color:#afafaf;
        margin: -25px 0px 0px 0px;
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    span:nth-child(2) {
        animation-delay: 0.2s;
    }
    span:nth-child(3) {
        animation-delay: 0.4s;
    }
}

.shiny {
    background:#5c5c5c;
    background-image: linear-gradient(
        to right,
        transparent 33%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 66%
    ) !important;
    background-size: 300% 100% !important;
    animation: shine 2s infinite !important;
}
@keyframes shine {
    0% {
        background-position: right;
    }
}