

    <div #swiperStory class="swiper-container-story">


        <!--********************-->
        <!--Partie 1-->
        <!--********************-->
        <div class="header author-container">

            <a [routerLink]=open_account() (click)="close_stories();">
                <img *ngIf="is_start" (load)='loaded_pp()' [src]="profile_picture_safe" [ngClass]="{'really-invisible':!display_pp }">
                <img *ngIf="!is_start"  (load)='loaded_pp()'   class="swiper-lazy" [attr.data-src]="profile_picture" [lazyLoad]="profile_picture"  loading="lazy"  [ngClass]="{'really-invisible':!display_pp }">
                <div *ngIf="!display_pp" class="image-skeleton shiny"></div>
            </a>

            <span class="author-name">{{author_name}}</span>

            
            <button *ngIf="!visitor_mode && !show_list_of_viewers && !loading_list_of_viewers" (click)="get_list_of_viewers( swiper.activeIndex )" class="views-button"
            matTooltip="Liste des vues"
            matTooltipClass='linkarts-tooltip' 
            [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="100">
                <span>{{number_of_views}}</span>
                <mat-icon [ngClass]="{'invisible': !show_icon }">visibility</mat-icon>
            </button>

            <button [matMenuTriggerFor]="storyOptions">
                <mat-icon [ngClass]="{'invisible': !show_icon }" >more_horiz</mat-icon>
            </button>
            <mat-menu  #storyOptions="matMenu" class="story-mat-menu">
                <button *ngIf="!visitor_mode" class="story-button-menu-item" tabIndex="-1" mat-menu-item (click)="delete_story( swiper.activeIndex )"> 	
                    <mat-icon [ngClass]="{'invisible': !show_icon }">delete</mat-icon>
                    <span>Supprimer la story</span>
                </button>
                <button *ngIf="visitor_mode" class="story-button-menu-item" tabIndex="-1" mat-menu-item (click)="report( swiper.activeIndex )"> 	
                    <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                    <span>Signaler</span>
                </button>
            </mat-menu>

            <button class="close-button" (click)="close_stories()">
                <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
            </button>

        </div>
        

        <!--********************-->
        <!--Partie 2-->
        <!--********************-->
        <div class="story-counter" *ngIf="swiper">
            <div class="story-bar" *ngFor="let item of list_of_contents; let i = index"
            [ngClass]="{'opened': swiper.activeIndex > i }">
                <div #storyBarFill [ngStyle]="{'width': ( -10*(timeLeft-10) )+'%'}" *ngIf="swiper.activeIndex == i" class="story-bar-fill">
                </div>
            </div>
        </div>


        <!--********************-->
        <!--Partie 3-->
        <!--********************-->
        <div  class="swiper-wrapper">
    
            <div  *ngFor="let item of list_of_contents; let i=index" class="swiper-slide" [ngStyle]="{'overflow': show_list_of_viewers ? 'auto' : 'unset'}" (scroll)="onScroll(i)">

                <img (load)='loaded_image(i)'  class="swiper-lazy" [attr.data-src]="item" [lazyLoad]="item"  loading="lazy"  [ngClass]="{'invisible':!display_images[i],'really-invisible':show_list_of_viewers || loading_list_of_viewers}">
                
                
                <div class="loading-dots" *ngIf="loading_list_of_viewers">
                    &nbsp; <span>.</span><span>.</span><span>.</span>
                </div>


                <button (click)="close_list_of_viewers()" class="close-list-of-views" *ngIf="!loading_list_of_viewers && show_list_of_viewers">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                    <span>Retour</span>
                </button>

                <div class="no-viewers" *ngIf="!loading_list_of_viewers && show_list_of_viewers && !viewers_found[i]">
                    <span>Aucune vue</span>
                </div>

                <div #SwiperSlides class="subscribers-container" *ngIf="!loading_list_of_viewers && show_list_of_viewers && viewers_found[i]" [@enterAnimation]>
                    <a [routerLink]=get_viewer_link(i,k)  *ngFor="let item of list_of_viewers[i].slice(0,number_of_pp_to_show[i]); let k=index" (click)="close_stories();" class="subscriber-card">
                
                        
                        <div class="subscriber">
                            <div class="user-container"  >
        
                                    <div class="left-container"  [ngClass]="{'shiny':!list_of_pp_loaded[k]}">
                                        <img  class="swiper-lazy" [lazyLoad]="list_of_profile_pictures[i][k]"  [customObservable]="scroll? scroll : null" loading="lazy"  (load)="load_list_of_pp(k)"  [ngClass]="{ 'invisible':!list_of_pp_loaded[k]}">
                                    </div>
        
                                    <div class="right-container">
                                        <span class="author-name">
                                            <div>{{item.firstname}}</div>
                                            <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="list_of_viewers[i][k].certified_account"
                                            matTooltip="Compte certifié" 
                                            matTooltipClass='linkarts-tooltip' 
                                            [matTooltipPosition]="'below'"
                                            [matTooltipShowDelay]="200">verified</mat-icon>
                    
                                        </span>
                                        <span class="user-description">@{{item.nickname}}</span>
                                    </div>
        
                            </div>
                        </div>
            
                    </a>
                    <div class="for-spinner" *ngIf="loading_more[i]" >
                        <mat-spinner  diameter="25"  style="margin:auto;"></mat-spinner>
                    </div>
                </div>

               
                
                <div class="left-absolute-container" *ngIf="!loading_list_of_viewers && !show_list_of_viewers" (click)="previous_slide();"></div>
                <div class="right-absolute-container" *ngIf="!loading_list_of_viewers && !show_list_of_viewers" (click)="next_slide();"></div>
    
            </div>
        </div>   
        
        <!--********************-->
        <!--Partie 4-->
        <!--********************-->
        <div class="swiper-pause" (click)="clickPause();">
            <div *ngIf="!paused">Mettre en pause</div>
            <div *ngIf="paused">Reprendre</div>
        </div>
        
    
    </div>
