<div class="navbar-component">

  <img src="../../assets/img/svg/Logo-LA3.svg" (load)="logo_loaded()" class="hidden-img">
  

  <div #fixedtop class="fixed-top" *ngIf="navbar.visible"
    [ngClass]="{'navbarBoxShadow': navbarBoxShadow}">

    <div class="navbar-container">

      <nav class="navbar first-navbar"
        [ngClass]="{'invisible': !logo_is_loaded, 'connected-user': type_of_profile=='account' || type_of_profile=='suspended', 'disconnected-user': type_of_profile!='account' && type_of_profile!='suspended'}">

        <a class="logoLinkarts " *ngIf="!activated_search" routerLink="/" (click)="not_using_chat()" >
          <img class="logo" (load)="logo_loaded()" src='../../assets/img/svg/Logo-LA3.svg'>
        </a>

        <div class="HIDDEN-ON-SMALL-SCREEN-1" *ngIf="!activated_search"
          [ngClass]="{'invisible': !show_selector || !logo_is_loaded}">
          
          <div class="navbar2 flex-md-nowrap p-0">
            <a class="category" [ngClass]="{'opened': navbar.active_section==0 }" (click)="not_using_chat()" routerLink="/">
                <div class="icon-home" [ngClass]="{'icon-clicked': navbar.active_section==0 }"></div>
                <span>GALERIE</span>
            </a>
            <a class="category" [ngClass]="{'opened': navbar.active_section==1 }"  (click)="not_using_chat()" routerLink="/linkcollab">
                <div class="icon-collaboration" [ngClass]="{'icon-clicked': navbar.active_section==1 }"></div>
                <span>COLLABORATION</span>
            </a>
          </div>
        </div>


        
        <div class="VISIBLE-ON-SMALL-SCREEN-1 second-selector" [ngClass]="{'invisible': activated_search || !logo_is_loaded}">
          
          <mat-form-field floatLabel='never' [ngClass]="{'really-invisible': !show_selector, 'opened': navbarSelect2 && navbarSelect2.panelOpen }">
            
            <div class="arrow-container" [ngClass]="{'opened': navbarSelect2 && navbarSelect2.panelOpen }">
              <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios_new</mat-icon>
            </div>

            <mat-select #navbarSelect2 panelClass="navbarSelectClass2" ng-animate-disabled
            [(value)]="navbar.active_section"
            (selectionChange)="sectionChange2($event.value)">
              
              <mat-select-trigger>

                <ng-container *ngIf="navbar.active_section==-1">
                  <mat-icon [ngClass]="{'invisible': !show_icon }" >menu</mat-icon>
                  <span>NAVIGUER</span>
                </ng-container>
                <ng-container *ngIf="navbar.active_section==0">
                  <div class="icon-home" [ngClass]="{'icon-clicked': navbar.active_section==0 }"></div>
                  <span>GALERIE</span>
                </ng-container>
                <ng-container *ngIf="navbar.active_section==1">
                  <div class="icon-collaboration" [ngClass]="{'icon-clicked': navbar.active_section==1 }"></div>
                  <span>COLLABORATION</span>
                </ng-container>
              </mat-select-trigger>


              <ng-container *ngIf="navbar.active_section==-1">
                <mat-option [value]="-1" select >
                  <mat-icon [ngClass]="{'invisible': !show_icon }" >menu</mat-icon>
                  NAVIGUER
                </mat-option>
                <mat-option [value]="0" >
                  <div class="icon-home" [ngClass]="{'icon-clicked': navbar.active_section==0 }"></div>
                  GALERIE
                </mat-option>
                <mat-option [value]="1">
                  <div class="icon-collaboration" [ngClass]="{'icon-clicked': navbar.active_section==1 }"></div>
                  COLLABORATION
                </mat-option>
              </ng-container>

              <ng-container *ngIf="navbar.active_section!=-1">
                <mat-option [value]="0" select>
                  <div class="icon-home" [ngClass]="{'icon-clicked': navbar.active_section==0 }"></div>
                  GALERIE
                </mat-option>
                <mat-option [value]="1">
                  <div class="icon-collaboration" [ngClass]="{'icon-clicked': navbar.active_section==1 }"></div>
                  COLLABORATION
                </mat-option>
              </ng-container>
             
            </mat-select>
          </mat-form-field>
        </div>


        <ng-container *ngIf="type_of_profile_retrieved">

          <!--Barre de recherche-->

          <div class="SMALL-SCREEN-SECTIONS VISIBLE-ON-MORE-SMALL-SCREEN-1" *ngIf="!activated_search" [ngClass]="{'invisible':  !logo_is_loaded}">
            
           
            <a (click)="activate_search();">
              <mat-icon [ngClass]="{'invisible': !show_icon, 'invisible2': !logo_is_loaded2}" class="optionsButton">search</mat-icon>
            </a>
          </div>


          <a class="SMALL-SCREEN-LOGO" [ngClass]="{'SMALL-SCREEN-LOGO-VISITOR': type_of_profile=='visitor'}"  *ngIf="!activated_search" routerLink="/" (click)="not_using_chat()" >
            <img class="logo" (load)="logo2_loaded()" src='../../assets/img/svg/Logo-LA3-18-01.svg'>
          </a>
          
          <div class="navbar-l1-searchbar-container"
            [ngClass]="{'extended-searchbar': type_of_profile=='visitor', 'activated_searchbar': activated_search, 'invisible':!logo_is_loaded}">


            <div class="left-container first-selector" [ngClass]="{'invisible': !show_selector }">
              <mat-form-field floatLabel='never'>

                <div class="arrow-container" [ngClass]="{'opened': navbarSelect && navbarSelect.panelOpen }">
                  <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios_new</mat-icon>
                </div>

                <mat-select #navbarSelect 
                panelClass="navbarSelectClass" 
                disableOptionCentering value="All" 
                (selectionChange)="sectionChange($event.value)">
                
                  <mat-option value="All" select>Tout</mat-option>
                  <mat-option value="Account">Utilisateurs</mat-option>
                  <mat-option value="Ad">Annonces</mat-option>
                  <mat-option value="Comic">Bandes dessinées</mat-option>
                  <mat-option value="Drawing">Dessins</mat-option>
                  <mat-option value="Writing">Écrits</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="right-container">
              <div #propositions class="researches-propositions" *ngIf="show_researches_propositions" [@enterAnimation]>


                <div class="first-block" *ngIf="display_style_and_tag_research">
                  <div class="title-proposition">
                    Rechercher par style et par genre
                  </div>
                  <div class="first-block-container">
                    
                    <div class="swiper-container">
                      <div #swiperCategories2 class="swiper-item">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide" *ngFor="let item of first_filters[indice_title_selected];let i=index">
                                  <a class="element" *ngIf="item!=''"
                                    (click)="cancel_research();not_using_chat()" [routerLink]="open_research_style_and_tags(i)">
                                    <span>
                                      {{item}}
                                    </span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="button-prev-shadow" *ngIf="swiper2" [ngClass]="{'invisible': swiper2.isBeginning }"></div>
                      <div class="button-next-shadow" *ngIf="swiper2" [ngClass]="{'invisible': swiper2.isEnd }"></div>
                      <div class="swiper-button-prev" [ngClass]="{'invisible': swiper2 && swiper2.isBeginning && swiper2.isEnd }"></div>
                      <div class="swiper-button-next" [ngClass]="{'invisible': swiper2 && swiper2.isBeginning && swiper2.isEnd }"></div>
                    </div>

             
                  </div>
                </div>

                <div class="first-block" *ngIf="show_most_researched_propositions && most_researched_propositions.length>0">
                  <div class="title-proposition">
                    Tendances
                  </div>
                  <div class="first-block-container">
                    <div class="swiper-container">
                      <div #swiperCategories class="swiper-item">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide" *ngFor="let item of most_researched_propositions;let i=index">
                                  <a class="element" *ngIf="item.research_string!=''"
                                    (click)="click_on_trending_message(i)" [routerLink]="get_trending_message(i)">
                                    <span>
                                      {{item.research_string}}
                                    </span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="button-prev-shadow" *ngIf="swiper" [ngClass]="{'invisible': swiper.isBeginning }"></div>
                      <div class="button-next-shadow" *ngIf="swiper" [ngClass]="{'invisible': swiper.isEnd }"></div>
                      <div class="swiper-button-prev" [ngClass]="{'invisible': swiper && swiper.isBeginning && swiper.isEnd }"></div>
                      <div class="swiper-button-next" [ngClass]="{'invisible': swiper && swiper.isBeginning && swiper.isEnd }"></div>
                    </div>
                  </div>
                </div>


                <!-- SHOW PROPOSITIONS AFTER RESEARCH-->

                <div class="second-block">

                  <div class="title-proposition spinner" *ngIf="!show_other_propositions &&  !show_first_propositions && !loading_recent">
                    <mat-spinner diameter="20"></mat-spinner>
                  </div>

                  <ng-container *ngIf="show_other_propositions">

                    <div class="title-proposition" *ngIf="loading_other">
                      Meilleures propositions
                      &nbsp; <span>.</span><span>.</span><span>.</span>
                    </div>

                    <div class="title-proposition" *ngIf="list_of_first_propositions.length>0 && !loading_other">
                      Meilleures propositions
                    </div>


                    <div class="no-results" *ngIf="0>=list_of_first_propositions.length && !loading_other">
                      Aucun résultat
                    </div>
                    <div class="propositions-container"  *ngIf="!loading_other">
                      <div *ngFor="let item of list_of_first_propositions;let i=index"
                        (click)="add_clicked_after_research(i)">

                        <!--Account -->

                        <a class="item-row" *ngIf="item.publication_category=='Account'" (click)="open_account(i)"
                          [routerLink]="get_account(i)">
                          <div class="result-container">
                            <div class="image-container">
                              <img  [lazyLoad]="list_of_thumbnails[i]"  [customObservable]="scroll_propositions? scroll_propositions : null" loading="lazy" (load)="pp_thumb_load(i)"
                                [ngClass]="{'invisible': !pp_thumb_is_loaded[i] }">
                            </div>
                            <div class="name-container block">
                              <div>{{list_of_last_propositions[i].firstname}}

                                <mat-icon *ngIf="list_of_last_propositions[i].certified_account" [ngClass]="{'invisible': !show_icon }"
                                matTooltip="Compte certifié" 
                                matTooltipClass='linkarts-tooltip' 
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="200">verified</mat-icon>
                              </div>
                              <div class="nickname">@{{list_of_last_propositions[i].nickname}}</div>
                            </div>
                            <div class="type-container">
                              <span>{{list_of_last_propositions[i].type_of_account}}</span>
                            </div>
                          </div>

                        </a>

                        <!--AD -->
                        <a class="item-row" *ngIf="item.publication_category=='Ad'"
                          (click)="open_ad_last_propositions(i,$event);" [href]="get_ad_last_propositions(i)" target="_blank">
                          <div class="result-container">
                            <div class="image-container">
                              <img [lazyLoad]="list_of_thumbnails[i]"  [customObservable]="scroll_propositions? scroll_propositions : null" loading="lazy" (load)="pp_thumb_load(i)"
                                [ngClass]="{'invisible': !pp_thumb_is_loaded[i] }">
                            </div>
                            <div class="name-container">
                              <span>{{list_of_last_propositions[i].title}}</span>
                            </div>
                            <div class="type-container">
                              <span>Annonce</span>
                            </div>
                          </div>

                        </a>

                        <!--ARTPIECEES -->
                        <a class="item-row"
                          *ngIf="item.publication_category=='Comic' || item.publication_category=='Drawing' || item.publication_category=='Writing'"
                          (click)="open_artwork_last_proposition(item,i,$event)"
                          [href]="get_artwork_last_proposition(item,i)" target="_blank">

                          <div class="result-container">
                            <div class="image-container">
                              <img [lazyLoad]="list_of_thumbnails[i]"  [customObservable]="scroll_propositions? scroll_propositions : null" loading="lazy"(load)="pp_thumb_load(i)"
                                [ngClass]="{'invisible': !pp_thumb_is_loaded[i] }">
                            </div>
                            <div class="name-container">
                              <span>{{list_of_last_propositions[i].title}}</span>
                            </div>
                            <div class="type-container">
                              <span *ngIf="item.publication_category=='Comic'">Bande dessinée</span>
                              <span *ngIf="item.publication_category=='Drawing'">Dessin</span>
                              <span *ngIf="item.publication_category=='Writing'">Écrit</span>
                            </div>
                          </div>

                        </a>

                      </div>
                    </div>
                  </ng-container>

                </div>

                <!-- SHOW FIRST PROPOSITIONS -->
                <div class="second-block">

                  <ng-container *ngIf="!show_first_propositions && loading_recent && !show_other_propositions">
                    <div class="title-proposition spinner">
                      <mat-spinner diameter="20"></mat-spinner>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="show_first_propositions">
                    <div class="title-proposition" *ngIf="first_option">
                      Récents
                    </div>
                    <div class="title-proposition" *ngIf="!first_option">
                      Meilleures propositions
                    </div>
                    <div *ngIf="!loading_recent" class="display-block">

                      <div *ngIf="list_of_first_propositions_history.length==0" class="no-results">
                        <span>
                          Aucune proposition disponible
                        </span>
                      </div>

                      <div class="list-of-propositions" *ngFor="let item of list_of_first_propositions_history;let i=index">

                        <!-- ACCOUNT -->
                        <div class="item-row" *ngIf="item.publication_category=='Account'">

                          <a class="result-container" (click)="open_history_account(i);" [routerLink]="get_history_account(i)">
                            <div class="image-container">
                              <img [lazyLoad]="list_of_thumbnails_history[i]"  [customObservable]="scroll_propositions? scroll_propositions : null" loading="lazy" (load)="pp_thumb_hist_load(i)"
                                [ngClass]="{'invisible': !pp_thumb_hist_is_loaded[i] }">
                            </div>
                            <div class="name-container block">
                              <div>{{list_of_last_propositions_history[i].firstname}}
                              
                                <mat-icon *ngIf="list_of_last_propositions_history[i].certified_account" [ngClass]="{'invisible': !show_icon }"
                                matTooltip="Compte certifié" 
                                matTooltipClass='linkarts-tooltip' 
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="200">verified</mat-icon>
                              </div>
                              <div class="nickname">@{{list_of_last_propositions_history[i].nickname}}</div>
                            </div>
                            <div class="type-container" [ngClass]="{'with-close': first_option }">
                              <span>{{list_of_last_propositions_history[i].type_of_account}}</span>
                            </div>
                          </a>

                          <button *ngIf="first_option" (click)="delete_from_history(i,$event)">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                          </button>
                        </div>

                        <!-- AD -->

                        <div class="item-row" *ngIf="item.publication_category=='Ad'">

                          <a class="result-container"
                          (click)="open_ad_last_propositions_history(i,$event);"
                          [href]="get_ad_last_propositions_history(i)" target="_blank">

                            <div class="image-container">
                              <img  [lazyLoad]="list_of_thumbnails_history[i]"  [customObservable]="scroll_propositions? scroll_propositions : null" loading="lazy" (load)="pp_thumb_hist_load(i)"
                                [ngClass]="{'invisible': !pp_thumb_hist_is_loaded[i] }">
                            </div>
                            <div class="name-container">
                              <span>{{list_of_last_propositions_history[i].title}}</span>
                            </div>
                            <div class="type-container" [ngClass]="{'with-close': first_option }">
                              <span>Annonce</span>
                            </div>
                          </a>

                          <button *ngIf="first_option" (click)="delete_from_history(i,$event)">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                          </button>

                        </div>

                        <!-- Comic writing drawing -->

                        <div class="item-row"
                          *ngIf="item.publication_category=='Comic' || item.publication_category=='Drawing' || item.publication_category=='Writing'">

                          <a class="result-container"
                          (click)="open_artwork_last_proposition_history(item,i,$event);"
                          [href]="get_artwork_last_proposition_history(item,i)" target="_blank">
                            <div class="image-container">
                              <img  [lazyLoad]="list_of_thumbnails_history[i]"  [customObservable]="scroll_propositions? scroll_propositions : null" loading="lazy" (load)="pp_thumb_hist_load(i)"
                                [ngClass]="{'invisible': !pp_thumb_hist_is_loaded[i] }">
                            </div>
                            <div class="name-container">
                              <span>{{list_of_last_propositions_history[i].title}}</span>
                            </div>
                            <div class="type-container" [ngClass]="{'with-close': first_option }">
                              <span *ngIf="item.publication_category=='Comic'">Bande dessinée</span>
                              <span *ngIf="item.publication_category=='Drawing'">Dessin</span>
                              <span *ngIf="item.publication_category=='Writing'">Écrit</span>
                            </div>
                          </a>

                          <button *ngIf="first_option" (click)="delete_from_history(i,$event)">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                          </button>
                        </div>

                      </div>
                    </div>
                  </ng-container>

                </div>


              </div>

              <input #input (click)="activateFocus()" (input)="researches_propositions();"
                (keydown)="keydown_researches_propositions($event);" onblur="this.placeholder = 'Rechercher'"
                class="form-control form-control-dark large-form" type="text" [placeholder]="'Rechercher'">

              <div class="loupe-container" #searchicon>
                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!loading_research" (click)="click_on_research()">search</mat-icon>
                <mat-spinner *ngIf="loading_research" diameter="20"></mat-spinner>
              </div>


            </div>



          </div>

          <!--Barre de recherche FIN -->
          <div class="icon-messenger-invisible">
          </div>
          <div class="icon-bell-invisible">
          </div>
          <div class="navbar-l1-icons-container notifications-block" *ngIf="(type_of_profile=='account' || type_of_profile=='suspended') && !activated_search">


            <div #chat class="icon-container  none-for-phone" [ngClass]="{ 'shiny': !pp_is_loaded || !data_retrieved}">
              <div class="icon icon-messenger" (click)="open_messages()"
                [ngClass]="{ 'invisible': !pp_is_loaded || !data_retrieved}"
                matTooltip="Messagerie" 
                matTooltipClass='linkarts-tooltip' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"></div>
              <ng-container *ngIf="number_of_unseen_messages>0">

                <div #number_of_notifs [ngClass]="{ 'invisible': !pp_is_loaded || !data_retrieved || !using_chat_retrieved || using_chat,
                                  'notif-size-1':10>number_of_unseen_messages,
                                  'notif-size-2':100>number_of_unseen_messages && number_of_unseen_messages>=10,
                                  'notif-size-3':number_of_unseen_messages>=100}" style="cursor:pointer;"
                  (click)="open_messages_notifs($event);">
                  <div class="number-of-notifs" [ngClass]="{ 'invisible': !pp_is_loaded || !data_retrieved}">
                    <div *ngIf="number_of_unseen_messages>=100" [@enterAnimation]>
                      +99
                    </div>
                    <div *ngIf="100>number_of_unseen_messages" [@enterAnimation]>
                      {{number_of_unseen_messages}}
                    </div>
                  </div>
                </div>
                
              </ng-container>



            </div>



            <div #notifications class="icon-container none-for-phone" [ngClass]="{ 'shiny': !pp_is_loaded || !data_retrieved}">
              <div class="icon icon-bell" (click)="open_notifications() "
                [ngClass]="{ 'invisible': !pp_is_loaded || !data_retrieved}"
                matTooltip="Notifications" 
                matTooltipClass='linkarts-tooltip' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200">
              </div>
              <ng-container *ngIf="number_of_unchecked_notifications>0">
                <div [ngClass]="{ 'invisible':!pp_is_loaded || !data_retrieved || !using_chat_retrieved ,
                                  'notif-size-1':10>number_of_unchecked_notifications,
                                  'notif-size-2':100>number_of_unchecked_notifications && number_of_unchecked_notifications>=10,
                                  'notif-size-3':number_of_unchecked_notifications>=100}" style="cursor:pointer;"

                                  (click)="open_notifications_notifs($event);">
                  <div class="number-of-notifs" [ngClass]="{ 'invisible': !pp_is_loaded || !data_retrieved}">
                    <div *ngIf="number_of_unchecked_notifications>=100" [@enterAnimation]>
                      +99
                    </div>
                    <div *ngIf="100>number_of_unchecked_notifications" [@enterAnimation]>
                      {{number_of_unchecked_notifications}}
                    </div>
                  </div>
                </div>
              </ng-container>
             
            </div>

            

            <a class="icon-container none-for-phone none-for-phone" [ngClass]="{ 'shiny': !pp_is_loaded || !data_retrieved}" href="/add-artwork">
              <div class="icon icon-add"
                [ngClass]="{ 'invisible': !pp_is_loaded || !data_retrieved}"
                matTooltip="Publier une œuvre ou une annonce" 
                matTooltipClass='linkarts-tooltip' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200">
              </div>
            </a>

            <a class="profile-container" [routerLink]="get_my_profile()"  (click)="not_using_chat();go_to_profile()">
              <div *ngIf="!show_profile_spinner" class="profile-picture" [ngClass]="{ 'shiny': !pp_is_loaded || !data_retrieved}">
                <img [src]="profile_picture" (load)="pp_loaded()"
                  [ngClass]="{'invisible': !pp_is_loaded || !data_retrieved}">
              </div>
              <div *ngIf="show_profile_spinner" class="profile-picture loader" >
                <mat-spinner diameter="25"></mat-spinner>
              </div>

              <span [ngClass]="{'invisible': !data_retrieved}">Mon profil</span>
            </a>

            <div class="profile-container SMALL-SCREEN-PP" [ngClass]="{'invisible2': !logo_is_loaded2}">

              <div class="profile-picture" [ngClass]="{ 'shiny': !pp_is_loaded || !data_retrieved}" (click)="open_menu_for_phone()">
                <img [src]="profile_picture" (load)="pp_loaded()"
                  [ngClass]="{'invisible': !pp_is_loaded || !data_retrieved}">

              </div>

              <ng-container *ngIf="number_of_unseen_messages>0 || number_of_unchecked_notifications>0 ">

                <div class="notif-size-0" >
                </div>
              </ng-container>
              

            </div>


          </div>

          <!--connexion part-->
          <div class="navbar-l1-icons-container">


            <button class="signup" *ngIf="type_of_profile=='visitor' && !activated_search" (click)="signup()">
              <div class="icon-container2">
                <div class="icon2 icon-edit">
                </div>
              </div>
              <span>S'inscrire</span>
            </button>



            <div class="connexion-container"
              [ngClass]="{'account_opened': type_of_profile=='account' || type_of_profile=='suspended' }"
              *ngIf="!activated_search">

              <div class="connexion" [ngClass]="{'disconnecting': disconnecting}"
                *ngIf="type_of_profile=='account' || type_of_profile=='suspended'" (click)="logout()">
                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!disconnecting" class="rotate-icon">login</mat-icon>
                <span *ngIf="!disconnecting">Se déconnecter</span>
                <mat-spinner *ngIf="disconnecting" diameter="20"></mat-spinner>
              </div>
              <div class="connexion" *ngIf="type_of_profile=='visitor'" (click)="login()">
                <mat-icon [ngClass]="{'invisible': !show_icon }">login</mat-icon>
                <span>Se connecter</span>
              </div>


            </div>

            <div class="options LARGE-SCREEN-OPTIONS" *ngIf="!activated_search">
              <button class="optionsMenu" tabIndex="-1" [matMenuTriggerFor]="options">
                <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton more">more_vert</mat-icon>
              </button>
              <mat-menu #options="matMenu" class="navbar-mat-menu">
                <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item *ngIf="(type_of_profile=='account' || type_of_profile=='suspended')" (click)="really_open_my_account()">
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">settings</mat-icon>
                  <span>Mon compte</span>
                </button>
                <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_tuto()">
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">help</mat-icon>
                  <span>Qui sommes-nous ?</span>
                </button>
                <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item *ngIf="(type_of_profile=='account' || type_of_profile=='suspended') && check_group_done && user_is_in_a_group" [matMenuTriggerFor]="myGroups">
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">group</mat-icon>
                  <span>Mes groupes</span>
                </button>
                <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_share()">
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">share</mat-icon>
                  <span>Partager le site</span>
                </button>
                <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_contact()">
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">email</mat-icon>
                  <span>Nous contacter</span>
                </button>
                <a routerLink="/donation" class="navbar-button-menu-item" tabIndex="-1" mat-menu-item>
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">groups</mat-icon>
                  <span>Nous soutenir</span>
                </a>
                
                <a href="/services/1" class="navbar-button-menu-item" tabIndex="-1" mat-menu-item>
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">lock</mat-icon>
                  <span>Mentions légales</span>
                </a>
                <a href="/services/2" class="navbar-button-menu-item" tabIndex="-1" mat-menu-item>
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">menu_book</mat-icon>
                  <span>Conditions d'utilisation</span>
                </a>
                <a href="/services/4" class="navbar-button-menu-item" tabIndex="-1" mat-menu-item>
                  <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">security</mat-icon>
                  <span>Confidentialité et sécurité</span>
                </a>
                
              </mat-menu>
            </div>


            <mat-menu #myGroups="matMenu" class="navbar-mat-menu sub-menu">
              <ng-container *ngFor="let group of list_of_account_groups_names; let k=index">
                <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_group(k)">
                  <img [src]="list_of_account_groups_pp[k]" (load)="load_pp_group(k)"[ngClass]="{'invisible': !pp_group_loaded[k]}" >
                  <span>{{group}}</span>
                </button>
              </ng-container>
            </mat-menu>


            <div class="options SMALL-SCREEN-OPTIONS"   
              *ngIf="type_of_profile!='account' && type_of_profile!='suspended' && !activated_search">
              <button class="optionsMenu" tabIndex="-1" (click)="open_menu_for_phone_disconnected()">
                <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton more more_vert ">more_vert</mat-icon>
                <mat-icon [ngClass]="{'invisible': !show_icon, 'invisible2': !logo_is_loaded2 }" class="optionsButton more menu">menu</mat-icon>
              </button>
            </div>

            <div class="options absolute-close" *ngIf="activated_search">
              <button class="optionsMenu" tabIndex="-1" (click)="cancel_search();">
                <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton more">close</mat-icon>
              </button>
            </div>

          </div>
        </ng-container>




      </nav>
    </div>


    

   
  </div>

  <div #navbarMargin class="navbar-margin"></div>


  <div class="cookies-container more-bottom-footer" *ngIf="show_cookies" [@enterFromBottomAnimation]>
    <div class="text-container large-screen">
      Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site. Si vous continuez à utiliser ce dernier, nous considérerons que vous acceptez l'utilisation des cookies.
    </div>

    <div class="small-screen text-container ">
      <span>Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site.  <a class="see-more" href="/services/3"> Voir plus</a></span>
      
     
    </div>
    <div class="buttons-container">
      <div class="first-button" (click)="agree_on_cookies()">
        Ok
      </div>
      <a class="first-button large-screen" href="/services/3"> 
        Voir plus
      </a>

    </div>
  </div>


  <div *ngIf="show_menu_phone" class="footer-phone "  [@enterFromBottomAnimation]>
    <a class="category" [ngClass]="{'opened': navbar.active_section==0 }" (click)="not_using_chat()" routerLink="/">
      <div class="icon-home" [ngClass]="{'icon-clicked': navbar.active_section==0 }"></div>
      <span>Galerie</span>
    </a>
    <a class="category" [ngClass]="{'opened': navbar.active_section==1 }"  (click)="not_using_chat()" routerLink="/linkcollab">
        <div class="icon-collaboration" [ngClass]="{'icon-clicked': navbar.active_section==1 }"></div>
        <span>Collaboration</span>
    </a>

  </div>

  <div *ngIf="navbar.visible_help && type_of_profile_retrieved" class="help-container" tabIndex="-1" [matMenuTriggerFor]="helpOptions" [@enterAnimation] [ngClass]="{'bottom-help': show_cookies }">
    <span>?</span>
  </div>
  <mat-menu yPosition="above" xPosition="before" #helpOptions="matMenu" [class]="show_cookies ? 'navbar-mat-menu help-common menu-bottom-help' : 'navbar-mat-menu help help-common'">
    <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_tuto()">
      <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">help</mat-icon>
      <span>Qui sommes-nous ?</span>
    </button>
    <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_share()">
      <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">share</mat-icon>
      <span>Partager le site</span>
    </button>
    <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_donation()">
      <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">groups</mat-icon>
      <span>Nous soutenir</span>
    </button>
    <button class="navbar-button-menu-item" tabIndex="-1" mat-menu-item (click)="open_contact()">
      <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">email</mat-icon>
      <span>Nous contacter</span>
    </button>
    <div class="flex-container">
      <div *ngIf="(type_of_profile=='account' || type_of_profile=='suspended')" (click)="really_open_my_account()">Mon compte</div>
      <a routerLink="/services/1">Mentions légales</a>
      <a routerLink="/services/2">Conditions d'utilisation</a>
      <a routerLink="/services/4">Confidentialité et sécurité</a>
    </div>
  </mat-menu>

 
</div>
