


                <div class="miniature">
                    
                    <div *ngIf="!afficherpreview" class="uploader-container">
                        <div class="dropzone">
                            <div class="icon-container">
                                <div class="upload-icon"></div>
                                <label>
                                    <div class="select-button">
                                        Sélectionner un fichier
                                    </div>
                                    <input type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <ng-container  *ngIf="afficherpreview">
                        <img [src]="displayContent(uploader.queue[0])" alt="{{ uploader.queue[0]?.file?.name }}">
                        <div class="buttons-container">

                            <ng-container *ngIf="!uploader.queue[0].isSuccess">
                                <button mat-raised-button class="button style1"
                                        (click)="uploader.queue[0].upload();" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                                    <span>Valider</span> 
                                </button>
                                <button mat-raised-button class="button style0"
                                        (click)="remove_beforeupload(uploader.queue[0]);">
                                    <span class="">Recommencer</span> 
                                </button>
                            </ng-container>

                        </div>
                    </ng-container>

                </div>




















