

#uploader-profile-picture {
  overflow:hidden;
  width:600px;
  height:400px;
}

.thumbnail-container {
  display:flex;
  width:100%;
  height:100%;
}


.thumbnail-container .image-container {
display:flex;
width:100%;
height:100%;
}


.thumbnail-container .image-container .dropzone-container {
  display:flex;
  height:100%;
  width:100%;
}


.thumbnail-container .image-container .dropzone-container .dropzone {
  display: flex;
  border: dashed 7px #c7c7c7;
  width: 80%;
  height: 80%;
  margin: auto auto;
  border-radius: 5px;
}


.thumbnail-container .image-container .dropzone .icon-container {
  margin:auto auto;
  display:block
}


.thumbnail-container .image-container .dropzone .icon-container .upload-icon {
  margin:auto auto 10px auto;
  height:60px;
  width:60px;
  background:rgb(59, 59, 59);
  -webkit-mask:  url("../../assets/img/svg/dragdrop.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/dragdrop.svg") no-repeat 50% 50%;
}


.thumbnail-container .image-container .dropzone .icon-container span {
  font-size:18px;
  color:rgb(59, 59, 59);
  opacity:1;
  transition:opacity 200ms;
}


.thumbnail-container .image-container .dropzone-container .nv-file-over {
  border: dashed 4px rgb(94, 133, 206) !important;
  transition:border-color 200ms;
}


.thumbnail-container .image-container .dropzone-container .nv-file-over .upload-icon {
  transition:background-color 100ms;
  background:rgb(94, 133, 206) !important;
}

.thumbnail-container .image-container .dropzone-container .nv-file-over .icon-container span,
.thumbnail-container .image-container .dropzone-container .nv-file-over label {
  
}



.thumbnail-container .image-container label {
  display:flex;
  margin:20px auto auto auto;
  height:fit-content;
  width:fit-content;
}

.thumbnail-container .image-container .upload-picture {
  display:flex;
  cursor:pointer;
  margin:auto auto;
  padding:10px 15px 10px 15px;
  background:rgb(240, 240, 240);
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.26);
  border-radius:10px;
  border:1px solid rgb(219, 219, 219);
}

.thumbnail-container .image-container .upload-picture:hover {
  background:rgb(236, 236, 236);
  box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);
}


.thumbnail-container .image-container .upload-picture .add-logo {
  cursor:pointer;
  height: 20px;
  margin: auto 10px auto auto;
  width: 20px;
  background-color: rgb(44, 44, 44);
  -webkit-mask:  url("../../assets/img/svg/more.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/more.svg") no-repeat 50% 50%;
}

.thumbnail-container .image-container .upload-picture span {
  cursor:pointer;
  margin: auto auto auto 10px;
}



.thumbnail-container .crop-container {
width: 100%;
height: 100%;
display:flex;
}


.thumbnail-container .crop-container .img-container {
height:100%;
width:100%;
display:flex;
flex-direction: column;
margin:auto auto auto auto;
}

.thumbnail-container .crop-container .img-container .full-crop {
height:85%;
width:100%;
margin:auto auto;
}


.thumbnail-container .crop-container .img-container .options {
height: 15%;
width: 100%;
margin: auto auto;
display: flex;
background: white;
}


.thumbnail-container .crop-container .img-container .options button {
  width: 150px;
  display: flex;
  border-radius: 4px;
  font-size: 16px;
}

.thumbnail-container .crop-container .img-container .options button.cancel {
  margin:auto auto 2px 2px;
}

.thumbnail-container .crop-container .img-container .options button.validate {
  margin:auto 2px 2px auto;
}


//Cropper ng deep changes
::ng-deep #uploader-profile-picture .cropper-crop-box,
::ng-deep #uploader-profile-picture .cropper-view-box {
  outline:none !important;
}
::ng-deep #uploader-profile-picture .cropper-face {
  background-color:unset !important;
}
::ng-deep #uploader-profile-picture mat-slider {
  margin: auto auto 0px auto;
  width: calc(100% - 350px);
}
::ng-deep #uploader-profile-picture .mat-slider-track-fill {
  background-color: rgb(59, 83, 128) !important;
}
::ng-deep #uploader-profile-picture .mat-slider-thumb {
  background-color: rgb(32,56,100) !important;
}