
@import '../../material-styles.css';


@import '../../thumbnail-writing-styles.css';



.comic-container {
    overflow:hidden;
  }
  
  // CODE POUR CONTENU BD

  .col-writing {
    position: relative;
    flex-wrap: wrap;
    margin:0px auto 0px auto;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    justify-content: center;
    cursor:default;
  }
  
  /*
  .col-book:empty {
    height: 0;
    width:250px
  }*/
  

.writing-container-2 .swiper-slide.thumbnail {
    backface-visibility: hidden;
    margin: 10px 30px 10px 30px;
    width: 280px;
}


  .col-writing .empty {
    width:280px !important;
    height:1px !important;
  }
  



//**************************************************
//**************************************************
//**************************************************
//Image upload
//**************************************************
//**************************************************
//**************************************************

.uploader-container {
    height:100%;
    width:100%;
  }
  
  .uploader-container .dropzone {
    display:flex;
    width:100%;
    height:100%;
    margin:auto auto;
    color: black;
    background:white;
  }
  
  .uploader-container .dropzone .icon-container {
    margin:65px auto auto auto;
    display:block;
    
    label {
      cursor:pointer;
    }
  }
  

  .icon-container .select-button {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 8px !important;
    border-radius:40px;
    //box-shadow:  0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid rgb(32,56,100);
    color:rgb(32,56,100);
    background: white;
    outline:none !important;
    mat-icon {
        width:unset;
        height:unset;
        font-size: 24px;
        margin:auto 10px auto 10px;
        color:rgb(32,56,100);
    }
    span {
        margin:auto 10px auto 0px;
        color:rgb(32,56,100);
    }
  }
  .select-button:hover {
      background:#eeeff3 !important;
      box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
  }
  .select-button:active {
      background: #e2e5eb !important;
      box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
  }


  .uploader-container .dropzone .icon-container mat-icon {
    height: unset;
    width: unset;
    font-size: 50px;
    color: rgb(32,56,100);
  }
  
  .uploader-container .dropzone .icon-container span {
    font-size:1.2rem;
    color:rgb(83, 83, 83);
    opacity:1;
    transition:opacity 200ms;
  }
  
  
.buttons-container {
  position: absolute;
  display: flex;
  padding:5px;
  border-radius:20px;
  flex-direction: column;
  left: 50%;
  top: 37%;
  transform: translate(-50%,-50%);
  background: #707f9c70;
  justify-content: center;
}

.buttons-container .button {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  width: 120px;
  padding: 6px 8px !important;
  border-radius:40px;
  border: 1px solid rgb(32,56,100);
  color:rgb(32,56,100);
  background: white;
  outline:none !important;
  mat-icon {
    width:unset;
    height:unset;
    font-size: 24px;
    margin:auto 10px auto 10px;
    color:rgb(32,56,100);
  }
  span {
    margin: auto;
    color:rgb(32,56,100);
  }
}
.buttons-container .button:hover {
    background:#eeeff3 !important;
    box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
}
.buttons-container .button:active {
    background: #e2e5eb !important;
    box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
}

  

.swiper-categories {
  position:relative;
  height: 25px;
  width: 100%;
  margin-top: 2px;
  padding:0px 25px 0px 25px;
}


.swiper-categories .swiper-wrapper {
  height: 100% !important;
  width: 100% !important;
}
.swiper-categories .swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  color: #ffffff;
  /*background: #203864;*/
  border-radius: 50px;
  height: 20px;
  width: 20px;
  margin-top: unset !important;
  outline: none !important;
}
.swiper-categories .swiper-button-next {
  right:0;
}
.swiper-categories .swiper-button-prev {
  left:0;
}
.swiper-categories .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 11px !important;
}
