

<div class="container-fluid add-artwork">

    <div class="fake-navbar" [ngClass]="{'fake-navbar-hidden': fake_navbar_hidden}">

        <div class="navbar-container" 
        [ngClass]="{'category0':(opened_category$ | async)==0, 
        'category1':(opened_category$ | async)==1, 
        'category2':(opened_category$ | async)==2,
        'category3':(opened_category$ | async)==3,
        'step0':step==0, 
        'step1':step==1}">

            <a href="/" class="logo-container">
                <img class="logo" src='../../assets/img/svg/Logo-LA3.svg' (load)="load_logo()"  [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">
            </a>
    
            <ng-container *ngIf="(opened_category$ | async)!=0 && (opened_category$ | async)!=1 && (opened_category$ | async)!=2 && (opened_category$ | async)!=3">
                <span [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">Publication</span>
            </ng-container>
            <ng-container *ngIf="(opened_category$ | async)==0">
                <span [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">Publier une bande dessinée</span>
            </ng-container>
            <ng-container *ngIf="(opened_category$ | async)==1">
                <span [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">Publier un dessin ou un artbook</span>
            </ng-container>
            <ng-container *ngIf="(opened_category$ | async)==2">
                <span [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">Publier un écrit</span>
            </ng-container>
            <ng-container *ngIf="(opened_category$ | async)==3">
                <span [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">Publier une annonce</span>
            </ng-container>
    
            <a class="profile-picture-container" *ngIf="profile_picture_retrieved" href="/account/{{pseudo}}" [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">
                <img class="profile-picture" [src]="profile_picture"  (load)="load_pp()" >
            </a>
        </div>
        
    </div>

    <ng-container *ngIf="(opened_category$ | async)==-1">
        
        <div class="categories-container">


            <span class="title">Que désirez-vous publier ?</span>

            <button class="category-choice" (click)="open_category(0);">
                <div [ngClass]="{'invisible':!logo_loaded || !pp_loaded}" class="comic-bubble-icon"></div>
                <span>Une bande dessinée</span>
            </button>
            <button class="category-choice" (click)="open_category(1);">
                <div [ngClass]="{'invisible':!logo_loaded || !pp_loaded}" class="pencil-icon"></div>
                <span>Un dessin ou un artbook</span>
            </button>
            <button class="category-choice" (click)="open_category(2);">
                <div [ngClass]="{'invisible':!logo_loaded || !pp_loaded}" class="writing2-icon"></div>
                <span>Un écrit</span>
            </button>
            <button class="category-choice" (click)="open_category(3);">
                <mat-icon [ngClass]="{'invisible':!logo_loaded || !pp_loaded}">announcement</mat-icon>
                <span>Une annonce</span>
            </button>

        </div>


    </ng-container>


    <!--For book type artworks-->
    <div *ngIf="(opened_category$ | async)==0" style="width:100%;">
        <app-add-comic 
            [user_id]=user_id
            [author_name]=author_name 
            [primary_description]=primary_description 
            [pseudo]=pseudo 
            [profile_picture]=profile_picture
            [type_of_account]=type_of_account
            (hideNavbar)="hide_fake_navbar();"
            (showNavbar)="show_fake_navbar();"
            (stepChanged)="step_changed($event);"
            (cancelled)="step_back($event);">
        </app-add-comic>
    </div>
    
    <!--For drawing type artworks-->
    <div *ngIf="(opened_category$ | async)==1" style="width:100%;">
        <app-add-drawing 
            [author_name]=author_name 
            [primary_description]=primary_description 
            [pseudo]=pseudo
            [user_id]=user_id
            [profile_picture]=profile_picture
            [type_of_account]=type_of_account
            (stepChanged)="step_changed($event);"
            (hideNavbar)="hide_fake_navbar();"
            (showNavbar)="show_fake_navbar();"
            (cancelled)="step_back($event);">
        </app-add-drawing>
    </div>

    <!--For writing type artworks-->
    <div *ngIf="(opened_category$ | async)==2" style="width:100%;">
        <app-add-writing 
            [author_name]=author_name 
            [primary_description]=primary_description 
            [pseudo]=pseudo
            [user_id]=user_id
            [profile_picture]=profile_picture
            [type_of_account]=type_of_account
            (hideNavbar)="hide_fake_navbar();"
            (showNavbar)="show_fake_navbar();"
            (stepChanged)="step_changed($event);"
            (cancelled)="step_back($event);">
        </app-add-writing>
    </div>

    <!--For writing type artworks-->
    <div *ngIf="(opened_category$ | async)==3" style="width:100%;">
        <app-add-ad 
            [author_name]=author_name 
            [primary_description]=primary_description 
            [pseudo]=pseudo
            [profile_picture]=profile_picture
            [id]=user_id
            (stepChanged)="step_changed($event);"
            (cancelled)="step_back($event);">
        </app-add-ad>
    </div>


    
</div>