
@import '../../material-styles.css';


.container-fluid {
    margin-top:0px;
    width:100%;
    min-height:100%;
    display:flex;
    background-color: rgb(158, 206, 236);
}

.container-fluid .form {
    position: relative;
    width: calc(100% - 450px);
    margin-top:5vh;
    margin-bottom:5vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 30px;
    place-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    background: white;
    border-radius: 9px;
    border: 1px solid #8395bb;
    box-shadow: 0 0px 31px 5px #89bfe0;
}



@media (max-width:500px) { 
    .container-fluid .form {
        width:calc(100%) !important;
        padding-left:8px !important;
        padding-right:8px !important;
    }
    .container-fluid {
        padding-left:0px !important;
        padding-right:0px !important;
    }
}
@media (min-width:500px) { 
    .container-fluid .form {
        padding-left:35px !important;
        padding-right:35px !important;
    }
}
@media (max-width:1300px) {
      
    .container-fluid .form {
        width:calc(100% - 30px) !important;
    }

}


//*************************************************************
//Forms
//*************************************************************


::ng-deep {
        
    form {
        width:100%;
        margin-left:auto;
        margin-right: auto;
    }

    .form-container {
        width:100%;
        margin:5px auto 20px auto;
        border-radius: 20px;
    }

    .form-container .form-container-name {
        width:100%;
        height:60px;
        display:flex;
    }

    .form-container .form-container-name span {
        margin: auto auto 10px 0px;
        cursor:default;
        font-size: 21px;
        font-weight: bold;
        color: rgb(32,56,100);
    }

    .form-container .form-container-data {
        width:95%;
        padding-top: 25px;
        padding-bottom: 25px;
        margin:0px auto 20px auto;
    }

    .form-container .form-container-flex {
        display:flex;
        width:95%;
        padding-top: 25px;
        padding-bottom: 25px;
        margin:20px auto 20px auto;
        justify-content: center;
    }

    .form-container .form-container-flex .flex-left-container {
        width:50%;
        margin-right:10px;
        padding-right:20px;
        border-right: 1px solid rgb(232, 232, 232);
    }

    .form-container .form-container-flex .flex-right-container {
        width:50%;
        margin-left:10px;
    }

    .form-group > label {
        font-weight: bold;
        margin-bottom:5px;
    }

    .form-group p {
        font-size: 15px;
        line-height: 20px;
        margin-top: 5px;
        margin-bottom: 0px !important;
        color:rgb(97, 0, 0);
    }

    
    .form-item {
        position:relative;
        width:100%;
        height:70px;
        margin-top:15px;
        margin-bottom:15px;
    }

        
    .mat-input-element {
        line-height: 22px !important;
        padding-right: 70px !important;
    }
    
    .mat-dialog-container {
        position:relative !important;
    }
    
    .form-item .mat-form-field {
        width:100%;
    }
    
    .form-item .mat-form-field .mat-form-field-flex {
        background: rgba(132, 199, 230, 0.149) !important;
        padding-left: 10px !important;
    }
    
    .form-item .mat-form-field textarea {
        max-height:180px;
        min-height:100px;
    }

    .form-item .length-indicator {
        position: absolute;
        right: 15px;
        color: grey;    
        font-size: 15px;
        top: 5px;
    }




}



.container-fluid span.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom:30px;
}

.categories-container {
    position: relative;
    width: 450px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 30px;
    place-self: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    background: white;
    border-radius: 9px;
    border: 1px solid #8395bb;
    box-shadow: 0 0px 31px 5px #89bfe0;
}

.categories-container .category-choice {
    display:flex;
    height:40px;
    width: 70%;
    min-width: 240px;
    margin-top: 34px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    border-radius:20px;
    font-size:15px;
    box-shadow: 0px 0px 10px 1px rgb(218, 230, 238) !important;
    border: 1px solid #85a1b3 !important;
}


.categories-container .category-choice span {
    margin:auto auto;
}



//*********************************************************
//*********************************************************
//Step back and validate Styles : (DO NOT SUPPRESS)
//*********************************************************
//*********************************************************
:host ::ng-deep {
    .step-back-button {
        display:flex !important;
        border-radius: 25px;
        font-size: 15px;
        margin-bottom:25px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius:40px;
        box-shadow: 0px 0px 10px 1px rgb(218, 230, 238) !important;
        border: 1px solid #85a1b3 !important;
        outline:none !important;
    }

    .step-back-button .back-icon {
        width:25px;
        height:25px;
        margin:auto 10px auto 10px;
        background-color: rgb(126, 171, 255);
        -webkit-mask:  url("../../assets/img/svg/back.svg") no-repeat 50% 50%;
        mask: url("../../assets/img/svg/back.svg") no-repeat 50% 50%;
    }
    .step-back-button span {
        margin:auto 10px auto 0px;
    }

    .submit-button {
        display:flex;
        cursor:pointer;
        margin-top:30px;
        margin-bottom:15px;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        height: 60px;
        border-radius: 7px;
    }

    .submit-button span {
        margin:auto auto;
        font-size: 20px;
    }
}