<div >
    <app-uploader-ad-response-attachments
    [status]="begin_download_attachments" 
    [id_ad_response]="id_ad_response"
    (uploaded1)="all_attachments_uploaded( $event );"></app-uploader-ad-response-attachments>
    <!--<app-uploader-ad-response-pictures
    [status]="begin_download_attachments" 
    [id_ad_response]="id_ad_response"
    (uploaded)="all_pictures_uploaded( $event );"></app-uploader-ad-response-pictures>-->
</div>


<div [formGroup]="response_group" novalidate>
    <div class="form-group">
        <label>Message</label>
        <textarea type="text" formControlName="response" maxlength="2000" style="height: 100px;resize:none;" class="form-control" placeholder="Saisir un message" autocomplete="off" required>
        </textarea>
        <p *ngIf="10 > response.value.length  && show_error">Veuillez saisir au moins 10 caractères</p>

        
    </div>
</div>


<div class="response-button-container">
    <button mat-raised-button class="button style1" (click)="send_response();">
        <span>Soumettre ma réponse</span> 
    </button>
</div>


