<div class="title">
    <span>Répondre à l'annonce</span>
    <button [mat-dialog-close]="true">
        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
    </button>
</div>

<div class="scrollable-container">
    <div class="component-container popupAdWriteResponses">

        <div>
            <app-uploader-ad-response-attachments
            [status]="begin_download_attachments" 
            [id_ad_response]="id_ad_response"
            (uploaded1)="all_attachments_uploaded( $event );"></app-uploader-ad-response-attachments>
        </div>
        
        
        <form [formGroup]="response_group" novalidate>
            <div class="form-container">
        
                <div class="form-container-name">
                    <span>Message</span>
                </div>
                <div class="form-item input-multiple-lines">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Message</mat-label>
        
                        <textarea matInput cdkTextareaAutosize formControlName="response" maxLength="2000"
                            autocomplete="off"></textarea>
                        <mat-error *ngIf="response_group.controls['response'].invalid">Veuillez faire une saisie valide (votre
                            saisie ne doit pas commencer ni terminer par un espace)
                        </mat-error>
                        <div class="length-indicator">{{response_group.controls['response'].value?.length || 0}}/2000</div>
                    </mat-form-field>
                </div>
            </div>
            
            <button class="submit-button" (click)="send_response();">
                <mat-icon [ngClass]="{'invisible': !show_icon }"  *ngIf="display_loading">done_all</mat-icon>
                <span *ngIf="display_loading">Envoyer</span>
                <mat-spinner *ngIf="!display_loading" diameter="25"  style="margin:auto;"></mat-spinner>
            </button>
        
        </form>


    </div>
</div>


