
    <div #thumbnail class="col-offer text-center top-offer">
        <div class="element-offer">

            <div #swiper class="swiper-container">
                <div class="swiper-wrapper">


                    <div class="swiper-slide">
                        <img src="../../assets/img/account.jpg">
                    </div>
                    <div class="swiper-slide">

                        <div class="max-dimensions">
                            <div #subSwiper class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="max-dimensions">
                                            <div class="title">
                                                <span>Description</span>
                                            </div>
                                            <div class="description">
                                                <span>
                                                    Ceci est mon annonce de Ceci est mon annonce de Ceci est mon annonce de 
                                                    Ceci est mon annonce de Ceci est mon annonce de Ceci est mon annonce de 
                                                    Ceci est mon annonce de Ceci est mon annonce de Ceci est mon annonce de 
                                                    Ceci est mon annonce de Ceci est mon annonce de Ceci est mon annonce de 
                                                    Ceci est mon annonce de Ceci est mon annonce de Ceci est mon annonce de 
                                                    Ceci est mon annonce de Ceci est mon annonce de Ceci est mon annonce de 
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../assets/img/account.jpg">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../../assets/img/account.jpg">
                                    </div>
                                </div>
                                <!-- Add Scrollbar -->
                                <div class="swiper-scrollbar"></div>
                                <!-- Add Arrows -->
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>



            <div class="offer-container">
                
                <div class="left-container">
                    <img src="../../assets/img/profile-pictures/herge.jpg">
                </div>

                <div class="right-container">
                    <div class="top">
                        <span>Recherche dessinateur pour carte restaurant</span>
                    </div>

                    <div class="bottom">
                        <div class="bottom-left">

                            <div style="display:flex;">Adam Drira</div>
                            <div style="display:flex;">
                                <mat-icon class="icon">work</mat-icon>
                                <span>
                                    Scénariste
                                </span>
                            </div>
                            <div style="display:flex;">
                                <mat-icon class="icon"> location_on</mat-icon>
                                <span>
                                    Paris, France
                                </span>
                            </div>

                        </div>
                        <div class="bottom-right">
                            <span>Projet manga</span>
                            <span>Publié il y a 1 semaine</span>
                        </div>
                    </div>

                </div>

            </div>
            

        </div>
    </div>