


<div class="comic-container ad">


    <div #thumbnail class="col-book text-center" style="display:flex;">
        
        <!--Slide recto-->
        <div class="swiper-slide">
            <div class="element-book border-recto">

                <div class="miniature">
                    
                    <div *ngIf="afficheruploader" class="uploader-container">
                        <div class="dropzone">
                            <div class="icon-container">
                                <label>
                                    <mat-icon>save_alt</mat-icon>
                                    <div class="select-button">
                                        Sélectionner un fichier
                                    </div>
                                    <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <ng-container  *ngIf="afficherpreview">
                        <img [src]="displayContent(uploader.queue[0])" alt="{{ uploader.queue[0]?.file?.name }}" >
                    </ng-container>
                    

                </div>
                
            </div>

        </div>



    </div>
    
</div>



<div class="buttons-container" *ngIf="afficherpreview" [@enterAnimation]>

    <!-- before upload-->
   <ng-container *ngIf="!for_edition && !uploader.queue[0].isSuccess">
       <button class="button style1" [ngClass]="{'loading_thumbnail':cover_loading}" 
               (click)="validate()" [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess || cover_loading">
            <mat-icon *ngIf="!cover_loading">done</mat-icon>
            <span *ngIf="!cover_loading">Valider</span> 
            <mat-spinner *ngIf="cover_loading" diameter="25"  style="margin:auto;"></mat-spinner>
       </button>
       <button class="button style0"    
               (click)="remove_beforeupload(uploader.queue[0]);"
               [disabled]="cover_loading">
               <mat-icon>refresh</mat-icon>
               <span class="">Recommencer</span> 
       </button>
   </ng-container>

     

   <ng-container *ngIf="for_edition && uploader.queue[0] && !uploader.queue[0].isSuccess">
       <button class="button style1" [ngClass]="{'loading_thumbnail':cover_loading}" 
               (click)="validate()" [disabled]="cover_loading || uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
            <mat-icon  *ngIf="!cover_loading">done</mat-icon>
            <span  *ngIf="!cover_loading">Valider</span> 
            <mat-spinner *ngIf="cover_loading" diameter="25"  style="margin:auto;"></mat-spinner>
       </button>
       <button class="button style0"
               (click)="remove_beforeupload(uploader.queue[0]);"
               [disabled]="cover_loading">
               <mat-icon>refresh</mat-icon>
               <span class="">Recommencer</span> 
       </button>
   </ng-container>

   <!-- after upload-->

   <ng-container *ngIf=" !for_edition && uploader.queue[0].isSuccess">
       <button  class="button style0"
               (click)="remove_afterupload(uploader.queue[0]);"
               [disabled]="cover_loading">
            <mat-icon>refresh</mat-icon>
            <span class="">Recommencer</span> 
       </button>
   </ng-container>

   <ng-container *ngIf="for_edition  && uploader.queue[0] && uploader.queue[0].isSuccess">
       <button class="button style0"
               (click)="remove_afterupload(uploader.queue[0]);"
               [disabled]="cover_loading">
               <mat-icon>refresh</mat-icon>
               <span class="">Recommencer</span> 
       </button>
   </ng-container>

</div>

















