
@import '../../material-styles.css';


.uplaoder-container{
    position: relative;
    margin: 40px auto 30px auto;
}

.my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

.button-container {
    width:100%;
    margin-bottom: 20px;
    display:flex;
}

.button-container label {
    width:100%;
    height:50px;
}


.upload-picture {
    display:flex;
    cursor:pointer;
    margin:auto auto;
    padding:10px 15px 10px 15px;
    background:rgb(240, 240, 240);
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border-radius:10px;
    border:1px solid rgb(219, 219, 219);
}

.upload-picture:hover {
    background:rgb(236, 236, 236);
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);
}


.upload-picture .add-logo {
    cursor:pointer;
    height: 20px;
    margin: auto 10px auto auto;
    width: 20px;
    background-color: rgb(44, 44, 44);
    -webkit-mask:  url("../../assets/img/svg/more.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/more.svg") no-repeat 50% 50%;
}

.upload-picture span {
    cursor:pointer;
    margin: auto auto auto 10px;
}

.attachments {
    width:100%;
    max-height:230px;
    overflow-y:auto;
}

.attachment-container {
    display:flex;
    justify-content: space-between;
    width:100%;
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
}

.attachment-container .left-container {
    width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.attachment-container span {
    align-self: center;
}

.attachment-container > div {
    place-self: center;
}


.attachment-container .attachment-picture {
    height: 100%;
    width: 100%;
    max-width: 100px;
}

.attachment-container .attachment-picture img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    border: 2px solid rgb(209, 224, 251);
}