<div class="chat-container">
    <div class="main-left-container" [ngClass]="{'width-extended':spam=='true' }">

        <div class="top-container row">

            <div class="author-container col-md-3">
                <div class="left-container" [ngClass]="{'unvisible':!top_pp_loaded }">
                    <img [src]="friend_picture" (load)="top_pp_is_loaded()">
                </div>
                <div class="right-container">
                    <span class="author-name">{{friend_name}} </span>
                </div>
            </div>

            <div class="discussions-container col-md-6">
                <div class="options-container">
                    <button mat-button class="mat-icon-button" tabIndex="-1" (click)="add_chat_section()"> 	
                        <mat-icon class="item-icon">library_add</mat-icon>
                    </button>
                    <button mat-button class="mat-icon-button" tabIndex="-1" (click)="add_chat_section_research()" > 	
                        <mat-icon class="item-icon">search</mat-icon>
                    </button>
                    <button mat-button class="mat-icon-button" tabIndex="-1" (click)="delete_chat_section()"> 	
                        <mat-icon class="item-icon">delete</mat-icon>
                    </button>
                    <div class="dropdown-container"  [formGroup]="chat_section_group" >
                        <div  class="chat-section-container sumo" [ngClass]="{'really-unvisible':activate_add_chat_section ||activate_research_chat_section}">
                            <select formControlName="chat_section_name"  class="chat-section" style="height: 100%; width:100%;" [ngClass]="{'really-unvisible':!top_sumo_loaded}"> 
                                <option  value="" selected disabled>{{chat_section_to_open}}</option>
                                <option *ngFor="let section of list_of_chat_sections;let i=index;" > {{section}}</option> 
                            </select>
                        </div>
                        <div class="chat-section-container" *ngIf="activate_add_chat_section">
                            <div>
                                <input 
                                style="
                                border-radius: 5px;
                                background-clip: unset !important;
                                padding:5px;"
                                formControlName="chat_section_name_added"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Titre de la conversation'"
                                class="form-control form-control-dark large-form" type="text" [placeholder]="'Titre de la conversation'">
                                <button mat-button tabIndex="-1" style="margin:auto 0px" class="mat-icon-button" [ngStyle]="{'color':'green'}" (click)="add_chat_section_name()" >
                                    <mat-icon class="item-icon">done</mat-icon>
                                </button>
                                <button mat-button tabIndex="-1" style="margin:auto 0px" class="mat-icon-button" [ngStyle]="{'color':'red'}" (click)="cancel_add_section()" >
                                    <mat-icon class="item-icon">close</mat-icon>
                                </button>
                            </div>
                        </div>
                        
                        <div  class="chat-section-container" *ngIf="activate_research_chat_section">
                            <div>
                                <input
                                style="border-radius: 5px;
                                background-clip: unset !important;
                                padding:5px;"
                                (input)="on_keydown_research_chat_section($event)"
                                formControlName="research_chat_section_message"
                                onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Rechercher'"
                                class="form-control form-control-dark large-form" type="text" [placeholder]="'Rechercher'">
                               
                                <button mat-button tabIndex="-1" style="margin:auto 0px" class="mat-icon-button" [ngStyle]="{'color':'red'}" (click)="close_chat_section_research()" >
                                    <mat-icon class="item-icon">close</mat-icon>
                                </button>
                            </div>

                            <div #show_container_research *ngIf="show_container_research_chat" class="show-container-research-chat">
                                <div *ngIf="show_container_research_chat_results">
                                    <mat-list *ngIf="!no_result_container_research_chat">
                                        <mat-list-item *ngFor="let section of list_of_chat_sections_found; let i=index"  class="mat-line-hover" (click)="open_section_found(i)">
                                            <div mat-line >
                                                <span> {{section}}</span>
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                    <div *ngIf="no_result_container_research_chat" style="color: black;
                                    display: flex;
                                    justify-content: center;">
                                        <span>Aucun résultat</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="show-notification-message" *ngIf="show_notification_message">
                        <div class="notification-container">
                            <img style="height:18px" src="../../assets/img/bell_blue_black2.png">
                        </div>
                    </div>
                </div>
                
                
            </div>
           
            <div class="col-md-3" style="text-align:right;" [ngClass]="{'unvisible':!top_pp_loaded }" >

                <div #searchbartop *ngIf="show_pre_searchbar_top" class="mat-toolbar-tools" >
                    <button mat-button tabIndex="-1" class="mat-icon-button"  (click)="initiateSearch()" >
                        <mat-icon class="item-icon" style="font-size: 30px; width: 30px;margin:auto auto;">search</mat-icon>
                    </button>
                </div>

                <div *ngIf="show_searchbar_top" class="search-bar-messages" >
                    <form>
                        <mat-form-field [formGroup]="research_messages" floatLabel='never'>
                            <mat-label>Rechercher un message</mat-label>
                            <input #research matInput autocomplete="off" formControlName="research_message" (keydown)="on_keydown_research($event)">
                        </mat-form-field>
                    </form>
            
                    <button mat-button tabIndex="-1" class="mat-icon-button" (click)="endSearch()">
                        <mat-icon  class="item-icon" style="font-size: 30px; width: 30px;margin:auto auto;">close</mat-icon>
                    </button>
                </div>
            </div>
           
            <div *ngIf="show_research_results" class="top-container-for-reasearch" >
                <ng-container *ngIf="number_of_messages_found>0">
                    <button mat-button tabIndex="-1" class="mat-icon-button" (click)="show_next_message_researched()">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                    <button mat-button tabIndex="-1" class="mat-icon-button" (click)="show_precedent_message_researched()">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <div style="margin-left: 5px;">
                        {{number_click_top}} sur {{number_of_messages_found}} pour {{message_researched}}
                    </div>
                    

                    <button mat-icon-button class="cancel-response" style="margin: auto 0px auto auto;" (click)="cancel_show_research_results()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <!--<button (click)="cancel_show_research_results()" style="margin: auto 0px auto auto;">
                        Terminer
                    </button>-->

                </ng-container>
                <ng-container *ngIf="number_of_messages_found==0">
                    <span>Aucun résultat</span>

                    
                    <button mat-icon-button class="cancel-response" (click)="cancel_show_research_results()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <!--<button (click)="cancel_show_research_results()">
                        Terminer
                    </button>-->

                </ng-container>
            </div>

        </div>

        
    
        <div class="middle-container" >


                <mat-spinner diameter="20" *ngIf="show_spinner"></mat-spinner>
                <div class="loading-page">
                    <mat-spinner diameter="50" *ngIf="!put_messages_visible "></mat-spinner>
                </div>

                <!--<perfect-scrollbar >-->
                    <div #myScrollContainer class="messages-container" id="messages-container" [ngClass]="{'unvisible':!put_messages_visible}">

                        
                        <div *ngIf='display_messages' style="width:100%;">

                            <div *ngIf="trigger_no_more" class="show-more">
                                <div style="text-align: center;">
                                    <span>
                                        Début de la discussion : {{list_of_messages_date[list_of_messages.length -1]}}
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="show_research_results && !trigger_no_more" class="show-more">
                                <mat-spinner diameter="20" *ngIf="show_spinner_for_more" ></mat-spinner>
                                <button mat-raised-button class="show-more-button style0" *ngIf="!show_spinner_for_more" (click)="see_more_messages()">
                                    <span>Voir plus</span>
                                </button>
                            </div>
                            
                            <div #message_children *ngFor="let item of list_of_messages; let i = index" class="message"
                            [ngClass]="{'bottom-with-reactions':(list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver!=null ||list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user!=null),
                                            'more-margin-for-date':(list_of_messages[list_of_messages.length- i] && get_time_of_date(list_of_messages[list_of_messages.length- i].createdAt)!=get_time_of_date(list_of_messages[list_of_messages.length -1 - i].createdAt))}">

                                <div *ngIf="list_of_messages[list_of_messages.length- i]" class="display-date">
                                    <div *ngIf="get_time_of_date(list_of_messages[list_of_messages.length- i].createdAt)!=get_time_of_date(list_of_messages[list_of_messages.length -1 - i].createdAt)">
                                        {{show_date_of_timestamp(list_of_messages[list_of_messages.length -1 - i].createdAt)}}
                                    </div>
                                </div>
                                

                                <ng-container *ngIf="list_of_messages[list_of_messages.length -1 - i].id_user==current_user_id && !list_of_messages[list_of_messages.length -1 - i].is_from_server">
                                    <div class="my-message-content" >


                                        <div #emojis_reactions class="main-container-reactions closed" [ngClass]="{'my-reactions':list_of_messages[list_of_messages.length -1 - i].id_user==current_user_id,'friend-reactions':list_of_messages[list_of_messages.length -1 - i].id_user!=current_user_id }">
                                            <div class="container-reactions" *ngFor="let emoji of emojis_list; let j=index">
                                                <ngx-emoji
                                                (emojiClick)="reaction_click($event,list_of_messages.length -1 - i)"
                                                useButton="true"
                                                set="apple"
                                                emoji="{{emoji}}"
                                                size="30"
                                                ></ngx-emoji>
                                            </div>
                                        </div>
                                        
                                        <div class="options">
                                            
                                            <div class="date-option">
                                                <span>{{list_of_messages_date[list_of_messages.length -1 - i]}}</span>
                                            </div>

                                            <button *ngIf="list_of_messages[list_of_messages.length -1 - i].status!='sent' && list_of_messages[list_of_messages.length -1 - i].status!='deleted'" mat-icon-button class="optionsMenu" [matMenuTriggerFor]="artworkOptions">
                                                <mat-icon class="optionsButton">more_horiz</mat-icon>
                                            </button>
                                            <mat-menu  #artworkOptions="matMenu">
                                                <button class="mat-menu-item" mat-menu-item (click)="delete_message(list_of_messages.length -1 - i)" > 	
                                                    <mat-icon class="item-icon">edit</mat-icon>
                                                    <span>Supprimer</span>
                                                </button>
                                                <button class="mat-menu-item" mat-menu-item (click)="respond_to_message(list_of_messages.length -1 - i)"> 	
                                                    <mat-icon class="item-icon">view_carousel</mat-icon>
                                                    <span>Répondre</span>
                                                </button>
                                                <button class="mat-menu-item" mat-menu-item (click)="show_reactions(i,$event)" > 	
                                                    <mat-icon class="item-icon">view_carousel</mat-icon>
                                                    <span>Réagir</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    
                                        
                                        
                                        <div class="content" *ngIf="list_of_messages[list_of_messages.length -1 - i].status=='deleted'">
                                                Message supprimé
                                        </div>
                                        <div *ngIf="list_of_messages[list_of_messages.length -1 - i].status!='deleted'" class="content">
                                            <div *ngIf="list_of_messages[list_of_messages.length -1 - i].is_a_response" class="response-content" (click)="show_response(list_of_messages.length -1 - i)">                            
                                                <div class="response-message">
                                                    {{list_of_messages[list_of_messages.length -1 - i].message_responding_to}}
                                                </div>
                                            </div>
                                            <div class="emoji-reaction-content" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user != list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver">
                                                <div class="emoji-reaction-content-center" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user">
                                                    <ngx-emoji 
                                                    useButton="true"
                                                    set="apple"
                                                    emoji="{{list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user}}"
                                                    size="22"
                                                    ></ngx-emoji>
                                                </div>
                                                <div class="emoji-reaction-content-center" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver" 
                                                [ngClass]="{'second-emoji':list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user }">
                                                    <ngx-emoji 
                                                    useButton="true"
                                                    set="apple"
                                                    emoji="{{list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver}}"
                                                    size="22"
                                                    ></ngx-emoji>
                                                </div>
                                            </div>
                                            <div class="emoji-reaction-content" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user && 
                                            (list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user == list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver)">
                                                <div class="emoji-reaction-content-center" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user">
                                                    <ngx-emoji 
                                                    useButton="true"
                                                    set="apple"
                                                    emoji="{{list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user}}"
                                                    size="22"
                                                    ></ngx-emoji>
                                                </div>
                                                <span style="color: darkgrey;
                                                    padding: 0px 5px 0px 5px;">
                                                        2
                                                    </span>
                                            </div>
                                            <div *ngIf="!list_of_messages[list_of_messages.length -1 - i].is_an_attachment" >
                                                {{list_of_messages[list_of_messages.length -1 - i].message}}
                                            </div>
                                            <div *ngIf="list_of_messages[list_of_messages.length -1 - i].is_an_attachment" >
                                                <div *ngIf="list_of_messages[list_of_messages.length -1 - i].attachment_type=='picture_message'">
                                                    <img (load)=loaded_image($event) style="max-width:140px;max-height:140px;" [src]="list_of_messages_pictures[list_of_messages.length -1 - i]">
                                                </div> 
                                                <div *ngIf="list_of_messages[list_of_messages.length -1 - i].attachment_type=='picture_attachment'" class="image-container">
                                                    <img (load)=loaded_image($event) [src]="list_of_messages_pictures[list_of_messages.length -1 - i]">
                                                    <a [href]="list_of_messages_pictures[list_of_messages.length -1 - i]" [download]="list_of_messages[list_of_messages.length -1 - i].attachment_name">{{list_of_messages[list_of_messages.length -1 - i].attachment_name}}</a>
                                                </div> 
                                                <div *ngIf="list_of_messages[list_of_messages.length -1 - i].attachment_type=='file_attachment'">
                                                    <a [href]="list_of_messages_files[list_of_messages.length -1 - i]" [download]="list_of_messages[list_of_messages.length -1 - i].attachment_name">{{list_of_messages[list_of_messages.length -1 - i].attachment_name}}</a>
                                                </div> 
                                            </div>
                                        </div >
                                        <div class="state" *ngIf="list_of_messages[list_of_messages.length -1 - i].status=='received'">
                                            <div class="received">

                                            </div>
                                        </div>
                                        <div class="state" *ngIf="list_of_messages[list_of_messages.length -1 - i].status=='sent'">
                                            <div *ngIf="display_retry[list_of_messages.length -1 - i]">
                                                <div style="margin-right:5px;cursor:default;text-align:center;">
                                                    Message non envoyé. 
                                                    <div (click)="retry(list_of_messages.length -1 - i)" style="font-weight:600;cursor:pointer;">Réessayer</div> 
                                                </div>
                                                <!--<button (click)="retry(list_of_messages.length -1 - i)">retry</button>-->
                                            </div>
                                            <div *ngIf="!display_retry[list_of_messages.length -1 - i]" class="send_in_progress">
                                            </div>
                                        </div>
                                        
                                        <div *ngIf="(index_of_show_pp_right==list_of_messages.length -1 - i) && list_of_messages[list_of_messages.length -1 - i].status=='seen'"
                                        style="margin-right:15px;">
                                            <div class="friend-picture">
                                                <img (load)="loaded_image($event)" [src]="friend_picture">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </ng-container>
                                <ng-container *ngIf="list_of_messages[list_of_messages.length -1 - i].id_user!=current_user_id && !list_of_messages[list_of_messages.length -1 - i].is_from_server">
                                    
                                    <div class="friend-message-content">

                                        <div #emojis_reactions class="main-container-reactions closed" [ngClass]="{'my-reactions':list_of_messages[list_of_messages.length -1 - i].id_user==current_user_id,'friend-reactions':list_of_messages[list_of_messages.length -1 - i].id_user!=current_user_id }">
                                            <div class="container-reactions" *ngFor="let emoji of emojis_list; let j=index">
                                                <ngx-emoji
                                                (emojiClick)="reaction_click($event,list_of_messages.length -1 - i)"
                                                useButton="true"
                                                set="apple"
                                                emoji="{{emoji}}"
                                                size="30"
                                                ></ngx-emoji>
                                            </div>
                                        </div>


                                        <div *ngIf="list_of_show_pp_left[list_of_messages.length -1 - i]"
                                        style="margin-left:15px;">
                                            <div class="friend-picture">
                                                <img (load)="loaded_image($event)" [src]="friend_picture">
                                            </div>
                                        </div>
                                        <div class="content" *ngIf="list_of_messages[list_of_messages.length -1 - i].status=='deleted'">
                                            Message supprimé
                                        </div>
                                        <div class="content" *ngIf="list_of_messages[list_of_messages.length -1 - i].status!='deleted'">
                                                <div *ngIf="list_of_messages[list_of_messages.length -1 - i].is_a_response" class="response-content" (click)="show_response(list_of_messages.length -1 - i)">                            
                                                    <div class="response-message">
                                                        {{list_of_messages[list_of_messages.length -1 - i].message_responding_to}}
                                                    </div>
                                                </div>
                                                <div class="emoji-reaction-content" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user != list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver">
                                                    <div class="emoji-reaction-content-center" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user">
                                                        <ngx-emoji 
                                                        useButton="true"
                                                        set="apple"
                                                        emoji="{{list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user}}"
                                                        size="22"
                                                        ></ngx-emoji>
                                                    </div>
                                                    <div class="emoji-reaction-content-center" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver"
                                                    [ngClass]="{'second-emoji':list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user}" >
                                                        <ngx-emoji 
                                                        useButton="true"
                                                        set="apple"
                                                        emoji="{{list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver}}"
                                                        size="22"
                                                        ></ngx-emoji>
                                                    </div>
                                                </div>
                                                <div class="emoji-reaction-content" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user && 
                                                (list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user == list_of_messages[list_of_messages.length -1 - i].emoji_reaction_receiver)">
                                                    <div class="emoji-reaction-content-center" *ngIf="list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user">
                                                        <ngx-emoji 
                                                        useButton="true"
                                                        set="apple"
                                                        emoji="{{list_of_messages[list_of_messages.length -1 - i].emoji_reaction_user}}"
                                                        size="22"
                                                        ></ngx-emoji>
                                                    </div>
                                                    <span style="color: darkgrey;
                                                    padding: 0px 5px 0px 5px;">
                                                        2
                                                    </span>
                                                </div>
                                                
                                                <div *ngIf="!list_of_messages[list_of_messages.length -1 - i].is_an_attachment" >
                                                    {{list_of_messages[list_of_messages.length -1 - i].message}}
                                                </div>
                                                <div *ngIf="list_of_messages[list_of_messages.length -1 - i].is_an_attachment" >
                                                    <div *ngIf="list_of_messages[list_of_messages.length -1 - i].attachment_type=='picture_message'">
                                                        <img (load)=loaded_image($event) style="max-width:140px;max-height:140px;" [src]="list_of_messages_pictures[list_of_messages.length -1 - i]">
                                                    </div> 
                                                    <div *ngIf="list_of_messages[list_of_messages.length -1 - i].attachment_type=='picture_attachment'" class="image-container">
                                                        <img (load)=loaded_image($event) [src]="list_of_messages_pictures[list_of_messages.length -1 - i]">
                                                        <a [href]="list_of_messages_pictures[list_of_messages.length -1 - i]" [download]="list_of_messages[list_of_messages.length -1 - i].attachment_name">{{list_of_messages[list_of_messages.length -1 - i].attachment_name}}</a>
                                                    </div> 
                                                    <div *ngIf="list_of_messages[list_of_messages.length -1 - i].attachment_type=='file_attachment'">
                                                        <a [href]="list_of_messages_files[list_of_messages.length -1 - i]">{{list_of_messages[list_of_messages.length -1 - i].attachment_name}}</a>
                                                    </div> 
                                                </div>
                                        </div>
                                    
                                        

                                        <div class="options">

                                            
                                            <div class="date-option">
                                                <span>{{list_of_messages_date[list_of_messages.length -1 - i]}}</span>
                                            </div>

                                            <button *ngIf="list_of_messages[list_of_messages.length -1 - i].status!='sent' && list_of_messages[list_of_messages.length -1 - i].status!='deleted'" mat-icon-button class="optionsMenu" [matMenuTriggerFor]="artworkOptions">
                                                <mat-icon class="optionsButton">more_horiz</mat-icon>
                                            </button>
                                            <mat-menu  #artworkOptions="matMenu">
                                                <button class="mat-menu-item" mat-menu-item (click)="respond_to_message(list_of_messages.length -1 - i)" > 	
                                                    <mat-icon class="item-icon">view_carousel</mat-icon>
                                                    <span>Répondre</span>
                                                </button>
                                                <button class="mat-menu-item" mat-menu-item (click)="show_reactions(i,$event)" > 	
                                                    <mat-icon class="item-icon">view_carousel</mat-icon>
                                                    <span>Réagir</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                    
                                </ng-container>
        
                                <ng-container *ngIf="list_of_messages[list_of_messages.length -1 - i].message=='New' && list_of_messages[list_of_messages.length -1 - i].is_from_server">
                                    
                                    <div class="new-contact-message-content">
                                            {{friend_name}} fait désormais parti de vos contacts. Vous pouvez donc échanger librement.
                                    </div>
                                </ng-container>
                                
                            </div>


                            <div *ngIf="show_research_results && show_less_results " class="show-less">
                                <mat-spinner diameter="20" *ngIf="show_spinner_for_less" ></mat-spinner>
                                <button mat-raised-button class="show-less-button style0" *ngIf="!show_spinner_for_less" (click)="see_less_messages()">
                                    <span>Voir moins</span>
                                </button>
                            </div>
                        </div>
                    </div>
                <!--</perfect-scrollbar>-->
    
                <div *ngIf="spam!='false' && response_exist && response_exist_retrieved" class="add-to_contact">
                    {{friend_name}} ne fait pas parti de vos contacts. Voulez-vous l'ajouter à vos contacts ?<br />
                    <button (click)="add_to_contacts()">Oui</button>
                </div>
    
                <div *ngIf="spam!='false' && !response_exist && response_exist_retrieved" class="add-to_contact">
                    {{friend_name}} ne fait pas parti de vos contacts. Vous devrez attendre qu'il vous ajoute à ses contacts si vous lui envoyez un message<br />
                </div>
    
                <div  [formGroup]="message_group" novalidate class="bottom-container" id="messages-bottom-container">

                    <div *ngIf="display_writing" class="writing">
                        En train d'écrire dans {{section_where_is_writing}}&nbsp; <span>.</span><span>.</span><span>.</span>
                    </div>
                    <div #emojis class="emojis-main-container" >
                        <div class="container">
                            <div class="emojis-container">
                              <emoji-mart
                              [set]="set"
                              [isNative]="native"
                              [hideRecent]="false"
                              (emojiSelect)="handleClick($event)"
                              >
                              </emoji-mart>
                            </div>
                        </div>
                    </div> 
                    <div class="send-message-container">

                        <div *ngIf="respond_to_a_message" class="response">
                            <div class="response-header">
                                Réponse à <b>{{friend_name}}</b>
                            </div>
                            <div class="response-body">
                                <span>{{message_responding_to}}</span>
                            </div>

                            <button mat-icon-button class="cancel-response" (click)="cancel_response()">
                                <mat-icon>close</mat-icon>
                            </button>
                            
                            <!--<button class="cancel-response" (click)="cancel_response()">can</button>-->
                        </div>

                        <div class="files">
                            <div *ngIf="display_attachments" class="attachments-container">
                                <div *ngFor="let item of attachments;let i=index" class="attachment">
                                    <img *ngIf="attachments_type[i]=='picture_message' || attachments_type[i]=='picture_attachment'" [src]="attachments[i]">
                                    <div *ngIf="attachments_type[i]=='file_attachment'">{{attachments_name[i]}}</div>

                                    
                                    <button mat-icon-button (click)="remove_attachment(i)">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    
                                    <!--<button (click)=remove_attachment(i)>remove</button>-->

                                </div>
                            </div> 
                        </div>
                        <div class="send_message">
                            <div #emoji_button class="button-container" (click)="open_emojis()">
                                <div style="
                                    width:24px;
                                    height:24px;
                                    margin:auto auto;
                                    background-image:none !important;
                                    background-color: rgb(32,56,100);
                                    -webkit-mask:  url('../../assets/img/svg/smile.svg') no-repeat 50% 50%;
                                    mask: url('../../assets/img/svg/smile.svg') no-repeat 50% 50%;"></div>
                                <!--<div class="select-button">
                                    <div style="margin-bottom: -5px;">
                                        <ngx-emoji
                                        set="apple"
                                        emoji="smiley"
                                        size="30"
                                        ></ngx-emoji>
                                    </div>
                                </div>-->
                            </div>
                            <div *ngIf="spam=='false'" class="button-container" >
                                <div class="select-button">
                                    <label>
                                        <div style="margin: auto auto;display:flex;">
                                            <mat-icon>insert_photo</mat-icon>
                                        </div>
                                        <input (click)="onFileClick($event)" type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                                    </label>
                                </div>
                            </div>

                            <textarea  #input
                            formControlName="message"
                            maxlength="1500"
                            (keydown)="on_keydown($event)"
                            (click)="activateFocus()"
                            (blur)="desactivateFocus()"
                            onfocus="this.placeholder = ''"
                            (paste)="onPaste($event);"
                            onblur="this.placeholder = 'Ecrivez un message...'"
                            class="form-control form-control-dark large-form" type="text" [placeholder]="'Ecrivez un message...'"></textarea>
                            <!--<button  mat-icon-button (click)="send_message()" class="send-button">
                                <mat-icon >send</mat-icon>
                            </button>-->
                        </div>
    
                    </div>
                </div>
        </div>
    </div>

    

    <div class="right-container" *ngIf="spam=='false'">
        <app-chat-right-container
        [id_chat_section]="id_chat_section"
        [spam]="spam"
        [current_user_id]="current_user_id" 
        [current_user_pseudo]="current_user_pseudo"
        [current_user_name]="current_user_name" 
        [current_user_profile_picture]="current_user_profile_picture" 
        [friend_id]="friend_id" 
        [friend_pseudo]="friend_pseudo"
        [friend_name]="friend_name"
        [friend_picture]="friend_picture"></app-chat-right-container>
    </div>

    

</div>



