
a {
    //color:#333;
    color:white;
}

.title {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
}

.title span {
    font-weight: bold;
}

.subscribers-container {
    min-height:150px;
    max-height: 60vh;
    width: 450px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

::-webkit-scrollbar-track {
    //background: #ffffff;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    //background: #565656;
}

::-webkit-scrollbar-thumb:hover {
    //background: rgb(8, 8, 8);  
}



#messages-container {
    background-color: rgba(0,0,0,0);
    -webkit-background-clip: text;
    /* uncomment following line to see the trick in actions */
    /* -webkit-text-fill-color: transparent; */
    transition: background-color 400ms;
}
#messages-container:hover {
   background-color: rgba(0,0,0,0.18);  
}
#messages-container::-webkit-scrollbar-track {
    display: none;
}
#messages-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}





.subscriber-card {
    display: flex;
    height: 60px;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 3px #f7f7f7;
    width: calc(100% - 30px);
    margin: 10px auto 10px auto;
    transition: all 200ms;
}

.author-container {
    display: flex;
    height:100%;
}



.top-container .author-container {
    min-width: 200px;
}


.author-container .left-container {
    width: 34px !important;
    height: 34px !important;
    min-width: 34px !important;
    min-height: 34px !important;
    margin: auto auto;
}

.author-container .left-container img {
    width: 100% ;
    height: 100% ;
    border-radius: 50%;
    box-shadow:0px 0px 1px 2px #687182;
}

.author-container a {
    text-align: left;
    width: calc( 100% - 40px );
    margin: auto 10px auto 5px;
}
.author-container .right-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc( 100% - 34px);
    padding-left: 10px;
    justify-content: center;
}

.author-container .right-container span.author-name {
    font-size: 16px;
    line-height: 18px;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.author-container .right-container span.author-description {
    font-size:15px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


.subscriber-card button {
    margin: auto 10px auto auto;
    height: 35px;
    color:white;
}

.subscriber-card button.style1 .icon {
    color: white !important;
    margin: auto 5px auto auto !important;
    font-size: 19px !important;
}
.subscriber-card button.style0 .icon {
    color: rgb(32,56,100) !important;
    margin: auto 5px auto auto !important;
    font-size: 19px !important;
}

::ng-deep .mat-raised-button.button.subscriptions {
    padding:0 7px !important;
}

::ng-deep .mat-raised-button.button.subscriptions .mat-icon {
    height: 20px;
    width: 20px;
}

::ng-deep .mat-button-wrapper .mat-icon {
    margin: auto auto;
}

::ng-deep .mat-button-wrapper {
    display:flex !important;
}




.subscriber-card button.style1 span {
    color:white !important;
}
.subscriber-card button.style0 span {
    color:rgb(32,56,100) !important;
}





//chat
.chat-container{
    display:flex;
    position:relative;
    height:100%;
    width:100%;
}

.visible {
    opacity:1;
}

.invisible {
    visibility:hidden;
    pointer-events: none;
}

.really-invisible{
    display:none !important;
}

.main-left-container{
    display:block;
    width: calc( 100% - 350px );
    height:100%;
    
    border-right:2px solid #ececec;
    //margin-right:5px;
}

.width-extended{
    width:100% !important;
}

.top-container{
    position:relative;
    display:flex;
    width:100%;
    height:80px;
    align-items:center;
    border-bottom: 1px solid #dcdada;
}

::ng-deep .row {
    margin-left:unset !important;
    margin-right:unset !important;
}

.top-container-for-reasearch{
    align-items: center;
    background-color: rgb(209, 224, 251);
    display: flex;
    height: 45px;
    left: 0;
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: -46px;
    border-bottom: 2px solid #d6d6d6;
    z-index: 10;
}


.search-bar-messages{
    display: flex;
    align-items: center;
    /* transition: 2s; */
}

.discussions-container {
    display:flex;
    justify-content: space-between;
    border-radius:0px 0px 8px 8px;
    height:100%;
    min-width: 350px;
}

.options-container {
    color: white;
    position: relative;
    margin: auto auto;
    height: 60%;
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    background-color: #203864;
}

/*select option[disabled] {
    display: none;
}*/

.show-notification-message{
    position:absolute;
    right: -10px;
    top: -10px;
}

.notification-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    width: 25px;
    height: 25px;
    font-size: 13px;
    color:white;
    //box-shadow: 0 0px 3px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}
.dropdown-container {
    height: 100%;
    display: flex;
    width: calc( 100% - 120px );
    align-items: center;
    border-left: 2px solid #21314e;
    //padding-left: 10px;
}



.chat-section-container.sumo {
    display:flex;
}

::ng-deep .discussions-container .SumoSelect > .CaptionCont > label > i {
    background-image:none !important;
    background-color: rgb(218, 227, 243);
    -webkit-mask:  url("../../assets/img/svg/arrow-down-2.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/arrow-down-2.svg") no-repeat 50% 50%;
}

::ng-deep .discussions-container .SumoSelect > .CaptionCont > label {
    /*position: absolute;
    top: 0px;
    right: -40px;
    bottom: 0;*/
    width: 30px;
}

::ng-deep .discussions-container .SumoSelect {
    width: 100%;
    margin:auto auto;
}

::ng-deep .discussions-container .SumoSelect.open {
    background: rgb(32, 56, 100);
    border-radius:5px 5px 0px 0px;

}

::ng-deep .discussions-container .SumoSelect > p.CaptionCont > span {
    color:white;
    margin: auto 0px auto 0px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    width: 92%;
    display: flex;
    align-items: center;
}

::ng-deep .discussions-container .SumoSelect .optWrapper {
    left: -2px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    border: unset;
    z-index: 0;
    background: unset;
}

::ng-deep .discussions-container .SumoSelect > .optWrapper > .options li.opt {
    background-color: rgb(32,56,100);
    border-bottom:1px solid #334f82;
    padding-left: 14px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:pointer;
}

::ng-deep .discussions-container .SumoSelect > .optWrapper > .options li.opt.disabled {
    display:none;
}
  
  
::ng-deep .discussions-container .SumoSelect > .CaptionCont > span.placeholder {
    font-style: unset !important;
}

.show-container-research-chat{
    position: absolute;
    top: 50px;
    background-color: white;
    border-radius: 5px 5px 10px 10px;
    width: 280px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    max-height: 250px;
    min-height: 30px;
    overflow-y: auto;
}

.mat-line-hover{
    cursor:pointer
}

.mat-line-hover:hover{
    background-color: #e5f1f3;
}

.main-left-container .middle-container{
    height:calc(100% - 152px);
    width:100%;
}


.show-more{
    margin: 45px auto 5px auto;
    width: 98%;
}

.show-less{
    margin: 5px auto 5px auto;
    width: 98%;
}


::ng-deep .mat-button {
    font-family:Calibri, "Helvetica Neue", sans-serif;
}

.show-more-button {
    width: calc(100% - 3px);
    font-size: 16px;
    height: 45px;
    justify-content: center;
    display: flex;
    background-color: #d1e0fb;
    border-radius: 0px 0px 20px 20px !important;
    /* box-shadow: unset !important; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.show-less-button{
    width: calc(100% - 3px);
    font-size: 16px;
    height: 45px;
    justify-content: center;
    display: flex;
    background-color: #d1e0fb;
    border-radius: 20px 20px 0px 0px  !important;
    /* box-shadow: unset !important; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-left-container .middle-container .friend_message{
    justify-content: left;
}

.main-left-container .middle-container  .my_message{
    justify-content: right;
}

.main-left-container .middle-container  .send-message{
    display:flex;
    align-items: center;
    
}

.messages-container {
    width: 100%;
    
    height:100% !important;
    overflow-y:auto;
}

.message {
    position:relative;
    width:100%;
    display:flex;
    flex-direction: column;
}


.more-margin-for-date{
    margin-top:50px;
}

.margin-for-emojis{
    margin-bottom:24px !important;
}

.less-margin-for-user{
    margin-bottom:3px !important;
}

.display-date{
    text-align: center;
}
.message .new-contact-message-content{
    display:flex;
    margin-left: 320px;
}
.my-message-content {
    position:relative;
    display: flex;
    padding-left:250px;
    margin: 0px 0px 25px auto;
    align-items: center;
}

.date-option{
    display:none;
}


.my-message-content:hover .date-option {
    position: absolute;
    top: 3px;
    left: -175px;
    width: max-content;
    display: flex;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
}

.my-message-content:hover .options {
    visibility:visible;
}


.message .my-message-content .content{
    position:relative;
    cursor:default;
    background: #203864;
    font-size: 16px;
    margin-right:15px;
    color:white;
    padding: 8px 15px;
    word-break: break-word;
}

.only-message{
    border-radius: 20px 20px 20px 20px !important;
}

.my-top-message{
    border-radius: 20px 20px 5px 20px;
}

.my-middle-message{
    border-radius: 20px 10px 10px 20px ;
}

.my-bottom-message{
    border-radius: 20px 5px 20px 20px;
}

.message .my-message-content .state{
    margin:auto 15px auto 0px;
}

.friend-message-content{
    display:flex;
    position:relative;
    padding-right:250px;
    margin: 0px auto 25px 0px;
    align-items: center;
}

.friend-message-content .friend-picture, .my-message-content .friend-picture {
    width: 25px !important;
    height: 25px !important;
    min-width: 25px !important;
    min-height: 25px !important;
    margin-left:10px;
    margin: auto auto;
}

.friend-message-content .friend-picture img, .my-message-content .friend-picture img {
    width:100%;
    height:100%;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) ;
}


.friend-message-content:hover .date-option {
    position: absolute;
    top: 3px;
    right: -150px;
    width: max-content;
    display: flex;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
}






.options{
    visibility:hidden;
    position: relative;
}

.friend-message-content:hover .options {
    visibility:visible;
}

.options button {
    outline:none !important;
}

::ng-deep .mat-menu-item {
    outline:none !important;
}


.message .friend-message-content .content{
    position:relative;
    cursor:default;
    margin-left: 15px;
    color:black;
    background: #d1e0fb;
    font-size: 16px;
    padding: 8px 15px;
    word-break: break-word;
}

.friend-top-message{
    border-radius: 20px 20px 20px 5px ;
}

.friend-middle-message{
    border-radius: 10px 20px 20px 10px ;
}

.friend-bottom-message{
    border-radius: 5px 20px 20px 20px ;
}

.message .friend-message-content .content a{
    color:black!important;
}

.send-message-container {
    position:relative;
    background: #d1e0fb;
    border-top: 1px solid #babcbf;
  }

  .send-message-container .files{
    display: flex;
  }

  
  .send-message-container .send_message {
    //height:100%;
    width:100%;
    z-index:10;
    display:flex;
    align-items: center;
  }

  textarea {
    border-radius: 10px;
    resize: none;
  }

.bottom-container{
    position:relative;
}

.writing {
    position: absolute;
    top: -50px;
    left: 30px;
    font-size: 14px;
  }
  
  .writing span {
    font-size: 35px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }
  
  .writing span:nth-child(2) {
    animation-delay: .2s;
  }
  
  .writing span:nth-child(3) {
    animation-delay: .4s;
  }
  
  @keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
  }

//add attachments
.button-container {
    cursor:pointer;
    background: white;
    height:45px;
    width:45px;
    min-width: 45px;
    display:flex;
    margin:3px 7px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #dbdbdb;
}

.button-container label {
    cursor:pointer;
    width: 100%;
    height: 100%;
    display: flex;
}

.send_message .button-container .mat-icon {
    color:rgb(32,56,100) !important;
}

.select-button {
    cursor:pointer;
    display:flex;
    background: white;
    width: 100%;
}

.select-button:hover {
    background: rgb(245, 249, 255);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
}

.select-button span {
    margin:auto auto;
}

.select-button > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
}

.right-container{
    width:350px;
    height:100%;
}


.attachments-container {
    display: flex;
    flex-wrap: wrap;
    max-height:115px;
    overflow-y:auto;
}

.attachment {
    margin:5px 15px 0px 15px;
    position:relative;
}

.attachment img {
    width: 110px;
    height: 110px;
    border-radius: 30px;
}

.attachment button {
    position:absolute;
    right:5px;
    top:5px;
    outline:none !important;
    background: rgb(141 167 208 / 50%);
    border-radius: 50%;
}


//emojis

.bottom-with-reactions{
 margin-bottom:20px;
}

.message .my-message-content .content .emoji-reaction-content{
    display: flex;
    align-items: center;
    bottom: -15px;
    position: absolute;
    padding:2px 4px 0px 4px;
    right: 0px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
  }

.message .friend-message-content .content .emoji-reaction-content{
    position:absolute;
    align-items: center;
    padding: 2px 4px 0px 4px;
    display: flex;
    bottom: -15px;
    left: 0px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
  }

.emoji-reaction-content-center{
    margin-bottom: -3px;
}

.second-emoji{
    padding-left:3px;
    padding-right:3px;
}

.emojis-main-container{
    position: absolute;
    top:-356px;
    left: -13px;
    visibility:hidden;
}

.emojis-container{
    background-color: white;
    border-radius: 10px;
    padding: 2px 2px 0px 2px;
    width: 369px;
    display: flex;
    justify-content: center;
  }

  .main-container-reactions{
    position: absolute;
    background-color: white;
    justify-content: center;
    display: flex;
    padding: 4px 5px;
    border-radius: 15px;
    margin: 5px;
    height: 43px;
    width: 320px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  .my-reactions{
    top: -30px;
    transform: translateY(-50%);
    left: 10px;
    z-index: 10;
  }

 

  .friend-reactions{
    top: -30px;
    transform: translateY(-50%);
    right: 10px;
    z-index: 10;
  }
  
  .container-reactions{
    margin: 2px 2px 2px 2px;
    border-radius: 8px;
  }
  
  .container-reactions:hover{
    background-color: #f1efef;
  }

  .container-reactions-remove{
    background-color: #f1efef;
  }

  .closed{
      visibility:hidden
  }

  
//reponse

.response{
    position:relative;
    width:100%;
    padding-left: 10px;
    padding-top: 7px;
}

.response-header {
    width:calc( 100% - 65px );
}

.response-body{
    width: calc( 100% - 65px );
    max-height: 50px;
    overflow-y: auto;
    word-break: break-word;
    line-height: 18px;
    font-size: 14px;
    color: #404040;
}

.response-content{
    cursor: pointer;
    border-left: 2px solid rgba(255, 255, 255, .8)!important;
    color:rgba(255, 255, 255, .8);
    width: 100%;
    display:flex;
    align-items: center;
    overflow: hidden;
}

.response-content .response-message{
    font-size: 14px;
    padding-left:2px
}

.cancel-response{
    position:absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    outline:none !important;
}

mat-spinner {
    margin: auto;
    color:#203864;
  }

.loading-page{
    /*position:absolute;
    top:50%;
    left:50%;*/
    display: flex;
    justify-content: center;
    margin-top: 25%;
}



.chat-section-container{
    position:relative;
    display: flex;
    z-index: 10;    
    width: 100%;
    height:100%;
}

.chat-section-container .form-control {
    width: 100%;
    height: 85%;
}

.chat-section-container div {
    display: flex;
    align-items: center;
    //height: 85%;
    width: 100%;
    margin: auto 5px auto 5px;
}

.send-message-container .form-control {
    width: 100%;
    height: 47px;
    min-height: 47px !important;
    max-height:200px !important;
    overflow:auto;
    margin: 12px 10px 12px 5px;
}

.search-bar-messages form {
    width: calc( 100% - 40px );
}
::ng-deep .mat-form-field {
    width:100%;
}

/*::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    display:none !important;
}*/


.send_in_progress {
    width:20px;
    height:20px;
    border-radius:50%;
    border:2px solid rgb(32,56,100);
}

.received {
    width:20px;
    height:20px;
    background-image:none !important;
    background-color: rgb(32,56,100);
    -webkit-mask:  url("../../assets/img/svg/check.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/check.svg") no-repeat 50% 50%;
}


.image-container {
    display:flex;
    flex-direction: column;
}

.image-container img {
    border-radius:8px;
    max-width:140px;
    max-height:140px;
}

.image-container a {
    margin:auto auto;
}



// FOR GROUPS
//FOR GROUPS
// For groups


.more-margin-top-for-name{
    margin-top:25px !important;
}

.friend-user-name{
    position:absolute;
    top: -30px;
    left: 15px;
}

.my-user-name{
    position:absolute;
    top: -30px;
    right: 15px;
}

.user-profiles-who-saw{
    position: absolute;
    display:flex;
    left: -500px;
    z-index: 10;
}

.user-profiles-who-saw img{
    width:20px;
    height:20px;
    border-radius:50%;
    margin: 0px 2px 0px 2px;
}

.user-profiles-who-saw-friend{
    position:absolute;
    display:flex;
    right:-500px;
    z-index: 10;
}

.user-profiles-who-saw-friend img{
    width:20px;
    height:20px;
    border-radius:50%;
    margin:0px 2px 0px 2px ;
}

.display-seen-by-all{
    position: absolute;
    bottom: -10px;
    left: -500px;
    width: max-content;
    display: flex;
    color: #667d99;
    font-size: 13px;
}

.display-seen-by-all-friend{
    position: absolute;
    bottom: -10px;
    right: -500px;
    width: max-content;
    display: flex;
    color: #667d99;
    font-size: 13px;
}

.display-who-saw{
    display:none;
}

.user-profile-who-saw-friend:hover .display-who-saw{
    position: absolute;
    bottom: -31px;
    right: 0px;
    width: max-content;
    display: flex;
    color: white;
    background: black;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
}

.user-profile-who-saw:hover .display-who-saw{
    position: absolute;
    bottom: -31px;
    left: 0px;
    width: max-content;
    display: flex;
    color: white;
    background: black;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
}


