//code propre
.chat-container {
    display: flex;
    height: 100%;
    width: 100%;
    position:relative;

    color: rgb(32, 56, 100);
    span {
        color: rgb(32, 56, 100);
    }

    .text-with-line-break{
        white-space: pre-line;
    }

   
  

    .main-left-container {
        height: 100%;
        width: stretch;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-right: 2px solid rgb(236, 236, 236);
        position: relative;
        background:white;

        .margin-bottom-for-alert{
            margin-bottom:40px;
        }


        .top-container {
            position: relative;
            width: 100%;
            background: #f7f8f9;
            border-bottom: 1px solid #dadada;
            z-index: 10;

            .display-flex {
                display: flex;
                padding: 12px 0px;
                .profile-picture-container {
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                    margin: auto 14px auto 20px;
                    border-radius: 60px;
                    overflow: hidden;
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    @media (max-width: 500px) {
                        width: 30px;
                        height: 30px;
                        min-width: 30px;
                        margin: auto 8px auto 6px;
                    }
                    @media (max-width: 380px) {
                        width: 28px;
                        height: 28px;
                        min-width: 28px;
                        margin: auto 4px auto 2px;
                    }
                }
                .friend-link {
                    margin: auto auto auto 0px;

                    &div {
                        cursor:default;
                    }
                    span {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: bold;
                        display: flex;
                        white-space: nowrap;
                        overflow: hidden !important;
                        text-overflow: ellipsis;

                        div {
                          font-weight: bold;
                          white-space: nowrap;
                          overflow: hidden !important;
                          text-overflow: ellipsis;
                          max-width: 260px;
                        }
                        mat-icon {
                            vertical-align: middle;
                            display: inline-block;
                            margin: 2px 0px 0px 4px;
                            color: #00c0d4;
                            height: 15px;
                            overflow: hidden;
                            width: unset;
                            font-size: 15px;
                        }

                        @media (max-width: 1000px) {
                            font-size: 14px;
                            line-height: 16px;
                            div {
                                max-width: 180px;
                            }
                        }
                        @media (max-width: 500px) {
                            font-size: 12px;
                            line-height: 12px;
                            mat-icon {
                                margin: 0px 0px 0px 2px;
                                height: 14px;
                                font-size: 13px;
                            }
                            div {
                                max-width: 150px;
                            }
                        }
                        @media (max-width: 380px) {
                            font-size: 11px;
                            line-height: 14px;
                            div {
                                max-width: 120px;
                            }
                        }
                    }
                }

                button {
                    display: flex;
                    padding: 8px;
                    margin: auto 10px auto 0px;
                    background: unset;
                    transition: background-color 200ms;
                    border: unset;
                    color: #203864;
                    border-radius: 50px;
                    outline: none;
                    mat-icon {
                        font-size: 24px;
                        overflow: hidden;
                        margin: auto auto;
                        height: unset;
                        width: unset;
                    }

                    @media (max-width: 500px) {
                        padding: 4px;
                        margin-right:4px;
                        mat-icon {
                            font-size: 22px;
                        }
                    }

                    &:hover {
                        background-color: #2038641f;
                    }
                    &:active {
                        background-color: #20386430;
                    }


                    &.arrow-back {
                        display:none;
                        margin:auto 0px auto 10px;
                        @media (max-width: 850px) {
                            display:flex;
                        }
                    }

                    &.show-me-on-small-screen {
                        display:none !important;
                        @media (max-width: 1200px) {
                            display:flex !important;
                        }
                    }

                    
                    .number-of-notifs {
                        display: flex;
                        color: white;
                        user-select: none;
                        margin: auto;
                        align-items: center;
                        font-size: 12px;
                        font-weight: 700;
                        height: 12px;
                        width: 12px;
                        position: absolute;
                        right: 15px;
                        top: 18px;
                        border: 2px solid #f7f8f9;
                        visibility: hidden;
                        text-align: center;
                        border-radius: 50%;
                        display: flex;
                        cursor: pointer;
                        z-index: 10;

                        &.contract {
                            right: 5px;
                            top: 5px;
                        }
                        &.red {
                            visibility: visible !important;
                            background-image: linear-gradient(70deg, #ff0000e6, #ff5f5fe6, #ff6161e6);
                        }
                        &.green {
                            visibility: visible !important;
                            background-image: linear-gradient(70deg, #33ff00e6, #00c000e6, #1d7400e6);
                        }
                        @media (max-width: 500px) {
                            right: 5px !important;
                            top: 14px!important;
                            &.contract {
                                right: 0px !important;
                                top: 0px !important;
                            }
                        }
                       
                    
                    }
                }
            }

            .top-container-search-results {
                align-items: center;
                background-color: #d1e0fb;
                display: flex;
                height: 45px;
                padding: 8px;
                z-index: 10;
                span {
                    cursor: default;
                    margin: auto 10px auto 5px;
                    color: #203864;
                    font-size: 14px;
                    font-weight: 600;
                }
                button {
                    display: flex;
                    padding: 6px;
                    margin: auto 5px auto 5px;
                    background: unset;
                    transition: background-color 200ms;
                    border: unset;
                    color: #203864;
                    border-radius: 50px;
                    outline: none;
                    mat-icon {
                        font-size: 18px;
                        overflow: hidden;
                        margin: auto auto;
                        height: unset;
                        width: unset;
                    }
                    &:hover {
                        background-color: #2038641f;
                    }
                    &:active {
                        background-color: #20386430;
                    }
                }
            }
            .top-alert-message {
                position: absolute;
                top: 75px;
                width: 100%;
                
                padding: 0px 15px;
                display: flex;

               
                .message {
                    margin: auto auto;
                    display: flex;
                    line-height: 14px;
                    padding: 7px 18px 8px 18px;
                    border-radius: 50px;
                    background: #f3f3f3;
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                    > mat-icon {
                        margin: auto 10px auto 5px;
                        font-size: 24px;
                        height: unset;
                        width: unset;
                        color: rgb(32, 56, 100);
                    }

                    
            
                    > span {
                        cursor: default;
                        font-size: 14px;
                        font-weight: 600;
                        margin: auto 5px auto 0px;
                        text-align: center;
                    }
                    button {
                        display: flex;
                        padding: 5px;
                        margin: auto 5px auto 8px;
                        background: #2b3c5d;
                        transition: background-color 200ms, transform 200ms;
                        border: unset;
                        color: #203864;
                        border-radius: 50px;
                        outline: none;
                        span {
                            margin: auto 5px auto 5px;
                            font-size: 14px;
                            color: white;
                            font-weight: 600;
                        }
                        mat-icon {
                            margin: auto 5px auto 0px;
                            font-size: 20px;
                            height: unset;
                            width: unset;
                            color: white;
                        }

                        ::ng-deep {
                            .mat-spinner circle {
                                stroke: white !important;
                            }
                        }

        
                        &:active {
                            transform: scale(0.96);
                        }
                    }
                }
            }
        }
        .middle-container {
            position: relative;
            height: 5000px;
            overflow-y: auto;
            width: 100%;

            .loading-dots-container {
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;

                .loading-dots {
                    margin: auto auto;
                    line-height: 6px;
                    span {
                        font-size: 65px;
                        margin: -25px 0px 0px 0px;
                        animation-name: blink;
                        animation-duration: 1.4s;
                        animation-iteration-count: infinite;
                        animation-fill-mode: both;
                    }
                    span:nth-child(2) {
                        animation-delay: 0.2s;
                    }
                    span:nth-child(3) {
                        animation-delay: 0.4s;
                    }
                }

                &.loading-messages {
                    position: relative;
                    height: 50px;
                    .loading-dots {
                        span {
                            font-size:55px;
                        }
                    }
                }
            }
        }

        .bottom-container {
            position: fixed;
            bottom:0px;
            width:100%;

            .writing-container {
                position: absolute;
                bottom: 115%;
                text-align: center;
                width: 100%;
                display: flex;
                padding: 0px 50px;
                .writing {
                    margin: auto auto;
                    text-align: center;
                    line-height: 18px;
                    padding: 8px 18px 8px 18px;
                    font-weight: 600;
                    font-size: 14px;
                    border-radius: 50px;
                    background: #f3f3f3;
                    border: 1px solid #c3c3c3;

                    span {
                        line-height: 0px;
                        font-size: 35px;
                        animation-name: blink;
                        animation-duration: 1.4s;
                        animation-iteration-count: infinite;
                        animation-fill-mode: both;
                        &:nth-child(2) {
                            animation-delay: 0.2s;
                        }
                        &:nth-child(3) {
                            animation-delay: 0.4s;
                        }
                    }
                }
            }
            .emojis-spinner {
                visibility: hidden;
                position: absolute;
                cursor:default;
                bottom: 112px;
                right: 24px;
                height: 110px;
                width: 200px;
                display:flex;
    
                border-radius: 13px 13px 0px 0px;
                border: 1px solid #d2e0e6;
                background:white;
    
                mat-spinner{
                    margin:auto auto;
                    circle {
                        stroke: rgb(32,56,100);
                    }
                }
            }
            .emojis-main-container {
                position: absolute;
                top: -356px;
                right: 0px;
                visibility: hidden;
                .emojis-container {
                    background-color: white;
                    border-radius: 10px;
                    //padding: 2px 2px 0px 2px;
                    //width: 369px;
                    display: flex;
                    justify-content: center;

                    
                }
            }
            .send-message-container {
                position: relative;
                width: 100%;
                background: #f7f8f9;
                border-top: 1px solid #dadada;
                @media (max-width: 850px) {
                    width: 100% !important;
                }

                .response {
                    position: relative;
                    display: flex;
                    width: 100%;
                    padding: 10px;
                    overflow: hidden;

                    .left-container {
                        display: flex;
                        flex-direction: column;
                        margin: auto auto auto 10px;
                        line-height: 20px;
                        span {
                            font-size: 12px;
                            color: rgb(32, 56, 100);
                            display: -webkit-box;
                            width: 100%;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                            -webkit-line-clamp: 2;
                            word-break: break-word;
                            &:first-of-type {
                                font-size: 14px;
                            }
                        }
                    }
                    button {
                        display: flex;
                        padding: 8px;
                        margin: auto 10px auto 0px;
                        background: unset;
                        transition: background-color 200ms;
                        border: unset;
                        color: #203864;
                        border-radius: 50px;
                        outline: none;
                        mat-icon {
                            font-size: 24px;
                            overflow: hidden;
                            margin: auto auto;
                            height: unset;
                            width: unset;
                        }
                        &:hover {
                            background-color: #2038641f;
                        }
                        &:active {
                            background-color: #20386430;
                        }
                    }
                }

                .attachments {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0px 10px 6px 20px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 4px;
                        height: 4px;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 15px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 15px;
                        background-color: transparent;
                    }
                    &:hover {
                        &::-webkit-scrollbar-thumb {
                            background-image: linear-gradient(0deg, #2d4f7b24, #2d4f7b69, #2d4f7b2b);
                        }
                    }

                    .edit-picture {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid rgb(249 249 249);
                        box-shadow: 0px 1px 0px -2px rgb(0 0 0 / 10%), 0px 0px 1px 1px #00000012, 0px 1px 1px 0px rgb(0 0 0 / 12%);
                        height: 60px;
                        width:60px;
                        border-radius: 14px;
                        margin-top: 12px;
                        background: white;

                        cursor:pointer;
                        
                        transition:transform 200ms;

                        mat-icon {
                            margin: auto auto 2px auto;
                            font-size: 20px;
                            height: unset;
                            width: unset;
                            color:rgba(32, 56, 100, 0.7);
                            transition:color 200ms;
                        }
                        span {
                            margin: 0px auto auto auto;
                            font-size: 12px;
                            font-weight: 600;
                            color:rgba(32, 56, 100, 0.7);
                            transition:color 200ms;
                        }

                        &:hover {

                            mat-icon {
                                color:rgb(32,56,100);
                            }
                            span {
                                color:rgb(32,56,100);
                            }
                        }

                        &:active {
                            transform:scale(0.98);
                        }
                    }
                    .attachment-container {
                        width: 60px;
                        position: relative;
                        margin: 12px 16px 0px 0px;
                        text-align: center;
                        .attachment-picture {
                            position: relative;
                            display: flex;
                            width: 100%;
                            height: 60px;
                            margin-bottom: 4px;
                            border-radius: 14px;
                            overflow: hidden;
                            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                            background: white;
                            overflow: hidden;
                            > mat-icon {
                                margin: auto auto;
                                font-size: 24px;
                                color: #5f749b;
                                width: unset !important;
                                height: unset !important;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        > button {
                            position: absolute;
                            z-index: 1;
                            right: -6px;
                            top: -6px;
                            outline: none !important;
                            background: rgba(71, 94, 136, 0.8);
                            border-radius: 50px;
                            border: unset;
                            display: flex;
                            padding: 7px;
                            mat-icon {
                                width: unset;
                                height: unset;
                                font-size: 16px;
                                margin: auto auto;
                                color: white;
                            }
                            &:hover {
                                background: rgb(71, 94, 136, 0.9);
                            }
                            &:active {
                                background: rgb(71, 94, 136, 1);
                            }
                        }
                        > span {
                            color: rgb(126, 126, 126);
                            font-size: 12px;
                            margin: auto auto;
                            display: -webkit-box;
                            width: 100%;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                            -webkit-line-clamp: 1;
                            word-break: break-all;
                        }
                    }
                }
                .send_message {
                    width: 100%;
                    padding: 12px 10px 14px 10px;
                    z-index: 10;
                    display: flex;
                    align-items: center;

                    div.add-file {
                        cursor: pointer;
                        background: white;
                        height: 45px;
                        width: 45px;
                        min-width: 45px;
                        display: flex;
                        margin: 3px 6px;
                        border-radius: 50px;
                        outline: none;
                        overflow: hidden;
                        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                            0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                        border: unset;
                        transition: transform 200ms;
                        label {
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            div {
                                margin: auto auto;
                                display: flex;
                            }
                        }
                        mat-icon {
                            height: unset;
                            width: unset;
                            color: rgb(32, 56, 100);
                            margin: auto auto;
                        }
                        mat-icon.rotate-icon {
                            transform: rotate(-90deg);
                            
                        }

                        &:hover {
                            background: #f3f3f3;
                        }
                        &:active {
                            transform: scale(0.96);
                        }
                    }
                    .textarea-container {
                        border-radius: 18px;
                        background: white;
                        border: 1px solid #c7c7c7;
                        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.051);
                        width: stretch;
                        margin: 0px 6px;
                        min-height: 60px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        display: flex;


                        textarea {
                            max-height: 180px;

                            width: stretch;
                            padding: 0px 16px 0px 16px;
                            font-size: 14px;
                            font-weight: 600;
                            color: rgb(32, 56, 100);

                            caret-color: rgb(32, 56, 100);
                            &::placeholder {
                                color: rgb(32, 56, 100);
                            }
                            &::selection {
                                color: rgb(32, 56, 100);
                                background: rgb(0, 247, 255);
                            }
                            &::-webkit-scrollbar {
                                width: 4px;
                                height: 4px;
                            }
                            &::-webkit-scrollbar-track {
                                border-radius: 15px;
                            }
                            &::-webkit-scrollbar-thumb {
                                border-radius: 15px;
                                background-color: transparent;
                            }
                            &:hover {
                                &::-webkit-scrollbar-thumb {
                                    background-image: linear-gradient(0deg, #2d4f7b24, #2d4f7b69, #2d4f7b2b);
                                }
                            }
                        }

                        .messages-options-container{

                            display:block;
                            max-height:  67px;
                            button {
                                display: flex;
                                outline: none;
                                padding: 5px;
                                background: white;
                                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                                border-radius: 50px;
                                border: unset;
                                margin: auto 8px 0px 8px;
                                transition: transform 200ms;
    
                                mat-icon {
                                    height: unset;
                                    width: unset;
                                    color: rgb(32, 56, 100);
                                    font-size: 24px;
                                    margin: auto auto;
                                }
    
                                &:hover {
                                    background: #f3f3f3;
                                }
                                &:active {
                                    transform: scale(0.96);
                                }
                            }
    
                            .icon-messenger-container{
                                margin: auto 8px 0px 8px;
                                .icon-messenger {
                                    cursor:pointer;
                                    width: 32px;
                                    height: 18px;
                                    margin-bottom: 15px;
                                    background-color: rgb(32, 56, 100);
                                    mask: url("../../assets/img/svg/send3.svg") no-repeat 50% 50%;
                                    transition: mask-size 200ms;
                                    &:active {
                                      animation:transform-mask-size 200ms forwards;
                                    }
                                  }
                            }
                        }
                        
                        
                    }
                }
            }
        }
    }
    .right-container {
        width: 350px;
        min-width: 350px;
        height: 100%;
        app-chat-right-container {
            width: 100%;
        }

        @media (max-width: 1200px) {
            width: 300px;
            min-width: 300px;
        }
        @media (max-width: 1100px) {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
        }

        &:not(.show-me-on-small-screen) {
            @media (max-width: 1200px) {
                visibility: hidden !important;
                position: absolute !important;
                opacity: 0 !important;
                width: 0px !important;
                height: 0px !important;
            }
        }
    }
}

.blur {
    filter: blur(2px);
}

.invisible {
    visibility: hidden;
    pointer-events: none;
}


.shiny {
    background-color: gainsboro !important;
    background-image: linear-gradient(
        to right,
        transparent 33%,
        rgba(255, 255, 255, 0.3) 50%,
        transparent 66%
    ) !important;
    background-size: 300% 100% !important;
    -webkit-animation: shine 2s infinite !important;
    animation: shine 2s infinite !important;
}
@keyframes shine {
    0% {
        background-position: right;
    }
}
@keyframes blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

::ng-deep {

    .emoji-mart-scroll {
        overflow-x:hidden  !important;
    }
    .chat-mat-menu {
        margin-top: 3px !important;
        border-radius: 12px 10px 12px 12px !important;
        min-height: unset !important;
        min-width: unset !important;
        .mat-menu-content {
            padding-top: unset !important;
            padding-bottom: unset !important;
        }
        .chat-menu-item {
            display: flex !important;
            font-size: 12px !important;
            line-height: 38px !important;
            height: 38px !important;
            font-weight: bold !important;
            padding: 0px 15px 0 10px !important;
            color: rgb(32, 56, 100) !important;
            transition: all 200ms !important;
            outline: none !important;

            transition: background-color 200ms;

            mat-icon {
                margin: auto 10px auto 0px !important;
                width: unset !important;
                height: unset !important;
                font-size: 18px !important;
                max-width: 28px !important;
                overflow: hidden !important;
                color: rgb(32, 56, 100) !important;
            }

            .mat-ripple {
                background: unset !important;
                * {
                    background: unset !important;
                }
            }
            &:hover {
                background: #c9d4e2;
            }
            &:active {
                background: #aabed4;
            }
        }
    }

    .reactions-mat-menu {
        margin-top: 3px !important;
        border-radius: 22px !important;
        min-height: unset !important;
        min-width: unset !important;
        max-width: 320px !important;
        overflow: hidden !important;

        .mat-menu-content {
            display: flex !important;
            padding: 5px !important;
        }
        .reaction-menu-item {
            display: flex !important;
            font-size: 12px !important;
            line-height: 38px !important;
            height: 34px !important;
            width: 34px !important;
            min-width: 34px !important;
            font-weight: bold !important;
            padding: 0px 0px !important;
            color: rgb(32, 56, 100) !important;
            transition: all 200ms !important;
            outline: none !important;
            border-radius: 50px !important;
            border: none !important;
            box-shadow: none !important;
            background: white;

            ngx-emoji {
                width: 100%;
                height: 100%;

                button {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    display: flex;
                    span {
                        margin: auto auto;
                    }
                }
            }

            &:hover {
                background: #efefef;
            }
            &:active {
                background: #efefef;
            }
        }
    }
}

//code propre
.text-in-middle {
    width: 100%;
    display: flex;
    text-align: center;
    margin: 35px auto 0px auto;
    padding: 0px 50px;
    cursor: default;
    span {
        font-size: 14px;
        margin: auto auto 16px auto;
        font-weight: 600;
        background: #f7f8f9;
        padding: 8px 16px;
        border-radius: 50px;
        border: 1px solid #eeeff1;
    }
}

button.show-more {
    display: flex;
    margin: 15px auto 15px auto;
    height:45px;
    width: calc(100% - 20px);
    font-size: 16px;
    padding: 0px 6px;
    border-radius: 40px;
    border: 1px solid #203864;
    background-color: white;
    outline: none;
  
    mat-icon {
      width: unset;
      height: unset;
      font-size: 25px;
      margin: auto 5px auto auto;
      color: #203864;
    }
    span {
      font-weight: 600;
      margin: auto auto auto 0px;
      color: #203864;
    }
  
    &:hover {
      background: #eeeff3 !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }
    &:active {
      background: #e2e5eb !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }

    .loading-dots { 
        margin-right: auto;
        margin-left: auto;
        line-height: 22px;
        span {
            font-size: 35px;
            margin: -25px 0px 0px 0px;
            animation-name: blink;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
        }
        span:nth-child(2) {
            animation-delay: 0.2s;
        }
        span:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}

.messages-container {
    width: 100%;
    height: 100% !important;
    overflow-y: auto;
    padding: 30px 0px;


    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: transparent;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #dadada;
        }
    }
    .message {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;

        
        .message-search-style {
            background-color: rgb(209,224,251);
            padding-top: 16px;
            padding-bottom: 16px;
        }
        :not(.deleted).margin-for-emojis.message-search-style {
            padding-bottom: 30px;
        }

        .new-contact-message-content {
            width: 100%;
            text-align: center;
            padding: 0px 50px;
            margin: 10px 0px;
            margin-bottom: 20px;
            display: flex;
            cursor: default;
            span {
                mat-icon {
                    font-size: 22px;
                    height: unset;
                    width: unset;
                    color: #203864;
                    vertical-align: middle;
                    margin-top: -5px;
                    margin-right: 7px;
                }
                font-weight: 500;
                margin: auto auto auto auto;
                font-size: 12px;
                padding: 10px 0px;
                border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;
            }
        }

        .friend-message-content {
            display: flex;
            width: 100%;
            margin: 0px auto 30px 0px;
            padding-right: 15%;
            align-items: center;
            position: relative;

            .content {
                position: relative;
                cursor: default;
                margin-left: 6px;
                color: rgb(32, 56, 100);
                background: #f3f3f3;
                font-weight: 500;
                font-size: 13px;
                padding: 8px 15px;
                word-break: break-word;

                a {
                    color:unset;
                    font-weight: 700;
                    text-decoration: underline;
                }
                .response-content {
                    border-left: 2px solid #20386496;
                    color: #203864e0;
                }

                .emoji-reaction-content {
                    position: absolute;
                    align-items: center;
                    padding: 2px 4px 0px 4px;
                    display: flex;
                    bottom: -20px;
                    left: 5px;
                    background-color: white;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 13px;
                }
            }
            
            &.contains-picture {
             
                .content {
                    margin-bottom: 5px;
                    padding: 0px 0px;
                    background: unset !important;
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                }
            }
            .friend-picture {
                width: 21px;
                height: 21px;
                margin-left: 10px;
                margin: auto auto;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            &:hover {
                .options {
                    opacity: 1;
                }
            }
            .state {
                margin: auto 0px 5px 6px;
            }
            &.padding-for-no-state {
                padding-left: 26px;
            }
        }
        .my-message-content {
            display: flex;
            width: 100%;
            margin: 0px 0px 30px auto;
            padding-left: 15%;
            align-items: center;
            position: relative;

            @media (max-width: 400px) {
                padding-left: 0% !important;
            }

            .content {
                position: relative;
                cursor: default;
                margin-right: 6px;
                color: white;
                background: #203864;
                font-weight: 500;
                font-size: 13px;
                padding: 8px 15px;
                word-break: break-word;

                a {
                    color:unset;
                    font-weight: 700;
                    text-decoration: underline;
                }
                .response-content {
                    border-left: 2px solid #ffffff96;
                    color: #ffffffad;
                }

                .emoji-reaction-content {
                    display: flex;
                    align-items: center;
                    bottom: -20px;
                    position: absolute;
                    padding: 2px 4px 0px 4px;
                    right: 5px;
                    background-color: white;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
                    border-radius: 13px;
                }
            }
            &.contains-picture {
                
                .content {
                    margin-bottom: 5px;
                    padding: 0px 0px;
                    background: unset !important;
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                }
            }
            .friend-picture {
                width: 16px;
                height: 16px;
                margin-left: 10px;
                margin: auto auto;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            &:hover {
                .options {
                    opacity: 1;
                }
            }
            .state {
                margin: auto 8px 5px 2px;
            }
            &.padding-for-no-state {
                padding-right: 26px;
            }
        }
        .options {
            display: flex;
            opacity: 0;

            &.margin-left {
                margin: auto 5px auto auto;
                button {
                    margin: auto 2px auto 0px;
                }
            }
            &.margin-right {
                margin: auto auto auto 5px;
                button {
                    margin: auto 0px auto 2px;
                }
            }
            button {
                display: flex;
                padding: 5px;
                margin: auto 10px auto 10px;
                background: unset;
                transition: background-color 200ms;
                border: unset;
                color: #203864;
                border-radius: 50px;
                outline: none;
                mat-icon {
                    font-size: 22px;
                    overflow: hidden;
                    margin: auto auto;
                    height: unset;
                    width: unset;
                }
                &:hover {
                    background-color: #2038641f;
                }
                &:active {
                    background-color: #20386430;
                }
            }
            .date-option {
                display: none;
            }
        }
    }

    .show-less {
        margin: 5px auto 5px auto;
        width: 98%;
        .show-less-button {
            width: calc(100% - 3px);
            font-size: 16px;
            height: 45px;
            justify-content: center;
            display: flex;
            background-color: #d1e0fb;
            border-radius: 20px 20px 0px 0px !important;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
        }
    }

    .less-margin-for-user {
        margin-bottom: 2px !important;
    }
    :not(.deleted).margin-for-emojis {
        margin-bottom: 30px !important;
    }
    .display-date {
        text-align: center;
    }
}

.state {
    cursor: default;
    > div {
        height: 16px;
        width: 16px;
        display: flex;
        border-radius: 50px;
        background: rgb(32, 56, 100);
    }
    .sent{
        border: 2px solid #203864 !important;
        background:unset !important;
    }
    mat-icon {
        height: unset;
        width: unset;
        font-size: 10px;
        font-weight: bold;
        margin: auto auto;
        color: white;
    }
}

.only-message {
    border-radius: 20px 20px 20px 20px !important;
    img {
        border-radius: 20px 20px 20px 20px !important;
    }
}
.my-top-message {
    border-radius: 20px 20px 6px 20px;
    img {
        border-radius: 20px 20px 6px 20px;
    }
}
.my-middle-message {
    border-radius: 20px 6px 6px 20px;
    img {
        border-radius: 20px 6px 6px 20px;
    }
}
.my-bottom-message {
    border-radius: 20px 6px 20px 20px;
    img {
        border-radius: 20px 6px 20px 20px;
    }
}

.friend-top-message {
    border-radius: 20px 20px 20px 6px;
    img {
        border-radius: 20px 20px 20px 6px;
    }
}
.friend-middle-message {
    border-radius: 6px 20px 20px 6px;
    img {
        border-radius: 6px 20px 20px 6px;
    }
}
.friend-bottom-message {
    border-radius: 6px 20px 20px 20px;
    img {
        border-radius: 6px 20px 20px 20px;
    }
}

.select-button {
    cursor: pointer;
    display: flex;
    background: white;
    width: 100%;

    > div {
        display: flex;
        width: 100%;
        justify-content: center;
        align-self: center;
    }
    span {
        margin: auto auto;
    }
    &:hover {
        background: rgb(245, 249, 255);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
    }
}

.emoji-reaction-content {
    .emoji-reaction-content-center {
        margin-bottom: -3px;

        ::ng-deep {
            ngx-emoji {
                button {
                    outline: none;
                }
            }
        }
        .second-emoji {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}

.response-content {
    cursor: pointer;
    opacity: 0.8;
    padding-left: 8px;
    margin-bottom: 5px;
    width: 100%;
}

.chat-section-container {
    position: relative;
    display: flex;
    z-index: 10;
    width: 100%;
    height: 100%;
    .form-control {
        width: 100%;
        height: 85%;
    }
    div {
        display: flex;
        align-items: center;
        //height: 85%;
        width: 100%;
        margin: auto 5px auto 5px;
    }
}

.send_in_progress {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(32, 56, 100);
}

.image-container {
    cursor:pointer;
    img {
        max-width: 300px;
        max-height: 300px;
    }
}

.attachment-icon{
    justify-content: center;
    margin: auto 10px auto auto;
    background: white;
    height: 35px;
    width: 35px;
    min-width: 35px;
    display: flex;
    border-radius: 50px;
    outline: none;
    overflow: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border: unset;
    align-items: center;

    mat-icon{
        color: #203864;
    }
}

// FOR GROUPS
//FOR GROUPS
// For groups

.more-margin-top-for-name {
    margin-top: 25px !important;
}

.friend-user-name {
    cursor: default;
    line-height: 16px;
    padding: 0px 20px;
    text-align: left;
    position: absolute;
    top: -22px;
    left: 0px;
    span {
        color: #203864;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 12px;
        border-radius: 50px;
    }
}
.my-user-name {
    cursor: default;
    line-height: 16px;
    padding: 0px 20px;
    text-align: right;
    position: absolute;
    top: -22px;
    right: 0px;
    span {
        color: #203864;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 12px;
        border-radius: 50px;
    }
}

.user-profiles-who-saw {
    position: absolute;
    display: flex;
    left: -500px;
    z-index: 10;
    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0px 2px 0px 2px;
    }
    &:hover {
        .display-who-saw {
            position: absolute;
            bottom: -31px;
            left: 0px;
            width: max-content;
            display: flex;
            color: white;
            background: black;
            font-size: 14px;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.user-profiles-who-saw-friend {
    position: absolute;
    display: flex;
    right: -500px;
    z-index: 10;
    img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0px 2px 0px 2px;
    }
    &:hover {
        .display-who-saw {
            position: absolute;
            bottom: -31px;
            right: 0px;
            width: max-content;
            display: flex;
            color: white;
            background: black;
            font-size: 14px;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.display-seen-by-all {
    position: absolute;
    bottom: -10px;
    left: -500px;
    width: max-content;
    display: flex;
    color: #667d99;
    font-size: 13px;
}
.display-seen-by-all-friend {
    position: absolute;
    bottom: -10px;
    right: -500px;
    width: max-content;
    display: flex;
    color: #667d99;
    font-size: 13px;
}

.display-who-saw {
    display: none;
}

.opacity1 {
    opacity: 1 !important;
}
