
<div class="container-fluid artwork-comic">

    

    <main role="main">
        

        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <!--Left container : TOP CONTAINER (CONTROL BAR) and CONTENT-CONTAINER (CONTENTS)-->
        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <div id="left-container">


            <div #leftContainer class="first-div">

                <div class="top-container">
                    <div class="dropdowns-container">

                        <!--<div class="options-container" [ngClass]="{'like-invisible':!(current_chapter>0)}">
                            <a class="other-chapter" href="/artwork-comic/{{type}}/{{title}}/{{bd_id}}/{{current_chapter}}">
                                <span><mat-icon class="icon">navigate_before</mat-icon></span>
                                <span style="margin-right: 15px;">Chapitre {{current_chapter}}</span>
                            </a>
                        </div>-->

                        <div class="options-container">
                            
                            
                            <mat-icon class="icon" (click)="click_thumbnails();">apps</mat-icon>
                            <mat-icon class="icon" *ngIf="!fullscreen_mode" (click)="fullscreen_button();">fullscreen</mat-icon>
                            <mat-icon class="icon" *ngIf="fullscreen_mode" (click)="fullscreen_button();">fullscreen_exit</mat-icon>
                            <mat-icon class="icon" *ngIf="zoom_mode" (click)="zoom_button();">zoom_out</mat-icon>
                            <mat-icon class="icon" *ngIf="!zoom_mode" (click)="zoom_button();">zoom_in</mat-icon>
                            

                            <div class="pages-controller-container" [ngClass]="{'invisible': !display_pages}">
                                Page :
                                <input type="text" aria-label="" role="navigation" size="5">
                                <div class="total-pages">
                                    <span></span>
                                </div>
                            </div>

                            
                            <div *ngIf="type=='serie'" class="serie-container">
                                <mat-icon class="icon"  [ngStyle]="{'color':current_chapter>0 ? 'white' : 'rgb(86 111 148)' }" *ngIf="type=='serie' && chapterList.length>1" (click)="change_chapter_filter_bottom_to_top('down')">skip_previous</mat-icon>
                                <mat-icon class="icon" [ngStyle]="{'color':current_chapter>0 ? 'white' : 'rgb(86 111 148)' }" *ngIf="type=='serie' && chapterList.length>1" (click)="change_chapter('before')">navigate_before</mat-icon>

                                <div class="chapter-container"  [formGroup]="chapter_name_group" >
                                    <select formControlName="chapter_name_control"  class="chapterSelector" [ngClass]="{'invisible':!sumo_ready}"> 
                                        <option  value="{{current_chapter}}" selected disabled>{{chapter_name_to_show}}</option>
                                        <ng-container *ngIf="chapter_filter_bottom_to_top">
                                            <option *ngFor="let item of chapterList; let i = index " value="{{i}}"> chapitre {{item.chapter_number}} : {{item.title}}</option> 
                                        </ng-container>
                                        <ng-container *ngIf="!chapter_filter_bottom_to_top">
                                            <option *ngFor="let item of chapterList; let i = index " value="{{chapterList.length-i-1}}"> chapitre {{chapterList[chapterList.length-i-1].chapter_number}} : {{chapterList[chapterList.length-i-1].title}}</option> 
                                        </ng-container>
                                        
                                    </select>
                                    <!--<select class="chapterSelector" *ngFor="let item of chapterList; let i = index " [ngClass]="{'invisible': !sumo_ready }">
                                        <option value="{{i}}">chapitre {{item.chapter_number}} : {{item.title}}</option>
                                    </select>-->
                                </div>

                                <mat-icon class="icon"  [ngStyle]="{'color':chapterList.length>current_chapter+1 ? 'white' : 'rgb(86 111 148)' }" *ngIf="type=='serie' && chapterList.length>1" (click)="change_chapter('next')">navigate_next</mat-icon>
                                <mat-icon class="icon"  [ngStyle]="{'color':chapterList.length>current_chapter+1 ? 'white' : 'rgb(86 111 148)' }" *ngIf="type=='serie' && chapterList.length>1" (click)="change_chapter_filter_bottom_to_top('up')">skip_next</mat-icon>
                            </div>


                        </div>

                        <!--<div class="options-container" [ngClass]="{'like-invisible':!(chapterList.length>current_chapter+1)}">
                            <a class="other-chapter" href="/artwork-comic/{{type}}/{{title}}/{{bd_id}}/{{current_chapter + 2}}">
                                <span style="margin-left: 15px;">Chapitre {{current_chapter+2}}</span>
                                <span>
                                    <mat-icon class="icon">navigate_next</mat-icon>
                                </span>
                            </a>
                        </div>-->
                    </div>
                </div>

                <div class="content-container">
                    
                    <div class="thumbnails-container" *ngIf="thumbnails==true">
                            
                        <div class="thumbnails-name">
                            <mat-icon class="thumbnails-icon">apps</mat-icon>
                            <span>Vignettes</span>

                            <mat-icon class="close-icon" (click)="click_thumbnails();">close</mat-icon>
                        </div>
                        <div class="thumbnails-contents" *ngIf="swiper">
                            <ng-container *ngFor="let element of thumbnails_links; let i = index">
                                <div #thumbnail class="thumbnail-container" (click)="setSlide(i+1);" [ngClass]="{'opened': i==swiper.activeIndex}">
                                    <img [src]=element>
                                </div>
                                <span>Page {{i+1}}</span>
                            </ng-container>
                        </div>
                    </div>

                    <div #swiperContainer class="swiper-container">
                        <div #swiperWrapper class="swiper-wrapper">
                            <ng-container *ngIf="type=='one-shot'">
                                <div #swiperSlide *ngFor="let item of list_bd_pages; let i = index" class="swiper-slide">

                                    
                                    <div class="slide-container" 
                                    [ngClass]="{'slide-container-ZM': zoom_mode}">
                                        <div class="loading-page">
                                            <mat-spinner diameter="50"  *ngIf="!display_comics_pages[i]"></mat-spinner>
                                        </div>
                                        <img 
                                        (load)="a_drawing_is_loaded(i)"
                                        class="slide-container-img" 
                                        [src]="item"
                                        [ngClass]="{'slide-container-img-ZM': zoom_mode,'invisible':!display_comics_pages[i]}">
                                    </div>

                                </div>
                        </ng-container>
                        <ng-container *ngIf="type=='serie'">
                            <ng-container *ngIf="show_pages[current_chapter]">
                                <div #swiperSlide *ngFor="let item of list_of_pages_by_chapter[current_chapter]; let i = index" class="swiper-slide">
                                
                                    <div class="slide-container" 
                                    [ngClass]="{'slide-container-ZM': zoom_mode}">
                                    <div class="loading-page">
                                        <mat-spinner diameter="50"  *ngIf="!display_comics_pages[i]"></mat-spinner>
                                    </div>
                                        <img 
                                        (load)="a_drawing_is_loaded(i)"
                                        class="slide-container-img" 
                                        [src]="item"
                                        [ngClass]="{'slide-container-img-ZM': zoom_mode,'invisible':!display_comics_pages[i]}">
                                    </div>
    
                                </div>
                            </ng-container>
                            
                    </ng-container>
                        </div>
                        <!-- Add Scrollbar -->
                        <div class="swiper-scrollbar"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>

                </div>

            </div>



            <div style="display:flex;justify-content: center;">
                <div class="title" [ngClass]="{'opened': left_container_category_index==0 }"  (click)="open_left_container_category(0);">
                    <mat-icon style="font-size: 25px;margin: auto 10px auto auto;">account_circle</mat-icon>
                    <span>Œuvres du même auteur</span>
                </div>
                <div class="title" [ngClass]="{'opened': left_container_category_index==1 }" (click)="open_left_container_category(1);">
                    <mat-icon style="font-size: 25px;margin: auto 10px auto auto;">burst_mode</mat-icon>
                    <span>Œuvres similaires</span>
                </div>
            </div>



            <div class="recommendations" *ngIf="list_of_author_recommendations_retrieved">

                <!--********************-->
                <!--********************-->
                <!--SAME AUTHOR ARTWORKS-->
                <!--********************-->
                <!--********************-->
                <div class="cols" *ngIf="left_container_category_index==0">
                    <div class="col1" *ngIf="list_of_author_recommendations_comics.length>0"  [ngClass]="{'invisible': !display_comics_recommendations }">
                        <div class="genre">
                            <span>Bandes dessinées</span>
                        </div>
                        <div class="comic" *ngFor="let item of list_of_author_recommendations_comics; let i=index">
                            <app-thumbnail-comics *ngIf="item[0].chaptersnumber == null"
                                (send_loaded)="sendLoadedComic( $event );"
                                [item]=item[0]
                                format='one-shot'
                                now_in_seconds={{now_in_seconds}}
                            ></app-thumbnail-comics>
                            <app-thumbnail-comics *ngIf="item[0].chaptersnumber >=0"
                                (send_loaded)="sendLoadedComic( $event );"
                                [item]=item[0]
                                format='serie'
                                now_in_seconds={{now_in_seconds}}
                            ></app-thumbnail-comics>
                        </div>
                    </div>
                    <div class="col2" *ngIf="list_of_author_recommendations_drawings.length>0" [ngClass]="{'invisible': !display_drawings_recommendations }">
                        <div class="genre">
                            <span>Dessins</span>
                        </div>
                        <div *ngFor="let item of list_of_author_recommendations_drawings; let i=index" >
                            <app-thumbnail-drawing *ngIf="item[0].pagesnumber == null"
                                (sendLoaded)="sendLoadedDrawing( $event );"
                                [item]=item[0]
                                format='one-shot'
                                now_in_seconds={{now_in_seconds}}
                            ></app-thumbnail-drawing>
                            <app-thumbnail-drawing *ngIf="item[0].pagesnumber >=0"
                                (sendLoaded)="sendLoadedDrawing( $event );"
                                [item]=item[0] 
                                format='artbook'
                                now_in_seconds={{now_in_seconds}}
                            ></app-thumbnail-drawing>
                        </div>
                    </div>
                    <div class="col3" *ngIf="list_of_author_recommendations_writings.length>0" [ngClass]="{'invisible': !display_writings_recommendations }">
                        <div class="genre">
                            <span>Écrits</span>
                        </div>
                        <div *ngFor="let item of list_of_author_recommendations_writings; let i=index"  >
                            <app-thumbnail-writing
                                (sendLoaded)="sendLoadedWriting( $event );"
                                [item]=item[0]
                                now_in_seconds={{now_in_seconds}}
                            ></app-thumbnail-writing>
                        </div>
                    </div>
                </div>

                <!--******************-->
                <!--******************-->
                <!--SAME TYPE ARTWORKS-->
                <!--******************-->
                <!--******************-->
                <div style="display:flex;flex-wrap: wrap;min-height: 550px;" class="container-comics" [ngClass]="{'invisible': !list_of_recommendations_by_tag_retrieved }" *ngIf="left_container_category_index==1">
                    <div *ngFor="let item of list_of_recommendations_by_tag; let i=index"  [ngClass]="{'invisible': !display_comics_recommendations_others }">
                        <app-thumbnail-comics *ngIf="type=='serie'"
                                (send_loaded)="sendLoadedComicsOthers( $event );"
                                [item]=item
                                format='serie'
                                now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-comics>
                        <app-thumbnail-comics *ngIf="type=='one-shot'"
                                (send_loaded)="sendLoadedComicsOthers( $event );"
                                [item]=item
                                format='one-shot'
                                now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-comics>
                    </div>
                    <div style="    display: flex;
                    justify-content: center;
                    margin: auto;" *ngIf="list_of_recommendations_by_tag.length==0">
                        Aucune recommendation n'est actuellement disponible pour cette oeuvre
                    </div>
                </div>


            </div>


        </div>





        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <!---------------RIGHT CONTAINER -------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <!--------------------------------------------------------------------------------->
        <div id="right-container">
            


            <!--options pour l'utilisateur -->
            <button *ngIf="mode_visiteur_added && !mode_visiteur && type_of_comic_retrieved" mat-icon-button class="optionsMenu" [matMenuTriggerFor]="artworkOptions">
                <mat-icon class="optionsButton">more_vert</mat-icon>
            </button>
            <mat-menu  #artworkOptions="matMenu">
                <button class="mat-menu-item" mat-menu-item (click)="edit_information();"> 	
                    <mat-icon class="item-icon">edit</mat-icon>
                    <span>Editer les informations</span>
                </button>
                <button *ngIf="type=='serie'" class="mat-menu-item" mat-menu-item > 	
                    <mat-icon class="item-icon">extension</mat-icon>
                    <a href="/handle-comics-chapter/{{bd_id}}" style="color:rgba(0,0,0,.87);">Gestion des chapitres</a>
                </button>
                <button class="mat-menu-item" mat-menu-item (click)="edit_thumbnail();"> 	
                    <mat-icon class="item-icon">view_carousel</mat-icon>
                    <span>Éditer la miniature</span>
                </button>
                <button *ngIf="!content_emphasized" class="mat-menu-item" mat-menu-item (click)="emphasize()"> 	
                    <mat-icon class="item-icon">trending_up</mat-icon>
                    <span>Mettre l'oeuvre en avant</span>
                </button>
                <button *ngIf="content_emphasized" class="mat-menu-item" mat-menu-item (click)="remove_emphasizing()"> 	
                    <mat-icon class="item-icon">trending_down</mat-icon>
                    <span>Annuler la mise en avant</span>
                </button>
                <button class="mat-menu-item" mat-menu-item> 	
                    <mat-icon class="item-icon">monetization_on</mat-icon>
                    <span>Monétiser l'œuvre</span>
                </button>
                <button *ngIf="status=='public'" class="mat-menu-item" mat-menu-item (click)="set_private();"> 
                    <mat-icon class="item-icon">save_alt</mat-icon>
                    <span>Archiver</span>
                 </button>
                <button *ngIf="status=='private'" class="mat-menu-item" mat-menu-item (click)="set_public();"> 
                    <mat-icon class="item-icon">unarchive</mat-icon>
                    <span>Désarchiver</span>
                </button>
                <button class="mat-menu-item" mat-menu-item (click)="remove_artwork();">
                    <mat-icon class="item-icon">clear</mat-icon>
                    <span>Supprimer</span>
                 </button>
            </mat-menu>

            <!--options pour un visiteur -->
            <button *ngIf="mode_visiteur_added && mode_visiteur && archive_retrieved && type_of_account=='account'" mat-icon-button class="optionsMenu" [matMenuTriggerFor]="artworkOptions2">
                <mat-icon class="optionsButton">more_vert</mat-icon>
            </button>
            <mat-menu  #artworkOptions2="matMenu">
                <button class="mat-menu-item" mat-menu-item> 	
                    <mat-icon class="item-icon">report</mat-icon>
                    <span>Signaler l'oeuvre</span>
                </button>
                <button (click)="archive()" class="mat-menu-item" mat-menu-item *ngIf="!content_archived"> 	
                    <mat-icon class="item-icon">save_alt</mat-icon>
                    <span>Archiver</span>
                </button>
                <button (click)="unarchive()" class="mat-menu-item" mat-menu-item *ngIf="content_archived"> 	
                    <mat-icon class="item-icon">unarchive</mat-icon>
                    <span>Désarchiver</span>
                </button>
                <button class="mat-menu-item" mat-menu-item> 	
                    <mat-icon class="item-icon">create</mat-icon>
                    <span>Ecrire</span>
                </button>
            </mat-menu>


            <div class="d0-title-container">
                <span *ngIf="type=='one-shot'">{{title}}</span>
                <ng-container *ngIf="type=='serie'">
                    <span >{{title}}</span> <span style="margin-top:5px;font-weight: unset; font-size:17px">Chapitre {{current_chapter+1}} : {{current_chapter_title}} </span>
                </ng-container>
                
            </div>
            <!--Line 1 : AUTHOR INFORMATION-->
            <div class="d1-profile-container">

                
                <!--<div class="icon-container">
                    <img [src]="profile_picture">
                </div>
                <div class="d1-container">-->

                
                <!--********************-->
                <!--Author container-->
                <!--********************-->
                <div class="author-container" [ngClass]="{'invisible': !display_right_container }">
                    <div class="left-container" >
                        <img (load)="profile_picture_loaded()" [src]="profile_picture">
                    </div>
                    <div class="right-container">
                        <span class="author-name" *ngIf="pseudo!=''">
                            <a href="/account/{{pseudo}}/{{authorid}}">
                                {{user_name}}
                            </a>
                        </span>
                        <span class="author-description" *ngIf="pseudo!=''">@{{pseudo}}</span>
                    </div>
                </div>

                <div [ngClass]="{'invisible': !display_right_container }" *ngIf="mode_visiteur_added && mode_visiteur" class="d1-container-buttons">
                    <button (click)="subscribtion()" *ngIf="already_subscribed"  mat-raised-button  style="background-color:#4bacdd; border-radius: 30px;" tabIndex="-1" class="position style1">
                        <mat-icon class="item-icon" style=" color:#010119">person_remove</mat-icon> 
                        <span style="margin-left: 5px; color:#010119;font-size: 14px; " >Se désabonner</span>
                      </button>
                    <button (click)="subscribtion()" *ngIf="!already_subscribed"  mat-raised-button  style="background-color:#4bacdd; border-radius: 30px;" tabIndex="-1" class="position style1">
                        <mat-icon class="item-icon" style=" color:#010119">person_add</mat-icon> 
                        <span style="margin-left: 5px; color:#010119;font-size: 14px; " >S'abonner</span>
                      </button>
                </div>
                    
            </div>
            <!--Line 2 : LIKES-LOVES, NUMBER OF VIEWS/COMMENTS, DATE-->
            <div class="d2-likes-container" >
                <div class="line1" [ngClass]="{'invisible': !display_right_container }">
                    <button mat-raised-button [disabled]="like_in_progress" class="d2-button like-background" [ngClass]="{'liked': liked }" (click)="click_like();">
                        <mat-icon class="d2-button-icon">thumb_up</mat-icon>
                        <span>J'aime</span>
                    </button>
                    <button mat-raised-button [disabled]="love_in_progress" class="d2-button love-background" [ngClass]="{'loved': loved }" (click)="click_love();">
                        <mat-icon class="d2-button-icon">favorite</mat-icon>
                        <span>J'adore</span>
                    </button>
                </div>
                <div class="line2">
                    <div class="d2-likes" (click)="show_likes()">
                        <span [ngClass]="{'invisible': !display_right_container }"> {{likesnumber}}</span>
                    </div>
                    <div class="d2-loves" (click)="show_loves()">
                        <span [ngClass]="{'invisible': !display_right_container }"> {{lovesnumber}}</span>
                    </div>
                </div>
                <div class="line3">
                    <div class="line-3-container">
                        <mat-icon class="eye-icon">visibility</mat-icon>
                        <span [ngClass]="{'invisible': !display_right_container }" *ngIf="viewnumber == 0">Aucune vue</span>
                        <span [ngClass]="{'invisible': !display_right_container }" *ngIf="viewnumber == 1">1 vue</span>
                        <span [ngClass]="{'invisible': !display_right_container }" *ngIf="viewnumber > 1">{{viewnumber}} vues</span>
                    </div>
                </div>
                <div class="line4">
                    <div class="line-4-container">
                        <mat-icon class="comments-icon" (click)="scroll_to_comments();">comment</mat-icon>
                        <span (click)="scroll_to_comments();" [ngClass]="{'invisible': !display_right_container }" *ngIf="commentariesnumber == 0">Aucun commentaire</span>
                        <span (click)="scroll_to_comments();" [ngClass]="{'invisible': !display_right_container }" *ngIf="commentariesnumber == 1">{{commentariesnumber}} commentaire</span>
                        <span (click)="scroll_to_comments();" [ngClass]="{'invisible': !display_right_container }" *ngIf="commentariesnumber > 1">{{commentariesnumber}} commentaires</span>
                    </div>
                </div>

                <div class="line5">
                    <span [ngClass]="{'invisible': !display_right_container }">
                        {{date_upload_to_show}}
                    </span>
                </div>

            </div>
            <!--Line 3 : AD-->
            <div class="d3-ad-container">
                <div class="d3-ad">
                </div>
                <div class="d3-link">
                    <span>Soutenez le site en faisant un don </span>
                    <div class="d3-icon">
                    </div>
                </div>
            </div>
            <!--Line 4 : OPTIONAL VIDEO-->
            <!--<div class="d4-video-container" id="scrollToComments">

                <button mat-raised-button class="d4-button">
                    <mat-icon class="video-icon">play_circle_filled</mat-icon>
                    <span>Soutenir l'artiste</span>
                </button>

                <div class="d4-text">
                    <span>Soutenir l’artiste en visualisant une courte publicité</span>
                </div>
            </div>-->
            <!--Line 5 : DESCRIPTION OR COMMENTS : CHOICE-->
            <!--Line 5 : DESCRIPTION OR COMMENTS : CHOICE-->
            <div class="d5-category">
                <div #category class="category-description opened" (click)="open_category(0);">
                    <span>Description</span>
                    <div class="bottom-border"></div>
                </div>
                <div #category class="category-comments" (click)="open_category(1);">
                    <span>Commentaires</span>
                    <div class="bottom-border"></div>
                </div>
            </div>
            <!--Line 6 : DESCRIPTION OR COMMENTS-->
            <div class="d6-category-content">
                <div *ngIf="category_index==0" class="description-container">
                    <div  class="categories-container"  [ngClass]="{'invisible': !display_right_container }">
                        &bull;
                        <div  class="tag-container">
                            <a href="/main-research-style-and-tag/1/Comic/{{style}}/all">
                                <span>{{style}}</span>
                            </a>
                        </div>
                        <div *ngIf="type=='serie'"  class="tag-container"> <span>Série</span> </div>
                        <div *ngIf="type=='one-shot'"  class="tag-container"><span>One-shot</span>  </div>
                    </div>
                    <div class="categories-container"  [ngClass]="{'invisible': !display_right_container }">  
                        &bull;
                        <div class="tag-container">
                            <a href="/main-research-style-and-tag/1/Comic/{{style}}/{{firsttag}}">
                                <span >{{firsttag}}</span>
                            </a>
                        </div>
                        <div  *ngIf="secondtag!=null" class="tag-container">
                            <a href="/main-research-style-and-tag/1/Comic/{{style}}/{{secondtag}}">
                                <span>{{secondtag}}</span>
                            </a>
                            
                        </div>
                        <div  *ngIf="thirdtag!=null" class="tag-container">
                            <a href="/main-research-style-and-tag/1/Comic/{{style}}/{{thirdtag}}">
                                <span>{{thirdtag}}</span>
                            </a>
                        </div>
                    </div>
                    <div style="margin-left:20px">
                        {{highlight}}
                    </div>
                </div>
                <div *ngIf="category_index==1" class="comments-container">
                    <app-comments 
                    [type_of_account]=type_of_account
                    [title]="title"
                    category='comic'
                    [format]=type
                    [style]=style
                    [publication_id]=bd_id
                    [chapter_number]=current_chapter
                    [authorid]=authorid
                    (new_comment)="new_comment();"
                    (removed_comment)="removed_comment();"

                    ></app-comments>
                </div>
            </div>

        </div>





    </main>
</div>