
<div class="absolute-centered-message">
    <div class="animated-logo">
        <mat-icon [ngClass]="{'invisible': !show_icon }" class="file">insert_drive_file</mat-icon>
        <div>
            <mat-icon [ngClass]="{'invisible': !show_icon }" class="search">search_off</mat-icon>
        </div>
    </div>
    <span class="text">Page non trouvée</span>

    <a routerLink='/'>
        <button>
            <div class="icon-home"></div>
            <span>Revenir à l'accueil</span>
        </button>
    </a>
</div>