
<button class="close-button" (click)="close_dialog()">
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>

<div class="logo-container" *ngIf="!show_sent_mail">
    <img src="../../assets/img/svg/Logo-LA3.svg">
</div>

<div class="popup-login">
    

   <!-- CONNEXION AUTOMATIQUE APRES PREMIERE CONNEXION -->
    <ng-container *ngIf="usage=='rest_pass' || usage=='registration'">

        
        <div *ngIf="usage=='rest_pass'" class="step-name">
            <span>Tentative de connexion</span>
        </div>

        <div *ngIf="usage=='registration'" class="step-name">
            <span>Bienvenue sur LinkArts !</span>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="reset_loading()">
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
            <span *ngIf="!loading">Se connecter</span>
        </button>

       
        
        <div class="error" *ngIf="display_error_reset"  [@enterAnimation]>
            <span >Veuillez nous excuser, une erreur est survenue... </span>
        </div>
        <div class="not-error" *ngIf="!display_error_reset"  [@enterAnimation]>
            <span >Connexion en cours</span>
        </div>

    </ng-container>


    <!-- CONNEXION CLASSIQUE -->
    <ng-container *ngIf="!reset_password_menu && !delete_account && usage!='rest_pass' && usage!='registration' && usage!='for_chat'">

        
        <div  class="step-name">
            <span>Connexion</span>
        </div>

        <div class="step-form" [formGroup]="loginForm">
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="username" autocomplete="off" type="search" (input)="normalize_input(loginForm, 'username');">
                    <mat-error *ngIf="loginForm.controls['username'].invalid">Veuillez saisir un e-mail valide
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off" (input)="normalize_input(loginForm, 'password');">

                    <div class="remove-red-eye" (click)="change_password_type()"
                    [matTooltip]="hide ? 'Voir le mot de passe' : 'Cacher le mot de passe'"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="100">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="hide" [@enterAnimation]>visibility</mat-icon>
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!hide" [@enterAnimation]>visibility_off</mat-icon>
                    </div>

                </mat-form-field>
            </div>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="login();">
            <span *ngIf="!loading">Se connecter</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

       
        
        <div class="error">
            <span *ngIf="display_wrong_data" [@enterAnimation]>Le mot de passe ou l'e-mail sont incorrects</span>
            <span *ngIf="display_old_password" [@enterAnimation]>Ce mot de passe n'est plus d'actualité</span>
            <span *ngIf="display_error_group" [@enterAnimation]>La création de ce groupe n'a pas encore été validée par tous ses membres</span>
            <span *ngIf="display_email_not_checked" [@enterAnimation]>La création du compte n'a toujours pas été validée depuis votre boîte mail</span>
        </div>

        <div *ngIf="!loading" class="step-back">
            <div (click)="signup()" class="left">S'inscrire</div>
            <div (click)="open_reset_password()" class="right">Mot de passe oublié</div>
        </div>

    </ng-container>



    <!-- RECUPERATION DU MDP -->
    <ng-container *ngIf="reset_password_menu && !delete_account && usage!='rest_pass' && usage!='registration' && usage!='for_chat'">

        <div class="back-button" (click)="open_connexion_menu();">
            <mat-icon [ngClass]="{'invisible': !show_icon }" >keyboard_arrow_left</mat-icon>
        </div>
        
        <div class="step-name">
            <span>Récupérer mon mot de passe</span>
        </div>

        <div class="step-form" [formGroup]="ResetPasswordForm">
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="mail_recuperation" autocomplete="off" type="search" (input)="normalize_input(ResetPasswordForm, 'mail_recuperation');">
                    <mat-error *ngIf="ResetPasswordForm.controls['mail_recuperation'].invalid">Veuillez saisir un e-mail valide
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="onSubmitReset();">
            <span *ngIf="!loading">Envoyer</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

        <div class="loading-span" *ngIf="loading && !submitted_reset">
            <span>Connexion en cours</span>
        </div>
        <div class="error">
            <span *ngIf="password_reset_problem" [@enterAnimation]>Un problème est survenu. Veuillez vérifier l'e-mail</span>
            <span *ngIf="password_reset_sent" class="green" [@enterAnimation]>Un e-mail a été envoyé à l'adresse indiquée. Veuillez réessayer à nouveau s'il n'est pas reçu dans les minutes qui suivent</span>
        </div>

    </ng-container>


    <!-- CHAT CONNEXION -->
    <ng-container *ngIf="usage=='for_chat'">

        <div class="step-name">
            <span>Authentification</span>
        </div>

        <div class="step-form" [formGroup]="loginForm">
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="username" autocomplete="off" type="search" (input)="normalize_input(loginForm, 'username');">
                    <mat-error *ngIf="loginForm.controls['username'].invalid">Veuillez saisir un e-mail valide
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off" (input)="normalize_input(loginForm, 'password');">

                    <div class="remove-red-eye" (click)="change_password_type()"
                    [matTooltip]="hide ? 'Voir le mot de passe' : 'Cacher le mot de passe'"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="100">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="hide" [@enterAnimation]>visibility</mat-icon>
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!hide" [@enterAnimation]>visibility_off</mat-icon>
                    </div>

                </mat-form-field>
            </div>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="authentication_for_chat();">
            <span *ngIf="!loading">S'authentifier</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

        <div class="loading-span" *ngIf="loading">
            <span>Authentification en cours</span>
        </div>
        
        <div class="error">
            <span *ngIf="display_wrong_data" [@enterAnimation]>Le mot de passe ou l'e-mail sont incorrects</span>
        </div>

    </ng-container>

    
    <!-- SUPPRESSION ET SUSPENSION DE COMPTE -->
    <ng-container *ngIf="delete_account && step_deletion==0 ">

        <div class="step-name">
            <span>Authentification</span>
        </div>

        <div class="step-form" [formGroup]="loginForm">
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="username" autocomplete="off" type="search" (input)="normalize_input(loginForm, 'username');">
                    <mat-error *ngIf="loginForm.controls['username'].invalid">Veuillez saisir un e-mail valide
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off" (input)="normalize_input(loginForm, 'password');">

                    <div class="remove-red-eye" (click)="change_password_type()"
                    [matTooltip]="hide ? 'Voir le mot de passe' : 'Cacher le mot de passe'"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="100">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="hide" [@enterAnimation]>visibility</mat-icon>
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!hide" [@enterAnimation]>visibility_off</mat-icon>
                    </div>

                </mat-form-field>
            </div>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="account_deletion(0);">
            <span *ngIf="!loading">S'authentifier</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

        <div class="loading-span" *ngIf="loading">
            <span>Authentification en cours</span>
        </div>
        
        <div class="error">
            <span *ngIf="display_wrong_data" [@enterAnimation]>Le mot de passe ou l'e-mail sont incorrects</span>
            <span *ngIf="display_old_password" [@enterAnimation]>Ce mot de passe n'est plus d'actualité</span>
            <span *ngIf="display_error_group" [@enterAnimation]>La création de ce groupe n'a pas encore été validée par tous ses membres</span>
            <span *ngIf="display_email_not_checked" [@enterAnimation]>La création du compte n'a toujours pas été validée depuis votre boîte mail</span>
        </div>

    </ng-container>


    <!-- SUPPRESSION ET SUSPENSION DE COMPTE 2-->
    <ng-container *ngIf="delete_account && step_deletion==1">

        <div class="step-name">
            <span *ngIf="usage=='delete_account'">Motif de suppression</span>
            <span *ngIf="usage!='delete_account'">Motif de suspension</span>
        </div>

        <!--motifs de suspension-->
        <!--motifs de suppression-->
        <button class="motif" (click)="select_motif(i);" *ngFor="let item of motifs; let i=index" [ngClass]="{'opened': selected_motif==i}">
            <span>{{item}}</span>
        </button>

        <button [disabled]="loading" class="submit-button" (click)="account_deletion(1);">
            <span *ngIf="!loading && usage=='delete_account'">Suivant</span>
            <span *ngIf="!loading && usage!='delete_account'">Suspendre mon compte</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

        <div class="error">
            <span *ngIf="display_select_motif" [@enterAnimation]>Veuillez sélectionner un motif</span>
        </div>
        
    </ng-container>


    <!-- SUPPRESSION ET SUSPENSION DE COMPTE 3-->
    <ng-container *ngIf="delete_account && step_deletion==2">

        <div class="step-name">
            <span>Détails supplémentaires</span>
        </div>
        
        <div class="step-form" [formGroup]="deletionForm">

            <div class="form-item" style="height:unset !important;">
                <mat-form-field floatLabel='never'>
                    <mat-label>Détails</mat-label>
                    <textarea matInput cdkTextareaAutosize formControlName="description" maxLength="1000" autocomplete="off" (input)="normalize_input(deletionForm, 'description');"></textarea>
                    
                    <mat-error *ngIf="deletionForm.controls['description'].invalid">Veuillez fournir un commentaire valide (minimum : 20 caractères)
                    </mat-error>
                    <div class="length-indicator">{{deletionForm.controls['description'].value?.length || 0}}/1000</div>
                </mat-form-field>
            </div>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="account_deletion(2);">
            <span *ngIf="!loading">Suivant</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

        <div class="loading-span" *ngIf="loading">
            <span>Suppression en cours</span>
        </div>
        
    </ng-container>

     <!-- SUPPRESSION ET SUSPENSION DE COMPTE 4-->
    <ng-container *ngIf="delete_account && step_deletion==3">

        <div class="step-name">
            <span>Authentification finale</span>
        </div>

        <div class="step-form" [formGroup]="loginForm">
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="username" autocomplete="off" type="search" (input)="normalize_input(loginForm, 'username');">
                    <mat-error *ngIf="loginForm.controls['username'].invalid">Veuillez saisir un e-mail valide
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off" (input)="normalize_input(loginForm, 'password');">

                    <div class="remove-red-eye" (click)="change_password_type()"
                    [matTooltip]="hide ? 'Voir le mot de passe' : 'Cacher le mot de passe'"
                    matTooltipClass='linkarts-tooltip'
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="100">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="hide" [@enterAnimation]>visibility</mat-icon>
                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!hide" [@enterAnimation]>visibility_off</mat-icon>
                    </div>

                </mat-form-field>
            </div>
        </div>

        <button [disabled]="loading" class="submit-button" (click)="account_deletion(2);">
            <span *ngIf="!loading">Supprimer mon compte</span>
            <div class="loading-dots" *ngIf="loading">
                &nbsp; <span>.</span><span>.</span><span>.</span>
            </div>
        </button>

        <div class="loading-span" *ngIf="loading">
            <span>Suppression en cours</span>
        </div>
        
        <div class="error">
            <span *ngIf="display_wrong_data" [@enterAnimation]>Le mot de passe ou l'e-mail sont incorrects</span>
            <span *ngIf="display_old_password" [@enterAnimation]>Ce mot de passe n'est plus d'actualité</span>
            <span *ngIf="display_error_group" [@enterAnimation]>La création de ce groupe n'a pas encore été validée par tous ses membres</span>
            <span *ngIf="display_email_not_checked" [@enterAnimation]>La création du compte n'a toujours pas été validée depuis votre boîte mail</span>
        </div>
        
    </ng-container>

</div>
