<!--<div *ngIf="!reset_password_menu">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Pseudo ou email</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">L'email ou le pseudo sont requis</div>
                
            </div>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Mot de passe requis</div>
            </div>
        </div>
        <div class="form-group">
            
            <button [disabled]="loading" class="btn btn-primary" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Se connecter
            </button>
            <div *ngIf="display_wrong_data" style="color:red">Les informations inscrites sont eronnées</div>
            <div style="display:block;">
                <div (click)="open_reset_password()" style="padding-left:0px" class="btn btn-link">Mot de passe oublié</div><br>
                <a routerLink="/signup" style="padding-left:0px" class="btn btn-link">S'inscrire</a>
            </div>
            
        </div>
    </form>
</div>
<div *ngIf="reset_password_menu">
    <div style="display:flex; align-items: center;">
        <div (click)="open_connexion_menu()"> Retour </div>
        <h2>Récupération du mot de passe</h2>
    </div>
    <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmitReset()">
        <div class="form-group">
            <label for="mail_recuperation">Adresse mail</label>
            <input type="text" formControlName="mail_recuperation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted_reset && g.mail_recuperation.errors" class="invalid-feedback">
                <div *ngIf="g.mail_recuperation.errors.required">Veuillez inscire un mail valide</div>
                
            </div>
        </div>
        <div class="form-group">
            
            <button [disabled]="loading" class="btn btn-primary" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Envoyer un mail de récupération
            </button>
            <div *ngIf="wrong_email_reset_password" style="color:red">Adresse mail erronée</div>
            
        </div>
    </form>
</div>-->



<div class="popup-container" *ngIf="!reset_password_menu">
    <div class="popup-step">

        <div class="back-and-logo">
            <div class="logo">
                logo
            </div>
        </div>
        <div class="step-name">
            <span>Connexion</span>
        </div>
        <div class="step-form" [formGroup]="loginForm">

            <div class="form-item">
                <mat-form-field>
                    <mat-label>Pseudonyme ou e-mail</mat-label>
                    <input matInput formControlName="username" autocomplete="off">
                </mat-form-field>
            </div>
            
            <div class="form-item">
                <mat-form-field style="position:relative">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
                    <div class="error" *ngIf="display_wrong_data">Le mot de passe ou le pseudonyme/e-mail sont incorrectes
                    </div>
                    <div style="margin:auto auto; position:absolute;right: 5px;top:5px;cursor: pointer;">
                        <mat-icon class="item-icon" style="color: #162644;"  (click)="change_password_type()" >remove_red_eye</mat-icon>
                    </div>
                </mat-form-field>
            </div>

        </div>


        <div class="step-validation">

            <button mat-raised-button [disabled]="loading" class="submit-button style1" (click)="login();">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span *ngIf="!loading">Se connecter</span>
            </button>

        </div>
        
        <div style="display: flex;height: 40px;width: 400px;">
            <div (click)="signup()" class="btn btn-link" style="margin:auto auto auto 0px;cursor:pointer;">S'inscrire</div>
            <div (click)="open_reset_password()" class="btn btn-link" style="margin:auto 0px auto auto; cursor:pointer;">Mot de passe oublié</div>
        </div>

    </div>
</div>




<div class="popup-container" *ngIf="reset_password_menu">
    
    
    <div class="popup-step">
        <div class="back-and-logo">
            <div class="back-button">
                <button mat-raised-button class="style0" (click)="open_connexion_menu();">
                    <span>Retour</span>
                </button>
            </div>
            <div class="logo">
                logo
            </div>
        </div>

        
        <div class="step-name">
            <span>Récupérer mon mot de passe</span>
        </div>
        <div class="step-form" [formGroup]="ResetPasswordForm">

            <div class="form-item">
                <mat-form-field>
                    <mat-label>Adresse mail</mat-label>
                    <input matInput formControlName="mail_recuperation" autocomplete="off">
                    <mat-error *ngIf="ResetPasswordForm.controls['mail_recuperation'].invalid">Veuillez faire une saisie valide
                    </mat-error>
                </mat-form-field>
            </div>
            
        </div>

        <div class="step-validation">
            <button mat-raised-button [disabled]="loading" class="submit-button style0" (click)="onSubmitReset();">
                <span>Envoyer</span>
            </button>
        </div>






    </div>

    <!--<form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmitReset()">
        <div class="form-group">
            <label for="mail_recuperation">Adresse mail</label>
            <input type="text" formControlName="mail_recuperation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted_reset && g.mail_recuperation.errors" class="invalid-feedback">
                <div *ngIf="g.mail_recuperation.errors.required">Veuillez inscire un mail valide</div>
                
            </div>
        </div>
        <div class="form-group">
            
            <button [disabled]="loading" class="btn btn-primary" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Envoyer un mail de récupération
            </button>
            <div *ngIf="wrong_email_reset_password" style="color:red">Adresse mail erronée</div>
            
        </div>
    </form>-->



</div>