@import '../../material-styles.scss';
@import "../../unsecured-ng-deeps.scss";


.logo-container{
  position: absolute;
  width: 100%;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  border: unset;
  border-radius: 50px;
  height: 40px;
  z-index: 5;
  img{
    height: 35px;
  }
}

.close-button {
  position: absolute;
  right: 14px;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  border: unset;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background: transparent;
  z-index: 10;
  cursor: pointer;

  &:hover {
    background: #efefef;
  }
}

.back-button{
  position: absolute;
  left: 14px;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none !important;
  border: unset;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background: white;
  z-index: 10;
  cursor: pointer;

  &:hover {
    background: #efefef;
  }
}

.popup-login {
  position: relative;
  padding:24px 24px 24px 24px;
  @media (max-width: 400px) {
    padding:24px 5px 24px 5px;
  }
  
  .step-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 22px;
    height: 40px;
    margin-top: 30px;
    width: 100%;
    cursor:default;
    span {
      display: flex;
      color: #203864;
      font-size: 18px;
      font-weight: bold;
    }
  }
  
  button.motif {
    width: calc(100% - 30px);
    display: flex;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 6px;
    border-radius: 40px;
    border: 1px solid #203864;
    background-color: white;
    outline: none;
    transition: transform 200ms;

    span {
      margin:auto auto auto 15px;
      font-weight: 600;
      color: #203864;
    }
    mat-icon {
      margin:auto 5px auto auto;
      width: unset;
      height: unset;
      font-size: 25px;
      max-width: 25px;
      overflow: hidden;
      color: #203864;
    }


    &:hover {
      background: #eeeff3 !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }
    &:active {
      background: #e2e5eb !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
      transform: scale(0.98);
    }
    &.opened {
      background: #e2e5eb !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }
    transition:transform 200ms;
  }

  .step-form {
    font-size: 14px;
    overflow-y:auto;
    width:100%;
    overflow-y:auto;
    padding: 0px 10px;
    .step-name {
      display:flex;
      height:35px;
      width:100%;
      span {
        font-size: 18px;
        font-weight: bold;
        margin: auto auto auto 5px;
      }
    }
    .form-item {
      width:100%;
      height:70px;
      margin-top:15px;
      margin-bottom:10px;

      .remove-red-eye {
        margin:auto auto; 
        position:absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        mat-icon {
          color: #203864;     
          font-size: 20px;
          max-width: 20px;
      overflow: hidden;
        }
      }

      .length-indicator {
        position: absolute;
        right: 10px;
        color: grey;
        font-size: 13px;
        font-weight: 400;
        top: 5px;
      }
    }

    .links-container {
      display:block;
      max-height:120px;
      overflow-y:auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      
      .link {
        display: flex;
        text-overflow: ellipsis;
        background: #ebf6fb;
        border-radius: 3px;
        padding-left: 9px;
        font-size: 14px;
        > span {
          margin: auto auto auto 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor:default;
        }
        .mat-icon-button {
          margin: auto 5px auto auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      
    }
  }
    
  .submit-button {
    justify-content: center;
    height: 48px;
    width: calc(100% - 20px);
    margin: auto auto;
    padding: 8px 28px 10px 28px;
    border-radius: 35px;
    border: 1px solid #88a5c3;
    background-image: linear-gradient(0turn, #020536, #133364);
    color: #ffffff;
    outline: none;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: transform 200ms;

    span {
      margin: auto;
      font-weight: 600;
      font-size: 17px;
    }

    transition:transform 200ms;
    &:active {
      transform: scale(0.98);
    }

    .loading-dots {
      line-height: 6px;
      display: flex;
      span {    
        font-size: 35px;
        line-height: 6px;
        margin-bottom: 20px;
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
      span:nth-child(2) {
        animation-delay: 0.2s;
      }
      span:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }

  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  .loading-span {
    display: flex;
    height: 40px;
    width: 100%; 
    justify-content:center;
    span {
      margin:auto auto;
      font-size:12px;
      color: rgb(32,56,100);
    }
  }

  .error{
    width: 100%;
    text-align:center;
    margin-top: 10px;
    padding: 0px 10px;
    line-height: 16px;
    span {
      color: #f44336;
      font-size: 12px;

      &.green {
        color:rgb(0, 89, 0);
      }
    }
  }

  .not-error{
    width: 100%;
    text-align:center;
    margin-top: 10px;
    padding: 0px 10px;
    line-height: 16px;
    span {
      font-size: 12px;

      &.green {
        color:rgb(0, 89, 0);
      }
    }
  }

  .step-back {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    
    .left {
      margin:auto auto 0px 0px; 
      cursor:pointer;
      font-size: 12px;     
      color: #203864;
    }
    .right {
      margin:auto 0px 0px auto; 
      cursor:pointer;
      font-size: 12px;     
      color: #203864;
    }
  }


  //************************************************************
  //Secured ng-deep
  //************************************************************
  ::ng-deep .form-item {
    position:relative;
    width:100%;
    margin-top:10px;


    .first-link-message {
      margin-bottom: 5px;
      span {
        font-size: 12px;
        font-weight: 600;
        color: #75828b;
        cursor: default;
      }
    }
    .form-item-flex {
      display: flex;
      width: 100%;
      .left-container {
        width: stretch;
        margin-right: 10px;
      }
      .right-container {
        width: stretch;
      }
    }

    &.input-multiple-lines {
      height:unset !important;
      mat-form-field {
        height:unset !important;
        .mat-form-field-wrapper{
          padding-bottom: 27px !important;

          mat-error {
            font-size: 11px;
          }
        }
      }
    }

    .mat-input-element {
      font-size: 14px;
      line-height: 22px !important;
      padding-right: 70px !important;
    }

    mat-form-field .mat-form-field-wrapper{
      padding-bottom: 25px !important;
      mat-error {
        font-size: 11px;
      }
    }

    .mat-form-field {
      width:100%;
      line-height: 1.4;

      textarea {
        max-height:180px;
        min-height:50px;

        &.readonly {
          font-size: 16px !important;
          color: rgb(136, 136, 136) !important;
        }
        
        scrollbar-width:thin;
        scrollbar-color: #b7e1fb white;
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.1);
        }
        &::-webkit-scrollbar-thumb {
            background-image: linear-gradient(0deg, #ffffff00, #76ccff,#ffffff00);
            border-radius: 20px;
        }
      }
    }

    .mat-form-field-underline {
      display:none !important;
    }

    .mat-form-field-infix {
      border-top: 6px solid transparent !important;
    }

    .mat-form-field-suffix {
      button.mat-icon-button {
        outline:none;
      }
    }

    .mat-form-field .mat-form-field-flex {    
      background: rgb(255 255 255) !important;
      font-weight: 600;
      border: 1px solid #d2e0e6;
      border-radius: 30px;
      padding-right: 10px !important;
      padding-left: 20px !important;
      padding-bottom: 4px !important;
      transition:box-shadow 200ms;
    }

    .mat-form-field.mat-focused .mat-form-field-flex {
      box-shadow: 0px 0px 0px 2px rgb(204,233,251), 0px 0px 2px 4px rgb(179,224,251);
      border:1px solid #c3e6fb;
    }

    .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
      margin-top: 0px;
      padding-right: 20px !important;
      padding-left: 20px !important;
    }
  }

}


::ng-deep .loginComponentClass {
  width: 95vw !important;
  max-width: 580px !important;

  mat-dialog-container {
    max-height: 96vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0px;
    background: linear-gradient( 0.5turn, rgb(253 253 253), #e6ebf1);
  }
}
