

    <div class="trend-book">
        <div class="picture">
            <img src="../../assets/img/02.jpg">
        </div>

        <div class="description">
            <div class="title">Naruto shippuden - Tome 63</div>
            <div class="author">Masashi Kishimoto</div>
            <div class="categories">
                <ul>
                    <li>catégorie 1</li>
                    <li>catégorie 2</li>
                    <li>catégorie 3</li>
                </ul>
            </div>
            <div class="text">
                Gon a douze ans, et son rêve est de devenir hunter.
                Les hunters sont des aventuriers d'élite qui peuvent
                être chasseurs de primes.
            </div>
        </div>
    </div>

    

    <div class="trend-book">
        <div class="picture">
            <img src="../../assets/img/02.jpg">
        </div>

        <div class="description">
            <div class="title">Naruto shippuden - Tome 63</div>
            <div class="author">Masashi Kishimoto</div>
            <div class="categories">
                <ul>
                    <li>catégorie 1</li>
                    <li>catégorie 2</li>
                    <li>catégorie 3</li>
                </ul>
            </div>
            <div class="text">
                Gon a douze ans, et son rêve est de devenir hunter.
                Les hunters sont des aventuriers d'élite qui peuvent
                être chasseurs de primes.
                Gon a douze ans, et son rêve est de devenir hunter.
                Les hunters sont des aventuriers d'élite qui peuvent
                être chasseurs de primes.
            </div>
        </div>
    </div>
