
/**** top container ********/

::ng-deep .popupReportClass {
  max-width:unset !important;
}

.popup-report {

  display: flex;
  flex-direction: column;
  min-width: 30vw;
  user-select: none;
  
  @media (max-width: 1100px) {
    min-width: 50vw;
  }
  @media (max-width: 600px) {
    min-width: 70vw;
  }

  .step-name {
    font-weight: 600;
    margin: 0px 50px 20px 0px;
    color: rgb(32,56,100);
    cursor:default;
  }

  button.motif {
    outline:none;

    width: 100%;
    display: flex;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 6px 6px;
    border-radius: 40px;
    border: 1px solid #203864;
    background-color: white;
    outline: none;

    span {
      margin:auto auto auto 15px;
      font-weight: 600;
      color: #203864;
    }
    mat-icon {
      margin:auto 5px auto auto;
      width: unset;
      height: unset;
      font-size: 25px;
      color: #203864;
    }

    &:hover {
      background: #eeeff3 !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }
    &:active {
      background: #e2e5eb !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
      transform: scale(0.98);
    }
    transition:transform 200ms;
  }

  button.step-back {
    display: flex !important;
    width: fit-content;
    font-size: 14px;
    padding: 6px 6px !important;
    border-radius: 40px;
    border: 1px solid #203864;
    background-color: white !important;
    outline: none !important;
    margin-bottom: 25px;

    mat-icon {
      width: unset;
      height: unset;
      font-size: 25px;
      margin: auto 5px auto 0px;
      color: #203864;
    }
    span {
      font-weight: 600;
      margin: auto 10px auto 0px;
      color: #203864;
    }

    &:hover {
      background: #eeeff3 !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }
    &:active {
      background: #e2e5eb !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
      transform: scale(0.98);
    }
    transition:transform 200ms;
  }


  button.submit-button {
    display: flex !important;
    width: 100%;
    font-size: 16px;
    padding: 10px 6px !important;
    border-radius: 40px;
    border: 1px solid #203864;
    background-color: white !important;
    outline: none !important;

    mat-icon {
      width: unset;
      height: unset;
      font-size: 25px;
      margin: auto 5px auto auto;
      color: #203864;
    }
    span {
      font-weight: 600;
      margin: auto auto auto 0px;
      color: #203864;
    }

    &:hover {
      background: #eeeff3 !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
    }
    &:active {
      background: #e2e5eb !important;
      box-shadow: 0px 0px 0px 1px #203864 !important;
      transform: scale(0.98);
    }
    transition:transform 200ms;

    mat-spinner {
      margin:auto auto;
      circle {
        stroke:rgb(32,56,100);
      }
    }
  }

  ::ng-deep {
    .form-item {
      position: relative;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 10px;
      &.input-multiple-lines {
          height: unset !important;
          mat-form-field {
              height: unset !important;
              &.mat-form-field-wrapper {
                  padding-bottom: 27px !important;
              }
          }
      }
      .mat-form-field {
          width: 100%;
          line-height: 1.4;
          height: 80px;
          .mat-form-field-flex {
              background: rgb(255 255 255) !important;
  
              font-weight: 600;
  
              border: 1px solid #d2e0e6;
              border-radius: 30px;
              padding-right: 10px !important;
              padding-left: 20px !important;
              padding-bottom: 3px !important;
              transition: box-shadow 200ms;
          }
          &.mat-focused .mat-form-field-flex {
              box-shadow: 0px 0px 0px 2px rgb(204, 233, 251), 0px 0px 2px 4px rgb(179, 224, 251);
              border: 1px solid #c3e6fb;
          }
          textarea {
              max-height: 180px;
              min-height: 100px;
              &::-webkit-scrollbar {
                  width: 6px;
                  height: 6px;
              }
              &::-webkit-scrollbar-track {
                  border-radius: 10px;
                  background-color: rgba(255, 255, 255, 0.1);
              }
              &::-webkit-scrollbar-thumb {
                  background-image: linear-gradient(0deg, #ffffff00, #76ccff, #ffffff00);
                  border-radius: 20px;
              }
          }
      }
      .mat-form-field-underline {
          display: none !important;
      }
      .mat-form-field-infix {
          border-top: 5px solid transparent !important;
      }
      .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
          margin-top: 0px;
          padding-right: 20px !important;
          padding-left: 20px !important;
      }
      .length-indicator {
          position: absolute;
          right: 15px;
          color: grey;
          font-size: 15px;
          top: 8px;
      }
      mat-form-field .mat-form-field-wrapper {
          padding-bottom: 25px !important;
      }
    }
    .mat-input-element {
        font-size: 14px;
        line-height: 22px !important;
        padding-right: 80px !important;
    }
  }
}

/*
.status {
  position:absolute;
  height:7px;
  box-shadow: 0px 0px 7px 1px #a7c8ea;
  bottom:0px;
  background:#84c7e6;
  width:0%;
  transition:width 200ms;
}

.step0 {
  left:0px;
}
.step1 {
  left:25%;
}
.step2 {
  left:50%;
}
.step3 {
  left:75%;
}



.popup-container {
}

.popup-step {
  width:100%;
  height:100%;
}

.popup-step .back-and-logo {
  position: relative;
  display:flex;
  height:60px;
  width:500px;
}

.popup-step .back-and-logo .back-button {
  position:absolute;
  left:0px;
  top:50%;
  transform: translateY(-50%);
}

.back-button > button {
  height: 37px;
  margin: auto auto;
  width: 80px;
  border-radius: 7px;
  border: 1px solid #a5c2e0;
  color: #505050;
  display: flex;
  font-size: 13px;
  box-shadow: 0px 0px 5px 1px #d0d6dc !important;
}

.popup-step .back-and-logo .logo {
  margin:auto auto;
}

.popup-step > .step-name {
  display:flex;
  height:40px;
  width:500px;
}

.popup-step > .step-name span {
  font-size: 23px;
  font-weight: bold;
  margin: auto auto auto 5px;
}


.popup-step .step-form {
  
  overflow-y:auto;
  width:500px;
  overflow-y:auto;
}


.popup-step .step-form .step-name {
  display:flex;
  height:35px;
  width:500px;
}

.popup-step .step-form .step-name span {
  font-size: 18px;
  font-weight: bold;
  margin: auto auto auto 5px;
}


.popup-step .step-form .form-item {
  width:100%;
  height:70px;
  margin-top:15px;
  margin-bottom:15px;
}

::ng-deep .mat-input-element {
  padding-right: 75px !important;
  line-height: 22px !important;
}

::ng-deep .mat-dialog-container {
  position:relative !important;
}

::ng-deep .form-item .mat-form-field {
  width:100%;
}

::ng-deep .form-item .mat-form-field .mat-form-field-flex {
  background: #84c7e626 !important;
  padding-left: 10px !important;
}




::ng-deep .form-item .mat-form-field textarea {
  max-height:180px;
}


.form-item .length-indicator {
  position: absolute;
  right: 22px;
  color: grey;    
  font-size: 15px;
  top: 5px;
}


.popup-step .step-validation {
  display:flex;
  height:70px;
  width:500px;
}

.submit-button {
  height: 47px;
  margin: auto auto;
  width: 170px;
  border-radius: 7px;
  border: 1px solid #88a5c3;
  color: #212121;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0px 0px 7px 1px rgb(32,56,100,0.3)!important;
}


.step-form .links-container {
  display:block;
  max-height:120px;
  overflow-y:auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.step-form .links-container .link {
  display: flex;
  text-overflow: ellipsis;
  background: #ebf6fb;
  border-radius: 3px;
  padding-left: 9px;
  font-size: 14px;
}


.step-form .links-container .link > span {
  margin: auto auto auto 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor:default;
}


.step-form .links-container .link .mat-icon-button {
  margin: auto 5px auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pseudo-found{
  position: absolute;
    bottom: -20px;
    left: -10px;
    color: #f44336;
    font-size: 12px;
}

.pseudo-found2{
  position: absolute;
  width: 100%;
  display: flex;
  text-align: center;
  bottom: -25px;
  color: #f44336;
  font-size: 12px;
}

.invisible{
  visibility:hidden;
}*/