<div class="panel-background">
    <div class="logos-container"  #target [@enterFromTopAnimation]>
        <button class="logo" [ngClass]="{'opened': opened_category == 0 }" (click)="open_category(0);scroll(target);" #target>
            <mat-icon>settings</mat-icon>
            <span>Paramètres</span>
        </button>
        <button class="logo" [ngClass]="{'opened': opened_category == 1 }" (click)="open_category(1);scroll(target);" #target>
            <mat-icon>euro_symbol</mat-icon>
            <span>Rémunération</span>
        </button>
    </div>
</div>


<div class="account-my-account">


    <!--<div class="logos-container" *ngIf="opened_category>=0 && " [ngClass]="{'invisible':!mailing_retrieved || !password_retrieved || !groups_owned_found}" #target>
        <button class="logo" [ngClass]="{'opened': opened_category == 0 }" (click)="open_category(0);scroll(target);">
            <mat-icon>settings</mat-icon>
            <span>Paramètres</span>
        </button>
        <button class="logo" *ngIf="type_of_account.includes('Artiste');" [ngClass]="{'opened': opened_category == 1 }" (click)="open_category(1);scroll(target);">
            <mat-icon>euro_symbol</mat-icon>
            <span>Rémunération</span>
        </button>
    </div>-->

    <div *ngIf="(opened_category==0 && (!mailing_retrieved  || !password_retrieved || !groups_owned_found))" >

        <div class="account-title-container">
            <!--TITRE + BOUTON EDITER/CACHER-->
            <div class="category">
                <div class="category-title shiny">
                </div>
            </div>
        </div>

        <div class="account-form-container height-loading" >


            <div class="form-item " >
                <div class="category2">
                    <div class="category-title2 shiny">
                    </div>
                </div>
            </div>


            <div class="form-item " >
                <div class="category2">
                    <div class="category-title2 shiny">
                    </div>
                </div>
            </div>

            <div class="form-item " >
                <div class="category2">
                    <div class="category-title2 shiny">
                    </div>
                </div>
            </div>
            

        </div>

        <div class="account-title-container">
            <!--TITRE + BOUTON EDITER/CACHER-->
            <div class="category">
                <div class="category-title shiny">
                </div>
            </div>
        </div>

        <div class="account-form-container height-loading" >


            <div class="form-item " >
                <div class="category2">
                    <div class="category-title2 shiny">
                    </div>
                </div>
            </div>


            <div class="form-item " >
                <div class="category2">
                    <div class="category-title2 shiny">
                    </div>
                </div>
            </div>

            <div class="form-item " >
                <div class="category2">
                    <div class="category-title2 shiny">
                    </div>
                </div>
            </div>
            

        </div>

    </div>



    <div *ngIf="opened_category==0 " [ngClass]="{'invisible':!mailing_retrieved  || !password_retrieved || !groups_owned_found}">

        <!-- Description principale -->
        <div class="account-title-container">
            <!--TITRE + BOUTON EDITER/CACHER-->
            <div class="title">
                <span>Gestion du compte</span>
            </div>
        </div>


        <div class="account-form-container" [formGroup]="registerForm1">
            


            <button class="validate-form-button" *ngIf="!registerForm1_activated && !visitor_mode" (click)="edit_password();" [@enterAnimation]>
                <mat-icon>lock</mat-icon>
                <span>Changer mon mot de passe</span>
            </button>

            <div class="form-item" *ngIf="registerForm1_activated && !visitor_mode" [@enterAnimation]>

                <mat-form-field floatLabel='never'>
                    <mat-label>Mot de passe actuel</mat-label>
                    <input matInput formControlName="old_password" [type]="hide_password ? 'password' : 'text'" maxLength="50" autocomplete="off">
                    <mat-error *ngIf="registerForm1.controls['old_password'].invalid ">Mot de passe incorrect
                    </mat-error>
                    <div class="length-indicator">
                        <mat-icon (click)="change_password_type();" style="cursor:pointer;">visibility</mat-icon>
                    </div>
                </mat-form-field>

                <mat-form-field floatLabel='never'>
                    <mat-label>Nouveau mot de passe</mat-label>
                    <input matInput formControlName="password" [type]="hide_password ? 'password' : 'text'" maxLength="50" autocomplete="off">
                    <mat-error *ngIf="registerForm1.controls['password'].invalid ">Mot de passe incorrect
                    </mat-error>
                    <div class="length-indicator">
                        <mat-icon (click)="change_password_type();" style="cursor:pointer;">visibility</mat-icon>
                    </div>
                </mat-form-field>

                <mat-form-field floatLabel='never'>
                    <mat-label>Confirmation du nouveau mot de passe</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="hide_password ? 'password' : 'text'" maxLength="50" autocomplete="off">
                    <mat-error>Confirmation incorrecte
                    </mat-error>
                    <div class="length-indicator">
                        <mat-icon (click)="change_password_type();" style="cursor:pointer;">visibility</mat-icon>
                    </div>
                </mat-form-field>

                
                <button class="validate-form-button" (click)="validate_edit_password();" [@enterAnimation]>
                    <mat-icon>done_all</mat-icon>
                    <span>Changer mon mot de passe</span>
                </button>
                <button class="validate-form-button" (click)="cancel_edit_password();" [@enterAnimation]>
                    <mat-icon>close</mat-icon>
                    <span>Annuler</span>
                </button>

                <div class="account-horizontal-divider"></div>
                
            </div>

            
            <button class="validate-form-button" *ngIf="status!='suspended'" (click)="suspend_account();" [@enterAnimation]>
                <ng-container *ngIf="!deletion_loading">
                    <mat-icon>pause_circle_outline</mat-icon>
                    <span>Suspendre mon compte</span>
                </ng-container>
                <ng-container *ngIf="deletion_loading">
                    <mat-spinner diameter="25" style="margin:auto;"></mat-spinner>
                </ng-container>
            </button>
            
            <button class="validate-form-button" *ngIf="status=='suspended'" (click)="get_back_suspended_account();" [@enterAnimation]>
                <ng-container *ngIf="!deletion_loading">
                    <mat-icon>play_circle_outline</mat-icon>
                    <span>Réactiver mon compte</span>
                </ng-container>
                <ng-container *ngIf="deletion_loading">
                    <mat-spinner diameter="25" style="margin:auto;"></mat-spinner>
                </ng-container>
            </button>

            <button class="validate-form-button" (click)="delete_account();" [@enterAnimation]>
                <ng-container *ngIf="!deletion_loading">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Supprimer mon compte</span>
                </ng-container>
                <ng-container *ngIf="deletion_loading">
                    <mat-spinner diameter="25" style="margin:auto;"></mat-spinner>
                </ng-container>
            </button>

        </div>



        <!-- Description principale -->
        <div class="account-title-container">
            <!--TITRE + BOUTON EDITER/CACHER-->
            <div class="title">
                <span>Gestion des mails</span>
            </div>
        </div>


        <div class="account-form-container" [formGroup]="registerForm">
            

            <button class="validate-form-button" *ngIf="!registerForm_activated" (click)="edit_email();" [@enterAnimation]>
                <mat-icon>alternate_email</mat-icon>
                <span>Changer mon adresse mail</span>
            </button>

            <div class="form-item" *ngIf="registerForm_activated" [@enterAnimation]>
                <mat-form-field floatLabel='never'>
                    <mat-label>Adresse mail</mat-label>
                    <input matInput formControlName="email" maxLength="100" type="search" autocomplete="off">
                    <mat-error *ngIf="registerForm.controls['email'].invalid">Veuillez faire une saisie valide
                    </mat-error>
                    <div class="length-indicator">{{registerForm.controls['email'].value?.length || 0}}/100</div>
                </mat-form-field>

                    
                <button class="validate-form-button" (click)="validate_edit_email();" [@enterAnimation]>
                    <mat-icon>done_all</mat-icon>
                    <span>Valider</span>
                </button>
                <button class="validate-form-button" (click)="cancel_edit_email();" [@enterAnimation]>
                    <mat-icon>close</mat-icon>
                    <span>Annuler</span>
                </button>
                
                <div class="account-horizontal-divider"></div>

            </div>



            <button class="validate-form-button" *ngIf="!email_agreement" (click)="change_mailing_agreement()" [@enterAnimation]>
                <mat-icon>mail_outline</mat-icon>
                <span>Autoriser l'envoi de mails</span>
            </button>
            <button class="validate-form-button" *ngIf="email_agreement" (click)="change_mailing_agreement()" [@enterAnimation]>
                <mat-icon>block</mat-icon>
                <span>Ne plus autoriser l'envoi de mails</span>
            </button>
            <div class="text-lines"  [@enterAnimation]>
                <mat-icon>info_outline</mat-icon>
                <span>L'autorisation ou le refut de recevoir des emails ne concerne que les points suivants :  </span>
                <span> &nbsp;  - réception des emails pour promouvoir un partenaire ou un produit commercial </span>
               
            </div>
        </div>

        <div *ngIf="show_group_managment && gender!='Groupe'">

            <!-- Description principale -->
            <div class="account-title-container">
                <!--TITRE + BOUTON EDITER/CACHER-->
                <div class="title">
                    <span>Gestion des groupes</span>
                </div>
            </div>
    
    
            <div class="account-form-container">
                
    
                <div class="text-lines" *ngIf="!user_is_in_a_group" [@enterAnimation]>
                    <mat-icon>info_outline</mat-icon>
                    <span>Vous ne faites partie d'aucun groupe d'artistes</span>
                   
                </div>
    
                <ng-container *ngIf="!user_is_in_a_group" [@enterAnimation]>
                    <button class="validate-form-button" 
                    (click)="create_a_group()"
                    [@enterAnimation]>
                        <mat-icon>add</mat-icon>
                        <span>Créer un groupe</span>
                    </button>
                </ng-container>
               
                <div [formGroup]="registerForm2" *ngIf="loading_add_artist" [@enterAnimation]> 

                    <div class="group-container" >
                        <div class="loading-page">
                            <mat-spinner diameter="20"></mat-spinner>
                        </div>
                    </div>

                </div>

                <div [formGroup]="registerForm2" *ngIf="user_is_in_a_group && !loading_add_artist" [@enterAnimation]> 

                    <div class="group-container" *ngFor="let group of list_of_groups_names; let i=index">
    
                        <div class="group">
                            <mat-icon class="group-icon">group</mat-icon>
    
                            <span>{{group}}</span>
                            <mat-icon *ngIf="list_of_groups_status[i]" class="group-status-icon" [@enterAnimation]
                            matTooltip="Groupe créé"
                            matTooltipClass='tooltip-account-about-profile' 
                            [matTooltipPosition]="'below'"
                            [matTooltipShowDelay]="0">done_all</mat-icon>
                            <mat-icon *ngIf="!list_of_groups_status[i]" class="group-status-icon" [@enterAnimation]
                            matTooltip="Groupe en attente de validation"
                            matTooltipClass='tooltip-account-about-profile' 
                            [matTooltipPosition]="'below'"
                            [matTooltipShowDelay]="0">access_time</mat-icon>
    
                            <button *ngIf="!manage_group_activated[i]" (click)="manage_group(i)" [@enterAnimation]>
                                <span>Gérer</span>
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                            <button *ngIf="manage_group_activated[i]"  (click)="cancel_manage_group(i)" [@enterAnimation]>
                                <span>Revenir</span>
                                <mat-icon>arrow_drop_up</mat-icon>
                            </button>
                            
                        </div>
    
                        <div class="loading-page" *ngIf="manage_group_loading[i] && !manage_group_activated[i]">
                            <mat-spinner diameter="20"></mat-spinner>
                        </div>
    
    
                        <div class="members-container" *ngIf="manage_group_activated[i]" [@enterAnimation]>
                            <div class="member" *ngFor="let member of list_of_members_ids_by_group[list_of_groups_ids[i]];let k=index">
    
                                <div class="image-container">
                                    <img [src]="list_of_members_pictures_by_group[list_of_groups_ids[i]][k]" >
                                </div>
                                <span>{{list_of_members_names_by_group[list_of_groups_ids[i]][k]}}</span>
    
                                <div class="member-status-icon">
                                    <mat-icon *ngIf="list_of_members_status_by_group[list_of_groups_ids[i]][k]=='validated'"
                                    matTooltip="Validé"
                                    matTooltipClass='tooltip-account-about-profile' 
                                    [matTooltipPosition]="'below'"
                                    [matTooltipShowDelay]="0" [@enterAnimation]>done</mat-icon>
                                    <mat-icon *ngIf="list_of_members_status_by_group[list_of_groups_ids[i]][k]!='validated'"
                                    matTooltip="En attente"
                                    matTooltipClass='tooltip-account-about-profile' 
                                    [matTooltipPosition]="'below'"
                                    [matTooltipShowDelay]="0" [@enterAnimation]>access_time</mat-icon>
                                </div>
    
                                        
                                <div class="form-item" *ngIf="!share_in_edition[list_of_groups_ids[i]][k]" [@enterAnimation]>
                                    <mat-form-field floatLabel='never'>
                                        <mat-label>{{list_of_members_shares_by_group[list_of_groups_ids[i]][k]}} %</mat-label>
                                        <input matInput readonly>
                                    </mat-form-field>
                                </div>
    
    
                                
                                <ng-container *ngIf="list_of_groups_admins_ids[i]==id_user">
                                    
                                    <ng-container *ngIf="share_in_edition[list_of_groups_ids[i]][k]">
                                        <div class="form-item">
                                            <mat-form-field>
                                                <input matInput formControlName="share" autocomplete="off" maxLength="5">
                                                <div class="length-indicator">%</div>
                                            </mat-form-field>
                                        </div>
                                        <button class="validate-shares-button validate" (click)="validate_share(list_of_groups_ids[i],k)">
                                            <mat-icon>done</mat-icon>
                                        </button>
                                        <button class="validate-shares-button close" (click)="cancel_share(list_of_groups_ids[i],k)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </ng-container>
    
                                    <button [matMenuTriggerFor]="artworkOptions3" class="groupOptions" *ngIf="!share_in_edition[list_of_groups_ids[i]][k]" [@enterAnimation]>
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    
                                    <mat-menu #artworkOptions3="matMenu" xPosition='before' class="account-title-mat-menu">
                                        <button class="account-title-menu-item" mat-menu-item (click)="edit_share_equity(list_of_groups_ids[i])"> 	
                                            <mat-icon>call_split</mat-icon>
                                            <span>Répartir équitablement les gains</span>
                                        </button>
                                        <button class="account-title-menu-item" mat-menu-item (click)="edit_share(list_of_groups_ids[i],k)"> 	
                                            <mat-icon>euro_symbol</mat-icon>
                                            <span>Editer la répartition</span>
                                        </button>
                                        <button class="account-title-menu-item" *ngIf="k>0" mat-menu-item (click)="exit_user_from_the_group(list_of_groups_ids[i],k)"> 	
                                            <mat-icon>close</mat-icon>
                                            <span>Retirer du groupe</span>
                                        </button>
                                    </mat-menu>
    
                                </ng-container>
    
                            </div>
    
    
                            <div class="buttons-container">
                                <button class="validate-form-button" 
                                *ngIf="list_of_groups_admins_ids[i]==id_user && list_of_members_status_by_group[list_of_groups_ids[i]][list_of_members_ids_by_group[list_of_groups_ids[i]].indexOf(id_user)]!='validated'"  
                                (click)="abort_group(list_of_groups_ids[i])"
                                [@enterAnimation]>
                                    <mat-icon>close</mat-icon>
                                    <span  >Annuler </span>
                                </button>

                                <button class="validate-form-button" 
                                *ngIf="list_of_groups_admins_ids[i]!=id_user && list_of_members_status_by_group[list_of_groups_ids[i]][list_of_members_ids_by_group[list_of_groups_ids[i]].indexOf(id_user)]!='validated'"  
                                (click)="exit_group(list_of_groups_ids[i])"
                                [@enterAnimation]>
                                    <mat-icon>close</mat-icon>
                                    <span   >Refuser </span>
                                </button>
                              
                                <button class="validate-form-button" 
                                *ngIf="group_in_edition[list_of_groups_ids[i]]"
                                (click)="validate_all(list_of_groups_ids[i])"
                                [@enterAnimation]>
                                    <mat-icon>done</mat-icon>
                                    <span>Valider</span>
                                </button>
                                <button class="validate-form-button" 
                                *ngIf=" list_of_groups_admins_ids[i]==id_user && list_of_members_status_by_group[list_of_groups_ids[i]][list_of_members_ids_by_group[list_of_groups_ids[i]].indexOf(id_user)]=='validated'
                                && 10>list_of_members_ids_by_group[list_of_groups_ids[i]].length" 
                                (click)="add_artist(list_of_groups_ids[i],i)"
                                [@enterAnimation]>
                                    <mat-icon>add</mat-icon>
                                    <span >Ajouter un membre</span>
                                </button>
                                <button class="validate-form-button" 
                                *ngIf="list_of_members_status_by_group[list_of_groups_ids[i]][list_of_members_ids_by_group[list_of_groups_ids[i]].indexOf(id_user)]=='validated'" 
                                (click)="exit_group(list_of_groups_ids[i])"
                                [@enterAnimation]>
                                    <mat-icon>delete</mat-icon>
                                    <span >Quitter le groupe</span>
                                </button>
                            </div>
    
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>

    
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!--!!!!!!!!!!!!!A FAIRE!!!!!!!!!!!!!!!!!-->
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class="category-container" *ngIf="show_list_of_members && gender=='Groupe'">
            <div class="sub-category-title">
                <span class="title">
                    Membres du groupe
                </span>
            </div>
            <div class="loading-page" *ngIf="!manage_group_activated[0]">
                <mat-spinner diameter="30"  ></mat-spinner>
            </div>
    
            <div class="category-container" *ngIf="manage_group_activated[0]" > 
                <div  style="display:block; margin:5px" *ngFor="let group of list_of_groups_names; let i=index">
                    <div style="display:flex">
                        <div style="margin:5px">
                            {{group}}
                        </div>
                    </div>
                    <div style="display: block; margin:5px" *ngFor="let member of list_of_members_ids_by_group[list_of_groups_ids[i]];let k=index">
                        <div style="display: flex;">
                            <div class="profile-picture" style="margin:5px">
                                <img [src]="list_of_members_pictures_by_group[list_of_groups_ids[i]][k]" >
                            </div>
                            <div style="margin:5px" *ngIf="k==0">
                               Admin :
                            </div>
                            <div style="margin:5px">
                                {{list_of_members_names_by_group[list_of_groups_ids[i]][k]}}
                            </div>
                            <div style="margin:5px" *ngIf="!share_in_edition[list_of_groups_ids[i]][k]">
                                {{list_of_members_shares_by_group[list_of_groups_ids[i]][k]}}%
                            </div>
                            
                        </div>
                    </div>
    
    
                </div>
            </div>
        </div>


    </div>
   



    <div *ngIf="opened_category== 1">



        <div class="stats-container "  >
            
            <!-- Title container -->
            <div class="account-title-container">
                <!--TITRE + BOUTON EDITER/CACHER-->
                <div class="title">
                    <span>Tendances</span>
                </div>
            </div>

            <div class="account-form-container" >
                <div class="dropdowns-container">
                    <select name="somename" class="Sumo_trendings" [ngClass]="{'invisible':!sumo_ready }">
                        <option selected label="Depuis toujours">Depuis toujours</option>
                        <option label="Depuis 1 semaine">Depuis 1 semaine</option>
                        <option label="Depuis 1 mois">Depuis 1 mois</option>
                        <option label="Depuis 1 an">Depuis 1 an</option>
                    </select>
                </div>
                <div class="no-data-container" *ngIf="!trendings_found">
                    <ng-container *ngIf="trendings_loaded">
                        <mat-icon>info_outline</mat-icon>
                        <span>
                            Vous n'avez aucune œuvre en tendances sur cette période. 
                        </span>
                    </ng-container>
                    <div *ngIf="!trendings_loaded ">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                </div>


                <div class="stats-number-container" *ngIf="trendings_found && trendings_loaded">
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains sur la période : <b>{{total_gains.toFixed(2)}} &euro; </b></span>
                    </div>
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains reliés aux bandes dessinés : <b>{{number_of_comics_gains.toFixed(2)}} &euro; </b></span>
                    </div>
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains reliés aux dessins : <b>{{number_of_drawings_gains.toFixed(2)}} &euro; </b></span>
                    </div>
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains reliés aux écrits : <b>{{number_of_writings_gains.toFixed(2)}} &euro; </b></span>
                    </div>
                </div>


                <div class="chart-container" #chartContainer *ngIf="trendings_found && trendings_loaded">
                    <ngx-charts-line-chart
                    [view]="view_size"
                    [scheme]="colorScheme"
                    [results]="multi_trendings_1"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="show_legends"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxis_trendings_1"
                    [yAxisLabel]="yAxis_trendings_1">
                    </ngx-charts-line-chart>
                </div>

                <div class="chart-container" #chartContainer *ngIf="trendings_found && trendings_loaded">
                    <ngx-charts-line-chart
                    [view]="view_size"
                    [scheme]="colorScheme"
                    [results]="multi_trendings_2"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="show_legends"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxis_trendings_2"
                    [yAxisLabel]="yAxis_trendings_2">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>



        <div class="stats-container "  [ngClass]="{'really-invisible':!user_is_in_a_group }">
            
            <!-- Title container -->
            <div class="account-title-container">
                <!--TITRE + BOUTON EDITER/CACHER-->
                <div class="title">
                    <span>Tendances partagées</span>
                </div>
            </div>

            <div class="account-form-container" >
                <div class="dropdowns-container" [ngClass]="{'invisible':!sumo_ready }">
                    <select name="somename" class="Sumo_trendings_chose_group">
                        <option *ngFor="let section of list_of_groups_names;let i=index;" [selected]="i == 0">{{section}}</option> 
                    </select>
                </div>
                <div class="dropdowns-container" [ngClass]="{'invisible':!sumo_ready }">
                    <select name="somename" class="Sumo_trendings_groups">
                        <option selected label="Depuis toujours">Depuis toujours</option>
                        <option label="Depuis 1 semaine">Depuis 1 semaine</option>
                        <option label="Depuis 1 mois">Depuis 1 mois</option>
                        <option label="Depuis 1 an">Depuis 1 an</option>
                    </select>
                </div>
                <div class="no-data-container" *ngIf="!trendings_found_groups">
                    <ng-container *ngIf="trendings_loaded_groups">
                        <mat-icon>info_outline</mat-icon>
                        <span>
                            Vous n'avez aucune œuvre en tendances sur cette période pour ce groupe. 
                        </span>
                    </ng-container>
                    <div *ngIf="!trendings_loaded_groups">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                </div>

                <div class="stats-number-container" *ngIf="trendings_found_groups && trendings_loaded_groups">
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains sur la période : <b>{{total_gains_groups.toFixed(2)}} &euro; </b></span>
                    </div>
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains reliés aux bandes dessinés : <b>{{number_of_comics_gains_groups.toFixed(2)}} &euro; </b></span>
                    </div>
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains reliés aux dessins : <b>{{number_of_drawings_gains_groups.toFixed(2)}} &euro; </b></span>
                    </div>
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains reliés aux écrits : <b>{{number_of_writings_gains_groups.toFixed(2)}} &euro; </b></span>
                    </div>
                </div>
                
                <div class="chart-container" #chartContainer *ngIf="trendings_found_groups && trendings_loaded_groups">
                    <ngx-charts-line-chart
                    [view]="view_size"
                    [scheme]="colorScheme"
                    [results]="multi_trendings_groups_1"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="show_legends"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxis_trendings_groups_1"
                    [yAxisLabel]="yAxis_trendings_groups_1">
                    </ngx-charts-line-chart>
                </div>

                <div class="chart-container" #chartContainer *ngIf="trendings_found_groups && trendings_loaded_groups">
                    <ngx-charts-line-chart
                    [view]="view_size"
                    [scheme]="colorScheme"
                    [results]="multi_trendings_groups_2"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="show_legends"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxis_trendings_groups_2"
                    [yAxisLabel]="yAxis_trendings_groups_2">
                    </ngx-charts-line-chart>
                </div>


            </div>
        </div>


        <div class="stats-container " *ngIf="concerned_by_favorites" >
            
            <!-- Title container -->
            <div class="account-title-container">
                <!--TITRE + BOUTON EDITER/CACHER-->
                <div class="title">
                    <span>Coups de cœur</span>
                </div>
            </div>

            <div class="account-form-container" >

                <div class="dropdowns-container">
                    <select name="somename" class="Sumo_favorites" [ngClass]="{'invisible':!sumo_ready }">
                        <option selected label="Depuis toujours">Depuis toujours</option>
                        <option label="Depuis 1 semaine">Depuis 1 semaine</option>
                        <option label="Depuis 1 mois">Depuis 1 mois</option>
                        <option label="Depuis 1 an">Depuis 1 an</option>
                    </select>
                </div>

                <div class="no-data-container" *ngIf="!favorites_found">
                    <ng-container *ngIf="favorites_loaded && !visitor_mode">
                        <mat-icon>info_outline</mat-icon>
                        <span>
                            Vous n'avez encore jamais atteint pas atteint le top 15 des coups de cœur. 
                        </span>
                    </ng-container>
                    <div *ngIf="!favorites_loaded">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                </div>

                <div class="stats-number-container" *ngIf="favorites_found && favorites_loaded">
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains sur la période : <b>{{total_gains_favorites.toFixed(2)}} &euro; </b></span>
                    </div>
                </div>

                <div class="chart-container" #chartContainer *ngIf="trendings_found_groups && trendings_loaded_groups">
                    <ngx-charts-line-chart
                    [view]="view_size"
                    [scheme]="colorScheme"
                    [results]="multi_favorites_1"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="show_legends"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxis_favorites_1"
                    [yAxisLabel]="yAxis_favorites_1">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>

        

        <div class="stats-container " [ngClass]="{'really-invisible':!user_is_in_a_group }">
            
            <!-- Title container -->
            <div class="account-title-container">
                <!--TITRE + BOUTON EDITER/CACHER-->
                <div class="title">
                    <span>Coups de cœur partagés</span>
                </div>
            </div>

            <div class="account-form-container">

                <div class="dropdowns-container"  [ngClass]="{'invisible':!sumo_ready }">
                    <select name="somename" class="Sumo_favorites_chose_group" >
                        <option *ngFor="let section of list_of_groups_names;let i=index;" [selected]="i == 0">{{section}}</option> 
                    </select>
                </div>
                <div class="dropdowns-container"  [ngClass]="{'invisible':!sumo_ready }">
                    <select name="somename" class="Sumo_favorites_groups">
                        <option selected label="Depuis toujours">Depuis toujours</option>
                        <option label="Depuis 1 semaine">Depuis 1 semaine</option>
                        <option label="Depuis 1 mois">Depuis 1 mois</option>
                        <option label="Depuis 1 an">Depuis 1 an</option>
                    </select>
                </div>

                <div class="no-data-container" *ngIf="!favorites_found_groups">
                    <ng-container *ngIf="favorites_loaded_groups">
                        <mat-icon>info_outline</mat-icon>
                        <span>
                            Vous n'avez encore jamais atteint pas atteint le top 15 des coups de cœur avec ce groupe. 
                        </span>
                    </ng-container>
                    <div *ngIf="!favorites_loaded_groups">
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                </div>

                <div class="stats-number-container" *ngIf="favorites_found && favorites_loaded">
                    <div>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Total des gains sur la période : <b>{{total_gains_groups_favorites.toFixed(2)}} &euro; </b></span>
                    </div>
                </div>

                <div class="chart-container"  #chartContainer *ngIf="favorites_found_groups && favorites_loaded_groups">
                    <ngx-charts-line-chart
                    [view]="view_size"
                    [scheme]="colorScheme"
                    [results]="multi_favorites_groups_1"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="show_legends"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxis_favorites_groups_1"
                    [yAxisLabel]="yAxis_favorites_groups_1">
                    </ngx-charts-line-chart>
                </div>


            </div>
        </div>


    </div>


</div>















