
<div class="component-container">


    <div class="title">
        <button class="close-button" (click)="close_dialog()">
            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
        </button>
    </div>
    

    <div class="edition-container" #editionContainer>


        <div *ngIf="!imageDestination" class="image-container">
            <div class="dropzone-container">
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="dropzone">
                    <div class="icon-container">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">save_alt</mat-icon>
                        <span><b>Sélectionnez un fichier</b> ou glissez le ici</span>
    
                        
                        <label>
                            <div class="upload-picture">
                                <div class="add-logo"></div>
                                <span>Télécharger une photo</span>
                                <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                            </div>
                        </label>
    
                    </div>
                </div>
            </div>
        </div>



        <div class="edition" *ngIf="imageDestination">
            
            <div #imageEditorContainer>
                

            </div>
        </div>


        <div class="buttons-container">

            <div class="next-button close-component" (click)="close_dialog();" *ngIf="imageDestination">
                <span>Annuler</span>
                <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
            </div>

            <div class="next-button" (click)="send_picture();" *ngIf="imageDestination">

                <ng-container *ngIf="!loading">
                    <span>Envoyer</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
                </ng-container>
                <mat-spinner *ngIf="loading" diameter="20"  style="margin:auto;"></mat-spinner>

            </div>
        </div>
    </div>



</div>