
  /*
   * Content
   */
   
   
   @media (max-width: 768px) {
     
   }

   @media (min-width: 0px) and (max-width: 1000px) {
    .category-filter, .subcategory-filter {
     width:100%;
    }
     
  }

   @media (min-width:1000px) and (max-width:1300px) {
     .category-filter, .subcategory-filter {
      width:85%;
     }
   }

   @media (min-width:1300px) {
    .category-filter, .subcategory-filter {
      width:65%;
    }
   }


 
   *{
     font-size: 1.20rem;
   }
   
   a {
     color:#333;
   }
 
   a:hover {
     text-decoration: none;
   }

   .panel ul {
     margin-top:1rem;
     margin-bottom:1rem;
     padding-left:0px;
     padding-right:0px;
   }

   ul > div {
     display:flex;
   }

   .panel ul > * {
     display:flex;
     justify-content: space-between;
     text-align: left;
     align-items:center;
     padding-left:10%;
     padding-right:5%;
   }

   li:hover {
     background-color:rgb(254, 244, 244);
   }

   .mega-menu-container-relative {
     position:relative;
     text-align:center;
     margin-bottom:150px;
     display:grid;
   }

   .mega-menu-container-absolute {
     position:absolute;
     width:100%;
     text-align:center;
     padding-bottom:50px;
     display:grid;
   }
   

  .category-filter {
    position:relative;
    display:inline-flex;
    justify-self: center;
    border-radius:10px 10px 0px 0px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    padding-top:1rem;
    padding-bottom:1rem;
  }

  .category-filter .col {
    //max-width:260px;
  }

  .category-filter .active{
    transition: background-color 300ms;
    background-color:rgb(231, 211, 167);
  }

  .category-filter .content-action {
    padding:7px;
    border-radius:15px;
    max-width:280px;
  }

  
  .subcategory-filter {
    position:relative;
    display:inline-flex;
    justify-self: center;
    background-color:rgb(254, 244, 244);
    border-radius:10px 10px 0px 0px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
  }

  .subcategory-filter .col {
    max-width:260px;
  }

  .subcategory-filter > .active{
    background-color:white;
    border-radius:5px 5px 0 0;
    box-shadow:0px -5px 10px #ffbebe;
  }

  .subcategory-filter .content-action {
    padding:7px;
    border-radius:15px;
    max-width:280px;
    margin-left:15px;
    margin-right:15px;
  }
  

  //Mega menu
  .panel {
    position:relative;
    z-index:99999;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    border:none;
    width:95%;
    margin:auto auto;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgb(218, 218, 218);
    white-space:pre;
  }
  
  .panel .row {
    margin-left:0;
    margin-right:0;
  }

  .panel > .row > section[class^="col"] {
    padding-left:0;
    padding-right:0;
  }

  .panel .row ul:first-child {
    border-right:2px solid rgb(252, 232, 232);
  }

  //Checkboxes
  .checkbox {
    position: relative;
    background-color:white;
    border: 2px solid rgb(160, 160, 160);
    margin: 2px;
    width: 20px;
    min-width:20px !important;
    height: 20px;
  }

  .checkbox--content {
    width:100%;
    height:100%;
    background-color:rgb(221, 62, 82);
  }

  