<div *ngFor="let item of sorted_style_list; index as i1" class="main-media-container" [@enterAnimation]>

    <ng-container *ngIf="(item==='Traditionnel' && sorted_artpieces_traditional.length>0)||(item==='Digital' && sorted_artpieces_digital.length>0)">
        
        <div class="category">
            <a [routerLink]=open_research(item)
            matTooltip="Voir du contenu de cette catégorie"
            matTooltipClass='linkarts-tooltip'
            [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="200">
                <span>{{item}}</span>
            </a>
        </div>
        <div  class="container-homepage d-flex flex-wrap"  [ngClass]="{'invisible':!first_masonry_loaded}">
            
            <ng-container *ngIf="item==='Traditionnel' && sorted_artpieces_traditional.length>0">
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }' >
                    <div *ngFor="let item of sorted_artpieces_traditional.slice(0,number_of_drawings_to_show_by_category[0])"  
                     class="grid-item" >
                        <app-thumbnail-drawing *ngIf="item.pagesnumber == null"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            format='one-shot'
                            [prevent_shiny]=prevent_shiny
                            [width]=width_to_send
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            [width]=width_to_send
                            format='artbook'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                    </div>
                </div>
                <div *ngIf="sorted_artpieces_traditional.length>number_of_drawings_to_show_by_category[0] && !(detect_new_compteur_drawings && category_clicked_for_see_more==0)" 
                    class="see-more" (click)="see_more_drawings(0)" [ngClass]="{'invisible':!all_drawings_loaded}">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="icon" >expand_more</mat-icon>
                </div>

                <div *ngIf="!( sorted_artpieces_traditional.length>number_of_drawings_to_show_by_category[0] && !(detect_new_compteur_drawings && category_clicked_for_see_more==0) )" [routerLink]=open_research(item)
                    class="see-more with-span" [ngClass]="{'invisible':!all_drawings_loaded}">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="icon">add_circle_outline</mat-icon>
                    <span>Voir tout</span>
                </div>

                <div *ngIf="detect_new_compteur_drawings && category_clicked_for_see_more==0" 
                    class="see-more"  [ngClass]="{'invisible':!all_drawings_loaded}">
                    <mat-spinner diameter="20" style="margin: auto;" ></mat-spinner>
                </div>
            </ng-container>

            <ng-container *ngIf="item==='Digital' && sorted_artpieces_digital.length>0">
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }' >
                    <div *ngFor="let item of sorted_artpieces_digital.slice(0,number_of_drawings_to_show_by_category[1])"  
                     class="grid-item" >
                        <app-thumbnail-drawing *ngIf="item.pagesnumber == null"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            [width]=width_to_send
                            format='one-shot'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            [width]=width_to_send
                            format='artbook'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                    </div>
                </div>
                <div *ngIf="sorted_artpieces_digital.length>number_of_drawings_to_show_by_category[1] && !(detect_new_compteur_drawings && category_clicked_for_see_more==1)" 
                    class="see-more" (click)="see_more_drawings(1)" [ngClass]="{'invisible':!all_drawings_loaded}">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="icon" >expand_more</mat-icon>
                </div>

                <div *ngIf="!( sorted_artpieces_digital.length>number_of_drawings_to_show_by_category[1] && !(detect_new_compteur_drawings && category_clicked_for_see_more==1) )" [routerLink]=open_research(item)
                    class="see-more with-span" [ngClass]="{'invisible':!all_drawings_loaded}">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="icon">add_circle_outline</mat-icon>
                    <span>Voir tout</span>
                </div>

                <div *ngIf="detect_new_compteur_drawings && category_clicked_for_see_more==1" 
                    class="see-more"  [ngClass]="{'invisible':!all_drawings_loaded}">
                    <mat-spinner diameter="20" style="margin: auto;" ></mat-spinner>
                </div>
            </ng-container>


        </div>
        
    </ng-container>
</div>


<ng-container *ngIf="check_drawings_history">
    <div *ngIf="!last_consulted_drawings_retrieved" class="main-media-container" [@enterAnimation]>
        <div class="category no-cursor">
                <span>Récemment consultés</span>
        </div>
        
        <div class="container-homepage2 newDrawings container-skeletons2 " style="transition:opacity 1s;"   [@enterAnimation] >
    
                <ng-container *ngFor="let item of skeleton_array; let i = index">
                    <app-thumbnail-skeleton class="thumbnail-component-container2"
                        *ngIf="number_of_skeletons_per_line>i"
                        (send_number_of_skeletons)="send_number_of_skeletons( $event );"
                        [type_of_skeleton]=type_of_skeleton
                        [show_other_one]="show_other_one"></app-thumbnail-skeleton>
                </ng-container>
            
             
        </div>
    </div>
    
    
    <div *ngIf="last_consulted_drawings_retrieved" class="main-media-container" [@enterAnimation]>
        <div class="category no-cursor">
                <span>Récemment consultés</span>
        </div>
        
        <div class="container-homepage2 newDrawings" style="transition:opacity 1s;" >
    
            
                <div *ngFor="let item of last_consulted_drawings; let i = index" class="drawing-container">
                    <app-thumbnail-drawing class="thumbnail-component-container2" 
                        *ngIf="item.pagesnumber == null"
                        [item]=item
                        for_news="yes"
                        [width]=width
                        format='one-shot'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-drawing>
                    <app-thumbnail-drawing  class="thumbnail-component-container2" 
                        *ngIf="item.pagesnumber >=0"
                        [item]=item 
                        for_news="yes"
                        [width]=width
                        format='artbook'
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-drawing>
                </div>
    
                <div *ngIf="can_show_more_history" class="see-more2" (click)="show_more_history()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!show_more_loading" class="icon">expand_more</mat-icon>
                    <mat-spinner class="center-spinner"  *ngIf="show_more_loading" diameter="20"></mat-spinner>
                </div>
        </div>
    </div>
    
    
</ng-container>


