
    $box-shadow-color: 0 0 30px rgba(143,170,220, 1);
   
    $picture-box-shadow: 0 5px 10px rgb(32,56,100);
 

  

  .thumbnail-component-container {
    overflow:hidden;
  }

  .main-media-container{
    width:calc(100% + 1px);
    position: relative;
  }
  
  .thumbnail-component-container2 {
    overflow:hidden;
  }
  
  a{
    color: unset;
    text-decoration: none;
    background-color: none;
    cursor:pointer;
  }

  .center-spinner{
    margin: auto;
    display: flex;
    justify-content: center;
  }

  
  //CODE COMMUN
  .category {
    margin-top:30px;
    color:#203864;
    font-weight:bold;
    height: 25px;
    text-align: center;
  }
  .category a {
    display: inline-flex;
    align-items: center;
  }

  .category span {
    font-size: 20px;
    font-weight: 600;
    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  .category mat-icon {
    height:unset !important;
    width:unset !important;
    margin-right: 7px;
  }

  .invisible{
    visibility:hidden ;
    pointer-events: none;
  }

  ::ng-deep .grid {
    margin:0 auto !important;
    //width:100% !important;
  }
  
  .grid-item {
    margin-bottom:10px;
    min-width: 100px;
  }
  
  .see-more {
    display: flex;
    width: 90%;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 4px solid rgb(230 230 230);
    text-align: center;
    margin: 10px auto 30px auto;
    cursor: pointer;
    outline: none;
    background: unset;
    transition: background-color 100ms, border-color 100ms;
    
  
    &:hover {
      border-bottom: 4px solid rgb(56, 81, 129);
      background-color: rgb(235, 235, 235);
      mat-icon, span {
        color: rgb(56, 81, 129) !important;
      }
    }
    &:active {
      background-color: rgb(228, 228, 228);
    }
    mat-icon {
      margin: auto;
      width: unset;
      height: unset;
      font-size: 36px;
      color: #b1b1b1;
    }

    &.with-span {
      mat-icon {
        margin: auto 5px auto auto;
        font-size: 27px;
      }
      span {
        margin: auto auto auto 0px;
        font-size: 14px;
        color: #b1b1b1;
        font-weight: 600;
      }
    }
  }
 

  .see-more2 {
    display: flex;
    width: 90%;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 4px solid rgb(230 230 230);
    text-align: center;
    margin: 10px auto 30px auto;
    cursor: pointer;
    outline: none;
    background: unset;
    transition: background-color 100ms, border-color 100ms;
    
  
    &:hover {
      border-bottom: 4px solid rgb(56, 81, 129);
      background-color: rgb(235, 235, 235);
      mat-icon {
        color: rgb(56, 81, 129);
      }
    }
    &:active {
      background-color: rgb(228, 228, 228);
    }
    mat-icon {
      margin: auto;
      width: unset;
      height: unset;
      font-size: 36px;
      color: #b1b1b1;
    }
  }

    
  
 
 

  //CODE POUR LA PAGE D'ACCUEIL
  .container-homepage {
    padding:0px;
    padding-top:30px;
    justify-content: center;

    
  }

  .container-homepage2 {
    padding:0px;
    flex-wrap: wrap ;
    display:flex;
    transition:opacity 500ms;
    justify-content: center;

    .right-absolute-arrow {
      position:absolute;
      margin: 10px auto 30px auto;
      align-items:center;
      right: -25px;
      top: 49%;
      transform: translateY(-50%);
      width: 40px;
      height: 276px;
      display:flex;
      cursor:pointer;
      z-index: 1;
      border-radius: 30px;
      mat-icon {
        margin: unset;
        width: 36px;
        height: 36px;
        font-size: 36px;
        color: #b1b1b1;
        transform:rotate(270deg);
      }
    }
    .left-absolute-arrow {
      position:absolute;
      margin: 10px auto 30px auto;
      align-items:center;
      left: -25px;
      top: 49%;
      transform: translateY(-50%);
      width: 40px;
      height: 276px;
      display:flex;
      cursor:pointer;
      z-index: 1;
      border-radius: 30px;
      mat-icon {
        margin: unset;
        width: 36px;
        height: 36px;
        font-size: 36px;
        color: #b1b1b1;
        transform:rotate(-270deg);
      }
    }
  }

  .newDrawings div {
    margin: 40px 0px 30px 0px;
  }

  .drawing-container {
    margin: 30px 0px 30px 0px;
  }
  
  .no-cursor{
    cursor: default;
  }

  ::ng-deep {
    .newDrawings .drawing-container {
      height: 200px !important;
    }
  }
  

  @media (max-width: 1135px) {

    .see-more {
      &.with-span {
        span {
          display:none;
        }
      }
    }


    .see-more2 {
      position: absolute;
      margin:10px auto 30px auto !important;
      align-items:center;
      right: -25px;
      top: 49%;
      transform: translateY(-50%);
      width: 40px;
      height: 276px;
      display: flex;
      cursor: pointer;
      z-index: 1;
      border-bottom: unset;

      mat-icon {
        margin: auto;
        font-size: 36px;
        color: #b1b1b1;
        margin: unset !important;
        width: 36px;
        height: 36px;
      }

      &.with-span {
        span {
          display:none;
        }
      }

      &:hover {
        border-bottom:unset;
        background-color:rgb(235, 235, 235);
      }
    }
    .see-more2 .icon {
      transform: rotate(270deg);
    }

    .container-homepage2 {
      justify-content: left !important;
      overflow-x: auto ;
      flex-wrap: unset !important;

      scrollbar-width: thin;
      scrollbar-color: #0a1c4d #f9f9f9;
      &::-webkit-scrollbar {
          height: 10px;
          background-color: #f9f9f9;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 11%);
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 11%);
        background-color: #0a1c4d;
      }
    }

    .thumbnail-component-container2{
      overflow: visible !important;
    }
    
  }

  .container-drawings {
    margin-top:50px;
    padding:0px;
  }

  @media (max-width: 1800px) {
    .container-drawings{
      width:90%;
      margin:50px auto 50px auto;
    }
  }




 .col-drawing {
  position: relative;
  width: 100%;
  flex-basis: 0;
  max-width: 100%;
  padding: 0px !important;
}

.col-drawing .empty {
  width:200px !important;
  height:1px !important;
}


