<div *ngFor="let item of sorted_style_list; index as i1">

    <ng-container *ngIf="(item==='Traditionnel' && sorted_artpieces_traditional.length>0)||(item==='Digital' && sorted_artpieces_digital.length>0)">
        
        <div class="category">
            <a [routerLink]=open_research(item)>
                <span>{{item}}</span>
            </a>
        </div>
        <div  class="container-homepage d-flex flex-wrap"  [ngClass]="{'invisible':!first_masonry_loaded}">
            
            <ng-container *ngIf="item==='Traditionnel' && sorted_artpieces_traditional.length>0">
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }' >
                    <div *ngFor="let item of sorted_artpieces_traditional.slice(0,number_of_drawings_to_show_by_category[0])"  
                     class="grid-item" >
                        <app-thumbnail-drawing *ngIf="item.pagesnumber == null"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            format='one-shot'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            format='artbook'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                    </div>
                </div>
                <div *ngIf="sorted_artpieces_traditional.length>number_of_drawings_to_show_by_category[0]" 
                    class="see-more" (click)="see_more_drawings(0)" [ngClass]="{'invisible':!all_drawings_loaded}">
                    <div class="icon">
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="item==='Digital' && sorted_artpieces_digital.length>0">
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }' >
                    <div *ngFor="let item of sorted_artpieces_digital.slice(0,number_of_drawings_to_show_by_category[1])"  
                     class="grid-item" >
                        <app-thumbnail-drawing *ngIf="item.pagesnumber == null"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            format='one-shot'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0"
                            (sendLoaded)="sendLoaded( $event );"
                            [item]=item
                            format='artbook'
                            [prevent_shiny]=prevent_shiny
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                    </div>
                </div>
                <div *ngIf="sorted_artpieces_digital.length>number_of_drawings_to_show_by_category[1]" 
                    class="see-more" (click)="see_more_drawings(1)" [ngClass]="{'invisible':!all_drawings_loaded}">
                    <div class="icon">
                    </div>
                </div>
            </ng-container>


        </div>
        
    </ng-container>
</div>







