
    $box-shadow-color: 0 0 30px rgba(143,170,220, 1);
   
    $picture-box-shadow: 0 5px 10px rgb(32,56,100);
 


  .thumbnail-component-container {
    overflow:hidden;
  }
  
  a{
    color: unset;
    text-decoration: none;
    background-color: none;
    cursor:pointer;
  }
  
  //CODE COMMUN
  .category {
    margin-top:30px;
    color:#203864;
    font-weight:bold;
    height: 25px;
    text-align: center;
  }
  .category a {
    display: inline-flex;
    align-items: center;
  }

  .category span {
    font-size: 17px;
    font-weight: bold;
  }

  .category mat-icon {
    height:unset !important;
    width:unset !important;
    margin-right: 7px;
  }

  .invisible{
    visibility:hidden ;
  }

  ::ng-deep .grid {
    margin:0 auto !important;
    //width:100% !important;
  }
  
  .grid-item {
    margin-bottom:10px;
    min-width: 100px;
  }
  
    
  .see-more {
    display: flex;
    width: 90%;
    height: 40px;
    border-bottom: 4px solid rgb(230 230 230);
    text-align: center;
    margin: 10px auto 10px auto;
    cursor: pointer;
    transition:background-color 200ms;
    }
  
    .see-more:hover {
      border-bottom:4px solid rgb(56, 81, 129);
      background-color:rgb(235, 235, 235);
    }
  
    .see-more .icon {
    width:25px;
    height:25px;
    margin:auto auto;
    mask-image: url("../../assets/img/svg/see-more.svg");
    -webkit-mask-image: url("../../assets/img/svg/see-more.svg");
    background-color: #203864;
    }
  
    .see-more:hover .icon {
    background-color:rgb(56, 81, 129);
    }
  
 


 

  //CODE POUR LA PAGE D'ACCUEIL
  .container-homepage {
    padding:0px;
    padding-top:30px;
    justify-content: center;
  }

  .container-drawings {
    margin-top:50px;
    padding:0px;
  }

  @media (max-width: 1800px) {
    .container-drawings{
      width:90%;
      margin:50px auto 50px auto;
    }
  }




 .col-drawing {
  position: relative;
  width: 100%;
  flex-basis: 0;
  max-width: 100%;
  padding: 0px !important;
}

.col-drawing .empty {
  width:200px !important;
  height:1px !important;
}


