.component-container {

    .invisible{
        visibility: hidden;
        pointer-events: none;
    }

    .title-no-data {
        height:200px;
        width:100%;
        display: flex;
        span {
            margin:auto auto;
            font-weight:bold;
            font-size:16px;
            color:rgb(32,56,100);
            cursor:default;
        }
    }

    .shiny {
        background-color: rgb(220, 220, 220);
        background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%);
        background-size: 300% 100%;
        animation: shine 2s infinite;
      }
    
      @keyframes shine {
        0% {
          background-position: right;
        }
      }

    .title {
        display:flex;
        margin-bottom: 10px;
        text-align:center;
        position:relative;

        span {
            font-weight: bold;
            font-size:16px;
            color:rgb(32, 56, 100);
            cursor:default;
        }
        span {
            font-weight: bold;
            font-size:16px;
            color:rgb(32, 56, 100);
            cursor:default;
        }
        .close-button {
            background: white;
            outline: none;
            border: none;
            display: flex;
            right: 0px;
            padding: 5px;
            position: absolute;
            border-radius: 50px;
            
            mat-icon {    
                margin: auto;
                width: unset !important;
                height: unset !important;
                font-size: 22px !important;
                color: #203864 !important;
            }
        }
    }

    .subscribers-container {
        max-height: 400px;
        overflow-y: auto;
        padding: 0px 10px 0px 10px;
    }

    .subscriber-card-skeleton {
        margin-top: 20px;
        margin-bottom: 5px;
        height:58px;
        width: 100%;
        border: 1px solid rgb(238 238 238);
        box-shadow: 0px 2px 2px 0px #e4e4e4;
        border-radius: 15px;

        background-color: #e8e8e8;;
        background-image: linear-gradient(
          to right,
          transparent 33%,
          rgba(255,255,255,0.7) 50%,
          transparent 66%
        );
        background-size:300% 100%;
        animation: shine 1.2s infinite;
    }
    @keyframes shine {
      0% {
        background-position: right;    
      }
    }

    .subscriber-card {
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 10px 15px;
        width: 100%;
        border: 1px solid rgb(238 238 238);
        box-shadow: 0px 2px 2px 0px #e4e4e4;
        background: #f7f7fa;
        border-radius: 15px;
        display: flex;

        .subscriber {

            display: flex;
            margin: auto 0px auto 0px;
            width: -webkit-fill-available;

            .user-container {
                margin:auto auto auto 0px;
                display: flex;
                a {
                    display: flex;
                    .left-container {
                        margin: auto 10px auto 0px;
                        width:36px;
                        height:36px;
                        min-width:36px;
                        min-height:36px;
                        border-radius: 50px;
                        img {
                            height: 100%;
                            width:100%;
                            border-radius: 50px;
                            object-fit: cover;
                        }

                       
                    }
    
                    color:rgb(32,56,100);
                    

                    .right-container {
                        padding-right: 10px;
                        font-size: 14px;
                        font-weight: 600;
                        display: flex;
                        flex-direction: column;
                        span {
                            color: rgb(32,56,100);
                            display: flex;
                            align-items: center;
                            //display: -webkit-box;
                            //-webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                            -webkit-line-clamp: 1;
                            word-break: break-word;
                            line-height: 18px;
                            font-size:13px;

                            .certifications-span{
                                cursor:default;
                                background: #00c7d0;
                                color: white;
                                font-weight: 800;
                                font-size: 11px;
                                border-radius: 4px;
                                margin: auto 2px auto 2px;
                                padding: 1px 3px 1px 3px;
                            }
                            
                            mat-icon {
                                cursor:default;
                                width: unset;
                                height:unset;
                                font-size: 20px;
                                margin: auto 2px auto 2px;
                                color: #00c7d0;
                            }
                        }

                       
                    }
                }
            }
    
            
            /*.certifications {
                display: flex;
                margin: auto 5px auto auto;
    
                span {
                    cursor:default;
                    background: #00c7d0;
                    color: #203864;
                    font-weight: 800;
                    font-size: 11px;
                    border-radius: 4px;
                    margin: auto 2px auto auto;
                    padding: 1px 3px 1px 3px;
                }
                mat-icon {
                    cursor:default;
                    width: unset;
                    height:unset;
                    font-size: 24px;
                    color: #00c7d0;
                }
            }*/
        }

        button {
            margin: auto 0px auto 0px;
            border-radius: 50px;
            background-color: unset;
            outline: none !important;
            border: unset;
            display: flex;
            padding: 6px 10px;
            min-width: fit-content;

            mat-icon {
                margin: auto 2px auto auto;
                width: unset;
                height: unset;
                font-size: 18px;
                font-weight: 600;
            }
            span {
                font-size: 13px;
                line-height: 14px;
                font-weight: 600;
            }

            &.unsubscribe-button {
                box-shadow: 0px 0px 0px 1.5px #203864;
                color:rgb(32,56,100);
                background:white;
                &:hover {
                    background:#eeeff3 !important;
                }
                &:active {
                    background: #e2e5eb !important;
                }
                span {
                    margin: auto;
                }
            }
            &.subscribe-button {
                color:white;
                background-image:linear-gradient(0.02turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
                &:hover {
                    background-image:linear-gradient(0.02turn, rgba(2, 18, 54, 0.95), rgba(19, 51, 100, 0.95), rgba(44, 114, 164, 0.95));
                }
                &:active {
                    transform: scale(.96);
                }
                span {
                    margin: auto auto auto 0px;
                }
            }
        }
    }


    @media (max-width: 650px) {
        
        .subscribers-container {
            max-height: calc( 100vh - 66px );
            padding: 0px 20px 0px 20px;
        }
    }
    
    @media (max-width: 600px) {
        
        .subscriber-card-skeleton {
            height:108px;
        }
        .subscriber-card {
            flex-direction: column;
            .subscriber {
                margin: 5px 0px 15px 0px;
            }
        }
    }
}