
<div class="component-container">



    <div class="title-no-data" *ngIf="list_of_subscribers.length==0">
        <span>Aucun abonné</span>
    </div>
    
    <div class="title" *ngIf="list_of_subscribers.length>0">
        <span>Abonnés</span>

        <button class="close-button" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="subscribers-container" *ngIf="list_of_subscribers.length>0 && !subscribtion_info_added">
        <ng-container *ngFor="let item of list_of_subscribers; let i=index">
            <div *ngIf="5>i" class="subscriber-card-skeleton"></div>
        </ng-container>
    </div>

    <div class="subscribers-container" *ngIf="list_of_subscribers.length>0 && subscribtion_info_added" [@enterAnimation]>
        <div *ngFor="let item of list_of_subscribers_information; let i=index" class="subscriber-card">
            
            <!--********************-->
            <!--Author container-->
            <!--********************-->
            <div class="subscriber">
                <div class="user-container">
                    <a [routerLink]=get_user_link(i)>
                        <div class="left-container">
                            <img [src]="list_of_profile_pictures[i]">
                        </div>
                    </a>
                    <a [routerLink]=get_user_link(i)>
                        <div class="right-container">
                            <span class="user-name">{{item.firstname}} {{item.lastname}}</span>
                            <span class="user-description">@{{item.nickname}}</span>
                        </div>
                    </a>
                </div>
                
                <div class="certifications">
                    <span *ngIf="item.type_of_account_checked">PRO</span>
                    <mat-icon *ngIf="item.certified_account">verified</mat-icon>
                </div>
            </div>

            <button *ngIf="!list_of_check_subscribtion[i]" class="subscribe-button" (click)="subscribtion(i)">
                <mat-icon>add</mat-icon>
                <span>S'abonner</span>
            </button>
            <button *ngIf="list_of_check_subscribtion[i]" class="unsubscribe-button" (click)="subscribtion(i)">
                <span>Abonné</span>
            </button>

        </div>
    </div>


</div>