

<div class="archives">
    
    <div class="logos-container">
        <button class="logo" [ngClass]="{'opened': opened_category == 0 }" (click)="open_category(0);scroll(target);" #target>
            <mat-icon>account_circle</mat-icon>
            <span>Archives personnelles</span>
        </button>
        <button class="logo" [ngClass]="{'opened': opened_category == 1 }" (click)="open_category(1);scroll(target);" #target>
            <mat-icon>supervisor_account</mat-icon>
            <span>Autres utilisateurs</span>
        </button>
    </div>
    
    
    <div class="albums-title-main" *ngIf="opened_category>=0" [@enterAnimation]>
        <div class="albums-title-container">
            
            <div class="albums-title" *ngIf="(opened_category == 0 && private_list_of_comics.length>0) || (opened_category == 1 && list_of_comics.length>0)">
                <button class="albums-title-button" (click)="open_album(0);scroll(target);" [ngClass]="{ 'opened' : opened_album == 0 }" [@enterAnimation]>
                        <span>Bandes dessinées</span>
                </button>
            </div>
            <div class="albums-title" *ngIf="(opened_category == 0 && private_list_of_drawings.length>0) || (opened_category == 1 && list_of_drawings.length>0)">
                <button class="albums-title-button" (click)="open_album(1);scroll(target);" [ngClass]="{ 'opened' : opened_album == 1 }" [@enterAnimation]>
                        <span>Dessins</span>
                </button>
            </div>
            <div class="albums-title" *ngIf="(opened_category == 0 && private_list_of_writings.length>0) || (opened_category == 1 && list_of_writings.length>0)">
                <button class="albums-title-button" (click)="open_album(2);scroll(target);" [ngClass]="{ 'opened' : opened_album == 2 }" [@enterAnimation]>
                        <span>Écrits</span>
                </button>
            </div>
            <div class="albums-title" *ngIf="opened_category == 0 && list_of_stories_data.length>0">
                <button class="albums-title-button" (click)="open_album(3);scroll(target);" [ngClass]="{ 'opened' : opened_album == 3 }" [@enterAnimation]>
                        <span>Stories</span>
                </button>
            </div>
            <div class="albums-title" *ngIf="opened_category == 1 && list_of_ads.length>0">
                <button class="albums-title-button" (click)="open_album(4);scroll(target);" [ngClass]="{ 'opened' : opened_album == 4 }" [@enterAnimation]>
                        <span>Annonces</span>
                </button>
            </div>

        </div>
    </div>


    <div class="text-lines large" *ngIf="opened_category == 0 && list_of_comics_added && list_of_drawings_added 
    && list_of_writings_added && list_of_stories_received
    && !(list_of_stories_data.length>0 || private_list_of_writings.length>0 
    || private_list_of_drawings.length>0 || private_list_of_comics.length>0)" [@enterAnimation]>
        <mat-icon>info_outline</mat-icon>
        <span>Aucune archive</span>
    </div>
    <div class="text-lines large" *ngIf="opened_category == 1 && list_of_ads_added && list_of_writings_added
    && list_of_drawings_added && list_of_comics_added
    && !(list_of_ads.length>0 ||  list_of_writings.length>0
        || list_of_drawings.length>0 || list_of_comics.length>0)" [@enterAnimation]>
        <mat-icon>info_outline</mat-icon>
        <span>Aucune archive</span>
    </div>



    <div class="artworks-container" *ngIf="opened_album>=0">

        <!--<div style="display: flex;justify-content: center;" *ngIf="contents_loading && 4>opened_album">
            <mat-spinner diameter="30" ></mat-spinner>
        </div>-->

        <!--!!!!!!!!!!!!!!!!-->
        <!--bandes dessinées-->
        <!--!!!!!!!!!!!!!!!!-->
        <div *ngIf="opened_album==0 && private_list_of_comics_sorted && list_of_comics_added" class="bd-container" [ngClass]="{'invisible':!display_comics }">
            <!--Mes archives-->
            <div *ngIf="opened_category==0" class="bd-thumbnails-container container-comics" #container_comics [@enterAnimation]>
                <div *ngFor="let item of private_list_of_comics.slice(0,this.number_of_comics_to_show_by_category[0])">
                    <app-thumbnail-comics 
                    *ngIf="item.chaptersnumber == null" 
                    [item]=item 
                    format='one-shot' 
                    now_in_seconds={{now_in_seconds}}
                    (send_loaded)="display_comics_thumbnails()"></app-thumbnail-comics> 
                    <app-thumbnail-comics 
                    *ngIf="item.chaptersnumber>=0"
                    [item]=item 
                    format='serie' 
                    now_in_seconds={{now_in_seconds}}
                    (send_loaded)="display_comics_thumbnails()"></app-thumbnail-comics>
                </div>
            </div>
            <!--Autres utilisateurs-->
            <div *ngIf="opened_category==1" class="bd-thumbnails-container container-comics" #container_comics [@enterAnimation]>
                <div *ngFor="let item of list_of_comics.slice(0,this.number_of_comics_to_show_by_category[1])">
                    <app-thumbnail-comics 
                    *ngIf="item.chaptersnumber == null" 
                    [item]=item 
                    format='one-shot' 
                    (send_loaded)="display_comics_thumbnails()"
                    now_in_seconds={{now_in_seconds}}></app-thumbnail-comics> 
                    <app-thumbnail-comics 
                    *ngIf="item.chaptersnumber>=0"
                    [item]=item 
                    format='serie' 
                    now_in_seconds={{now_in_seconds}}
                    (send_loaded)="display_comics_thumbnails()"></app-thumbnail-comics>
                </div>
            </div>
        </div>

        <!--!!!!!!!!!!!!!!!!-->
        <!--dessins-->
        <!--!!!!!!!!!!!!!!!!-->
        <div *ngIf="opened_album==1 && private_list_of_drawings_sorted && list_of_drawings_added" class="drawings-container" #container_drawings [ngClass]="{'invisible':!list_visibility_albums_drawings }">
            <!--Mes archives-->
            <div *ngIf="opened_category==0" class="drawing-container">

                <div  class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
                    <div *ngFor="let item of private_list_of_drawings.slice(0,this.number_of_drawings_to_show_by_category[0])" class="grid-item">
                        <app-thumbnail-drawing *ngIf="item.pagesnumber == null"
                            (sendLoaded)="display_drawings_thumbnails();"
                            [item]=item
                            format='one-shot'
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0"
                            (sendLoaded)="display_drawings_thumbnails();"
                            [item]=item
                            format='artbook'
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                </div>
            </div>
            <!--Autres utilisateurs-->
            <div *ngIf="opened_category==1" class="drawing-container">
                <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
                    <div *ngFor="let item of list_of_drawings.slice(0,this.number_of_drawings_to_show_by_category[1])" class="grid-item">
                        <app-thumbnail-drawing *ngIf="item.pagesnumber == null"
                            (sendLoaded)="display_drawings_thumbnails();"
                            [item]=item
                            format='one-shot'
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0"
                            (sendLoaded)="display_drawings_thumbnails();"
                            [item]=item
                            format='artbook'
                            now_in_seconds={{now_in_seconds}}
                        ></app-thumbnail-drawing>
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                    <div class="grid-item" style="height:1px;width:100px;">
                    </div>
                </div>

            </div>
        </div>

        <!--!!!!!!!!!!!!!!!!-->
        <!--writings-->
        <!--!!!!!!!!!!!!!!!!-->
        <div *ngIf="opened_album==2 && private_list_of_writings_sorted && list_of_writings_added" class="bd-container" [ngClass]="{'invisible':!display_writings }">
            <!--Mes archives-->
            <div *ngIf="opened_category==0" class="writing-thumbnails-container container-writings" #container_writings [@enterAnimation]>
                <div *ngFor="let item of private_list_of_writings.slice(0,this.number_of_writings_to_show_by_category[0]); let i = index">
                    <app-thumbnail-writing
                        [item]=item
                        now_in_seconds={{now_in_seconds}}
                        (sendLoaded)="display_writings_thumbnails();"
                    ></app-thumbnail-writing>
                </div>
            </div>
            <!--Autres utilisateurs-->
            <div *ngIf="opened_category==1" class="writing-thumbnails-container container-writings" #container_writings [@enterAnimation]>
                <div *ngFor="let item of list_of_writings.slice(0,this.number_of_writings_to_show_by_category[1]); let i = index">
                    <app-thumbnail-writing
                        [item]=item
                        now_in_seconds={{now_in_seconds}}
                        (sendLoaded)="display_writings_thumbnails();"
                    ></app-thumbnail-writing>
                </div>
            </div>
        </div>
        
        <!--!!!!!!!!!!!!!!!!-->
        <!--stories-->
        <!--!!!!!!!!!!!!!!!!-->
        <div *ngIf="opened_album==3 && list_of_stories_received && list_of_stories_data_received" class="bd-container" [ngClass]="{'invisible':!display_stories }"  [@enterAnimation]>
            <div class="container-stories" #container_stories>

                <div *ngFor="let item of list_of_stories_data.slice(0,this.number_of_stories_to_show_by_category[0]); let i = index" [ngStyle]="{ 'width' : story_width + 'px' }" class="thumbnail-story-container" [ngClass]="{'invisible':!list_display_stories[i] }">
                    
                    <div class="thumbnail-story">
                        <img [src]="list_of_stories[i]" (load)="display_stories_thumbnails(i)">

                        <div class="story-bottom-container">
                            <span>Le {{get_date(item.createdAt)}}</span>
                        </div>
    
                        <button class="button-mat-menu" [ngClass]="{'opacity1': openedMenu==i+'archive' }" (menuClosed)="menuClosed();" (menuOpened)="menuOpened(i,'archive');" [matMenuTriggerFor]="storyOptions">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #storyOptions="matMenu" xPosition='before' class="archive-mat-menu">
                            <button class="archive-menu-item" tabIndex="-1" mat-menu-item (click)="hide_story(i)"> 	
                                <mat-icon>delete</mat-icon>
                                <span>Supprimer</span>
                            </button>
                        </mat-menu>
                    </div>
                    
                </div>

            </div>
        </div>
        
        <!--!!!!!!!!!!!!!!!!-->
        <!--annonces-->
        <!--!!!!!!!!!!!!!!!!-->
        <div *ngIf="opened_album==4" >
            <div class="ads-container" *ngIf="list_of_ads_added" [@enterAnimation]>
                <div class="ad" *ngFor="let item of list_of_ads.slice(0,number_of_ads_to_show); let i = index">
                    <app-thumbnail-ad 
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-ad>
                </div>
            </div>
        </div>

    </div>

</div>

