


<!--<div class="categories-container">
    <div class="category-filter">
        <div #category class="content-action text-center opened" (click)="open_category(0);">
            Bandes dessinées
        </div>
        <div class="divider-vertical"></div>
        <div #category class="content-action text-center" (click)="open_category(1);">
            Dessins
        </div>
        <div class="divider-vertical"></div>
        <div #category class="content-action text-center" (click)="open_category(2);">
            Écrits
        </div>
        <div class="divider-vertical"></div>
        <div #category class="content-action text-center" (click)="open_category(3);">
            Stories
        </div>
        <div class="divider-vertical"></div>
        <div #category class="content-action text-center" (click)="open_category(4);">
            Annonces
        </div>
    </div>
</div>



<div class="albums-container">
    <div class="albums-filter">
        <!- - archives comics, écrits, dessins- ->
        <ng-container *ngIf="opened_category==0 || opened_category==1 || opened_category==2 ">
            <div  *ngFor="let element of titles_archives; let i=index" class="content-action text-center" 
            (click)="open_album(i);" [ngClass]="{ 'opened' : opened_album == i }">
                    {{element}}  
             </div>                           
        </ng-container>
        <!- - stories- ->
        <div *ngIf="opened_category==3">
            Toutes mes stories         
        </div>
        <!- - stories- ->
        <div *ngIf="opened_category==4 ">
            Toutes les annonces archivées        
        </div>
    </div>
</div>-->


            
<div class="logos-container" #target>
    <div class="logo" [ngClass]="{'opened': opened_category == 0 }" (click)="open_category(0);scroll(target);">
        <mat-icon class="image1">account_circle</mat-icon>
        <span>
            Archives personnelles
        </span>
    </div>
    <div class="logo" [ngClass]="{'opened': opened_category == 1 }" (click)="open_category(1);scroll(target);">
        <mat-icon class="image2">supervisor_account</mat-icon>
        <span>
            Autres utilisateurs
        </span>
    </div>
</div>


<div class="albums-filter" style="display:flex;justify-content: center;">
    <div>
        <button mat-raised-button  class="content-action text-center" [ngClass]="{ 'opened' : opened_album == 0 }" (click)="open_album(0);">
            <div>Bandes dessinées</div>
        </button>
    </div>
    <div>
        <button mat-raised-button  class="content-action text-center" [ngClass]="{ 'opened' : opened_album == 1 }" (click)="open_album(1);">
            <div>Dessins</div>
        </button>
    </div>
    <div>
        <button mat-raised-button  class="content-action text-center" [ngClass]="{ 'opened' : opened_album == 2 }" (click)="open_album(2);">
            <div>Écrits</div>
        </button>
    </div>
    <div *ngIf="opened_category == 0">
        <button mat-raised-button  class="content-action text-center" [ngClass]="{ 'opened' : opened_album == 3 }" (click)="open_album(3);">
            <div>Stories</div>
        </button>
    </div>
    <div *ngIf="opened_category == 1">
        <button mat-raised-button  class="content-action text-center" [ngClass]="{ 'opened' : opened_album == 4 }" (click)="open_album(4);">
            <div>Annonces</div>
        </button>
    </div>
</div>





<div class="artworks-container">

    <!--!!!!!!!!!!!!!!!!-->
    <!--bandes dessinées-->
    <!--!!!!!!!!!!!!!!!!-->
    <div *ngIf="opened_album==0">
        <!--Mes archives-->
        <div *ngIf="opened_category==0" class="bd-thumbnails-container container-comics" >
            <ng-container *ngIf="private_list_of_comics_sorted">
                <ng-container *ngFor="let item of private_list_of_comics">
                    <app-thumbnail-comics *ngIf="item.chaptersnumber == null" 
                    [item]=item format='one-shot' now_in_seconds={{now_in_seconds}}></app-thumbnail-comics> 
                    <app-thumbnail-comics *ngIf="item.chaptersnumber>=0"
                    [item]=item format='serie' now_in_seconds={{now_in_seconds}}></app-thumbnail-comics>
                </ng-container>
            </ng-container>
        </div>
        <!--Autres utilisateurs-->
        <div *ngIf="opened_category==1" class="bd-thumbnails-container container-comics" >
            <ng-container *ngIf="list_of_comics_added">
                <ng-container *ngFor="let item of list_of_comics">
                    <app-thumbnail-comics *ngIf="item.chaptersnumber == null" 
                    [item]=item format='one-shot' now_in_seconds={{now_in_seconds}}></app-thumbnail-comics> 
                    <app-thumbnail-comics *ngIf="item.chaptersnumber>=0"
                    [item]=item format='serie' now_in_seconds={{now_in_seconds}}></app-thumbnail-comics>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <!--!!!!!!!!!!!!!!!!-->
    <!--dessins-->
    <!--!!!!!!!!!!!!!!!!-->
    <div *ngIf="opened_album==1" #albumToShow class="drawings-container" [ngClass]="{'albumVisible':list_visibility_albums_drawings }">
        <!--Mes archives-->
        <div *ngIf="opened_category==0" class="drawing-container" >
            <div *ngIf="private_list_of_drawings_sorted" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
                <div *ngFor="let item of private_list_of_drawings" class="grid-item" #getwidth>
                    <app-thumbnail-drawing *ngIf="item.pagesnumber == null" 
                    [item]=item format='one-shot' now_in_seconds={{now_in_seconds}}></app-thumbnail-drawing> 
                    <app-thumbnail-drawing *ngIf="item.pagesnumber>=0"
                    [item]=item format='artbook' now_in_seconds={{now_in_seconds}}></app-thumbnail-drawing>
                </div>
            </div>
        </div>
        <!--Autres utilisateurs-->
        <div *ngIf="opened_category==1" class="drawing-container" >
            <div *ngIf="list_of_drawings_added" class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
                <div *ngFor="let item of list_of_drawings" class="grid-item" #getwidth>
                    <app-thumbnail-drawing *ngIf="item.pagesnumber == null" 
                    [item]=item format='one-shot' now_in_seconds={{now_in_seconds}}></app-thumbnail-drawing> 
                    <app-thumbnail-drawing *ngIf="item.pagesnumber>=0"
                    [item]=item format='artbook' now_in_seconds={{now_in_seconds}}></app-thumbnail-drawing>
                </div>
            </div>
        </div>
    </div>

    <!--!!!!!!!!!!!!!!!!-->
    <!--writings-->
    <!--!!!!!!!!!!!!!!!!-->
    <div *ngIf="opened_album==2">
        <!--Mes archives-->
        <div *ngIf="opened_category==0" class="writing-thumbnails-container container-writings">
            <ng-container *ngIf="private_list_of_writings_sorted">
                <ng-container *ngFor="let item of private_list_of_writings; let i = index">
                    <app-thumbnail-writing
                        [item]=item
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-writing>
                </ng-container>
            </ng-container>
        </div>
        <!--Autres utilisateurs-->
        <div *ngIf="opened_category==1" class="writing-thumbnails-container container-writings">
            <div *ngIf="list_of_writings_added">
                <div *ngFor="let item of list_of_writings; let i = index">
                    <app-thumbnail-writing
                        [item]=item
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-writing>
                </div>
            </div>
        </div>
    </div>
    
    <!--!!!!!!!!!!!!!!!!-->
    <!--stories-->
    <!--!!!!!!!!!!!!!!!!-->
    <div *ngIf="opened_album==3">
        <div *ngIf="list_of_stories_data_received" class="container-stories">

            <div *ngFor="let item of list_of_stories_data; let i = index" class="thumbnail-story">
                <img [src]="list_of_stories[i]">
                <div class="story-bottom-container">
                    <span>{{item.createdAt | date}}</span>
                </div>


                <button mat-icon-button class="optionsMenu"  [matMenuTriggerFor]="storyOptions">
                    <mat-icon class="optionsButton">more_vert</mat-icon>
                </button>
                <mat-menu  #storyOptions="matMenu">
                    
                    <button class="mat-menu-item" mat-menu-item> 	
                        <mat-icon class="item-icon">visibility_off</mat-icon>
                        <span>test1</span>
                    </button>
                    <button class="mat-menu-item" mat-menu-item> 	
                        <mat-icon class="item-icon">visibility</mat-icon>
                        <span>test2</span>
                    </button>

                </mat-menu>


            </div>
        </div>
    </div>
    
    <!--!!!!!!!!!!!!!!!!-->
    <!--annonces-->
    <!--!!!!!!!!!!!!!!!!-->
    <div *ngIf="opened_album==4">
        <div *ngIf="list_of_ads_added">
            <div *ngFor="let item of list_of_ads; let i = index" style="margin-top:40px">
                <app-thumbnail-ad 
                [item]=item
                now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-ad>
            </div>
        </div>
    </div>

</div>


