
@import '../../material-styles.css';


.artworks-container {
  height:1000px;
  width: 80%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.bd-thumbnails-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container-writings {
  display: flex;
  flex-wrap: wrap;
}

  //Category filter
  .logos-container {
    display:flex;
    justify-content: center;
    height:140px;
    margin-top:30px;
    width:100%;
  }
  
  .logos-container .logo {
    cursor:pointer;
    display:flex;
    flex-direction: column;
    border-radius: 25px;
    height:100%;
    padding-top: 20px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 200ms;
  }
  
  
  .logos-container .logo:hover span {
    font-weight: bold;
    color:rgb(32,56,100) !important;
    transition: all 200ms;
  }
  
  .logos-container .logo:hover .image1,
  .logos-container .logo:hover .image2 {
    color:rgb(32, 56, 100);
    transition:all 500ms;
  }
  
  .logos-container .logo.opened span {
    font-weight: bold;
    color:rgb(32,56,100) !important;
    transition: all 200ms;
  }
  
  
  .logos-container .logo.opened .image1,
  .logos-container .logo.opened .image2
  {
    color:rgb(32, 56, 100);
    transition: all 200ms;
  }
  
  .logos-container .logo .image1 {
    height:calc( 100% - 50px );
    width:100%;
    font-size: 70px;
    text-align: center;
  }
  
  .logos-container .logo .image2 {
    height:calc( 100% - 50px );
    width:100%;
    font-size: 70px;
    text-align: center;
  }
  
  
  .logos-container .logo span {
    display: flex;
    width:100%;
    height: 50px;
    color:rgb(60, 60, 60);
    text-align: center;
    align-items: center;
    justify-content: center;
  }


  
  .content-action {
    cursor:pointer;    
    outline:none !important;
    box-shadow: none !important;
    font-weight: bold;
    background: rgb(234, 234, 234);
    color: rgb(124, 124, 124);
    padding: 9px 45px;
    font-size: 19px;
    border-radius: 50px;
    padding: 10px 45px;
    margin: auto 10px auto 10px;
    transition:all 200ms;
 }
 
  .content-action:hover {
   color:rgb(50,50,50);
 }

 .content-action.opened {
  color:rgb(50,50,50);
  background: rgb(209, 224, 251);
  }

  
.grid {
  margin:0 auto !important;
}


.drawings-container {
  opacity:0;
}

.albumVisible {
  transition: all 1s;
  opacity:1 !important;
}

.container-stories {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail-story {
  position: relative;
  cursor:pointer;
  width: 300px;
  height: 180px;
  border-radius: 27px 4px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 4px 3px rgb(79, 107, 156);
}

.thumbnail-story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-story .story-bottom-container {
  position: absolute;
  display:flex;
  flex-direction: column;
  bottom: 0px;
  height: 35px;
  color: white;
  background: linear-gradient(0deg, rgba(32, 56, 100, 0.8),rgba(32, 56, 100, 0.9), rgba(32, 56, 100, 0.8));
  width: 100%;
}

.thumbnail-story .story-bottom-container span {
  margin:auto auto auto 15px;
  color:white;
  font-size: 15px;
}

.optionsMenu.mat-icon-button {
  position: absolute;
  outline: none !important;
  top: 0;
  top: 0px;
  right: 0px;
  color: #203864;
  transition:background-color 200ms;
}

.thumbnail-story:hover .optionsMenu.mat-icon-button  {
  background: rgb(32,56,100,0.2);
}

button.mat-menu-item {
  outline:none !important;
}