
  
    <div class="form-container">
        <div class="button-container-close">
            <button mat-button class="mat-icon-button close-button" (click)="close_dialog()" tabIndex="-1">
                <mat-icon class="item-icon" >close</mat-icon>
            </button>
        </div>
        
            

            <!--******************************************************-->
            <!--Miniature-->
            <!--******************************************************-->

            <div class="form-group" style="text-align:center;">

                <app-uploader-bd-cover
                    [author_name]=data.author_name
                    [primary_description]=data.primary_description
                    [profile_picture]=data.profile_picture
                    [name]=data.title
                    [description]=data.primary_description
                    [category]=data.style
                    [format]=data.format
                    [for_edition]=for_edition
                    [bd_id]=data.bd_id
                ></app-uploader-bd-cover>

            </div>

    </div>
   





