

  .container-homepage {
    padding:0px;
    flex-wrap: wrap ;
    display:flex;
  }
  .thumbnail-component-container {
    overflow:hidden;
  }
  
  @media (max-width: 1135px) {
    .container-homepage {
      flex-wrap: unset !important;
    }

    .thumbnail-component-container{
      overflow: visible !important;
    }
    
  }
  
 

  //CODE POUR LA PAGE D'ACCUEIL
  .container-homepage {
    padding:0px;
  }

  .container-drawings {
    margin-top:50px;
    padding:0px;
  }

  @media (max-width: 1800px) {
    .container-drawings{
      width:90%;
      margin:50px auto 50px auto;
    }
  }
