

    <div *ngIf="new_sorted_artpieces_added" class="container-homepage container-comics d-flex flex-wrap">
        <ng-container *ngFor="let item of new_sorted_artpieces; let i=index">
            <app-thumbnail-comics class="thumbnail-component-container"
            [item]=item 
            [format]=list_of_formats[i]
            now_in_seconds={{now_in_seconds}}
            (send_number_of_thumbnails)="send_number_of_thumbnails( $event );"
            (send_loaded)="send_loaded( $event );"></app-thumbnail-comics> 
        </ng-container>
    </div>
