<div class="stories-bar right-container-scrollable">
    <div *ngIf="users_retrieved">

        <ng-container *ngFor="let item of list_of_profile_pictures;let i=index">
            <div class="story" (click)="watch_story(i)">
                
                <img class="background-image" [src]="list_of_cover_pictures[i]">

                <div class="img-container">
                        <img class="img" [src]="item" [ngClass]="{'new': list_of_state[i] }">
                </div>
                <div class="author" *ngIf="i==0">Ma story
                </div>

                <div class="author" *ngIf="i>0">
                    {{list_of_author_names[i]}}
                    <span *ngIf="list_of_state[i]">&nbsp; New</span>
                    <span *ngIf="!list_of_state[i]">&nbsp; Old</span>
                </div>

            </div>
        </ng-container>
        




    </div>
</div>
