
.stories-bar {
    position:relative;
    display: inline-block;
    width:100%;
    background-color:white;
    padding-left: 10px;
    padding-right: 10px;
    //margin-top: 15px;
}

.story {
    cursor: pointer;
    margin: auto auto;
    display: flex;
    height: 95px;
    width: 250px;
    border-radius: 10px;
    background: rgba(4, 20, 49, 0.82);
    overflow: hidden;
    position: relative;
}

.img-container {
    /*margin:auto 10px auto 10px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    position: relative;*/

    margin: auto 10px auto 10px;
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;

 
}

.author {
    margin:13px 10px auto 0px;
    font-size: 17px;
    font-weight: bold;
    color:white;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.img {
    position: absolute;
    align-items: center;
    display: flex;
    height: 72px;
    width: 72px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
}

.new {
    background: linear-gradient(to right, #0014ff, #00feff);
}

.old {
    background: linear-gradient(to right, #95a2b9, #dff7f7);
    //border: 3px solid rgb(209, 224, 251) !important;
}

.background-image {
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.5;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.swiper-slide {
    display:flex;
    margin-right: 10px;
    margin-left: 10px;
    width:unset !important;
}


.swiper-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}