<div class="stories-bar">
    <div *ngIf="users_retrieved">

        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide" (click)="watch_story(i)" *ngFor="let item of list_of_profile_pictures;let i=index">
                    
                    <div class="story">
                        <img class="background-image" [src]="list_of_cover_pictures[i]">

                        <div class="img-container" [ngClass]="{'new': list_of_state[i],'old':!list_of_state[i] }">
                                <img class="img" [src]="item" >
                        </div>
                        <div class="author" *ngIf="i==0">Ma story
                        </div>
    
                        <div class="author" *ngIf="i>0">
                            {{list_of_author_names[i]}}
                        </div>
                    </div>

                </div>

            </div>
        </div>
        




    </div>
</div>
