

@import '../../thumbnail-comic-styles.css';

 


.comic-container {
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

// CODE POUR CONTENU BD

.col-book {
  position: relative;
  width: 280px;
  margin:40px auto 30px auto;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  border-radius: 4px 40px 4px 40px;
}

/*
.col-book:empty {
  height: 0;
  width:250px
}*/


.swiper-slide {
  //backface-visibility: visible;
}

.col-book .empty {
  width:280px !important;
  height:1px !important;
}

