

<div class="comic-container" #comic_container>


        <div class="col-book text-center" >
            
            <div style="cursor: pointer;" (click)="open_popup()">
            
                <div #thumbnail class="swiper-container artbook-thumbnail">
                    
                    <div class="swiper-wrapper" >

                            <!--Slide recto-->
                            <div class="swiper-slide">
                                
                                    <div class="element-book border-recto">

                                        <div class="miniature" [ngClass]="{'shiny':!imageloaded}" >
                                                <img [src]="thumbnail_picture" (load)="loaded()" [ngClass]="{'invisible':!imageloaded}">
                                        </div>


                                        <div #thumbnailRecto class="absolute-thumbnail-data"  [ngClass]="{ 'invisible':!marks_retrieved}">
                                            <!--********************-->
                                            <!--Title container-->
                                            <!--********************-->
                                            <div class="title-container">
                                                <span class="title">{{title}}</span>
                                            </div>
                                            <!--********************-->
                                            <!--Author container-->
                                            <!--********************-->
                                            <div class="author-container">
                                                <div class="left-container" style="border-radius: 50px;" [ngClass]="{'shiny':!pp_is_loaded}">
                                                    <img [src]="profile_picture" (load)="pp_loaded()"  [ngClass]="{ 'invisible':!pp_is_loaded}">
                                                </div>
                                                <div class="right-container">
                                                    <span class="author-name">
                                                        <div>
                                                            {{author_name}}
                                                        </div>
                                                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="certified_account"
                                                        matTooltip="Compte certifié" 
                                                        matTooltipClass='linkarts-tooltip' 
                                                        [matTooltipPosition]="'below'"
                                                        [matTooltipShowDelay]="200">verified</mat-icon>
                                                    </span>
                                                    <!--<span class="author-description" *ngIf="primary_description!=null">{{primary_description}}</span>-->
                                                    <span class="author-description" *ngIf="pseudo!=null">@{{pseudo}}</span>
                                                </div>
                                            </div>
                                            <!--********************-->
                                            <!--Data container-->
                                            <!--********************-->
                                            <div class="stats-container">
                                                <div class="figure-container views">
                                                    <div>
                                                        <span>{{viewnumber}}</span>
                                                        <mat-icon [ngClass]="{'invisible': !show_icon }">visibility</mat-icon>
                                                        <!--<div class="view-logo"></div>-->
                                                    </div>
                                                </div>
                                                <div class="figure-container likes">
                                                    <div>
                                                        <span>{{likesnumber}}</span>
                                                        <mat-icon [ngClass]="{'invisible': !show_icon }">thumb_up</mat-icon>
                                                    </div>
                                                </div>
                                                <div class="figure-container loves">
                                                    <div >
                                                        <span>{{lovesnumber}}</span>
                                                        <mat-icon [ngClass]="{'invisible': !show_icon }">favorite</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                            </div>


                            <!--Slide verso-->
                            <div class="swiper-slide" [ngClass]="{'invisible':!imageloaded}" >
                            
                                    <div #thumbnailVerso class="element-book border-verso">
                                    
                                        
                                        <!--********************-->
                                        <!--Title container-->
                                        <!--********************-->
                                        <div class="verso-resume">
                                            <span class="resume">{{category}}</span>
                                        </div>
                                        <div class="horizontal-line">
                                        </div>
                                        <!--********************-->
                                        <!--Description container-->
                                        <!--********************-->
                                        <div class="verso-description">
                                            <span>{{highlight}}</span>
                                        </div>
                                        <!--********************-->
                                        <!--Type container-->
                                        <!--********************-->
                                        <div class="verso-type block">
                                            <!--&bull;-->
                                            <div class="d-flex" *ngIf="format=='one-shot'">
                                                <div class="tag-container" #tags><span>One shot</span></div>
                                                <div class="tag-container" #tags>
                                                    <span>{{pagesnumber}}</span>
                                                    <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                                                </div>
                                            </div>
                                            <div class="d-flex" *ngIf="format!='one-shot'">
                                                <div class="tag-container" #tags><span>Série</span></div>
                                                <div class="tag-container" #tags>
                                                    <span>{{chaptersnumber}}</span>
                                                    <mat-icon [ngClass]="{'invisible': !show_icon }">import_contacts</mat-icon>
                                                    <span>&nbsp; {{pagesnumber}}</span>
                                                    <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                                                </div>
                                            </div >
                                            
                                            
                                            <div class="d-flex" *ngIf="thirdtag==null">
                                                <div class="tag-container type"><span  class="categories" >{{firsttag}}</span></div>
                                                <div  *ngIf="secondtag!=null" class="tag-container type"><span  class="categories" >{{secondtag}}</span></div>
                                            </div>

                                            <div class="d-flex" *ngIf="thirdtag!=null">
                                                <div #swiperCategories class="swiper-categories">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="tag-container type" style="width: fit-content; margin: auto;" ><span  class="categories" >{{firsttag}}</span></div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div  *ngIf="secondtag!=null" class="tag-container type" style="width: fit-content; margin: auto;"><span  class="categories" >{{secondtag}}</span></div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div  *ngIf="thirdtag!=null" class="tag-container type" style="width: fit-content; margin: auto;"><span  class="categories" >{{thirdtag}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="swiper-button-prev" (click)="stop($event)"></div>
                                                    <div class="swiper-button-next" (click)="stop($event)"></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!--********************-->
                                        <!--Date container-->
                                        <!--********************-->
                                        <div *ngIf="recent_chapter" class="date-container" [ngClass]="{'invisible':!recent_chapter_retrieved && format=='serie'}">
                                            <!--<span>{{date_upload_to_show}}</span>-->
                                            <span *ngIf="recent_chapter"> &nbsp; Nouveau chapitre !</span>
                                        </div>

                                    
                                    </div>
                                
                            </div>
                        
                    </div>
                    
                    
                </div>
            </div>

        </div>
    
</div>


