

<div class="comic-container">


    <div #thumbnail class="col-book text-center">
        
        
        <div class="swiper-container artbook-thumbnail">
            
            <div class="swiper-wrapper" >

                    <!--Slide recto-->
                    <div class="swiper-slide">
                        
                        <a href='/artwork-comic/{{format}}/{{title}}/{{bd_id}}'>
                            <div class="element-book border-recto">

                                <div class="miniature" [ngClass]="{ 'invisible':!imageloaded}">
                                        <img [src]="thumbnail_picture" (load)="loaded()">
                                </div>


                                <div #thumbnailRecto class="absolute-thumbnail-data">
                                    <!--********************-->
                                    <!--Title container-->
                                    <!--********************-->
                                    <div class="title-container">
                                        <span class="title">{{title}}</span>
                                    </div>
                                    <!--********************-->
                                    <!--Author container-->
                                    <!--********************-->
                                    <div class="author-container">
                                        <div class="left-container" [ngClass]="{ 'invisible':!pp_is_loaded}">
                                            <img [src]="profile_picture" (load)="pp_loaded()">
                                        </div>
                                        <div class="right-container">
                                            <span class="author-name">{{author_name}}</span>
                                            <!--<span class="author-description" *ngIf="primary_description!=null">{{primary_description}}</span>-->
                                            <span class="author-description" *ngIf="pseudo!=null">@{{pseudo}}</span>
                                        </div>
                                    </div>
                                    <!--********************-->
                                    <!--Data container-->
                                    <!--********************-->
                                    <div class="stats-container">
                                        <div class="figure-container-views">
                                            <span>{{viewnumber}}</span>
                                            <div class="view-logo">
                                            </div>
                                        </div>
                                        <div class="figure-container-likes">
                                            <span>{{likesnumber}}</span>
                                            <div class="like-logo">
                                            </div>
                                        </div>
                                        <div class="figure-container-loves">
                                            <span>{{lovesnumber}}</span>
                                            <div class="love-logo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </a>

                    </div>


                    <!--Slide verso-->
                    <div class="swiper-slide">
                    
                        <a href='/artwork-comic/{{format}}/{{title}}/{{bd_id}}'>
                            <div #thumbnailVerso class="element-book border-verso">
                            
                                
                                <!--********************-->
                                <!--Title container-->
                                <!--********************-->
                                <div class="verso-resume">
                                    <span class="resume">{{category}}</span>
                                </div>
                                <div class="horizontal-line">
                                </div>
                                <!--********************-->
                                <!--Description container-->
                                <!--********************-->
                                <div class="verso-description">
                                    <span>{{highlight}}</span>
                                </div>
                                <!--********************-->
                                <!--Categories container-->
                                <!--********************-->
                                <div class="categories-container">  
                                    &bull;
                                    <div class="tag-container"><span  class="categories" >{{firsttag}}</span></div>
                                    <div  *ngIf="secondtag!=null" class="tag-container"><span  class="categories" >{{secondtag}}</span></div>
                                    <div  *ngIf="thirdtag!=null" class="tag-container"><span  class="categories" >{{thirdtag}}</span></div>
                                </div>
                                <!--********************-->
                                <!--Type container-->
                                <!--********************-->
                                <div class="verso-type">
                                    &bull;
                                    <ng-container *ngIf="format=='one-shot'">
                                        <div class="tag-container" *ngIf="1>=pagesnumber" ><span  >  One shot</span></div>
                                        <ng-container  *ngIf="1>=pagesnumber"><span>: {{pagesnumber}} page</span></ng-container> 
                                        <div class="tag-container"  *ngIf="pagesnumber>1"><span > One shot</span></div>
                                        <ng-container  *ngIf="pagesnumber>1"><span>: {{pagesnumber}} pages</span></ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="format!='one-shot'">
                                        <div class="tag-container" *ngIf="1>=chaptersnumber"><span>Série</span></div>
                                        <ng-container  *ngIf="1>=chaptersnumber"><span>: {{chaptersnumber}} chapitre</span></ng-container> 
                                        <ng-container  *ngIf=" 1>=chaptersnumber && 1>=pagesnumber"><span>&nbsp; ({{pagesnumber}} page)</span></ng-container> 
                                        <ng-container  *ngIf="  1>=chaptersnumber && pagesnumber>1"><span>&nbsp; ({{pagesnumber}} pages)</span></ng-container> 
                                        <div class="tag-container" *ngIf="chaptersnumber>1"><span>  Série</span></div>
                                        <ng-container  *ngIf="chaptersnumber>1"><span>: {{chaptersnumber}} chapitres</span></ng-container>
                                        <ng-container  *ngIf=" chaptersnumber>1 && 1>=pagesnumber"><span> &nbsp; ({{pagesnumber}} page)</span></ng-container> 
                                        <ng-container  *ngIf=" chaptersnumber>1 && pagesnumber>1"><span> &nbsp; ({{pagesnumber}} pages)</span></ng-container> 
                                        
                                    </ng-container>
                                    
                                </div>
                                <!--********************-->
                                <!--Date container-->
                                <!--********************-->
                                <div class="date-container">
                                    <span>{{date_upload_to_show}}</span>
                                </div>

                            
                            </div>
                        </a>
                        
                    </div>
                
            </div>
            
            
        </div>

    </div>
    
</div>


