

<div class="skeleton-container" *ngIf="!show_other_one">

    <div class="col-book text-center" [ngClass]="{'new-drawing':type_of_skeleton=='new-drawing','story':type_of_skeleton=='story','drawing':type_of_skeleton=='drawing','writing':type_of_skeleton=='writing'}">
        

    </div>

</div>

<div class=" skeleton-container2" *ngIf="show_other_one">

    <div class="col-book text-center" [ngClass]="{'new-drawing':type_of_skeleton=='new-drawing','story':type_of_skeleton=='story','drawing':type_of_skeleton=='drawing','writing':type_of_skeleton=='writing'}">
        

    </div>

</div>



