

@import '../../thumbnail-comic-styles.scss';

 


.comic-container {
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

// CODE POUR CONTENU BD

.col-book {
  display:flex;
  margin:30px auto 30px auto;
  width: 200px;
  height:266.66px;
  border-radius: 4px 30px 4px 30px;


  background-color: rgb(220, 220, 220);
  background-image: linear-gradient(
    to right,
    transparent 33%,
    rgba(255,255,255,0.3) 50%,
    transparent 66%
  );
  background-size:300% 100%;
  animation: shine 2s infinite;
}


.drawing{
  border-radius:12px !important;
  //margin-left:5px !important;
  margin-right:5px !important;
}

.new-drawing{
  border-radius:12px !important;
  height:200px !important;
  margin-right:5px !important;
}

.story{
  border-radius:10px !important;
}

.writing{
  border-radius:  30px 4px 30px 4px !important;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
}