
<div class="component-container">


    <div class="title">
        <button class="close-button" (click)="close_dialog()">
            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
        </button>
    </div>
    

    <div class="edition-container" #editionContainer>


        <div class="edition">
            
            <div #imageEditorContainer>
                

            </div>
        </div>


        <div class="buttons-container">

            <div class="next-button close-component" (click)="close_dialog();">
                <span>Annuler</span>
                <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
            </div>

            <div class="next-button" (click)="send_picture();">

                <ng-container *ngIf="!loading">
                    <span>Envoyer</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
                </ng-container>
                <mat-spinner *ngIf="loading" diameter="20"  style="margin:auto;"></mat-spinner>

            </div>
        </div>
    </div>



</div>