.for-spinner{
    position: relative;
    width: 100%;
}

.component-container {

    height:100%;
    display: flex;
    flex-direction: column;

    .invisible {
        visibility: hidden;
        pointer-events: none;
    }

    .really-invisible{
        display: none !important;
    }

    .title {
        display: flex;
        padding:10px;
        text-align: center;
        position: relative;
        justify-content: center;

        .titles-container{
            max-width: 245px;
            margin-left: unset !important;
            margin-right: unset !important;
        }

        div {
            display:flex;
            margin-left: 10px;
            margin-right: 10px;
            mat-icon {
                height: unset;
                display: flex;
                align-items: center;
                width: unset;
                font-size: 20px;
                color: #abb6ca;
                margin-right: 5px;
            }
            span {
                color: #abb6ca;
                font-weight: 600;
                font-size: 18px;
                cursor: default;
                padding: 0px 65px 0px 10px;
            }
            &.opened {
                mat-icon {
                    color: #203864;
                }
                span {
                    color: #203864;
                    font-weight: bold;
                }
            }
        }
        .close-button {
            background: white;
            outline: none;
            border: none;
            display: flex;
            right: 20px;
            position: absolute;
            border-radius: 50px;

            mat-icon {
                margin: auto;
                width: unset !important;
                height: unset !important;

                font-size: 22px !important;
                color: #203864 !important;
            }
        }
    }

    .edition-container {
        width:100%;
        height:stretch;
        background:white;

        .crop-container {
            width:100%;
            display:flex;
            .img-container {
                width:100%;
                display:flex;
                flex-direction: column;
                margin:auto auto auto auto;
                .full-crop {
                    width:100%;
                    height:calc(85vh - 51px - 66px);
                    margin:auto auto;
                    position:relative;
                    overflow:hidden;
                    background: #0a111e;
                    display:flex;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto auto;
                    }
                    @media (max-width: 650px) {
                        height:calc(100vh - 51px - 66px);
                    }

                    ::ng-deep .cropper-canvas {
                        overflow:hidden !important;
                    }
                    ::ng-deep .cropper-wrap-box {
                        background:rgb(32,56,100);
                    }
                }
            }
        }
        
        .edition {
            width:100%;
            height:calc(85vh - 51px - 66px);
            position:relative;
            overflow:hidden;
            display: flex;
            flex-direction: column;

            @media (max-width: 650px) {
                height:calc(100vh - 51px - 66px);
            }

            .add-objects-options {
                height: 80px;
                display:flex;
                justify-content: center;
                background: rgb(14 31 64);

                .button {
                    height: 42px;
                    width: 64px;
                    display: flex;
                    margin: auto 4px;
                    background: #1b3158;
                    box-shadow: 0px 0px 5px 2px #071b42;
                    border-radius: 12px;
                    cursor:pointer;
                    user-select: none;
                    span {
                        color:white;
                        font-weight:bold;
                        margin:auto auto;
                    }
                    svg {
                        margin: auto auto;
                    }

                    &:active {
                        transform:scale(0.98);
                    }

                }
            }

            .image-container {
                display:flex;
                flex-direction:column;
                width:100%;
                height: calc(100% - 80px - 46px);

                background: rgb(14 31 64);


                .image-container-fits {
                    display:flex;
                    margin: auto auto;

                    .image-container2 {

                        width:100%;
                        height:100%;
                        position:relative;

                        img {
                            object-fit: contain;
                            height: 100%;
                            width: 100%;
                            margin: auto auto;
                            z-index:-1;
                            
                            user-drag: none; 
                            user-select: none;
                            -moz-user-select: none;
                            -webkit-user-drag: none;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                        }

                        > div {
                            position: absolute;
                            display: flex;
                            left: 50%;
                            bottom: 50%;
                            textarea {
                                overflow: hidden;
                                position: relative;
                                cursor: grab;
                                background: unset;
                                border: unset;
                                outline: none;
                                background: white;
                                padding: 10px 10px 12px 10px;
                                border-radius: 10px;
                                white-space: pre-line;
                                resize:none;
            
                                user-select: none;
                                transition: all 200ms;
                                &:active {
                                    cursor: grabbing;
                                }
                                //drag and drop : position
                                //menu : background, size, font-weight
                            }
            
                            .absolute-square {
                                position: absolute;
                                z-index: -1;
                                left: -10px;
                                right: -10px;
                                top: -10px;
                                bottom: -10px;
                                border: 1px solid #5e5e5e;
                                box-shadow: 0px 1px 3px 0px #484848;
                                border-radius: 6px;

                                transition:transform 200ms;
                                &:active {
                                    transform:scale(0.98);
                                }
                                mat-icon {
                                    position: absolute;
                                    cursor:pointer;
                                    color: #203864 !important;
                                    top: -19px;
                                    height: 32px;
                                    width: 32px;
                                    font-size: 22px;
                                    padding-top: 3px;
                                    padding-left: 1px;
                                    overflow: hidden;
                                    right: -35px;
                                    transform: translatex(-50%);
                                    border: 1px solid #0e1f4042;
                                    background: #ffffffd6;
                                    border-radius: 50px;
                                    text-align: center;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }

            }

            .text-options {
                height: 46px;
                display: flex;
                justify-content: center;

                background: rgb(14 31 64);
                .controller {
                    display: flex;
                    margin: auto auto;
                    width: fit-content;
                    height: fit-content;

                    box-shadow: 0px 0px 5px 2px #071b42;
                    border-radius: 12px;
                    
                    overflow: hidden;
                    padding: 2px 11px;
                    background: #1b3158;
        
                    button {
                        padding: 0px;
                        height: 26px;
                        width: 26px;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        background: unset;
                        display: flex;
                        margin: 0px 2px;
                        transition: all 200ms;

                        color:white;
                        mat-icon {
                            height: unset;
                            width: unset;
                            margin: auto auto;
                            font-size: 18px;
                            max-width: 18px;
                            overflow: hidden;
                            color: white;
                        }
        
                        &:active {
                            background: rgb(63, 91, 145);
                        }
                        &.opened {
                            background: white;
                            color:rgb(32,56,100);
                            mat-icon {
                                color: rgb(32, 56, 100);
                            }
                        }
                    }
                }
            }

        }
        
        .buttons-container {
            justify-content: center;
            display:flex;
            .next-button {
                display: flex;
                width: 175px;
                margin: 14px 10px 14px 10px;
                padding: 7px 22px 7px 32px;
                background: #0e1f40;
                border-radius: 30px;
                transition: background-color 200ms;
                cursor: pointer;
                user-select: none;
    
                span {
                    margin:auto 5px auto auto;
                    font-weight: 600;
                    color: white;
                }
                mat-icon { 
                    color: white;
                    height: unset;
                    width: unset;
                    margin:auto auto auto 5px;
                }
    
                &:active {
                    transform: scale(0.96);
                }
            }

            .prev-button {
                display: flex;
                width: 175px;
                margin: 14px 10px 14px 10px;
                justify-content: center;
                background: #0e1f40;
                border-radius: 30px;
                transition: background-color 200ms;
                cursor: pointer;
                user-select: none;
    
                span {
                    margin:auto auto auto 5px;
                    font-weight: 600;
                    color: white;
                }
                mat-icon { 
                    color:white;
                    height: unset;
                    width: unset;
                    margin: auto 5px auto auto;
                }
    
               
                &:active {
                    transform: scale(0.96);
                }
            }
        }
    }

    .shiny {
        background-color: rgb(220, 220, 220);
        background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%);
        background-size: 300% 100%;
        animation: shine 2s infinite;
    }

    @keyframes shine {
        0% {
            background-position: right;
        }
    }
}



::ng-deep {
    .popupEditPictureClass {
        max-width: unset !important;
        width: 80vw !important;
        height: 85vh !important;

        .mat-dialog-container {
            padding: 0px;
        }
    }
    @media (max-width: 650px) {
        .popupEditPictureClass {
            //width: 85% !important;
            width: 100% !important;
            height: 100% !important;
            border-radius: 0px !important;
            position: absolute !important;

            transition: bottom 200ms !important;

            transform: translateY(100%);
            animation: slideDown 400ms forwards 0s ease-in-out;
        }
    }
}

@keyframes slideDown {
    0% {
    }
    100% {
        transform: translateY(0%);
    }
}


::ng-deep {
    .editPictureColorSelect {
        border-radius: 4px !important;
        min-height: unset !important;
        min-width: unset !important;
        .mat-menu-content {
            padding-top: unset !important;
            padding-bottom: unset !important;
            max-height: 195px;
            overflow: auto;

            scrollbar-width: thin;
            scrollbar-color: white #0f1e39;
            &::-webkit-scrollbar-track {
                background-color: white;
            }
            &::-webkit-scrollbar {
                width: 2px;
                background-color: #ffffff;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #0f1e39;
            }
        }
        .editPictureColorSelect-item {
            display: flex !important;
            font-size: 12px !important;
            line-height: 38px !important;
            height: 28px !important;
            width: 28px !important;
            font-weight: bold !important;
            padding: 0px 15px 0 10px !important;
            color: rgb(32, 56, 100) !important;
            transition: all 200ms !important;
            outline: none !important;
            padding: 0px !important;
            transition: background-color 200ms;

            &.no-background {
                background-image: linear-gradient(45deg, #000 25%, transparent 25%, #ffffff00 75%, #000 75%),
                    linear-gradient(45deg, #000 25%, white 25%, white 75%, #000 75%) !important;
                background-size: 10px 10px !important;
                background-position: 0 0, 5px 5px !important;
            }
            .mat-ripple {
                background: unset !important;
                * {
                    background: unset !important;
                }
            }
            &:active {
                border: 2px solid black;
            }
        }
    }

    .editPicturefontSelect {
        border-radius: 4px !important;
        min-height: unset !important;
        min-width: unset !important;
        .mat-menu-content {
            padding-top: unset !important;
            padding-bottom: unset !important;
            max-height: 195px;
            overflow: auto;

            scrollbar-width: thin;
            scrollbar-color: white #0f1e39;
            &::-webkit-scrollbar-track {
                background-color: white;
            }
            &::-webkit-scrollbar {
                width: 2px;
                background-color: #ffffff;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #0f1e39;
            }
        }
        .editPicturefontSelect-item {
            display: flex !important;
            font-size: 12px !important;
            line-height: 38px !important;
            height: 28px !important;
            font-weight: bold !important;
            padding: 0px 8px !important;
            color: rgb(32, 56, 100) !important;
            transition: all 200ms !important;
            outline: none !important;
            transition: background-color 200ms;
            .mat-ripple {
                background: unset !important;
                * {
                    background: unset !important;
                }
            }
        }
    }
}
