.for-spinner{
    position: relative;
    width: 100%;
}

.component-container {

    height:100%;
    display: flex;
    flex-direction: column;

    .invisible {
        visibility: hidden;
        pointer-events: none;
    }

    .really-invisible{
        display: none !important;
    }


    .close-button {
        background: #ffffffeb;
        outline: none;
        border: none;
        display: flex;
        right: 20px;
        top: 15px;
        height: 42px;
        width: 42px;
        position: absolute;
        border-radius: 100px;

        mat-icon {
            margin: auto;
            width: unset !important;
            height: unset !important;
            font-size: 27px !important;
            color: #203864 !important;
        }
    }

    .edition-container {
        width:100%;
        height:100%;
        background: #1e1e1e;

        .top-controller {
            height:60px;
        }
        .canvas-container {
            height:calc(100% - 60px - 66px);
        }

        #my-image {
            display:none;
        }

        .image-container {
            display: flex;
            width: 100%;
            height: 100%;
            background:#0a111e;

            .dropzone-container {
                display: flex;
                height: 100%;
                width: 100%;
                padding: 0px 30px;
                .dropzone {
                    display: flex;
                    border: dashed 8px #d4dbe4;
                    padding: 50px;
                    margin:auto auto;
                    border-radius: 50px;
                    .icon-container {
                        margin: auto auto;
                        display: flex;
                        padding-left: 15px;
                        padding-right: 15px;
                        flex-direction: column;
                        mat-icon {
                            cursor: default;
                            width: unset;
                            height: unset;
                            font-size: 55px;
                            max-width: 55px;
                            overflow: hidden;
                            margin: auto auto 10px auto;
                            color: #d4dbe4;
                        }
                        > span {
                            cursor: default;
                        }
                        span {
                            font-size: 18px;
                            color: #d4dbe4;
                            opacity: 1;
                            transition: opacity 200ms;
                            text-align: center;
                        }
                    }
                }
                .nv-file-over {
                    border: dashed 8px #c5d2ee !important;
                    transition: border-color 200ms;
                    .upload-icon {
                        transition: background-color 100ms;
                        background: rgb(94, 133, 206) !important;
                    }
                }
            }
            label {
                display: flex;
                margin: 20px auto auto auto;
                height: fit-content;
                width: fit-content;
                span {
                    color: rgb(32, 56, 100) !important;
                }
                user-select: none;
                transition: transform 200ms;
                &:active {
                    transform: scale(0.98);
                }
            }
            .upload-picture {
                display: flex;
                cursor: pointer;
                margin: auto auto;
                font-size: 17px;
                background: white;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                border-radius: 50px;
                border: 1px solid rgb(32, 56, 100) !important;
                outline: none !important;
                padding: 15px 30px;
                &:hover {
                    background: #eeeff3 !important;
                    box-shadow: 0px 0px 0px 1px rgb(32, 56, 100) !important;
                }
                &:active {
                    background: #e2e5eb !important;
                    box-shadow: 0px 0px 0px 1px rgb(32, 56, 100) !important;
                }
                span {
                    cursor: pointer;
                    margin: auto auto auto 10px;
                }
            }
        }


        .edition {
            width:100%;
            height:calc(100% - 54px);
            position:relative;
            overflow:visible;
            display: flex;

        }


        
        .buttons-container {
            max-height:54px;
            justify-content: right;
            display:flex;
            
            .add-objects-options {
                display:flex;
                justify-content: center;
                margin: auto 20px;

                .button {
                    height: 38px;
                    width: 55px;
                    display: flex;
                    margin: auto 4px;
                    background: #f9f9f9;
                    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
                    border-radius: 30px;
                    cursor:pointer;
                    user-select: none;
                    span {
                        color: #0e1f40;
                        font-weight:bold;
                        margin:auto auto;
                    }
                    svg {
                        margin: auto auto;
                    }

                    &:active {
                        transform:scale(0.98);
                    }
                    @media (max-width: 430px) {
                        width: 42px;
                    }

                }


                @media (max-width: 800px) {
                    margin: auto 0px;
                }
            }

            .next-button {
                display: flex;
                width: 175px;
                margin: 2px 15px 10px 0px;
                box-shadow: 0px 0px 0px 2px #637ab1;
                padding: 9px 22px 9px 32px;
                background: #0b152c;
                border-radius: 12px;
                transition: background-color 200ms;
                cursor: pointer;
                user-select: none;
    
                span {
                    margin:auto 5px auto auto;
                    font-weight: 600;
                    color: white;
                }
                mat-icon { 
                    color: white;
                    height: unset;
                    width: unset;
                    margin:auto auto auto 5px;
                }

                &.close-component {
                    width: 150px;
                    background: #501616;
                    box-shadow: 0px 0px 0px 2px #b16363;
                }
                ::ng-deep {
                    .mat-progress-spinner circle, .mat-spinner circle {
                        stroke: #ffffff;
                    }
                }
    
                &:active {
                    transform: scale(0.96);
                }
                
                @media (max-width: 550px) {
                    width:78px;
                    padding: 9px 22px 9px 24px;
                    
                    &.close-component {
                        width:78px;
                    }
                    span {
                        display:none;
                    }
                }
            }

        }
    }

    .shiny {

        background-color: rgb(220, 220, 220);
        background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%);
        background-size: 300% 100%;
        animation: shine 2s infinite;
    }

    @keyframes shine {
        0% {
            background-position: right;
        }
    }
}



::ng-deep {
    .popupEditPictureClass {
        max-width: unset !important;
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0px !important;

        .mat-dialog-container {
            padding:0px;
            display: block;
            border-radius: 4px;
            box-sizing: border-box;
            overflow: auto;
            outline: 0;
            width: 100%;
            height: 100%;
            max-width: 90%;
            max-height: 90%;
            margin: auto auto;

            @media (max-width: 630px) {
                width:97%;
                height:97%;
                max-width:unset;
                max-height:unset;
            }
        }

        .tui-image-editor-header-logo {
            display:none !important;
        }
        .tui-image-editor-header-buttons {
            display:none !important;
        }
    }
}

@keyframes slideDown {
    0% {
    }
    100% {
        transform: translateY(0%);
    }
}
