
#uploader-group-profile-picture.thumbnail-container {
    overflow:hidden;
    display:flex;
    width:100%;
    height:400px;

    .image-container {
        display:flex;
        width:100%;
        height:100%;
        .dropzone-container {
            display:flex;
            height:100%;
            width:100%;
            .dropzone {
                display: flex;
                border: dashed 8px #d4dbe4;
                width: 80%;
                height: 80%;
                margin: auto auto;
                border-radius: 50px;
                .icon-container {
                    margin:auto auto;
                    display: flex;
                    padding-left: 15px;
                    padding-right: 15px;
                    flex-direction: column;
                    mat-icon {
                        cursor:default;
                        width:unset;
                        height:unset;
                        font-size: 55px;
                        margin: auto auto 10px auto;
                        color:rgb(32,56,100);
                    }
                    > span {
                        cursor:default;
                    }
                    span {
                        font-size:18px;
                        color: rgb(32,56,100);
                        opacity:1;
                        transition:opacity 200ms;
                        text-align: center;
                    }
                }
            }
            .nv-file-over {
                border: dashed 8px #c5d2ee !important;
                transition:border-color 200ms;
                .upload-icon {
                    transition:background-color 100ms;
                    background:rgb(94, 133, 206) !important;
                }                
            }
            
        }
        label {
            display:flex;
            margin:20px auto auto auto;
            height:fit-content;
            width:fit-content;
        }
        .upload-picture {
            display:flex;
            cursor:pointer;
            margin:auto auto;
            font-size: 17px;
            background: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            border-radius: 50px;
            border: 1px solid rgb(32,56,100) !important;
            outline: none !important;
            padding: 15px 30px;
            &:hover {
                background:#eeeff3 !important;
                box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
            }
            &:active {
                background: #e2e5eb !important;
                box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
            }
            span {
                cursor:pointer;
                margin: auto auto auto 10px;
            }
        }
    }
}


@media (max-width:650px) {
    .icon-container span {
        font-size:13px !important;
    }
    .upload-picture {
        padding:10px !important;
    }
}
@media (max-width:500px) {
    .img-container .options {
        flex-direction:column;
    }
}


/*********************************/
/*CROP*/
/*********************************/
.thumbnail-container .crop-container {
  width: 100%;
  height: 100%;
  display:flex;
  .img-container {
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    margin:auto auto auto auto;
    .full-crop {
        height:85%;
        width:100%;
        margin:auto auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .options {
        width: 100%;
        margin: auto auto;
        display: flex;
        background: white;
        button {    
            color:rgb(32,56,100);
            margin: 5px auto 5px auto;
            border-radius: 50px;
            width: 160px;
            height: 40px;
            background: white;
            outline: none;
            justify-content: center;
            text-align: center;
            border: 1px solid rgb(32,56,100);
            display: flex;

            mat-icon {
                width:unset;
                height:unset;
                color:rgb(32,56,100);
                margin:auto 5px auto auto;
            }
            span {
                font-size: 16px;
                font-weight: 600;
                margin:auto auto auto 0px;
            }
            &:hover {
                background:#eeeff3 !important;
                box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
            }
            &:active {
                background: #e2e5eb !important;
                box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
            }
        }

    }

  }

}

::ng-deep {
    .popupChatProfilePictureClass {
        max-width: unset !important;
        width: 700px !important;
    }
    @media (max-width: 750px) {
        .popupChatProfilePictureClass {
            width: 85% !important;
        }
    }
}

//Cropper ng deep changes
::ng-deep #uploader-group-profile-picture {
    
    .cropper-wrap-box {
        background:rgb(32,56,100);
    }
    .cropper-crop {
        cursor:crosshair;
    }

    .cropper-crop-box,.cropper-view-box {
        border-radius:50% !important;
        outline:none !important;
    }
    .cropper-face {
        background-color:unset !important;
    }
    mat-slider {
        margin:auto auto auto auto;
        width: 300px;
    }
    .mat-slider-track-fill {
        background-color: rgb(59, 83, 128) !important;
    }
    .mat-slider-thumb {
        background-color: rgb(32,56,100) !important;
    }
}
