@import "../../artwork-styles.scss";


$default-color: rgb(218, 220, 225);

@media (max-width: 999px) {
    .artwork {
        height: unset;
    }
}
@media (max-width: 600px) {

    .see-more-photos{
        right: 5px!important;
        font-size:11px!important;
    }
    .one-picture {
        height: 300px!important;
    }
    .two-pictures {
        height: 300px!important;
    }
   .three-pictures {
        height: 300px !important;
    }
}
@media (max-width: 500px) {
    .one-picture {
        height: 250px !important;
    }
    .two-pictures {
        height: 250px!important;
    }
   .three-pictures {
        height: 250px !important;
    }
}
@media (max-width: 400px) {

    .see-more-photos{
        right: 5px!important;
        font-size:10px!important;
    }
    .one-picture {
        height: 200px!important;
    }
    .two-pictures {
        height: 200px!important;
    }
   .three-pictures {
        height: 200px !important;
    }
}

span {
    color: $default-color;
}

.invisible{
    visibility:hidden;
    pointer-events: none;
}

.for-spinner{
    position: relative;
    width: 100%;
}

.responses-main-container{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
    max-height: 960px;
    scrollbar-width:thin;
    scrollbar-color: #152646 #091731;
    &::-webkit-scrollbar-track {
        /*background-color: #001640cc;*/
        background: #091731;
    }
    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        /*background-color: #0f1e39;*/
        background-color: #152646;
        border-radius: 20px;
    }
}

div.data-container {
    padding-top:50px !important;
    .options-buttons {
        top:48px !important;
    }
    @media (max-width: 1000px) {
        padding-top:36px !important;
        .options-buttons {
            top:0px !important;
        }
    }
}

.artwork-container {
    padding: 30px 30px !important;
    @media (max-width: 999px) {
        padding-top: 25px 10px !important;
    }
}
.content-container {
    height: unset !important;
    display: flex !important;
    flex-direction: column !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    max-width: 900px !important;
    padding-left: 30px;
    padding-right: 30px;
    overflow:hidden;

    margin: 0px auto 20px auto !important;
    @media (max-width: 600px) {
        margin: 0px auto 15px auto !important;
    }
    border-radius: 30px;
    background: #08142b;

    .horizontal-line {
        margin-top: 20px;
        margin-bottom: 30px;
        height: 1px;
        border-bottom: 1px solid #0f1e3a;
    }

    .project-title {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;

        > span {
            margin: auto auto auto 0px;
            padding-right: 20px;
            font-size: 16px;
            font-weight: 600;
            cursor: default;
            font-style: unset !important;
            color: #dadce1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-all;
            -webkit-line-clamp: 2;
        }
        > h1 {
            position: absolute;
            color: rgba(0, 0, 0, 0);
            top: 0;
            left: 0;
            height:0px ;
            z-index: -1;
        }
        button {
            margin: auto 10px auto auto;
            outline: none !important;
            border: unset;
            display: flex;
            padding: 8px 20px;
            font-weight: bold;
            color: #203864;
            border-radius: 25px !important;
            
            background-color: #152646;
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.36);

            min-width: -webkit-fit-content;
            min-width: -moz-fit-content;
            min-width: fit-content;
            transition: transform 200ms;
            mat-icon {
                height: unset !important;
                width: unset !important;
                margin: auto 7px auto auto;
                color: $default-color;
                font-size: 26px;
                max-width:26px;
                overflow: hidden;
            }
            span {
                font-size: 14px;
                margin: auto auto auto 0px;
                color: $default-color;
            }

            transition: transform 200ms;
            &:active {
                transform: scale(0.96);
            }
        }
    }

    .project-type {
        display: flex;
        cursor: default;
        font-weight: 600;
        display: flex;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
        mat-icon {
            margin: auto 8px auto 0px;
            font-size: 21px;
            max-width:21px;
                overflow: hidden;
            height: unset !important;
            width: unset !important;
            color: $default-color;
        }
        span {
            font-size: 13px;
        }
    }

    .project-no-response {
        display: flex;
        padding: 15px;
        height: 250px;
        flex-direction: column;
        mat-icon {
            color: $default-color;
            margin: auto auto 10px auto;
            height: unset;
            width: unset;
            font-size: 30px;
            max-width:30px;
                overflow: hidden;
        }
        span {
            color: $default-color;
            margin: 0px auto auto auto;
            font-size: 14px;
        }
    }

    .description {
        span {
            font-size: 13px;
            word-break: break-word;
            white-space: pre-line;
        }
    }

    .images {
        max-width: 100%;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 9px;
            user-select: none;
            cursor: pointer;
        }
    }
    .one-picture {
        max-height: 400px;
        margin-top: 5px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        .images{
            width: 100%;
            max-height: 100%;
            display: flex;
            img {
                /*max-height: 100%;
                max-width: 100%;
                width: 100%;
                height: 100%;*/
                border-radius: 10px;
                width: unset;
                margin: auto auto;
                object-fit: contain;
                pointer-events: none;
            }
        }
        
    }
    .two-pictures {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 30px;
        height: 400px;
        display: flex;
        justify-content: center;

        .images{
            max-width: 100%;
            display: flex;
            /* margin-right: 0px; */
            /* align-items: center; */
            justify-content: center;
            /* float: right; */
            /* margin: auto; */
            /* max-height: 100%; */
            width: 100%;
        }

        > .first {
            max-width: 50%;
            padding: 10px 10px 10px 0px;
            //width: fit-content;
            img {
                max-width: 95%;
                /* width: unset; */
                height: 100%;
            }
        }
        > .second {
            max-width: 50%;
            padding: 10px 0px 10px 10px;
            //width: fit-content;
            img {
                max-width: 95%;
                /* width: unset; */
                height: 100%;
            }
        }
    }
    .three-pictures {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 30px;
        height: 400px;
        display: flex;
        position: relative;

        > .first {
            width: 50%;
            padding: 10px 10px 10px 0px;
        }
        > .second {
            width: 50%;
            .first {
                height: 50%;
                padding: 10px 0px 10px 10px;
            }
            .second {
                height: 50%;
                padding: 10px 0px 10px 10px;
            }
        }
    }

    .see-more-photos {
        position: absolute;
        bottom: 17px;
        background: rgb(2 17 51 / 0.8);
        padding: 8px 15px;
        border-radius: 30px;
        font-weight: bold;
        right: 15px;
        cursor: pointer;
        color: $default-color;
        font-size: 13px;

        transition: transform 200ms;
        &:active {
            transform: scale(0.98);
        }
    }

    

    .project-files {
        cursor: default;
        > div {
            display: flex;
            font-size: 16px;
        }
        .section-container {
            word-break: break-word;
            display: flex;
            flex-wrap: wrap;
            padding: 10px 5px 5px 5px;
            width: 100%;
            cursor: default;
            .attachments-container {
                margin-right: 20px;
                margin-top: 12px;
                width: 70px;
                text-align: center;
                span {
                    color: rgb(255, 255, 255);
                    margin: auto auto;
                    display: -webkit-box;
                    width: 100%;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 1;
                    word-break: break-all;
                    font-size: 13px;
                }
                .attachment-item {
                    border-radius: 10px;
                    margin-bottom: 5px;
                    height: 70px;
                    background: #203864;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    transition: all 200ms;
                    mat-icon {
                        margin: auto auto;
                        color: #dadce1;
                        width: unset !important;
                        height: unset !important;
                        font-size: 35px;
                        max-width:35px;
                overflow: hidden;
                    }
                    img {
                        height: 25px;
                        width: 25px;
                        margin: auto 5px auto auto;
                        object-fit: contain;
                        margin-right: 10px;
                    }
                    div {
                        margin: auto auto auto 0px;
                    }
                }
            }
        }
        .image-container {
            width: 70px;
            height: 70px;
            margin-top: 12px;
            margin-right: 20px;
            margin-bottom: 10px;
            cursor: pointer;
            border-radius: 15px;
            border: 1px solid #72829e;
            box-shadow: 0px 0px 10px 1px #a8b2c5;
            overflow: hidden;
        }
    }

    .responses-container {
        background: #152646;
        box-shadow: 0 2px 4px 0 #040b19;
        margin-top: 20px;
        margin-bottom: 25px;
        padding: 15px 15px 4px 15px;
        width: 100%;
        border-radius: 20px;

        .subscriber-card {
            display: flex;
            margin-bottom: 5px;
            .subscriber {
                display: flex;
                flex-direction: column;
                margin: auto 0px auto 0px;
                width: stretch;

                > span {
                    font-size: 11px;
                }
                .user-container {
                    margin: auto auto 15px 0px;
                    display: flex;
                    .left-container {
                        margin: auto 10px auto 0px;
                        width: 36px;
                        height: 36px;
                        min-width: 36px;
                        min-height: 36px;
                        border-radius: 50px;
                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: 50px;
                            object-fit: cover;
                        }
                    }
                    color: $default-color;
                    .right-container {
                        padding-right: 10px;
                        font-size: 14px;
                        font-weight: 600;
                        display: flex;
                        position: relative;
                        flex-direction: column;
                        span {
                            color: $default-color;
                            display: flex;
                            align-items: center;
                            //display: -webkit-box;
                            //-webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                            -webkit-line-clamp: 1;
                            word-break: break-word;
                            line-height: 18px;
                            font-size: 13px;

                            .certifications-span {
                                cursor: default;
                                /* background: #00c7d0; */
                                background-image: linear-gradient(
                                    0.125turn,
                                    rgb(3 142 148),
                                    rgb(0 183 191),
                                    rgb(0 199 208)
                                );
                                /* background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%); */
                                color: white;
                                font-weight: 800;
                                font-size: 9px;
                                border-radius: 5px;
                                margin: auto 2px auto 4px;
                                padding: 0px 3px 0px 3px;
                            }
                            .pro-logo {
                                background: #4bc7ff;
                                color: #203864;
                                font-weight: 800;
                                font-size: 10px;
                                border-radius: 4px;
                                margin-left: 3px;
                                padding: 0px 2px;
                                line-height: 15px;
                            }
                            mat-icon {
                                cursor: default;
                                width: unset;
                                height: unset;
                                font-size: 16px;
                                max-width:16px;
                                overflow: hidden;
                                margin: auto 2px auto 2px;
                                color: #00c7d0;
                            }
                        }
                    }
                }
            }

            button {
                margin: auto 5px auto 5px;
                border-radius: 50px;
                background-color: #20345a;
                border: unset;
                box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.36);
                outline: none !important;
                display: flex;
                padding: 12px 20px;
                justify-content: center;
                min-width: fit-content;

                mat-icon {
                    margin: auto 2px auto auto;
                    width: unset;
                    height: unset;
                    font-size: 18px;
                    max-width:18px;
                overflow: hidden;
                    font-weight: 600;
                }
                span {
                    font-size: 13px;
                    line-height: 14px;
                    font-weight: 600;
                }

                transition: transform 200ms;
                &:active {
                    transform: scale(0.96);
                }
            }

            .message{
                margin: auto 5px auto 5px;
                border-radius: 50px;
                background-color: #20345a;
                border: unset;
                box-shadow: 0 2px 1px 0 rgb(0 0 0 / 36%);
                outline: none !important;
                display: -webkit-box;
                display: flex;
                padding: 6px 10px;
                -webkit-box-pack: center;
                justify-content: center;

                .message-text{
                    visibility: hidden;
                    width: 0px ;
                }

                .icon-messenger{
                    width: 16px;
                    height: 20px;
                    background-color: $default-color;
                    mask: url("../../assets/img/svg/send3.svg") no-repeat 50% 50%;
                    transition: mask-size 200ms;
                    &:active {
                    animation:transform-mask-size 200ms forwards;
                    }
                }
            }
        }
    }
    @media (max-width: 600px) {
        .project-title {
            display: block !important;
            > span {
                font-size:14px;
                display: flex !important;
                justify-content: center !important;
                text-align: center !important;
            }
            button {
                padding:8px 8px;
                margin : 10px auto 0px auto !important;
                mat-icon {
                    font-size: 20px;
                    max-width:20px;
                    overflow: hidden;
                }
                span {
                    font-size:12px;
                }
            }
        }
        .subscriber-card {
            flex-direction: column;

            button {
                margin-top: 10px !important;
            }
            .subscriber {
                margin: 5px 0px 15px 0px;
            }

            .message{
                margin-top: 10px !important;
            }

            .message-text{
                font-size: 13px;
                visibility: visible !important;
                width: unset !important;
                font-weight: 600;
                margin: auto 10px auto 10px;
            }

            .icon-messenger{
                visibility: hidden !important;
                width: unset !important;
            }
        }
    }

    

    .response-title {
        display: flex;
        margin-bottom: 40px;

        button {
            margin: auto 10px auto auto;
            outline: none !important;
            border: unset;
            display: flex;
            padding: 6px 12px;
            font-weight: 600;
            color: #203864;
            border-radius: 25px !important;
            background-color: #152646 !important;
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.36);
            mat-icon {
                height: unset !important;
                width: unset !important;
                margin: auto 7px auto auto;
                color: #dadce1;
                font-size: 20px;
                max-width:20px;
                overflow: hidden;
            }
            span {
                font-size: 14px;
                margin: auto auto auto 0px;
                color: #dadce1;
            }

            transition: transform 200ms;
            &:active {
                transform: scale(0.96);
            }
        }

    }

    .images-container {
        display:flex;
        flex-wrap: wrap;
        div {
            border-radius: 10px;
            margin-right: 20px;
            margin-top: 12px;
            height: 70px;
            background: #203864;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36);
            width: 70px;
            overflow: hidden;
            cursor: pointer;
            transition: all 200ms;
            img {
                width:100%;
                height:100%;
                object-fit: cover;
            }
        }
    }

    .mat-spinner-container {
        height:150px;
        widows: 100%;
        display:flex;
        mat-spinner {
            margin: auto auto;
        }
    }
}

.artwork-about-container {
    .artwork-title {
        border-bottom: unset !important;
        box-shadow: unset !important;
    }
}
.view-and-date-numbers {
    display: flex;
    .second-span {
        margin-left: auto;
        margin-right: 10px;
    }
    .first-span{
        margin-left: 10px;
    }

    .right-part{
        margin: auto 0px auto auto !important;
    }

}

