<div class="artwork" *ngIf="page_not_found" #artwork>
    <app-page-not-found></app-page-not-found>
</div>

<button (click)="close_popup()" class="close-popup" *ngIf="ad_id_input" #close>
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>

<div class="artwork" *ngIf="!page_not_found" #artwork>


    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!!!! ARTWORK CONTAINER !!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div #leftContainer class="artwork-container"> 
        <div class="content-container">

            <ng-container *ngIf="!item || !visitor_mode_added">

                <div class="project-title"  [@enterAnimation]>
                    <span class=" loading-long dark-shiny">
                    </span>
                </div>
                <div class="horizontal-line"></div>

                <div class="project-type" [@enterAnimation]>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">work</mat-icon>
                    <span class=" loading dark-shiny"></span>
                </div>
                <div class="project-type" [@enterAnimation]>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">location_on</mat-icon>
                    <span class=" loading2 dark-shiny"></span>
                </div>

                <div class="horizontal-line"></div>
                <div class="project-type" [@enterAnimation]>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">description</mat-icon>
                    <span class=" loading dark-shiny"></span>
                </div>
                <div class="project-type" [@enterAnimation]>
                    <span class=" loading3 dark-shiny"></span>
                </div>
                <div class="project-type" [@enterAnimation]>
                    <span class=" loading4 dark-shiny"></span>
                </div>
                

                <div class="horizontal-line"></div>
               
                <div class="project-type"  [@enterAnimation]>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">how_to_reg</mat-icon>
                    <span class=" loading dark-shiny"></span>
                </div>

                <div class="project-type" [@enterAnimation]>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">person_search</mat-icon>
                    <span class=" loading2 dark-shiny"></span>
                </div>


                

            </ng-container>

            <ng-container *ngIf="item && visitor_mode_added">

                <div class="project-title"  [@enterAnimation]>
                    <span>
                        {{item.title}}
                    </span>
                    <button *ngIf="visitor_mode_added && visitor_mode && response_checked && !response_found" (click)="respond();" [@enterAnimation]>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">post_add</mat-icon>
                        <span>Répondre à l'annonce</span>
                    </button>
                    <button *ngIf="visitor_mode_added && visitor_mode && response_checked && response_found" (click)="respond();" [@enterAnimation]>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">post_add</mat-icon>
                        <span>Réponse envoyée</span>
                    </button>
                    <button *ngIf="visitor_mode_added && !visitor_mode && see_responses==0" (click)="responses();" [@enterAnimation]>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_down</mat-icon>
                        <span >Voir les réponses</span>
                    </button>
                    <button *ngIf="visitor_mode_added && !visitor_mode && (see_responses==1 || see_responses==2)" (click)="return_to_ad(0);" [@enterAnimation]>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">text_snippet</mat-icon>
                        <span>Voir l'annonce</span>
                    </button>
                </div>
                
                <div class="horizontal-line"></div>
    
                <div *ngIf="see_responses==0" [@enterFromLeftAnimation]>
    
                    <ng-container  *ngIf="!attachments_retrieved">

                        <div *ngIf="number_of_pictures==1" class="one-picture">
                            <div class="images ">
                                <div class="dark-shiny loading-pic">

                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="number_of_pictures==2" class="two-pictures">
                            <div class="images first" >
                                <div class="dark-shiny loading-pic">

                                </div>
                            </div>
                            <div class="images second" >
                                <div class="dark-shiny loading-pic">

                                </div>
                            </div>
                        </div>
        
                        <div *ngIf="number_of_pictures >= 3" class="three-pictures">
                            <div class="images first" >
                                <div class="dark-shiny loading-pic">

                                </div>
                            </div>
                            <div class="images second">
                                <div class="first" >
                                    <div class="dark-shiny loading-pic">

                                    </div>
                                </div>
                                <div class="second ">
                                    <div class="dark-shiny loading-pic">

                                    </div>
                                </div>
                            </div>
                        </div>
        
                    </ng-container>

                    <ng-container  *ngIf="attachments_retrieved">

                        <div *ngIf="list_of_pictures.length == 1" class="one-picture"  [@enterAnimation]>
                            <div class="images" (click)="read_pictures(0)"  >
                                <img [src]="list_of_pictures[0]" (load)="load_picture(0)"  [ngClass]="{'invisible': !picture_loaded[0] }" >
                            </div>
                        </div>

                        <div *ngIf="list_of_pictures.length == 2" class="two-pictures"  [@enterAnimation]>
                            <div class="images first" (click)="read_pictures(0)">
                                <img [src]="list_of_pictures[0]" (load)="load_picture(0)"  [ngClass]="{'invisible': !picture_loaded[0] }" >
                            </div>
                            <div class="images second" (click)="read_pictures(1)" >
                                <img [src]="list_of_pictures[1]" (load)="load_picture(1)"  [ngClass]="{'invisible': !picture_loaded[1] }" >
                            </div>
                        </div>
        
                        <div *ngIf="list_of_pictures.length >= 3" class="three-pictures"  [@enterAnimation]>
                            <div class="images first" (click)="read_pictures(0)">
                                <img [src]="list_of_pictures[0]" (load)="load_picture(0)"  [ngClass]="{'invisible': !picture_loaded[0] }" >
                            </div>
                            <div class="images second">
                                <div class="first" (click)="read_pictures(1)">
                                    <img [src]="list_of_pictures[1]" (load)="load_picture(1)"  [ngClass]="{'invisible': !picture_loaded[1] }" >
                                </div>
                                <div class="second" (click)="read_pictures(2)">
                                    <img [src]="list_of_pictures[2]" (load)="load_picture(2)"  [ngClass]="{'invisible': !picture_loaded[2] }" >
                                </div>
                            </div>
                            
                            <div class="see-more-photos" *ngIf="list_of_pictures.length > 3" (click)="read_pictures(3)">
                                Voir toutes les photos ({{list_of_pictures.length}})
                            </div>
                        </div>
        
                    </ng-container>
                    
    
                    
                    <div class="project-type">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">work</mat-icon>
                        <span>{{item.type_of_project}}</span>
                    </div>
                    <div class="project-type" *ngIf="!item.remuneration && !item.service">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">people</mat-icon>
                        <span>Collab. Bénévole  </span>
                    </div>
                    <div class="project-type" *ngIf="item.remuneration">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">euro_symbol</mat-icon>
                        <span>Collab. Rémunérée 
                            <ng-container *ngIf="item.price_value>0"> : {{item.price_value}} € </ng-container> 
                            <ng-container *ngIf="item.price_type"> {{item.price_type}}</ng-container>
                        </span>
                    </div>
                    <div class="project-type" *ngIf="item.service">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">design_services</mat-icon>
                        <span> 
                            <ng-container *ngIf="item.price_type_service==''"> Produits & Sevices</ng-container>  
                            <ng-container *ngIf="item.price_type_service!=''"> • {{item.price_type_service}}</ng-container> 
                            <ng-container *ngIf="item.offer_or_demand!=''"> • {{item.offer_or_demand}} </ng-container> 
                            <ng-container *ngIf="item.price_value_service>0">: {{item.price_value_service}}€ </ng-container> 
                           
                        </span>
                    </div>
                    <div class="project-type">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">location_on</mat-icon>
                        <span>{{item.location}}</span>
                    </div>
    
    
                    <div class="horizontal-line"></div>
                    <div class="project-type">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">description</mat-icon>
                        <span>Description</span>
                    </div>
                    <div class="description">
                        <span>{{item.description}}</span>
                    </div>
                    
    
                    <div class="horizontal-line"></div>
                    
                    <div class="project-type">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">how_to_reg</mat-icon>
                        <span>Auteur : {{item.my_description}}</span>
                    </div>
    
                    <div class="project-type">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">person_search</mat-icon>
                        <span *ngIf="item.target_two == null">Cible : {{item.target_one}}</span>
                        <span *ngIf="item.target_two!== null">Cibles : {{item.target_one}}, {{item.target_two}}</span>
                    </div>
    
                    <ng-container *ngIf="list_of_attachments.length>0">
                        <div class="horizontal-line"></div>
                    
                        <div class="project-type">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">attachment</mat-icon>
                            <span>Documents joints</span>
                        </div>
    
                        <div class="project-files">
                            <div class="section-container">
                                <ng-container *ngFor="let attachment of list_of_attachments, let i=index">
                                    <div *ngIf="list_of_attachments[i]"class="attachments-container">
                                        <div (click)="read_attachment(i)" class="attachment-item">
                                            <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                                        </div>
                                        <span><i>{{list_of_attachments_name[i]}}</i></span>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
    
                
                <div *ngIf="see_responses==1 && !answers_retrieved" class="mat-spinner-container" [@enterAnimation]>
                    <mat-spinner diameter="40"></mat-spinner>
                </div>
                
                <div #ResponsesContainer class="responses-main-container" *ngIf="see_responses==1 && answers_retrieved" [@enterFromRightAnimation] (scroll)="onScrollResponses()">
                    <div class="project-type" *ngIf="list_of_pseudos.length && answers_retrieved">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">dehaze</mat-icon>
                        <span>Liste des réponses</span>
                    </div>
                    <div class="project-no-response" *ngIf="!list_of_pseudos.length && answers_retrieved">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                        <span>Aucune réponse</span>
                    </div>
                    
    
                    <ng-container *ngIf="list_of_pseudos.length>0">
                        <div class="responses-container" *ngFor="let item of list_of_pseudos.slice(0,number_of_responses_to_show); let i=index">
                            <div class="subscriber-card">
                                <!--********************-->
                                <!--Author container-->
                                <!--********************-->
                                <div class="subscriber">
                                    <a [routerLink]=get_response_author_link(i) class="user-container"   (click)="stop($event);close_popup()">
                                        <div class="left-container"  [ngClass]="{'shiny':!response_pictures_loaded[i]}" >
                                            <img [lazyLoad]="list_of_profile_pictures[i]"  [customObservable]="scroll? scroll : null" loading="lazy"   (load)="load_reponse_picture(i)" [ngClass]="{'invisible':!response_pictures_loaded[i]}">
                                        </div>
                                        
                                        
                                        <div class="right-container">
                                            <span class="author-name" *ngIf="list_of_authors_name[i]!=''">
                                                <a [routerLink]=get_response_author_link(i) (click)="stop($event);close_popup()" matTooltip="Voir le profil"
                                                    matTooltipClass='linkarts-tooltip' [matTooltipPosition]="'below'" [matTooltipShowDelay]="200">
                                                    
                                                    <div>{{list_of_authors_name[i]}}</div>
                                                </a>
                                                
                                                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="list_of_certified_account[i]"
                                                matTooltip="Compte certifié" 
                                                matTooltipClass='linkarts-tooltip' 
                                                [matTooltipPosition]="'below'"
                                                [matTooltipShowDelay]="200">verified</mat-icon>
                                        
                                            </span>
                                            <span class="author-description" *ngIf="pseudo!=''">@{{list_of_pseudos[i]}}</span>
                                        </div>
                                    </a>
                            
                                    <span>{{list_of_dates[i]}}</span>
                                </div>
                                <button (click)="stop($event);see_response(i);" [@enterAnimation]>
                                    <span>Voir la réponse</span>
                                </button>
                                <a href="/chat/{{list_of_pseudos[i]}}/{{list_of_ids[i]}}" target="_blank"  class="message" matTooltip="Écrire"
                                matTooltipClass='linkarts-tooltip' [matTooltipPosition]="'below'" [matTooltipShowDelay]="200" [@enterAnimation]>
                                    <div class="icon-messenger" >
                                    </div>
                                    <span class="message-text">
                                        Écrire
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="for-spinner" *ngIf="loading_more">
                            <mat-spinner  diameter="25"  style="margin:auto;"></mat-spinner>
                        </div>
                    </ng-container>
                    
                </div>
    
                
                <div *ngIf="see_responses==2"  [@enterFromLeftAnimation]>
    
                    <div class="response-title" >
                        <div class="project-type">
                            <span>Réponse de {{list_of_authors_name[b]}}</span>
                        </div>
                        <button (click)="return_to_ad(1)">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back</mat-icon>
                            <span>Retour</span>
                        </button>
                    </div>
                    
                    
                    <ng-container *ngIf="response_attachments_retrieved">
    
                        <div class="project-type">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">email</mat-icon>
                            <span>Message</span>
                        </div>
    
                        <div class="description">
                            <span>{{response_to_read.description}}</span>
                        </div>
                        
                        <div class="horizontal-line"></div>
                        
                        <ng-container *ngIf="response_list_of_pictures.length">
                            <div class="project-type">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">image</mat-icon>
                                <span>Images</span>
                            </div>
    
                            <div class="images-container">
                                <div *ngFor="let picture of response_list_of_pictures, let i=index" (click)="read_pictures_response(i)">
                                    <img [src]="response_list_of_pictures[i]">
                                </div>
                            </div>
                        </ng-container>
    
                            
                        <ng-container *ngIf="response_list_of_attachments.length">
                            
                            <div class="horizontal-line"></div>
                            
                            <div class="project-type">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">attachment</mat-icon>
                                <span>Documents joints</span>
                            </div>
                        
    
                            <div class="project-files">
                                <div class="section-container">
                                    <ng-container *ngFor="let attachment of response_list_of_attachments, let i=index">
                                        <div *ngIf="response_list_of_attachments[i]"class="attachments-container">
                                            <div (click)="read_attachment_response(i)" class="attachment-item">
                                                <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                                            </div>
                                            <span><i>{{response_list_of_attachments_name[i]}}</i></span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
    
                    </ng-container>
                </div>
            </ng-container>
            

           

        </div>







        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <!--!!!!!!!! RECOMMENDATIONS CONTAINER !!!!!!!!!!!-->
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
        <div class="recommendations-container" *ngIf="(!list_of_author_ads_retrieved || !list_of_other_ads_retrieved) && see_responses==0">
            <div class="categories">
                <button [ngClass]="{'opened': left_container_category_index==0 }"
                    >
                    <mat-icon [ngClass]="{'invisible': !show_icon }">account_circle</mat-icon>
                    <span>Du même auteur</span>
                </button>
                <button [ngClass]="{'opened': left_container_category_index==1 }"
                  >
                    <mat-icon [ngClass]="{'invisible': !show_icon }">burst_mode</mat-icon>
                    <span>Similaires</span>
                </button>
            </div>
            <div class="recommendation-group" >
                <div class="no-recommendation">
                    <mat-spinner diameter="25"  style="margin:auto;"></mat-spinner>
                </div>
            </div>
            
        </div>


        <div class="recommendations-container"
            *ngIf="list_of_author_ads_retrieved && list_of_other_ads_retrieved && see_responses==0">

            <div class="categories">
                <button [ngClass]="{'opened': left_container_category_index==0 }"
                    (click)="open_left_container_category(0);">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">account_circle</mat-icon>
                    <span>Du même auteur</span>
                </button>
                <button [ngClass]="{'opened': left_container_category_index==1 }"
                    (click)="open_left_container_category(1);">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">burst_mode</mat-icon>
                    <span>Similaires</span>
                </button>
            </div>


            <!--********************-->
            <!--********************-->
            <!--SAME AUTHOR ARTWORKS-->
            <!--********************-->
            <!--********************-->
            <div *ngIf="list_of_author_ads_retrieved"  [ngClass]="{'really-invisible': left_container_category_index!=0 }">
                <div class="recommendation-group" *ngIf=" display_author_ads ">
                    <div class="thumbnail-container" *ngFor="let item of list_of_author_ads; let i=index" >
                        <app-thumbnail-ad in_ad_page=true (click)="close_popup()" [ad_container]=leftContainer [for_ad_page]="for_ad_page" [item]=item now_in_seconds={{now_in_seconds}}></app-thumbnail-ad>
                    </div>
                </div>
                
                <div class="recommendation-group" *ngIf="!display_author_ads">
                    <div class="no-recommendation">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                        <span>Aucune recommendation disponible</span>
                    </div>
                </div>
            </div>

            <!--******************-->
            <!--******************-->
            <!--SAME TYPE ARTWORKS-->
            <!--******************-->
            <!--******************-->
            <div *ngIf="list_of_other_ads_retrieved" [ngClass]="{'really-invisible': left_container_category_index!=1 }">
                <div class="recommendation-group" *ngIf=" display_other_ads">
                    <div class="thumbnail-container" *ngFor="let item of list_of_other_ads; let i=index" >
                        <app-thumbnail-ad in_ad_page=true (click)="close_popup()" [ad_container]=leftContainer [item]=item now_in_seconds={{now_in_seconds}}></app-thumbnail-ad>
                    </div>
                </div>
                <div class="recommendation-group" *ngIf=" !display_other_ads">
                    <div class="no-recommendation">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                        <span>Aucune recommendation disponible </span>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    
    

    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <!--!!!!!!!!! INFORMATIONS CONTAINER !!!!!!!!!!!!!-->
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
    <div #myScrollContainer class="artwork-about-container" (scroll)="onScrollComments()" >
    
        <ng-container *ngIf="!archive_retrieved || !visitor_mode_added">
            
            <div class="data-container">
                <!--********************-->
                <!--Author container-->
                <!--********************-->
                <div class="author-container">
                    <div class="left-container">

                        <div  class="dark-shiny"></div>
                    </div>
                    <div class="right-container">
                        <span class="author-name dark-shiny loading5">
            
                        </span>
                        <span class="author-description loading6 dark-shiny"></span>
                       
                       
                    </div>
            
                </div>
            
            
                <div class="view-and-date-numbers">
                    <span class="dark-shiny loading7">
                    </span>
            
                </div>
            </div>
    
    
            <div class="comment-container" >
                <div class=" loading5 dark-shiny"></div>
                
                <div class="first-comment-container loading9 dark-shiny">
                </div>
            </div>
            
    
            <div class="adad-container">
                <div class="dark-shiny loading-pic">
                </div>
            </div>
            
            
        
    
        </ng-container>
        
        <ng-container *ngIf="archive_retrieved && visitor_mode_added">
            
            <div class="data-container">
                <!--********************-->
                <!--Author container-->
                <!--********************-->
                
                <div class="author-container">
                    <a [routerLink]=open_account()   (click)="stop($event);close_popup()" class="left-container" matTooltip="Voir le profil"
                        matTooltipClass='linkarts-tooltip' [matTooltipPosition]="'below'" [matTooltipShowDelay]="200">
                        <img [src]="profile_picture" (load)="profile_picture_loaded()"
                            [ngClass]="{'really-invisible':!profile_picture_is_loaded}">
                        <div *ngIf="!profile_picture_is_loaded" class="dark-shiny"></div>
                    </a>
                    <div class="right-container">
                        <span class="author-name" *ngIf="author_name!=''">
                            <a [routerLink]=open_account()   (click)="stop($event);close_popup()" matTooltip="Voir le profil"
                                matTooltipClass='linkarts-tooltip' [matTooltipPosition]="'below'" [matTooltipShowDelay]="200">
                                {{author_name}}
                            </a>
            
                            <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="certified_account" matTooltip="Compte certifié" matTooltipClass='linkarts-tooltip'
                                [matTooltipPosition]="'below'" [matTooltipShowDelay]="200">verified</mat-icon>
            
            
                        </span>
                        <span class="author-description" *ngIf="pseudo!=''">@{{pseudo}}</span>
                        
                       
                    </div>
            
                    <div *ngIf="visitor_mode_added && visitor_mode" class="subscribing-container">
                        <button (click)="subscribtion()" [disabled]="loading_subscribtion" *ngIf="already_subscribed"
                            [@enterAnimation] class="opened" tabIndex="-1">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">notifications_active </mat-icon>
                            <span>Abonné(e)</span>
                        </button>
                        <button (click)="subscribtion()" [disabled]="loading_subscribtion" *ngIf="!already_subscribed"
                            [@enterAnimation] tabIndex="-1">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">person_add</mat-icon>
                            <span>S'abonner</span>
                        </button>
                    </div>
                </div>
            
            
                <div class="view-and-date-numbers">
                    <span class="first-span">
                        <ng-container *ngIf="number_of_views == 0">Aucune vue</ng-container>
                        <ng-container *ngIf="number_of_views == 1">1 vue</ng-container>
                        <ng-container *ngIf="number_of_views > 1">{{number_of_views}} vues</ng-container>
                        •
                        <span *ngIf="item.number_of_responses == 0">Aucune réponse</span>
                        <span *ngIf="item.number_of_responses == 1">1 réponse</span>
                        <span *ngIf="item.number_of_responses > 1">{{item.number_of_responses}} réponses</span>
                    </span>
            
                    <span class="second-span">{{date_to_show}}</span>
                </div>

                <div class="view-and-date-numbers">
                    <div >
                        <button mat-icon-button (click)="add_share_history('facebook')"
                        style="outline: none !important;"
                        [url]=url
                        shareButton="facebook"
                        #fbBtn="shareButton"
                        [style.color]="fbBtn?.color">
                        <fa-icon *ngIf="fbBtn" [icon]="fbBtn.icon" size="lg"></fa-icon>
                        </button>
                        <button mat-icon-button  (click)="add_share_history('twitter')"
                        style="outline: none !important;"
                        [url]=url
                                shareButton="twitter"
                                #twtBtn="shareButton"
                                [style.color]="twtBtn?.color">
                        <fa-icon *ngIf="twtBtn" [icon]="twtBtn.icon" size="lg"></fa-icon>
                        </button>
                        <button mat-icon-button  (click)="add_share_history('pinterest')"
                        style="outline: none !important;"
                        [url]=url
                                shareButton="pinterest"
                                #pinBtn="shareButton"
                                [style.color]="pinBtn?.color">
                        <fa-icon *ngIf="pinBtn" [icon]="pinBtn.icon" size="lg"></fa-icon>
                        </button>
                        <button mat-icon-button (click)="add_share_history('whatsapp')"
                        style="outline: none !important;"
                        [url]=url
                                shareButton="whatsapp"
                                #whaBtn="shareButton"
                                [style.color]="whaBtn?.color">
                        <fa-icon *ngIf="whaBtn" [icon]="whaBtn.icon" size="lg"></fa-icon>
                        </button>
                        <button mat-icon-button (click)="add_share_history('linkedin')"
                        style="outline: none !important;"
                        [url]=url
                                shareButton="linkedin"
                                #msgBtn="shareButton"
                                [style.color]="msgBtn?.color">
                        <fa-icon *ngIf="msgBtn" [icon]="msgBtn.icon" size="lg"></fa-icon>
                        </button>
                        <button mat-icon-button (click)="add_share_history('copy')"
                        style="outline: none !important;"
                        [url]=url
                                shareButton="copy"
                                #insBtn="shareButton"
                                [style.color]="insBtn?.color">
                        <fa-icon *ngIf="insBtn" [icon]="insBtn.icon" size="lg"></fa-icon>
                        </button>
                    </div>

                    <div class="right-part" *ngIf="type_of_account=='account'">
                        <div class="options-buttons">
                
                            <button *ngIf="visitor_mode_added && visitor_mode  && archive_retrieved" tabIndex="-1" [matMenuTriggerFor]="artworkOptions01">
                                <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                            </button>
                            <mat-menu #artworkOptions01="matMenu" class="artwork-mat-menu">
                                <button class="artwork-button-menu-item" mat-menu-item (click)="archive();" *ngIf="!ad_archived">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">bookmark</mat-icon>
                                    <span>Archiver</span>
                                </button>
                                <button class="artwork-button-menu-item" mat-menu-item (click)="unarchive();" *ngIf="ad_archived">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">turned_in_not</mat-icon>
                                    <span>Désarchiver</span>
                                </button>
                                <button *ngIf="visitor_mode && !(list_of_reporters && list_of_reporters.indexOf(visitor_id)>=0)" class="artwork-button-menu-item" mat-menu-item (click)="report();">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                                    <span>Signaler</span>
                                </button>
                                <button *ngIf="visitor_mode && (list_of_reporters && list_of_reporters.indexOf(visitor_id)>=0)" class="artwork-button-menu-item" mat-menu-item (click)="cancel_report();">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">outlined_flag</mat-icon>
                                    <span>Annuler le signalement</span>
                                </button>
                            </mat-menu>
                
                            <button *ngIf="visitor_mode_added && !visitor_mode  && type_of_account=='account'" class="optionsMenu" [matMenuTriggerFor]="artworkOptions02">
                                <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                            </button>
                            <mat-menu #artworkOptions02="matMenu" class="artwork-mat-menu">
                                <button class="artwork-button-menu-item" mat-menu-item (click)="edit_information();">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                                    <span>Éditer les informations</span>
                                </button>
                                <button class="artwork-button-menu-item" mat-menu-item (click)="edit_thumbnail();">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">view_carousel</mat-icon>
                                    <span>Éditer la miniature</span>
                                </button>
                                <button class="artwork-button-menu-item" mat-menu-item (click)="delete();">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">delete_outline</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
    
    
            <div class="comment-container" (click)="see_comments();">
                <div class="number-of-comments" *ngIf="commentariesnumber>0">
                    <span>Avis</span>
                    <span class="second-span" >&nbsp; ({{commentariesnumber}})</span>
                </div>
                <div class="number-of-comments" *ngIf="!(commentariesnumber>0)">
                    <span>Soyez le premier à ajouter un avis !</span>
                </div>
               
                
                <div class="first-comment-container" *ngIf="commentariesnumber>0 && first_comment_retrieved">
                    <div class="profile-picture " [ngClass]="{'dark-shiny': !first_comment_pp_loaded }">
                        <img [src]="pp_first_comment"  (load)="load_first_comment_pp()"  [ngClass]="{'invisible': !first_comment_pp_loaded }">
                    </div>
                    <div class="comment" >
                        {{first_comment}}
                    </div>
                </div>
                <div class="first-comment-container loading9 dark-shiny" *ngIf="commentariesnumber>0 && !first_comment_retrieved">
                </div>
            </div>
            
    
            <a  href="/donation"  class="adad-container">
                <div class="adad-link2">
                    <span>Votre site a besoin de vous !</span>
                </div>
                <div class="adad">
                </div>
                <div class="adad-link">
                    <span>Soutenez le site en faisant un don </span>
                    <div class="adad-icon">
                    </div>
                </div>
            </a>
            
            <div class="description-and-comments">
                <div class="categories">
                    <div class="title">
                        <span *ngIf="commentariesnumber>0">Avis ({{commentariesnumber}})</span>
                        <span *ngIf="!(commentariesnumber>0)">Avis</span>
                    </div>
                </div>

                <app-comments 
                [type_of_account]=type_of_account 
                [title]="item.title" 
                [visitor_id]="visitor_id"
                [visitor_name]="visitor_name"
                [visitor_mode]="visitor_mode"
                category='ad' 
                [format]="item.type_of_project"
                [style]="item.remuneration" 
                [publication_id]="item.id" 
                chapter_number=0 
                [authorid]="item.id_user"
                [number_of_comments_to_show]=number_of_comments_to_show 
                [commentariesnumber]=commentariesnumber
                (first_comment)="first_comment_received($event)"
                (new_comment)="new_comment();" 
                (removed_comment)="removed_comment();"
                (click_on_user)="after_click_comment($event);"></app-comments>
            </div>
            
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <!--!!!!!!!! RECOMMENDATIONS CONTAINER !!!!!!!!!!!-->
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <div class="recommendations-container"
                *ngIf="list_of_author_ads_retrieved && list_of_other_ads_retrieved">
    
                <div class="categories">
                    <button [ngClass]="{'opened': left_container_category_index==0 }"
                        (click)="open_left_container_category(0);">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">account_circle</mat-icon>
                        <span>Du même auteur</span>
                    </button>
                    <button [ngClass]="{'opened': left_container_category_index==1 }"
                        (click)="open_left_container_category(1);">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">burst_mode</mat-icon>
                        <span>Similaires</span>
                    </button>
                </div>
    
    
                <!--********************-->
                <!--********************-->
                <!--SAME AUTHOR ARTWORKS-->
                <!--********************-->
                <!--********************-->
                <div *ngIf="list_of_author_ads_retrieved"  [ngClass]="{'really-invisible': left_container_category_index!=0 }">
                    <div class="recommendation-group" *ngIf=" display_author_ads ">
                        <div class="thumbnail-container" *ngFor="let item of list_of_author_ads; let i=index" >
                            <app-thumbnail-ad in_ad_page=true (click)="close_popup()" [ad_container]=leftContainer [item]=item now_in_seconds={{now_in_seconds}}></app-thumbnail-ad>
                        </div>
                    </div>
                    
                    <div class="recommendation-group" *ngIf="!display_author_ads">
                        <div class="no-recommendation">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                            <span>Aucune recommendation disponible</span>
                        </div>
                    </div>
                </div>
    
                <!--******************-->
                <!--******************-->
                <!--SAME TYPE ARTWORKS-->
                <!--******************-->
                <!--******************-->
                <div *ngIf="list_of_other_ads_retrieved" [ngClass]="{'really-invisible': left_container_category_index!=1 }">
                    <div class="recommendation-group" *ngIf=" display_other_ads">
                        <div class="thumbnail-container" *ngFor="let item of list_of_other_ads; let i=index" >
                            <app-thumbnail-ad in_ad_page=true (click)="close_popup()" [ad_container]=leftContainer [item]=item now_in_seconds={{now_in_seconds}}></app-thumbnail-ad>
                        </div>
                    </div>
                    <div class="recommendation-group" *ngIf="!display_other_ads">
                        <div class="no-recommendation">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
                            <span>Aucune recommendation disponible</span>
                        </div>
                    </div>
                </div>
            </div>
    
        </ng-container>
        

    </div>

</div>









