

<div class="chapters-controller" [formGroup]="form" >

    <div class="chapters-title">
        <span>Liste des chapitres</span>
        <!--<div class="add-chapter-button" (click)="add_series_chapter();">
            <div class="plus-icon"></div>
            <span>Ajouter</span>
        </div>-->
        
        <button class="add-chapter-button style0" (click)="add_series_chapter();">
            <mat-icon [ngClass]="{'invisible': !show_icon }">add</mat-icon>
            <span>Ajouter un chapitre</span>
        </button>

    </div>


    <div class="chapters-list" formArrayName="chapters" *ngIf="form_number==0">
        <ng-container *ngFor="let element of componentRef; let i = index" class="test">
            <div class="chapter" [ngClass]="{ 'selected' : i==current_chapter }" (click)="open_chapter(i);">
                <div class="chapter-validated">
                    <div *ngIf="element.chapterValidated" class="validated-icon">
                    </div>
                </div>
                <div class="chapter-number">
                    <span>Chapitre {{element.chapter + 1}}</span>
                </div>
                <div class="chapter-name form-item2" (click)="stop($event);">
                    <!--<span *ngIf="edit_name!=i"> {{element.name}} </span>-->
                    <mat-form-field floatLabel='never' class="disabled" *ngIf="edit_name!=i">
                        <mat-label>Nom du chapitre</mat-label>
                        
                        <input matInput disabled
                        type="text" [value]=element.name autocomplete="off" 
                        *ngIf="edit_name!=i"/>
                    </mat-form-field>

                    

                    <mat-form-field floatLabel='never' *ngIf="edit_name==i" >
                        <mat-label>Nom du chapitre</mat-label>
                        <input #changeName matInput maxLength="30"
                        type="text" value=element.name autocomplete="off" 
                        *ngIf="edit_name==i" 
                        (keyup.enter)="validate_name(i);"
                        [formControlName]="i"
                        />
                        <mat-error *ngIf="chapters.controls[i].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                        </mat-error>
                        <div class="length-indicator">{{chapters.controls[i].value?.length || 0}}/30</div>
                    </mat-form-field>


                </div>

                <div class="chapter-icons">     

                    <button mat-icon-button *ngIf="edit_name==i" (click)="validate_name(i);$event.stopPropagation();">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">done</mat-icon>
                    </button>  
                    <button mat-icon-button *ngIf="edit_name==-1" (click)="set_edit_name(i,'modify');$event.stopPropagation();">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                    </button>         
                    <button mat-icon-button *ngIf="edit_name==-1 && i>0" (click)="openDeleteDialog(i);$event.stopPropagation();">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">delete_outline</mat-icon>
                    </button>
                    
                  
                </div>

            </div>

        </ng-container>
    </div>


    <div class="chapters-list" formArrayName="chapters" *ngIf="form_number==1 && display_chapters">
        <ng-container *ngFor="let element of list_of_chapters; let i = index" class="test">
            <div class="chapter" (click)="open_chapter(i);">
                <div class="chapter-validated">
                    <div *ngIf="list_of_chapters_validated[i]" class="validated-icon">
                    </div>
                </div>
                <div class="chapter-number">
                    <span>Chapitre {{element.chapter_number}}</span>
                </div>
                <div class="chapter-name form-item2" (click)="stop($event);">
                    <mat-form-field class="disabled" floatLabel='never' *ngIf="edit_name!=i">
                        <mat-label>Nom du chapitre</mat-label>
                        
                        <input matInput disabled
                        type="text" [value]=element.title autocomplete="off"/>
                    </mat-form-field>

                    <mat-form-field floatLabel='never' *ngIf="edit_name==i" >
                        <mat-label>Nom du chapitre</mat-label>
                        <input #changeName matInput maxLength="30"
                        type="text" value=element.title autocomplete="off" 
                        (keyup.enter)="validate_name(i);"
                        [formControlName]="i"
                        />
                        <mat-error *ngIf="chapters.controls[i].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                        </mat-error>
                        <div class="length-indicator">{{chapters.controls[i].value?.length || 0}}/30</div>
                    </mat-form-field>
  

                </div>

                <div class="chapter-icons">
                    
                                                
                    <button mat-icon-button *ngIf="edit_name==i" (click)="validate_name(i);$event.stopPropagation();">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">done</mat-icon>
                    </button> 
                    <button mat-icon-button *ngIf="edit_name==-1 && list_of_new_chapters[i]" (click)="set_edit_name(i,'modify');$event.stopPropagation();">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                    </button>         
                    <button mat-icon-button *ngIf="edit_name==-1 && i==list_of_chapters.length-1 && i>0" (click)="openDeleteDialog(i);$event.stopPropagation();">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">delete_outline</mat-icon>
                    </button>
                </div>

            </div>

        </ng-container>
    </div>

</div>



<div class="pages-controller" *ngIf="form_number==0">

    <ng-container *ngFor="let element of componentRef; let i = index" >
        <app-swiper-upload-serie *ngIf=element.swiperInitialized type="Série" [disabled]=!display_swiper [bd_id]="bd_id" [chapter]="i" (validated)="validated_chapter(i);" [hidden]="current_chapter!=i"></app-swiper-upload-serie>
    </ng-container>

</div>

<div class="pages-controller" *ngIf="form_number==1 && chapter_creation_in_progress">
    <ng-container  >
        <app-swiper-upload-serie type="Série" [disabled]=!display_swiper [bd_id]="bd_id" [chapter]="current_chapter" (validated)="validated_chapter(current_chapter);"></app-swiper-upload-serie>
    </ng-container>
    

</div>



<button #validateButton mat-raised-button class="submit-button style1" (click)="validateAll();">
    <ng-container *ngIf="!display_loading">
        <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
        <span>Valider la série</span>
    </ng-container>
    <ng-container *ngIf="display_loading">
        <mat-spinner diameter="25" style="margin:auto;"></mat-spinner>
    </ng-container>
</button>


<div id="upload-global-serie-error" class="modal">
    <p></p>
    <div><a rel="modal:close">Continuer</a></div>
</div>