

 .chapters-controller {
    width: 100%;
    height: fit-content;
    border-radius: 25px;
    overflow: hidden;
    margin: 30px auto 50px auto;
    border: 1px solid #dedede;
}

 .chapters-title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 5px;
    background-image:linear-gradient(0.02turn, rgb(128,145,184), rgb(72,95,137), rgb(129,146,185));
}

 .chapters-title > span {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    margin:auto auto auto 20px;
    cursor:default;
}

.chapters-controller .add-chapter-button {

    font-size: 14px;
    font-weight: bold;
    background: white;
    color: #203864;
    border: 1px solid #203864;
    margin: 10px 15px 10px auto;
    padding: 8px 8px 8px 4px;
    border-radius: 30px;
    outline: none;
    display: flex;

    mat-icon {
        margin: auto 5px auto auto;
        color: #203864;
        width: unset;
        height: unset;
        font-size: 20px;
    }
    span {
        margin: auto auto auto 0px;
    }
    &:hover {
        background:#eeeff3 !important;
        box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
    }
    &:active {
        background: #e2e5eb !important;
        box-shadow:0px 0px 0px 1px rgb(32,56,100) !important;
    }
}


.validate-chapter-button mat-icon {
    margin: auto 5px auto auto;
    color: rgb(32,56,100);
    width:unset;
    height:unset;
}


 .chapters-list {
    background-color:rgb(250,250,250);
    height:fit-content;
    max-height: calc( 80vh - 50px );
}

 .chapters-list .chapter {
    display:flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 5px;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid rgb(230,230,230);
}



 .chapters-list .selected {    
    background-image: linear-gradient(0.02turn, #8696bd05, #475e8821, #8696bd08);
    box-shadow: inset 0 0 20px 0px #dbdde6;
}

 .chapters-list .chapter:hover {
    background-image: linear-gradient(0.02turn, #8696bd05, #475e8821, #8696bd08);
}

 .chapters-list .chapter .chapter-validated {
    width: 40px;
    display:flex;
    cursor:pointer;
}

 .chapters-list .chapter .chapter-validated .validated-icon {
    width: 20px;
    height: 20px;
    margin: auto auto;
    background-color: rgb(43, 185, 0);
    mask: url("../../assets/img/svg/validate.svg") no-repeat 50% 50%;
}

 .chapters-list .chapter .chapter-number {
    cursor:default;
    padding-left:5px;
    font-weight:600;
    width: 110px;
    display:flex;
    cursor:pointer;
    //background:red;
}

 .chapters-list .chapter .chapter-number span{
    margin:auto auto auto 0px;
}


 .chapters-list .chapter .chapter-name {
    display:flex;
    min-width:200px;
    padding-left: 5px;
    margin-right: 50px;
    margin-left: 10px;
    width:calc(100% - 40px - 110px - 140px);
}

.form-item2 {
    position:relative;
    height:70px;
}



 .chapters-list .chapter .chapter-name span {
    margin: auto auto auto 0px;
}


 .chapters-list .chapter .chapter-icons {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    display: -webkit-box;
    display: flex;
    margin: auto;
    cursor: pointer;
}


.chapters-list .chapter button {
    height: 37px;
    width: 37px;
    outline: none;
    margin-left:auto;
    margin-right:10px;
    margin-top:auto;
    margin-bottom:auto;
    background: rgb(73, 95, 137);
    border: 1px solid #546b9e;
}


.chapters-list .chapter mat-icon {
    font-size:22px !important;
    color:white;
}



 .chapters-list .chapter .button {
    display:flex;
    width:30px;
    height:30px;
    margin:auto auto;
    border:1px solid rgb(201, 201, 201);
    border-radius:4px;
    background:white;
    cursor:pointer;
}

 .chapters-list .chapter .button-name {
    display:flex;
    width:30px;
    height:30px;
    margin:auto auto auto 5px;
    border:1px solid rgb(201, 201, 201);
    border-radius:4px;
    background:white;
    cursor:pointer;
}

 .chapters-list .chapter .button-name .validate-icon {
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(40, 40, 40);
    mask:  url("../../assets/img/svg/validate.svg") no-repeat 50% 50%;
}


 .chapters-list .chapter .button-empty {
    display:flex;
    width:30px;
    height:30px;
    margin:auto auto;
}

 .chapters-list .chapter .button .empty-icon {
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(40, 40, 40);
}


 .chapters-list .chapter .button .modify-icon {
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(32, 56, 100);
    mask:  url("../../assets/img/svg/edit.svg") no-repeat 50% 50%;
}


 .chapters-list .chapter .button .delete-icon {
    
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(148, 23, 23);
    mask: url("../../assets/img/svg/close.svg") no-repeat 50% 50%;
}



 .pages-controller {
    width: 100%;

}



//ScrollBar
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
    background: #999;  
}

//ng deep
.chapters-controller ::ng-deep {
     .mat-form-field-underline {
        position:unset !important;
    
    }
    .mat-form-field-wrapper {
        padding-top:0px !important;
        padding-bottom:20px !important;
    }
    .mat-form-field {
        font-weight: 600;
        font-family:unset;
        width: calc( 100% - 30px );
        height:100%;
        margin:auto auto auto 0px;
    }
    .disabled .mat-form-field-underline {
        background-image:unset !important;
        background-color: rgba(0,0,0,.42) !important;
    }
}

.mat-input-element {
    line-height: 22px !important;
    padding-right: 70px !important;
}

.mat-dialog-container {
    position:relative !important;
}

.form-item2 .mat-form-field {
    width:100%;
}

.form-item2 .mat-form-field .mat-form-field-flex {
    padding-left: 10px !important;
}

.form-item2 .mat-form-field textarea {
    max-height:180px;
    min-height:100px;
}

.form-item2 .length-indicator {
    position: absolute;
    right: 15px;
    color: grey;    
    font-size: 15px;
    top: 5px;
}




.submit-button {
    display: flex;
}

.submit-button mat-icon {
    margin: auto 10px auto auto;
    color: #ffffff;
    width: unset;
    height: unset;
    font-size: 28px;
}


@media (max-width:600px) { 
    .chapters-title {
        flex-direction: column !important;
    }
    .chapters-title > span {
        margin:5px auto 10px auto !important;
    }
    .chapters-title > button {
        margin:0px auto 5px auto !important;
    }
}