

 .chapters-controller {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px auto 50px auto;
    border: 1px solid #d0d9ec;
    box-shadow: 0px 1px 10px 1px rgb(227 232 245);
}

 .chapters-title {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #d9e5ff;
}

 .chapters-title > span {
    font-size: 17px;
    color: rgb(32,56,100);
    font-weight:bold;
    margin:auto auto auto 20px;
}

.chapters-controller .add-chapter-button {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 10px 10px auto;
    display: flex;
}

.chapters-controller .add-chapter-button mat-icon {
    margin: auto 5px auto auto;
    color: rgb(32,56,100);
    width:unset;
    height:unset;
}

.validate-chapter-button mat-icon {
    margin: auto 5px auto auto;
    color: rgb(32,56,100);
    width:unset;
    height:unset;
}


 .chapters-list {
    background-color:rgb(250,250,250);
    height:fit-content;
    max-height: calc( 80vh - 50px );
}

 .chapters-list .chapter {
    display:flex;
    flex-wrap: wrap;
    padding-top:10px;
    padding-bottom:10px;
    border-top:1px solid rgb(230,230,230);
}



 .chapters-list .selected {
    background: rgb(240, 242, 251);
    box-shadow: 0px 0px 4px rgb(208, 208, 255);
}

 .chapters-list .chapter:hover {
    background: rgb(240, 242, 251);
    box-shadow: 0px 0px 4px rgb(208, 208, 255);
}

 .chapters-list .chapter .chapter-validated {
    width: 40px;
    display:flex;
    cursor:pointer;
}

 .chapters-list .chapter .chapter-validated .validated-icon {
    width: 20px;
    height: 20px;
    margin: auto auto;
    background-color: rgb(43, 185, 0);
    -webkit-mask: url("../../assets/img/svg/validate.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/validate.svg") no-repeat 50% 50%;
}

 .chapters-list .chapter .chapter-number {
    cursor:default;
    padding-left:5px;
    width: 110px;
    display:flex;
    cursor:pointer;
    //background:red;
}

 .chapters-list .chapter .chapter-number span{
    margin:auto auto auto 0px;
}


 .chapters-list .chapter .chapter-name {
    display:flex;
    min-width:200px;
    padding-left:5px;
    margin: auto auto;
    width:calc(100% - 40px - 110px - 140px);
}

.form-item2 {
    position:relative;
    height:70px;
}



 .chapters-list .chapter .chapter-name span {
    margin: auto auto auto 0px;
}


 .chapters-list .chapter .chapter-icons {
    width:95px;
    height: 100%;
    display:flex;
    margin: auto auto auto auto;
    cursor:pointer;
    //background:grey;
}


.chapters-list .chapter button {
    height: 37px;
    width: 37px;
    outline: none;
    margin-left:auto;
    margin-right:10px;
    margin-top:auto;
    margin-bottom:auto;
    background: #d9e5ff;
    border: 1px solid rgb(180, 197, 234);
}


.chapters-list .chapter mat-icon {
    font-size:22px !important;
}



 .chapters-list .chapter .button {
    display:flex;
    width:30px;
    height:30px;
    margin:auto auto;
    border:1px solid rgb(201, 201, 201);
    border-radius:4px;
    background:white;
    cursor:pointer;
}

 .chapters-list .chapter .button-name {
    display:flex;
    width:30px;
    height:30px;
    margin:auto auto auto 5px;
    border:1px solid rgb(201, 201, 201);
    border-radius:4px;
    background:white;
    cursor:pointer;
}

 .chapters-list .chapter .button-name .validate-icon {
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(40, 40, 40);
    -webkit-mask:  url("../../assets/img/svg/validate.svg") no-repeat 50% 50%;
    mask:  url("../../assets/img/svg/validate.svg") no-repeat 50% 50%;
}


 .chapters-list .chapter .button-empty {
    display:flex;
    width:30px;
    height:30px;
    margin:auto auto;
}

 .chapters-list .chapter .button .empty-icon {
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(40, 40, 40);
}


 .chapters-list .chapter .button .modify-icon {
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(32, 56, 100);
    -webkit-mask:  url("../../assets/img/svg/edit.svg") no-repeat 50% 50%;
    mask:  url("../../assets/img/svg/edit.svg") no-repeat 50% 50%;
}


 .chapters-list .chapter .button .delete-icon {
    
    width:15px;
    height:15px;
    margin:auto auto;
    background-color: rgb(148, 23, 23);
    -webkit-mask:  url("../../assets/img/svg/close.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/close.svg") no-repeat 50% 50%;
}



 .pages-controller {
    width: 100%;

}



//ScrollBar

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
    background: #999;  
}

//ng deep
::ng-deep .mat-form-field-underline {
    position:unset !important;

}

::ng-deep .mat-form-field-wrapper {
    padding-top:0px !important;
    padding-bottom:0px !important;
}

::ng-deep .mat-form-field {
    font-family:unset;
    width: calc( 100% - 30px );
    height:100%;
    margin:auto auto auto 0px;
}

::ng-deep .disabled .mat-form-field-underline {
    background-image:unset !important;
    background-color: rgba(0,0,0,.42) !important;
}

.mat-input-element {
    line-height: 22px !important;
    padding-right: 70px !important;
}

.mat-dialog-container {
    position:relative !important;
}

.form-item2 .mat-form-field {
    width:100%;
}

.form-item2 .mat-form-field .mat-form-field-flex {
    padding-left: 10px !important;
}

.form-item2 .mat-form-field textarea {
    max-height:180px;
    min-height:100px;
}

.form-item2 .length-indicator {
    position: absolute;
    right: 15px;
    color: grey;    
    font-size: 15px;
    top: 5px;
}



//modal
.modal .buttons-container {
    display:flex;
}

.modal .buttons-container .button-confirmation {
    position: relative;
    display:flex;
    margin:20px auto 20px auto;
    width: 150px;
    height: 40px;
    
    cursor:pointer;
    border-radius:5px;
    color:#FFFFFF;
    background-color:#ff3333;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
}

.modal .buttons-container .button-reset {
    position: relative;
    display:flex;
    margin:20px auto 20px auto;
    width: 150px;
    height: 40px;
    
    cursor:pointer;
    border-radius:5px;
    color:#FFFFFF;
    background-color:#21961d;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
}

.modal .buttons-container .button-confirmation a,
.modal .buttons-container .button-reset a {
    display:flex;
    width:100% !important;
    height:100% !important;
    margin:auto auto;
}

.modal .buttons-container .button-confirmation a span,
.modal .buttons-container .button-reset a span {
    margin:auto auto;
}
