
<div class="comment-element">
    
    
    <div class="left-container">

        <div class="profile-picture" [ngClass]="{ 'dark-shiny': !main_pp_is_loaded }">
          <img [src]="profile_picture" (load)="load_main_pp()"
            [ngClass]="{'invisible': !main_pp_is_loaded}">
        </div>

    </div>
    

    <div class="right-container">

        <div class="comment">
            <a [routerLink]=open_account() (click)="send_click()">{{user_name}}</a>


            <textarea matInput cdkTextareaAutosize #textareaREAD 
            type="text" 
            (keydown)="onKeydown($event);" 
            (keyup)="onKeyup($event)"
            [readonly]="!edit_comment"
            autocomplete="off"
            [ngClass]="{'read': !edit_comment, 'write': edit_comment}">{{ (comment && comment.length > 150 && !main_comment_see_more) ? (comment | slice:0:150) + '...' : comment}}</textarea>

            <button (click)="see_more();" class="see-more" *ngIf="comment && comment.length > 150 && !main_comment_see_more">
                <span>Voir plus</span>
            </button>

            <div class="comment-in-edition" *ngIf="edit_comment" (click)="function_edit_comment()">
                <mat-icon [ngClass]="{'invisible': !show_icon }" >edit</mat-icon>
            </div>
        </div>
        
        <div class="options-container">
            <ng-container *ngIf="likes_checked">
                <button *ngIf="like_in_progress">
                    <mat-spinner diameter="15"></mat-spinner>
                </button>
                <button *ngIf="!liked && !like_in_progress && type_of_account=='account'" (click)="add_or_remove_like()">J'aime</button>
                <button *ngIf="liked && !like_in_progress && type_of_account=='account'" (click)="add_or_remove_like()">Je n'aime plus</button>
                <span><ng-container *ngIf="type_of_account=='account'">&nbsp;• </ng-container>{{number_of_likes}}</span>
                <mat-icon [ngClass]="{'invisible': !show_icon }">thumb_up</mat-icon>
                <span>&nbsp;•</span>
                <button *ngIf="!see_responses" (click)="show_responses();" >Répondre <ng-container *ngIf="responses_list.length>0">({{responses_list.length}})</ng-container></button>
                <button *ngIf="see_responses" (click)="show_less_responses();">Voir moins</button>
            </ng-container>

            <span class="date">
                {{date_upload_to_show}}
            </span>
        </div>

     
        


        <div *ngIf="see_responses" [@enterAnimation]>


            <div *ngFor="let item of responses_list;let i=index" class="response-element">


                <div class="left-container">
                    <div class="profile-picture" [ngClass]="{ 'dark-shiny': !profile_picture_list_loaded[i] }">
                      <img [src]=profile_picture_list[i] (load)="load_pp_list(i)"
                        [ngClass]="{'invisible': !profile_picture_list_loaded[i]}">
                    </div>
                    
                    <div class="comment-container">
                        <div class="comment">
                            <a [routerLink]=open_response_account(i) (click)="send_click()">{{author_name_list[i]}}</a>

                            <textarea matInput cdkTextareaAutosize #textareaRESPONSE 
                            type="text" 
                            (keydown)="onKeydownResponse($event, i);" 
                            (keyup)="onKeyupResponse($event, i);" 
                            [readonly]="editable_response!=i"
                            autocomplete="off"
                            [ngClass]="{'read': editable_response!=i, 'write': editable_response==i}">{{ (item.comment && item.comment.length > 150 && !item.see_more) ? (item.comment | slice:0:150) + '...' : item.comment}}</textarea>

                            <button (click)="see_more_response(i);" class="see-more" *ngIf="item.comment && item.comment.length > 150 && !item.see_more">
                                <span>Voir plus</span>
                            </button>
                            <div class="comment-in-edition" *ngIf="editable_response==i" (click)="function_edit_response(i)">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                            </div>

                        </div>
                        <div class="options-container">
                            <ng-container *ngIf="likes_checked">
                                <button *ngIf="answer_like_in_progress[i]">
                                    <mat-spinner diameter="15"></mat-spinner>
                                </button>
                                <button *ngIf="!liked_list[i] && !answer_like_in_progress[i]" (click)="add_or_remove_answer_like(i)">J'aime</button>
                                <button *ngIf="liked_list[i] && !answer_like_in_progress[i]" (click)="add_or_remove_answer_like(i)">Je n'aime plus</button>
                                <span> • {{item.likesnumber}}</span>
                                <mat-icon [ngClass]="{'invisible': !show_icon }">thumb_up</mat-icon>
                            </ng-container>
        
                            <span class="date">
                                {{item.date}}
                            </span>
                        </div>
                    </div>
                    
                </div>

                <!--mat menu ici-->
                <div class="right-container">
                    <button class="optionsMenu" [matMenuTriggerFor]="commentOptions">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                    </button>
                    <mat-menu #commentOptions="matMenu" class="comments-mat-menu">
                        <button *ngIf="!loading_edit" class="comments-button-menu-item" tabIndex="-1" (click)="edit_response(i)" mat-menu-item>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                            <span>Editer</span>
                        </button>
                        <button class="comments-button-menu-item" tabIndex="-1" (click)="remove_comment_answer(i)" mat-menu-item>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                            <span>Supprimer</span>
                        </button>
                    </mat-menu>
                </div>

            </div>


            
            <div class="add-response" *ngIf="type_of_account=='account'">

                
                <div class="left-container">
                    <div class="profile-picture" [ngClass]="{ 'dark-shiny': !pp_is_loaded }">
                        <img [src]="visitor_profile_picture" (load)="load_pp()"
                        [ngClass]="{'invisible': !pp_is_loaded}">
                    </div>
                </div>

                <div class="right-container">
                    
                    <textarea matInput cdkTextareaAutosize #textareaRESPONSEtoCOMMENT
                    maxlength="1500"
                    type="text" 
                    (keydown)="onKeydownResponseToComment($event)"
                    (input)="check_message_for_phone()"
                    (keyup)="onKeyupResponseToComment($event)"
                    placeholder="Ajouter une réponse ..."
                    autocomplete="off"></textarea>
                    <div class="icon-messenger" (click)="send_response_phone()" [ngClass]="{'invisible': !show_send_icon || !can_show_send_icon}">
                        
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>


</div>


