  a{
    color: unset;
    text-decoration: none;
    background-color: none;
    cursor:pointer;
  }
  .main-media-container{
    width:calc(100% + 1px);
    position: relative;
  }
  .category {
    margin-top:30px;
    color:#203864;
    font-weight:bold;
    text-align: center;
    height: 25px;
  }
  .category a {
    display: inline-flex;
    align-items: center;
  }

  .category span {
    font-size: 20px;
    font-weight: bold;
  }

  .category mat-icon {
    height:unset !important;
    width:unset !important;
    margin-right: 7px;
  }
  .center-spinner{
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .container-homepage {
    padding:0px;
    flex-wrap: wrap ;
    display:flex;
    transition:opacity 500ms;
    justify-content: center;

    .right-absolute-arrow {
      position:absolute;
      margin: 10px auto 30px auto;
      right: -30px;
      top: 49%;
      transform: translateY(-50%);
      width: 40px;
      height: 276px;
      display:flex;
      cursor:pointer;
      z-index: 1;
      border-radius: 30px;
      mat-icon {
        margin: auto;
        width: unset;
        height: unset;
        font-size: 36px;
        color: #b1b1b1;
        transform:rotate(270deg);
      }
    }
  }
  .thumbnail-component-container {
    overflow:hidden;
  }
  .see-more {
    display: flex;
    width: 90%;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 4px solid rgb(230 230 230);
    text-align: center;
    margin: 10px auto 30px auto;
    cursor: pointer;
    outline: none;
    background: unset;
    transition: background-color 100ms, border-color 100ms;
    &:hover {
      border-bottom: 4px solid rgb(56, 81, 129);
      background-color: rgb(235, 235, 235);
      mat-icon, span {
        color: rgb(56, 81, 129) !important;
      }
    }
    &:active {
      background-color: rgb(228, 228, 228);
    }
    mat-icon {
      margin: auto;
      width: unset;
      height: unset;
      font-size: 36px;
      color: #b1b1b1;
    }

    &.with-span {
      mat-icon {
        margin: auto 5px auto auto;
        font-size: 27px;
      }
      span {
        margin: auto auto auto 0px;
        font-size: 14px;
        color: #b1b1b1;
        font-weight: 600;
      }
    }
  }
  .no-cursor{
    cursor: default;
  }
  @media (max-width: 1135px) {
    .see-more {
      position: absolute;
      right: -30px;
      top: 49%;
      transform: translateY(-50%);
      width: 40px;
      height: 276px;
      display: flex;
      cursor: pointer;
      z-index: 1;
      border-bottom: unset;

      &.with-span {
        span {
          display:none;
        }
      }
    }
    .see-more:hover {
      border-bottom:unset;
      background-color:rgb(235, 235, 235);
    }
    .see-more .icon {
      transform: rotate(270deg);
    }
    .container-homepage {
      justify-content: left !important;
      overflow-x: auto ;
      flex-wrap: unset !important;

      scrollbar-width: thin;
      scrollbar-color: #0a1c4d #f9f9f9;
      &::-webkit-scrollbar {
          height: 10px;
          background-color: #f9f9f9;
      }
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 11%);
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 11%);
        background-color: #0a1c4d;
      }
    }
    .thumbnail-component-container{
      overflow: visible !important;
    }
  }
  .container-drawings {
    margin-top:50px;
    padding:0px;
  }
  @media (max-width: 1800px) {
    .container-drawings{
      width:90%;
      margin:50px auto 50px auto;
    }
  }
  .main-media-menu{
    opacity:0;
  }
  .mediaVisible {
    visibility: visibile;
    opacity:1 ;
  }
  .invisible{
    visibility:hidden !important;
    pointer-events: none;
  }
  .invisible_without_height{
    opacity:0 !important;
    height:0px !important;
  }