

<div *ngFor="let item of sorted_style_list; index as i1" >

    <ng-container *ngIf="(item==='BD' && sorted_artpieces_bd.length>0)||(item==='Manga' && sorted_artpieces_manga.length>0)
        ||(item==='Comics' && sorted_artpieces_comics.length>0)||(item==='Webtoon' && sorted_artpieces_webtoon.length>0)">

        <div class="category">
            <a  [routerLink]=open_research(item)>
                <span>{{item}}</span>
            </a>
        </div>
        


        
        <div class="container-homepage container-comics " style="transition:opacity 1s;" >

            <ng-container *ngIf="item==='BD'">
                <ng-container *ngFor="let item of sorted_artpieces_bd.slice(0,number_of_comics_to_show); let i = index">
                    <app-thumbnail-comics class="thumbnail-component-container" 
                        [item]=item
                        [width]=width
                        [format]=sorted_artpieces_bd_format[i]
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-comics>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="item==='Manga'">
                <ng-container *ngFor="let item of sorted_artpieces_manga.slice(0,number_of_comics_to_show); let i = index">
                    <app-thumbnail-comics class="thumbnail-component-container" 
                        [item]=item
                        [width]=width
                        [format]=sorted_artpieces_manga_format[i]
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-comics>
                </ng-container>
                </ng-container>
        
                <ng-container *ngIf="item==='Comics'">
                <ng-container *ngFor="let item of sorted_artpieces_comics.slice(0,number_of_comics_to_show); let i = index">
                    <app-thumbnail-comics  class="thumbnail-component-container" 
                        [item]=item
                        [width]=width
                        [format]=sorted_artpieces_comics_format[i]
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-comics>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="item==='Webtoon'">
                <ng-container *ngFor="let item of sorted_artpieces_webtoon.slice(0,number_of_comics_to_show); let i = index">
                    <app-thumbnail-comics class="thumbnail-component-container" 
                        [item]=item
                        [width]=width
                        [format]=sorted_artpieces_webtoon_format[i]
                        now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-comics>
                </ng-container>
            </ng-container>
        

            <ng-container >
                <div *ngIf="!show_more[sorted_style_list.indexOf(item)] && see_more_comics(item)" class="see-more" (click)="see_more(item)">
                    <!--<div class="icon">
                    </div>-->
                    <mat-icon class="icon">expand_more</mat-icon>
                </div>

                <div *ngIf="show_more[sorted_style_list.indexOf(item)]" >
                                
                
                    <div style="transition:opacity 1s;">
                        <app-media-see-more-comics
                        [style]=item
                        [width]=width
                        [sorted_artpieces_bd]=sorted_artpieces_bd.slice(0,6)
                        [sorted_artpieces_manga]=sorted_artpieces_manga.slice(0,6)
                        [sorted_artpieces_comics]=sorted_artpieces_comics.slice(0,6)
                        [sorted_artpieces_webtoon]=sorted_artpieces_webtoon.slice(0,6)
                        [number_of_comics_to_show]=number_of_comics_to_show
                        now_in_seconds={{now_in_seconds}}
                        ></app-media-see-more-comics>
                    </div>
                </div>        
            </ng-container>                

        </div>

    </ng-container>

</div>