
<div class="component-container popupLinkcollabFilters" *ngIf="data.linkcollab_page">


    
    <div class="title">
        <span>Filtrer les annonces : <ng-container *ngIf="category_index==0">Collaborations rémunérées</ng-container>
            <ng-container *ngIf="category_index==1">Collaborations bénévoles</ng-container>
            <ng-container *ngIf="category_index==2">Collaborations rémunérées</ng-container></span>

        <button class="close-button" (click)="validate();">
            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
        </button>

    </div>

    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Objet de l'annonce</mat-label>
            <mat-select (selectionChange)="change_select1($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="type_of_project">
                <ng-container *ngFor="let obj of ads_types, let i = index">
                    <mat-option *ngIf="!( i==0 && type_of_project=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Auteur</mat-label>
            <mat-select (selectionChange)="change_select2($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="author">
                <ng-container *ngFor="let obj of ads_descriptions, let i = index">
                    <mat-option *ngIf="!( i==0 && author=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Cible</mat-label>
            <mat-select (selectionChange)="change_select3($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="target">
                <ng-container *ngFor="let obj of ads_targets, let i = index">
                    <mat-option *ngIf="!( i==0 && target=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Catégorie de l'annonce</mat-label>
            <mat-select (selectionChange)="change_select4($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="type_of_service">
                <ng-container *ngFor="let obj of ads_services_types, let i = index">
                    <mat-option *ngIf="!( i==0 && type_of_service=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-item swiper-slide" [ngClass]="{'really-invisible':!service}">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Type d'annonce</mat-label>
            <mat-select (selectionChange)="change_select5($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="offer_or_demand">
                <mat-option *ngIf="!( offer_or_demand=='none' )" value="Tout">
                    Tout
                </mat-option>
                <mat-option value="Offre">
                    Offre
                </mat-option>
                <mat-option value="Demande">
                    Demande
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-item swiper-slide" [ngClass]="{'really-invisible': !remuneration}">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Type de rémunération</mat-label>
            <mat-select (selectionChange)="change_select6($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="type_of_remuneration">
                <ng-container *ngFor="let obj of ads_remuneration_types, let i = index">
                    <mat-option [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-item swiper-slide" [ngClass]="{'really-invisible':!remuneration && !service}">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Tri par pertinence</mat-label>
            <mat-select (selectionChange)="change_select7($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="sorting">
                <mat-option value="Tri par pertinence">
                    Tri par pertinence
                </mat-option>
                <mat-option value="Tri par le plus récent">
                    Tri par le plus récent
                </mat-option>
                <mat-option value="Tri par le plus ancien">
                    Tri par le plus ancien
                </mat-option>
                <mat-option value="Tri par montant croissant">
                    Tri par montant croissant
                </mat-option>
                <mat-option value="Tri par montant décroissant">
                    Tri par montant décroissant
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-item swiper-slide" [ngClass]="{'really-invisible':remuneration || service}">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Tri par pertinence</mat-label>
            <mat-select (selectionChange)="change_select8($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass" [value]="sorting">
                <mat-option value="Tri par pertinence">
                    Tri par pertinence
                </mat-option>
                <mat-option value="Tri par le plus récent">
                    Tri par le plus récent
                </mat-option>
                <mat-option value="Tri par le plus ancien">
                    Tri par le plus ancien
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="validate" (click)="validate()">
        <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
        <span>Valider</span>
    </div>

</div>


<div class="component-container popupLinkcollabFilters" *ngIf="data.account_page">


    
    <div class="title">
        <span>Filtrer</span>

        <button class="close-button" (click)="validate_account();">
            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
        </button>
    </div>
    
    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Catégorie du projet</mat-label>
            <mat-select #matSelectSection0 (selectionChange)="change_select_section0($event)" disableOptionCentering panelClass="popupLinkcollabSelectClass">
                <ng-container *ngFor="let obj of section0_categories, let i = index">
                    <mat-option *ngIf="!( i==0 && category=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Trier par</mat-label>
            <mat-select #matSelectSection0 (selectionChange)="change_select_section1($event)" disableOptionCentering panelClass="applicationsSelectClass">
                <ng-container *ngFor="let obj of section1_categories, let i = index">
                    <mat-option *ngIf="!( i==0 && sort=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="form-item swiper-slide">
        <mat-form-field floatLabel='never' class="select-class">
            <mat-label>Formule choisie</mat-label>
            <mat-select #matSelectSection0 (selectionChange)="change_select_section2($event)" disableOptionCentering panelClass="applicationsSelectClass">
                <ng-container *ngFor="let obj of section2_categories, let i = index">
                    <mat-option *ngIf="!( i==0 && formula=='none' )" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="validate" (click)="validate_account()">
        <mat-icon [ngClass]="{'invisible': !show_icon }">done_all</mat-icon>
        <span>Valider</span>
    </div>
</div>