
  //CODE COMMUN
  .category {
    cursor:default;
    margin-top:30px;
    color:#203864;
  }

  .category > span {
    font-size:1.5rem;
    font-weight: bold;
  }

  
  .see-more {
    display:flex;
    width:100%;
    height:40px;
    border-bottom:4px solid rgb(77, 105, 158);
    text-align:center;
    margin:10px 0px 10px 0px;
    cursor:pointer;
    transition:background-color 200ms;
    }

    
  .see-more:hover {
    border-bottom:4px solid rgb(56, 81, 129);
    background-color:rgb(235, 235, 235);
  }

  .see-more .icon {
  width:25px;
  height:25px;
  margin:auto auto;
  mask-image: url("../../assets/img/svg/see-more.svg");
  -webkit-mask-image: url("../../assets/img/svg/see-more.svg");
  background-color: rgb(116, 116, 116);
  }

  .see-more:hover .icon {
  background-color:rgb(56, 81, 129);
  }




  



 .col-writing {
  position: relative;
  width: 100%;
  flex-basis: 0;
  max-width: 100%;
  padding: 0px !important;
}

.col-writing .empty {
  width:200px !important;
  height:1px !important;
}


