



/******************************************************************************-->
<!--*****************************************************************************-->
<!--******************************* f00 form ************************************-->
<!--*****************************************************************************-->
<!--******************************************************************************/


.invisible {
    visibility:hidden;
    overflow: hidden;
    pointer-events: none;
}

.swiper-container2 {
    height:200px;
}

.monetization{
    margin-left: 10%;
    width: 90%;
}

.mat-icon{
    font-size:24px;
    max-width:24px;
    overflow: hidden;
}

/******************************************************************************-->
<!--*****************************************************************************-->
<!--******************************* f01 form ************************************-->
<!--*****************************************************************************-->
<!--******************************************************************************/

