

<div id="left-container">

    <div #leftContainer class="first-div">
        <div class="top-container">
            <div class="dropdowns-container">
                <div class="options-container">
                    
                    <mat-icon class="icon" *ngIf="!fullscreen_mode" (click)="fullscreen_button();">fullscreen</mat-icon>
                    <mat-icon class="icon" *ngIf="fullscreen_mode" (click)="fullscreen_button();">fullscreen_exit</mat-icon>
                    <mat-icon class="icon" *ngIf="zoom != 1" (click)="zoom_button();">zoom_out</mat-icon>
                    <mat-icon class="icon" *ngIf="zoom == 1" (click)="zoom_button();">zoom_in</mat-icon>
                     

                    <div class="pages-controller-container">
                        Page :
                        <input type="text" aria-label="" role="navigation" size="5">
                        <div class="total-pages">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pdf-document-container">




            <div #swiperContainer class="swiper-container artwork" >
                <div #swiperWrapper class="swiper-wrapper">
    
                    <div *ngFor="let item of arrayOne( total_pages ); let i = index" class="swiper-slide">
                        <div class="slide-container">
    
                            <pdf-viewer
                            class="pdf-document"
                            [src]="pdfSrc"
                            [zoom]="zoom"
                            [render-text]="true"
                            [show-all]="false"
                            [page]="(i+1)"
                            (after-load-complete)="afterLoadComplete($event, i)"
                            ></pdf-viewer>

                            
    
                        </div>
                    </div>
    
                </div>
                <!-- Add Scrollbar -->
                <div class="swiper-scrollbar"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
    
        </div>
    </div>


    

    



</div>
