//@import "../../unsecured-ng-deeps.scss";

::ng-deep {
    .cdk-global-scrollblock {
        overflow-y:auto !important;
    }
}

.close {
    z-index: 10;
    display: flex;
    position: fixed;
    right: 30px;
    top: 26px;
    outline: none;
    border-radius: 50px;
    border: 2px solid #4b4b4b;
    background: #585858;
    padding: 5px;
    mat-icon {
        height: unset;
        width: unset;
        color: white;
        font-size: 40px;
    }

    @media (max-width: 799px) {
        right: 18px;
        top: 14px;
        mat-icon {
            font-size: 24px;
        }
    }
}

.invisible {
    opacity: 0;
    width: 0px;
    height: 0px;
    pointer-events: none;
    visibility: hidden;
}


.content-container {
    width: 100%;
    height:unset !important;
    display: flex;
    height: calc(100% - 75px);
    padding-top: 10px;
    margin: 0px 0px 0px 0px;

    .pdf-document {
        width: calc(100%);
        height: 100%;
        justify-content: center;
    }
}


::ng-deep {
    .popupDocumentClass {
        max-width: unset !important;
        width: 100vw;
        height: 100vh;
        .mat-dialog-container {
            background: rgba(0, 0, 0, 0.97);

            @media (max-width: 799px) {
                padding:10px 15px 10px 10px;
            }
        }
    }
}
