<button (click)="close_dialog()" class="close" tabIndex="-1">
    <mat-icon>close</mat-icon>
</button>


<div class="component-container popupAdAttachments">

    <div #slide class="pdf-viewer-container" >
        <pdf-viewer 
        class="pdf-document" 
        [src]="pdfSrc" 
        [render-text]='false'

        [autoresize]="true"
        [original-size]='true'
        [fit-to-page]='true'

        [fit-to-page]='true' 
        (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>
    </div>

</div>



