@import "../../unsecured-ng-deeps.scss";

::ng-deep .popupChatSearchClass {
    max-width:unset !important;
}
  
  .popup-chat-search {
  
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    user-select: none;
    
    @media (max-width: 1100px) {
      min-width: 50vw;
    }
    @media (max-width: 600px) {
      min-width: 70vw;
    }
  
    .step-name {
        font-weight: 600;
        text-align: center;
        margin: auto auto 20px auto;
        color: #203864;
        cursor: default;
    }
  
    button.submit-button {
      display: flex !important;
      width: 100%;
      font-size: 16px;
      padding: 6px 6px !important;
      border-radius: 40px;
      border: 1px solid #203864;
      background-color: white !important;
      outline: none !important;
  
      mat-icon {
        width: unset;
        height: unset;
        font-size: 25px;
        margin: auto 5px auto auto;
        color: #203864;
      }
      span {
        font-weight: 600;
        margin: auto auto auto 0px;
        color: #203864;
      }
  
      &:hover {
        background: #eeeff3 !important;
        box-shadow: 0px 0px 0px 1px #203864 !important;
      }
      &:active {
        background: #e2e5eb !important;
        box-shadow: 0px 0px 0px 1px #203864 !important;
        transform: scale(0.98);
      }
      transition:transform 200ms;
  
      mat-spinner {
        margin:auto auto;
        circle {
          stroke:rgb(32,56,100);
        }
      }
    }
  
    ::ng-deep {
      .form-item {
        position: relative;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;
        &.input-multiple-lines {
            height: unset !important;
            mat-form-field {
                height: unset !important;
                &.mat-form-field-wrapper {
                    padding-bottom: 27px !important;
                }
            }
        }
        .mat-form-field {
            width: 100%;
            line-height: 1.4;
            height: 80px;
            .mat-form-field-flex {
                background: rgb(255 255 255) !important;
    
                font-weight: 600;
    
                border: 1px solid #d2e0e6;
                border-radius: 30px;
                padding-right: 10px !important;
                padding-left: 20px !important;
                padding-bottom: 3px !important;
                transition: box-shadow 200ms;
            }
            &.mat-focused .mat-form-field-flex {
                box-shadow: 0px 0px 0px 2px rgb(204, 233, 251), 0px 0px 2px 4px rgb(179, 224, 251);
                border: 1px solid #c3e6fb;
            }
            textarea {
                max-height: 180px;
                min-height: 100px;

                scrollbar-color: #76ccff white;
                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background-color: rgba(255, 255, 255, 0.1);
                }
                &::-webkit-scrollbar-thumb {
                    background-image: linear-gradient(0deg, #ffffff00, #76ccff, #ffffff00);
                    border-radius: 20px;
                }
            }
        }
        .mat-form-field-underline {
            display: none !important;
        }
        .mat-form-field-infix {
            border-top: 5px solid transparent !important;
        }
        .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
            margin-top: 0px;
            padding-right: 20px !important;
            padding-left: 20px !important;
        }
        .length-indicator {
            position: absolute;
            right: 15px;
            color: grey;
            font-size: 15px;
            top: 8px;
        }
        mat-form-field .mat-form-field-wrapper {
            padding-bottom: 25px !important;
        }
      }
      .mat-input-element {
          font-size: 14px;
          line-height: 22px !important;
          padding-right: 80px !important;
      }
    }
  }
  
  
  .button-container-close{
    margin: auto 0px auto auto;
    width: 30px;
  }
  
  .close-button{
      display: flex;
      justify-content: center;
      align-items: center;
  }