
  /*
   * Content
   */
   
   

   *{
    font-size: 1.10rem;
    scroll-behavior: smooth;
  }
  
  a {
    color:#333;
  }

  
  .container-fluid {
      padding-left:0;
      padding-right:0;
  }

  
  @media (max-width:1100px) {
      
    [role="main"] {
        display:block;
    }
    #left-container {
        width:100%;
    }
    #right-container {
        width:100%;
        overflow-y:visible;
    }
  }

  @media (min-width:1101px) {
      
    [role="main"] {
        display:flex;
    }
    #left-container {
        width:calc(100% - 450px);
    }
    #right-container {
        width:450px;
        overflow-y:scroll;
    }
  }

  //********************************************
  //********************************************
  //********************************************
  // Left container*****************************
  //********************************************
  //********************************************
  //********************************************

    #left-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }





  //********************************************
  //********************************************
  //********************************************
  // Right container****************************
  //********************************************
  //********************************************
  //********************************************
  #right-container {
    color:white;
    position:relative;
    background:rgb(38, 67, 117);
  }

  


  //**********************************
  //LINE 1****************************
  //**********************************
  .d1-profile-container {
    margin-top:25px;
    width:100%;
    display:flex;
  }

  .d1-profile-container .icon-container {
    width:60px;
    height:60px;
    margin: 0px 15px auto 20px;
  }

  .d1-profile-container .icon-container img {
    width:100%;
    height:100%;
    border-radius:50%;
  }

  .d1-profile-container .d1-container {
    display:inline-block;
    margin: 0px auto 0px 0px;
    text-align:left;
  }

  .d1-profile-container .d1-container .d1-container-name {
    width:100%;
    font-weight: 600;
    font-size:1.3rem;
    text-align:left;
    line-height: 22px;
  }

  .d1-profile-container .d1-container .d1-occupation {
    width:100%;
    font-size:1.0rem;
    text-align:left;
  }
  
  .d1-profile-container .d1-container .d1-container-buttons {
    margin-top:5px;
    width:100%;
    display:flex;
  }
  

  .d1-profile-container .d1-container .d1-container-buttons .button {
      cursor:pointer;
      display:flex;
      text-align:center;
      background-color:rgb(67, 109, 182);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.36);
      color:white;
      height:30px;
      width:130px;
      margin-right:25px;
      border-radius:4px;
      font-weight: bold;
    }

    .d1-profile-container .d1-container .d1-container-buttons .button .logo-subscribe {
        width:18px;
        height:18px;
        margin: auto 0px auto 10px;
        background-image:url("../../assets/img/svg/subscribe.svg");
        background-repeat:no-repeat;
    }

    .d1-profile-container .d1-container .d1-container-buttons .button .logo-message {
        width:20px;
        height:20px;
        margin: auto 0px auto 10px;
        background-image:url("../../assets/img/svg/message.svg");
        background-repeat:no-repeat;
    }

    .d1-profile-container .button span {
        margin: auto auto auto 20px;
        font-size:1rem;
    }

    .d1-profile-container .d1-container .d1-container-other-information {
        display:flex;
        margin-top:5px;
        width:100%;
        font-size:1.0rem;
        color:rgb(32,56,100);
    }


    //**********************************
    //LINE 2****************************
    //**********************************
    .d2-likes-container {
        width:100%;
        overflow:hidden;
        margin-top:25px;
        padding-bottom:10px;
        border-bottom:1px solid rgb(32,56,100);
    }

    .d2-likes-container .line1 {
        display:flex;
        justify-content: space-evenly;
    }

    .d2-likes-container .d2-button {
        cursor:pointer;
        border-radius:15px;
        display:flex;
        width:150px;
        height:38px;
        text-align:center;
        align-self: center;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.36);
    }

    .d2-likes-container .liked .logo-like {
        background-color: rgb(42, 68, 165) !important;
    }

    .d2-likes-container .liked span {
        color: rgb(42, 68, 165) !important;
    }

    
    .d2-likes-container .loved .logo-love {
        background-color: rgb(255, 148, 97) !important;
    }

    .d2-likes-container .loved span {
        color: rgb(255, 148, 97) !important;
    }

    .d2-likes-container .d2-button .logo-like {
        height:25px;
        width:25px;
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
        
        transition:background-color 150ms;
        background-color: rgb(240, 240, 240);
        -webkit-mask:  url("../../assets/img/svg/like-3.svg") no-repeat 50% 50%;
        mask: url("../../assets/img/svg/like-3.svg") no-repeat 50% 50%;
    }

    .d2-likes-container .d2-button .logo-love {
        height:25px;
        width:25px;
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
        
        transition:background-color 150ms;
        background-color: rgb(240, 240, 240);
        -webkit-mask:  url("../../assets/img/svg/love-2.svg") no-repeat 50% 50%;
        mask: url("../../assets/img/svg/love-2.svg") no-repeat 50% 50%;
    }

    .d2-likes-container .d2-button span {
        color:white;
        font-weight: 600;
        margin:auto auto;
    }

    .like-background {
        background-image: linear-gradient(90deg,#2491ee 0,#1cc7f2 100%);
    }
    .love-background {
        background-image: linear-gradient(to right,rgb(160,0,0), rgb(230,0,0));
    }

    .d2-likes-container .line2 {
        display:flex;
        justify-content: space-evenly;
        line-height: 42px;
    }

    .d2-likes-container .line2 .d2-likes, .d2-likes-container .line2 .d2-loves {
        cursor:pointer;
        width:150px;
        height:35px;
        text-align:center;
    }

    .d2-likes-container .line2 .d2-likes {
        border-bottom: 1px solid #2394ee;
    }

    .d2-likes-container .line2 .d2-loves {
        border-bottom: 1px solid #a30000;
    }

    .d2-likes-container .line2 span {
        margin-right:auto;
        font-size: 1.2rem;
    }
    
    .d2-likes-container .line3 {
        cursor:default;
        margin-top:10px;
        margin-left:30px;
    }

    .d2-likes-container .line3 .container {
        display:flex;
    }

    .d2-likes-container .line3 .container * {
        margin:auto 5px auto 0;
        font-size:1rem;
    }

    .d2-likes-container .line4 {
        cursor:default;
        margin-left:30px;
    }

    .d2-likes-container .line4 .container {
        display:flex;
    }

    .d2-likes-container .line4 .container * {
        margin:auto 5px auto 0;
        font-size:1rem;
    }

    .d2-likes-container .line4 .container span:hover {
        cursor:pointer;
        color:rgb(90, 125, 190);
        transition: color 200ms;
    }

    .d2-likes-container .line5 * {
        cursor:default;
        margin-top:5px;
        margin-left:30px;
        font-style:italic;
        font-size:1rem;
    }


    //**********************************
    //LINE 3****************************
    //**********************************
    .d3-ad-container {
        width:100%;
        padding:20px 20px 0px 20px;
        border-bottom:1px solid rgb(32,56,100);
    }

    .d3-ad-container .d3-ad {
        position:relative;
        width:100%;
        height:150px;
        background-size:cover;
        background-image:url("../../assets/img/pub-manga.jpg");
    }
    
    .d3-ad-container .d3-link {
        cursor:pointer;
        margin:0px auto 20px auto;
        font-weight:600;
        text-align:center;
        display:flex;
        height:40px;
        width:100%;
        padding:0px 10px 0px 10px;
        color:white;
        border-radius:0px 0px 10px 10px;
        background-color:rgb(67, 109, 182);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.36);
    }

    .d3-ad-container .d3-link span {
        font-size:1rem;
        margin:auto 20px auto auto;
    }

    .d3-ad-container .d3-link .d3-icon {
        width:20px;
        height:20px;
        background-image:url("../../assets/img/svg/ad-arrow.svg");
        background-repeat: no-repeat;
        margin:auto auto auto 0px;
    }


    //**********************************
    //LINE 4****************************
    //**********************************
    .d4-video-container {
        display:inline-block;
        justify-content: space-evenly;
        width:100%;
        padding-top:20px;
        padding-bottom:20px;
        border-bottom:1px solid rgb(32,56,100);
    }

    .d4-video-container .d4-button {
        cursor:pointer;
        margin:auto auto;
        border-radius:15px;
        display:flex;
        width:200px;
        height:38px;
        text-align:center;
        align-self: center;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.36);
        background-image: linear-gradient(90deg, rgb(126, 80, 168) 0px, rgb(213, 99, 167) 100%);
    }

    .d4-logo {
        height:25px;
        width:25px;
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
        background-image:url("../../assets/img/svg/video.svg");
        background-repeat: no-repeat;
    }

    .d4-video-container .d4-button span {
        color:white;
        font-weight: 600;
        margin:auto auto;
    }

    .d4-video-container .d4-text {
        width:50%;
        padding-top:5px;
        line-height: 1.2rem;
        text-align:center;
        margin:auto auto;
    }

    .d4-video-container .d4-text span {
        cursor:default;
        font-size:1rem;
    }


    //**********************************
    //LINE 5****************************
    //**********************************
    .d5-category {
        display: flex;
        width:100%;
        padding-top:15px;
        justify-content: space-around;
        border-bottom:1px solid rgb(32,56,100);
    }

    .d5-category .opened {
        color:rgb(218, 227, 243);
        text-shadow: -0.05ex 0 rgb(218, 227, 243), 0.05ex 0 rgb(218, 227, 243);
        transition: color 100ms;
        transition: text-shadow 100ms;
    }

    .d5-category div:hover {
        color:rgb(218, 227, 243);
        text-shadow: -0.05ex 0 rgb(218, 227, 243), 0.05ex 0 rgb(218, 227, 243);
        transition: color 100ms;
        transition: text-shadow 100ms;
    }

    .d5-category .opened .bottom-border {
        transition: border 200ms;
        border-bottom:2px solid rgb(218, 227, 243);
        width:100%;
        transition:width 200ms;
    }

    .d5-category div:hover .bottom-border {
        transition: border 200ms;
        border-bottom:2px solid rgb(218, 227, 243);
        width:100%;
        transition:width 200ms;
    }


    .d5-category .category-description {
        position: relative;
        cursor:pointer;
        padding-bottom:15px;
    }
    
    .d5-category .category-comments {
        position: relative;
        cursor:pointer;
        padding-bottom:15px;
    }

    .d5-category .bottom-border {
        position:absolute;
        bottom:-2px;
        width: 0%;
        left: 50%;
        transform: translateX(-50%);
    }


    //category content
    .d6-category-content {
        width:100%;
        height:1500px;
    }

    .d6-category-content .description-container{
        padding:15px;
        width:100%;
        height: 95%;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: rgb(54, 81, 128);
        border-radius: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: rgb(19, 19, 19);  
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(8, 8, 8);  
    }
        
    .d6-category-content .comments-container {
        height:100%;
        width: 100%;
    }

    .d6-category-content .comments-container .my-comment {
        position: absolute;
        bottom: 100px;
        width: 100%;
        height: 60px;
        border-top: 1px solid #e7e7e7;
        padding:10px 15px 10px 15px;
        background-color: #dae3f3;
        display: flex;
        justify-content: space-between;
    }

    .d6-category-content .comments-container .my-comment .icon-profile{
        width:40px;
        height:40px;
        margin:auto auto;
        background-image:url('../../assets/img/svg/profile3.svg');
        background-repeat:no-repeat;
    }

    .d6-category-content .comments-container .my-comment .comment-input {
        position:relative;
        display:flex;
        width: 85%;
        height:40px;
        border-radius:30px;
        background-color:rgb(218,227,243);
    }

    .form-control {
        margin: 0 0 0 0;
        height:100%;
        display: block;
        width: 60%;
        border:none;
        border-radius:2px;
        background-color:rgb(218,227,243);
        -webkit-transition: width 500ms;
        transition: width 500ms;
        -webkit-transition: border .2s ease-in;
        -moz-transition: border .2s ease-in;
        -o-transition: border .2s ease-in;
        transition: border .2s ease-in;
    }


    .search-type {
        position:relative;
        width:25%;
    }

     .search-type:after {
        content:"";
        position: absolute;
        left:0;
        top:15%;
        width:2px;
        height:70%;
        background-color:rgb(218,227,243);
    }

    .search-selector {
        width:100%;
        height:100%;
        
    }

    .large-form {
        width:100%;
    }

     .form-control-dark {
        color: #333;
        background-color:rgb(252,252,252); //ADAM
        border-radius: 25px;

    }
    