

    <div class="offer-main-container">


        <div class="offer-container">
            
            <div class="offer-left-container">
                <img [src]="thumbnail_picture">
            </div>


            <div class="offer-right-container">


                <!--TOP - CONTAINER -->
                <div class="top-container-1">

                    <div class="title-container ">
                        <div class="title">
                            {{item.title}}
                        </div>
                    </div>


                    <!--<div class="right-container">
                        <span *ngIf="item.remuneration">
                            <span *ngIf="item.price_value!='0'">	{{item.price_value}}</span>
                            <span>	&#8364;</span>
                        </span>
            
                        <div *ngIf="visitor_mode" class="more-information">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                <mat-icon>no_encryption</mat-icon>
                                <span>Signaler</span>
                                </button>
                                <button mat-menu-item (click)="archive()">
                                <mat-icon>cloud_download</mat-icon>
                                <span>Archiver</span>
                                </button>
                            </mat-menu>
                        </div>
                        <div *ngIf="!visitor_mode" class="more-information">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="update()">
                                <mat-icon>no_encryption</mat-icon>
                                <span>Remettre à jour</span>
                                </button>
                                <button mat-menu-item (click)="delete()">
                                <mat-icon>cloud_download</mat-icon>
                                <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>-->

                </div>

                <!--END TOP - CONTAINER -->

                <div class="top-container-2">
                    <!--********************-->
                    <!--Author container-->
                    <!--********************-->
                    <div class="author-container">
                        <div class="left-container">
                            <img [src]="profile_picture">
                        </div>
                        <div class="right-container">
                            <span class="author-name" *ngIf="pseudo!=''">
                                <a href="/account/{{pseudo}}/{{item.id_user}}">
                                    {{author_name}}
                                </a>
                            </span>

                            <div class="author-description">
                                <mat-icon style="font-size: 20px;margin: 0px -4px 0px -2px;">person</mat-icon>
                                <span>{{item.my_description}}</span>
                            </div>
                            
                            <div class="author-location">
                                <mat-icon style="font-size: 20px;margin: 0px -4px 0px -2px;">location_on</mat-icon>
                                <span>{{item.location}}</span>
                            </div>

                            <!--<span class="author-description" *ngIf="item.target_two == null">Cible : {{item.target_one}}</span>
                            <span class="author-description" *ngIf="item.target_two != null">Cibles : {{item.target_one}}, {{item.target_two}}</span>-->
                        </div>
                    </div>


                    <div class="cible-container" *ngIf="item.target_two == null">
                        <span>Cible</span>
                        <div class="cible-description">
                            <mat-icon style="font-size: 20px;margin: 0px -4px 0px -2px;">person</mat-icon>
                            <span>{{item.target_one}}</span>
                        </div>
                    </div>
                    <div class="cible-container" *ngIf="item.target_two != null">
                        <span>Cibles</span>
                        <div class="cible-description">
                            <mat-icon style="font-size: 20px;margin: 0px -4px 0px -2px;">person</mat-icon>
                            <span>{{item.target_one}}</span>
                        </div>
                        <div class="cible-description">
                            <mat-icon style="font-size: 20px;margin: 0px -4px 0px -2px;">person</mat-icon>
                            <span>{{item.target_two}}</span>
                        </div>
                    </div>

                    
                   
                    <a  href='/ad-page/{{item.title}}/{{item.id}}'>
                        <button mat-raised-button class="ad-button style1" >
                            <span>Consulter</span>
                        </button>
                    </a>
                    
                    
                </div>


                    <!-- ---------------------------middle-container ------------->
                    <!-- ---------------------------middle-container ------------->
                    <!-- ---------------------------middle-container ------------->
                    <!-- ---------------------------middle-container------------->
                    <!-- ---------------------------middle-container ------------->
                


                <div class="middle-container">

                    <ng-container *ngIf="see_responses==0 && attachments_retrieved">

                        <div class="categories">
                            <div class="category" [ngClass]="{'opened': category_index == 0 }" (click)="open_category(0);">
                                <mat-icon>description</mat-icon>
                                <span>Description</span>
                            </div>
                            <div class="category" [ngClass]="{'opened': category_index == 1 }" (click)="open_category(1);">
                                <mat-icon>image</mat-icon>
                                <span>Images ({{list_of_pictures.length}})</span>
                            </div>
                            <div class="category" [ngClass]="{'opened': category_index == 2 }" (click)="open_category(2);">
                                <mat-icon>picture_as_pdf</mat-icon>
                                <span>Fichiers ({{list_of_attachments.length}})</span>
                            </div>
                        </div>


                        <!-- ---------------------------description------------->
                         <!-- ---------------------------description------------->
                        
                        <div *ngIf="category_index==0" class="section-container" style="display:block">
                            <div >
                                Catégorie : {{item.type_of_project}}
                            </div>
                            <div>
                                <span *ngIf="item.remuneration">Projet rémunéré </span>
                                <span *ngIf="item.price_value!='0'"> : {{item.price_value}}</span>
                                <span *ngIf="item.price_value!='0'">	&#8364;</span>
                            </div>
                            <div>
                                {{date_to_show}}
                            </div>
                            <div>
                                <span *ngIf="item.number_of_responses==0">Aucun retours</span>
                                <span *ngIf="item.number_of_responses==1">{{item.number_of_responses}} retour</span>
                                <span *ngIf="item.number_of_responses>1">{{item.number_of_responses}} retours</span>
                            </div>
                            <div >
                                {{item.description}}
                            </div>
                            
                        </div>

                        <!-- ---------------------------LIST OF PICTURES------------->
                         <!-- ---------------------------LIST OF PICTURES ------------->

                        <div *ngIf="category_index==1" class="section-container" style="display:flex;flex-wrap: wrap;">
                            <div *ngFor="let picture of list_of_pictures, let i=index" (click)="read_pictures(i)" class="image-container">
                                <img [src]="list_of_pictures[i]" style="width:100%;height:100%;object-fit: cover;">
                            </div>
                        </div>

                          <!-- ---------------------------LIST OF FILES------------->
                         <!-- ---------------------------LIST OF FILES ------------->

                        <div *ngIf="category_index==2" class="section-container">
                            <div *ngFor="let attachment of list_of_attachments, let i=index" class="attachments-container">
                                <div *ngIf="list_of_attachments[i]" (click)="read_attachment(i)" class="attachment-item">
                                    <mat-icon>picture_as_pdf</mat-icon>
                                </div>
                                <span><i>{{list_of_attachments_name[i]}}</i></span>
                            </div>
                        </div>



                    </ng-container>



                    <!-- ---------------------------LIST OF RESPPONSES TO PUT IN AD-PAGE ------------->
                    <!-- ---------------------------LIST OF RESPPONSES TO PUT IN AD-PAGE ------------->
                    <!-- ---------------------------LIST OF RESPPONSES TO PUT IN AD-PAGE ------------->
                    <!-- ---------------------------LIST OF RESPPONSES TO PUT IN AD-PAGE ------------->
                    <!-- ---------------------------LIST OF RESPPONSES TO PUT IN AD-PAGE ------------->




                    <ng-container *ngIf="see_responses==1">

                        <div class="category-title">
                            <span>Liste des réponses</span>
                        </div>


                        <div *ngIf="answers_retrieved" class="responses-container">

                            <div *ngFor="let item of list_of_profile_pictures; let i=index" class="response">

                                <div class="author-container">
                                    <div class="left-container">
                                        <img  [src]="list_of_profile_pictures[i]">
                                    </div>
                                    <a href="/account/{{list_of_pseudos[i]}}/{{list_of_ids[i]}}">
                                        <div class="right-container">
                                            <div class="author-name">{{list_of_authors_name[i]}} </div>
                                            <div class="author-description">@{{list_of_pseudos[i]}}</div>
                                            <div class="author-description">{{list_of_dates[i]}}</div>
                                        </div>
                                    </a>
                                </div>

                                            
                                <button mat-raised-button class="style1" (click)="see_response(i);">
                                    <span>Voir la réponse</span>
                                </button>


                                <!--<button (click)="see_response(i)">Voir la réponse</button>-->

                            </div>

                        </div>
                                

                    </ng-container>
                    

                    <ng-container *ngIf="see_responses==2">
                        <div *ngIf="response_attachments_retrieved" class="response-2">

                            <div style="height:40px;margin-top:20px;">
                                <button mat-raised-button class="style1" (click)="return_to_ad(1)">
                                    <span>Retour</span>
                                </button>
                            </div>


                            <div class="categories">
                                <div class="category" [ngClass]="{'opened': category_index == 0 }" (click)="open_category(0);">
                                    <mat-icon>description</mat-icon>
                                    <span>Description</span>
                                </div>
                                <div class="category" [ngClass]="{'opened': category_index == 1 }" (click)="open_category(1);">
                                    <span>Images ({{response_list_of_pictures.length}})</span>
                                </div>
                                <div class="category" [ngClass]="{'opened': category_index == 2 }" (click)="open_category(2);">
                                    <span>Fichiers ({{response_list_of_attachments.length}})</span>
                                </div>
                            </div>



                           
                            
                            <div class="category-content-1">
                                <div *ngIf="category_index==0" class="section-container-2">
                                    {{response_to_read.description}}
                                </div>


                                <div *ngIf="category_index==1" class="section-container-2" style="display:flex;flex-wrap: wrap;">

                                    <div *ngFor="let picture of response_list_of_pictures, let i=index" class="image-container" (click)="read_pictures_response(i)">
                                        <img [src]="response_list_of_pictures[i]" style="width:100%;height:100%;object-fit: cover;">
                                    </div>

                                </div>


                              

                                <div *ngIf="category_index==2" class="section-container-2">
                                    <div *ngFor="let attachment of response_list_of_attachments, let i=index" class="attachments-container">
                                        <div *ngIf="response_list_of_attachments[i]" (click)="read_attachment_response(i)"  class="attachment-item">
                                            <img src='../../assets/img/pdf_image.png' style="height:25px;width:25px;object-fit: contain;">
                                        </div>
                                        <span><i>{{response_list_of_attachments_name[i]}}</i></span>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </ng-container>


                </div>

                


                
                

            </div>


        </div>

    </div>
    
