


  a {
    color:unset;
  }
  

  //TOP CONTAINER
  .offer-main-container{
    display:block; 
    width:1100px;
    height:380px;
    margin:auto auto;
    background:rgb(252,252,252);
    box-shadow: 0px 0px 10px rgb(50, 69, 80);
  }



  .offer-container {
    display:flex;
    height:100%;
  }


  .offer-container .offer-left-container{
    width:280px;
    height:100%;
  }

  .offer-container .offer-left-container img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    margin: auto auto;
  }

  .offer-container .offer-right-container{
    width:calc(100% - 280px);
    display:flex;
    flex-direction:column;
    height:100%;
    padding:0px 15px 0px 15px;
  }


  .top-container-1 {
    display:flex; 
    width:100%;
    height:45px;
    //border-bottom: 1px solid #e7e7e7;
  }


  .top-container-1 .title-container {
    display:flex;
    height:100%;
    width:calc(100% - 100px);
    text-align:left;
  }
  
  .top-container-1 .title-container .title {
    margin: auto auto auto 15px;
    font-size:21px;
    font-weight: bold;
    color: rgb(32, 56, 100);
    cursor: default;
    //overflow
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


  .top-container-1 .right-container {
    width:100px;
    height:100%;
    display:flex;
  }

  .top-container-1 > .right-container > span {
    margin:auto 5px auto auto;
  }

  .top-container-1 .right-container .more-information {
    margin:auto 10px auto 5px;
  }
  .top-container-1 .right-container .more-information button {
    outline:none !important;
  }
  ::ng-deep .mat-menu-item {
    outline:none !important;
  }
  .top-container-1 .right-container .more-information .mat-icon {
    margin:auto auto !important;
    font-size: 30px;
    width: 40px;
  }


  .offer-container .offer-right-container .top-container-2 {
      display:flex; 
      width:100%;
      height:65px;
  }

  .offer-container .offer-right-container .middle-container {
    
    height: calc(100% - 45px - 65px - 40px );
    width:100%;
    display:flex;
    flex-direction: column;
  }
  
.author-container {
  display: flex;
  min-width: fit-content;
  max-width: 330px;
}

.author-container .left-container {
  width: 45px;
  height: 45px;
  min-width: 45px !important;
  min-height: 45px !important;
  margin: 5px auto auto auto;
}

.author-container .left-container img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.author-container .right-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc( 100% - 40px );
  margin: 0px 10px auto 8px;
}
.author-container .right-container span.author-name {
  font-size: 17px;
  line-height: 25px;
  font-weight:bold;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.author-container .right-container .author-description {
  display:flex;
  font-size:14px;
  line-height: 18px;
}

.author-container .right-container .author-location {
  display:flex;
  font-size:14px;
  height:20px;
}


.arrow-container {
  height:100%;
  width: 65px;
  min-width:65px;
}


.cible-container {
  height:100%;
  width: -webkit-fill-available;
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 20px;
}

.cible-container .cible-description {
  display:flex;
  font-size:14px;
  line-height: 18px;
}


.ad-button {
  margin:auto auto;
  width:170px;
  min-width: 170px !important;
  padding:3px 18px;
}


::ng-deep .ad-button .mat-button-wrapper span{
  margin:auto 5px auto auto !important;
}


.offer-container .offer-right-container .bottom-container {
  width:100%;
  height: 40px;
  display:flex;
}

.offer-container .offer-right-container .bottom-container .left-container {
  margin:auto auto 0px 0px;
  font-size:16px;
  display:flex;
}

.offer-container .offer-right-container .bottom-container .right-container {
  margin:auto 0px 0px auto;
  font-size:16px;
  color:rgb(118,113,113);
}



.offer-container .offer-right-container .middle-container .categories {
  height: 40px;
  width:100%;
  display:flex;
  justify-content: space-between;
}

.offer-container .offer-right-container .middle-container .category {
  position:relative;
  text-align: center;
  font-size: 17px;
  width: 33.3333%;
  display:flex;
  cursor:pointer;
  border:0px solid black;
  transition:border 200ms;
}

.offer-container .offer-right-container .middle-container .category.opened {
  text-shadow: -0.02ex 0 rgb(32,56,100), 0.02ex 0 rgb(32,56,100);
}

.offer-container .offer-right-container .middle-container .category:hover {
  text-shadow: -0.02ex 0 rgb(32,56,100), 0.02ex 0 rgb(32,56,100);
}


.offer-container .offer-right-container .middle-container .category span {
  margin:auto auto;
}


.offer-container .offer-right-container .middle-container .bottom-border {
  position:absolute;
  bottom:-2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.offer-container .offer-right-container .middle-container .opened .bottom-border {
  transition: border 100ms;
  border-bottom:2px solid rgb(32,56,100);
  width:100%;
  transition:width 100ms;
}

.offer-container .offer-right-container .middle-container .category:hover .bottom-border {
  transition: border 200ms;
  border-bottom:2px solid rgb(32,56,100);
  width:100%;
  transition:width 100ms;
}


.offer-container .offer-right-container .middle-container .section-container {
  overflow-y:auto;
  word-break: break-word;
  font-size: 15px;
  padding:15px 0px 15px 0px;
  width:100%;
  height: calc(100% - 40px);
}


.offer-container .offer-right-container .middle-container .attachment-item {
  border: 3px solid #f7f7f7;
  border-radius: 10px;
  margin-top: 10px;
  height: 45px;
  display: flex;
  cursor:pointer;
}

.offer-container .offer-right-container .middle-container .attachment-item:hover {
  background:#f7f7f7;
}


.offer-container .offer-right-container .middle-container .attachment-item img {
  height: 25px;
  width: 25px;
  margin: auto 5px auto auto;
  object-fit: contain;
  margin-right: 10px;
}


.offer-container .offer-right-container .middle-container .attachment-item div {
  margin:auto auto auto 0px;
}


.category-title {
  cursor:default;
  width:100%; 
  margin-top:20px;
  height:30px;
  font-size: 17px;
  text-align: center;
}

.responses-container {
  width:100%;
  height:calc(100% - 50px);
  overflow-y:auto;
}

.responses-container .response {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.responses-container .response button {
  height: 40px;
  align-self: center;
}


.responses-container .response .right-container {
  width:unset !important;
}

.responses-container .response .author-container > .left-container {
  margin:10px auto auto auto !important;
}

.response-2 {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}


.response-2 .category-content-1 {
  height:calc(100% - 60px - 40px);
}

.response-2 .section-container-2 {
  overflow-y:auto;
  word-break: break-word;
  font-size: 15px;
  padding:15px 0px 15px 0px;
  width:100%;
  height: 100%;
}


