


  a {
    color:unset;
  }
  

  //TOP CONTAINER
  .offer-main-container{
    display:block; 
    width:950px;
    height:470px;
    margin:auto auto;
    background:rgb(252,252,252);
    box-shadow: 0px 0px 10px rgb(50, 69, 80);
    border-radius: 20px;
    padding: 2px 10px;
  }

  .top-container {
    display:flex; 
    width:100%;
    height:60px;
    //border-bottom: 1px solid #e7e7e7;
  }


  .top-container .title-container {
    display:flex;
    height:100%;
    width:calc(100% - 100px);
    text-align:left;
  }
  
  .top-container .title-container .title {
    margin: auto auto auto 15px;
    font-size:21px;
    font-weight: bold;
    color: rgb(32, 56, 100);
    cursor: default;
    //overflow
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


  .top-container .right-container {
    width:100px;
    height:100%;
    display:flex;
  }

  .top-container > .right-container > span {
    margin:auto 5px auto auto;
  }

  .top-container .right-container .more-information {
    margin:auto 10px auto 5px;
  }
  .top-container .right-container .more-information button {
    outline:none !important;
  }
  ::ng-deep .mat-menu-item {
    outline:none !important;
  }
  .top-container .right-container .more-information .mat-icon {
    margin:auto auto !important;
    font-size: 30px;
    width: 40px;
  }


  .offer-container {
    display:flex;
    height:calc(100% - 60px);
    padding:5px 15px 15px 15px;
  }


  .offer-container .offer-left-container{
    width:300px;
    height:100%;
  }

  .offer-container .offer-left-container img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    margin: auto auto;
  }

  .offer-container .offer-right-container{
    width:calc(100% - 300px);
    height:100%;
    padding:0px 15px 0px 15px;
  }


  .offer-container .offer-right-container .top-container {
      display:flex; 
      width:100%;
      height:80px;
  }

  .offer-container .offer-right-container .middle-container {
    height:calc(100% - 80px - 40px);
    width:100%;
    display:flex;
    flex-direction: column;
  }
  
.author-container {
  display: flex;
  width: calc(100% - 180px);
  margin-top: 10px;
}

.author-container .left-container {
  width: 45px;
  height: 45px;
  min-width: 45px !important;
  min-height: 45px !important;
  margin: 5px auto auto auto;
}

.author-container .left-container img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.author-container .right-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc( 100% - 40px );
  margin: 0px 10px auto 8px;
}
.author-container .right-container span.author-name {
  font-size: 17px;
  line-height: 22px;
  font-weight:bold;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.author-container .right-container span.author-description {
  font-size:14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.ad-button {
  margin:auto 0px auto auto;
  width:180px;
  padding:3px 18px;
}


::ng-deep .ad-button .mat-button-wrapper span{
  margin:auto auto auto 5px !important;
}


.offer-container .offer-right-container .bottom-container {
  width:100%;
  height: 40px;
  display:flex;
}

.offer-container .offer-right-container .bottom-container .left-container {
  margin:auto auto 0px 0px;
  font-size:16px;
  display:flex;
}

.offer-container .offer-right-container .bottom-container .right-container {
  margin:auto 0px 0px auto;
  font-size:16px;
  color:rgb(118,113,113);
}



.offer-container .offer-right-container .middle-container .categories {
  height: 40px;
  width:100%;
  display:flex;
  justify-content: space-between;
}

.offer-container .offer-right-container .middle-container .category {
  position:relative;
  text-align: center;
  font-size: 17px;
  width: 33.3333%;
  display:flex;
  cursor:pointer;
  border:0px solid black;
  transition:border 200ms;
}

.offer-container .offer-right-container .middle-container .category.opened {
  text-shadow: -0.02ex 0 rgb(32,56,100), 0.02ex 0 rgb(32,56,100);
}

.offer-container .offer-right-container .middle-container .category:hover {
  text-shadow: -0.02ex 0 rgb(32,56,100), 0.02ex 0 rgb(32,56,100);
}


.offer-container .offer-right-container .middle-container .category span {
  margin:auto auto;
}


.offer-container .offer-right-container .middle-container .bottom-border {
  position:absolute;
  bottom:-2px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.offer-container .offer-right-container .middle-container .opened .bottom-border {
  transition: border 100ms;
  border-bottom:2px solid rgb(32,56,100);
  width:100%;
  transition:width 100ms;
}

.offer-container .offer-right-container .middle-container .category:hover .bottom-border {
  transition: border 200ms;
  border-bottom:2px solid rgb(32,56,100);
  width:100%;
  transition:width 100ms;
}


.offer-container .offer-right-container .middle-container .section-container {
  overflow-y:auto;
  word-break: break-word;
  font-size: 15px;
  padding:15px 0px 15px 0px;
  width:100%;
  height: calc(100% - 40px);
}


.offer-container .offer-right-container .middle-container .section-container .attachment-item {
  border: 3px solid #f7f7f7;
  border-radius: 10px;
  margin-top: 10px;
  height: 45px;
  display: flex;
  cursor:pointer;
}

.offer-container .offer-right-container .middle-container .section-container .attachment-item:hover {
  background:#f7f7f7;
}


.offer-container .offer-right-container .middle-container .section-container .attachment-item img {
  height: 25px;
  width: 25px;
  margin: auto 5px auto auto;
  object-fit: contain;
  margin-right: 10px;
}


.offer-container .offer-right-container .middle-container .section-container .attachment-item div {
  margin:auto auto auto 0px;
}











    /*.profile-container {
        display:flex;
        height:100%;
        width:$width-250;
        border-right:1px solid rgb(231, 231, 231);
    }*/

    /*
    .author-container {
      display: flex;
      width: 80%;
    }
  
  .author-container .left-container {
      width: 55px;
      height: 55px;
      min-width: 55px !important;
      min-height: 55px !important;
      margin: 3px 5px auto 15px;
  }
  
  .author-container .left-container img {
      width: 100%;
      height: 100%;
      border-radius: 50px;
  }
  .author-container .right-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 60%;
    margin: auto auto auto 5px;
}
  .author-container .right-container  .right-left-container {
      display: block;
      text-align: left;
      width: 100%;
      margin: auto auto auto 5px;
  }
  .author-container .right-container  .right-left-container div.author-name {
      font-size: 16px;
      line-height: 18px;
      font-weight:bold;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
  }

  .author-container .right-container  .right-left-container div.my_description {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
  .author-container .right-container  .right-left-container div.location {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
  
  .author-container .right-container  .right-left-container div.author-description {
      font-size:15px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
  }

  .author-container  .right-right-container {
    display: block;
    text-align: left;
    width: 60%;
    margin: 20px auto auto 5px;
}

.author-container   .right-right-container div.target {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}*/

    .options-container {
      display:flex;
      height:100%;
      width:20%;
    }

    
  .options-container .apply-button {
    cursor:pointer;
    background:rgb(32,56,100);
    color:white;
    margin:auto auto;
    padding:5px 15px 5px 15px;
    border-radius:10px;
    font-weight: bold;
  }



  .options-container .icon-option {
    cursor:pointer;
    background-image:url('../../assets/img/svg/cloud.svg');
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
    margin: auto 10px;
  }

  .options-container .more-information {
    margin:auto 5px;
  }

  .middle-container .left-container {
    //width:50%;
    //height:100%;
    width: 100%;
    height: calc(100% - 40px);
    //border-bottom: 1px solid #e7e7e7;
    //border-right:1px solid rgb(231, 231, 231);
  }

  .middle-container .right-container {
    width:50%;
    height:100%;
  }

  //Description and attachments

  .category .active {
      color:rgb(32,56,100);
      font-weight: 600;
      border-bottom:3px solid rgb(32,56,100);
  }

  .category div:hover {
      color:rgb(32,56,100);
      font-weight: 600;
      border-bottom:3px solid rgb(32,56,100);
  }


  .category-description {
      cursor:pointer;
      font-size: 16px;
      margin-top:5px;
      padding-bottom:5px;
  }

  .category-description2 {
    font-size: 16px;
    margin-top:5px;
    padding-bottom:5px;
}

  .category-attachments {
      cursor:pointer;
      font-size: 16px;
      margin-top:5px;
      padding-bottom:5px;
  }


  //category content
  .category-content-1 {
      width:100%;
      height: calc(100% - 50px);
  }


  ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      }
      
      ::-webkit-scrollbar-track {
      background: #f5f5f5;
      border-radius: 2px;
      }
      
      ::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: #ccc;  
      }
      
      ::-webkit-scrollbar-thumb:hover {
      background: #999;  
      }

  .category-content-1 .attachments-container {
    overflow-y:scroll;
    padding:15px;
    width:100%;
    height: 95%;
  }
  
  

  .middle-container .left-container .footer-content .footer-description {
    margin:auto 20px;
    font-size:1rem;
    color:rgb(118,113,113);
    cursor:default;
  }


  .swiper-container {
    width: 95%;
    height: 100%;
    margin:auto auto;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
    
    .swiper-button-next, .swiper-button-prev {
      color:rgb(32,56,100);
      width:50px;
      height:50px;
    }
//********************************************
  //********************************************
  //********************************************
  // Left container*****************************
  //********************************************
  //********************************************
  //********************************************

  #left-container {
    overflow-y:auto;
    color:white;

    //background: linear-gradient(180deg, rgb(0, 0, 0), rgb(32, 56, 100));
    background:linear-gradient(180deg, #182338, #182338);

    padding:0px 20px 20px 20px;
    position: relative;
}

#left-container .first-div {
    padding: 20px 20px 0px 20px;
    overflow:auto;
    background: rgb(24, 35, 56);
}


#left-container .name-container {
    display:flex;
    width:100%;
    height:30px;
    margin-top:10px;
    margin-bottom:10px;
}
#left-container .name-container span {
    margin:auto auto;
    font-size:1.4rem;
    color:white;
}

#left-container .chapter-container {
    width:100%;
    display:flex;
    height:40px;
    margin-bottom:10px;
}



#left-container .top-container {
    width:100%;
    height:50px;
}

#left-container .top-container .dropdowns-container {
    display:flex;
    justify-content: space-between;
    border-radius:0px 0px 8px 8px;
    height:100%;
}

#left-container .top-container .options-container {
    position:relative;
    margin:auto auto;
    height:100%;
    display:flex;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
    box-shadow: 0px -1px 31px rgba(0, 0, 0, 0.5);
    border-radius:25px;
    background:rgb(32, 56, 100);
}

#left-container .top-container .options-container .icons-container {
    width:30px;
    height:100%;
    display:flex;
    margin:auto 10px;
}


#left-container .top-container .options-container .icon {
    cursor:pointer;
    font-size: 30px;
    margin: auto 5px auto 5px;
    height: 30px;
    width: 30px;
}


    
#left-container .top-container .options-container .pages-controller-container {
    height:100%;
    display:flex;
    align-items: center;
    margin:auto 10px auto 20px;
}

#left-container .top-container .options-container .pages-controller-container input {
    width:50px;
    color:rgb(33, 37, 41);
    font-size:1.1rem;
    text-align:center;
    margin:0px 10px;
    border:1px solid grey;
    border-radius:3px;
}


#left-container .content-container {
    width:100%;
    height:calc( 100% - 50px - 50px );
    margin:0px 0px 0px 0px;
}


#left-container .pdf-document-container {
    display:flex;
    width:100%;
}



#left-container .pdf-document {
    width:calc(100%);
    height:100%;
    justify-content: center;
}



#left-container .recommendations {
width:100%;
display:flex;
flex-direction: column;
}


#left-container .title {
display:flex;
cursor: pointer;
margin: 20px 20px 10px 20px;
text-align: center;
padding: 10px 20px 10px 20px;
background: rgb(24, 35, 56);
border-radius: 10px;
text-align: center;
justify-content: center;
transition:all 200ms;
}

#left-container .title.opened {
text-shadow: -0.02ex 0 rgb(255, 255, 255), 0.02ex 0 rgb(255, 255, 255);
background: rgb(32, 56, 100);
box-shadow: 0px 0px 18px 0px rgb(36, 56, 93);
border: 1px solid rgb(20, 34, 60);
}

#left-container .title:hover span {
color:white;
text-shadow: -0.02ex 0 rgb(255, 255, 255), 0.02ex 0 rgb(255, 255, 255);
}

#left-container .title span {
font-size:20px;
color:rgb(219, 219, 219);
transition:all 200ms;
}

#left-container .title.opened span {
text-shadow: -0.02ex 0 rgb(255, 255, 255), 0.02ex 0 rgb(255, 255, 255);
color:white;
}

/*
#left-container .recommendations .title:before, .title:after {
content: "";
flex: 1 1;
border-bottom: 2px solid white;
margin: auto;
}*/


#left-container .recommendations .cols {
display:flex;
flex-wrap:wrap;
justify-content: center;
} 

#left-container .recommendations .col1, 
#left-container .recommendations .col2, 
#left-container .recommendations .col3  {
min-width:400px;
margin-top: 20px;
display:flex;
flex-direction: column;
margin-left:20px;
margin-right:20px;
border: 1px solid #0c1b35;
border-radius: 20px;
box-shadow: 0px 0px 18px 0px #24385d;
background:rgb(32,56,100);
}

.genre {
margin:10px auto 10px auto;
}
.genre span {
font-size:20px;
font-weight: bold;
}


::ng-deep #left-container .recommendations .col-book,
::ng-deep #left-container .recommendations .final-thumbnail,
::ng-deep #left-container .recommendations .col-writing {
margin:30px auto 20px auto !important;
}


::ng-deep .artwork-writing .ng2-pdf-viewer-container::-webkit-scrollbar {
display: none;
}

::ng-deep .thumbnails-contents .ng2-pdf-viewer-container {
overflow-y: hidden;
}

//SumoSelect

::ng-deep .container-fluid main #left-container .SumoSelect > .CaptionCont > label > i {
background-image:none !important;
background-color: rgb(218, 227, 243);
-webkit-mask:  url("../../assets/img/svg/arrow-down-2.svg") no-repeat 50% 50%;
mask: url("../../assets/img/svg/arrow-down-2.svg") no-repeat 50% 50%;
}

::ng-deep .container-fluid main #left-container .SumoSelect {
  width:unset !important;
  margin:auto auto;
}

::ng-deep .container-fluid main #left-container .SumoSelect > p.CaptionCont > span {
color:white;
margin: auto 0 auto auto;
height: 100%;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
}

::ng-deep .container-fluid main #left-container .SumoSelect .optWrapper {
left:unset;
right:0 !important;
}



//*********************************************************************
//*********************************************************************
//Content-container : Swiper styles
//*********************************************************************
//*********************************************************************


.swiper-container {
    padding:20px 0px 20px 0px;
    margin:auto 0px auto auto;
    width:100%;
    //transition:width 200ms;
    height:100%;
}
.swiper-wrapper {
    position:relative;
}

  
::ng-deep .swiper-slide {
    width:100%;
    height:100%;
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .swiper-slide .slide-container {
    width: 100%;
    height: 100%;
    display:flex;
    //Without zoom
    overflow-y:unset;
}

::ng-deep .slide-container::-webkit-scrollbar {
    display: none !important;
}

.slide-container-ZM {
    overflow-y:scroll !important;
}

::ng-deep .swiper-slide .slide-container .slide-container-img {
    margin:auto auto;
    object-fit:contain;
    //Without zoom
    max-width:100%;
    max-height:100%;
}

.slide-container-img-ZM {
    //max-width:unset !important;
    max-height:unset !important;
    width:100%;
    
}

::ng-deep .swiper-button-prev, ::ng-deep .swiper-button-next  {
    outline:none !important;
    color:white !important;
}

::ng-deep .swiper-scrollbar-drag {
    background:white !important;
}

