<div class="thumbnail-ad" [ngClass]="{'not-ad-page':!for_ad_page,'for-ad-page':for_ad_page}">

    <div *ngIf="!thumbnail_picture_received" class="global-container " >
        <div class="left-container unset-margin no-border-style shiny">
            <div class="thumbnail-picture">

            </div>
        </div>
        <div class="right-container-loading">
        </div>
    </div>

    <a *ngIf="thumbnail_picture_received" class="global-container"  (click)="open_popup($event)" [href]="get_artwork()" target="_blank" [@enterAnimation]>


        <div *ngIf="type_of_profile=='account' " class="absolute-selector" [ngClass]="{'invisible':!archive_retrieved}">
            <button class="optionsMenu" tabIndex="-1" [matMenuTriggerFor]="options" (click)="stop($event)">
                <mat-icon [ngClass]="{'invisible': !show_icon }">more_vert</mat-icon>
            </button>
            <mat-menu #options="matMenu" xPosition="before" class="thumbnail-ad-menu">
                <button mat-menu-item (click)="archive()" *ngIf="!ad_archived && visitor_mode" class="thumbnail-ad-menu-item">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">cloud_download</mat-icon>
                    <span>Archiver</span>
                </button>
                <button mat-menu-item (click)="unarchive()" *ngIf="ad_archived && visitor_mode" class="thumbnail-ad-menu-item">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">cloud_download</mat-icon>
                    <span>Désarchiver</span>
                </button>
                <button *ngIf="visitor_mode && !(list_of_reporters && list_of_reporters.indexOf(id_user)>=0)" class="thumbnail-ad-menu-item" tabIndex="-1" mat-menu-item (click)="report()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                    <span>Signaler</span>
                </button>
                <button *ngIf="visitor_mode && (list_of_reporters && list_of_reporters.indexOf(id_user)>=0)" class="thumbnail-ad-menu-item" tabIndex="-1" mat-menu-item (click)="cancel_report()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                    <span>Annuler le signalement</span>
                </button>
                <button *ngIf="!visitor_mode" mat-menu-item (click)="edit_thumbnail()" class="thumbnail-ad-menu-item">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">cloud_download</mat-icon>
                    <span>Editer la miniature</span>
                </button>
            </mat-menu>
        </div>




        <div class="left-container no-border-style">
            <img #image *ngIf="!in_ad_page" [lazyLoad]="thumbnail_picture" loading="lazy" (load)="load_thumbnail()"
                [ngClass]="{'invisible':!thumbnail_is_loaded}" >
            <img #image *ngIf="in_ad_page" [src]="thumbnail_picture_safe" (load)="load_thumbnail()"
            [ngClass]="{'invisible':!thumbnail_is_loaded}" >
        </div>


        <div class="right-container">

            <div class="name">
                <span>{{item.title}}</span>
            </div>

            <div class="top-container-2">
                <div class="author-container">

                    <a [routerLink]=open_account() (click)="stop($event)" class="left-container"  style="border-radius: 50px;" [ngClass]="{'shiny':!pp_is_loaded}"
                    matTooltip="Voir le profil de @{{pseudo}}"
                    matTooltipClass='tooltip-thumbnail-ad' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">
                        <img  *ngIf="!in_ad_page" [lazyLoad]="profile_picture" loading="lazy" (load)="load_pp()" [ngClass]="{'invisible':!pp_is_loaded}">
                        <img *ngIf="in_ad_page" [src]="profile_picture_safe" (load)="load_pp()" [ngClass]="{'invisible':!pp_is_loaded}">
                    </a>

                    <div class="right-container">
                        
                        <div class="author-description-container">
                            <span class="author-description loading shiny" *ngIf="!profile_data_retrieved">
                               
                                
                            </span>
                            <span class="author-description name" *ngIf="profile_data_retrieved">
                                <a [routerLink]=open_account() (click)="stop($event)"
                                matTooltip="Voir le profil de @{{pseudo}}"
                                matTooltipClass='tooltip-thumbnail-ad' 
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="200">
                                   {{author_name}} 
                                </a>
                                
                                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="certified_account"
                                matTooltip="Compte certifié" 
                                matTooltipClass='linkarts-tooltip' 
                                [matTooltipPosition]="'below'"
                                [matTooltipShowDelay]="200">verified</mat-icon>
                                
                            </span>
                        </div>
                        
                        <div class="author-description-container">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">person</mat-icon>
                            <span class="author-description" >{{item.my_description}}</span>
                        </div>
                        <div class="author-description-container">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">location_on</mat-icon>
                            <span class="author-description">{{item.location}}</span>
                        </div>
                    </div>

                </div>
                <div  #before class="before-cible-container" >
                </div>
                <div #targets class="cible-container" *ngIf="item.target_two == null">
                    <span class="cible-title">Cible</span>
                    <div class="cible-description-container">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">person</mat-icon>
                        <span class="cible-description">{{item.target_one}}</span>
                    </div>
                </div>
                <div #targets class="cible-container" *ngIf="item.target_two != null">
                    <span class="cible-title">Cibles</span>
                    <div class="cible-description-container">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">person</mat-icon>
                        <span class="cible-description">{{item.target_one}}</span>
                    </div>
                    <div class="cible-description-container">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">person</mat-icon>
                        <span class="cible-description">{{item.target_two}}</span>
                    </div>
                </div>
            </div>


            <div class="middle-container">
                <ng-container *ngIf="see_responses==0 && attachments_retrieved">


       

                    <div class="categories">
                        <div class="category" [ngClass]="{'opened': category_index == 0 }"
                            (click)="open_category(0);stop($event);">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">notes</mat-icon>
                            <span *ngIf="not_phone">Description</span>
                            <span *ngIf="!not_phone"> </span>
                        </div>
                        <div class="category" [ngClass]="{'opened': category_index == 1 }"
                            (click)="open_category(1);stop($event);">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">image</mat-icon>
                            <span > <ng-container *ngIf="not_phone">Images</ng-container> ({{list_of_pictures.length}})</span>
                        </div>
                        <div class="category" [ngClass]="{'opened': category_index == 2 }"
                            (click)="open_category(2);stop($event);">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">attachment</mat-icon>
                            <span> <ng-container *ngIf="not_phone">Fichiers</ng-container> ({{list_of_attachments.length}})</span>
                        </div>

                        <div class="absolute-border-bottom"
                            [ngClass]="{'c0': category_index == 0,'c1': category_index == 1,'c2': category_index == 2 }">
                        </div>
                    </div>


                    <div *ngIf="category_index==0" class="section-container" [@enterAnimation]>

                        <span *ngIf="!item.remuneration && !item.service">Collab. Bénévole • {{item.type_of_project}}</span>

                        <ng-container *ngIf="item.remuneration">
                            <span>Collab. Rémunérée • {{item.type_of_project}}
                                <ng-container *ngIf="item.price_value>0"> : {{item.price_value}} €</ng-container> 
                                <ng-container *ngIf="item.price_type"> • {{item.price_type}}</ng-container>
                            </span>
                           
                        </ng-container>

                        <ng-container *ngIf="item.service">
                            <span>
                                <ng-container *ngIf="item.price_type_service==''"> Produits & Sevices •  {{item.type_of_project}}</ng-container>
                                  
                                <ng-container *ngIf="item.price_type_service!=''"> • {{item.price_type_service}} • {{item.type_of_project}}</ng-container> 
                                <ng-container *ngIf="item.offer_or_demand!=''"> • {{item.offer_or_demand}}</ng-container> 
                                <ng-container *ngIf="item.price_value_service>0"> : {{item.price_value_service}}€ </ng-container> 
                            </span>
                           
                        </ng-container>
                        


                        <div class="item-description">
                            <span>
                                {{item.description}}
                            </span>
                        </div>
                    </div>

                    <div *ngIf="category_index==1" class="attachments-container" [@enterAnimation]>
                        <div *ngFor="let picture of list_of_pictures, let i=index"
                            (click)="read_pictures(i);stop($event);" class="image-container">
                            <img *ngIf="!in_ad_page" [lazyLoad]="list_of_pictures[i]" loading="lazy" (load)="load_pictures(i)" [ngClass]="{'invisible':!pictures_loaded[i]}">
                            <img *ngIf="in_ad_page" [src]="list_of_pictures_safe[i]" (load)="load_pictures(i)" [ngClass]="{'invisible':!pictures_loaded[i]}" >
                        </div>
                    </div>
                    <div *ngIf="category_index==2" class="attachments-container" [@enterAnimation]>
                        <ng-container *ngFor="let attachment of list_of_attachments, let i=index">
                            <div *ngIf="list_of_attachments[i]" class="attachment"
                                (click)="read_attachment(i);stop($event);">
                                <div class="attachment-logo">
                                    <mat-icon [ngClass]="{'invisible': !show_icon }">attachment</mat-icon>
                                </div>
                                <span><i>{{list_of_attachments_name[i]}}</i></span>
                            </div>
                        </ng-container>
                    </div>

                </ng-container>
            </div>
            <div class="date-container">
                <div>@{{pseudo}} </div>
                <span>&nbsp;• {{date_to_show}} 
                    <ng-container *ngIf="item.number_of_responses==0">• Aucun retour</ng-container>
                    <ng-container *ngIf="item.number_of_responses==1">• {{item.number_of_responses}} retour</ng-container>
                    <ng-container *ngIf="item.number_of_responses>1">• {{item.number_of_responses}} retours</ng-container>
                </span>
               
               
            </div>


        </div>

    </a>
</div>