.for-ad-page{
  @media (max-width: 1220px) {
    .top-container-2 {
      
      .author-container .right-container {
        margin-right: 5px !important;
      }
      .author-container .right-container {
        .author-description-container {
          mat-icon {
            font-size: 18px;
            max-width:18px;
            overflow: hidden;
            line-height: 20px;
          }
          .author-description {
            font-size: 11px;
            &.name {
              font-size: 12px;
            }
          }
        }
      }
      .cible-container {
        font-size: 13px;
        .cible-description-container {
          mat-icon {
            font-size: 18px;
            max-width:18px;
            overflow: hidden;
            line-height: 20px;
          }
          .cible-description {
            font-size: 11px;
            line-height: 20px;
          }
        }
      }
    }
    .section-container {
      font-size: 13px !important;
    }
  }
  @media (max-width: 1100px) {
    padding-left: unset !important;
    padding-right: unset !important;

    .top-container-2 {
      flex-direction: column !important;
      padding: unset !important;
      height: unset !important;
      .author-container {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        background-image: linear-gradient(0.5turn, #e0e0e0, #efefef, whitesmoke) !important;

        .left-container{
          display: flex!important;
          margin: auto!important;
        }

        .right-container{
          display: block !important;
          margin: auto !important;
          .author-description-container {
            display: flex !important;
            justify-content: center !important;
          }
          .author-description-container {
            display: flex!important;
            justify-content: center!important;
          }
        }

      }

     
      .before-cible-container {
        width: 100%!important;
        
        //border-left: 249.5px solid #1c2d50 !important;
        //border-right: 249.5px  solid #1b2a4b !important;
        border-top: 30px solid whitesmoke !important;
        border-bottom: 0px solid whitesmoke !important;
      }
      .cible-container {
        width:100% !important;
        min-height: 70px!important;
        padding-left: 10px !important;
        margin: auto!important;
        text-align: center !important;
        background-image: linear-gradient(0.5turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9))!important;

        .cible-description-container {
          display: flex  !important;
          justify-content: center  !important;
        }
      }
    }
    .date-container {
      margin-top:5px;
    }

    .global-container {
      flex-direction: column;
      padding: 0px !important;
      background: rgb(251, 251, 251);
      border: 1px solid #e0e0e0;
    }
    .global-container > .left-container img {
      border-radius: unset !important;
      box-shadow: unset !important;
      margin-top: unset !important;
      width: 100% !important;
      object-fit: cover;
    }
    .global-container > .left-container {
      width: 100% !important;
    }
    .global-container > .right-container {
      padding: 10px 25px 10px 20px !important;
      .name {
        span {
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  @media (max-width: 950px) {
    .right-container {
      padding-left: 0px !important;
      padding-right: 0px !important;
      .name {
        padding-left: 10px;
      }
      .top-container-2 {
        //border-radius: 0px !important;
      }
      .section-container,
      .attachments-container {

        .item-description {
          line-height: 17px;
          -webkit-line-clamp: 5;
          font-size: 12px;
          line-height: 15px;
        }
      }
      .type-container {
        padding: 3px 9px 4px 9px;
        span {
          font-size: 12px;
        }
      }
      .tag-container {
        padding: 3px 9px 4px 9px;
        span {
          font-size: 12px;
        }
      }
    }
    .categories {
      .category {
        font-size: 11px !important;
        mat-icon {
          font-size: 15px !important;
          max-width:15px;
            overflow: hidden;
        }
      }
    }
  }

  
    
  @media (max-width: 1300px) {
    width:80%;
    .global-container > .left-container {
      display: none;
    }
  }
  @media (min-width: 800px) and (max-width: 999px) {
      width:90%;
  }
  @media (max-width: 800px) {
      width:100%;
      .global-container {
          border-radius:10px !important;
      }
  }
}


.not-ad-page{
  @media (max-width: 820px) {
    .top-container-2 {
      
      .author-container .right-container {
        margin-right: 5px !important;
      }
      .author-container .right-container {
        .author-description-container {
          mat-icon {
            font-size: 18px;
            max-width:18px;
            overflow: hidden;
            line-height: 20px;
          }
          .author-description {
            font-size: 11px;
            &.name {
              font-size: 12px;
            }
          }
        }
      }
      .cible-container {
        font-size: 13px;
        .cible-description-container {
          mat-icon {
            font-size: 18px;
            max-width:18px;
            overflow: hidden;
            line-height: 20px;
          }
          .cible-description {
            font-size: 11px;
            line-height: 20px;
          }
        }
      }
    }
    .section-container {
      font-size: 13px !important;
    }
  }
  @media (max-width: 700px) {
    padding-left: unset !important;
    padding-right: unset !important;

    .top-container-2 {
      flex-direction: column !important;
      padding: unset !important;
      height: unset !important;
      .author-container {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        background-image: linear-gradient(0.5turn, #e0e0e0, #efefef, whitesmoke) !important;

        .left-container{
          display: flex!important;
          margin: auto!important;
        }

        .right-container{
          display: block !important;
          margin: auto !important;
          .author-description-container {
            display: flex !important;
            justify-content: center !important;
          }
          .author-description-container {
            display: flex!important;
            justify-content: center!important;
          }
        }

      }

     
      .before-cible-container {
        width: 100%!important;
        
        //border-left: 249.5px solid #1c2d50 !important;
        //border-right: 249.5px  solid #1b2a4b !important;
        border-top: 30px solid whitesmoke !important;
        border-bottom: 0px solid whitesmoke !important;
      }
      .cible-container {
        width:100% !important;
        min-height: 70px!important;
        padding-left: 10px !important;
        margin: auto!important;
        text-align: center !important;
        background-image: linear-gradient(0.5turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9))!important;

        .cible-description-container {
          display: flex  !important;
          justify-content: center  !important;
        }
      }
    }
    .date-container {
      margin-top:5px;
    }

    .global-container {
      flex-direction: column;
      padding: 0px !important;
      background: rgb(251, 251, 251);
      border: 1px solid #e0e0e0;
    }
    .global-container > .left-container img {
      border-radius: unset !important;
      box-shadow: unset !important;
      margin-top: unset !important;
      width: 100% !important;
      object-fit: cover;
    }
    .global-container > .left-container {
      width: 100% !important;
    }
    .global-container > .right-container {
      padding: 10px 25px 10px 20px !important;
      .name {
        span {
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .right-container {
      padding-left: 0px !important;
      padding-right: 0px !important;
      .name {
        padding-left: 10px;
      }
      .top-container-2 {
        //border-radius: 0px !important;
      }
      .section-container,
      .attachments-container {

        .item-description {
          line-height: 17px;
          -webkit-line-clamp: 5;
          font-size: 12px;
          line-height: 15px;
        }
      }
      .type-container {
        padding: 3px 9px 4px 9px;
        span {
          font-size: 12px;
        }
      }
      .tag-container {
        padding: 3px 9px 4px 9px;
        span {
          font-size: 12px;
        }
      }
    }
    .categories {
      .category {
        font-size: 11px !important;
        mat-icon {
          font-size: 15px !important;
          max-width:15px;
            overflow: hidden;
        }
      }
    }
  }

  
    
  @media (max-width: 900px) {
    //width: 80% !important;
    .global-container > .left-container {
      display: none;
    }
  }
  @media (min-width: 400px) and (max-width: 599px) {
      //width:90%!important;
  }
  @media (max-width: 400px) {
      //width:100%;
      .global-container {
          border-radius:10px !important;
      }
  }
}


.thumbnail-ad {
  
  position: relative;
  user-select: none;
  max-width: 900px;
  width:90%;
  margin-left: auto;
  margin-right: auto;

  .absolute-selector {
    position: absolute;
    top: 10px;
    right: 11px;
    z-index: 10;
  }

  a {
    color: rgb(32, 56, 100);
    cursor: pointer;
  }

  .optionsMenu {
    width: 30px;
    height: 30px;
    outline: none;
    background: #fbfbfb;
    border: none;
    display: flex;
    border-radius: 50px;
    padding: 0px;
    transition: background-color 200ms;
    &:hover {
      background: #e0e4ee;
    }
    mat-icon {
      font-size: 20px;
      max-width:20px;
            overflow: hidden;
      width: unset;
      height: unset;
      color: rgb(32, 56, 100);
      margin: auto;
    }
  }

  .global-container {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 100%;
    background: rgb(251, 251, 251);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.05), 0px 0px 2px 1px rgba(0, 0, 0, 0.05);
  }

  .global-container > .left-container {
    height: 100%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    position: relative;
  }
  .global-container.trendings-page > .left-container {
    margin-left: unset !important;
    margin-right: unset !important;
  }
  .global-container > .left-container > img {
    width: 200px !important;
    height: 266.66px;
    object-fit: cover;
  }

  .global-container > .unset-margin{
     margin-left: unset !important;
     margin-right: unset !important;
  }
  .global-container > .left-container > .thumbnail-picture {
    width: 200px !important;
    height: 266.66px;
  }


  .global-container > .left-container.no-border-style img {
    box-shadow: unset !important;
    border-radius: unset !important;
  }

  .invisible {
    visibility: hidden;
  }
  .really-invisible {
      display: none !important;
  }

  
  .global-container > .right-container-loading {
    min-height: 266.66px;
    max-width: 900px;
  }

  .global-container > .right-container {
    min-height: 266.66px;
    overflow: overlay;
    display: flex;
    position: relative;
    flex-direction: column;
    width: stretch;
    padding: 10px 25px 6px 20px;
    color: rgb(32, 56, 100);
    max-width: 900px;
  }

  .global-container > .right-container .name {
    position: relative;
    display: flex;
    font-size: 16px;
    margin-bottom: 1px;
    font-weight: bold;
    align-items: center;
    text-align: left;
    
  }

  .top-container-2 {
    display: flex;
    margin-top: 6px;
    height: 75px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background:linear-gradient(0.02turn, #f2f2f2, #eeeeee, #f7f7f7);
    box-shadow: 0px 0px 5px -1px rgb(0,0,0,0.1);
    color: rgb(32,56,100);
    font-weight:600;
    border-radius: 17px;
    overflow: hidden;
  }
  .top-container-2 .author-container {
    display: flex;
    margin-right: auto;
    width:calc(100% - 25px);
    //background: whitesmoke;
    background-image: linear-gradient(0.2turn, #e0e0e0, #efefef, whitesmoke);
    padding: 6px 10px 6px 10px;
  }

  .response .author-container {
    display: flex;
  }
  
  .author-container .left-container {
      width: 33px;
      height: 33px;
      min-width: 33px !important;
      min-height: 33px !important;
      margin: 0px 5px auto 0px;
      img {
          cursor: pointer;
          width: 100%;
          height: 100%;
          border-radius: 100px;
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      }
      div {
          width: 100%;
          height: 100%;
          border-radius: 50px;
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      }
  }

  .author-container .right-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc(100% - 40px);
    margin: 0px 10px auto 5px;

    .author-description-container {
      display: flex;

      mat-icon {    
        height: unset;
        width: unset;
        font-size: 18px;
        max-width:18px;
            overflow: hidden;
        line-height: 20px;
        margin-right: 2px;
      }
      .author-description {
        font-size: 12px;
        line-height: 20px;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        word-break: break-word;
        white-space: normal;
        -webkit-line-clamp: 1;
        &.loading {
          height: 20px;
          width: 100px;
          border-radius: 5px;
        
        }
        &.name {
          display:flex;
          align-items: center;
          font-size: 13px;
          font-weight:bold;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
          a {
            color: #203864;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            max-width: 130px;
            color:rgb(32,56,100);
          }
          mat-icon {
            vertical-align: middle;
            display: inline-block;
            margin: 0px 0px 0px 3px;
            color: #00c0d4;
            height: 13px;
            overflow: hidden;
            width: unset;
            font-size: 13px;
            line-height: 1;
          }
        }
      }
    }

  }

  .before-cible-container{
    width: 50px;
    border-top: 37.5px solid #021236e6;
    border-bottom: 37.5px solid #021236e6;
    border-left: 50px solid whitesmoke;
  }

  .cible-container {
    font-size: 14px;
    margin-left: auto;
    text-align: left;
    //width: -webkit-fit-content;
    //width: -moz-fit-content;
    width: calc(100% - 25px);
    color: white;
    padding: 6px 20px 6px 10px;
    background-image: linear-gradient(0.2turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
    .cible-title {
      font-weight:600;
    }
    .cible-description-container {
      display: flex;
      
      mat-icon {    
        height: unset;
        width: unset;
        font-size: 18px;
        max-width:18px;
            overflow: hidden;
        line-height: 20px;
        margin-right: 2px;
      }
      .cible-description {
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }
  }

  .middle-container {
    width: 100%;
    margin-top: 6px;

    .categories {
      position: relative;
      height: 30px;
      margin-top: 4px;
      border-bottom: 2px solid rgb(232 232 232);
      width: 100%;
      display: flex;
      justify-content: space-around;
      //background: #f0f0f0;
      border-radius: 10px 10px 0px 0px;

      .absolute-border-bottom {
        width: 33.33%;
        height: 2px;
        background: rgb(32, 56, 100);
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: transform 400ms ease-out;
      }
      .absolute-border-bottom.c0 {
        transform: translateX(0);
      }
      .absolute-border-bottom.c1 {
        transform: translateX(100%);
      }
      .absolute-border-bottom.c2 {
        transform: translateX(200%);
      }
    }
    .category {
      position: relative;
      text-align: center;
      font-size: 13px;
      width: 33.33%;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      cursor: pointer;
      border: 0px solid black;
      transition: border 200ms;
      &.opened {
        text-shadow: -0.02ex 0 rgb(32, 56, 100), 0.02ex 0 rgb(32, 56, 100);
      }
      mat-icon {
        margin: auto 5px auto auto;
        width: unset !important;
        height: unset !important;
        font-size: 21px;
        max-width:21px;
            overflow: hidden;
      }
      span {
        margin: auto auto auto 5px;
      }
    }

    .section-container {
      word-break: break-word;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      padding: 8px 5px 5px 0px;
      width: 100%;
      text-align: left;

      > span {
        font-weight: bold;
        font-size: 13px;
        word-break: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
      }
      .item-description {
        margin-top: 4px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        line-height: 15px;
        white-space: normal;
        -webkit-line-clamp: 3;
      }
    }
  }

  .attachments-container {
    word-break: break-word;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    max-height: 85px;
    overflow: auto;
    padding: 0px 5px 0px 0px;
    width: 100%;
    text-align: left;


    .attachment-item {
      border-radius: 10px;
      margin-bottom: 5px;
      height: 60px;
      width: 100%;
      padding: 10px;
      border: 1px solid #9caab9;
      box-shadow: 0px 0px 10px 1px #bcc3ca;
      border: 1px solid #9caab9;
      box-shadow: 0px 0px 10px 1px #bcc3ca;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 0px 10px 1px #bcc3ca;
      cursor: pointer;
      transition: all 200ms;

      :hover {
        background: rgb(235 238 243);
      }
      mat-icon {
        margin: auto auto;
        width: unset !important;
        height: unset !important;
        font-size: 35px;
        max-width:35px;
            overflow: hidden;
      }
      img {
        height: 25px;
        width: 25px;
        margin: auto 5px auto auto;
        object-fit: contain;
        margin-right: 10px;
      }
      div {
        margin: auto auto auto 0px;
      }
    }
    .image-container {
      width: 60px;
      height: 60px;
      margin: 10px 20px 10px 10px;
      cursor: pointer;
      border-radius: 8px;
      border: 1px solid #b9b9b9;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      overflow: hidden;
      display: flex;

      img {
        width:100%;
        height:100%;
        object-fit: cover;
      }
      mat-icon {
        margin: auto;
        color: white;
      }
    }

    .attachment {
      margin: 10px 20px 10px 10px;
      padding: 5px;
      width: 60px !important;
      height: 60px !important;
      text-align: center;
      display: flex;
      flex-direction: column;

      background-image: linear-gradient(0.03turn, #050c3d, #183e70, #2b71a4);

      border-radius: 8px;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
      .attachment-logo {
        color: white;
        margin: auto auto 0px auto;
      }

      span {
        color: rgb(255, 255, 255);
        margin: 0px auto auto auto;
        display: -webkit-box;
        width: 100%;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 1;
        word-break: break-all;
        font-size: 11px;
      }
    }
  }


  .date-container {
      width: 100%;
      text-align: left;
      white-space: nowrap;
      display: flex;
      margin-top: auto;
      overflow: hidden !important;
      text-overflow: ellipsis;
      div{
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        font-size: 12px;
        font-weight: 600;
        color: rgb(32, 56, 100);
        /* width: 42px !important; */
      }
      span {
          font-size: 12px;
          font-weight: 600;
          color: rgb(32, 56, 100);
      }
  }

  .absolute-selector {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
  }

  /*@media (max-width: 820px) {
    .top-container-2 {
      
      .author-container .right-container {
        margin-right: 5px !important;
      }
      .author-container .right-container {
        .author-description-container {
          mat-icon {
            font-size: 18px;
            max-width:18px;
            overflow: hidden;
            line-height: 20px;
          }
          .author-description {
            font-size: 11px;
            &.name {
              font-size: 12px;
            }
          }
        }
      }
      .cible-container {
        font-size: 13px;
        .cible-description-container {
          mat-icon {
            font-size: 18px;
            max-width:18px;
            overflow: hidden;
            line-height: 20px;
          }
          .cible-description {
            font-size: 11px;
            line-height: 20px;
          }
        }
      }
    }
    .section-container {
      font-size: 13px !important;
    }
  }
  @media (max-width: 700px) {
    padding-left: unset !important;
    padding-right: unset !important;

    .top-container-2 {
      flex-direction: column !important;
      padding: unset !important;
      height: unset !important;
      .author-container {
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        background-image: linear-gradient(0.5turn, #e0e0e0, #efefef, whitesmoke) !important;

        .left-container{
          display: flex!important;
          margin: auto!important;
        }

        .right-container{
          display: block !important;
          margin: auto !important;
          .author-description-container {
            display: flex !important;
            justify-content: center !important;
          }
          .author-description-container {
            display: flex!important;
            justify-content: center!important;
          }
        }

      }

     
      .before-cible-container {
        width: 100%!important;
        
        //border-left: 249.5px solid #1c2d50 !important;
        //border-right: 249.5px  solid #1b2a4b !important;
        border-top: 30px solid whitesmoke !important;
        border-bottom: 0px solid whitesmoke !important;
      }
      .cible-container {
        width:100% !important;
        min-height: 70px!important;
        padding-left: 10px !important;
        margin: auto!important;
        text-align: center !important;
        background-image: linear-gradient(0.5turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9))!important;

        .cible-description-container {
          display: flex  !important;
          justify-content: center  !important;
        }
      }
    }
    .date-container {
      margin-top:5px;
    }

    .global-container {
      flex-direction: column;
      padding: 0px !important;
      background: rgb(251, 251, 251);
      border: 1px solid #e0e0e0;
    }
    .global-container > .left-container img {
      border-radius: unset !important;
      box-shadow: unset !important;
      margin-top: unset !important;
      width: 100% !important;
      object-fit: cover;
    }
    .global-container > .left-container {
      width: 100% !important;
    }
    .global-container > .right-container {
      padding: 10px 25px 10px 20px !important;
      .name {
        span {
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .right-container {
      padding-left: 0px !important;
      padding-right: 0px !important;
      .name {
        padding-left: 10px;
      }
      .top-container-2 {
        //border-radius: 0px !important;
      }
      .section-container,
      .attachments-container {

        .item-description {
          line-height: 17px;
          -webkit-line-clamp: 5;
          font-size: 12px;
          line-height: 15px;
        }
      }
      .type-container {
        padding: 3px 9px 4px 9px;
        span {
          font-size: 12px;
        }
      }
      .tag-container {
        padding: 3px 9px 4px 9px;
        span {
          font-size: 12px;
        }
      }
    }
    .categories {
      .category {
        font-size: 11px !important;
        mat-icon {
          font-size: 15px !important;
          max-width:15px;
            overflow: hidden;
        }
      }
    }
  }

  
    
  @media (max-width: 900px) {
    width:80%;
    .global-container > .left-container {
      display: none;
    }
  }
  @media (min-width: 400px) and (max-width: 599px) {
      width:90%;
  }
  @media (max-width: 400px) {
      width:100%;
      .global-container {
          border-radius:0px !important;
      }
  }*/
}


.shiny {
  background-color: rgb(220, 220, 220);
  background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%);
  background-size: 300% 100%;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
      background-position: right;
  }
}

::ng-deep {
  .thumbnail-ad-menu {
    margin-top: 3px !important;
    border-radius: 12px 10px 12px 12px !important;
    min-height: unset !important;
    min-width: unset !important;
    .mat-menu-content {
      padding-top: unset !important;
      padding-bottom: unset !important;
    }
    .thumbnail-ad-menu-item {
      display: flex !important;
      font-size: 12px !important;
      line-height: 38px !important;
      height: 38px !important;
      font-weight: bold !important;
      padding: 0px 15px 0 10px !important;
      color: rgb(32, 56, 100) !important;
      transition: all 200ms !important;
      outline: none !important;

      transition: background-color 200ms;

      mat-icon {
        margin: auto 10px auto 0px !important;
        width: unset !important;
        height: unset !important;
        font-size: 18px !important;
        max-width:18px!important;
            overflow: hidden;
        color: rgb(32, 56, 100) !important;
      }

      .mat-ripple {
        background: unset !important;
        * {
          background: unset !important;
        }
      }
      &:hover {
        background: #c9d4e2;
      }
      &:active {
        background: #aabed4;
      }
    }
  }
}

::ng-deep .tooltip-thumbnail-ad {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 1px solid rgb(94, 121, 172) !important;
  font-weight: 600 !important;
  border-radius: 12px !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  font-size: 11px !important;
  color: rgb(32, 56, 100) !important;
  padding: 6px !important;
  text-align: center !important;
}