
<div class="thumbnail-artwork shiny" [ngClass]="{'trendings-width':page=='trendings'}" *ngIf="skeleton" [@enterAnimation]>
    <a class="global-container">
    </a>
</div>

<div class="thumbnail-artwork" [ngClass]="{'trendings-width':page=='trendings'}" *ngIf="!skeleton" [@enterAnimation]>


    <div class="hide-because-reported"
        *ngIf=" (list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
        [ngClass]="{'really-invisible':display_evenif_reported}" [@enterAnimation]>
        <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
        <span>
            Contenu masqué car signalé.
            <span (click)="see_reported_content()">Cliquez pour tout de même voir.</span>
        </span>
    </div>

    <a class="global-container" [routerLink]=get_artwork()
        [ngClass]="{'subscribings-page':page=='subscribings','trendings-page':page=='trendings','avoid-clicks':!display_evenif_reported && thumbnail_picture_received && (list_of_reporters && list_of_reporters.indexOf(user_id)>=0)}">


        <div class="left-container" [ngClass]="{'no-border-style':page=='subscribings', 'comic':subscribing_category=='comic', 'drawing':subscribing_category=='drawing', 'writing':subscribing_category=='writing'}">

            <img *ngIf="thumbnail_picture_received" #image [src]="thumbnail_picture" (load)="load_thumbnail()" [ngClass]="{'really-invisible':!thumbnail_is_loaded}" class="thumbnail-picture">


            <div class="skeleton swiper-thumbnails shiny" *ngIf="(!thumbnail_is_loaded)"></div>

            <!--<ng-container *ngIf="!in_artwork">
                <div #swiperThumbnails class="swiper-thumbnails" *ngIf="subscribing_category!='writing' && thumbnail_picture_received" [@enterAnimation]>
                    <div class="swiper-wrapper" [ngClass]="{'only-one-slide': swiperThumbnails && swiper2_initialized && swiper2.slides.length==1}">
                        <div class="swiper-slide" [ngClass]="{'shiny':!thumbnail_is_loaded}">
                            <img #image2 [src]="thumbnail_picture" (load)="load_thumbnail()"  [ngClass]="{'invisible':!thumbnail_is_loaded}">
                        </div>
                        <div class="swiper-slide"  *ngFor="let item of list_of_images_to_show; let i=index" [ngClass]="{'shiny':!loaded_images[i]}">
                            <img (load)="load_image(i)" [src]="item" [ngClass]="{'invisible':!loaded_images[i]}">
                        </div>
                    </div>
                    
                    <div class="pagination-container">
                        <div class="thumbnail-artwork-pagination"></div>
                    </div>
    
                    <div class="swiper--button-prev" (click)="stop($event)">
                        <div>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios</mat-icon>
                        </div>
                    </div>
                    <div class="swiper--button-next" (click)="stop($event)">
                        <div>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios</mat-icon>
                        </div>
                    </div>
                </div>
    
                <div #swiperThumbnails class="swiper-thumbnails" *ngIf="subscribing_category=='writing' && thumbnail_is_loaded" [@enterAnimation]>
                    <div class="swiper-wrapper" [ngClass]="{'only-one-slide': swiperThumbnails && swiper2_initialized && swiper2.slides.length==1}">
                        <div class="swiper-slide"  [ngClass]="{'shiny':!thumbnail_is_loaded}">
                            <img #image2 [src]="thumbnail_picture" (load)="load_thumbnail()"[ngClass]="{'invisible':!thumbnail_is_loaded}">
                        </div>
                        <div class="swiper-slide" >
                            <pdf-viewer class="pdf-document" [src]="pdfSrc" [autoresize]="true" [show-all]="true"
                                [original-size]='true' [fit-to-page]='true' [render-text]='false'
                                (after-load-complete)="afterLoadComplete($event)"></pdf-viewer>
                        </div>
                        
                        <div class="pagination-container">
                            <div class="thumbnail-artwork-pagination"></div>
                        </div>
    
                        <div class="swiper--button-prev" (click)="stop($event)">
                            <div>
                                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios</mat-icon>
                            </div>
                        </div>
                        <div class="swiper--button-next" (click)="stop($event)">
                            <div>
                                <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>-->

         

            

            <!--********************-->
            <!--Data container-->
            <!--********************-->
            <!--<div class="bottom-container" [ngClass]="{ 'invisible':!marks_retrieved}">
                <div class="stats-container">
                    <div class="figure-container views">
                        <div>
                            <span>{{viewnumber}}</span>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">visibility</mat-icon>
                        </div>
                    </div>
                    <div class="figure-container likes">
                        <div>
                            <span>{{likesnumber}}</span>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">thumb_up</mat-icon>
                        </div>
                    </div>
                    <div class="figure-container loves">
                        <div>
                            <span>{{lovesnumber}}</span>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">favorite</mat-icon>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>



        <!--<div *ngIf="type_of_profile=='account' && data_retrieved" class="absolute-small-screen-selector"
            [ngClass]="{'invisible':!visitor_mode_retrieved || !data_retrieved || !archive_retrieved }">
            <button class="optionsMenu" tabIndex="-1" [matMenuTriggerFor]="options1"
                (click)="stop($event)">
                <mat-icon [ngClass]="{'invisible': !show_icon }">more_vert</mat-icon>
            </button>
            <mat-menu #options1="matMenu" xPosition="before" class="thumbnail-artwork-menu">
                <button (click)="archive()" class="thumbnail-artwork-menu-item" mat-menu-item
                    *ngIf="visitor_mode && !content_archived">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">save_alt</mat-icon>
                    <span>Archiver</span>
                </button>
                <button (click)="unarchive()" class="thumbnail-artwork-menu-item" mat-menu-item
                    *ngIf="visitor_mode && content_archived">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">unarchive</mat-icon>
                    <span>Désarchiver</span>
                </button>
                <button *ngIf="visitor_mode && !(list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
                    tabIndex="-1" class="thumbnail-artwork-menu-item" mat-menu-item (click)="report()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                    <span>Signaler</span>
                </button>
                <button *ngIf="visitor_mode && (list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
                    tabIndex="-1" class="thumbnail-artwork-menu-item" mat-menu-item (click)="cancel_report()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                    <span>Annuler le signalement</span>
                </button>
                <button *ngIf="!visitor_mode && category!='drawing'" class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item
                    (click)="edit_thumbnail()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                    <span>Editer la miniature</span>
                </button>

            </mat-menu>
        </div>-->


        <div class="right-container" *ngIf="data_retrieved">


            <div *ngIf="type_of_profile=='account' && !(category=='drawing' && !visitor_mode)" class="absolute-selector"
                [ngClass]="{'invisible':!visitor_mode_retrieved || !data_retrieved || !archive_retrieved}">
                <button class="optionsMenu" tabIndex="-1" [matMenuTriggerFor]="options"
                    (click)="stop($event)">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">more_vert</mat-icon>
                </button>
                <mat-menu #options="matMenu" xPosition="before" class="thumbnail-artwork-menu">
                    <button (click)="archive()" class="thumbnail-artwork-menu-item" mat-menu-item
                        *ngIf="visitor_mode && !content_archived">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">save_alt</mat-icon>
                        <span>Archiver</span>
                    </button>
                    <button (click)="unarchive()" class="thumbnail-artwork-menu-item" mat-menu-item
                        *ngIf="visitor_mode && content_archived">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">unarchive</mat-icon>
                        <span>Désarchiver</span>
                    </button>
                    <button *ngIf="visitor_mode && !(list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
                        class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item (click)="report()">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                        <span>Signaler</span>
                    </button>
                    <button *ngIf="visitor_mode && (list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
                        class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item (click)="cancel_report()">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                        <span>Annuler le signalement</span>
                    </button>
                    <button *ngIf="!visitor_mode" class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item
                        (click)="edit_thumbnail()">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                        <span>Modifier la miniature</span>
                    </button>
                </mat-menu>
            </div>

            <div class="rank-small-screen" *ngIf="page=='trendings' && rank">
                <div class="absolute-shiny"></div>
                <span>{{rank}}</span>
            </div>

            <div class="name">
                <span>{{title}}</span>
                <button *ngIf="type_of_profile=='account' && !(category=='drawing' && !visitor_mode)" class="options-name" tabIndex="-1" [matMenuTriggerFor]="options3"
                    (click)="stop($event)">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">more_vert</mat-icon>
                </button>
                <mat-menu #options3="matMenu" xPosition="before" class="thumbnail-artwork-menu">
                    <button (click)="archive()" class="thumbnail-artwork-menu-item" mat-menu-item
                        *ngIf="visitor_mode && !content_archived">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">save_alt</mat-icon>
                        <span>Archiver</span>
                    </button>
                    <button (click)="unarchive()" class="thumbnail-artwork-menu-item" mat-menu-item
                        *ngIf="visitor_mode && content_archived">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">unarchive</mat-icon>
                        <span>Désarchiver</span>
                    </button>
                    <button *ngIf="visitor_mode && !(list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
                        class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item (click)="report()">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                        <span>Signaler</span>
                    </button>
                    <button *ngIf="visitor_mode && (list_of_reporters && list_of_reporters.indexOf(user_id)>=0)"
                        class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item (click)="cancel_report()">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                        <span>Annuler le signalement</span>
                    </button>
                    <button *ngIf="!visitor_mode" class="thumbnail-artwork-menu-item" tabIndex="-1" mat-menu-item
                        (click)="edit_thumbnail()">
                        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon">flag</mat-icon>
                        <span>Modifier la miniature</span>
                    </button>
                </mat-menu>
            </div>

            <!--********************-->
            <!--Description container-->
            <!--********************-->
            <!--Large screen-->
            <div class="verso-description show-on-large-screen">
                <span>{{highlight}}</span>
            </div>

            <!--Small screen-->
            <div class="verso-description show-on-small-screen" *ngIf="71 >= highlight.length">
                <span>{{highlight}}</span>
            </div>
            <div class="verso-description show-on-small-screen" *ngIf="highlight.length > 71 && !see_more_clicked">
                <span>{{short_highlight}} <a (click)="see_more_description($event);">... voir plus</a></span>
            </div>
            <div class="verso-description show-on-small-screen" *ngIf="highlight.length > 71 && see_more_clicked">
                <span>{{highlight}}</span>
            </div>

            <!--********************-->
            <!--Type container-->
            <!--********************-->
            <div class="verso-type">
                <!--******************************************************-->
                <!--************************COMICS************************-->
                <!--******************************************************-->
                <a class="type-container" *ngIf="subscribing_category=='comic'" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>Bande dessinée</span></a>
                <div class="type-container" *ngIf="subscribing_category=='comic' && format=='one-shot'">
                    <span>One-shot</span></div>
                <div class="type-container" *ngIf="subscribing_category=='comic' && format=='serie'">
                    <span>Série</span>
                </div>
                <a class="type-container" *ngIf="subscribing_category=='comic'" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>{{style}}</span>
                </a>
                <div class="type-container" *ngIf="subscribing_category=='comic' && format=='one-shot'"
                matTooltip="Nombre de pages"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200">
                    <span>{{pagesnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                </div>
                <div class="type-container" *ngIf="subscribing_category=='comic' && format=='serie'"
                >
                    <span>{{chaptersnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }" matTooltip="Chapitres"
                    matTooltipClass='tooltip-thumbnail-artwork' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">import_contacts</mat-icon>
                    <span>&nbsp; {{pagesnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }"
                    matTooltip="Pages par chapitre"
                    matTooltipClass='tooltip-thumbnail-artwork' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="200">insert_drive_file</mat-icon>
                </div>

                <!--******************************************************-->
                <!--************************DRAWING***********************-->
                <!--******************************************************-->
                <a class="type-container" *ngIf="subscribing_category=='drawing'" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>Dessin</span></a>
                <div class="type-container" *ngIf="subscribing_category=='drawing' && format=='one-shot'">
                    <span>One-shot</span></div>
                <div class="type-container" *ngIf="subscribing_category=='drawing' && format=='artbook'">
                    <span>Artbook</span></div>
                <a class="type-container" *ngIf="subscribing_category=='drawing'" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>{{style}}</span></a>
                <div class="type-container" *ngIf="subscribing_category=='drawing' && format=='artbook'">
                    <span>{{pagesnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                </div>

                <!--******************************************************-->
                <!--************************WRITING***********************-->
                <!--******************************************************-->
                <a class="type-container" *ngIf="subscribing_category=='writing'" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>Écrit</span></a>
                <a class="type-container" *ngIf="subscribing_category=='writing'" [routerLink]=get_link()
                matTooltip="Voir du contenu de ce style"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>{{style}}</span></a>
                <div class="type-container" *ngIf="subscribing_category=='writing'">
                    <span>{{total_pages_for_writing}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
                </div>
            </div>

            <div class="verso-type" *ngIf="firsttag">

                <a class="tag-container" [routerLink]=get_link_tags(firsttag)
                matTooltip="Voir du contenu de ce genre"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>{{firsttag}}</span></a>
                <a class="tag-container" *ngIf="secondtag!=null" [routerLink]=get_link_tags(secondtag)
                matTooltip="Voir du contenu de ce genre"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>{{secondtag}}</span></a>
                <a class="tag-container" *ngIf="thirdtag!=null" [routerLink]=get_link_tags(thirdtag)
                matTooltip="Voir du contenu de ce genre"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200"
                    (click)="stop($event)"><span>{{thirdtag}}</span></a>
            </div>

            <!--********************-->
            <!--Author container-->
            <!--********************-->
            <div class="author-container">
                <a [routerLink]=open_account() (click)="stop($event)" class="left-container"
                matTooltip="Voir le profil"
                matTooltipClass='tooltip-thumbnail-artwork' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200">
                    <img [src]="profile_picture" (load)="load_pp()" [ngClass]="{'really-invisible':!pp_is_loaded}">
                    <div *ngIf="!pp_is_loaded" class="shiny"></div>
                </a>
                <div class="right-container">
                    <span class="author-name" *ngIf="author_name!=''">
                        <a [routerLink]=open_account() (click)="stop($event)"
                        matTooltip="Voir le profil"
                        matTooltipClass='tooltip-thumbnail-artwork' 
                        [matTooltipPosition]="'below'"
                        [matTooltipShowDelay]="200">
                            {{author_name}}
                        </a>

                        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="certified_account"
                        matTooltip="Compte certifié" 
                        matTooltipClass='linkarts-tooltip' 
                        [matTooltipPosition]="'below'"
                        [matTooltipShowDelay]="200">verified</mat-icon>

                    </span>
                    <span class="author-description">@{{author_pseudo}}</span>
                </div>
            </div>

            <!--********************-->
            <!--Date container-->
            <!--********************-->
            <div class="date-container">
                
                <div class="figure-container views">
                    <span>{{viewnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">visibility</mat-icon>
                </div>
                <div class="figure-container likes">
                    <span>{{likesnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">thumb_up</mat-icon>
                </div>
                <div class="figure-container loves">
                    <span>{{lovesnumber}}</span>
                    <mat-icon [ngClass]="{'invisible': !show_icon }">favorite</mat-icon>
                </div>
                <span>{{date_upload_to_show}} <ng-container *ngIf="recent_chapter"> • Nouveau chapitre !</ng-container></span>
            </div>


        </div>

        <div class="preview" *ngIf="subscribing_category!='writing' " (mouseenter)="launch_swiper();"
            (mouseleave)="stop_swiper();">
            <div class="hover-to-preview fade-on-hover">
                <mat-icon [ngClass]="{'invisible': !show_icon }">play_circle_outline</mat-icon>
                <span>Voir les premières pages</span>
            </div>
            <div class="loading-page" *ngIf="!list_of_images_to_show_retrieved">
                <mat-spinner diameter="20"></mat-spinner>
            </div>
            <div #swiperArtworkPreview style="height:100%;width:100%" *ngIf="list_of_images_to_show_retrieved">
                <div class="swiper-wrapper" [ngClass]="{'only-one-slide': swiperArtworkPreview && swiper_initialized && swiper.slides.length==1}">
                    <div class="swiper-slide" *ngFor="let item of list_of_images_to_show; let i=index">
                        <img (load)="load_image(i)" [src]="item" [ngClass]="{'invisible':!loaded_images[i]}">
                    </div>
                    
                    <div class="pagination-container">
                        <div class="thumbnail-artwork-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview pdf-document-container" *ngIf="subscribing_category=='writing' " (mouseleave)="close_pdf();">
            <div class="hover-to-preview" *ngIf="show_absolute_cover" [@leaveAnimation] (mouseenter)="load_pdf();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">play_circle_outline</mat-icon>
                <span>Voir les premières pages</span>
            </div>
            <pdf-viewer class="pdf-document" [src]="pdfSrc" [autoresize]="true" [show-all]="true" [original-size]='true'
                [fit-to-page]='true' [render-text]='false' (after-load-complete)="afterLoadComplete($event)">
            </pdf-viewer>
        </div>

        <div class="rank" *ngIf="page=='trendings' && rank"
            [ngClass]="{'gold':rank==1, 'silver':rank==2, 'bronze':rank==3,'other':rank>3}">
            <div class="absolute-shiny"></div>
            <span>{{rank}}</span>
        </div>

    </a>
</div>