.thumbnail-artwork {
    position: relative;
    user-select: none;
    max-width: 900px;
    min-height: 266.66px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.05), 0px 0px 2px 1px rgba(0, 0, 0, 0.05);

    &.trendings-width{
        max-width: 1150px !important;
    }
    a {
        color: rgb(32, 56, 100);
        cursor: pointer;
    }

    .global-container {
        cursor: pointer;
        display: flex;
        position: relative;
        width: 100%;
        background: rgb(251, 251, 251);
        > .left-container {
            height: 100%;
            width: 200px;
            width: fit-content;
            //margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            position: relative;
            > img {
                width: 200px !important;
                height: 266.66px;
                object-fit: cover;
                pointer-events: none;
            }
            &.no-border-style img {
                box-shadow: unset !important;
               
                //border-radius: unset !important;
            }
            .skeleton {
                width: 200px !important;
                height: 266.66px;
                position:relative !important;
                opacity:1 !important;
            }
        }
        &.trendings-page > .left-container {
            width: 200px;
            margin-left: unset !important;
            margin-right: unset !important;
        }
    }

    .invisible {
        visibility: hidden;
        pointer-events: none;
    }

    .really-invisible {
        display: none !important;
    }

    .avoid-clicks {
        pointer-events: none;
    }

    .loading-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .hide-because-reported {
        position: absolute;
        display:flex;
        width: 100%;
        z-index: 500;
        display: flex;
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 20px;
        opacity: 0.98;
        background: linear-gradient(0.02turn, #f5f5f5fc, #eeeeee, #dcdcdc, #f9f9f9d4);
        mat-icon {
            width:unset;
            height:unset;
            color: rgb(32,56,100);
            font-size: 20px;
            max-width:20px;
            overflow: hidden;
            margin: auto auto 0px auto;
        }
        > span {
            color: rgb(32,56,100);
            margin: 5px auto auto auto;
            font-size: 14px;
            > span {
                font-weight:600;
                cursor:pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .bottom-container {
        width: 100%;
        height: 35px;
        color: #3b3b3b;
        //background: rgb(32, 56, 100, 0.8);
        background-image: linear-gradient(0.02turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
        position: absolute;
        z-index: 1;
        bottom: 0px;
        display: flex;
        flex-direction: column;

        .stats-container {
            display: flex;
            margin: auto auto 7px auto;
            width: 100%;
            z-index: 1;
            font-size: 12px;
            justify-content: space-between;
        }
    }

    .figure-container {
        margin: auto;
        cursor: pointer;
        display: flex;
        border-radius: 15px;
        align-items: center;
        min-width: 52px;
        color: white;
        border-bottom:1px solid #4bc7ff;
        &.views mat-icon {
            height: unset;
            width: unset;
            font-size: 14px;
            max-width:14px;
        overflow: hidden;
            color: #f9f9f9;
            margin: 3px auto auto 5px;
        }
        &.likes mat-icon {
            height: unset;
            width: unset;
            color: #7ed7ff;
            font-size: 14px;
            max-width:14px;
            overflow: hidden;
            margin: 3px auto auto 5px;
        }
        &.loves mat-icon {
            height: unset;
            width: unset;
            font-size: 14px;
            max-width:14px;
            overflow: hidden;
            color: #e41919;
            margin: 3px auto auto 4px;
        }
        > div {
            display: flex;
            margin: auto auto;
        }
    }

    .global-container > .right-container {
        overflow: overlay;
        display: flex;
        position: relative;
        flex-direction: column;
        width: -webkit-fill-available;
        padding: 10px 10px 6px 10px;
        color: rgb(32, 56, 100);
        max-width: 900px;
    }

    .global-container > .right-container .name {
        position: relative;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        align-items: center;
        text-align: left;
        > span {
            line-height: 22px;
            font-size: 15px;
            margin-right: 30px;
            word-break: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 2;
        }
    }

    @media (min-width: 1050px) {
        .global-container > .rank {
            margin: auto 0px auto 0px;
            padding-left: 10px;
            display: flex;
            opacity: 0.8;
            font-size: 230px;
            line-height: 200px;
            min-width: 255px;
            height: 220px;
            border-radius: 5px;
            position: relative;
        }
    
        .global-container > .rank .absolute-shiny {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(to right, #ffffff00 33%, rgb(255 255 255 / 22%) 50%, transparent 66%);
        }
    
        .global-container > .rank span {
            margin: auto;
            margin-top: 0px;
            line-height: 205px;
            color: #e6e6e6;
            -webkit-text-stroke: 7px #dadada;
        }
    }
    @media (max-width: 1050px) {
        .global-container > .rank {
            margin: auto 0px auto 0px;
            padding-left: 10px;
            display: flex;
            opacity: 0.8;
            font-size: 160px !important;
            min-width: 190px!important;
            line-height: 200px;
            height: 220px;
            border-radius: 5px;
            position: relative;
        }
    
        .global-container > .rank .absolute-shiny {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(to right, #ffffff00 33%, rgb(255 255 255 / 22%) 50%, transparent 66%);
        }
    
        .global-container > .rank span {
            margin: auto;
            margin-top: 0px;
            line-height: 205px;
            color: #e6e6e6;
            -webkit-text-stroke: 7px #dadada;
        }
    }

 

    .author-container {
        display: flex;
        width: 100%;
        margin-top: 8px;

        .left-container {
            width: 33px;
            height: 33px;
            min-width: 33px !important;
            min-height: 33px !important;
            margin: auto 5px auto 0px;
            img {
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 100px;
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            }
            div {
                width: 100%;
                height: 100%;
                border-radius: 50px;
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            }
        }
        .right-container {
            display: flex;
            flex-direction: column;
            text-align: left;
            width: calc(100% - 40px);
            margin: 0px 10px auto 5px;
            span.author-name {
                cursor: default;
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 3;

                mat-icon {
                    vertical-align: middle;
                    display: inline-block;
                    margin: 3px 0px 5px 3px;
                    color: #4bc7ff;
                    height: 16px;
                    width: unset;
                    font-size: 16px;
                }
                .pro-logo {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-text-stroke: 0.5px black;
                    background-image: linear-gradient(0.125turn, #002d88, #0081b3, deepskyblue);
                    color: #ffffff;
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                    font-weight: 800;
                    font-size: 10px;
                    border-radius: 7px;
                    margin: 2px 0px 5px 3px;
                    padding: 0px 3px 1px 5px;
                    line-height: 16px;
                }
            }
            span.author-description {
                font-size: 12px;
                line-height: 14px;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }
        }
    }

    .verso-type {
        width: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-align: left;
        line-height: 20px;
        margin-top: 4px;
        flex-wrap: wrap;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .type-container {
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.36);
            border-radius: 20px;
            padding: 5px 9px 5px 9px;
            display: flex;
            background-image: linear-gradient(0.5turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgb(57 108 152));
            margin: auto 4px 3px 0px;
            color: white;
            span {
                font-size: 12px;
                line-height: 12px;
                font-weight: bold;
                margin: auto auto auto auto;
            }
            mat-icon {
                font-size: 12px;
                max-width:12px;
            overflow: hidden;
                margin-left: 3px;
                width: unset !important;
                height: unset !important;
            }
        }
    }
    .subscribings-page .verso-type {
        //margin-top:10px;
    }

    .tag-container {
        border-bottom: solid 2px rgba(2, 18, 54, 0.9);
        border-radius: 20px;
        padding: 3px 9px 5px 9px;
        display: flex;
        color: rgb(32, 56, 100);
        margin: auto 4px 3px 0px;
        span {
            font-size: 12px;
            line-height: 12px;
            color: rgb(32, 56, 100);
            font-weight: bold;
            margin: auto auto auto auto;
        }
    }

    .verso-description {
        width: 100%;
        text-align: left;
        margin-top: 3px;
        margin-bottom: 3px;
        overflow-y: auto;
        word-break: break-word;
        span {
            margin: auto auto;
            font-size: 12px;
            line-height: 18px;
            display: -webkit-box;
            width: 100%;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 4;
        }
    }

    .date-container {
        width: 100%;
        text-align: left;
        white-space: nowrap;
        margin-top: auto;
        overflow: hidden !important;
        text-overflow: ellipsis;
        span {
            font-size: 12px;
            font-weight: 700;
            color: rgb(32, 56, 100);
        }
    }

    .preview {
        position: relative;
        margin: auto 0px auto auto;
        height: 266px;
        width: 266px;
        min-width: 266px;
        box-shadow: 0 1px 6px 1px #ececec, 0px 2px 4px rgba(0, 0, 0, 0.2);
        //overflow: hidden;
        //border-radius: 0px 20px 20px 0px;
        //background: rgb(32, 56, 100);
        background:#fbfbfb;
    }
    .hover-to-preview {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #eeeeee;
        opacity: 0.98;
        transition: opacity 100ms;
        mat-icon {
            font-size: 26px;
            max-width:26px;
            overflow: hidden;
            color: #203864;
            width: unset;
            height: unset;
            margin: auto auto 0px auto;
        }
        span {
            color: #203864;
            font-weight: 600;
            font-size: 13px;
            margin: 0px auto auto auto;
        }
    }
    .fade-on-hover:hover {
        opacity: 0;
    }
    .preview img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .pdf-document-container {
        background: unset !important;
    }
    .thumbnail-artwork .ng2-pdf-viewer-container {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #dedede75;
        border-radius: 2px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background: #5656562e;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #56565647;
    }

    .rank-small-screen {
        display: none;
    }
    .show-on-small-screen {
        display: none;
    }
    .show-on-large-screen {
        display: block;
    }
    .swiper-thumbnails {
        overflow: hidden;
        position: absolute;
        opacity: 0;
        //background: rgb(32, 56, 100);
        background:#fbfbfb;
        .swiper-slide:not(:first-child) img {
            height: 100%;
            object-fit: contain;
        }
    }
    

    @media (max-width: 599px) {
        padding-left: unset !important;
        padding-right: unset !important;

        .global-container {
            flex-direction: column;
            padding: 0px !important;
            background: rgb(251, 251, 251);
            border: 1px solid #e0e0e0;
            > .left-container img {
                border-radius: 19px 19px 0px 0px  !important;
                box-shadow: unset !important;
                margin-top: unset !important;
                width: 100% !important;
                object-fit: cover;
            }
            > .left-container .skeleton {
                border-radius: unset !important;
                box-shadow: unset !important;
                margin-top: unset !important;
                width: 100% !important;
                object-fit: cover;
            }
            

           
        }
        .global-container > .left-container {
            width: 100% !important;
        }
        .global-container > .right-container .date-container {
            margin-top: 5px !important;
        }

        .show-on-small-screen {
            display: block !important;
        }
        .show-on-large-screen {
            display: none !important;
        }

        .swiper-thumbnails .swiper-slide {
            width: 100% !important;
        }
        .comic .swiper-thumbnails .swiper-slide img,
        .writing .swiper-thumbnails .swiper-slide img {
            height: 100%;
        }

        .optionsMenu {
            display:none !important;
        }
        .options-name {
            display:flex !important;
            position: absolute;
            right: 0px;
            width: 30px;
            height: 30px;
            outline: none;
            background: transparent;
            border: none;
            display: flex ;
            border-radius: 50px;
            padding: 0px;
            transition: background-color 200ms;
            &:hover {
                background: #e0e4ee;
            }
            mat-icon {
                font-size: 20px;
                max-width:20px;
                overflow: hidden;
                width: unset;
                height: unset;
                color: rgb(32, 56, 100);
                margin: auto;
            }
        }
    }

    @media (min-width: 600px) {
        
        .global-container > .left-container img {
            width: 200px !important;
            height: 266.66px;
            object-fit: cover;
        }
        .swiper-thumbnails {
            width: 200px !important;
            height: 266.66px !important;
        }

        .options-name {
            display:none !important;
        }
    }
    
  
    @media (max-width: 900px) {
        .rank {
            display: none !important;
        }
        .rank-small-screen {
            display: block !important;
            position: absolute;
            color: #e2e2e2;
            -webkit-text-stroke: 1px #d2d2d2;
            bottom: 10px;
            right: 15px;
            font-size: 40px;
        }
    }
    @media (max-width: 1150px) {
        .preview {
            display: none !important;
        }
        .thumbnail-picture {
            //display: none !important;
        }
        .swiper-thumbnails {
            position: relative;
            opacity: 1;
        }
        .subscribings-page .absolute-selector {
            //display: none !important;
        }
        .subscribings-page .absolute-small-screen-selector {
            display: block !important;
        }
    }

    .subscribings-page .absolute-selector {
        position: absolute;
        top: 10px;
        right: 11px;
        z-index: 10;
    }
    .subscribings-page .absolute-small-screen-selector {
        display: none;
        position: absolute;
        top: 10px;
        right: 11px;
        z-index: 10;
    }
    .trendings-page .absolute-small-screen-selector {
        position: absolute;
        top: 10px;
        right: 11px;
        z-index: 10;
    }
    .trendings-page .absolute-selector {
        //display: none;
        position: absolute;
        top: 10px;
        right: 11px;
        z-index: 10;
    }

    .optionsMenu {
        width: 30px;
        height: 30px;
        outline: none;
        background: rgb(251 251 251);
        border: none;
        display: flex ;
        border-radius: 50px;
        padding: 0px;
        transition: background-color 200ms;
        &:hover {
            background: #e0e4ee;
        }
        mat-icon {
            font-size: 20px;
            max-width:20px;
            overflow: hidden;
            width: unset;
            height: unset;
            color: rgb(32, 56, 100);
            margin: auto;
        }
    }

    .only-one-slide {
        .pagination-container {
            opacity: 0;
        }
    }
    .pagination-container {
        position: absolute;
        bottom: 40px;
        z-index: 1;
        left: 50%;
        //background: rgb(32, 56, 100, 0.6);
        padding: 0px 2px;
        border-radius: 50px;
        transform: translateX(-50%);
        .thumbnail-artwork-pagination {
            justify-content: center;
            line-height: 15px;
            display: flex;

            ::ng-deep .swiper-pagination-bullet {
                width: 7px !important;
                height: 7px !important;
                margin-left: 2px;
                margin-right: 2px;
                margin-top: 4px;
                margin-bottom: 4px;
                border: 1px solid white;

                &.swiper-pagination-bullet-active {
                    background: white;
                }
            }
        }
    }
    .swiper--button-next {
        opacity: 0;
        transition: opacity 200ms;
        right: 0px;
        top: 0px;
        position: absolute;
        display: flex;
        color: #40516f;
        margin-top: unset !important;

        z-index: 1;

        height: 100%;
        width: 40px;
        outline: none !important;

        div {
            margin: auto auto auto 0px;
            width: 35px;
            height: 35px;
            display: flex;
            background: #2038649e;
            border-radius: 50px;
            padding-right: 5px;
        }
        mat-icon {
            height: unset;
            width: unset;
            margin: auto;
            color: #ffffffcc;
            font-size: 17px;
            max-width:17px;
            overflow: hidden;
            transform: rotate(180deg);
        }
        &.swiper-button-disabled {
            div {
                background: #20386447;
                mat-icon {
                    color: #ffffffba;
                    max-width:24px;
                    overflow: hidden;
                }
            }
        }
    }
    .swiper--button-prev {
        opacity: 0;
        transition: opacity 200ms;
        left: 0px;
        top: 0px;
        position: absolute;
        display: flex;
        color: #40516f;
        margin-top: unset !important;

        z-index: 1;

        height: 100%;
        width: 40px;
        outline: none !important;

        div {
            margin: auto 0px auto auto;
            width: 35px;
            height: 35px;
            display: flex;
            background: #2038649e;
            border-radius: 50px;
            padding-left: 5px;
        }
        mat-icon {
            height: unset;
            width: unset;
            margin: auto;
            color: #ffffffcc;
            font-size: 17px;
            max-width:17px;
            overflow: hidden;
        }
        &.swiper-button-disabled {
            div {
                background: #20386447;
                mat-icon {
                    color: #ffffffba;
                }
            }
        }
    }
    .swiper-thumbnails:hover .swiper--button-next {
        opacity: 1;
    }
    .swiper-thumbnails:hover .swiper--button-prev {
        opacity: 1;
    }


    

    
    @media (max-width: 900px) {
        //width:80%;

        .subscribings-page .absolute-selector {
            top: 3px !important;
        }
        .author-container .right-container span.author-name {
            font-size: 12px;
        }
        .author-container .right-container  span.author-description {
            font-size: 11px;
        }
        .global-container > .right-container {
            padding: 6px 6px 6px 6px;
        }
        .verso-description {
            span {
                font-size:11px;
            }
        }
        .verso-type {
            .type-container {
                margin: auto 2px 3px 0px;
                //padding: 3px 3px 4px 3px;
                padding: 6px 8px 6px 8px;
            
                span {
                    font-size: 11px;
                    line-height: 9px;
                    font-weight: 700 !important;
                }
                mat-icon {
                    font-size: 12px;
                    max-width:12px;
                    overflow: hidden;
                    margin-left: 3px;
                    line-height: 9px;
                    width: unset !important;
                    height: unset !important;
                }
            }
        }
        .tag-container {
            margin: auto 3px 3px 0px;
            padding: 3px 4px 4px 4px;
            border-bottom: solid 2px #203864;
            span {
                font-size: 10.5px;
                line-height: 9px;
                font-weight: 700 !important;
            }
        }
    }
    @media (min-width: 400px) and (max-width: 599px) {
        width:90%;
    }
    /*@media (max-width: 400px) {
        width:100%;
        border-radius:0px !important;
    }*/

}

::ng-deep {
    .thumbnail-artwork-menu {
        margin-top: 3px !important;
        border-radius: 12px 10px 12px 12px !important;
        min-height: unset !important;
        min-width: unset !important;
        .mat-menu-content {
            padding-top: unset !important;
            padding-bottom: unset !important;
        }
        .thumbnail-artwork-menu-item {
            display: flex !important;
            font-size: 12px !important;
            line-height: 38px !important;
            height: 38px !important;
            font-weight: bold !important;
            padding: 0px 15px 0 10px !important;
            color: rgb(32, 56, 100) !important;
            transition: all 200ms !important;
            outline: none !important;

            transition: background-color 200ms;

            mat-icon {
                margin: auto 10px auto 0px !important;
                width: unset !important;
                height: unset !important;
                font-size: 18px !important;
                max-width:18px;
            overflow: hidden;
                color: rgb(32, 56, 100) !important;
            }

            .mat-ripple {
                background: unset !important;
                * {
                    background: unset !important;
                }
            }
            &:hover {
                background: #c9d4e2;
            }
            &:active {
                background: #aabed4;
            }
        }
    }
}

.shiny {
    background-color: gainsboro !important;
    background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%) !important;
    background-size: 300% 100% !important;
    -webkit-animation: shine 2s infinite !important;
    animation: shine 2s infinite !important;
}

@keyframes shine {
    0% {
        background-position: right;
    }
}


::ng-deep .tooltip-thumbnail-artwork {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid rgb(94, 121, 172) !important;
    font-weight: 600 !important;
    border-radius: 12px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    font-size: 11px !important;
    color: rgb(32, 56, 100) !important;
    padding: 6px !important;
    text-align: center !important;
}