

<!--<form>

    <div class="container">
        <input type="firstName" placeholder="Prénom" required>
        <input type="lastName" placeholder="Nom" required>

        <div class="container2">
            <label>Genre :</label>
            <select type="gender" required>
                <option value="">Sélection</option>
                <option value="woman">Femme</option>
                <option value="man">Homme</option>
            </select>
        </div>
        
        <input type="nickname" placeholder="Identifiant (@)" required>
        <input type="location" placeholder="Ville ou région" required>
        <input type="email" placeholder="Adresse mail" required>
        <input type="password" placeholder="Mot de passe" required>

        <button type="submit">S'inscrire</button>
        

    </div>

</form>-->

<div class="status step0" [ngStyle]="{'width': step>=0 ? '25%' : '0%' }"></div>
<div class="status step1" [ngStyle]="{'width': step>=1 ? '25%' : '0%' }"></div>
<div class="status step2" [ngStyle]="{'width': step>=2 ? '25%' : '0%' }"></div>
<div class="status step3" [ngStyle]="{'width': step>=3 ? '25%' : '0%' }"></div>


<div class="popup-container">

    
    <!------------------------------------------------------------------------------->
    <!-----------------------STEP 0---------------------------------->
    <!------------------------------------------------------------------------------->
    <div class="popup-step" *ngIf="step==0">

        <div class="back-and-logo">
            <div class="logo">
                logo
            </div>
        </div>
        <div class="step-name">
            <span>Créer un compte</span>
        </div>
        <div class="step-form" [formGroup]="registerForm1">


            <div class="form-item">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" autocomplete="off">
                    <mat-error *ngIf="registerForm1.controls['email'].invalid">Veuillez saisir un mail valide</mat-error>
                </mat-form-field>
            </div>

            
            <div class="form-item">
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="password" type="password" autocomplete="off">
                    <mat-error *ngIf="registerForm1.controls['password'].invalid">Veuillez saisir au moins 8 caractères, dont une majuscule, un caractère spécial et un nombre
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="form-item">
                <mat-form-field>
                    <mat-label>Confirmation du mot de passe</mat-label>
                    <input matInput formControlName="confirmPassword" type="password" autocomplete="off">
                </mat-form-field>
            </div>


        </div>


        <div class="step-validation">
            <button mat-raised-button class="submit-button style0" (click)="validate_step();">
                <span>Suivant</span>
            </button>
        </div>

    </div>


    
    <div class="popup-step" *ngIf="step==1">

        <div class="back-and-logo">
            <div class="back-button">
                <button mat-raised-button class="style0" (click)="step_back();">
                    <span>Retour</span>
                </button>
            </div>
            <div class="logo">
                logo
            </div>
        </div>

        <div class="step-name">
            <span>Informations du profil</span>
        </div>
        <div class="step-form" [formGroup]="registerForm2">

            <div class="form-item">
                <mat-form-field>
                    <mat-label>Genre</mat-label>
                    <mat-select [compareWith]="compareObjects" disableOptionCentering formControlName="gender">
                        <mat-option  *ngFor="let obj of listOfGenders" [value]="obj">
                            {{ obj }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerForm2.controls['gender'].invalid">Veuillez sélectionner un genre</mat-error>
                </mat-form-field>
            </div>

            <div class="form-item">
                <mat-form-field>
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="firstName" maxLength="20" autocomplete="off">
                    <mat-error *ngIf="registerForm2.controls['firstName'].invalid">Veuillez saisir un prénom valide
                    </mat-error>
                    <div class="length-indicator">{{registerForm2.controls['firstName'].value?.length || 0}}/20</div>
                </mat-form-field>
            </div>
            <div class="form-item">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="lastName" maxLength="20" autocomplete="off">
                    <mat-error *ngIf="registerForm2.controls['lastName'].invalid">Veuillez saisir un nom valide
                    </mat-error>
                    <div class="length-indicator">{{registerForm2.controls['lastName'].value?.length || 0}}/20</div>
                </mat-form-field>
            </div>

            <div class="form-item datepicker">
                <mat-form-field appearance="fill">
                    <mat-label>Date de naissance</mat-label>

                    <input matInput [matDatepicker]="picker" formControlName="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-error *ngIf="registerForm2.controls['birthday'].invalid">Veuillez saisir une date de naissance</mat-error>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>

                </mat-form-field>
            </div>
            
        </div>

        <div class="step-validation">
            <button mat-raised-button class="submit-button style0" (click)="validate_step();">
                <span>Suivant</span>
            </button>
        </div>

    </div>




    
    <div class="popup-step" *ngIf="step==2">

        <div class="back-and-logo">
            <div class="back-button">
                <button mat-raised-button class="style0" (click)="step_back();">
                    <span>Retour</span>
                </button>
            </div>
            <div class="logo">
                logo
            </div>
        </div>

        <div class="step-name">
            <span>Mon compte Linkarts</span>
        </div>
        <div class="step-form" [formGroup]="registerForm3">


            <div class="form-item">
                <mat-form-field>
                    <mat-label>Pseudonyme</mat-label>
                    <input matInput formControlName="nickname" maxLength="20" autocomplete="off">
                    <mat-error *ngIf="registerForm3.controls['nickname'].invalid">Veuillez saisir un pseudonyme valide
                    </mat-error>
                    <div class="length-indicator">{{registerForm3.controls['nickname'].value?.length || 0}}/20</div>
                </mat-form-field>
            </div>


            <div class="form-item">
                <mat-form-field>
                    <mat-label>Description principale</mat-label>
                    <input matInput formControlName="primary_description" maxLength="40" autocomplete="off">
                    <mat-error *ngIf="registerForm3.controls['primary_description'].invalid">Veuillez saisir une description valide
                    </mat-error>
                    <div class="length-indicator">{{registerForm3.controls['primary_description'].value?.length || 0}}/40</div>
                </mat-form-field>
            </div>
            
            <div class="form-item" style="height:unset !important;">
                <mat-form-field>
                    <mat-label>Description complète (optionnel)</mat-label>
                
                    <textarea matInput cdkTextareaAutosize formControlName="primary_description_extended" maxLength="1000" autocomplete="off"></textarea>
                    <!--<input matInput formControlName="primary_description_extended" autocomplete="off">-->
                    <mat-error *ngIf="registerForm3.controls['primary_description_extended'].invalid">Veuillez faire une saisie valide, ou laisser ce champ vide
                    </mat-error>
                    <div class="length-indicator">{{registerForm3.controls['primary_description_extended'].value?.length || 0}}/1000</div>
                </mat-form-field>
            </div>

            
        </div>

        <div class="step-validation">
            <button mat-raised-button class="submit-button style0" (click)="validate_step();">
                <span>Suivant</span>
            </button>
        </div>

    </div>


    
    <div class="popup-step" *ngIf="step==3">

        <div class="back-and-logo">
            <div class="back-button">
                <button mat-raised-button class="style0" (click)="step_back();">
                    <span>Retour</span>
                </button>
            </div>
            <div class="logo">
                logo
            </div>
        </div>

        <div class="step-name">
            <span>Informations optionnelles</span>
        </div>
        <div class="step-form" [formGroup]="registerForm4">


            <div class="form-item">
                <mat-form-field>
                    <mat-label>Métier</mat-label>
                    <input matInput formControlName="job" maxLength="30" autocomplete="off">
                    <mat-error *ngIf="registerForm4.controls['job'].invalid">Veuillez faire une saisie valide, ou laisser ce champ vide
                    </mat-error>
                    <div class="length-indicator">{{registerForm4.controls['job'].value?.length || 0}}/30</div>
                </mat-form-field>
            </div>
            

            <div class="form-item">
                <mat-form-field>
                    <mat-label>Formation</mat-label>
                    <input matInput formControlName="training" maxLength="30" autocomplete="off">
                    <mat-error *ngIf="registerForm4.controls['training'].invalid">Veuillez faire une saisie valide, ou laisser ce champ vide
                    </mat-error>
                    <div class="length-indicator">{{registerForm4.controls['training'].value?.length || 0}}/30</div>
                </mat-form-field>
            </div>


            <div style="display:flex;align-items: center;">
                <div class="form-item" style="width: calc( 50% - 15px);margin-left: auto;margin-right: auto;">
                    <mat-form-field>
                        <mat-label>Ville</mat-label>
                        <input matInput formControlName="city" maxLength="30" autocomplete="off">
                        <mat-error *ngIf="registerForm4.controls['city'].invalid">Veuillez faire une saisie valide
                        </mat-error>
                        <div class="length-indicator">{{registerForm4.controls['city'].value?.length || 0}}/30</div>
                    </mat-form-field>
                </div>
                <div class="form-item" style="width: calc( 50% - 15px);margin-left: auto;margin-right: auto;">
                    <mat-form-field>
                        <mat-label>Pays</mat-label>
                        <input matInput formControlName="country" maxLength="30" autocomplete="off">
                        <mat-error *ngIf="registerForm4.controls['country'].invalid">Veuillez faire une saisie valide
                        </mat-error>
                        <div class="length-indicator">{{registerForm4.controls['country'].value?.length || 0}}/30</div>
                    </mat-form-field>
                </div>
            </div>

            <!--<div class="form-item">
                <mat-form-field>
                    <mat-label>Localisation</mat-label>
                    <input matInput
                        matGoogleMapsAutocomplete
                        [country]="fr"
                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                        (onLocationSelected)="onLocationSelected($event)">
                </mat-form-field>
            </div>-->



            <div class="step-name">
                <span>Liens externes</span>
            </div>
            
            <div style="display:flex;align-items: center;">
                <div class="form-item" style="width: calc( 50% - 30px);margin-left: auto;margin-right: auto;">
                    <mat-form-field>
                        <mat-label>Titre du lien</mat-label>
                        <input matInput formControlName="link_title" maxLength="30" autocomplete="off">
                        <mat-error *ngIf="registerForm4.controls['link_title'].invalid">Veuillez faire une saisie valide
                        </mat-error>
                        <div class="length-indicator">{{registerForm4.controls['link_title'].value?.length || 0}}/30</div>
                    </mat-form-field>
                </div>
                <div class="form-item" style="width: calc( 50% - 30px);margin-left: auto;margin-right: auto;">
                    <mat-form-field>
                        <mat-label>Lien</mat-label>
                        <input matInput formControlName="link" maxLength="30" autocomplete="off">
                        <mat-error *ngIf="registerForm4.controls['link'].invalid">Veuillez faire une saisie valide
                        </mat-error>
                        <div class="length-indicator">{{registerForm4.controls['link'].value?.length || 0}}/30</div>
                    </mat-form-field>
                </div>
                <button mat-button class="mat-icon-button" tabIndex="-1" (click)="add_link()" 
                style="width: 40px; 
                display:flex;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                align-items: center;"> 	

                    <mat-icon class="item-icon" style="margin:auto auto;">library_add</mat-icon>
                </button>
            </div>

            <div class="links-container">
                <div class="link" *ngFor="let item of links_titles;let i=index">
                    <span>
                        {{item}} : {{links[i]}}
                    </span>
                    <button mat-button class="mat-icon-button" tabIndex="-1" (click)="remove_link(i)"> 	
                        <mat-icon class="item-icon">close</mat-icon>
                    </button>
                </div>
            </div>


            
        </div>

        <div class="step-validation">
            <button mat-raised-button class="submit-button style0" (click)="register();">
                <span>M'inscrire</span>
            </button>
        </div>

    </div>




</div>


<!--<div class="main-container">
        
        <div [formGroup]="registerForm" class="form-container">
            <div class="title-container">
                <span class="title">
                    Informations principales
                </span>
            </div>
            <div >
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="email">Adresse mail*</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Webmail address is required</div>
                        </div>
                    </div>

                </div>
                <div style="display:flex;align-items: center;" >
                    <div class="form-group">
                        <label for="nickname">Pseudo*</label>
                        <input type="text" formControlName="nickname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }" />
                        <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
                            <div *ngIf="f.nickname.errors.required">Nickname is required</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="password">Mot de passe*</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="firstName">Prénom*</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="lastName">Nom*</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="birthday">Date de naissance</label>
                        <input type="text" formControlName="birthday" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
                        <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                            <div *ngIf="f.birthday.errors.required">birthdayis required</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="gender">Genre</label>
                        <input type="text" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
                        <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                            <div >Gender blablaba</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div [formGroup]="registerForm" class="form-container">
            <div class="title-container">
                <span class="title">
                    Informations complémentaires visibles en première page de votre compte
                </span>
            </div>
            <div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="primary_description">Description principale courte*</label>
                        <input type="text" formControlName="primary_description" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.primary_description.errors }" 
                        placeholder="Courte présentation de votre profil"/>
                        <div *ngIf="submitted && f.primary_description.errors" class="invalid-feedback">
                            <div *ngIf="f.primary_description.errors.required">primary_description is required</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="primary_description_extended">Description principale longue</label>
                        <input type="text" formControlName="primary_description_extended" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.primary_description_extended.errors }" 
                        placeholder="Présentation étendue de votre profil pour vos abonnés"/>
                        <div *ngIf="submitted && f.primary_description_extended.errors" class="invalid-feedback">
                            <div >primary_description_extended blablabla</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="location">Localisation préférentielle</label>
                        <input type="text" formControlName="location" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.location.errors }" 
                        placeholder="Ville,Pays"/>
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div>Location blablabla</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;align-items: center;">
                    <div class="form-group">
                        <label for="training">Formations ou études</label>
                        <input type="text" formControlName="training" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.training.errors }" />
                        <div *ngIf="submitted && f.training.errors" class="invalid-feedback">
                            <div >training blablaba</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [formGroup]="LinksGroup" class="form-container">
            <div class="title-container">
                <span class="title">
                    Liens vers des sites ou réseaux sociaux
                </span>
            </div>
            <div style="display:flex;align-items: center;">
                <div style="display:flex;" >
                    <div class="form-group">
                        <label for="link_title">Titre du lien</label>
                        <input type="text" formControlName="link_title" class="form-control" 
                        [ngClass]="{ 'is-invalid': links_submitted && g.link_title.errors }" />
                        <div *ngIf="links_submitted && g.link_title.errors" class="invalid-feedback">
                            <div>blabla 1</div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;">
                    <div class="form-group">
                        <label for="link">lien</label>
                        <input type="text" formControlName="link" class="form-control" 
                        [ngClass]="{ 'is-invalid': links_submitted && g.link.errors }"
                        placeholder="exemple: http/linkarts.fr/account/pierre/2..." />
                        <div *ngIf="links_submitted && g.link.errors" class="invalid-feedback">
                            <div >blabla</div>
                        </div>
                    </div>
                </div>
                <button mat-button class="mat-icon-button" tabIndex="-1" (click)="add_link()"> 	
                    <mat-icon class="item-icon">library_add</mat-icon>
                </button>
            </div>
            <div style="display:block">
                <div style="display:flex" *ngFor="let item of links_titles;let i=index">
                    <span>
                        {{item}} : {{links[i]}}
                    </span>
                    <span>
                        <button mat-button class="mat-icon-button" tabIndex="-1" (click)="remove_link(i)"> 	
                            <mat-icon class="item-icon">close</mat-icon>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        
        
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary" (click)="register()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/" class="btn btn-link">Cancel</a>
        </div>
</div>-->
