<button (click)="close_dialog()" class="close" tabIndex="-1">
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>


<div class="component-container">

    <div class="swiper-container swiper-container-loading" *ngIf="!show_container">
        <mat-spinner diameter="40"></mat-spinner>
    </div>

    <div #swiperContainer class="swiper-container" *ngIf="show_container">
        <div #swiperWrapper class="swiper-wrapper">
    
            <div #swiperSlide *ngFor="let item of list_of_pictures; let i = index" class="swiper-slide">
                <img [src]="list_of_pictures[i]" class="slide-container-img">
            </div>
            
        </div>
        <!-- Add Arrows -->
        <div [ngClass]="{'invisible': !swiper || !swiper.slides || 1>=swiper.slides.length}" class="swiper-button-prev s1"></div>
        <div [ngClass]="{'invisible': !swiper || !swiper.slides || 1>=swiper.slides.length}" class="swiper-button-next s1"></div>
    </div>
    
    
    <div class="bottom-thumbnails" *ngIf="show_container">
        <div class="swiper-thumbnails">
            <div #swiperContainer2 class="swiper-container">
                <div #swiperWrapper2 class="swiper-wrapper">
    
                <div *ngFor="let item of list_of_pictures; let i = index" class="swiper-slide thumbnail" (click)="set_slide(i);" [ngClass]="{'not-opened': swiper && swiper.activeIndex != i }">
                    <img [src]="list_of_pictures[i]">
                </div>
            </div>
        </div>
            
        <!-- Add Arrows -->
        <div class="swiper-button-next s2" [ngClass]="{'invisible': swiper2 && swiper2.isBeginning && swiper2.isEnd }"></div>
        <div class="swiper-button-prev s2" [ngClass]="{'invisible': swiper2 && swiper2.isBeginning && swiper2.isEnd }"></div>
    </div>
    

</div>