
<div class="component-container">



    <div class="title-no-data" *ngIf="list_of_subscribings.length==0">
        <span>Aucun abonnement</span>
    </div>
    
    <div class="title" *ngIf="list_of_subscribings.length>0">
        <span>Abonnements</span>

        <button class="close-button" [mat-dialog-close]="true">
            <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
        </button>
    </div>

    <div class="subscribers-container" *ngIf="list_of_subscribings.length>0 && !first_check">
        <ng-container *ngFor="let item of list_of_subscribings.slice(0,number_of_subs_to_show); let i=index">
            <div *ngIf="5>i" class="subscriber-card-skeleton"></div>
        </ng-container>
    </div>

    <div class="subscribers-container" *ngIf="list_of_subscribings.length>0 && first_check" [@enterAnimation] #myScrollContainer>
        <div *ngFor="let item of list_of_subscribings_information.slice(0,number_of_subs_to_show); let i=index" class="subscriber-card" [ngClass]="{'really-invisible':!list_of_subscribings_information[i] }">
            
            
            <!--********************-->
            <!--Author container-->
            <!--********************-->
            <ng-container *ngIf="list_of_all_retrieved[i] && list_of_subscribings_information[i]">
                <div class="subscriber">
                    <div class="user-container">
                        <a [routerLink]=get_user_link(i) (click)="close_dialog();">
                            <div class="left-container"  [ngClass]="{'shiny':!pp_is_loaded[i]}">
                                <img [src]="list_of_profile_pictures[i]" (load)="load_pp(i)"  [ngClass]="{ 'invisible':!pp_is_loaded[i]}">
                            </div>
                        </a>
                        <a [routerLink]=get_user_link(i) (click)="close_dialog();">
                            <div class="right-container">
                                
                                
                                <span class="author-name">
                                    <div>{{list_of_subscribings_information[i].firstname}} {{list_of_subscribings_information[i].lastname}}</div>
                                    <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="list_of_subscribings_information[i].certified_account"
                                    matTooltip="Compte certifié" 
                                    matTooltipClass='linkarts-tooltip' 
                                    [matTooltipPosition]="'below'"
                                    [matTooltipShowDelay]="200">verified</mat-icon>
            
                                </span>
                                <span class="user-description">@{{list_of_subscribings_information[i].nickname}}</span>
                            </div>
                        </a>
                    </div>
                  
                </div>
                
    
                <ng-container *ngIf="type_of_profile=='account' && list_of_subscribings_information[i].id!=visitor_id">
                    <button *ngIf="!list_of_check_subscribtion[i] && visitor_id!=author_id"  [disabled]="loading_subscribtion" class="subscribe-button" (click)="subscribtion(i)">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">add</mat-icon>
                        <span>S'abonner</span>
                    </button>
                    <button *ngIf="list_of_check_subscribtion[i]"  [disabled]="loading_subscribtion" class="unsubscribe-button" (click)="subscribtion(i)">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">notifications_active</mat-icon>
                        <span *ngIf="list_of_subscribings_information[i].gender=='Homme'">Abonné</span>
                        <span *ngIf="list_of_subscribings_information[i].gender=='Femme'">Abonnée</span>
                        <span *ngIf="list_of_subscribings_information[i].gender=='Groupe'">Abonnés</span>
                    </button>
                </ng-container>
                
            </ng-container>
           

        </div>
    </div>


</div>

