
<div class="component-container">



    <div class="title-no-data" *ngIf="list_of_subscribings.length==0">
        <span>Aucun abonnement</span>
    </div>
    
    <div class="title" *ngIf="list_of_subscribings.length>0">
        <span>Abonnements</span>

        <button class="close-button" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="subscribers-container" *ngIf="list_of_subscribings.length>0 && !subscribtion_info_added">
        <ng-container *ngFor="let item of list_of_subscribings; let i=index">
            <div *ngIf="5>i" class="subscriber-card-skeleton"></div>
        </ng-container>
    </div>

    <div class="subscribers-container" *ngIf="list_of_subscribings.length>0 && subscribtion_info_added" [@enterAnimation]>
        <div *ngFor="let item of list_of_subscribings_information; let i=index" class="subscriber-card">
            
            <!--********************-->
            <!--Author container-->
            <!--********************-->
            <div class="subscriber">
                <div class="user-container">
                    <a [routerLink]=get_user_link(i)>
                        <div class="left-container"  [ngClass]="{'shiny':!pp_is_loaded[i]}">
                            <img [src]="list_of_profile_pictures[i]" (load)="load_pp(i)"  [ngClass]="{ 'invisible':!pp_is_loaded[i]}">
                        </div>
                    </a>
                    <a [routerLink]=get_user_link(i)>
                        <div class="right-container">
                            <span class="user-name">{{item.firstname}} {{item.lastname}} 
                                <span class="certifications-span" *ngIf="list_of_subscribings_information[i].type_of_account_checked">PRO</span>
                                <mat-icon *ngIf="list_of_subscribings_information[i].certified_account">verified</mat-icon>
                               
                            </span>
                            <span class="user-description">@{{item.nickname}}</span>
                        </div>
                    </a>
                </div>
                
               
            </div>

            <ng-container *ngIf="type_of_profile=='account' && list_of_subscribings[i].id_user_subscribed_to!=visitor_id">
                <button *ngIf="!list_of_check_subscribtion[i]"  [disabled]="loading_subscribtion" class="subscribe-button" (click)="subscribtion(i)">
                    <mat-icon>add</mat-icon>
                    <span>S'abonner</span>
                </button>
                <button *ngIf="list_of_check_subscribtion[i]"  [disabled]="loading_subscribtion" class="unsubscribe-button" (click)="subscribtion(i)">
                    <span>Abonné</span>
                </button>
            </ng-container>
            

        </div>
    </div>


</div>


<!--
<div class="component-container">
    <div class="title">
        <span>
            Abonnements
        </span>
    </div>
    <div class="subscribers-container" *ngIf="subscribtion_info_added">
        <div *ngFor="let item of list_of_subscribings_information; let i=index" class="subscriber-card">
            
            <div class="author-container">
                <div class="left-container">
                    <img [src]="list_of_profile_pictures[i]">
                </div>
                <a href="/account/{{item.nickname}}/{{item.id}}">
                    <div class="right-container">
                        <span class="author-name">{{item.firstname}} {{item.lastname}} </span>
                        <span class="author-description">@{{item.nickname}}</span>
                    </div>
                </a>

            </div>
            <button mat-raised-button *ngIf="!list_of_check_subscribtion[i]" class="button style1 subscriptions" (click)="subscribtion(i)">
                <mat-icon class="icon">person_add</mat-icon>
                <span>S'abonner</span>
            </button>
            <button mat-raised-button *ngIf="list_of_check_subscribtion[i]" class="button style0 subscriptions" (click)="subscribtion(i)">
                <mat-icon class="icon">person_add_disabled</mat-icon>
                <span>Se désabonner</span>
            </button>
        </div>
    </div>
    <div class="subscribers-container" *ngIf="!subscribtion_info_added" style="display:flex;">
        <span style="margin:auto;">Aucun abonnement</span>
    </div>
</div>
-->