.invisible{
    visibility:hidden;
    pointer-events: none;
}

.really-invisible{
  display:none;
}

.shadow-news{
  box-shadow: 0px 0px 20px 3px #3055812e;
}

.min-height-news{
  min-height: 200px !important;
}
.for_news{
  overflow: hidden;
  height: 200px !important;
  width: 200px !important;
}
.shiny{
    background-color: rgb(220, 220, 220);
    background-image: linear-gradient(
      to right,
      transparent 33%,
      rgba(255,255,255,0.3) 50%,
      transparent 66%
    );
    background-size:300% 100%;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    0% {
      background-position: right;    
    }
  }

  
  @import '../../thumbnail-drawing-styles.scss';