
<div class="drawing-container">
        
    
    <a href="/artwork-drawing/{{format}}/{{title}}/{{drawing_id}}" [ngClass]="{ 'for_news':for_news=='yes'}">
        <div class="final-thumbnail" (mouseenter) ="showDetails();"  (mouseleave) ="hideDetails();">

            <img [src]="thumbnail_picture" (load)="dosomething()" [ngClass]="{ 'invisible':!show_picture,'for_news':for_news=='yes'}">
            <div #thumbnail class="display-on-hover" [ngClass]="{'visible':showDrawingDetails,'invisible':!marks_retrieved}">
                
                <!--********************-->
                <!--Title container-->
                <!--********************-->
                <div class="title-container">
                    <span class="title">{{title}}</span>
                    <div class="artbook" *ngIf="pagesnumber && pagesnumber>=0">
                        <mat-icon style="color:white;font-size:20px">photo_library</mat-icon>
                    </div>
                </div>
                
                <!--********************-->
                <!--Author container-->
                <!--********************-->
                <div class="author-container">
                    <div class="left-container"  [ngClass]="{ 'invisible':!pp_is_loaded}">
                        <img [src]="profile_picture" (load)="pp_loaded()">
                    </div>
                    <div class="right-container">
                        <span class="author-name">{{author_name}}</span>
                        <span class="author-description" *ngIf="pseudo!=null">@{{pseudo}}</span>
                    </div>
                </div>
                <!--********************-->
                <!--Data container-->
                <!--********************-->
                <div class="stats-container">
                    <div class="figure-container views">
                        <div>
                            <span>{{viewnumber}}</span>
                            <mat-icon>visibility</mat-icon>
                            <!--<div class="view-logo"></div>-->
                        </div>
                    </div>
                    <div class="figure-container likes">
                        <div>
                            <span>{{likesnumber}}</span>
                            <mat-icon>thumb_up</mat-icon>
                        </div>
                    </div>
                    <div class="figure-container loves">
                        <div>
                            <span>{{lovesnumber}}</span>
                            <mat-icon>favorite</mat-icon>
                        </div>
                    </div>
                </div>
                <!--********************-->
                <!--Date container-->
                <!--********************-->
                <div class="date-container">
                    <span>{{date_upload_to_show}}</span>
                </div>

            </div>

        </div>
    </a>

</div>
