
<div class="category"><span>Annonces mises en avant</span></div>
<div class="container-offers d-flex flex-wrap">
    
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>
    <app-thumbnail-top-offer style="margin-left:auto;margin-right:auto;"></app-thumbnail-top-offer>

    

</div>