
<div id="uploader-cover-picture" class="thumbnail-container">

    <div *ngIf="!image_uploaded" class="image-container">

        
        <div class="dropzone-container">
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="dropzone">
                <div class="icon-container">
                    <mat-icon>save_alt</mat-icon>
                    <span><b>Sélectionnez un fichier</b> ou glissez le ici</span>

                    
                    <label>
                        <div class="upload-picture">
                            <span>Télécharger une photo</span>
                            <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                        </div>
                    </label>

                </div>
            </div>
        </div>




    </div>


    <div *ngIf="image_uploaded" class="crop-container" [@enterAnimation]>

        <div class="img-container">
            <div class="full-crop">
                <img #image [src]="displayContent(uploader.queue[0])" crossorigin>
            </div>

            <div class="options">
                <button class="cancel style0" (click)="step_back();">
                    <mat-icon>refresh</mat-icon>
                    <span>Recommencer</span>
                </button>
                <button class="validate style1" (click)="set_crop()">
                    <mat-icon>done</mat-icon>
                    <span>Valider</span>
                </button>
            </div>

        </div>


    </div>

</div>