
* {
    //color:#333;
    color:black;
}

.title {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
}

.title span {
    font-weight: bold;
}

.subscribers-container {
    width:100%;
    height:calc(100% - 75px - 60px);
    overflow-y: auto;
}


::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

::-webkit-scrollbar-track {
    //background: #f0f0f0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    //background-color: rgb(32,56,100);
}

::-webkit-scrollbar-thumb:hover {
    //background: rgb(8, 8, 8);  
}


#subscribers-container {
    background-color: rgba(0,0,0,0);
    -webkit-background-clip: text;
    /* uncomment following line to see the trick in actions */
    /* -webkit-text-fill-color: transparent; */
    transition: background-color 400ms;
}
#subscribers-container:hover {
   background-color: rgba(0,0,0,0.18);  
}
#subscribers-container::-webkit-scrollbar-track {
    display: none;
}
#subscribers-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}




.subscriber-card {
    display: flex;
    height: 60px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px #efefef;
    width:calc(100% - 30px);
    margin:10px auto 10px auto;
    transition:all 200ms;
}

.subscriber-card:hover {
    
}

.subscriber-card.opened {
    border: 1px solid #d5d6d8;
    background: #d1e0fb;
    box-shadow: 0px 0px 12px 3px #d7deea;
}

.author-container {
    display: flex;
    width:100%;
    cursor:pointer;
}

.author-container .left-container {
    width: 34px;
    height: 34px;
    min-width: 34px !important;
    min-height: 34px !important;
    margin: auto 10px auto 10px;
}

.author-container .left-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px rgb(104, 113, 130);
}

.author-container a {
    text-align: left;
    width: calc( 100% - 40px );
    margin: auto 10px auto 5px;
}
.author-container .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0px;
    text-align: left;
    width: 100%;
}

.author-container .right-container span.author-name {
    font-size: 16px;
    line-height: 18px;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.author-container .right-container div.last-message {
    font-size:15px;
    line-height: 20px;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 250px;
}

.last-message-container{
    display:flex;
    font-size:15px;
    align-items:center;
}



.subscriber-card button {
    margin: auto 10px auto auto;
    height: 35px;
    color:white;
}

.subscriber-card button.style1 .icon {
    color: white !important;
    margin: auto 5px auto auto !important;
    font-size: 19px !important;
}
.subscriber-card button.style0 .icon {
    color: rgb(32,56,100) !important;
    margin: auto 5px auto auto !important;
    font-size: 19px !important;
}

::ng-deep .mat-raised-button.button.subscriptions {
    padding:0 7px !important;
}

::ng-deep .mat-raised-button.button.subscriptions .mat-icon {
    height: 20px;
    width: 20px;
}

.subscriber-card button.style1 span {
    color:white !important;
}
.subscriber-card button.style0 span {
    color:rgb(32,56,100) !important;
}


//chat

.main-chat-container{
    display:flex;
    width:100%;
}



.chat-friends-container{
    height: 100%;
    min-width: 400px;
    max-width: 500px;
    border-right: 2px solid rgb(236, 236, 236);
    width: 25%;
}

.chat-friends-container .selector {
    display: flex;
    height: 75px;
    width:100%;
  }
  

.chat-friends-container .selector .author-container {
    display: flex;
    cursor:pointer;
    width:70px;
    height:100%;
}

.chat-friends-container .selector .author-container .left-container {
    width: 40px;
    height: 40px;
    /* min-width: 34px !important; */
    /* min-height: 34px !important; */
    margin: auto 14px auto 13px;
}

.chat-friends-container .selector .button-container {
    height:100%;
    width:60px;
    display:flex;
}


.chat-friends-container .selector .button-container button {
    margin:auto 10px auto 10px;
}





// mes ajouts
.searchbar-container {
    display: flex;
    width: calc(100% - 30px);
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    align-items: center;
}

::ng-deep .form-control:focus {
    box-shadow: none !important;
}


.searchbar-container > div {
    width: 100%;
    display: flex;
    border: 2px solid #e8e8e8;
    border-radius: 20px;
}

.searchbar-container > div.hovered {
    border: 1px solid #d7dde6;
    box-shadow: 0px 0px 5px 4px #e1e1e9;
    transition:all 200ms;
}


  .searchbar-inside{
    display: block;
    width: 90%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border: unset;
    border-radius: 10px;
  }

  

.chat-container{
    height:100%;
    width: -webkit-fill-available;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

.formdata-container{
    height: 40px;
    display: flex;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 3px #efefef;
    margin:auto auto;
}

