
<div  class="main-chat-container">

    <div class="chat-friends-container">

        <div class="selector">
            <div class="author-container">
                <div *ngIf="profile_picture_retrieved" class="left-container">
                    <img [src]="profile_picture">
                </div>
            </div>

            <!--<div >
                <select *ngIf="okvalue" #fdselector id="fdselector" class="fdselect" style="height: 40px;" >
                    <option selected value="defaultValue" >Mes contacts</option>
                    <option label="Autres">Autres</option>
                </select>
            </div>-->

            <div class="formdata-container">
                <form [formGroup]="formData">
                    <mat-radio-group formControlName="IsActive"
                     (change)="radioChange($event)">
                        <mat-radio-button value="Mes contacts"  >Mes contacts</mat-radio-button>
                        <mat-radio-button value="Autres"  >Autres</mat-radio-button> 
                    </mat-radio-group>
                </form>
            </div>

            <div style="margin-left: 10px;">
                <button mat-button class="mat-icon-button" (click)="create_group_chat()"> 	
                    <mat-icon class="item-icon" style="font-size: 35px; width: 35px;">group_add</mat-icon>
                </button>
            </div>
            
        </div>

        <div  [formGroup]="fd" novalidate style="display: flex;
        align-items: center;">

            <div class="navbar-l1-searchbar-container">
                
                <div class="searchbar">
                    <input #input
                    style="display: block;
                    width: 90%;
                    height: calc(1.5em + .75rem + 2px);
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    border: 1px solid #ced4da;
                    border: unset;
                    border-radius: 10px;"
                    formControlName="fdSearchbar"
                    (click)="activateFocus()"
                    onfocus="this.placeholder = ''"
                    (input)="research_friends($event);"
                    (paste)="onPaste($event);"
                    onblur="this.placeholder = 'Rechercher'"
                    class="form-control form-control-dark large-form" type="text" [placeholder]="'Rechercher'">
                    <button mat-button class="mat-icon-button"  (click)="delete_placeholder()" >
                        <mat-icon class="item-icon" >close</mat-icon>
                    </button>
                </div>

            </div>

           
            
        </div>

        <div *ngIf="list_of_friends_retrieved && get_friends" >

            <div *ngIf="!display_contacts && !waiting_display_other_contacts" class="subscribers-container" >
                <div *ngFor="let item of list_of_friends_ids; let i=index" class="subscriber-card">
                    <div class="author-container" (click)="open_chat(i)">
                        <div class="left-container">
                            <img [src]="list_of_friends_profile_pictures[i]">
                        </div>
                        <a>
                            <div class="right-container">
                                <span class="author-name">{{list_of_friends_names[i]}} </span>
                                <div class="last-message">
                                    <div  *ngIf="list_of_friends_last_message[i].is_an_attachment">
                                        <div *ngIf=" spam=='true'">
                                            <div *ngIf="list_of_spams_last_message[i].id_user==current_user">
                                                vous avez envoyé une image 
                                            </div>
                                            <div *ngIf="list_of_spams_last_message[i].id_user!=current_user">
                                                vous a envoyé une image 
                                            </div>
                                        </div>
                                        <div *ngIf="list_of_friends_last_message[i].status=='seen' && spam=='false'">
                                            <div  *ngIf="list_of_friends_last_message[i].attachment_type=='picture_message' || list_of_friends_last_message[i].attachment_type=='picture_attachment'">
                                                <div *ngIf="list_of_friends_last_message[i].id_user==current_user">
                                                    vous avez envoyé une image 1
                                                </div>
                                                <div *ngIf="list_of_friends_last_message[i].id_user!=current_user">
                                                    vous a envoyé une image
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="list_of_friends_last_message[i].status=='received'">
                                            <div  *ngIf="list_of_friends_last_message[i].attachment_type=='picture_message' || list_of_friends_last_message[i].attachment_type=='picture_attachment'">
                                                
                                                <div *ngIf="list_of_friends_last_message[i].id_user==current_user">
                                                    vous avez envoyé une image
                                                </div>
                                                <div *ngIf="list_of_friends_last_message[i].id_user!=current_user">
                                                    <b> vous a envoyé une image</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div  *ngIf="!list_of_friends_last_message[i].is_an_attachment">
                                        <div *ngIf="list_of_friends_last_message[i].message=='New' && list_of_friends_last_message[i].is_from_server">
                                            <div>
                                                {{list_of_friends_names[i]}} fait désormais parti de vos contacts. Vous pouvez donc échanger librement.
                                            </div>
                                        </div>
                                        <div *ngIf="list_of_friends_last_message[i].id_user!=current_user && !list_of_friends_last_message[i].is_from_server">
                                            <div *ngIf="list_of_friends_last_message[i].status=='seen'">
                                                {{list_of_friends_last_message[i].message}} 
                                            </div>
                                            <div *ngIf="list_of_friends_last_message[i].status=='received'">
                                                <b>{{list_of_friends_last_message[i].message}}</b>
                                            </div>
                                        </div>
                                        <div *ngIf="list_of_friends_last_message[i].id_user==current_user && !list_of_friends_last_message[i].is_from_server">
                                            {{list_of_friends_last_message[i].message}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
            
                    </div>
                </div>
            </div>

            <div *ngIf="display_contacts && !waiting_display_other_contacts" class="subscribers-container" >
                <div *ngFor="let item of list_of_contacts_names; let i=index" class="subscriber-card">
                    <div class="author-container" (click)="open_new_contact_chat(1,i)">
                        <div class="left-container">
                            <img [src]="list_of_contacts_pictures[i]">
                        </div>
                        <div class="right-container">
                            <span class="author-name">{{list_of_contacts_names[i]}} </span>
                            <div>@{{list_of_contacts_pseudos[i]}}</div>
                        </div>
            
                    </div>
                </div>
            </div>

            <ng-container *ngIf="waiting_display_other_contacts">
                <div *ngIf="display_other_contacts" class="subscribers-container" >
                    <div *ngFor="let item of list_of_history_names; let i=index" class="subscriber-card">
                        <div class="author-container" (click)="open_new_contact_chat(2,i)">
                            <div class="left-container">
                                <img [src]="list_of_history_pictures[i]">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{list_of_history_names[i]}} </span>
                                <div>@{{list_of_history_pseudos[i]}}</div>
                            </div>
                
                        </div>
                    </div>
                    <div *ngFor="let item of list_of_related_contacts_names; let i=index" class="subscriber-card">
                        <div class="author-container" (click)="open_new_contact_chat(3,i)">
                            <div class="left-container">
                                <img [src]="list_of_related_contacts_pictures[i]">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{list_of_related_contacts_names[i]}} </span>
                                <div>@{{list_of_related_contacts_pseudos[i]}}</div>
                            </div>
                
                        </div>
                    </div>
                    <div *ngFor="let item of list_of_other_contacts_names; let i=index" class="subscriber-card">
                        <div class="author-container" (click)="open_new_contact_chat(4,i)">
                            <div class="left-container">
                                <img [src]="list_of_other_contacts_pictures[i]">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{list_of_other_contacts_names[i]}} </span>
                                <div>@{{list_of_other_contacts_pseudos[i]}}</div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </ng-container>

            
        </div>

        <div *ngIf="list_of_spams_retrieved && !get_friends" >

            <div *ngIf="!display_contacts && !waiting_display_other_contacts" class="subscribers-container" >
                <div *ngFor="let item of list_of_spams_ids; let i=index" class="subscriber-card">
                    <div class="author-container" (click)="open_chat_spam(i)">
                        <div class="left-container">
                            <img [src]="list_of_spams_profile_pictures[i]">
                        </div>
                        <a>
                            <div class="right-container">
                                <span class="author-name">{{list_of_spams_names[i]}} </span>
                                <div  *ngIf="list_of_spams_last_message[i].is_an_attachment">
                                    <div *ngIf="list_of_spams_last_message[i].status=='seen' || list_of_spams_last_message[i].id_user==current_user">
                                        <div  *ngIf="list_of_spams_last_message[i].attachment_type=='picture_message' || list_of_spams_last_message[i].attachment_type=='picture_file'">
                                            a envoyé une image
                                        </div>
                                        <div  *ngIf="list_of_spams_last_message[i].attachment_type!='picture_message' && list_of_spams_last_message[i].attachment_type!='picture_file'">
                                            a envoyé une pièce jointe
                                        </div>
                                    </div>
                                    <div *ngIf="list_of_spams_last_message[i].status=='received'">
                                        <div  *ngIf="list_of_spams_last_message[i].attachment_type=='picture_message' || list_of_spams_last_message[i].attachment_type=='picture_file'">
                                            <b>a envoyé une image</b>
                                        </div>
                                        <div  *ngIf="list_of_spams_last_message[i].attachment_type!='picture_message' && list_of_spams_last_message[i].attachment_type!='picture_file'">
                                            <b>a envoyé une pièce jointe</b>
                                        </div>
                                    </div>
                                </div>
                                <div  *ngIf="!list_of_spams_last_message[i].is_an_attachment">
                                    <div *ngIf="list_of_spams_last_message[i].id_user!=current_user">
                                        <div *ngIf="list_of_spams_last_message[i].status=='seen'">
                                            {{list_of_spams_last_message[i].message}} 
                                        </div>
                                        <div *ngIf="list_of_spams_last_message[i].status=='received'">
                                            <b>{{list_of_spams_last_message[i].message}}</b>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </a>
            
                    </div>
                </div>
            </div>

            <div *ngIf="display_contacts && !waiting_display_other_contacts" class="subscribers-container" >
                <div *ngFor="let item of list_of_contacts_names; let i=index" class="subscriber-card">
                    <div class="author-container" (click)="open_new_contact_chat(1,i)">
                        <div class="left-container">
                            <img [src]="list_of_contacts_pictures[i]">
                        </div>
                        <div class="right-container">
                            <span class="author-name">{{list_of_contacts_names[i]}} </span>
                            <div>@{{list_of_contacts_pseudos[i]}}</div>
                        </div>
            
                    </div>
                </div>
            </div>

            <ng-container *ngIf="waiting_display_other_contacts">
                <div *ngIf="display_other_contacts" class="subscribers-container" >
                    <div *ngFor="let item of list_of_history_names; let i=index" class="subscriber-card">
                        <div class="author-container" (click)="open_new_contact_chat(2,i)">
                            <div class="left-container">
                                <img [src]="list_of_history_pictures[i]">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{list_of_history_names[i]}} </span>
                                <div>@{{list_of_history_pseudos[i]}}</div>
                            </div>
                
                        </div>
                    </div>
                    <div *ngFor="let item of list_of_related_contacts_names; let i=index" class="subscriber-card">
                        <div class="author-container" (click)="open_new_contact_chat(3,i)">
                            <div class="left-container">
                                <img [src]="list_of_related_contacts_pictures[i]">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{list_of_related_contacts_names[i]}} </span>
                                <div>@{{list_of_related_contacts_pseudos[i]}}</div>
                            </div>
                
                        </div>
                    </div>
                    <div *ngFor="let item of list_of_other_contacts_names; let i=index" class="subscriber-card">
                        <div class="author-container" (click)="open_new_contact_chat(4,i)">
                            <div class="left-container">
                                <img [src]="list_of_other_contacts_pictures[i]">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{list_of_other_contacts_names[i]}} </span>
                                <div>@{{list_of_other_contacts_pseudos[i]}}</div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </ng-container>

            
        </div>

    </div>
    
    
    
    <div  *ngIf="list_of_friends_retrieved" class="chat-container">
        <app-chat
        [id_chat_section]="id_chat_section"
        [spam]="spam"
        [user_present]="user_present"
        [current_user_id]="current_user" 
        [current_user_pseudo]="current_user_pseudo"
        [current_user_name]="current_user_name" 
        [current_user_profile_picture]="profile_picture" 
        [friend_id]="friend_id" 
        [friend_pseudo]="friend_pseudo"
        [friend_name]="friend_name"
        [friend_picture]="friend_picture"
        [list_of_friends_ids]="list_of_friends_ids"
        (change_section)="change_section( $event );"
        (new_sort_friends_list)="new_sort_friends_list( $event );"
        (add_spam_to_contacts)="add_spam_to_contacts( $event );"></app-chat>
    </div>

</div>
