



<div class="form" [ngClass]="{ 'form0' : CURRENT_step == 0 }">

        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <!--******************************** STEP 0 *************************************-->
        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <div *ngIf="REAL_step>=0 || CURRENT_step==0" [hidden]="CURRENT_step!=0">

            
            <button class="step-back-button" (click)="back_home();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                <span>Retour</span>
            </button>

                

            <!--Forms : adding drawing-->
            <div class="steps">
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==0 }">
                    <div class="step">
                        <span>1</span>
                    </div>
                    <span>Présentation du projet</span>
                </div>
                <!--<div class="horizontal-line">
                </div>-->
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==1 }">
                    <div class="step">
                        <span>2</span>
                    </div>
                    <span>Téléchargement</span>
                </div>
            </div>


            <form [formGroup]="fd" novalidate >

                <div class="form-container">
                    <div class="form-container-name">
                        <span>Description du projet</span>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Titre</mat-label>
                            <input matInput formControlName="fdTitle" maxLength="40" autocomplete="off" (input)="normalize_input(fd, 'fdTitle');">
                            <mat-error *ngIf="fd.controls['fdTitle'].invalid">Saisie invalide : les caractères spéciaux ne sont pas autorisés
                            </mat-error>
                            <div class="length-indicator">{{fd.controls['fdTitle'].value?.length || 0}}/40</div>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Format</mat-label>
                            <mat-select [compareWith]="compareObjects" panelClass="addArtworkSelectClass" disableOptionCentering formControlName="fdFormat" (openedChange)="format_change_alert();" (selectionChange)="onFormatChange($event)">
                                <mat-option  *ngFor="let obj of listOfFormats" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fd.controls['fdFormat'].invalid">Veuillez sélectionner un format</mat-error>
                        </mat-form-field>
                    </div>

                    
                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Catégorie</mat-label>
                            <mat-select [compareWith]="compareObjects" panelClass="addArtworkSelectClass" disableOptionCentering formControlName="fdCategory">
                                <mat-option  *ngFor="let obj of listOfCategories" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fd.controls['fdCategory'].invalid">Veuillez sélectionner une catégorie</mat-error>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field floatLabel='never'>
                            <mat-chip-list #chipList formControlName="fdTags" aria-label="Genre selection">
                              <mat-chip
                                *ngFor="let genre of genres"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(genre)">
                                {{genre}}
                                <mat-icon [ngClass]="{'invisible': !show_icon }" matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input
                                placeholder="Genres (maximum : 3)"
                                #genreInput
                                [formControl]="genreCtrl"
                                [matAutocomplete]="auto"
                                matAutocompletePosition="below"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" class="custom-scroll addArtworkMatautocompleteClass" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                                {{genre}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>


                    <!--******************************************************-->
                    <!--Description-->
                    <!--******************************************************-->

                                    
                    <div class="form-item input-multiple-lines" style="height:unset !important;">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Description</mat-label>
                        
                            <textarea #input matInput cdkTextareaAutosize formControlName="fdDescription"
                            (blur)="blur($event)" maxLength="2000" autocomplete="off" (input)="normalize_input(fd, 'fdDescription');"></textarea>
                            <mat-error *ngIf="fd.controls['fdDescription'].invalid">Saisie invalide : certains caractères spéciaux ne sont pas autorisés
                            </mat-error>
                            <div class="length-indicator">{{fd.controls['fdDescription'].value?.length || 0}}/2000</div>
                            
                            
                            <div #emojisSpinner class="emojis-spinner" [@enterAnimation]>
                                <mat-spinner diameter="20"></mat-spinner>
                            </div>

                            <div *ngIf="load_emoji" #emojis class="emojis-main-container" [@enterAnimation]>
                                <div class="emojis-container">
                                    <emoji-mart [set]="set" [isNative]="native" [hideRecent]="false"
                                        (emojiSelect)="handleClick($event)">
                                    </emoji-mart>
                                </div>
                            </div>

                            <div #emoji_button (click)="open_emojis()" class="emojis-button"
                            matTooltip="Emojis"
                            matTooltipClass='linkarts-tooltip'
                            [matTooltipPosition]="'below'"
                            [matTooltipShowDelay]="100">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">sentiment_satisfied</mat-icon>
                            </div>
                            
                        </mat-form-field>
                    </div>
                    
                    <!--<div class="form-item height-unset" *ngIf=" fd.value.fdFormat=='Artbook' && (type_of_account=='Artistes' || type_of_account=='Artistes professionnels'
                    || type_of_account=='Artiste professionnelle' || type_of_account=='Artiste professionnel' || type_of_account=='Artiste')" [@enterAnimation]>
                        <div class="monetisation-container">
                            <mat-slide-toggle [checked]="monetised" (change)="setMonetisation( $event )" style="font-weight:bold;">
                                Monétiser mon œuvre et autoriser l'apparition en tendances
                            </mat-slide-toggle>
                            <span (click)="read_conditions();" class="read_conditions">(lire les conditions)</span>
                        </div>

                        <div *ngIf="monetised" class="monetised-text">
                            Attention ! Nous vous rappelons que la monétisation d'œuvres plagiées, de fanarts et d'œuvres aux contenus inapproriés sont interdits. 
                        </div>
                    </div>-->

                </div>
                

                <button #nextButton class="submit-button style1" (click)="validate_form_drawings();">
                    <span>Suivant</span>
                </button>

            </form>

        </div>


        
        <div *ngIf=" ( REAL_step==1 || CURRENT_step==1 ) && fd.value.fdFormat=='Œuvre unique' " [hidden]="CURRENT_step==0 && fd.value.fdFormat=='Œuvre unique'">

            
            <button class="step-back-button" (click)="step_back();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                <span>Retour</span>
            </button>

                
            <!--Forms : adding drawing-->
            <div class="steps">
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==0 }">
                    <div class="step">
                        <span>1</span>
                    </div>
                    <span>Présentation du projet</span>
                </div>
                <!--<div class="horizontal-line">
                </div>-->
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==1 }">
                    <div class="step">
                        <span>2</span>
                    </div>
                    <span>Téléchargement</span>
                </div>
            </div>


            <app-swiper-upload-dessin-unique 

            [author_name]=author_name 
            [primary_description]=primary_description 
            [pseudo]=pseudo
            [user_id]=user_id
            [profile_picture]=profile_picture
            [drawing_id]=drawing_id
            [name]=fd.value.fdTitle
            [description]=fd.value.fdDescription
            [category]=fd.value.fdCategory
            [format]=fd.value.fdFormat
            [tags]=fd.value.fdTags>

            </app-swiper-upload-dessin-unique>
        </div>

        
        
        <div *ngIf=" ( REAL_step==1 || CURRENT_step==1 ) && fd.value.fdFormat=='Artbook' " [hidden]="CURRENT_step==0 && fd.value.fdFormat=='Artbook'">

            
            <button class="step-back-button" (click)="step_back();">
                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                <span>Retour</span>
            </button>
            
            

            <!--Forms : adding drawing-->
            <div class="steps">
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==0 }">
                    <div class="step">
                        <span>1</span>
                    </div>
                    <span>Présentation du projet</span>
                </div>
                <!--<div class="horizontal-line">
                </div>-->
                <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==1 }">
                    <div class="step">
                        <span>2</span>
                    </div>
                    <span>Téléchargement</span>
                </div>
            </div>


            <app-swiper-upload-artbook 

            [author_name]=author_name 
            [primary_description]=primary_description 
            [pseudo]=pseudo
            [user_id]=user_id
                [profile_picture]=profile_picture
                [drawing_id]=drawing_id
                [name]=fd.value.fdTitle
                [description]=fd.value.fdDescription
                [category]=fd.value.fdCategory
                [format]=fd.value.fdFormat
                [tags]=fdTags>

            </app-swiper-upload-artbook>
        </div>

</div>
