<div *ngIf="new_sorted_artpieces_added" class="container-homepage d-flex flex-wrap">
    <div *ngFor="let item of new_sorted_artpieces">
        <app-thumbnail-drawing *ngIf="item.pagesnumber == null && item.status=='public'"
        [item]=item
        format='one-shot'
        now_in_seconds={{now_in_seconds}}
        ></app-thumbnail-drawing>
        <app-thumbnail-drawing *ngIf="item.pagesnumber >=0 && item.status=='public'"
        [item]=item 
        format='artbook'
        now_in_seconds={{now_in_seconds}}
        ></app-thumbnail-drawing>
    </div>
</div>
