
<ng-container *ngIf="category=='ad'">
    <app-ad-page
    [ad_id_input]="id_input"
    [ad_title_input]="title_input"
    (emit_close)="remove_popup_artwork($event);"
    (emit_close_click)="remove_popup_artwork_click($event);"></app-ad-page>

</ng-container>


<ng-container *ngIf="category=='comic'">

    <app-artwork-comic 
    [bd_format_input]="format_input" 
    [bd_id_input]="id_input"
    [bd_title_input]="title_input"
    (emit_close)="remove_popup_artwork($event);"
    (emit_close_click)="remove_popup_artwork_click($event);"></app-artwork-comic>

</ng-container>


<ng-container *ngIf="category=='drawing'">
    <app-artwork-drawing 
    [drawing_format_input]="format_input" 
    [drawing_id_input]="id_input"
    [drawing_title_input]="title_input"
    (emit_close)="remove_popup_artwork($event);"
    (emit_close_click)="remove_popup_artwork_click($event);"></app-artwork-drawing>

</ng-container>


<ng-container *ngIf="category=='writing'">

    <app-artwork-writing 
    [writing_id_input]="id_input"
    [writing_title_input]="title_input"
    (emit_close)="remove_popup_artwork($event);"
    (emit_close_click)="remove_popup_artwork_click($event);"></app-artwork-writing>
</ng-container>








