::ng-deep {
    .popupArtworkClass {
        width: 100% !important;
        max-width:unset !important;
        max-height: 100% !important;
        height: calc(100% - 53px);
        bottom: 0px;
        border-radius: 0px !important;
        position: absolute !important;

        transition: bottom 200ms !important;

        padding: 0px !important;
        overflow: hidden;

        .mat-dialog-container {
            padding:0px;

            scrollbar-width:thin;
            scrollbar-color: #23365a #091731;
    
            &::-webkit-scrollbar-track {
                background-color: #091731;
            }
            &::-webkit-scrollbar {
                width: 6px;
                height: 0px;
                background-color: #081c40;
            }
            &::-webkit-scrollbar-thumb {
                background: #23365a;
            }
        }
    }
}

