.recommendations {
  

  .main-title{
    display: flex;
    justify-content: center;
    span{
      font-size: 18px;
      font-weight: 600;
      color: #203864;
      margin-top: 10px;
      margin-bottom: 10px;

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }


  .horizontal-bar {
    width: 9%;
    height: 1px;
    border-bottom: 4px solid #e6e6e6;
    margin: 18px auto 36px auto;
  }

  .artworks{
    margin-bottom: -100px;
  }
  
  .panel-background {
    padding: 15px 10px;
    overflow: hidden;
    
    .logos-container {
      display: flex;
      justify-content: center;
      width: 100%;
      .logo {
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        padding: 10px 15px 10px 15px;
        width: 145px;;
        height: 145px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 150px;
        transition: all 200ms;
        background:linear-gradient(0.5turn, rgba(255, 255, 255, 0.9), #e6ebf1);
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);


        span, h2 {
          display: flex;
          font-size: 14px;
          width: 100%;
          height: 28px;
          font-weight: 600;
          color: #53627d;
          margin: 0px auto auto auto;
          text-align: center;
          align-items: center;
          justify-content: center;

          transition: all 300ms;

          &.short-title {
            display:none;
          }
          
          @media (max-width: 500px) {
            &.short-title {
              display:flex;
            }
            &.long-title {
              display:none;
            }
          }
        }

        .image1 {
          height: calc(100% - 80px);
          width: 100%;
          margin-left:3px  !important;
          margin: auto auto 5px auto;
          background:#53627d;
          transition: all 300ms;
          mask: url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
        }
        .image2 {
          height: calc(100% - 80px);
          width: 100%;
          margin: auto auto 5px auto;
        background:#53627d;
          transition: all 300ms;
          mask: url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
        }
        .image3 {
          height: calc(100% - 80px);
          width: 100%;
          margin-left: 1px !important;
          margin: auto auto 5px auto;
        background:#53627d;
          transition: all 300ms;
          mask: url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
        }

        &:hover {
          box-shadow: 0px 0px 1px -2px #000000ab, 0px 2px 2px 0px #85869e73, 0px 0px 2px 0px #90909057;
          .image1,
          .image2,
          .image3 {
            background:rgb(32,56,100);
          }
          span, h2 {
            font-weight: 600;
            color: rgb(32,56,100) !important;
          }
        }
        &:active {
          transform: scale(0.98);
        }
        &.opened {
          box-shadow: 0px 0px 1px -2px #000000ab, 0px 2px 2px 0px #85869e73, 0px 0px 2px 0px #90909057;
          background-image: linear-gradient(0.0turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
         
          .image1,
          .image2,
          .image3 {
            background: white;
          }
          span, h2 {
            font-weight: 600;
            color: white !important;
          }
        }
      }
    }
  }

  .invisible {
    visibility: hidden;
    pointer-events: none;
  }

  .really-invisible{
    display:none;
  }

  .container-skeletons {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    justify-content:center;
  }

  .category {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    .category-title {
      width: 130px;
      border-radius: 5px;
      height: 25px;
    }
  }

  .shiny {
    background-color: rgb(220, 220, 220);
    background-image: linear-gradient(to right, transparent 33%, rgba(255, 255, 255, 0.3) 50%, transparent 66%);
    background-size: 300% 100%;
    animation: shine 2s infinite;
  }

  @keyframes shine {
    0% {
      background-position: right;
    }
  }

  .media-container {
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    width: 90%;
  }

  /*responsivité*/

  @media (max-width: 700px) {
    .panel-background {
      .logos-container {
        .logo {
          width: 130px;
          height: 130px;

          .image1,.image2,.image3 {
            height: calc(100% - 70px);
          }
          span, h2 {
            font-size:12px;
            height:22px;
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    .panel-background {
      .logos-container {
        .logo {
          width: 100px;
          height: 100px;
          margin-left: 5px;
          margin-right: 5px;

          .image1,.image2,.image3 {
            height: calc(100% - 45px);
            margin: auto auto 0px auto;
          }
          span, h2 {
            font-size:9px;
            height:22px;
          }
        }
      }
    }
  }
  
  @media (max-width: 350px) {
    .panel-background {
      .logos-container {
        .logo {
          height:90px;
          width:90px;
        }
      }
    }
  }

  @media (min-width: 1700px) {
    .artworks {
      margin: auto auto;
    }
  }
}
