<div class="recommendations">

    <div class="main-title">
        <span> Découvrez notre sélection du jour </span>
    </div>

    <div class="panel-background">
        <div class="logos-container" *ngIf="status" [@enterFromTopAnimation]>
            <button class="logo" [ngClass]="{'opened': subcategory == 0 }" (click)="open_subcategory(0);">
                <div class="image1"></div>
                <span class="long-title">Bandes dessinées</span>
                <span class="short-title">B.D.</span>
            </button>
            <button class="logo" [ngClass]="{'opened': subcategory == 1 }" (click)="open_subcategory(1);">
                <div class="image2"></div>
                <span>Dessins</span>
            </button>
            <button class="logo" [ngClass]="{'opened': subcategory == 2 }" (click)="open_subcategory(2);">
                <div class="image3"></div>
                <span>Écrits</span>
            </button>
        </div>
    </div>


    <div class="horizontal-bar" *ngIf="status" [@enterFromTop]></div>


    <div class="artworks" #artwork_container  >
        <ng-container *ngIf=" (!bd_is_loaded && subcategory==0) || ( !show_media_drawing && subcategory==1 ) || (!writing_is_loaded && subcategory==2 ) ">
            <div *ngFor="let item of categories_array; index as i1">
                <div class="category">
                    <div class="category-title shiny"></div>
                </div>
                <div class="container-skeletons d-flex flex-wrap skeleton"  [@enterAnimation]>
                    <ng-container *ngFor="let item of skeleton_array; let i = index">
                        <app-thumbnail-skeleton class="thumbnail-component-container"
                            *ngIf="number_of_skeletons_per_line>i"
                            (send_number_of_skeletons)="send_number_of_skeletons( $event );"
                            [type_of_skeleton]=type_of_skeleton></app-thumbnail-skeleton>
                    </ng-container>
                </div>

            </div>
        </ng-container>



        <div class="media-container"  *ngIf="bd_is_loaded && sorted_category_retrieved && subcategory==0 " >
            <app-media-comics 
                [sorted_style_list]=sorted_style_list_bd
                [sorted_artpieces_manga]=sorted_artpieces_manga
                [sorted_artpieces_bd]=sorted_artpieces_bd
                [sorted_artpieces_comics]=sorted_artpieces_comics
                [sorted_artpieces_webtoon]=sorted_artpieces_webtoon
                [now_in_seconds]=now_in_seconds
                [check_comics_history]=check_comics_history
                [last_consulted_comics]=last_consulted_comics
                [width]=width></app-media-comics>
        </div>
        <div class="media-container" *ngIf="drawing_is_loaded && sorted_category_retrieved  && subcategory==1 " >
            <app-media-drawings 
                [sorted_style_list]=sorted_style_list_drawing
                [sorted_artpieces_traditional]=sorted_artpieces_traditional
                [sorted_artpieces_digital]=sorted_artpieces_digital
                [now_in_seconds]=now_in_seconds
                [check_drawings_history]=check_drawings_history
                [last_consulted_drawings]=last_consulted_drawings
                [width]=width
                (list_of_drawings_retrieved_emitter)="list_of_drawings_retrieved_receiver($event)"></app-media-drawings>
        </div>
        <div class="media-container" *ngIf="writing_is_loaded && sorted_category_retrieved && subcategory==2" >
            <app-media-writings 
                [sorted_style_list]=sorted_style_list_writing
                [sorted_artpieces_roman]=sorted_artpieces_roman 
                [sorted_artpieces_scenario]=sorted_artpieces_scenario
                [sorted_artpieces_article]=sorted_artpieces_article 
                [sorted_artpieces_poetry]=sorted_artpieces_poetry
                [now_in_seconds]=now_in_seconds
                [check_writings_history]=check_writings_history
                [last_consulted_writings]=last_consulted_writings
                [width]=width></app-media-writings>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>