
  /*
   * Content
   */

    $number: 1000; 

    a {
      color:#333;
      cursor:pointer;
    }
    
    a:hover {
      text-decoration: none;
    }
 
   hr {
     margin-right:45%;
     margin-left:45%;
     margin-top:0px;
     border: 0;
     border-top: 1px solid rgb(190, 173, 96);
   }
 
   
// First section
.panel-controller {

  width: 90%;
  display: flex;
  font-size: 13px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 3px 1px #dadbdc;
  background: linear-gradient(0.02turn, #8696bd, #475e88, #8696bd, #203865);
  height: 40px;
  overflow: hidden;
  display: flex;
  margin: auto;
  /* justify-content: center; */
  flex-wrap: wrap;
  border-radius: 10px;
}


.panel-controller .controller-category {
  display: flex;
  padding: 5px 20px 5px 20px;
  font-size: 15px;
  box-shadow: 0px 0px 2px 0px #203864;
  justify-content: center;
  align-content: center;
  text-align: center;
  cursor:pointer;
  height: 100%;
  width: 33.33%;
  color:white;
  
  transition:background-color 200ms !important;
}

.panel-controller .controller-category span {
  margin:auto auto auto 10px;
}
.comic-bubble-icon {
  background-image:none !important;
  background-color: rgb(255, 255, 255);
  width:24px;
  height:24px;
  margin:auto 10px auto auto;
  -webkit-mask:  url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
}
.pencil-icon {
  background-image:none !important;
  background-color: rgb(255, 255, 255);
  width:20px;
  height:20px;
  margin:auto 10px auto auto;
  -webkit-mask:  url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
}
.writing2-icon {
  background-image:none !important;
  background-color: rgb(255, 255, 255);
  width:22px;
  height:22px;
  margin:auto 10px auto auto;
  -webkit-mask:  url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
}


.panel-controller > .controller-category:hover {
  background-color: rgba(32, 56, 100, 0.071);
  text-shadow: -0.01ex 0 #ffffff, 0.01ex 0 #ffffff;
}

.panel-controller > .open {
    text-shadow: -0.01ex 0 white, 0.01ex 0 white !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    color: #ffffff !important;
    background: linear-gradient(0.02turn, #225a8c, #081647, #1b4779, #203865) !important;
}



.panel-controller .right-container {
  display:flex;
  float:right;
  height:100%;
  margin-right:50px;
}

.panel-controller .right-container .dropdowns-container {
  display:flex;
}

.panel-controller .right-container select{
  display:flex;
  float:right;
  height:100%;
}


.panel-controller .right-container select{
  display:flex;
  float:right;
  height:100%;
}


.invisible{
  display:none ;
}

.container-skeletons{
  width:90%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.category {
  margin-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}
.category .category-title {
  width: 130px;
  border-radius: 5px;
  height: 25px;
}

.shiny{
  background-color: rgb(220, 220, 220);
  background-image: linear-gradient(
    to right,
    transparent 33%,
    rgba(255,255,255,0.3) 50%,
    transparent 66%
  );
  background-size:300% 100%;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
}

.media-container{
  padding-left: 10px;
  padding-right:10px;
  margin: auto;
  width: 90%;
}

mat-spinner {
  margin: auto;
  ::ng-deep circle {
      stroke: rgb(32,56,100);
  }
}
.loading-page{
  position:relative;
  margin-top:calc(50vh - 180px);
  /*top:50%;
  left:50%;*/
}
  

@media (max-width:700px) {
  .panel-controller {
    height:unset !important;
  }
  .panel-controller .controller-category {
    font-size: 14px !important;
    flex-direction: column;
    height:unset !important;
  }
  .panel-controller .controller-category span {
    margin:5px auto 0px auto;
  }
  .panel-controller .controller-category .comic-bubble-icon {
    margin:5px auto auto auto;
    width:23px;
    height:23px;
  }
  .panel-controller .controller-category .pencil-icon {
    margin:5px auto auto auto;
    width:23px;
    height:23px;
  }
  .panel-controller .controller-category .writing2-icon {
    margin:5px auto auto auto;
    width:23px;
    height:23px;
  }
} 
@media (max-width:500px) {
  .panel-controller .controller-category {
    font-size: 11px !important;
    padding:5px 10px 5px 10px !important;
  }
} 
