    
<div class="dessin-unique-upload-container">                


    <div class="swiper-container456" id="target1">
        <app-uploader-dessin-unique [upload]=upload [title]=name (uploaded)="uploaded_image( $event );" (image)="get_image( $event );"></app-uploader-dessin-unique>
    </div>

    <div class="form-container" *ngIf="image_uploaded" style="margin-top:40px;" id="target2">
        <div class="form-container-name">
            <mat-icon>insert_drive_file</mat-icon>
            <span>Édition de la miniature</span>
        </div>
        <div class="form-container-data">

            <div class="crop-container">
                <div class="img-container">
                    <div class="full-crop">
                        <img #image [src]="imageSource" crossorigin>
                    </div>
                    <div class="buttons-container">
                        <button mat-raised-button class="restart-crop-button" *ngIf="imageDestination != ''" [@enterAnimation] (click)="cancel_crop();">
                            <mat-icon>refresh</mat-icon>
                            <span>Recommencer</span>
                        </button>
                        <button mat-raised-button class="validate-crop-button" *ngIf="imageDestination == ''" [@enterAnimation] (click)="set_crop();">
                            <mat-icon>crop_free</mat-icon>
                            <span>Rogner</span>
                        </button>
                    </div>
                </div>

            </div>

            <div class="crop" *ngIf="imageDestination != ''" id="target3">
                
                <div class="img-preview">

                    <div class="final-thumbnail" (mouseenter) ="showDetails();"  (mouseleave) ="hideDetails();">

                        <img [src]="imageDestination">
                        <div #thumbnail class="display-on-hover" [ngClass]="{'visible':showDrawingDetails}" style="cursor:default;">
                            
                            <!--********************-->
                            <!--Title container-->
                            <!--********************-->
                            <div class="title-container">
                                <span class="title">{{name}}</span>
                            </div>
                            <!--********************-->
                            <!--Author container-->
                            <!--********************-->
                            <div class="author-container">
                                <div class="left-container">
                                    <img [src]="profile_picture">
                                </div>
                                <div class="right-container">
                                    <span class="author-name">{{author_name}}</span>
                                    <span class="author-description" *ngIf="pseudo!=null">@{{pseudo}}</span>
                                </div>
                            </div>
                            <!--********************-->
                            <!--Data container-->
                            <!--********************-->
                            <div class="stats-container">
                                <div class="figure-container views">
                                    <div>
                                        <mat-icon>visibility</mat-icon>
                                        <span>&nbsp;</span>
                                        <!--<div class="view-logo"></div>-->
                                    </div>
                                </div>
                                <div class="figure-container likes">
                                    <div>
                                        <mat-icon>thumb_up</mat-icon>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                                <div class="figure-container loves">
                                    <div>
                                        <mat-icon>favorite</mat-icon>
                                        <span>&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <!--********************-->
                            <!--Date container-->
                            <!--********************-->
                            <div class="date-container">
                                <span>Date de publication</span>
                            </div>
                        </div>

                    </div>
                </div>

                

            </div>





        </div>
    </div>
</div>


<button mat-raised-button *ngIf="imageDestination != ''" class="submit-button-with-done-all style1" (click)="validateAll();">
    <mat-icon>done_all</mat-icon>
    <span>Valider</span>
</button>
