    
<div class="dessin-unique-upload-container">                


    <div class="form-container upload">
        <div class="form-container-name">
            <span>{{name}}</span>
        </div>
        <div class="form-container-data">
            <app-uploader-dessin-unique [upload]=upload (uploaded)="uploaded_image( $event );" (image)="get_image( $event );"></app-uploader-dessin-unique>
        </div>
    </div>

    <div class="form-container thumbnail">
        <div class="form-container-name">
            <span>Édition de la miniature</span>
        </div>
        <div class="form-container-data">
            


            

            <div class="thumbnail-container">

                <div *ngIf="!image_uploaded" class="image-container">
                    <span>Aucune image téléchargée</span>
                </div>

                <div *ngIf="image_uploaded" class="crop-container">
                    <div class="img-container">
                        <div class="full-crop">
                            <img #image [src]="imageSource" crossorigin>
                        </div>
                        <div class="buttons-container">
                            <button mat-raised-button class="style0" (click)="cancel_crop();">Annuler</button>
                            <button mat-raised-button class="style1" (click)="set_crop();">Valider</button>
                        </div>
                    </div>

                </div>

                <div class="crop">

                    <div class="img-preview">
                        <span *ngIf="imageDestination == ''">Aucune miniature sélectionnée</span>

                        <div *ngIf="imageDestination != ''" class="final-thumbnail" (mouseenter) ="showDetails();"  (mouseleave) ="hideDetails();">

                            <img [src]="imageDestination">
                            <div #thumbnail class="display-on-hover" [ngClass]="{'visible':showDrawingDetails}">
                                
                                <!--********************-->
                                <!--Title container-->
                                <!--********************-->
                                <div class="title-container">
                                    <span class="title">{{name}}</span>
                                </div>
                                <!--********************-->
                                <!--Author container-->
                                <!--********************-->
                                <div class="author-container">
                                    <div class="left-container">
                                        <img [src]="profile_picture">
                                    </div>
                                    <div class="right-container">
                                        <span class="author-name">{{author_name}}</span>
                                        <span class="author-description" *ngIf="primary_description!=null">{{primary_description}}</span>
                                    </div>
                                </div>
                                <!--********************-->
                                <!--Data container-->
                                <!--********************-->
                                <div class="stats-container">
                                    <div class="figure-container-views">
                                        <span>__</span>
                                        <div class="view-logo">
                                        </div>
                                    </div>
                                    <div class="figure-container-likes">
                                        <span>__</span>
                                        <div class="like-logo">
                                        </div>
                                    </div>
                                    <div class="figure-container-loves">
                                        <span>__</span>
                                        <div class="love-logo">
                                        </div>
                                    </div>
                                </div>
                                <!--********************-->
                                <!--Categories container-->
                                <!--********************-->
                                <div class="categories-container">  
                                    <span class="categories">{{category}} :</span>
                                    <span *ngIf="tagsSplit"> &nbsp; {{tagsSplit}}</span>
                                </div>
                                <!--********************-->
                                <!--Date container-->
                                <!--********************-->
                                <div class="date-container">
                                    <span>Publié maintenant</span>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!--******************************************************-->
            <!--Couleur-->
            <!--******************************************************-->
            <div class="form-group">
                <label for="artworkColor">Couleur du filtre</label>
                <select class="drawingSelectColor" style="height: 100%;">
                    <option selected value="" disabled="true">Sélectionner une couleur </option>
                    <option>Bleu</option>
                    <option>Noir</option>
                    <option>Vert</option>
                    <option>Jaune</option>
                    <option>Rouge</option>
                    <option>Violet</option>
                    <option>Rose</option>
                    <option>Marron</option>
                    <option>Orange</option>
                    <option>Gris</option>
                </select>
                <p *ngIf="displayErrors">Veuillez sélectionner une couleur</p>
            </div>




        </div>
    </div>
</div>


<button mat-raised-button class="submit-button style1" (click)="validateAll();">
    <span>Valider</span>
</button>
