
/*Style 0 :*/
::ng-deep button.style0 {
  outline: none !important;
  text-align: center !important;
  background:rgb(255, 255, 255);
  color: rgb(32,56,100);
  border-radius: 50px;
  border: unset;
  border: 1px solid rgb(32,56,100);
  box-shadow: 0px 0px 0px 1px #203864;

  transition:background-color 200ms,transform 200ms;
  &:hover {
    background:#eeeff3;
  }
  &:active {
    transform:scale(0.99);
  }
  mat-spinner circle {
    stroke: rgb(32,56,100) !important;
  }

}



/*Style 1 :*/
::ng-deep button.style1 {
    outline: none !important;
    text-align: center !important;
    background:rgb(32,56,100);
    color: white;
    border-radius: 40px;
    box-shadow: 0px 2px 2px 1px #152c56;
    border: unset;

    transition:background-color 200ms,transform 200ms;
    &:hover {
      background: #253d69;
    }
    &:active {
      transform:scale(0.99);
    }
    mat-spinner circle {
      stroke: #ffffff !important;
    }

}


.horizontal-line {
    width: 10%;
    height: 5px;
    margin: auto 0px auto 0px;
    border-bottom: 1px solid #d3d3db;
}

@keyframes shine {
  0% {
    background-position: right;    
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}