
a {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  /*height: 100%;*/
  display: flex;
}

.final-thumbnail {
    position:relative;
    width: 220px !important;
    border-radius:12px;
    margin-left:auto;
    margin-right:auto;
  }
  .final-thumbnail > img {
    width:100%;
    /*height:100%;*/
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 12px;
  }
  
  
  
  .final-thumbnail .display-on-hover {
    cursor:pointer;
    position:absolute;
    display:flex;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 0, 0, 0.5);
    opacity:0;
    transition:opacity 200ms;
    color: white;
    border-radius:12px;
  }


  .display-on-hover .artbook-icon {
    position: absolute;
    display:flex;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    border-radius: 0px 11px 0px 5px;
    background: #0000004d;
  }
  

  .display-on-hover .artbook-icon mat-icon {
    margin:auto auto;
    width:unset !important;
    height:unset !important;
    font-size:25px;
    color:white;
  }


  .visible {
    opacity: 1 !important;
  }
  
  
  .final-thumbnail .display-on-hover .title-container {
    text-align: left;
    word-break: break-word;
    margin: 0px 30px auto 0px;
    font-size: 20px;
    display: flex;
    width: calc(100% - 20px);
  }
  
   .title-container span.title {
    font-weight: bold;
    line-height: 22px;
    font-size: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    width: 90%;
  }
  
  
  .author-container {
    display: flex;
    width: 100%;
    }
    
    .author-container .left-container {
    width: 32px;
    height: 32px;
    min-width: 32px !important;
    min-height: 32px !important;
    margin: 3px 3px auto 0px;
    }
    
    .author-container .left-container img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    }
    
    .author-container .right-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: calc( 100% - 40px );
    margin: 0px 10px auto 5px;
    }
    .author-container .right-container span.author-name {
    font-size: 13px;
    line-height: 18px;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    }
    
    .author-container .right-container span.author-description {
      font-size: 13px;
      line-height: 18px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }
    
    .stats-container {    
      width: 100%;
      height: 22px;
      color: #3b3b3b;
      display: flex;
      margin-top: 7px;
      margin-bottom: 5px;
      /*font-size: 1rem;*/
      font-size: 13px;
      justify-content: space-between;
    }
    
    .figure-container
    {
      display: flex;
      border-radius: 16px;
      align-items: center;
      min-width: 59px;
      border: solid 2px #ffffff;
      color:white;
    }
    
    
    .figure-container.views {
      background-image: linear-gradient(to left, #6f6f6f 0, #969696 100%);
      /*box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);*/
    
    }
    
    .figure-container.likes {
      background-image: linear-gradient(to left, #2275be 0, #1b9fc0 100%);
       /*box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);*/
    }
    
    .figure-container.loves {    
      background-image: linear-gradient(to left, #8a0101, #e60000);
       /*box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);*/
    }
    
    .figure-container
    {
      margin:auto 5px auto auto;
    }
  
    .figure-container > div {
      display:flex;
      margin:auto auto;
    }
    
  
    .stats-container .figure-container.views mat-icon {
      height:unset;
      width:unset;
      font-size: 18px;
      margin: 1px auto auto 5px;
    }
    .stats-container .figure-container.likes mat-icon {
      height:unset;
      width:unset;
      font-size: 17px;
      margin: 1px auto auto 5px;
    }
    .stats-container .figure-container.loves mat-icon {
      height:unset;
      width:unset;
      font-size: 16px;
      margin: 2px auto auto 4px;
    }
  
    
  
.categories-container {
  width:100%;
  display:flex;
  align-items:center;
  margin-bottom: 3px;
  white-space: nowrap;
  text-align:left;
  line-height: 20px;
  margin-top: 5px;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
  
.categories-container span {
  font-size:1rem;
}

.tag-container{
  border: solid 2px white;
  border-radius: 20px;
  padding: 0px 10px 2px 10px;
  display: flex;
  background-color: black;
  margin: auto 2px 3px 0px;
}

.tag-container .mat-icon {
  font-size: 18px;
  line-height: 18px;
  margin-left: 3px;
  width:unset !important;
  height:unset !important;
}

.date-container {
  width:100%;
  line-height: 1.3rem;
  text-align:left;
}

.date-container span {
  font-size:12px;
}

