
  /*****************THUMBNAIL COMIC STYLES**********************/
  

  .element-book {

    /*nouveau style*/

    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    flex-direction: column;
    width: 200px;
    height: 267px;
    position: relative;
    transition: 0.2s ease-in-out;
    color:white;
  }
  
  .border-recto {

    /*nouveau style*/
    box-shadow: 0 5px 10px rgb(47, 47, 47, 0.46);
    /*border:1px solid rgb(206, 206, 206);*/

    border-radius:4px 30px 4px 30px;
    overflow: hidden;
  }
  
  .border-verso {
    box-shadow: 0 5px 10px rgb(47, 47, 47, 0.46);
    border-radius:30px 4px 30px 4px;
    padding: 25px 15px 15px 15px;
    overflow: hidden;
    background: rgb(109, 124, 152);
    color:rgb(255, 255, 255);
  }
  
  
  
  
  .element-book .miniature {
    position:relative;
    height:100% !important;
    width:100% !important;
  }
  
  
  .element-book .miniature img {
    width:100% !important;
    height:100% !important;
    margin-left:auto;
    margin-right:auto;
    object-fit: cover;
    height: 100%;
    width: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }

  /*linear-gradient(0deg, rgb(0, 18, 51), rgba(0, 16, 45, 0.71))*/
  /*linear-gradient(65deg, rgb(0, 24, 68), rgba(4, 25, 64, 0.81))*/
  .element-book .absolute-thumbnail-data {
    background:rgba(32, 56, 100, 0.75);
    /*background:linear-gradient(0deg, rgba(32, 56, 100, 0.6),rgba(32, 56, 100, 0.7), rgba(32, 56, 100, 0.6));*/
    color:rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    margin-left: auto;
    padding: 6px 15px 10px 15px;
    margin-right: auto;
  }
  
  
  .title-container {
  display:flex;
  flex-direction: column;
  width:100%;
  text-align:left;
  margin-bottom:10px;
  }
  
  .title-container span.title {
    font-weight: bold;
    margin: auto auto;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    word-break: break-all;
  }
  
  
  .author-container {
  display: flex;
  width: 100%;
  }
  
  .author-container .left-container {
  width: 32px;
  height: 32px;
  min-width: 32px !important;
  min-height: 32px !important;
  margin: 3px 3px auto 0px;
  }
  
  .author-container .left-container img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  }
  
  .author-container .right-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc( 100% - 40px );
  margin: 0px 10px auto 5px;
  }
  .author-container .right-container span.author-name {
  font-size: 13px;
  line-height: 18px;
  font-weight:bold;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  }
  
  .author-container .right-container span.author-description {
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  
  .stats-container {    
    width: 100%;
    height: 22px;
    color: #3b3b3b;
    display: flex;
    margin-top: 10px;
    margin-bottom: 7px;
    /*font-size: 1rem;*/
    font-size: 13px;
    justify-content: space-between;
  }
  
  .figure-container
  {
    display: flex;
    border-radius: 16px;
    align-items: center;
    min-width: 52px;
    border: solid 2px #ffffff;
    color:white;
  }
  
  
  .figure-container.views {
    background-image: linear-gradient(to left, #6f6f6f 0, #969696 100%);
    /*box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);*/
  
  }
  
  .figure-container.likes {
    background-image: linear-gradient(to left, #2275be 0, #1b9fc0 100%);
     /*box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);*/
  }
  
  .figure-container.loves {    
    background-image: linear-gradient(to left, #8a0101, #e60000);
     /*box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.36);*/
  }
  
  .figure-container
  {
    margin:auto 5px auto auto;
  }

  .figure-container > div {
    display:flex;
    margin:auto auto;
  }
  

  .stats-container .figure-container.views mat-icon {
    height:unset;
    width:unset;
    font-size: 16px;
    margin: 2px auto auto 5px;
  }
  .stats-container .figure-container.likes mat-icon {
    height:unset;
    width:unset;
    font-size: 15px;
    margin: 2px auto auto 5px;
  }
  .stats-container .figure-container.loves mat-icon {
    height:unset;
    width:unset;
    font-size: 15px;
    margin: 2px auto auto 4px;
  }
  



/*********Face verso*************/


.border-verso .verso-resume {
  font-weight: bold;
  margin-bottom: 6px;
  font-size:16px;
  text-align:left;
  display:flex;
}


.element-book .horizontal-line {
  width: 60px;
  height: 2px;
  margin: 0px auto 0px 0px;
  background: rgb(255, 255, 255);
}

.border-verso .verso-description {    
  width: 100%;
  text-align: left;
  line-height: 1.5rem;
  margin-top:7px;
  overflow-y: hidden;
  word-break: break-word;
}

.border-verso .verso-description span {
  margin: auto auto;
  font-size: 11px;
  line-height: 17px;
  display: -webkit-box;
  width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 5;
}

  
.categories-container {
  width:100%;
  display:flex;
  align-items:center;
  margin-bottom: 3px;
  white-space: nowrap;
  text-align:left;
  line-height: 20px;
  margin-top: auto;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  }
  
.categories-container span {
  font-size: 11px;
  line-height: 11px;
  margin: auto auto auto auto;
}

.tag-container{
  border: solid 2px white;
  border-radius: 20px;
  padding: 3px 6px 5px 6px;
  display: flex;
  background-color: black;
  margin: auto 4px 3px 0px;
  font-size:11px;
  line-height: 11px;
}

.tag-container .mat-icon {
  font-size: 11px;
  line-height: 11px;
  margin-top: 1px;
  margin-left: 3px;
  width: unset !important;
  height: unset !important;
}

.date-container {
  width:100%;
  line-height: 1.3rem;
  text-align:left;
}

.date-container span {
  font-size:11px;
}


.border-verso .verso-type {
  width: 100%;
  display:flex;
  align-items:center;
  text-align: left;
  line-height: 1.15rem;
}

.border-verso .verso-type span {
  font-size: 11px;
  line-height: 11px;
  margin: auto auto auto auto;
}







