



/******************************************************************************-->
<!--*****************************************************************************-->
<!--******************************* f00 form ************************************-->
<!--*****************************************************************************-->
<!--******************************************************************************/




.swiper-container2 {
    height:200px;
}

.monetization{
    margin-left: 10%;
    width: 90%;
}

/******************************************************************************-->
<!--*****************************************************************************-->
<!--******************************* f01 form ************************************-->
<!--*****************************************************************************-->
<!--******************************************************************************/

