


        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <!--******************************** primary information ************************-->
        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <div>

            
            <button mat-raised-button class="step-back-button" (click)="back_home();">
                <div class="back-icon"></div>
                <span>Retour</span>
            </button>

            
            <form [formGroup]="fd" novalidate>
                <div class="form-container">

                    <div class="form-container-name">
                        <span>Informations de base</span>
                    </div>


                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Titre</mat-label>
                            <input matInput formControlName="fdTitle" maxLength="30" autocomplete="off">
                            <mat-error *ngIf="fd.controls['fdTitle'].invalid">Veuillez faire une saisie valide
                            </mat-error>
                            <div class="length-indicator">{{fd.controls['fdTitle'].value?.length || 0}}/30</div>
                        </mat-form-field>
                    </div>


                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Localisation préférentielle</mat-label>
                            <input matInput formControlName="fdPreferential_location" maxLength="30" autocomplete="off">
                            <mat-error *ngIf="fd.controls['fdPreferential_location'].invalid">Veuillez faire une saisie valide
                            </mat-error>
                            <div class="length-indicator">{{fd.controls['fdPreferential_location'].value?.length || 0}}/30</div>
                        </mat-form-field>
                    </div>
                    

                    
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Type de projet</mat-label>
                            <mat-select [compareWith]="compareObjects" disableOptionCentering formControlName="fdProject_type">
                                <mat-option  *ngFor="let obj of listOfTypes" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fd.controls['fdProject_type'].invalid">Veuillez sélectionner un type de projet</mat-error>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field>
                            <mat-label>Description personnelle (comment vous décriveriez-vous)</mat-label>
                            <mat-select [compareWith]="compareObjects" disableOptionCentering formControlName="fdMydescription">
                                <mat-option  *ngFor="let obj of listOfDescriptions" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fd.controls['fdMydescription'].invalid">Veuillez sélectionner une description</mat-error>
                        </mat-form-field>
                    </div>

                    
                    <div class="form-item">
                        <mat-form-field>
                            <mat-chip-list #chipList formControlName="fdTargets" aria-label="Genre selection">
                              <mat-chip
                                *ngFor="let genre of genres"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(genre)">
                                {{genre}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input
                                placeholder="Descriptions des cibles préférentielles (maximum : 2)"
                                #genreInput
                                [formControl]="genreCtrl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                                {{genre}}
                              </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    
                    
                    <div class="form-item" style="height:50px;">
                        <div class="monetisation-container">
                            <mat-slide-toggle [checked]="remuneration" (change)="setRemuneration( $event )" style="font-weight:bold;">
                                Cette collaboration est rémunérée
                            </mat-slide-toggle>
                        </div>
                    </div>

                    <div class="form-item" *ngIf="remuneration" >
                        <mat-form-field>
                            <mat-label>Montant en €(optionnel)</mat-label>
                            <input matInput formControlName="fdPrice" maxLength="9" autocomplete="off">
                            <div class="length-indicator">{{fd.controls['fdPrice'].value?.length || 0}}/9</div>
                        </mat-form-field>
                    </div>

                        
                    <div class="form-item" style="height:unset !important;">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                        
                            <textarea matInput cdkTextareaAutosize formControlName="fdDescription" maxLength="2000" autocomplete="off"></textarea>
                            <mat-error *ngIf="fd.controls['fdDescription'].invalid">Veuillez faire une saisie valide
                            </mat-error>
                            <div class="length-indicator">{{fd.controls['fdDescription'].value?.length || 0}}/2000</div>
                        </mat-form-field>
                    </div>

    
                </div>

                
                <div class="form-container">
                    <div class="form-container-name">
                        <span>Edition de la miniature</span>
                    </div>
                    <app-uploader-thumbnail-ad></app-uploader-thumbnail-ad>
                </div>

                
                <div class="form-container">
                    <div class="form-container-name">
                        <span>Documents complémentaires</span>
                    </div>

                    <app-uploader-attachments-ad
                    [status]="status_pictures" 
                    [id_ad]="id_ad"
                    (uploaded1)="all_attachments_uploaded( $event );"></app-uploader-attachments-ad>
                </div>

                
                <button mat-raised-button class="submit-button style1" (click)="validate_form_ads();">
                    <span>Valider </span>
                </button>
                <div style="justify-content: center;display: flex;" *ngIf="display_loading">
                    <mat-spinner diameter="20" ></mat-spinner>
                </div>

            </form>
            
        </div>


        

        
        
        

        