

        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <!--******************************** primary information ************************-->
        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <div>

            
            <button mat-raised-button class="step-back-button style0" (click)="back_home();">
                <div class="back-icon"></div>
                <span>Retour</span>
            </button>

            
            
            <form>
                <div class="form-container">
                    <div class="form-container-name">
                        <span>Présentation de l'annonce</span>
                    </div>

                    <div class="form-container-flex">
                        <div class="flex-left-container">

                            <div [formGroup]="fd" novalidate>
                                <div class="form-group">
                                    <label for="artworkTitle">Titre</label>
                                    <input type="text" formControlName="fdTitle" class="form-control"  maxlength="30" placeholder="Titre de l'annonce" autocomplete="off" required/>
                                    <p *ngIf="!fdTitle.valid  && fdDisplayErrors">Veuillez saisir un titre valide</p>
                                </div>

                                <div class="form-group">
                                    <label for="artworkTitle">Localisation préferentielle</label>
                                    <input type="text" formControlName="fdPreferential_location" class="form-control"  maxlength="40" placeholder="exemple : Paris, France" autocomplete="off" required/>
                                    <p *ngIf="!fdPreferential_location.valid  && fdDisplayErrors">Veuillez saisir une localisation valide</p>
                                </div>

                                <div class="form-group">
                                    <label for="artworkCategory">Type de projet</label>
                                    <select formControlName="fdProject_type" class="fdselect1" style="height: 100%;">
                                        <option value="" disabled="true">Sélectionner un type de projet</option>
                                        <option label="Bande dessinée">Bandes dessinées en tout genre</option>
                                        <option label="BD européenne">BD européennes</option>
                                        <option label="Comics">Comics</option>
                                        <option label="Manga">Manga</option>
                                        <option label="Webtoon">Webtoon</option>
                                        <option label="Dessin ">Dessin en tout genre</option>
                                        <option label="Dessin numérique">Dessin numérique</option>
                                        <option label="Dessin traditionnel">Dessin traditionnel</option>
                                        <option label="Ecrit en tout genre">Ecrit en tout genre</option>
                                        <option label="Article">Article</option>
                                        <option label="Roman">Roman</option>
                                        <option label="Roman illustré">Roman illustré</option>
                                        <option label="Scénario">Scénario</option>
                                    </select>
                                    <p *ngIf="fdProject_type.value == '' && fdDisplayErrors">Veuillez sélectionner une catégorie</p>
                                </div>

                                <div class="form-group">
                                    <label for="artworkFormat">Description personnelle</label>
                                    <select formControlName="fdMydescription" class="fdselect0" style="height: 100%;">
                                        <option value="" disabled="true">Comment vous décriveriez-vous le mieux?</option>
                                        <option label="Professionnel non artiste">Professionnel non artiste</option>
                                        <option label="Artiste">Artiste en tout genre</option>
                                        <option label="Auteur de bandes dessinées">Auteur de bandes dessinées</option>
                                        <option label="Ecrivain">Ecrivain</option>
                                        <option label="Dessinateur">Dessinateur</option>
                                        <option label="Scénariste">Scénariste</option>
                                        
                                    </select>
                                    <p *ngIf="fdMydescription.value == '' && fdDisplayErrors">Veuillez sélectionner une description personnelle</p>
                                </div>

                                

                                <div class="form-group">
                                    <label for="artworkTags">Descriptions des cibles préferentielles </label>
                                    <select formControlName="fdTargets" class="multipleSelectfd" placeholder="Sélectionneur au moins une cible (max : 2)" multiple name="language">
                                        <option value="Professionnel non artiste">Professionnel non artiste</option>
                                        <option value="Artiste">Artiste en tout genre</option>
                                        <option value="Auteur de bandes dessinées">Auteur de bandes dessinées</option>
                                        <option value="Ecrivain">Ecrivain</option>
                                        <option value="Dessinateur">Dessinateur</option>
                                        <option value="Scénariste">Scénariste</option>
                                    </select>
                                    <p *ngIf="!tagsValidator && fdDisplayErrors">Veuillez sélectionner au moins une cible</p>
                                </div>
                            </div>

                        <div [formGroup]="fd2" novalidate>
                            <div class="form-group">
                                <label>Collaboration rémunérée</label>
                                <div class="monetisation-container">
                                    <mat-slide-toggle [checked]="remuneration" (change)="setRemuneration( $event )">
                                        <span *ngIf="remuneration">Oui</span>
                                        <span *ngIf="!remuneration">Non</span>
                                    </mat-slide-toggle>
                                    &nbsp; 
                                    &nbsp; 
                                </div>
                                <div class="form-group" *ngIf="remuneration" >
                                    <label for="artworkTitle">Voulez-vous spécifier un montant ? </label>
                                    <input type="text" formControlName="fdPrice"  class="form-control2"   maxlength="20" placeholder="exemple : 40,00" autocomplete="off" required/>
                                    <span>	&#8364;</span>
                                    <p *ngIf="fd2DisplayErrors">Veuillez saisir un nombre uniquement composé de chiffres et de virgules</p>
                                </div>
                            </div>
                        </div>
                            

                        </div>

                        <ng-container [formGroup]="fd3" novalidate>
                            <div class="flex-right-container">
                                <div class="form-group">
                                    <label for="artworkDescription">Description</label>
                                    <textarea type="text" formControlName="fdDescription" maxlength="2000" style="height: 500px;resize:none;" class="form-control" placeholder="Description de l'annonce (2000 caractères max)" autocomplete="off" required>
                                    </textarea>
                                    <p *ngIf="!fdDescription.valid && fdDisplayErrors">Veuillez saisir une description valide</p>
                                </div>
                            </div>
                        </ng-container>
                            
                        
                    </div>

                </div>
            </form>

            

            <div class="form-container">
                <div class="form-container-name">
                    <span>Edition de la miniature</span>
                </div>
                <div class="form-container-data">

                    <!--******************************************************-->
                    <!--Miniature-->
                    <!--******************************************************-->
                    <div class="form-group" style="text-align:center;">
                        <app-uploader-thumbnail-ad></app-uploader-thumbnail-ad>
                    </div>


                </div>
            </div>


            <div class="container2">
                <div class="pictures-container">
                    <div class="pictures-container-name">
                        <span>Fichiers complémentaires</span>
                    </div>
                    <div class="pictures-container-flex">
                        <app-uploader-attachments-ad
                        [status]="status_pictures" 
                        [id_ad]="id_ad"
                        (uploaded1)="all_attachments_uploaded( $event );"></app-uploader-attachments-ad>
                    </div>
                </div>
            </div>
            


            <button mat-raised-button class="submit-button style1" (click)="validate_form_ads();">
                <span>Valider </span>
            </button>
        </div>


        

        
        
        

        