


        <!--Forms : adding drawing-->
        <div class="steps">
            <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step >=0 }">
                <span>Publication d'une annonce</span>
            </div>
            <div class="horizontal-line">
            </div>
        </div>


        

        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <!--******************************** primary information ************************-->
        <!--*****************************************************************************-->
        <!--*****************************************************************************-->
        <div>

            
            <button mat-raised-button class="step-back-button style0" (click)="back_home();">
                <div class="back-icon"></div>
                <span>Retour</span>
            </button>

            
            <form [formGroup]="fd" novalidate>

                <div class="form-container">
                    <div class="form-container-name">
                        <span>Informations primaires</span>
                    </div>

                    <div class="form-container-flex">
                        <div class="flex-left-container">

                            <div class="form-group">
                                <label for="artworkTitle">Titre</label>
                                <input type="text" formControlName="fdTitle" class="form-control" placeholder="Titre de l'annonce" autocomplete="off" required/>
                                <p *ngIf="!fdTitle.valid  && fdDisplayErrors">Veuillez saisir un titre valide</p>
                            </div>

                            <div class="form-group">
                                <label for="artworkTitle">Localisation préferentielle</label>
                                <input type="text" formControlName="fdPreferential_location" class="form-control" placeholder="exemple : Paris, France" autocomplete="off" required/>
                                <p *ngIf="!fdPreferential_location.valid  && fdDisplayErrors">Veuillez saisir une localisation valide</p>
                            </div>

                            <div class="form-group">
                                <label for="artworkCategory">Type de projet</label>
                                <select formControlName="fdProject_type" class="fdselect1" style="height: 100%;">
                                    <option value="" disabled="true">Sélectionner une catégorie</option>
                                    <option label="Bandes dessinées en tout genre">Bandes dessinées en tout genre</option>
                                    <option label="BD européennes">BD européennes</option>
                                    <option label="Comics">Comics</option>
                                    <option label="Manga">Manga</option>
                                    <option label="Dessin en tout genre">Dessin en tout genre</option>
                                    <option label="Dessin numérique">Dessin numérique</option>
                                    <option label="Dessin traditionnel">Dessin traditionnel</option>
                                    <option label="Digital">Ecrit en tout genre</option>
                                    <option label="Digital">Articles</option>
                                    <option label="Digital">Roman</option>
                                    <option label="Digital">Roman illustré</option>
                                    <option label="Digital">Scénario</option>
                                </select>
                                <p *ngIf="fdProject_type.value == '' && fdDisplayErrors">Veuillez sélectionner une catégorie</p>
                            </div>

                            <div class="form-group">
                                <label for="artworkFormat">Description personnelle</label>
                                <select formControlName="fdMydescription" class="fdselect0" style="height: 100%;">
                                    <option value="" disabled="true">Comment vous décriveriez-vous le mieux?</option>
                                    <option label="Professionnel non artiste">Professionnel non artiste</option>
                                    <option label="Artiste en tout genre">Artiste en tout genre</option>
                                    <option label="Auteur de bandes dessinées">Auteur de bandes dessinées</option>
                                    <option label="Ecrivain">Ecrivain</option>
                                    <option label="Dessinateur">Dessinateur</option>
                                    <option label="Scénariste">Scénariste</option>
                                    
                                </select>
                                <p *ngIf="fdMydescription.value == '' && fdDisplayErrors">Veuillez sélectionner une description personnelle</p>
                            </div>

                            

                            <div class="form-group">
                                <label for="artworkTags">Descriptions des cibles préferentielles </label>
                                <select formControlName="fdTargets" class="multipleSelectfd" placeholder="Sélectionneur au moins une cible (max : 2)" multiple name="language">
                                    <option value="Professionnel non artiste">Professionnel non artiste</option>
                                    <option value="Artiste en tout genre">Artiste en tout genre</option>
                                    <option value="Auteur de bandes dessinées">Auteur de bandes dessinées</option>
                                    <option value="Ecrivain">Ecrivain</option>
                                    <option value="Dessinateur">Dessinateur</option>
                                    <option value="Scénariste">Scénariste</option>
                                </select>
                                <p *ngIf="!tagsValidator && fdDisplayErrors">Veuillez sélectionner au moins une cible</p>
                            </div>

                        </div>

                        <div class="flex-right-container">

                            <div class="form-group">
                                <label for="artworkDescription">Description</label>
                                <textarea type="text" formControlName="fdDescription" maxlength="1000" style="height: 200px;resize:none;" class="form-control" placeholder="Description de l'œuvre (1000 caractères max)" autocomplete="off" required>
                                </textarea>
                                <p *ngIf="!fdDescription.valid && fdDisplayErrors">Veuillez saisir une description valide</p>
                            </div>

                            
                        </div>

                    </div>

                </div>
                

                

            </form>

            <!--<div>

            
                <app-swiper-upload-ad 
    
                    author_name={{author_name}} 
                    primary_description={{primary_description}}
                    [profile_picture]=profile_picture
                    
                    [title]=fd.value.fdTitle
                    [description]=fd.value.fdDescription
                    [project_type]=fd.value.fdProject_type
                    [mydescription]=fd.value.fdMydescription
                    [location]=fd.value.fdPreferential_location
                    [targets]=fdTargets>
    
                </app-swiper-upload-ad>
            </div>-->


            <!--<div class="form-container">
                <div class="form-container-name">
                    <span>Pièces complémentaires à joindres</span>
                </div>
                <div class="form-container-flex">
                    <app-uploader-attachments-ad></app-uploader-attachments-ad>
                </div>
            </div>-->
            
            <div class="container1">
                <div class="thumbnail-container">
                    <div class="thumbnail-container-name">
                        <span>Edition de la photo de présentation</span>
                    </div>
                    <div class="thumbnail-container-flex">
                        <app-uploader-thumbnail-ad></app-uploader-thumbnail-ad>
                    </div>
                </div>

                <div class="container2">

                    <div class="pictures-container">
                        <div class="pictures-container-name">
                            <span>Images complémentaires</span>
                        </div>
                        <div class="pictures-container-flex">
                            <app-uploader-pictures-ad
                            [status]="status_pictures" 
                            [id_ad]="id_ad"
                            (uploaded)="all_pictures_uploaded( $event );"></app-uploader-pictures-ad>
                        </div>
                    </div>
        
                    <div class="pictures-container">
                        <div class="pictures-container-name">
                            <span>Fichiers complémentaires</span>
                        </div>
                        <div class="pictures-container-flex">
                            <app-uploader-attachments-ad
                            [status]="status_pictures" 
                            [id_ad]="id_ad"
                            (uploaded1)="all_pictures_uploaded1( $event );"></app-uploader-attachments-ad>
                        </div>
                    </div>

                </div>
    
                
            </div>
            


            <button mat-raised-button class="submit-button style1" (click)="validate_form_ads();">
                <span>Valider </span>
            </button>
        </div>


        

        
        
        

        