.bottom-for-rank{
    padding-bottom: 50px !important;

    @media (max-width: 900px) {
        padding-bottom:45px!important;
    }
    @media (max-width: 730px) {
        padding-bottom:30px !important;
    }
    @media (max-width: 440px) {
        padding-bottom:25px !important;
    }
}

.more-top{
    padding-top: 20px !important;
}

.more-height-for-rank{
    height: calc(100% - 56px)!important;
    @media (max-width: 900px) {
        height: calc(100% - 51px)!important;
    }
    @media (max-width: 730px) {
        height: calc(100% - 36px)!important;
    }
    @media (max-width: 440px) {
        height: calc(100% - 31px)!important;
    }
}

.main-thumbnail-container{
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom:15px;
    margin: auto;
    max-width: 1006px;

    .bottom-absolute-arrow {
        position: absolute;
        -webkit-box-align: center;
        align-items: center;
        right: 0px;
        left: 0px;
        bottom: -15px;
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 4;
        mat-icon {
            margin: unset;
            width: 36px;
            background: rgb(249 249 249 / 90%);
            border-radius: 50px;
            box-shadow: 0px 1px 1px 0px #001c506b;
            height: 36px;
            font-size: 36px;
            color: #0d2355;
        }
        &:active {
            transform:scale(0.96);
        }
    }

    .top-absolute-arrow {
        position: absolute;
        top: 2px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        display: flex;
        cursor: pointer;
        z-index: 4;
        mat-icon {
          margin: unset;
          width: 36px;
          background: rgb(249 249 249 / 90%);
          border-radius: 50px;
          box-shadow: 0px 0px 3px 0px #001c506b;
          height: 36px;
          font-size: 36px;
          color: #0d2355;
          transform: rotate(-180deg);
        }
        &:active {
            transform:scale(0.96);
        }
    }


    .thumbnail-user {
        position:relative;
        display:flex;
        flex-direction: column;
    
        user-select: none;
    
        max-width: 900px;
        width:90%;
        height: 266.66px;
        margin-left: auto;
        margin-right: auto;
    
    
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #e8e8e8;
        background: rgb(251, 251, 251);
        box-shadow: 0 1px 6px 1px #ececec, 0px 0px 1px rgba(0, 0, 0, 0.2);
    
        .invisible{
            visibility:hidden;
        }
        
    
        
        .rank-container {
            position: absolute;
            display: flex;
            right: 14px;
            bottom: -120px;
            z-index: 4;
            border-radius: 100px;
            span {
                font-weight: 600;
                margin: auto;
                font-size: 230px;
                padding-bottom: 2px;
                color: #efefef;
                -webkit-text-stroke: 5px #071344;
                text-shadow: -1px -1px 5px #071344, 1px 1px 5px #071344;
            }
    
            @media (max-width: 900px) {
                right: 6px;
                bottom: -95px;
                span {
                    font-size: 160px;
                }
            }
            @media (max-width: 730px) {
                bottom: -70px;
                span {
                    font-size: 120px;
                    -webkit-text-stroke: 4px #071344;
                    text-shadow: -1px -1px 3px #071344, 1px 1px 3px #071344;
                }
            }
            @media (max-width: 620px) {
                bottom: -60px;
                span {
                    font-size: 90px;
                    -webkit-text-stroke: 3px #071344;
                }
            }
            @media (max-width: 440px) {
                bottom: -50px;
                right: 15px;
                span {
                    font-size: 70px;
                    -webkit-text-stroke: 2px #071344;
                    text-shadow: unset !important;
                }
            }
    
        }
        
        .cover-picture {
            position:absolute;
            overflow: hidden;
            top:0;
            left:0;
            right:0;
            border-radius: 10px;
    
            height: 100%;
            width:100%;
            
            img {
                height:100%;
                width:100%;
                object-fit: cover;
            }
        }
    
        .absolute-profile-data {  
            z-index: 2;  
            position: absolute;
            display: flex;
            border-radius: 10px !important;
            box-shadow: 0px 2px 4px 0px #001c506b;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            flex-direction: column;
            padding: 20px 20px 25px 20px;
            justify-content: center;
            width: 100%  !important;
            height: 100% !important;
            background-image: linear-gradient(0turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.5), rgba(44, 114, 164, 0.1));
            
            .profile-picture {
                position: relative;
                height: 75px;
                width: 75px;
                min-width: 75px;
                min-height: 75px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 100px;
                overflow: hidden;
                box-shadow: 0px 0px 2px 2px #4bc7ff;
                img {
                    height:100%;
                    width:100%;
                    object-fit: cover;
                }
            }
        
            .profile-name {
                margin-top:4px;
                text-align:center;
                padding-left:20px;
                padding-right:20px;
                cursor:pointer;
        
                span {
                    font-size:13px;
                    line-height: 19px;
                    color:rgb(255, 255, 255);
                    font-weight:bold;
        
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    -webkit-line-clamp: 2;
                    word-break: break-word;
                }
            }
    
            .profile-text {
                margin-top:4px;
                text-align:center;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 4px;
                margin-right: 4px;
                font-weight: 500;
                cursor:pointer;
                display:flex;
                justify-content: center;
                mat-icon {
                    margin:auto 4px auto auto;
                    width:unset !important;
                    height:unset !important;
                    font-size:14px;
                    color: #4bc7ff;
                }
                span {
                    margin:auto auto auto 0px;
                    font-size: 12px;
                    line-height: 16px;
                    color: #ffffff;
                    white-space: nowrap;
                }
    
                .sub-category{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon-container {
                        margin: auto 5px auto 5px;
                        width: unset !important;
                        font-size: 20px;
                        height: 17px;
        
                        .icon {
                            background: #4bc7ff;
                            margin: auto auto;
                            height: 16px;
                            width: 16px;
                        }
                
                        .icon-announcement {
                            height: 14px;
                            width: 18px;
                            margin-top: 2px;
                            background: rgb(75 199 255 / 75%);
                            mask: url("../../assets/img/svg/announcement_black_24dp.svg") no-repeat 50% 50%;
                        }
                        .icon-comic {
                            mask: url("../../assets/img/svg/comic-bubble.svg") no-repeat 50% 50%;
                        }
                        .icon-drawing {
                            mask: url("../../assets/img/svg/pencil.svg") no-repeat 50% 50%;
                        }
                        .icon-writing {
                            margin-top: 1px;
                            mask: url("../../assets/img/svg/writing2.svg") no-repeat 50% 50%;
                        }
                    }
                
                      
                }
            }
    
        
        }
        
       
    
    }
    
    
    .shiny{
        background-color: rgb(220, 220, 220);
        background-image: linear-gradient(
            to right,
            transparent 33%,
            rgba(255,255,255,0.3) 50%,
            transparent 66%
        );
        background-size:300% 100%;
        animation: shine 2s infinite;
    }
    
    @keyframes shine {
        0% {
            background-position: right;    
        }
    }
    
}

