<div *ngIf="skeleton" class="main-thumbnail-container">
    <div class="thumbnail-user shiny"  [@enterAnimation]>
    </div>
</div>


<div *ngIf="!skeleton" class="main-thumbnail-container" [ngClass]="{'bottom-for-rank':rank,'more-top':opened_category==1}" >

    

    <div class="thumbnail-user" *ngIf="opened_category==0"  [@enterFromBottomAnimation]>
        
        
        <div class="rank-container" *ngIf="rank">
            <span>
                {{rank}}
            </span>
        </div>

        <div class="cover-picture" >
            <img *ngIf="display_thumbnail"  [lazyLoad]="cover_picture"  loading="lazy" (load)="load_cover()" [ngClass]="{'invisible':!cover_is_loaded}" [alt]="'photo de couverture de '+author_name">
        </div>

        <a class="absolute-profile-data" [routerLink]=open_account()>
            <div class="profile-picture" [ngClass]="{'shiny':!pp_is_loaded}">
                <img [lazyLoad]="profile_picture"  loading="lazy" (load)="load_pp()" [ngClass]="{'invisible':!pp_is_loaded}" [alt]="'photo de profil de '+author_name">
            </div>
    
            <div class="profile-name"  *ngIf="display_thumbnail ">
                <h2>{{author_name}}</h2>
            </div>
    

            <div class="profile-text" style="margin: 5px auto 0px auto;" *ngIf="display_thumbnail && primary_description && primary_description!=''">
                <span>{{primary_description}}</span>
            </div>
            <div class="profile-text"  *ngIf="display_thumbnail ">
                <mat-icon [ngClass]="{'invisible': !show_icon }"
                matTooltip='Pseudonyme' 
                matTooltipClass='linkarts-tooltip' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200">alternate_email</mat-icon>
                <span>{{pseudo}}</span>
            </div>
    
            <div class="profile-text" *ngIf="display_thumbnail " >
                <mat-icon [ngClass]="{'invisible': !show_icon }"
                matTooltip='Profil' 
                matTooltipClass='linkarts-tooltip' 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="200">account_circle</mat-icon>
                <span>{{type_of_account}}</span>
            </div>
            
            <div class="profile-text" *ngIf="subscribers_number == 1 && display_thumbnail">
                <mat-icon [ngClass]="{'invisible': !show_icon }">group</mat-icon>
                <span>1 abonné(e)</span>
            </div>
            <div class="profile-text" *ngIf="subscribers_number > 1 && display_thumbnail">
                <mat-icon [ngClass]="{'invisible': !show_icon }">group</mat-icon>
                <span>{{subscribers_number}} abonnés</span>
            </div>
            <div class="profile-text" *ngIf="display_thumbnail && (number_of_comics + number_of_drawings + number_of_writings + number_of_ads > 0)"
            matTooltip="B.D. : {{number_of_comics}}&#13;Dessins : {{number_of_drawings}}&#13;Écrits : {{number_of_writings}}&#13;Annonces : {{number_of_ads}}" 
            matTooltipClass='linkarts-tooltip' 
            [matTooltipPosition]="'below'"
            [matTooltipShowDelay]="0">
                <mat-icon [ngClass]="{'invisible': !show_icon }">palette</mat-icon>
                <span *ngIf="number_of_comics + number_of_drawings + number_of_writings + number_of_ads == 1">{{number_of_comics + number_of_drawings + number_of_writings + number_of_ads}} publication</span>
                <span *ngIf="number_of_comics + number_of_drawings + number_of_writings + number_of_ads > 1">{{number_of_comics + number_of_drawings + number_of_writings + number_of_ads}} publications</span>
            </div>
            <div class="profile-text" *ngIf="display_thumbnail && (number_of_comics + number_of_drawings + number_of_writings + number_of_ads > 0)">
                <div class="sub-category" *ngIf="number_of_comics>0">
                    <div class="icon-container" 
                    matTooltip="Bandes dessinées : {{number_of_comics}}" 
                    matTooltipClass='linkarts-tooltip' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="0">
                        <div class="icon icon-comic" ></div>
                    </div>
                    <span>{{number_of_comics}}<ng-container *ngIf="number_of_drawings>0 || number_of_writings>0 || number_of_ads>0"> &nbsp;•</ng-container></span>
                </div>
                <div class="sub-category" *ngIf="number_of_drawings>0">
                    <div class="icon-container"
                    matTooltip="Dessins : {{number_of_drawings}}" 
                    matTooltipClass='linkarts-tooltip' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="0">
                        <div class="icon icon-drawing" ></div>
                    </div>
                    <span>{{number_of_drawings}}<ng-container *ngIf="number_of_writings>0  || number_of_ads>0"> &nbsp;•</ng-container></span>
                </div>
                <div class="sub-category" *ngIf="number_of_writings>0">
                    <div class="icon-container"
                    matTooltip="Écrits : {{number_of_writings}}" 
                    matTooltipClass='linkarts-tooltip' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="0">
                        <div class="icon icon-writing" ></div>
                    </div>
                    <span>{{number_of_writings}}<ng-container *ngIf="number_of_ads>0"> &nbsp;•</ng-container></span>
                </div>
                <div class="sub-category" *ngIf="number_of_ads>0">
                    <div class="icon-container"
                    matTooltip="Annonces : {{number_of_ads}}" 
                    matTooltipClass='linkarts-tooltip' 
                    [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="0">
                        <div class="icon icon-announcement" ></div>
                    </div>
                    <span>{{number_of_ads}}</span>
                </div>
            </div>
        </a>

        <div (click)="open_category(1);" *ngIf="opened_category==0 && show_arrow" class="bottom-absolute-arrow">
            <mat-icon [ngClass]="{'invisible': !show_icon }" 
            matTooltip='Œuvre mise en avant' 
            matTooltipClass='linkarts-tooltip' 
            [matTooltipPosition]="'left'"
            [matTooltipShowDelay]="200">expand_more</mat-icon>
        </div>
    </div>

    <div  [@enterFromTopAnimation] *ngIf="opened_category==1">
        <div  (click)="open_category(0);" *ngIf="opened_category==1" class="top-absolute-arrow" [ngClass]="{'invisible': !show_left_arrow }">
            <mat-icon [ngClass]="{'invisible': !show_icon }"
            matTooltip="Description de l'utilisateur"
            matTooltipClass='linkarts-tooltip' 
            [matTooltipPosition]="'left'"
            [matTooltipShowDelay]="200">expand_more</mat-icon>
        </div>
        
        <app-thumbnail-artwork 
        [item]=emphasized_artwork
        [emphasized]=emphasized
        [for_user]=emphasized
        page="subscribings"
        now_in_seconds={{now_in_seconds}}
        ></app-thumbnail-artwork>
    </div>
    

    
</div>
