.thumbnail-user {
    position:relative;
    display:flex;
    flex-direction: column;

    user-select: none;

    max-width: 900px;
    width:90%;
    height: 266.66px;
    margin-left: auto;
    margin-right: auto;


    cursor: pointer;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    background: rgb(251, 251, 251);
    box-shadow: 0 1px 6px 1px #ececec, 0px 0px 1px rgba(0, 0, 0, 0.2);

    .invisible{
        visibility:hidden;
    }
    
    
    .cover-picture {
        position:absolute;
        overflow: hidden;
        top:0;
        left:0;
        right:0;

        height: 100%;
        width:100%;
        
        img {
            height:100%;
            width:100%;
            object-fit: cover;
        }
    }

    .absolute-profile-data {    
        position: absolute;
        display: flex;
        background-image: linear-gradient(0.02turn, rgba(2, 18, 54, 0.9), rgba(19, 51, 100, 0.9), rgba(44, 114, 164, 0.9));
        box-shadow: 0px 1px 8px 0px #001c50;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        flex-direction: column;
        padding: 20px 20px 25px 20px;
        border-radius: 45px;
        min-width: 225px;
        max-width: 300px;
        
        .profile-picture {
            position: relative;
            height: 80px;
            width: 80px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 100px;
            overflow: hidden;
            box-shadow: 0px 0px 2px 2px #4bc7ff;
            border: 1px solid #4bc7ff;
            img {
                height:100%;
                width:100%;
                object-fit: cover;
            }
        }
    
        .profile-name {
            margin-top:4px;
            text-align:center;
            padding-left:20px;
            padding-right:20px;
            cursor:pointer;
    
            span {
                font-size:13px;
                line-height: 19px;
                color:rgb(255, 255, 255);
                font-weight:bold;
    
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 2;
                word-break: break-word;
            }
        }

        .profile-text {
            margin-top:4px;
            text-align:center;
            padding-left:15px;
            padding-right:15px;
            cursor:pointer;
            display:flex;
    
            mat-icon {
                margin:auto 4px auto auto;
                width:unset !important;
                height:unset !important;
                font-size:14px;
                color: #4bc7ff;
            }
            span {
                margin:auto auto auto 0px;
                font-size: 12px;
                line-height: 16px;
                color: #ffffff;
    
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 1;
                word-break: break-word;
                text-align: left;
            }
        }
    }
    
    @media (max-width: 900px) {
        width:80%;

    }
    @media (min-width: 400px) and (max-width: 599px) {
        width:90%;
    }
    @media (max-width: 400px) {
        width:100%;
        border-radius:0px !important;
    }

}


.shiny{
    background-color: rgb(220, 220, 220);
    background-image: linear-gradient(
        to right,
        transparent 33%,
        rgba(255,255,255,0.3) 50%,
        transparent 66%
    );
    background-size:300% 100%;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        background-position: right;    
    }
}

::ng-deep .tooltip-thumbnail-user {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border: 1px solid rgb(94, 121, 172) !important;
    font-weight: 600 !important;
    border-radius: 12px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    font-size: 11px !important;
    color: rgb(32, 56, 100) !important;
    padding: 6px !important;
    white-space: pre-line;
    text-align: center !important;
  }