<div class="trendings-global-container">

    <div class="main-title">
        <span class="title">Artistes à ne pas manquer !</span>
        <div class="see-more-button">
            ?
            <div class="information" >
                <div class="first-text">
                    <span ><img src='../../assets/img/tuto-logos/tuto-favorites.svg'>C'est ici que sont classés et mis en avant les artistes favoris des utilisateurs ! Ce classement est réalisé en fonction de la popularité et de l'activité des artistes sur les 6 derniers mois. L'activité d'un artiste se fonde sur le nombre d'œuvres qu'il publie ainsi que sur le nombre de commentaires qu'il laisse auprès d'autres artistes.
                    </span>
                </div>
                
                <div class="second-text">
                    <span> <img src='../../assets/img/tuto-logos/tuto-euro.svg'>Le classement évolue chaque jour mais un jour compte plus que les autres, le lundi ! Chaque lundi, les artistes classés dans le top 15 des coups de coeur reçoivent une rémunération, en fonction de leur nombre d'abonnés et de leur position dans le classement.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="!favorites_retrieved">
        <ng-container *ngFor="let item of skeleton_array; let i = index">
            <div class="ranked-thumbnail-container">
                <app-thumbnail-user 
                    [skeleton]="skeleton"
                ></app-thumbnail-user> 
            </div>
        </ng-container>
    </ng-container>

   
    
    <ng-container *ngIf="favorites_retrieved">
        <ng-container *ngFor="let item of list_of_users; let i = index">
            <div class="ranked-thumbnail-container" [@enterAnimation]>
                <app-thumbnail-user 
                    [item]=item
                    [rank]="i+1"
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-user> 
            </div>
        </ng-container>
    </ng-container>
</div>
