<div class="trendings-global-container">

    
    <div class="favorites-container">
        <span>
            Bienvenue dans la section Coups de cœur !
            <br>
            <br>
            Vous trouverez ici la liste des meilleurs nouveaux artistes du jour. Chaque lundi une rémunération est attribuée aux 15 premiers artistes de ce classement.
            <br>
            <br>
            Si vous êtes un artiste et que vous avez créé un compte il y a moins de 6 mois alors vous pouvez faire partie de ce classement !
        </span>
    </div>

    <ng-container *ngIf="!favorites_retrieved">
        <ng-container *ngFor="let item of skeleton_array; let i = index">
            <div class="ranked-thumbnail-container" [@enterAnimation]>
                <app-thumbnail-user 
                    [skeleton]="skeleton"
                ></app-thumbnail-user> 
            </div>
        </ng-container>
    </ng-container>

   
    
    <ng-container *ngIf="favorites_retrieved">
        <ng-container *ngFor="let item of list_of_users; let i = index">
            <div class="ranked-thumbnail-container" [@enterAnimation]>
                <app-thumbnail-user 
                    [item]=item
                    [rank]="i+1"
                    now_in_seconds={{now_in_seconds}}
                ></app-thumbnail-user> 
            </div>
        </ng-container>
    </ng-container>
</div>


<app-footer></app-footer>