    
<div class="artbook-upload-container add-artwork-swiper-styles">                


    <!--burst_mode
filter
view_carousel
view_module
-->
    
    <div #swiperController class="swiper-container-thumbnails">
        <div class="swiper-wrapper">


            <div class="swiper-slide" *ngFor="let item of componentRef; let i = index" 
            (click)="setSwiperSlide(i+1);setSwiperThumbnailsSlide(i+1);"
            [ngClass]="{ 'selected' : swiper.activeIndex == i }">

                <div class="slide">
                    <div class="page-number">
                        Page {{ item.instance.page + 1 }}
                    </div>

                    <div class="img-container">
                        <ng-container *ngIf="!item.instance.uploader.queue[0]">
                            <mat-icon >error</mat-icon>
                            <span>
                                Aucune image téléchargée
                            </span>
                        </ng-container>
                        <ng-container *ngIf="item.instance.uploader.queue[0]">
                            <img [src]=item.instance.displayContent(item.instance.uploader.queue[0])>
                        </ng-container>
                    </div>

                    <button mat-button class="remove_page_button" (click)="remove_page(i);">
                        <mat-icon>remove_circle_outline</mat-icon>
                        Retirer
                    </button>
                </div>

            </div>

            <div class="swiper-slide add-page">
                <button class="add-page-button" (click)="add_page();">
                    <mat-icon>note_add</mat-icon>
                    <span>Nouvelle page</span>
                </button>
            </div>

        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
    </div>
    
    <div class="options-container">
        
        <div class="pages-controller-container">
            Aller à la page :
            <input type="text" aria-label="" role="navigation" size="5">
            <!--<span>3</span>-->
            <div class="total-pages">
                <span (click)="initialize_swiper();">/ 37</span>
            </div>
        </div>
    </div>
    
    <div #swiperContainer class="swiper-container456">
        <div  class="swiper-wrapper">
            <ng-container #targetUpload></ng-container>
        </div>
    </div>


</div>

<div class="form-container add-artwork-swiper-styles" *ngIf="image_uploaded" style="margin-top:40px;" >
    <div class="form-container-name">
        <span>Édition de la miniature</span>
    </div>
    <div class="form-container-data">
        
        <div class="crop-container">
            <div class="img-container">
                <div class="full-crop">
                    <img #image [src]="imageSource" crossorigin>
                </div>
                <div class="buttons-container" style=" margin-top: 20px;">
                    <button class="validate-button"  *ngIf="imageDestination != ''" [@enterAnimation] (click)="cancel_crop();">
                        <mat-icon  >refresh</mat-icon>
                        <span >Recommencer</span>
                    </button>
                    <button class="validate-button" [ngClass]="{'loading_thumbnail':loading_thumbnail}" *ngIf="imageDestination == ''" [@enterAnimation] (click)="set_crop();">
                        <mat-icon *ngIf="!loading_thumbnail" >crop_free</mat-icon>
                        <span *ngIf="!loading_thumbnail" >Rogner</span>
                        <mat-spinner *ngIf="loading_thumbnail" diameter="25"  style="margin:auto;"></mat-spinner>
                        
                        
                    </button>
                </div>
            </div>

        </div>

        <div class="crop" *ngIf="imageDestination != ''" id="target3">


            <div class="img-preview" >

                <div class="final-thumbnail" (mouseenter) ="showDetails();"  (mouseleave) ="hideDetails();">

                    <img [src]="imageDestination">
                    <div #thumbnail class="display-on-hover" [ngClass]="{'visible':showDrawingDetails}" style="cursor:default;">
                        
                        <div class="artbook-icon">
                            <mat-icon>collections</mat-icon>
                        </div>
                        <!--********************-->
                        <!--Title container-->
                        <!--********************-->
                        <div class="title-container">
                            <span class="title">{{name}}</span>
                        </div>
                        <!--********************-->
                        <!--Author container-->
                        <!--********************-->
                        <div class="author-container">
                            <div class="left-container">
                                <img [src]="profile_picture">
                            </div>
                            <div class="right-container">
                                <span class="author-name">{{author_name}}</span>
                                <span class="author-description" *ngIf="pseudo!=null">@{{pseudo}}</span>
                            </div>
                        </div>
                        <!--********************-->
                        <!--Data container-->
                        <!--********************-->
                        <div class="stats-container">
                            <div class="figure-container views">
                                <div>
                                    <mat-icon>visibility</mat-icon>
                                    <span>&nbsp;</span>
                                </div>
                            </div>
                            <div class="figure-container likes">
                                <div>
                                    <mat-icon>thumb_up</mat-icon>
                                    <span>&nbsp;</span>
                                </div>
                            </div>
                            <div class="figure-container loves">
                                <div>
                                    <mat-icon>favorite</mat-icon>
                                    <span>&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        
                       
                        <!--********************-->
                        <!--Date container-->
                        <!--********************-->
                        <div class="date-container">
                            <span>Date de publication</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    

</div>


<button #validateButton mat-raised-button *ngIf="imageDestination != ''" class="submit-button-with-done-all style1" (click)="validateAll();">
    <ng-container *ngIf="!display_loading">
        <mat-icon>done_all</mat-icon>
        <span>Valider </span>
    </ng-container>
    <ng-container *ngIf="display_loading">
        <mat-spinner diameter="25" style="margin:auto;"></mat-spinner>
    </ng-container>
</button>