<div class="uplaoder-container">
    <div class="button-container" >
        <label>
            <div class="select-button">
                <span>Sélectionner jusqu'à 5 fichiers complémentaires</span>
            </div>
            <input (click)="onFileClick($event)"  type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
        </label>
        
    </div>


    <tr class="name-container" >
        <td *ngFor="let item of uploader.queue; let i=index">
            <span *ngIf="!list_of_contents_type[i]">{{ uploader.queue[i]?.file?.name }} et {{ item?.file?.size/1024/1024 | number:'.2' }} MB</span>
            
            <span *ngIf="list_of_contents_type[i]"><img [src]="list_of_pictures[i]" style="max-width:140px;max-height:140px;"></span>
    

            <div>

                <!--<button mat-raised-button class="button style1"
                    (click)="uploader.queue[i].upload();" [disabled]="uploader.queue[i].isReady || uploader.queue[i].isUploading || uploader.queue[i].isSuccess">
                    <span>Valider</span> 
                </button>-->

                <button mat-raised-button class="button style0"
                    (click)="remove_beforeupload(uploader.queue[i],i);">
                    <span class="">Supprimer</span> 
                </button>
            </div>
        </td>
        

    </tr>
</div>
