


<div class="button-container">
    <label>

        <span class="uploader-absolute-number">{{uploader.queue.length}}/5</span>

        <div class="select-button">
            
            <mat-icon [ngClass]="{'invisible': !show_icon }">attachment</mat-icon>
            <span>Ajouter une pièce jointe</span>

            <input (click)="onFileClick($event)" type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
        </div>
    </label>
</div>







<div class="attachments">
    <div *ngFor="let item of uploader.queue; let i=index" class="attachment-container">
        

        <ng-container *ngIf="list_of_contents_type[i]">
            <button mat-icon-button (click)="remove_beforeupload(uploader.queue[i],i);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
            </button>
            <div class="attachment-picture">
                <img [src]="list_of_pictures[i]">
            </div>
            
        </ng-container>

        <ng-container *ngIf="!list_of_contents_type[i]">
            <button mat-icon-button (click)="remove_beforeupload(uploader.queue[i],i);">
                <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
            </button>
            <div class="attachment-picture">
                <mat-icon [ngClass]="{'invisible': !show_icon }">insert_drive_file</mat-icon>
            </div>
        </ng-container>

        <span><i>{{ uploader.queue[i]?.file?.name }}</i></span>

      

    </div>
</div>

