
@import '../../material-styles.css';


@media (max-width: 768px) {
    [role="main"] {
    }
  }  

  @media (min-width: 1700px) {
    [role="main"] {
    }
  }

  [role="main2"] {
      margin-left:auto;
      margin-right:auto;
  }

  .container-fluid {
      padding-left:0;
      padding-right:0;
  }


  *{
    font-size: 1.20rem;
  }
  
  a {
    display:block;
    font-size:17px;
    color:rgb(50, 49, 124);
    font-weight: bold;
  }

  .account-container {
    position:relative;
    display:flex;
    width:100%;
    height:70vh;
    min-height:400px;
    max-height:600px;
  }

  .account-container img {
    width:100%;
    height:100%;
    object-fit: cover;
  }
  

  .account-container .profile {
    position: absolute;
    display: flex;
    padding: 15px 20px;
    background: rgba(32, 56, 100, 0.8);
    border-radius: 85px 85px 85px 85px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }




  .account-container .change-cover-picture {
    position:absolute;
    color:black;
    cursor:pointer;
    bottom:20px;
    right:20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    opacity:0;
    border-radius: 30px;
    transition:opacity 200ms;
    background:rgba(32, 56, 100, 0.9);
  }

  ::ng-deep .change-cover-picture .mat-button-wrapper {
    flex-direction: column !important;
  }
  

  .account-container:hover .change-cover-picture {
    opacity:1;
    transition:opacity 200ms;
  }

  .account-container .profile .profile-picture {
    position:relative;
    height:150px;
    width:150px;
    margin:auto auto auto auto;
    border-radius: 50%;
    overflow:hidden;
    box-shadow:0px 0px 2px 2px rgb(32,56,100);
    border:1px solid rgb(24, 46, 90);
  }
  
  .account-container .profile .profile-picture .mat-icon {
    margin:5px auto 0px auto;
    font-size: 24px;
  }


  .account-container .profile .profile-picture:hover .change-profile-picture,
  .account-container .profile .profile-picture:hover .change-story-picture {
    opacity:1;
    transition: opacity 400ms;
  }




  .account-container .profile .profile-picture img {
    width:100%;
    height:100%;
    object-fit: cover;
  }

  .account-container .profile .profile-picture:hover {
    opacity:1;
    cursor:pointer;
  }

  .account-container .profile .visiteur.profile-picture:hover {
    opacity:1;
    cursor:default !important;
  }


  .account-container .profile:hover .change-profile-info {
    opacity:1;
  }
  
  
  .account-container .change-cover-picture .cover-picture-icon {
    cursor:pointer;
    height: 20px;
    margin:auto auto 5px auto;
    width: 20px;
    background-color: black;
    -webkit-mask:  url("../../assets/img/svg/camera.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/camera.svg") no-repeat 50% 50%;
  }

  .account-container .change-cover-picture span {
    cursor:pointer;
    margin:0px auto auto auto;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
  }

  .account-container .profile .profile-picture .change-profile-picture {
    position:absolute;
    box-shadow:none !important;
    border-bottom: 1px solid #9ca3b3;
    border-radius: 0px;
    top:0px;
    opacity:0;
    height:50%;
    left:0px;
    right:0px;
    width:100%;
    padding: 0px !important;
    background:rgba(255, 255, 255, 0.8) !important;
  }
  
  .account-container .profile .profile-picture .change-story-picture {
    position:absolute;
    box-shadow:none !important;
    border-radius: 0px;
    bottom:0px;
    opacity:0;
    height:50%;
    left:0px;
    right:0px;
    width:100%;
    padding: 0px !important;
    background:rgba(255, 255, 255, 0.8) !important;
  }


  ::ng-deep .change-profile-picture .mat-button-wrapper,
  ::ng-deep .change-story-picture .mat-button-wrapper {
    width:100%;
    height:100%;
    flex-direction: column;
  }

  .account-container .profile .profile-picture .change-profile-picture span,
  .account-container .profile .profile-picture .change-story-picture span {
    margin: 0px auto auto auto;
    font-size: 13px;
    color:black;
    text-align: center;
    width: 80%;
    white-space: break-spaces;
    line-height: 17px;
  }

  .account-container .profile .profile-picture .change-profile-picture .picture-icon,
  .account-container .profile .profile-picture .change-story-picture .picture-icon {    
    height: 20px;
    margin: auto auto 0px auto;
    width: 20px;
    background-color: rgb(0, 0, 0);
    -webkit-mask:  url("../../assets/img/svg/camera.svg") no-repeat 50% 50%;
    mask: url("../../assets/img/svg/camera.svg") no-repeat 50% 50%;
  }
  
  .account-container .profile .profile-information {
    height: fit-content;
    margin: auto 20px auto 20px;
    min-width: 200px;
    max-width: 300px;
  }

  .account-container .profile .profile-information .profile-name {
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    line-height:25px;
    display:flex;
    align-items:center;
  }
  .account-container .profile .profile-information > div {
    color:white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor:default;
  }

  .account-container .profile-information .profile-name span {
    font-size:25px;
    font-weight: bold;
  }

  .account-container .profile-information .profile-description {
    margin-bottom:5px;
  }
  
  .account-container .profile-information .profile-description span {
    font-size:15px;
  }

  .account-container .profile-information .profile-text {
    display:flex;
  }

  .account-container .profile-information .profile-text span {
    font-size: 15px;
    line-height: 25px;
  }

  .account-container .profile .profile-information .icon {
    color:#091834;
    margin:auto 2px auto 0px;
    width:20px;
    height:20px;
  }
  

  
.account-container .profile .change-profile-info {
  position:absolute;
  cursor:pointer;
  bottom:5px;
  right: 75px;
  padding: 3px 10px;
  display:flex;
  opacity:0;
  border-radius: 30px;
  transition:opacity 200ms;
  background:rgb(230,230,230,0.5);
}


.account-container .change-profile-info span {
  cursor:pointer;
  margin:0px auto auto auto;
  font-size: 0.9rem;
  color:black;
  text-align: center;
  line-height: 20px;
}
  
  
.account-container .change-profile-info .change-profile-icon {
  cursor:pointer;
  height: 12px;
  margin: auto auto auto 5px;
  width: 12px;
  background-color: black;
  -webkit-mask:  url("../../assets/img/svg/edit.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/edit.svg") no-repeat 50% 50%;
}



.account-container .profile .visitor-buttons-container {
  display:flex;
  margin-top:10px;
}

.account-container .profile .visitor-button {
  padding: 0px 10px;
  margin:3px 5px 3px 5px;
  display:flex;
  border-radius:4px;
  transition:opacity 200ms;
  background:rgb(230,230,230,0.5);
}
.account-container .profile .visitor-button * {
  font-size: 15px;
}  

.account-container .profile .visitor-buttons-container .message-icon {
  cursor:pointer;
  height: 15px;
  margin: auto 5px auto auto;
  width: 20px;
  background-color: #203864;
  -webkit-mask:  url("../../assets/img/svg/message.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/message.svg") no-repeat 50% 50%;
}

.account-container .profile .visitor-buttons-container .subscribe-icon {
  cursor:pointer;
  height: 15px;
  margin: auto 5px auto auto;
  width: 20px;
  background-color: rgb(255, 255, 255);
  -webkit-mask:  url("../../assets/img/svg/subscribe.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/subscribe.svg") no-repeat 50% 50%;
}

// Panel controller

  .panel-controller {
    /* border-bottom: 1px solid #dadada; 
    background-color: #f1f9fe;*/
    background: #f9f9f9;
    padding: 5px;
    width: 100%;
    border-top: 4px solid #203864;
    border-bottom: 4px solid #203864;
  }

  .panel-controller .middle-container {
    overflow-x: auto;
    display: -webkit-box;
    -webkit-box-pack: center;
    margin-top: 10px;
    margin-bottom: 10px;
    //height:100%;
    width: 85%;
    margin: auto auto;
  }

  .panel-controller .middle-container .controller-category {
    color:#192c50;
    display: flex;
    height: 100%;
    padding-top:5px;
    padding-bottom:5px;
    font-size:16px;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: none;
    flex-direction: column;
    cursor:pointer;
  }

  .panel-controller .middle-container > .opened {
    border-radius: 30px !important;
    background-color:rgb(32,56,100) !important;
    color:white !important;
    text-shadow:none !important;
    text-shadow: -0.02ex 0 rgb(255, 255, 255), 0.02ex 0 rgb(255, 255, 255);
  }

  .panel-controller .middle-container > .controller-category:hover {
    transition:color 200ms;
    transition:text-shadow 200ms;
    color: rgb(32,56,100);
    text-shadow: -0.01ex 0 rgb(32,56,100), 0.01ex 0 rgb(32,56,100);
  }




::ng-deep .controller-category {
  box-shadow: none !important;
  outline:none !important;
}

::ng-deep .mat-raised-button.controller-category {
  border-radius:30px ;
}

::ng-deep .mat-raised-button.controller-category:not(.opened) .mat-ripple *{
  background-color: rgb(223, 230, 245) ;
}

::ng-deep .mat-raised-button.content-action:not(.opened) .mat-ripple *{
  background-color: rgba(56, 98, 177, 0.3) ;
}

::ng-deep .albums-container .mat-raised-button.content-action .mat-ripple *{
  background-color: rgb(209, 224, 251) ;
}



  //Category filter
.logos-container {
  display:flex;
  justify-content: center;
  height:140px;
  margin-top:60px;
  margin-bottom:60px;
  width:100%;
}

.logos-container .logo {
  cursor:pointer;
  display:flex;
  flex-direction: column;
  border-radius: 25px;
  height:100%;
  padding-top: 20px;
  width: 200px;
  margin-left: 15px;
  margin-right: 15px;
  transition: all 200ms;
}


.logos-container .logo:hover span {
  font-weight: bold;
  color:rgb(32,56,100) !important;
  transition: all 200ms;
}

.logos-container .logo:hover .image1,
.logos-container .logo:hover .image2,
.logos-container .logo:hover .image3 {
  background:rgb(32, 56, 100);
  transition:all 500ms;
}

.logos-container .logo.opened span {
  font-weight: bold;
  color:rgb(32,56,100) !important;
  transition: all 200ms;
}


.logos-container .logo.opened .image1,
.logos-container .logo.opened .image2,
.logos-container .logo.opened .image3
{
  background:rgb(32, 56, 100);
  transition: all 200ms;
}

.logos-container .logo .image1 {
  height:calc( 100% - 50px );
  width:100%;
  background:rgb(137, 137, 137);
  -webkit-mask:  url("../../assets/img/svg/comic.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/comic.svg") no-repeat 50% 50%;
}

.logos-container .logo .image2 {
  height:calc( 100% - 50px );
  width:100%;
  background:rgb(137, 137, 137);
  -webkit-mask:  url("../../assets/img/svg/drawing.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/drawing.svg") no-repeat 50% 50%;
}

.logos-container .logo .image3 {
  height:calc( 100% - 50px );
  width:100%;
  background:rgb(137, 137, 137);
  -webkit-mask:  url("../../assets/img/svg/writing.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/writing.svg") no-repeat 50% 50%;
}

.logos-container .logo span {
  display: flex;
  width:100%;
  height: 50px;
  color:rgb(60, 60, 60);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.artworks-container {
  height:1000px;
}


  .background-bd {
    background-image:url('../../assets/bd3.jpg');
    background-position: left;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition:opacity 200ms;
  }
  .background-drawing {
    background-image:url('../../assets/drawing3.jpg');
    background-position: top;
    background-size: cover;
    background-position: left;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition:opacity 200ms;
  }
  .background-writing {
    background-image:url('../../assets/writing3.jpg');
    background-position: top;
    background-size: cover;
    background-position: left;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition:opacity 200ms;
  }

  .opened .background-bd, .opened .background-drawing, .opened .background-writing {
    opacity:0.35;
  }
  

  

  .categories-container .divider-vertical {
    display: inline-block;
    border-left: 1px solid rgb(93,93,93);
    margin: auto 10px;
    height: 25px;
  }

  
  
  //Albums filter
  .albums-container {
    padding-top:20px;
    padding-bottom:20px;
    margin-top: 20px;
    position:relative;
    text-align:center;
    font-size:1.2rem;
  }
  
  .albums-filter {    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    /* overflow-x: auto; */
    //height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    /* -webkit-box-pack: center; */
    /* border-radius: 10px 10px 0px 0px; */
    /* transition: opacity 500ms; */
  }


  .albums-container .add-album {

    outline:none !important;
    width: 270px !important;
    box-shadow: none !important;
    padding: 10px 45px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    text-align: center;
    background: rgb(209, 224, 251);
    color: rgb(32, 56, 100);
    margin:auto 10px auto 10px;
    border-radius: 50px;
    transition:text-shadow 200ms;
    
  }

  .albums-container .add-album:hover {
    
  }

  .albums-container .add-album span {
    margin:auto auto;
  }
  

  .albums-container .content-action {
     cursor:pointer;    
     outline:none !important;
     box-shadow: none !important;
     font-weight: bold;
     background: rgb(234, 234, 234);
     color: rgb(124, 124, 124);
     padding: 9px 45px;
     border-radius: 50px;
     padding: 10px 45px;
     margin: auto 10px auto 10px;
     transition:all 200ms;
  }
  
  .albums-container .content-action:hover {
    color:rgb(50,50,50);
  }

  .albums-container .opened {
    color:rgb(50,50,50);
    background: rgb(209, 224, 251);
  }

  .albums-container .divider-vertical {
    display: inline-block;
    border-left: 1px solid rgb(93,93,93);
    margin: auto 10px;
    height: 25px;
  }


  .bd-container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }

  
  .bd-container .name-container {
    font-weight: bold;
    margin:30px auto 0px 0px;
  }

  
  .bd-container .bd-thumbnails-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }

  .writing-container .writing-thumbnails-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }

  .writing-container {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }

  .writing-container .name-container {
    font-weight: bold;
    margin:30px auto 0px 0px;
  }
  
  .writing-container .writing-thumbnails-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }


  .title {
    cursor:default;
    display:flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    text-align: center;
    justify-content: center;
  }
  .title span {
    color:#192c50;
    font-size:25px;
    font-weight: bold;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 7px;
  }
  
  .title:before, .title:after {
    content: "";
    flex: 1 1;
    //border-bottom: 3px solid #192c50;
    margin: auto;
}

.highlighted_artwork {
  text-align: center;
  width: fit-content;
  margin-left:auto;
  margin-right:auto;
  margin-top:25px;
  margin-bottom: 40px;
  line-height: 20px;
}
.highlighted_artwork span {
  font-size:17px;
}



.optionsMenu {
  z-index:20;
  color:grey;
  position:absolute;
  top: 11px;
  right: 16px;
  font-size: 30px;
  margin-left: auto;
  outline:none !important;
}

::ng-deep .optionsMenu.mat-icon-button {
  width:36px !important;
  height:36px !important;
  line-height: 30px !important;
}
::ng-deep .optionsMenu .mat-button-wrapper {
  display:flex !important;
}

::ng-deep .optionsMenu .optionsButton {
  margin:auto auto !important;
  font-size:24px !important;
  width: unset !important;
  height: unset !important;
}

.mat-menu-item {
  outline:none !important;
  display:flex;
}

.mat-menu-item .item-icon {
  font-size:22px !important;
  color:rgb(32,56,100) !important;
  margin:auto 10px auto 5px;
  height:unset !important;
  width:unset !important;
}

.mat-menu-item span {
  margin:auto auto auto 0px;
}



.artwork-type-title {
  font-size:22px;
  color:rgb(32,56,100);
  font-weight:bold;
  margin-left:40px;
  margin-top:20px;
  margin-bottom:15px;
}


.invisible {
  visibility:hidden;
}

.really-invisible{
  visibility:hidden !important;
}
  
mat-spinner {
  margin: auto;
}

.loading-page{
  position:relative;
  /*top:50%;
  left:50%;*/
}

   
.see-more {
  display:flex;
  width:100%;
  height:40px;
  border-bottom:4px solid rgb(77, 105, 158);
  text-align:center;
  margin:10px 0px 10px 0px;
  cursor:pointer;
  transition:background-color 200ms;
  }

  .see-more:hover {
    border-bottom:4px solid rgb(56, 81, 129);
    background-color:rgb(235, 235, 235);
  }

  .see-more .icon {
  width:25px;
  height:25px;
  margin:auto auto;
  mask-image: url("../../assets/img/svg/see-more.svg");
  -webkit-mask-image: url("../../assets/img/svg/see-more.svg");
  background-color: rgb(116, 116, 116);
  }

  .see-more:hover .icon {
  background-color:rgb(56, 81, 129);
  }


.drawing-container {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}




.drawings-container .artwork-type-title {
  margin-bottom:20px !important;
}

.new-artworks {
  width:95%;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-wrap: nowrap;
}

.new-artwork {
  width: fit-content;
}

.container-comics {
  display:flex;
  flex-wrap:wrap;
}
.container-drawings {
  display:flex;
  flex-wrap:wrap;
}
.container-writings {
  display:flex;
  flex-wrap:wrap;
}

::ng-deep .newDrawings .drawing-container {
  height:300px !important;
}


/*
@media (max-width:600px) {
  .new-artwork:nth-of-type(2), .new-artwork:nth-of-type(3),
  .new-artwork:nth-of-type(4), .new-artwork:nth-of-type(5) {
    display:none;
  }
  .new-artwork:nth-of-type(6) {
    display:none;
  }
}
@media (min-width:601px) and  (max-width:1000px) { 
  .new-artwork:nth-of-type(3),
  .new-artwork:nth-of-type(4), .new-artwork:nth-of-type(5) {
    display:none;
  }
  .new-artwork:nth-of-type(6) {
    display:none;
  }
}
@media (min-width:1001px) and  (max-width:1300px) {
  .new-artwork:nth-of-type(4), .new-artwork:nth-of-type(5) {
    display:none;
  }
  .new-artwork:nth-of-type(6) {
    display:none;
  }
}
@media (min-width:1301px) and  (max-width:1700px) {
  .new-artwork:nth-of-type(5) {
    display:none;
  }
  .new-artwork:nth-of-type(6) {
    display:none;
  }
}
@media (min-width:1701px) {
  .new-artwork:nth-of-type(6) {
    display:none;
  }
}*/

::ng-deep .grid {
  margin:0 auto !important;
  //width:100% !important;
}

.grid-item {
  margin-bottom:10px;
  min-width: 100px;
}

.remove{
  display: none!important;
  margin-bottom: 0px !important;
  min-width: 0px !important;
}