.author-container {
    display: flex;
    height: 60px;
}

.author-container .left-container {
    display: flex;
    width: 60px !important;
    height: 65px !important;
    min-width: 60px !important;
    min-height: 65px !important;
}

.author-container .left-container img {
    width: 34px !important;
    height: 34px !important;
    border-radius: 50%;
    margin:auto 10px auto auto;
    box-shadow: 0px 0px 1px 2px #687182;
}

.author-container a {
    text-align: left;
    margin:auto auto auto 0px;
    width:calc( 100% - 70px );
}

.author-container .right-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.author-container .right-container span.author-name {
    font-size: 16px;
    line-height: 18px;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.author-container .right-container span.author-description {
    font-size:15px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


.main-options-container{
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
    height: calc( 100% - 60px );
    position:relative;
    overflow-y: auto;
}

::ng-deep .mat-expansion-panel {
    box-shadow: none !important;
}

::ng-deep .mat-expansion-panel {
    background:unset !important;
}

::ng-deep .mat-action-row {
    position:relative;
    cursor: pointer !important;
    border: unset !important;
    padding: 11px 8px 11px 24px !important;
    height:48px !important;
}

::ng-deep .mat-action-row:hover {
    transition:all 200ms;
    background: rgba(0,0,0,.04);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.04);
}

.mat-action-row .mat-action-icon {
    position: absolute;
    top: 50%;
    display: flex;
    right: 16px;
    transform: translateY(-50%);
}

.mat-action-row .mat-action-icon .mat-icon {
    font-size:22px;
}


.options-container{
    position: relative;
    width: 100%;
    height:100%;
    
}



//material
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.main-right-container {
    height: 100%;
}

.show-more{
    margin: 20px auto 5px auto;
    display: flex;
    justify-content: center;
    width: 98%;
}

::-webkit-scrollbar {
    width: 5px;
    height:5px;
}

::-webkit-scrollbar-track {
    background: #dedede;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #565656;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(8, 8, 8);  
}


#main-options-container {
    background-color: rgba(0,0,0,0);
    -webkit-background-clip: text;
    /* uncomment following line to see the trick in actions */
    /* -webkit-text-fill-color: transparent; */
    transition: background-color 400ms;
}
#main-options-container:hover {
   background-color: rgba(0,0,0,0.18);  
}
#main-options-container::-webkit-scrollbar-track {
    display: none;
}
#main-options-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: inherit;
}

.section-title{
    display: flex;
    height: 60px;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(32,56,100);
}

.invisible{
    visibility:hidden;
}