<div class="main-right-container">

  

    <div class="section-title">
      <span>{{chat_section_to_open}} </span>
    </div>


    
    <div #myScrollContainer class="main-options-container" id="main-options-container">
          
      
          <div class="options-container" >
            <mat-accordion>

              <mat-expansion-panel (opened)="panelOpenState_0 = true"
                                  (closed)="panelOpenState_0 = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fichiers partagés
                  </mat-panel-title>
                  <mat-panel-description [ngClass]="{'invisible':!list_of_files_retrieved && !list_of_pictures_retrieved}">
                    {{total_size_of_files[0] | number:'.2' }} MB 
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="!list_of_files_retrieved ">
                  <div class="show-more" >
                    <mat-spinner diameter="20" ></mat-spinner>
                  </div>
                </div>
                <mat-list *ngIf="list_of_files_retrieved" >
                  <mat-list-item *ngFor="let file of list_of_files,let i=index">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" mat-list-icon>folder</mat-icon>
                    <div mat-line>
                      <a [href]="list_of_files_src[i]" download="{{file.attachment_name}}">{{file.attachment_name}}</a>
                    </div>
                    <div mat-line> {{file.createdAt | date}}</div>
                    <div mat-line>{{file.size | number:'.2' }} MB</div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
                <div class="show-more" *ngIf="show_scroll_files">
                  <mat-spinner diameter="20" ></mat-spinner>
                </div>
                
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState_1 = true"
                                  (closed)="panelOpenState_1 = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Images partagées
                  </mat-panel-title>
                  <mat-panel-description [ngClass]="{'invisible':!list_of_files_retrieved && !list_of_pictures_retrieved}">
                    {{total_size_of_pictures[0] | number:'.2' }} MB 
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="!list_of_pictures_retrieved">
                  <div class="show-more" >
                    <mat-spinner diameter="20" ></mat-spinner>
                  </div>
                </div>
                <mat-list *ngIf="list_of_pictures_retrieved">
                  <mat-list-item *ngFor="let file of list_of_pictures,let i=index">
                    <img [src]="list_of_pictures_src[i]" style="max-width:80px;max-height:80px;" (load)=image_loaded(i) [ngClass]="{'invisible':!list_of_images_loaded[i]}" >
                    <div mat-line>
                      <a [href]="list_of_pictures_src[i]" download="{{file.attachment_name}}">{{file.attachment_name}}</a>
                    </div>
                    <div mat-line> {{file.createdAt | date}}</div>
                    <div mat-line>{{file.size | number:'.2' }} MB</div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>




            </mat-accordion>
        </div>
      
    </div>
        
    
</div>




