<div class="home-linkcollab">

    <div class="categories-container">

        <div class="select-container">
            <mat-form-field floatLabel='never' [ngClass]="{'opened': homeLinkcollabSelect && homeLinkcollabSelect.panelOpen }">

                <mat-select #homeLinkcollabSelect panelClass="homeLinkcollabSelect" ng-animate-disabled
                [(value)]="category_index" disableOptionCentering
                (selectionChange)="sectionChange2($event)">
                    
                    <mat-select-trigger>
                        <ng-container *ngIf="category_index==0">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">mail</mat-icon>
                            <span>Dépôts de projets</span>
                        </ng-container>
                        <ng-container *ngIf="category_index==1">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">extension</mat-icon>
                            <span>Collaborations bénévoles</span>
                        </ng-container>
                        <ng-container *ngIf="category_index==2">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">work</mat-icon>
                            <span>Collaborations rémunérées</span>
                        </ng-container>
                        
                        <div class="arrow-container" [ngClass]="{'opened': homeLinkcollabSelect && homeLinkcollabSelect.panelOpen }">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">arrow_back_ios_new</mat-icon>
                        </div>
                    </mat-select-trigger>

                    


                    <mat-option [value]="0">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">mail</mat-icon>
                        <span>Dépôts de projets</span>
                    </mat-option>
                    <mat-option [value]="1">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">extension</mat-icon>
                        <span>Collaborations bénévoles</span>
                    </mat-option>
                    <mat-option [value]="2">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">work</mat-icon>
                        <span>Collaborations rémunérées</span>
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>

        <div class="swiper-container">
            <div  #swiperCategories  class="swiper-item" >
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="category" (click)="open_category(0, true);" [ngClass]="{'opened': category_index==0 }"
                        >
                            <mat-icon [ngClass]="{'invisible': !show_icon }">mail</mat-icon>
                            <span>Dépôts de projets</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category" (click)="open_category(1, true);" [ngClass]="{'opened': category_index==1 }"
                        >
                            <mat-icon [ngClass]="{'invisible': !show_icon }">extension</mat-icon>
                            <span>Collaborations bénévoles</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="category" (click)="open_category(2, true);" [ngClass]="{'opened': category_index==2 }"
                        >
                            <mat-icon [ngClass]="{'invisible': !show_icon }">work</mat-icon>
                            <span>Collaborations rémunérées</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="button-prev-shadow" *ngIf="swiper" [ngClass]="{'invisible': swiper.isBeginning }"></div>
            <div class="button-next-shadow" *ngIf="swiper" [ngClass]="{'invisible': swiper.isEnd }"></div>
            <div class="swiper-button-prev first" [ngClass]="{'invisible': swiper && swiper.isBeginning && swiper.isEnd }"></div>
            <div class="swiper-button-next first" [ngClass]="{'invisible': swiper && swiper.isBeginning && swiper.isEnd }"></div>
        </div>

    </div>
</div>


<div class="page">

    <div class="slogan">
        <span>La collaboration éditoriale pour tous</span>
    </div>
    
    <div class="component-container">

        <div class="section-0" *ngIf="category_index==1 || category_index==2">

            <div class="large-text" *ngIf="category_index==1">
                <span >Dénichez le collaborateur idéal pour vos projets éditoriaux !</span>
                
                <div class="see-more-button">
                    ?
                    <div class="information" >
                        <div class="first-text">
                            <span> <img  src='../../assets/img/tuto-logos/tuto-benevole.svg'> Vous souhaitez réaliser un projet éditorial, mais il vous manque un collaborateur ? Alors c’est ici que vous trouverez le partenaire idéal pour vos projets ne nécessitant ni contrat ni rémunération ! 
                            </span>
                        </div>
                        
                        <div class="second-text">
                            <span> <img src='../../assets/img/tuto-logos/light.svg'>Une messagerie, disposant de nombreux outils pratiques est mise à votre disposition afin de vous permettre de travailler avec votre collaborateur. Sachez par ailleurs, que tout fichier échangé au sein de notre messagerie peut vous protéger contre le plagiat.
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="large-text"  *ngIf="category_index==2">
                <span>Dénichez le service artistique ou éditorial qui vous convient le mieux !</span>
                <div class="see-more-button">
                    ?
                    <div class="information" >
                        <div class="first-text">
                            
                            <span><img src='../../assets/img/tuto-logos/tuto-remunere.svg'>Vous recherchez un artiste pour effectuer une tâche en particulier ? Alors c'est ici que vous trouverez les artistes cherchant à faire valoir leur savoir et leur savoir-faire, en échange d'une rémunération.
                            </span>
                        </div>
                        
                        <div class="second-text">
                            <span><img src='../../assets/img/tuto-logos/light.svg'> Une messagerie, disposant de nombreux outils pratiques est mise à votre disposition afin de faciliter les échanges avec votre interlocuteur. Une plateforme de paiement sera bientôt mise à votre disposition afin de vous faciliter et de vous sécuriser les transactions. 
                            </span>
                            
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="small-text">
                <span *ngIf="category_index==1">Trouvez le partenaire qui vous convient en répondant aux annonces ou en publiant les vôtres</span>
                <span *ngIf="category_index==2">Trouvez le service qui vous convient en répondant aux annonces ou en publiant les vôtres</span>
           </div>
            
            <div class="home-linkcollab-selects" [formGroup]="f1" *ngIf="f1">

                <div class="filter-button small-screen-1" (click)="open_more_filters()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">sort</mat-icon>
                    <span>Filtres</span>
                </div>

                <div class="swiper-container large-screen-1">
                    <div #swiperCategories2 class="swiper-item">
                        <div class="swiper-wrapper">
                                    

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '175px'}" *ngIf="innerWidth>=400">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Objet de l'annonce</mat-label>
                                    <mat-select #matSelect1 (selectionChange)="change_select1($event)" formControlName="type_of_project" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <ng-container *ngFor="let obj of ads_types, let i = index">
                                            <mat-option *ngIf="!( i==0 && type_of_project=='none' )" [value]="obj">
                                                {{ obj }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '230px'}" *ngIf="innerWidth>=450">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Auteur</mat-label>
                                    <mat-select #matSelect2 (selectionChange)="change_select2($event)" formControlName="author" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <ng-container *ngFor="let obj of ads_descriptions, let i = index">
                                            <mat-option *ngIf="!( i==0 && author=='none' )" [value]="obj">
                                                {{ obj }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '230px'}" *ngIf="innerWidth>=500">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Cible</mat-label>
                                    <mat-select #matSelect3 (selectionChange)="change_select3($event)" formControlName="target" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <ng-container *ngFor="let obj of ads_targets, let i = index">
                                            <mat-option *ngIf="!( i==0 && target=='none' )" [value]="obj">
                                                {{ obj }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '200px'}" *ngIf="innerWidth>=700">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Catégorie de l'annonce</mat-label>
                                    <mat-select #matSelect4 (selectionChange)="change_select4($event)" formControlName="type_of_service" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <ng-container *ngFor="let obj of ads_services_types, let i = index">
                                            <mat-option *ngIf="!( i==0 && type_of_service=='none' )" [value]="obj">
                                                {{ obj }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '160px'}" [ngClass]="{'really-invisible':!service}" *ngIf="innerWidth>=1000">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Type d'annonce</mat-label>
                                    <mat-select #matSelect5 (selectionChange)="change_select5($event)" formControlName="offer_or_demand" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <mat-option *ngIf="!( offer_or_demand=='none' )" value="Tout">
                                            Tout
                                        </mat-option>
                                        <mat-option value="Offre">
                                            Offre
                                        </mat-option>
                                        <mat-option value="Demande">
                                            Demande
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '190px'}" *ngIf="innerWidth>=1000" [ngClass]="{'really-invisible': !remuneration}">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Type de rémunération</mat-label>
                                    <mat-select #matSelect6 (selectionChange)="change_select6($event)" formControlName="type_of_remuneration" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <ng-container *ngFor="let obj of ads_remuneration_types, let i = index">
                                            <mat-option [value]="obj">
                                                {{ obj }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '220px'}" [ngClass]="{'really-invisible':!remuneration && !service}" *ngIf="innerWidth>=1000">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Tri par pertinence</mat-label>
                                    <mat-select #matSelect7 (selectionChange)="change_select7($event)" formControlName="sorting" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <mat-option value="Tri par pertinence">
                                            Tri par pertinence
                                        </mat-option>
                                        <mat-option value="Tri par le plus récent">
                                            Tri par le plus récent
                                        </mat-option>
                                        <mat-option value="Tri par le plus ancien">
                                            Tri par le plus ancien
                                        </mat-option>
                                        <mat-option value="Tri par montant croissant">
                                            Tri par montant croissant
                                        </mat-option>
                                        <mat-option value="Tri par montant décroissant">
                                            Tri par montant décroissant
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="form-item swiper-slide" [ngStyle]="{'width' : '165px'}" [ngClass]="{'really-invisible':remuneration || service}" *ngIf="innerWidth>=1000">
                                <mat-form-field floatLabel='never' class="select-class">
                                    <mat-label>Tri par pertinence</mat-label>
                                    <mat-select #matSelect8 (selectionChange)="change_select8($event)" formControlName="sorting" disableOptionCentering panelClass="homelinkcollabSelectClass">
                                        <mat-option value="Tri par pertinence">
                                            Tri par pertinence
                                        </mat-option>
                                        <mat-option value="Tri par le plus récent">
                                            Tri par le plus récent
                                        </mat-option>
                                        <mat-option value="Tri par le plus ancien">
                                            Tri par le plus ancien
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>


                        </div>
                    </div>
                    <div class="button-prev-shadow" *ngIf="swiper2" [ngClass]="{'invisible': swiper2.isBeginning }"></div>
                    <div class="button-next-shadow" *ngIf="swiper2" [ngClass]="{'invisible': swiper2.isEnd }"></div>
                    <div class="swiper-button-prev second" [ngClass]="{'invisible': swiper2 && swiper2.isBeginning && swiper2.isEnd }"></div>
                    <div class="swiper-button-next second" [ngClass]="{'invisible': swiper2 && swiper2.isBeginning && swiper2.isEnd }"></div>
                </div>



            </div>



            <div *ngIf="loading_ads && !list_of_ads_received" class="thumbnails-container">
                <div class="loading_height_5">
                    <div class="thumbnail" *ngFor="let item of skeleton_array; let i = index">
                        <app-thumbnail-artwork 
                        [skeleton]="skeleton"
                        ></app-thumbnail-artwork>
                    </div>
                </div>
            </div>

            <div class="no-proposition-container" *ngIf="!list_of_ads.length && list_of_ads_received && display_no_propositions">
                <mat-icon [ngClass]="{'invisible': !show_icon }" [@enterFromTopAnimation]>find_in_page</mat-icon>
                <span [@enterFromTopAnimation]>Aucun résultat pour la recherche demandée</span>
            </div>

            <div *ngIf="list_of_ads_received" class="thumbnails-container ">
                <ng-container *ngIf="show_propositions">
                    <div [ngClass]="{'loading_height_5':(number_of_pages>current_page || ( current_page==number_of_pages && number_of_results%5==0)),'loading_height_4':(current_page==number_of_pages && number_of_results%5==4),'loading_height_3':(current_page==number_of_pages && number_of_results%5==3),'loading_height_2':(current_page==number_of_pages && number_of_results%5==2),'loading_height_1':(current_page==number_of_pages && number_of_results%5==1)}">
                        <ng-container *ngFor="let item of list_of_ads;let i=index">
                            
                            <div class="thumbnail " >
                                <app-thumbnail-ad
                                now_in_seconds={{now_in_seconds}}
                                [item]=list_of_ads[i]>
                                </app-thumbnail-ad>
                            </div>
                        </ng-container>
                    </div>
                    
                    <div class="paginator" *ngIf="!display_no_propositions && number_of_pages > 1">
                        <div  class=" button-all button-first-page" (click)="first_page();scroll(target);" [ngClass]="{'disabled': current_page==1 }" #target>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">first_page</mat-icon>
                        </div>
                        <div class="button-all button-previous-page" (click)="previous_page();scroll(target);" [ngClass]="{'disabled': current_page==1 }" #target>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">navigate_before</mat-icon>
                        </div>

                        <input type="text" class="input-page" aria-label="" role="navigation" size="5" (keydown.enter)="page_clicked($event)" [placeholder]=current_page #input>
                        <span class="total-pages"> / {{number_of_pages}}</span>
                        
                        <div class="button-all button-next-page" (click)="next_page();scroll(target);" [ngClass]="{'disabled': current_page==number_of_pages }" #target>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">navigate_next</mat-icon>
                        </div>
                        <div class="button-all button-last-page" (click)="last_page();scroll(target);" [ngClass]="{'disabled': current_page==number_of_pages }" #target>
                            <mat-icon [ngClass]="{'invisible': !show_icon }">last_page</mat-icon>
                        </div>
                    </div>

                </ng-container>
            </div>

        </div>
        



        <div  class="section-0" *ngIf="category_index==0">

            <div class="large-text">
                <span>La maison d’édition de vos rêves se trouve ici !</span>
                <div class="see-more-button">
                    ?
                    <div class="information" >
                        <div class="first-text">
                           
                            <span> <img src='../../assets/img/tuto-logos/tuto-projects.svg'>Notre objectif est de mobiliser les maisons d’édition pour vous faire des retours constructifs, en des temps impartis, même si votre projet n'est pas retenu.
                            </span>
                        </div>
                        
                        <div class="second-text">
                            <span> <img src='../../assets/img/tuto-logos/light.svg'>Si votre projet est retenu, Linkarts met à votre disposition une plateforme de discussion. Celle-ci est entièrement adaptée à la collaboration. Vous pourrez ainsi efficacement y travailler sur vos projets et signer vos contrats.
                           
                            </span>
                           
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="small-text" >
                <span>Aujourd'hui, LinkArts accompagne les artistes dans leur travail de <b>prospection de maisons d'édition</b>.<br> Demain, la plateforme permettra aux artistes et aux éditeurs de faire <b>bien plus encore !</b></span>
                
            </div>
            
            
            <div class="filters home-linkcollab-selects">

                <div class="filter-button small-screen-1" (click)="open_filters_editor()">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">sort</mat-icon>
                    <span>Filtres</span>
                </div>
                
                <div class="form-item swiper-slide large-screen-1" [ngStyle]="{'width' : '180px', 'margin-left' : '4px'}">
                    <mat-form-field floatLabel='never' class="select-class">
                        <mat-label>Catégorie du projet</mat-label>
                        <mat-select #matSelectSection0 (selectionChange)="change_select_section0($event)" disableOptionCentering panelClass="homelinkcollabSelectClass">
                            <ng-container *ngFor="let obj of section0_categories, let i = index">
                                <mat-option *ngIf="!( i==0 && category=='none' )" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="form-item swiper-slide large-screen-1" [ngStyle]="{'width' : '180px', 'margin-right' : 'auto', 'margin-left':'10px'}">
                    <mat-form-field floatLabel='never' class="select-class">
                        <mat-label>Rechercher</mat-label>
                        <input matInput maxLength="100" autocomplete="off" [(ngModel)]="searchText" (input)="set_thumbnails_width()">

                        <div class="length-indicator">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">search</mat-icon>
                        </div>
                    </mat-form-field>
                </div>

                <div class="form-item swiper-slide" [ngStyle]="{'width' : '202px', 'margin-right' : '5px', 'margin-left':'auto'}">
                    <div class="send-container" (click)="submite_project()">
                        <span>Soumettre mon projet</span>
                    </div>
                </div>

                
            </div>

            <div class="filters home-linkcollab-selects" *ngIf="filters_opened" style=" margin-top: 15px !important;"  [@enterFromTop3Animation]>
                <div class="form-item swiper-slide " [ngStyle]="{'width' : '140px', 'margin-left' : '4px'}">
                    <mat-form-field floatLabel='never' class="select-class">
                        <mat-label>Catégorie</mat-label>
                        <mat-select #matSelectSection0 (selectionChange)="change_select_section0($event)" disableOptionCentering panelClass="homelinkcollabSelectClass">
                            <ng-container *ngFor="let obj of section0_categories, let i = index">
                                <mat-option *ngIf="!( i==0 && category=='none' )" [value]="obj">
                                    {{ obj }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="form-item swiper-slide" [ngStyle]="{'width' : '140px', 'margin-right' : 'auto', 'margin-left':'10px'}">
                    <mat-form-field floatLabel='never' class="select-class">
                        <mat-label>Rechercher</mat-label>
                        <input matInput maxLength="100" autocomplete="off" [(ngModel)]="searchText">

                        <div class="length-indicator">
                            <mat-icon [ngClass]="{'invisible': !show_icon }">search</mat-icon>
                        </div>
                    </mat-form-field>
                </div>
                
            </div>

            <div *ngIf="show_editors" class="filter">
                <div class="filter-title">
                    <span>Maisons d'édition sélectionnées : </span>
                </div>
                <div class="filter-item" *ngFor="let item of list_of_editors_selected;let i=index" >
                    <span >
                        <b>{{list_of_editors_selected[i].title}}</b>
                    </span> 
                    <div class="close-container" (click)="remove_editor(i)">
                        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="!show_editors" class="filter">
                <div class="filter-title">
                    <span>Votre sélection : </span>
                </div>
                <div class="filter-item" >
                    <span >
                        <b>Aucune sélection</b>
                    </span> 
                </div>
            </div>
            <div #EditorContainer class="thumbnails-editors-container">

                <div class="no-proposition-container" *ngIf="(list_of_editors | filterAlbum : searchText).length==0" [@enterFromTopAnimation]>
                    <mat-icon [ngClass]="{'invisible': !show_icon }" [@enterFromTopAnimation]>find_in_page</mat-icon>
                    <span [@enterFromTopAnimation]>Aucun résultat pour la recherche demandée</span>
                </div>
                <ng-container *ngFor="let item of list_of_editors | filterAlbum : searchText; let i = index">
                    <div #thumbnails class="thumbnail-container"  *ngIf="item.categories.includes(category) || category=='none'">

                        
                        <div class="thumbnail">
                            <div class="cover-picture"  [ngClass]="{'shiny':!pictures_loaded[item.cover]}" >
                                <img class="background-image" alt="list_of_editors[i].title" [lazyLoad]="item.cover"  [customObservable]="scrollobs? scrollobs : null" loading="lazy" (load)="load_pictures(item.cover)" [ngClass]="{'invisible':!pictures_loaded[item.cover]}">
                                <div class="first-message" *ngIf="indexes_selected[i]"  [@enterFromTop2Animation]>
                                    <div class="alert-icon">
                                        <mat-icon [ngClass]="{'invisible': !show_icon }">sentiment_dissatisfied</mat-icon>
                                    </div>
                                    <span style="margin-bottom: auto;">Nous sommes dans le regret de vous informer que cette maison d'édition n'est pas encore partenaire.<br><br> Vous pouvez néanmoins les joindre personnellement grâce aux informations ci-dessous.</span>
                               </div>
                            </div>
                            <div class="data-container"  >
                                <div class="img-container"  [ngClass]="{'shiny':!pictures_loaded[item.pp]}">
                                    <img  [lazyLoad]="item.pp" alt="list_of_editors[i].title"  [customObservable]="scrollobs? scrollobs : null" loading="lazy" (load)="load_pictures(item.pp)" [ngClass]="{'invisible':!pictures_loaded[item.pp],'fit-pic':is_a_special_pp[item.title]}" >
                                </div>

                                <div class="right-container">
                                    <div class="name" [@enterFromLeftAnimation]>
                                        <span>{{item.title}}</span>
                                        
                                    </div>
        
                                   
                                    <div class="section" *ngIf="!indexes_selected[i]" [@enterFromLeftAnimation]>
                                        <mat-icon [ngClass]="{'invisible': !show_icon }">location_on</mat-icon>
                                        <span class="section-value">{{item.location}}</span>
                                    </div>
                                    <div class="section" *ngIf="!indexes_selected[i]" [@enterFromLeftAnimation] >
                                        <mat-icon [ngClass]="{'invisible': !show_icon }">color_lens</mat-icon>
                                        <span class="section-value">
                                            <ng-container *ngFor="let cat of item.categories;let j=index">
                                                <ng-container *ngIf="j==0">{{cat}}</ng-container>
                                                <ng-container *ngIf="j>0">, {{cat}}</ng-container>
                                            </ng-container>
                                        </span>
                                    </div>
                                    <div class="section" *ngIf="!indexes_selected[i] &&  item.genres" [@enterFromLeftAnimation] >
                                        <mat-icon [ngClass]="{'invisible': !show_icon }">receipt_long</mat-icon>
                                        <span class="section-value">
                                            <ng-container *ngFor="let gen of item.genres.slice(0,6);let j=index">
                                                <ng-container *ngIf="j==0">{{gen}}</ng-container>
                                                <ng-container *ngIf="j>0">, {{gen}}</ng-container>
                                            </ng-container>
                                            <span style="opacity: 0.75; cursor: pointer;" *ngIf="item.genres.length>6"
                                                [matTooltip]="item.genres.slice(6,item.genres.length) | tooltipList"  
                                                matTooltipClass='linkarts-tooltip tooltip-list' 
                                                [matTooltipPosition]="'below'"
                                                [matTooltipShowDelay]="0">
                                                (+{{item.genres.length - 6}} {{item.genres.length === 7 ? 'autre' : 'autres'}})
                                            </span>
                                        </span>
                                        
                                    </div>

                                    <div class="section" *ngIf="indexes_selected[i]" [@enterFromRightAnimation] >
                                        <span class="section-value"><b>site</b> : <a [href]="item.website" target="_blank">{{item.website}}</a></span>
                                    </div>
                                    <div class="section" *ngIf="indexes_selected[i] && item.email" [@enterFromRightAnimation] >
                                        <span class="section-value"><b>e-mail</b> : <a href="mailto:{{item.email}}" >{{item.email}}</a> </span>
                                    </div>
                                    <div class="section" *ngIf="indexes_selected[i] && item.phone" [@enterFromRightAnimation] >
                                        <span class="section-value"><b>téléphone</b> : {{item.phone}}</span>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                            <div class="apply-button">
                                <div class="left-side" *ngIf="!box_checked[i]">
                                    <ng-container *ngIf="item.standard_price && item.standard_price==0">Gratuit</ng-container>
                                    <ng-container *ngIf="item.standard_price && item.standard_price>0">Dès {{item.standard_price}}€</ng-container>
                                </div>
                                <div class="right-side" [@enterFromLeftAnimation] *ngIf="!box_checked[i]">
                                    <span (click)="selectBox(true,i)">Sélectionner</span>
                                    <mat-checkbox class="check-box" [checked]="box_checked[i]" (change)="selectBox($event.checked,i)"></mat-checkbox>
                                </div>
                            </div>
                            <div class="apply-button-back" *ngIf="box_checked[i]" (click)="selectBox(false,i)" [@enterFromRightAnimation]>
                                <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
                                <span>Retour</span>
                            </div>
                        </div>


                    </div>
                </ng-container>

            </div>



        </div>



    </div>
</div>