/*
   * Content
   */

   $number: 1000; 
   $picture-box-shadow: 0 5px 25px rgba(32,56,100, 1); //adam
   $box-shadow-color: 0 0 20px rgba(143,170,220, 1); //adam
   
   
    
  @media (max-width:700px) {
    .content-action span {
     
    font-size:1.1rem;
    }
  }    
  @media (min-width:701px) and (max-width: 1000px) {
    .content-action span {
      font-size:1.1rem;
    }
  }

  @media (min-width: 1700px) {
    [role="main"] {
      width:1670px;
      margin:auto auto;
    }
  }

  .main {
    display:flex;
  }


   .container-fluid {
     background-color:rgb(255, 255, 255);
   }
 
 
   *{
     font-size: 1.20rem;
   }
   
   
   
   hr {
     margin-right:45%;
     margin-left:45%;
     margin-top:0px;
     border: 0;
     border-top: 1px solid rgb(32,56,100); 
   }
 
   .storiesbar {
     width:100%;
     height:100%;
     overflow-y:auto;
   }
 
   .searchbar {
      width:100%;
      width:1000px;
      margin:20px auto 60px auto;
      z-index:1000;
      position:relative;
   }
 
 
   .categories-title {
     text-align:center;
     border-bottom: 1px solid rgb(173, 173, 173); 
     line-height: 0.1em;
     margin-left:40%;
     margin-right:40%;
     margin-top:60px;
     margin-bottom:30px;
   } 
   .categories-title span {
     font-size:1.4rem;
     background:rgb(231, 230, 230); 
     padding:0 15px; 
   }
 
 
   .category {
     margin-top:30px;
     margin-bottom:25px;
     margin-left:2%;
   }
 
   .category span {
     font-size:1.5rem;
   }
 
   
   .category-filter .col{
     max-width:220px;
   }
 
   .category-filter .content-action {
     position:relative;
     display:flex;
     padding-top:7px;
     padding-bottom:7px;
     border-radius:15px;
   }

   .category-filter .content-action:hover .title{
    color:rgb(32,56,100) !important;
  }

   .category-filter .content-action span {
    color: #53627d;
     margin:auto auto;
   }

   .title{
    display:flex; 
    align-items:center;
    color: #53627d;
    margin:auto auto;
   }


   .category-filter .content-action .bottom-border {
      position:absolute;
      bottom:-3px;
      width: 0%;
      left: 50%;
      transform: translateX(-50%);
   }
   

   .categories-container {
    position:relative;
    text-align:center;
    font-size:1.2rem;
  }
  
  .category-filter {
    width:100%;
    position:relative;
    display:flex;
    justify-content:center;
    margin-bottom: 20px;
    border-radius:10px 10px 0px 0px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
   // border-bottom: 3px solid rgb(240,240,240);
  }

  .put-on-the-left{
    justify-content:left !important;
  }

  .category-filter2 {
    width:100%;
    position:relative;
    display:flex;
    justify-content:left;
    border-radius:10px 10px 0px 0px;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    border-bottom: 3px solid #203864 !important;
  }


  #right-container .category-filter {
    justify-content: center !important;
    //border-bottom: 3px solid rgb(32,56,100) !important;
  }

  #right-container .category-filter * {
    text-shadow:unset !important;
    cursor:default !important;
  }

  .content-action {
     cursor:pointer;
     padding:20px;
     margin-left:10px;
     margin-right:10px;
     padding-bottom:5px;
  }

  .categories-container .opened {
    border-radius: 30px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #4bacdd;
    color: rgb(32,56,100) ;
    text-shadow: -0.06ex 0 rgb(32,56,100), 0.06ex 0 rgb(32,56,100);
  }

  .title-opened{
    color: rgb(32,56,100)!important;
  }
  
  .category-filter .opened .bottom-border {
    border-bottom:3px solid rgb(32,56,100);
    width:90%;
    transition:width 200ms;
  }
  
  .categories-container .content-action:hover {
    color: rgb(32,56,100) !important;
    transition:text-shadow 200ms;
    text-shadow: -0.06ex 0 rgb(32,56,100), 0.06ex 0 rgb(32,56,100);
  }

  .categories-container .content-action:hover .bottom-border {
    transition: border 200ms;
    border-bottom:3px solid rgb(32,56,100);
    width:90%;
    transition:width 200ms;
  }

  .categories-container .content-action:hover .icon-recommendation {
    background-color: rgb(32,56,100) !important;
  }

  .categories-container .content-action:hover .icon-trendings {
    background-color: rgb(32,56,100)!important;
  }

  .categories-container .content-action:hover .icon-newsfeed {
    background-color: rgb(32,56,100)!important;
  }

  .icon-clicked{
    background-color:rgb(32,56,100) !important;
  }

  #left-container {
    width:calc(100% - 330px);
    padding:20px;
    overflow:hidden;
  }

  #left-container .left-container-scrollable {
    overflow-y: scroll;
    height: 100%;
  }

  #right-container {
    width:330px;
    padding:20px;
    overflow:hidden;
  }

  .left-container-extended{
    width:100% !important;
  }

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(30, 82, 145, 0.2);  
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 82, 145, 0.2);  
}


.invisible{
  display:none ;
}

.panel-controller {
  width:100%;
  height:50px;
  border-bottom: 1px solid rgb(173, 173, 173); 
}

.panel-controller .left-container {
  color:rgb(32,56,100);  
  //display:flex;
  margin-left:auto auto;
  float:left;
  height:100%;
}



::ng-deep .SumoSelect > .CaptionCont > span {
  padding-right:30px;
}


.icon-container {
  position: relative;
  cursor: pointer;
  display: block;
  width: 20px;
  margin-right:10px;
}

.icon {
  margin: auto auto;
  height:20px;
 }

 .icon-recommendation {
  background-color: #53627d;
  -webkit-mask:  url("../../assets/img/svg/star.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/star.svg") no-repeat 50% 50%;
}

.icon-trendings {
  background-color: #53627d;
  -webkit-mask:  url("../../assets/img/svg/trendings.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/trendings.svg") no-repeat 50% 50%;
}

.icon-newsfeed {
  background-color: #53627d;
  -webkit-mask:  url("../../assets/img/svg/friends1.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/friends1.svg") no-repeat 50% 50%;
}

.icon-stories {
  background-color: #53627d;
  -webkit-mask:  url("../../assets/img/svg/fire.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/fire.svg") no-repeat 50% 50%;
}




//***************************************
//***************************************
//***************************************
// CODE EN PLUS DU CSS DE HOME LINKARTS
//***************************************
//***************************************
//***************************************

// First section
.panel-controller {
  width:100%;
  height:50px;
  border-radius:7px;
  background-color:rgb(32,56,100);  
  box-shadow: 0 0 0 1px rgba(32, 56, 100, 0.15), 0 2px 3px rgba(32, 56, 100, 0.2);
}

.panel-controller .left-container {
  display:flex;
  margin-left:5px;
  float:left;
  height:100%;
}

.panel-controller .left-container .controller-category {
  display: flex;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  cursor:pointer;
  color:rgb(192, 209, 241);
  transition:color 200ms;
  transition: text-shadow 200ms;
}

.panel-controller .left-container > .open {
  color:rgb(255, 255, 255) !important;
  text-shadow: -0.04ex 0 rgb(255, 255, 255), 0.04ex 0 rgb(255, 255, 255);
}

.panel-controller .left-container > .controller-category:hover {
  color:rgb(255, 255, 255) !important;
  text-shadow: -0.04ex 0 rgb(255, 255, 255), 0.04ex 0 rgb(255, 255, 255);
}


.panel-controller .dropdowns-container {
  display:flex;
  height:100%;
}

.panel-controller select{
  display:flex;
  float:right;
  height:100%;
}


//SumoSelect

::ng-deep .panel-controller .SumoSelect > .CaptionCont > label > i {
  background-image:none !important;
  background-color: rgb(218, 227, 243);
  -webkit-mask:  url("../../assets/img/svg/arrow-down-2.svg") no-repeat 50% 50%;
  mask: url("../../assets/img/svg/arrow-down-2.svg") no-repeat 50% 50%;
}

::ng-deep .panel-controller .SumoSelect {
  width:unset !important;
  height:100%;
  margin-left: 30px;
}


::ng-deep #right-container .panel-controller .SumoSelect {
  width:unset !important;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

::ng-deep .panel-controller .SumoSelect .SelectBox{
  padding: 0 8px;
}

::ng-deep .panel-controller .SumoSelect > p.CaptionCont > span {
  color:white;
  margin: auto 0 auto auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

::ng-deep .panel-controller .SumoSelect .optWrapper {
  width:auto !important;
  left:unset;
  left:0 !important;
}

.invisible{
  display:none ;
}



.search-input {
  width:100%;
}


.item-container {
  width: 91%;
  margin-left: auto;
  margin-top: 12px;
  margin-right: auto;
  margin-bottom: 23px;
  box-shadow: 0px 7px 14px 3px #989898;
  overflow: hidden;
  border-radius: 10px;
}

.item-container .picture-container {
  position: relative;
  width:100%;
  height:180px;
}

.item-container .picture-container img {
  width:100%;
  height:100%;
  object-fit: cover;
}


.submit-project-button {
  position: absolute;
  bottom: 10px;
  height: 30px;
  right: 0;
  line-height: 15px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  padding: 0px 13px;
  font-size: 12px;
  opacity: 0.9;
}

.item-container .detail-container {
  width:100%;
  padding:8px; 
  background: rgb(32, 56, 100);
  color:white;
}


.author-container {
  display: flex;
  margin-right: auto;
  width:fit-content;
}


.author-container .left-container {
  width: 45px;
  height: 45px;
  min-width: 45px !important;
  min-height: 45px !important;
  margin: 3px auto auto auto;
}

.author-container .left-container img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.author-container .right-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc( 100% - 40px );
  margin: 0px 10px auto 10px;
}
.author-container .right-container span.author-name {
  font-size: 17px;
  line-height: 25px;
  font-weight:bold;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.author-container .right-container .author-description {
  display:flex;
  font-size:14px;
  line-height: 18px;
  cursor:default;
}

.author-container .right-container .author-location {
  display:flex;
  font-size:14px;
  height:20px;
  cursor:default;
}

.author-container .right-container .author-location span {
  font-size: 14px;
}
