<div class="blocked" *ngIf="!user_blocked_retrieved">

    <div class="comment-skeleton my-comment">
        <div class="left-container">
            <div class="profile-picture dark-shiny">
            </div>
        </div>
        <div class="right-container dark-shiny">
        </div>
    </div>
    <div class="comment-skeleton" *ngFor="let element of skeleton_array">
        <div class="left-container">
            <div class="profile-picture dark-shiny">
            </div>
        </div>
        <div class="right-container dark-shiny">
        </div>
    </div>

</div>



<div class="blocked" *ngIf="user_blocked_retrieved && user_blocked">

    <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
    <span *ngIf="user_who_blocked=='me'">Vous avez bloqué cet utilisateur et ne pouvez plus commenter ses contenus</span>
    <span *ngIf="user_who_blocked!='me'">Vous avez été bloqué par cet utilisateur et ne pouvez plus commenter ses contenus</span>
</div>

<div class="comments-container" *ngIf="user_blocked_retrieved && !user_blocked">

    <div class="create-account" (click)="signup();" *ngIf="type_of_account=='visitor'">
        <span>Créer un compte pour pouvoir commenter</span>
    </div>

    <div class="add-comment" *ngIf="type_of_account=='account'">

        <div class="left-container">
            <div class="profile-picture" [ngClass]="{ 'dark-shiny': !pp_is_loaded }">
                <img [src]="profile_picture" (load)="load_pp()"
                [ngClass]="{'invisible': !pp_is_loaded}">
            </div>
        </div>

        <div [formGroup]="comment_container" class="right-container">
            
            <textarea matInput cdkTextareaAutosize
            maxlength="1500"
            formControlName="comment" 
            type="text" 
            (keydown)="keydown($event)"
            (input)="check_message_for_phone()"
            (keyup)="keyup($event)"
            placeholder="Ajouter un commentaire ..."
            autocomplete="off">
            
            </textarea>
            <div class="icon-messenger" (click)="send_message_phone()" [ngClass]="{'invisible': !show_send_icon || !can_show_send_icon}">
                        
            </div>
        </div>
    </div>


    <ng-container *ngIf='display_comments '>
        <div class="comment">

            <div class="left-container">
                <app-comment-element
                    [visitor_id]="visitor_id"
                    [visitor_name]="visitor_name"
                    [title]="title"
                    [type_of_account]="type_of_account"
                    [visitor_profile_picture]="profile_picture"
                    (changed)="comment_changed();"
                    [comment_id]=0
                    [now_in_seconds]=now_in_seconds
                    [comment_information]=comments_list[0]
                    (click_on_user2)="after_click_comment2($event);">
                </app-comment-element>
            </div>

            <div class="right-container">
                <!--options pour un visiteur -->
                <button class="optionsMenu" [matMenuTriggerFor]="commentOptions">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                </button>
                <mat-menu #commentOptions="matMenu" class="comments-mat-menu">
                    <button class="comments-button-menu-item" tabIndex="-1" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                        <span>Signaler</span>
                    </button>
                    <button class="comments-button-menu-item" tabIndex="-1" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                        <span>Annuler le signalement</span>
                    </button>
                    <button *ngIf="!visitor_mode && category!='ad'" (click)="remove_other_comment(0)" class="comments-button-menu-item" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </mat-menu>
            </div>

        </div>
    </ng-container>

    <ng-container *ngIf='display_my_comments'>
        <div *ngFor="let item of my_comments_list; let i = index" class="comment">
            
            <div class="left-container">
                <app-comment-element
                    [visitor_id]="visitor_id"
                    [visitor_name]="visitor_name"
                    [visitor_profile_picture]="profile_picture"
                    [title]="title"
                    [type_of_account]="type_of_account"
                    (changed)="comment_changed();"
                    [comment_id]=i
                    [editable_comment]=editable_comment
                    [now_in_seconds]=now_in_seconds
                    [comment_information]=item
                    (click_on_user2)="after_click_comment2($event);">
                </app-comment-element>
            </div>
            
            <div class="right-container">
                <button class="optionsMenu" [matMenuTriggerFor]="commentOptions">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                </button>
                <mat-menu #commentOptions="matMenu" class="comments-mat-menu">
                    <button  *ngIf="!loading_edit" class="comments-button-menu-item" tabIndex="-1" (click)="edit_comment(i)" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">edit</mat-icon>
                        <span>Editer</span>
                    </button>
                    <button class="comments-button-menu-item" tabIndex="-1" (click)="remove_comment(i)" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </mat-menu>
            </div>

        </div>
    </ng-container>

    <ng-container *ngIf='display_comments'>
        <div *ngFor="let item of comments_list.slice(1,number_of_comments_to_show); let i = index" class="comment">

            <div class="left-container">
                <app-comment-element
                    [visitor_id]="visitor_id"
                    [visitor_name]="visitor_name"
                    [title]="title"
                    [type_of_account]="type_of_account"
                    [visitor_profile_picture]="profile_picture"
                    (changed)="comment_changed();"
                    [comment_id]=i
                    [now_in_seconds]=now_in_seconds
                    [comment_information]=item
                    (click_on_user2)="after_click_comment2($event);">
                </app-comment-element>
            </div>
            
            <div class="right-container">
                <button class="optionsMenu" [matMenuTriggerFor]="commentOptions">
                    <mat-icon [ngClass]="{'invisible': !show_icon }" class="optionsButton">more_vert</mat-icon>
                </button>
                <mat-menu #commentOptions="matMenu" class="comments-mat-menu">
                    <button class="comments-button-menu-item" tabIndex="-1" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">flag</mat-icon>
                        <span>Signaler</span>
                    </button>
                    <button class="comments-button-menu-item" tabIndex="-1" (click)="remove_other_comment(i)" mat-menu-item>
                        <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
                        <span>Supprimer</span>
                    </button>
                </mat-menu>
            </div>

        </div>
    </ng-container>


</div>