

<button *ngIf="step>=0" class="close-button" (click)="close_dialog()">
    <mat-icon [ngClass]="{'invisible': !show_icon }">close</mat-icon>
</button>

<div class="logo-container" >
    <img src="../../assets/img/svg/Logo-LA3.svg" alt="logo linkarts">
</div>

<button *ngIf="step==1 && !loading_check" class="back-button" (click)="step_back();">
    <mat-icon [ngClass]="{'invisible': !show_icon }">keyboard_arrow_left</mat-icon>
</button>

<div class="popup-apply">


    <div class="step-form" [formGroup]="registerForm" *ngIf="step==0 && !loading_check">

        <div class="step-name">
            <span>Soumettez votre projet</span>
        </div>

        <div class="step-name-b" *ngIf="!multiple_submission">
            <span><b>Éditeur</b> : {{editor_names[list_of_editors_ids[0]]}}</span>
        </div>
        
        
        <div class="form-title">
            <span>Quel est le titre de votre projet ?</span>
        </div>
        <div class="form-item">
            <mat-form-field floatLabel='never'>
                <mat-label >Titre</mat-label>
                <input matInput formControlName="title" maxLength="45" type="search" autocomplete="off" (input)="normalize_input(registerForm, 'title');">
                <mat-error *ngIf="registerForm.controls['title'].invalid">Saisie invalide : les espaces en début de saisie ainsi que certains caractères spéciaux ne sont pas autorisés
                </mat-error>
                <div class="length-indicator">{{registerForm.controls['title'].value?.length || 0}}/45</div>
            </mat-form-field>
        </div>
        

        <div class="form-title">
            <span>Quelle catégorie lui correspond le mieux ?</span>
        </div>
        <div class="form-item">
            <mat-form-field floatLabel='never' >
                <mat-label>Catégories</mat-label>
                <mat-select disableOptionCentering formControlName="category" panelClass="popupApplySelectClass">
                    <mat-option  *ngFor="let obj of list_of_categories" [value]="obj">
                        {{ obj }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="registerForm.controls['category'].invalid ">Veuillez sélectionner une catégorie</mat-error>
            
            </mat-form-field>
        </div>

        
        <div class="form-title">
            <span>Quels genres lui correspondent le mieux ?</span>
        </div>
        <div class="form-item" style="height:unset">
            <mat-form-field floatLabel='never' class="matautocompleteclass">
                <mat-chip-list #chipList formControlName="genres" aria-label="Genres">
                <mat-chip
                    *ngFor="let genre of genres"
                    [selectable]="selectable"
                    [removable]="true"
                    (removed)="remove_genre(genre)">
                    {{genre}}
                    <mat-icon [ngClass]="{'invisible': !show_icon }" matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                    placeholder="Genres (maximum : 15)"
                    #genresInput
                    [formControl]="genresCtrl"
                    [matAutocomplete]="auto"
                    matAutocompletePosition="below"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add_genre($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" class="custom-scroll popupApplyMatautocompleteClass" (optionSelected)="selected_genre($event)">
                <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre" (click)="genre_clicked()">
                    {{genre}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>


        <div class="form-title">
            <span>Votre projet</span>
        </div>


        <div class="upload-pdf" *ngIf="!uploaded_file" [@enterAnimation]>
            <label>
                <div class="validate-upload-button">
                    <mat-icon [ngClass]="{'invisible': !show_icon }"  class="rotate-icon">attachment</mat-icon>
                    <span>Déposez votre projet au format PDF</span>
        
                    <input (click)="onFileClick($event)" type="file" ng2FileSelect [uploader]="uploader" style="display: none;"/>
                </div>
            </label>
        </div>
        <div class="upload-pdf" *ngIf="uploaded_file" [@enterAnimation]>
            <span class="uploader-absolute-number" (click)="delete_file();">Annuler</span>
            <div class="validate-upload-button no-effects">
                <mat-icon [ngClass]="{'invisible': !show_icon }">description</mat-icon>
                <span>{{uploaded_file}}</span>
            </div>
        </div>


        <button class="submit-button" (click)="validate_step(0);">
            <mat-spinner *ngIf="loading_project" diameter="25"  style="margin:auto;"></mat-spinner>
            <span *ngIf="!loading_project && !multiple_submission">Finaliser</span>
            <span *ngIf="!loading_project && multiple_submission">Suivant</span>
        </button>

    </div>


    <div class="step-form"  *ngIf="step==1 && !loading_check">

        <div class="step-name">
            <span>Choisissez vos formules</span>
        </div>


        <div class="editor" *ngFor="let item of list_of_editors_ids; let i = index">
            <div class="image-container">
                <img [src]="editor_pictures[item]" alt="logo linkarts">
            </div>
            <div class="right-container">
                <div class="name">
                    <span>{{editor_names[item]}}</span>
                </div>
                <div class="formula-info">
                    <div class="title" >STANDARD</div>
                    <div class="formula-info-flex">
                        <div>
                            <div class="type">
                                <span>Tarif</span>
                            </div>
                            <div class="value">
                                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="standard_prices[item]>0">euro_symbol</mat-icon>
                                <span *ngIf="standard_prices[item]==0">Gratuit</span>
                                <span *ngIf="standard_prices[item]==1">{{standard_prices[item]}} euro</span>
                                <span *ngIf="standard_prices[item]>1">{{standard_prices[item]}} euros</span>
                            </div>
                        </div>
                        <div>
                            <div class="type">
                                <span>Temps d'attente</span>
                            </div>
                            <div class="value">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">timer</mat-icon>
                                <span>{{list_of_real_delays[standard_delays[item]]}}</span>
                            </div>
                        </div>

                        <mat-checkbox class="check-box" [checked]="list_of_selected_formulas[item]=='standard'" (change)="set_formula(item,'standard')"></mat-checkbox>
                    </div>
                </div>
                <div class="formula-info"  >
                    <div class="title">EXPRESS</div>
                    <div class="formula-info-flex">
                        <div>
                            <div class="type">
                                <span>Tarif</span>
                            </div>
                            <div class="value">
                                <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="express_prices[item]>0">euro_symbol</mat-icon>
                                <span *ngIf="express_prices[item]==0">Gratuit</span>
                                <span *ngIf="express_prices[item]==1">{{express_prices[item]}} euro</span>
                                <span *ngIf="express_prices[item]>1">{{express_prices[item]}} euros</span>
                               
                            </div>
                        </div>
                        <div>
                            <div class="type">
                                <span>Temps d'attente</span>
                            </div>
                            <div class="value">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">timer</mat-icon>
                                <span>{{list_of_real_delays[express_delays[item]]}}</span>
                            </div>
                        </div>

                        <mat-checkbox class="check-box" [checked]="list_of_selected_formulas[item]=='express'" (change)="set_formula(item,'express')"></mat-checkbox>
                    </div>
                </div>

                <div class="subtotal">
                    <div class="delete" (click)="delete(i);">
                        <span>Supprimer</span>
                    </div>
                </div>
            </div>

           
        </div>

        <div class="total-price">
            <span>Total à payer : {{total_price}}€</span>
        </div>



        <button class="submit-button" (click)="validate_step(1);">
            <mat-spinner *ngIf="loading_project" diameter="25"  style="margin:auto;"></mat-spinner>
            <span *ngIf="!loading_project">Finaliser</span>
        </button>

    </div>



    <ng-container *ngIf="loading_check">
        <div class="step-form"  [@enterFromTopAnimation]>
            <div class="sent-mail-icon" >
                <img class="logo1" src='../../assets/img/tuto-logos/tuto-books.svg' alt="logo linkarts">
                <mat-spinner diameter="40" style="margin:auto;"></mat-spinner>
                <img class="logo1" src='../../assets/img/tuto-logos/tuto-books.svg' alt="logo linkarts">
            </div>
            
            <div class="sent-mail-text" >
                <span>Vérification du payement</span>
            </div>
            
        </div>
    </ng-container>
    <ng-container *ngIf="!loading_check" >
        <div class="step-form " *ngIf="step==2" [@enterFromTopAnimation]>
            <div class="sent-mail-icon" >
                <img class="logo1" src='../../assets/img/tuto-logos/tuto-books.svg' alt="logo linkarts">
                <img class="logo" src='../../assets/img/svg/fireworks.svg' alt="logo linkarts">
                <img class="logo1" src='../../assets/img/tuto-logos/tuto-books.svg' alt="logo linkarts">
            </div>
            
            <div class="sent-mail-text" >
                <span>Votre projet a été envoyé avec succès !</span>
                <span>Consultez la section "Projets" de votre profil afin d'être tenu au courant des avancements sur ce projet.</span>
            </div>
            <div (click)="open_applications()" class="submit-button" >
                <span class="go-back">Accéder à mon profil</span>
            </div>
        </div>

        <div class="step-form " *ngIf="step==3">
            
            <div class="sent-mail-icon" >
                <img class="logo" src='../../assets/img/tuto-logos/light.svg' alt="logo linkarts">
            </div>
            <div class="sent-mail-text" >
                <span>Cette session est expirée !</span>
                <span></span>
            </div>
            <div (click)="close_dialog()" class="submit-button" style="width: 230px !important;" >
                <span class="go-back">Retour</span>
            </div>
        </div>
    </ng-container>

    


</div>