

    <div *ngIf="REAL_step>=0 || CURRENT_step==0" [hidden]="CURRENT_step!=0">
        
        <button mat-raised-button class="step-back-button" (click)="back_home();">
            <div class="back-icon"></div>
            <span>Retour</span>
        </button>


        <!--Forms : adding cartoon strip-->
        <div class="steps">
            <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step == 0 }">
                <div class="step">
                    <span>1</span>
                </div>
                <span>Présentation du projet</span>
            </div>
            <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step == 1 }">
                <div class="step">
                    <span>2</span>
                </div>
                <span>Téléchargement</span>
            </div>
        </div>


        <form [formGroup]="fw" novalidate>

            <div class="form-container">
                <div class="form-container-name">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Présentation du projet</span>
                </div>


                <!--*********************************************************-->
                <!--Titre-->
                <!--*********************************************************-->
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Titre</mat-label>
                        <input matInput formControlName="fwTitle" maxLength="30" autocomplete="off">
                        <mat-error *ngIf="fw.controls['fwTitle'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                        </mat-error>
                        <div class="length-indicator">{{fw.controls['fwTitle'].value?.length || 0}}/30</div>
                    </mat-form-field>
                </div>
                

                
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Catégorie</mat-label>
                        <mat-select [compareWith]="compareObjects" disableOptionCentering formControlName="fwCategory">
                            <mat-option  *ngFor="let obj of listOfCategories" [value]="obj">
                                {{ obj }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fw.controls['fwCategory'].invalid">Veuillez sélectionner une catégorie</mat-error>
                    </mat-form-field>
                </div>


                <!--*********************************************************-->
                <!--Catégorie-->
                <!--*********************************************************-->
                <!--<div class="form-group">
                    <label for="artworkCategory">Catégorie</label>
                    <select formControlName="fwCategory" class="fwselect1" style="height: 100%;">
                        <option value="" disabled="true">Sélectionner une catégorie</option>
                        <option label="Roman illustré">Roman illustré</option>
                        <option label="Roman">Roman</option>
                        <option label="Scénario">Scénario</option>
                        <option label="Article">Article</option>
                        <option label="Poésie">Poésie</option>
                    </select>
                    <p *ngIf="fwCategory.value == '' && fwDisplayErrors">Veuillez sélectionner une catégorie</p>
                    <p> Vos oeuvres ne sont pas protégés contre le plagiat en dehors du site,nous vous invitons donc à prendre les
                        dispositions nécessaires pour vous protéger contre cela.
                    </p>
                </div>-->

                <!--*********************************************************-->
                <!--Genres-->
                <!--*********************************************************-->
                <!--<div class="form-group">
                    <label for="artworkTags">Genres</label>
                    <select formControlName="fwTags" class="multipleSelectfw" placeholder="Sélectionner des genres (max : 3)" multiple name="language">
                        <option value="{{writings_tags[i]}}" *ngFor="let item of writings_tags;let i=index">{{item}}</option>
                    </select>
                    <p *ngIf="!tagsValidator && fwDisplayErrors">Veuillez sélectionner au moins un genre</p>
                </div>-->
                
                <div class="form-item">
                    <mat-form-field floatLabel='never'>
                        <mat-chip-list #chipList formControlName="fwTags" aria-label="Genre selection">
                        <mat-chip
                            *ngFor="let genre of genres"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(genre)">
                            {{genre}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input
                            placeholder="Genres (maximum : 3)"
                            #genreInput
                            [formControl]="genreCtrl"
                            [matAutocomplete]="auto"
                            matAutocompletePosition="below"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" class="custom-scroll" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let genre of filteredGenres | async" [value]="genre">
                            {{genre}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

            
                <div class="form-item input-multiple-lines" style="height:unset !important;">
                    <mat-form-field floatLabel='never'>
                        <mat-label>Description</mat-label>
                    
                        <textarea matInput cdkTextareaAutosize formControlName="fwDescription" maxLength="290" autocomplete="off"></textarea>
                        <mat-error *ngIf="fw.controls['fwDescription'].invalid">Veuillez faire une saisie valide (votre saisie ne doit pas commencer ni terminer par un espace)
                        </mat-error>
                        <div class="length-indicator">{{fw.controls['fwDescription'].value?.length || 0}}/290</div>
                    </mat-form-field>
                </div>

                
                <div class="form-item">
                    <div class="monetisation-container">
                        <mat-slide-toggle [checked]="monetised" (change)="setMonetisation( $event )" style="font-weight:bold;">
                            Monétiser mon œuvre et autoriser l'apparition en tendances
                        </mat-slide-toggle>
                        &nbsp; 
                        &nbsp; 
                        <span (click)="read_conditions();" class="read_conditions">(lire les conditions)</span>
                    </div>
                    <div *ngIf="monetised" style="color: #f44336;">
                        Attention ! Nous vous rappelons que les œuvres plagiées, les fanarts et les œuvres aux contenus inapproriés sont interdits. Toute monétisation faisant suite à ce genre de publication pourra donner suite à une procédure judiciaire et à des frais de remboursement.
                    </div>
                </div>









                <!--<div class="form-group">
                    <label>Monétisation</label>
                    <div class="monetisation-container">
                        <mat-slide-toggle [checked]="monetised" (change)="setMonetisation( $event )">
                            Je souhaite monétiser mon œuvre
                        </mat-slide-toggle>
                        &nbsp; 
                        &nbsp; 
                        <span (click)="read_conditions();" class="read_conditions">(lire les conditions)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="artworkDescription">Description</label>
                    <textarea type="text" formControlName="fwDescription" maxlength="500" style="height: 250px;resize:none;" class="form-control" placeholder="Description de l'œuvre (500 caractères max)" autocomplete="off" required>
                    </textarea>
                    <p *ngIf="!fwDescription.valid && fwDisplayErrors">Veuillez saisir une description valide</p>
                </div>-->



                <!--<div style="margin-bottom: 40px;">
                    <app-uploader-writting (SafeUrlOutput)="get_writing_safeurl($event)"></app-uploader-writting>
                </div>-->

            </div>


            
            <div class="form-container">
                <div class="form-container-name">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>Edition de la miniature</span>
                </div>
                <div class="form-container-data">


                    <!--******************************************************-->
                    <!--Miniature-->
                    <!--******************************************************-->

                    <div class="form-group" style="text-align:center;">


                        <app-uploader-cover-writing
                            author_name={{author_name}} 
                            primary_description={{primary_description}}
                            pseudo={{pseudo}}
                            [profile_picture]=profile_picture

                            firsttag={{fw.value.fwTags[0]}}
                            secondtag={{fw.value.fwTags[1]}}
                            thirdtag={{fw.value.fwTags[2]}}

                            name={{fw.value.fwTitle}} 
                            description={{fw.value.fwDescription}}
                            category={{fw.value.fwCategory}}
                            format={{fw.value.fwFormat}}>
                        </app-uploader-cover-writing>

                    </div>
                </div>
            </div>

            
            <button mat-raised-button class="submit-button style1" (click)="validateForm00()">
                <span>Valider</span>
            </button>

        </form>

    </div>


    
    <div *ngIf=" ( REAL_step==1 || CURRENT_step==1 )" [hidden]="CURRENT_step==0">
        
        <button mat-raised-button class="step-back-button" (click)="step_back();">
            <div class="back-icon"></div>
            <span>Retour</span>
        </button>

        
        <!--Forms : adding cartoon strip-->
        <div class="steps">
            <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==0 }">
                <div class="step">
                    <span>1</span>
                </div>
                <span>Présentation du projet</span>
            </div>
            <div class="step-container" [ngClass]="{ 'opened' : CURRENT_step ==1 }">
                <div class="step">
                    <span>2</span>
                </div>
                <span>Téléchargement</span>
            </div>
        </div>

        
    
        <app-uploader-writting></app-uploader-writting>
        


        <!--<div #swiperContainer class="swiper-container swiper-artwork-writing" >
            <div #swiperWrapper class="swiper-wrapper">
                <div *ngFor="let item of arrayOne( total_pages ); let i = index" class="swiper-slide">
                    <div class="slide-container" #pdfDocument>
                        <pdf-viewer
                        class="pdf-document"
                        [src]="pdfSrc"
                        [render-text]="false"

                        [autoresize]="true"
                        [original-size]='true'
                        [fit-to-page]='true'

                        [show-all]="false"
                        [page]="(i+1)"
                        (after-load-complete)="afterLoadComplete($event, i)"
                        ></pdf-viewer>

                    </div>
                </div>
            </div>
            <div class="swiper-scrollbar"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>-->

        
        <button mat-raised-button class="submit-button-with-done-all style1" (click)="validate_form_writing();">
            <mat-icon>done_all</mat-icon>
            <span>Valider</span>
        </button>

    </div>