
@import '../../material-styles.css';
@import '../swiper-styles.scss';


.invisible{
    visibility:hidden;
}

::ng-deep {


    app-uploader-writting {
        width:100% !important;
    }

    .pdf-document {
        width:calc(100%);
        height:100%;
        justify-content: center;
    }

    .ng2-pdf-viewer-container::-webkit-scrollbar {
        display: none;
    }
    
    .swiper-container {
        padding:30px;
        margin:auto 0px auto auto;
        width:100%;
        //transition:width 200ms;
        height:100%;
    }
    .swiper-wrapper {
        position:relative;
    }
    .swiper-slide {
        width:100%;
        height:100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .swiper-slide .slide-container {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        //Without zoom
        overflow-y:unset;
    }
    .slide-container::-webkit-scrollbar {
        display: none !important;
    }
    .swiper-slide .slide-container .slide-container-img {
        margin:auto auto;
        object-fit:contain;
        //Without zoom
        max-width:100%;
        max-height:100%;
    }
    .swiper-button-prev, ::ng-deep .swiper-button-next  {
        outline:none !important;
        color:white !important;
    }
    .swiper-scrollbar-drag {
        background:white !important;
    }
    
}


::ng-deep {
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        background-color: rgb(32,56,100) !important;
        color: rgb(32,56,100) !important;
    }
    .mat-slide-toggle-bar {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        background-color: rgb(180, 200, 238) !important;
        color: rgb(180, 200, 238) !important;
    }
    .mat-slide-toggle.mat-checked .mat-ripple-element {
        background-color: rgb(32,56,100) !important;
    }
    .mat-form-field-wrapper {
        height:100%;
    }
}


.monetisation-container {
    display:flex;
    flex-wrap: wrap;
    margin-top:10px;
}

.read_conditions {
    cursor:pointer;
    color:grey;
}
.read_conditions:hover {
    text-decoration: underline;
    color:rgb(78, 78, 78);
}
