

<div class="subscribings-global-container" >

    <div class="storiesbar">
        <app-stories (send_loaded)="stories_loaded();"></app-stories>
    </div>
    

    <ng-container *ngIf=" !display_contents && !show_more && !display_nothing_found">
        <div class="highlighted_artwork" *ngFor="let item of skeleton_array; let i = index">
            <app-thumbnail-artwork 
            [skeleton]="skeleton"
            ></app-thumbnail-artwork>
        </div>
    </ng-container>

    <ng-container *ngIf="display_nothing_found">
        <div class="text-lines large" [@enterAnimation]>
            <mat-icon [ngClass]="{'invisible': !show_icon }">info_outline</mat-icon>
            <span>Aucun contenu disponible pour le moment.</span>
        </div>
    </ng-container>

    <div *ngIf="display_contents">
        <div *ngFor="let item of list_of_new_contents; let i = index" >
            <div *ngIf="item.bd_id">
                <div *ngIf="item.chaptersnumber > 0 ">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='comic'
                        subscribing_format='serie'
                        ></app-thumbnail-artwork>
                   </div>
                </div>
                <div *ngIf="item.chaptersnumber == null">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='comic'
                        subscribing_format='one-shot'
                        ></app-thumbnail-artwork>
                   </div>
                </div>
            </div>
    
            <div *ngIf="item.writing_id">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    page='subscribings'
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='writing'
                    ></app-thumbnail-artwork>
               </div>  
            </div>
    
            <div *ngIf="item.type_of_project">
                <div class="highlighted_artwork">
                    <app-thumbnail-ad
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-ad>
               </div>   
            </div>
    
            <div *ngIf="item.drawing_id">
                <div *ngIf="item.pagesnumber > 0 ">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='drawing'
                        subscribing_format="artbook"
                        ></app-thumbnail-artwork>
                   </div>
                </div>
                <div *ngIf="item.pagesnumber == null">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='drawing'
                        subscribing_format="one-shot"
                        ></app-thumbnail-artwork>
                   </div>
                </div>
            </div>
    
        </div>
    
    
    </div>
    
    <div *ngIf="display_contents " >
        <div *ngFor="let item of list_of_contents; let i = index">
            <div *ngIf="item.bd_id">
                <div *ngIf="item.chaptersnumber > 0 ">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='comic'
                        subscribing_format='serie'
                        ></app-thumbnail-artwork>
                   </div>
                </div>
                <div *ngIf="item.chaptersnumber == null">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='comic'
                        subscribing_format='one-shot'
                        ></app-thumbnail-artwork>
                   </div>
                </div>
            </div>
    
            <div *ngIf="item.writing_id">
                <div class="highlighted_artwork">
                    <app-thumbnail-artwork 
                    [item]=item
                    page='subscribings'
                    now_in_seconds={{now_in_seconds}}
                    subscribing_category='writing'
                    ></app-thumbnail-artwork>
               </div>   
            </div>
    
            <div *ngIf="item.type_of_project">
                <div class="highlighted_artwork">
                    <app-thumbnail-ad
                    [item]=item
                    now_in_seconds={{now_in_seconds}}
                    ></app-thumbnail-ad>
               </div>   
            </div>
    
            <div *ngIf="item.drawing_id">
                <div *ngIf="item.pagesnumber > 0 ">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='drawing'
                        subscribing_format="artbook"
                        ></app-thumbnail-artwork>
                   </div>
                </div>
                <div *ngIf="item.pagesnumber == null">
                    <div class="highlighted_artwork">
                        <app-thumbnail-artwork 
                        [item]=item
                        page='subscribings'
                        now_in_seconds={{now_in_seconds}}
                        subscribing_category='drawing'
                        subscribing_format="one-shot"
                        ></app-thumbnail-artwork>
                   </div>
                </div>
            </div>
    
        </div>
    
    
    </div>
    
    
    <div *ngIf="display_contents" >
        <ng-container *ngIf="show_more">
            <app-subscribings-see-more
                [list_of_users]=list_of_users
                [now_in_seconds]=now_in_seconds
                [last_timestamp]=last_timestamp
                (manage_show_more)="show_more_managed( $event );"
                ></app-subscribings-see-more>
        </ng-container>
    </div>

</div>