
 <div class="button-container-close">
    <button class="mat-icon-button close-button" (click)="close_dialog()" tabIndex="-1">
        <mat-icon [ngClass]="{'invisible': !show_icon }" class="item-icon" >close</mat-icon>
    </button>
</div>


<div class="popup-add-group-member" *ngIf="data.type=='add_artist'">

    <div class="step-name">
        <span>Ajouter un membre</span>
    </div>


    <div class="step-form" [formGroup]="registerForm5">

        <ng-container *ngIf="list_of_pseudos.length>0">
            <div class="subscriber-card" *ngFor=" let item of list_of_pseudos;let i=index" [@enterAnimation]>
                <div class="subscriber">
                    <div class="user-container">
                        <div>
                            <div class="left-container"  [ngClass]="{'shiny':!list_of_pp_found[i]}">
                                <img [src]="list_of_profile_pictures[i]" (load)="list_of_pp_found_load(i)"  [ngClass]="{ 'invisible':!list_of_pp_found[i]}">
                            </div>
                        </div>
                        <div>
                            <div class="right-container">
                                <span class="author-name"> {{list_of_pseudos[i]}} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="unsubscribe-button" (click)="remove_member(i)">
                    <mat-icon [ngClass]="{'invisible': !show_icon }">remove</mat-icon>
                    <span>Retirer</span>
                </button>
            </div>
        </ng-container>

        <div class="warning2">
            <span>-Vous pouvez ajouter jusqu'à {{number_of_artists}} artistes</span>
            <span>-Le compte ne sera accessible qu'après confirmation par les nouveaux membres du groupe</span>
            <span>-Les rémunérations seront réparties équitablement puis modifiables ultérieurement.</span>
        </div>

        <div #research>
            <div class="form-item">
                <mat-form-field floatLabel='never'>
                    <mat-label>Rechercher par pseudonyme</mat-label>
                    <input #input matInput formControlName="fdSearchbar" 
                    type="text" 
                    autocomplete="off" 
                    (click)="activateFocus_add()" 
                    onfocus="this.placeholder = ''" 
                    (input)="research_member();"
                    onblur="this.placeholder = 'Rechercher par pseudonyme'"
                    [placeholder]="'Rechercher par pseudonyme'">
                </mat-form-field>
            </div>

            <ng-container *ngIf="research_member_loading">

                <div class="error add-group-members" *ngIf="display_no_pseudos_found">
                    <span *ngIf="display_max_length_members" [@enterAnimation]>La limite de 10 artistes par groupe a été atteinte</span>
                    <span *ngIf="!display_max_length_members" [@enterAnimation]>Aucun résultat</span>
                </div>

                <ng-container *ngIf="!display_no_pseudos_found">
                    
                    <div class="loading-dots" *ngIf="!pseudo_found && registerForm5.value.fdSearchbar">
                        &nbsp; <span>.</span><span>.</span><span>.</span>
                    </div>
                        
                    <div class="subscriber-card" *ngIf="pseudo_found" [ngClass]="{'invisible':!pp_found_loaded}" [@enterAnimation]>
                        <div class="subscriber">
                            <div class="user-container">
                                <div>
                                    <div class="left-container"  [ngClass]="{'shiny':!pp_found_loaded}">
                                        <img [src]="profile_picture_found" (load)="pp_found_load()"  [ngClass]="{ 'invisible':!pp_found_loaded}">
                                    </div>
                                </div>
                                <div>
                                    <div class="right-container">
                                        <span class="author-name">{{pseudo_found}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="check_if_pseudos_added()">
                            <button class="subscribe-button" (click)="add_member()">
                                <mat-icon [ngClass]="{'invisible': !show_icon }">add</mat-icon>
                                <span>Ajouter</span>
                            </button>
                        </ng-container>
                    </div>

                </ng-container>
            </ng-container>
        </div>
    </div>

    <button class="submit-button" (click)="validate_add();">
        <mat-icon [ngClass]="{'invisible': !show_icon }" *ngIf="!loading">done_all</mat-icon>
        <span *ngIf="!loading">Valider</span>
        <mat-spinner *ngIf="loading" diameter="25"  style="margin:auto;"></mat-spinner>
    </button>

    <div class="error">
        <span *ngIf="display_need_members" [@enterAnimation]>Vous devez choisir au moins 1 nouveau membre</span>
    </div>
</div>

<div class="popup-add-group-member" *ngIf="data.type=='for_archive'">

    <div class="step-name">
        <span>Dans quel dossier voulez-vous archiver ce fichier ?</span>
    </div>


    <div class="step-form" >

        <div class="subscriber-card" *ngFor=" let item of list_of_folders;let i=index" [@enterAnimation]>
            <div class="subscriber">
                <div class="user-container">
                    <div>
                        <div class="right-container">
                            <span class="author-name"> {{list_of_folders[i].title}} </span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="unsubscribe-button" (click)="archive(i)" *ngIf="message.id_folder!=list_of_folders[i].id">
                <span>Archiver</span>
            </button>
            <button class="unsubscribe-button" (click)="unarchive(i)"  *ngIf="message.id_folder==list_of_folders[i].id">
                <span>Désarchiver</span>
            </button>
        </div>

        
    </div>
</div>

<ng-container *ngIf="data.type=='edit_cover_picture'">
    <app-uploader-cover-picture></app-uploader-cover-picture>
</ng-container>

<ng-container *ngIf="data.type=='edit_profile_picture'">
    <app-uploader-profile-picture></app-uploader-profile-picture>
</ng-container>

<ng-container *ngIf="data.type=='edit_chat_profile_picture' && id_retrieved">
    <app-uploader-chat-profile-picture
    [id_receiver]="id_receiver_for_group"
    >
    </app-uploader-chat-profile-picture>
</ng-container>


