
 <div class="button-container-close">
    <button mat-button class="mat-icon-button close-button" (click)="close_dialog()" tabIndex="-1">
        <mat-icon class="item-icon" >close</mat-icon>
    </button>
</div>


<ng-container *ngIf="data.type=='add_artist'">
    <div class="popup-step">

        <div class="back-and-logo">
            
            <div class="logo" style="width:40px">
                <img class="logo" (load)="logo_loaded()" src='../../assets/img/svg/Logo-LA3.svg' [ngClass]="{'invisible':!logo_is_loaded}">
            </div>
        </div>

        <div class="step-name">
            <span>Ajout d'un nouveau membre</span>
        </div>
        <div class="step-form" [formGroup]="registerForm5">

                <div #research class="searchbar-container" >
    
                    <input #input
                    formControlName="fdSearchbar"
                    (click)="activateFocus_add()"
                    onfocus="this.placeholder = ''"
                    (input)="research_member();"
                    onblur="this.placeholder = 'Rechercher par pseudo'"
                    class="form-control form-control-dark large-form" type="text" [placeholder]="'Rechercher par pseudo'">
    
                    <div  class="research-results" *ngIf="research_member_loading">
                        <div *ngIf="display_no_pseudos_found">
                            <div *ngIf="display_max_length_members" class="display-message">
                                La limite de 10 membres par groupe a était atteinte
                            </div>
                            <div *ngIf="!display_max_length_members" class="display-message">
                                Aucun résultat
                            </div>
                            
                        </div>
                        <ng-container *ngIf="!display_no_pseudos_found">
                            <div class="title-proposition" *ngIf="!pp_found_loaded && registerForm5.value.fdSearchbar">
                               &nbsp; <span>.</span><span>.</span><span>.</span>
                            </div>
                            <div class="display-message" *ngIf="!pp_found_loaded && !registerForm5.value.fdSearchbar">
                                Rechercher un artiste
                             </div>
                            <div class="author-container" [ngClass]="{'really-invisible':!pp_found_loaded}">
                                <div class="left-container">
                                    <img [src]="profile_picture_found" (load)="pp_found_load()">
                                </div>
                                <div class="right-container">
                                    <span class="author-name">{{pseudo_found}} </span>
                                </div>
                                
                                <div class="add-container">
                                    <button mat-raised-button *ngIf="check_if_pseudos_added()" class="button-add" (click)="add_member();" >
                                        <mat-icon style="font-size: 23px;margin: auto 5px auto auto;">person_add</mat-icon>
                                        Ajouter 
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </div>
        
                </div>
    
                <div class="list-of-members" *ngIf="list_of_pseudos.length==0">
                    <div>-Vous pouvez ajouter jusqu'à {{number_of_artists}} artistes.</div>
                    <div>-Le compte ne sera accessible qu'après confirmation de tous les nouveaux membres du groupe.</div>
                    <div>-Les rémunérations seront réparties équitablement puis modifiables ultérieurement.</div>
                </div>

    
                <div class="list-of-members" *ngIf="list_of_pseudos.length>0">
                    <div class="author-container" *ngFor=" let item of list_of_pseudos;let i=index">
                        <div class="left-container" [ngClass]="{'invisible':!list_of_pp_found[i]}" >
                            <img [src]="list_of_profile_pictures[i]" (load)="list_of_pp_found_load(i)">
                        </div>
                        <div class="right-container">
                            <span class="author-name" > {{list_of_pseudos[i]}} </span>
                        </div>
                        <div class="add-container">
                            <button mat-button class="mat-icon-button" tabIndex="-1" (click)="remove_member(i)"> 	
                                <mat-icon style=" color: #203864;">person_remove</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            
        </div>


        <div class="step-validation" style=" margin-bottom: 15px;position: relative;">

            <button [disabled]="validation_loading" mat-raised-button class="submit-button style0" (click)="validate_add();">
                <span *ngIf="!validation_loading">Valider</span>
                <mat-spinner *ngIf="validation_loading" diameter="20"  style="margin:auto;"></mat-spinner>
            </button>
            
            <div class="pseudo-found2" style="padding-left: 20px;" *ngIf="display_need_members">Vous devez mentionner au moins 1 nouveau membre du groupe</div>
        </div>
        

    </div>
</ng-container>


<ng-container *ngIf="data.type=='edit_cover_picture'">
    <app-uploader-cover-picture></app-uploader-cover-picture>
</ng-container>

<ng-container *ngIf="data.type=='edit_profile_picture'">
    <app-uploader-profile-picture></app-uploader-profile-picture>
</ng-container>

<ng-container *ngIf="data.type=='edit_chat_profile_picture' && id_retrieved">
    <app-uploader-chat-profile-picture
    [id_receiver]="id_receiver_for_group"
    >
    </app-uploader-chat-profile-picture>
</ng-container>


